In [1]:
import pandas as pd
import numpy as np

In [2]:
def compute_average(df,col):
    return np.mean(df[col].values)

## No-prompt

In [3]:
np_average_subj_female_subj_pron = {}
np_average_subj_female_obj_pron = {}
np_average_subj_male_subj_pron = {}
np_average_subj_male_obj_pron = {}

### Verb: "aggravated"

In [4]:
IC1_noprompt_1 = pd.read_csv("../results/gpt2/IC1/no-prompt/1.csv")
IC1_noprompt_1.head()

                            stimulus        He       She
0   Miss Smith aggravated Mr. Smith.  0.345275  0.654725
1      The woman aggravated the man.  0.353936  0.646064
2              Mary aggravated John.  0.418488  0.581511
3              Alice aggravated Bob.  0.284006  0.715994
4  The actress aggravated the actor.  0.365473  0.634527

In [5]:
# female subject
IC1_noprompt_1f = IC1_noprompt_1[0:12]
IC1_noprompt_1f = IC1_noprompt_1f[["stimulus","She","He"]]
# male subject
IC1_noprompt_1m = IC1_noprompt_1[12:24]

#### female subject

In [6]:
IC1_noprompt_1f

                                stimulus       She        He
0       Miss Smith aggravated Mr. Smith.  0.654725  0.345275
1          The woman aggravated the man.  0.646064  0.353936
2                  Mary aggravated John.  0.581511  0.418488
3                  Alice aggravated Bob.  0.715994  0.284006
4      The actress aggravated the actor.  0.634527  0.365473
5           The girl aggravated the boy.  0.644442  0.355558
6   Mrs. Taylor aggravated Mr. Williams.  0.589514  0.410486
7                 Emma aggravated David.  0.641514  0.358486
8    The princess aggravated the prince.  0.635795  0.364205
9               Sarah aggravated Robert.  0.524144  0.475856
10  Mrs. Williams aggravated Mr. Taylor.  0.615857  0.384143
11                Emily aggravated Paul.  0.648641  0.351360

In [7]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_1f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_1f,'He'))

P('subj-pron'|subj=female) =  0.6277273247639338
P('non-subj-pron'|subj=female) =  0.37227267026901245

In [8]:
np_average_subj_female_subj_pron['aggravated'] = compute_average(IC1_noprompt_1f,'She')
np_average_subj_female_obj_pron['aggravated'] = compute_average(IC1_noprompt_1f,'He')

#### male subject

In [9]:
IC1_noprompt_1m

                                stimulus        He       She
12      Mr. Smith aggravated Miss Smith.  0.538969  0.461031
13         The man aggravated the woman.  0.685124  0.314876
14                 John aggravated Mary.  0.730018  0.269982
15                 Bob aggravated Alice.  0.601852  0.398148
16     The actor aggravated the actress.  0.613537  0.386463
17          The boy aggravated the girl.  0.617715  0.382285
18   Mr. William aggravated Mrs. Taylor.  0.508350  0.491650
19                David aggravated Emma.  0.603907  0.396093
20   The prince aggravated the princess.  0.624830  0.375170
21              Robert aggravated Sarah.  0.627611  0.372389
22  Mr. Taylor aggravated Mrs. Williams.  0.537118  0.462882
23                Paul aggravated Emily.  0.531742  0.468258

In [10]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_1m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_1m,'She'))

P('subj-pron'|subj=male) =  0.6017310321331024
P('non-subj-pron'|subj=male) =  0.39826897035042447

In [11]:
np_average_subj_male_subj_pron['aggravated'] = compute_average(IC1_noprompt_1m,'He')
np_average_subj_male_obj_pron['aggravated'] = compute_average(IC1_noprompt_1m,'She')

### Verb: "amazed"

In [12]:
IC1_noprompt_2 = pd.read_csv("../results/gpt2/IC1/no-prompt/2.csv")
IC1_noprompt_2.head()

                        stimulus        He       She
0   Miss Smith amazed Mr. Smith.  0.419638  0.580362
1      The woman amazed the man.  0.242167  0.757833
2              Mary amazed John.  0.447396  0.552604
3              Alice amazed Bob.  0.392275  0.607725
4  The actress amazed the actor.  0.254586  0.745414

In [13]:
# female subject
IC1_noprompt_2f = IC1_noprompt_2[0:12]
IC1_noprompt_2f = IC1_noprompt_2f[["stimulus","She","He"]]
# male subject
IC1_noprompt_2m = IC1_noprompt_2[12:24]

#### female subject

In [14]:
IC1_noprompt_2f

                            stimulus       She        He
0       Miss Smith amazed Mr. Smith.  0.580362  0.419638
1          The woman amazed the man.  0.757833  0.242167
2                  Mary amazed John.  0.552604  0.447396
3                  Alice amazed Bob.  0.607725  0.392275
4      The actress amazed the actor.  0.745414  0.254586
5           The girl amazed the boy.  0.773101  0.226899
6   Mrs. Taylor amazed Mr. Williams.  0.476571  0.523429
7                 Emma amazed David.  0.610423  0.389577
8    The princess amazed the prince.  0.746954  0.253046
9               Sarah amazed Robert.  0.512081  0.487919
10  Mrs. Williams amazed Mr. Taylor.  0.478589  0.521411
11                Emily amazed Paul.  0.615098  0.384902

In [15]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_2f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_2f,'He'))

P('subj-pron'|subj=female) =  0.6213962559898695
P('non-subj-pron'|subj=female) =  0.3786037378013134

In [16]:
np_average_subj_female_subj_pron['amazed'] = compute_average(IC1_noprompt_2f,'She')
np_average_subj_female_obj_pron['amazed'] = compute_average(IC1_noprompt_2f,'He')

#### male subject

In [17]:
IC1_noprompt_2m

                            stimulus        He       She
12      Mr. Smith amazed Miss Smith.  0.587463  0.412537
13         The man amazed the woman.  0.737757  0.262243
14                 John amazed Mary.  0.764943  0.235057
15                 Bob amazed Alice.  0.692049  0.307951
16     The actor amazed the actress.  0.629438  0.370562
17          The boy amazed the girl.  0.712176  0.287824
18   Mr. William amazed Mrs. Taylor.  0.606974  0.393026
19                David amazed Emma.  0.542975  0.457025
20   The prince amazed the princess.  0.719686  0.280314
21              Robert amazed Sarah.  0.657439  0.342561
22  Mr. Taylor amazed Mrs. Williams.  0.615139  0.384861
23                Paul amazed Emily.  0.633377  0.366623

In [18]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_2m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_2m,'She'))

P('subj-pron'|subj=male) =  0.6582845946153005
P('non-subj-pron'|subj=male) =  0.3417154016594092

In [19]:
np_average_subj_male_subj_pron['amazed'] = compute_average(IC1_noprompt_2m,'He')
np_average_subj_male_obj_pron['amazed'] = compute_average(IC1_noprompt_2m,'She')

### Verb: "amused"

In [20]:
IC1_noprompt_3 = pd.read_csv("../results/gpt2/IC1/no-prompt/3.csv")
IC1_noprompt_3.head()

                        stimulus        He       She
0   Miss Smith amused Mr. Smith.  0.514952  0.485048
1      The woman amused the man.  0.362451  0.637549
2              Mary amused John.  0.425264  0.574736
3              Alice amused Bob.  0.416645  0.583355
4  The actress amused the actor.  0.377891  0.622109

In [21]:
# female subject
IC1_noprompt_3f = IC1_noprompt_3[0:12]
IC1_noprompt_3f = IC1_noprompt_3f[["stimulus","She","He"]]
# male subject
IC1_noprompt_3m = IC1_noprompt_3[12:24]

#### female subject

In [22]:
IC1_noprompt_3f

                            stimulus       She        He
0       Miss Smith amused Mr. Smith.  0.485048  0.514952
1          The woman amused the man.  0.637549  0.362451
2                  Mary amused John.  0.574736  0.425264
3                  Alice amused Bob.  0.583355  0.416645
4      The actress amused the actor.  0.622109  0.377891
5           The girl amused the boy.  0.646403  0.353597
6   Mrs. Taylor amused Mr. Williams.  0.479520  0.520480
7                 Emma amused David.  0.632478  0.367522
8    The princess amused the prince.  0.623015  0.376985
9               Sarah amused Robert.  0.504909  0.495091
10  Mrs. Williams amused Mr. Taylor.  0.472935  0.527065
11                Emily amused Paul.  0.685472  0.314528

In [23]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_3f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_3f,'He'))

P('subj-pron'|subj=female) =  0.5789608955383301
P('non-subj-pron'|subj=female) =  0.42103909452756244

In [24]:
np_average_subj_female_subj_pron['amused'] = compute_average(IC1_noprompt_3f,'She')
np_average_subj_female_obj_pron['amused'] = compute_average(IC1_noprompt_3f,'He')

#### male subject

In [25]:
IC1_noprompt_3m

                            stimulus        He       She
12      Mr. Smith amused Miss Smith.  0.555845  0.444155
13         The man amused the woman.  0.686656  0.313344
14                 John amused Mary.  0.751194  0.248806
15                 Bob amused Alice.  0.628193  0.371807
16     The actor amused the actress.  0.668585  0.331415
17          The boy amused the girl.  0.652197  0.347803
18   Mr. William amused Mrs. Taylor.  0.642672  0.357328
19                David amused Emma.  0.583280  0.416720
20   The prince amused the princess.  0.708937  0.291063
21              Robert amused Sarah.  0.670130  0.329870
22  Mr. Taylor amused Mrs. Williams.  0.613802  0.386198
23                Paul amused Emily.  0.643375  0.356625

In [26]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_3m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_3m,'She'))

P('subj-pron'|subj=male) =  0.6504053771495819
P('non-subj-pron'|subj=male) =  0.3495946104327838

In [27]:
np_average_subj_male_subj_pron['amused'] = compute_average(IC1_noprompt_3m,'He')
np_average_subj_male_obj_pron['amused'] = compute_average(IC1_noprompt_3m,'She')

### verb: "annoyed"

In [28]:
IC1_noprompt_4 = pd.read_csv("../results/gpt2/IC1/no-prompt/4.csv")
IC1_noprompt_4.head()

                         stimulus        He       She
0   Miss Smith annoyed Mr. Smith.  0.524742  0.475258
1      The woman annoyed the man.  0.317514  0.682486
2              Mary annoyed John.  0.549891  0.450109
3              Alice annoyed Bob.  0.342236  0.657764
4  The actress annoyed the actor.  0.363313  0.636687

In [29]:
# female subject
IC1_noprompt_4f = IC1_noprompt_4[0:12]
IC1_noprompt_4f = IC1_noprompt_4f[["stimulus","She","He"]]
# male subject
IC1_noprompt_4m = IC1_noprompt_4[12:24]

#### female subject

In [30]:
IC1_noprompt_4f

                             stimulus       She        He
0       Miss Smith annoyed Mr. Smith.  0.475258  0.524742
1          The woman annoyed the man.  0.682486  0.317514
2                  Mary annoyed John.  0.450109  0.549891
3                  Alice annoyed Bob.  0.657764  0.342236
4      The actress annoyed the actor.  0.636687  0.363313
5           The girl annoyed the boy.  0.698793  0.301207
6   Mrs. Taylor annoyed Mr. Williams.  0.420048  0.579952
7                 Emma annoyed David.  0.593595  0.406405
8    The princess annoyed the prince.  0.652043  0.347957
9               Sarah annoyed Robert.  0.460550  0.539450
10  Mrs. Williams annoyed Mr. Taylor.  0.405793  0.594207
11                Emily annoyed Paul.  0.609060  0.390940

In [31]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_4f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_4f,'He'))

P('subj-pron'|subj=female) =  0.561848945915699
P('non-subj-pron'|subj=female) =  0.4381510615348816

In [32]:
np_average_subj_female_subj_pron['annoyed'] = compute_average(IC1_noprompt_4f,'She')
np_average_subj_female_obj_pron['annoyed'] = compute_average(IC1_noprompt_4f,'He')

#### male subject

In [33]:
IC1_noprompt_4m

                             stimulus        He       She
12      Mr. Smith annoyed Miss Smith.  0.467176  0.532824
13         The man annoyed the woman.  0.673259  0.326741
14                 John annoyed Mary.  0.668146  0.331854
15                 Bob annoyed Alice.  0.509759  0.490241
16     The actor annoyed the actress.  0.537292  0.462708
17          The boy annoyed the girl.  0.632928  0.367072
18   Mr. William annoyed Mrs. Taylor.  0.536868  0.463132
19                David annoyed Emma.  0.502617  0.497383
20   The prince annoyed the princess.  0.639805  0.360195
21              Robert annoyed Sarah.  0.598124  0.401876
22  Mr. Taylor annoyed Mrs. Williams.  0.496543  0.503457
23                Paul annoyed Emily.  0.527514  0.472486

In [34]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_4m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_4m,'She'))

P('subj-pron'|subj=male) =  0.5658358509341875
P('non-subj-pron'|subj=male) =  0.4341641515493393

In [35]:
np_average_subj_male_subj_pron['annoyed'] = compute_average(IC1_noprompt_4m,'He')
np_average_subj_male_obj_pron['annoyed'] = compute_average(IC1_noprompt_4m,'She')

### verb: "apologized"

In [36]:
IC1_noprompt_5 = pd.read_csv("../results/gpt2/IC1/no-prompt/5.csv")
IC1_noprompt_5.head()

                               stimulus        He       She
0   Miss Smith apologized to Mr. Smith.  0.304236  0.695764
1      The woman apologized to the man.  0.304241  0.695759
2              Mary apologized to John.  0.300339  0.699661
3              Alice apologized to Bob.  0.189299  0.810701
4  The actress apologized to the actor.  0.140033  0.859967

In [37]:
# female subject
IC1_noprompt_5f = IC1_noprompt_5[0:12]
IC1_noprompt_5f = IC1_noprompt_5f[["stimulus","She","He"]]
# male subject
IC1_noprompt_5m = IC1_noprompt_5[12:24]

#### female subject

In [38]:
IC1_noprompt_5f

                                   stimulus       She        He
0       Miss Smith apologized to Mr. Smith.  0.695764  0.304236
1          The woman apologized to the man.  0.695759  0.304241
2                  Mary apologized to John.  0.699661  0.300339
3                  Alice apologized to Bob.  0.810701  0.189299
4      The actress apologized to the actor.  0.859967  0.140033
5           The girl apologized to the boy.  0.698014  0.301986
6   Mrs. Taylor apologized to Mr. Williams.  0.647926  0.352074
7                 Emma apologized to David.  0.717231  0.282769
8    The princess apologized to the prince.  0.797597  0.202403
9               Sarah apologized to Robert.  0.671572  0.328428
10  Mrs. Williams apologized to Mr. Taylor.  0.637277  0.362723
11                Emily apologized to Paul.  0.793855  0.206145

In [39]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_5f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_5f,'He'))

P('subj-pron'|subj=female) =  0.727110356092453
P('non-subj-pron'|subj=female) =  0.2728896575669448

In [40]:
np_average_subj_female_subj_pron['apologized'] = compute_average(IC1_noprompt_5f,'She')
np_average_subj_female_obj_pron['apologized'] = compute_average(IC1_noprompt_5f,'He')

#### male subject

In [41]:
IC1_noprompt_5m

                                   stimulus        He       She
12      Mr. Smith apologized to Miss Smith.  0.570045  0.429954
13         The man apologized to the woman.  0.693921  0.306079
14                 John apologized to Mary.  0.813675  0.186325
15                 Bob apologized to Alice.  0.576273  0.423727
16     The actor apologized to the actress.  0.654730  0.345270
17          The boy apologized to the girl.  0.622766  0.377234
18   Mr. William apologized to Mrs. Taylor.  0.667904  0.332096
19                David apologized to Emma.  0.638023  0.361978
20   The prince apologized to the princess.  0.689090  0.310910
21              Robert apologized to Sarah.  0.679341  0.320659
22  Mr. Taylor apologized to Mrs. Williams.  0.683747  0.316253
23                Paul apologized to Emily.  0.666388  0.333612

In [42]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_5m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_5m,'She'))

P('subj-pron'|subj=male) =  0.6629919360081354
P('non-subj-pron'|subj=male) =  0.3370080577830474

In [43]:
np_average_subj_male_subj_pron['apologized'] = compute_average(IC1_noprompt_5m,'He')
np_average_subj_male_obj_pron['apologized'] = compute_average(IC1_noprompt_5m,'She')

### verb: "bored"

In [44]:
IC1_noprompt_6 = pd.read_csv("../results/gpt2/IC1/no-prompt/6.csv")
IC1_noprompt_6.head()

                       stimulus        He       She
0   Miss Smith bored Mr. Smith.  0.552080  0.447920
1      The woman bored the man.  0.335046  0.664954
2              Mary bored John.  0.426114  0.573886
3              Alice bored Bob.  0.360684  0.639316
4  The actress bored the actor.  0.287473  0.712527

In [45]:
# female subject
IC1_noprompt_6f = IC1_noprompt_6[0:12]
IC1_noprompt_6f = IC1_noprompt_6f[["stimulus","She","He"]]
# male subject
IC1_noprompt_6m = IC1_noprompt_6[12:24]

#### female subject

In [46]:
IC1_noprompt_6f

                           stimulus       She        He
0       Miss Smith bored Mr. Smith.  0.447920  0.552080
1          The woman bored the man.  0.664954  0.335046
2                  Mary bored John.  0.573886  0.426114
3                  Alice bored Bob.  0.639316  0.360684
4      The actress bored the actor.  0.712527  0.287473
5           The girl bored the boy.  0.685643  0.314357
6   Mrs. Taylor bored Mr. Williams.  0.436326  0.563674
7                 Emma bored David.  0.671391  0.328609
8    The princess bored the prince.  0.653769  0.346231
9               Sarah bored Robert.  0.466972  0.533028
10  Mrs. Williams bored Mr. Taylor.  0.445150  0.554850
11                Emily bored Paul.  0.615348  0.384652

In [47]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_6f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_6f,'He'))

P('subj-pron'|subj=female) =  0.5844335580865542
P('non-subj-pron'|subj=female) =  0.41556645184755325

In [48]:
np_average_subj_female_subj_pron['bored'] = compute_average(IC1_noprompt_6f,'She')
np_average_subj_female_obj_pron['bored'] = compute_average(IC1_noprompt_6f,'He')

In [49]:
IC1_noprompt_6m

                           stimulus        He       She
12      Mr. Smith bored Miss Smith.  0.500107  0.499893
13         The man bored the woman.  0.656225  0.343775
14                 John bored Mary.  0.659536  0.340464
15                 Bob bored Alice.  0.552139  0.447861
16     The actor bored the actress.  0.597634  0.402366
17          The boy bored the girl.  0.600607  0.399393
18   Mr. William bored Mrs. Taylor.  0.544808  0.455192
19                David bored Emma.  0.602331  0.397669
20   The prince bored the princess.  0.649843  0.350157
21              Robert bored Sarah.  0.611198  0.388802
22  Mr. Taylor bored Mrs. Williams.  0.493531  0.506469
23                Paul bored Emily.  0.626514  0.373486

In [50]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_6m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_6m,'She'))

P('subj-pron'|subj=male) =  0.5912060836950938
P('non-subj-pron'|subj=male) =  0.4087939187884331

In [51]:
np_average_subj_male_subj_pron['bored'] = compute_average(IC1_noprompt_6m,'He')
np_average_subj_male_obj_pron['bored'] = compute_average(IC1_noprompt_6m,'She')

### verb: "charmed"

In [52]:
IC1_noprompt_7 = pd.read_csv("../results/gpt2/IC1/no-prompt/7.csv")
IC1_noprompt_7.head()

                         stimulus        He       She
0   Miss Smith charmed Mr. Smith.  0.508494  0.491506
1      The woman charmed the man.  0.347136  0.652864
2              Mary charmed John.  0.536192  0.463808
3              Alice charmed Bob.  0.314657  0.685343
4  The actress charmed the actor.  0.232492  0.767508

In [53]:
# female subject
IC1_noprompt_7f = IC1_noprompt_7[0:12]
IC1_noprompt_7f = IC1_noprompt_7f[["stimulus","She","He"]]
# male subject
IC1_noprompt_7m = IC1_noprompt_7[12:24]

#### female subject

In [54]:
IC1_noprompt_7f

                             stimulus       She        He
0       Miss Smith charmed Mr. Smith.  0.491506  0.508494
1          The woman charmed the man.  0.652864  0.347136
2                  Mary charmed John.  0.463808  0.536192
3                  Alice charmed Bob.  0.685343  0.314657
4      The actress charmed the actor.  0.767508  0.232492
5           The girl charmed the boy.  0.638038  0.361962
6   Mrs. Taylor charmed Mr. Williams.  0.434981  0.565019
7                 Emma charmed David.  0.595441  0.404559
8    The princess charmed the prince.  0.657426  0.342574
9               Sarah charmed Robert.  0.511956  0.488044
10  Mrs. Williams charmed Mr. Taylor.  0.453352  0.546648
11                Emily charmed Paul.  0.620232  0.379768

In [55]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_7f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_7f,'He'))

P('subj-pron'|subj=female) =  0.5810379634300867
P('non-subj-pron'|subj=female) =  0.418962041536967

In [56]:
np_average_subj_female_subj_pron['charmed'] = compute_average(IC1_noprompt_7f,'She')
np_average_subj_female_obj_pron['charmed'] = compute_average(IC1_noprompt_7f,'He')

#### male subject

In [57]:
IC1_noprompt_7m

                             stimulus        He       She
12      Mr. Smith charmed Miss Smith.  0.509965  0.490035
13         The man charmed the woman.  0.636454  0.363546
14                 John charmed Mary.  0.631561  0.368439
15                 Bob charmed Alice.  0.578435  0.421565
16     The actor charmed the actress.  0.670387  0.329613
17          The boy charmed the girl.  0.614068  0.385932
18   Mr. William charmed Mrs. Taylor.  0.567742  0.432258
19                David charmed Emma.  0.529496  0.470503
20   The prince charmed the princess.  0.611017  0.388983
21              Robert charmed Sarah.  0.571224  0.428776
22  Mr. Taylor charmed Mrs. Williams.  0.550200  0.449800
23                Paul charmed Emily.  0.546325  0.453675

In [58]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_7m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_7m,'She'))

P('subj-pron'|subj=male) =  0.5847394665082296
P('non-subj-pron'|subj=male) =  0.41526052604118985

In [59]:
np_average_subj_male_subj_pron['charmed'] = compute_average(IC1_noprompt_7m,'He')
np_average_subj_male_obj_pron['charmed'] = compute_average(IC1_noprompt_7m,'She')

### verb: "offended"

In [60]:
IC1_noprompt_8 = pd.read_csv("../results/gpt2/IC1/no-prompt/8.csv")
IC1_noprompt_8.head()

                          stimulus        He       She
0   Miss Smith offended Mr. Smith.  0.509869  0.490131
1      The woman offended the man.  0.404905  0.595095
2              Mary offended John.  0.537993  0.462007
3              Alice offended Bob.  0.358293  0.641707
4  The actress offended the actor.  0.371233  0.628767

In [61]:
# female subject
IC1_noprompt_8f = IC1_noprompt_8[0:12]
IC1_noprompt_8f = IC1_noprompt_8f[["stimulus","She","He"]]
# male subject
IC1_noprompt_8m = IC1_noprompt_8[12:24]

#### female subject

In [62]:
IC1_noprompt_8f

                              stimulus       She        He
0       Miss Smith offended Mr. Smith.  0.490131  0.509869
1          The woman offended the man.  0.595095  0.404905
2                  Mary offended John.  0.462007  0.537993
3                  Alice offended Bob.  0.641707  0.358293
4      The actress offended the actor.  0.628767  0.371233
5           The girl offended the boy.  0.579709  0.420291
6   Mrs. Taylor offended Mr. Williams.  0.490624  0.509376
7                 Emma offended David.  0.565718  0.434282
8    The princess offended the prince.  0.514744  0.485256
9               Sarah offended Robert.  0.473200  0.526800
10  Mrs. Williams offended Mr. Taylor.  0.496997  0.503003
11                Emily offended Paul.  0.631243  0.368757

In [63]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_8f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_8f,'He'))

P('subj-pron'|subj=female) =  0.5474951639771461
P('non-subj-pron'|subj=female) =  0.45250482112169266

In [64]:
np_average_subj_female_subj_pron['offended'] = compute_average(IC1_noprompt_8f,'She')
np_average_subj_female_obj_pron['offended'] = compute_average(IC1_noprompt_8f,'He')

#### male subject

In [65]:
IC1_noprompt_8m

                              stimulus        He       She
12      Mr. Smith offended Miss Smith.  0.503066  0.496934
13         The man offended the woman.  0.668340  0.331660
14                 John offended Mary.  0.761510  0.238490
15                 Bob offended Alice.  0.563635  0.436365
16     The actor offended the actress.  0.665036  0.334964
17          The boy offended the girl.  0.597540  0.402460
18   Mr. William offended Mrs. Taylor.  0.507091  0.492909
19                David offended Emma.  0.657095  0.342905
20   The prince offended the princess.  0.605799  0.394201
21              Robert offended Sarah.  0.566347  0.433653
22  Mr. Taylor offended Mrs. Williams.  0.496332  0.503668
23                Paul offended Emily.  0.518573  0.481427

In [66]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_8m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_8m,'She'))

P('subj-pron'|subj=male) =  0.592530277868112
P('non-subj-pron'|subj=male) =  0.4074697308242321

In [67]:
np_average_subj_male_subj_pron['offended'] = compute_average(IC1_noprompt_8m,'He')
np_average_subj_male_obj_pron['offended'] = compute_average(IC1_noprompt_8m,'She')

### verb: "confessed"

In [68]:
IC1_noprompt_9 = pd.read_csv("../results/gpt2/IC1/no-prompt/9.csv")
IC1_noprompt_9.head()

                              stimulus        He       She
0   Miss Smith confessed to Mr. Smith.  0.439465  0.560535
1      The woman confessed to the man.  0.382911  0.617089
2              Mary confessed to John.  0.467057  0.532943
3              Alice confessed to Bob.  0.221016  0.778984
4  The actress confessed to the actor.  0.206612  0.793388

In [69]:
# female subject
IC1_noprompt_9f = IC1_noprompt_9[0:12]
IC1_noprompt_9f = IC1_noprompt_9f[["stimulus","She","He"]]
# male subject
IC1_noprompt_9m = IC1_noprompt_9[12:24]

#### female: "confessed"

In [70]:
IC1_noprompt_9f

                                  stimulus       She        He
0       Miss Smith confessed to Mr. Smith.  0.560535  0.439465
1          The woman confessed to the man.  0.617089  0.382911
2                  Mary confessed to John.  0.532943  0.467057
3                  Alice confessed to Bob.  0.778984  0.221016
4      The actress confessed to the actor.  0.793388  0.206612
5           The girl confessed to the boy.  0.632317  0.367683
6   Mrs. Taylor confessed to Mr. Williams.  0.596051  0.403949
7                 Emma confessed to David.  0.647011  0.352989
8    The princess confessed to the prince.  0.641044  0.358956
9               Sarah confessed to Robert.  0.676216  0.323784
10  Mrs. Williams confessed to Mr. Taylor.  0.606656  0.393344
11                Emily confessed to Paul.  0.766875  0.233125

In [71]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_9f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_9f,'He'))

P('subj-pron'|subj=female) =  0.654092530409495
P('non-subj-pron'|subj=female) =  0.34590746959050495

In [72]:
np_average_subj_female_subj_pron['confessed'] = compute_average(IC1_noprompt_9f,'She')
np_average_subj_female_obj_pron['confessed'] = compute_average(IC1_noprompt_9f,'He')

#### male subject

In [73]:
IC1_noprompt_9m

                                  stimulus        He       She
12      Mr. Smith confessed to Miss Smith.  0.509613  0.490387
13         The man confessed to the woman.  0.629221  0.370779
14                 John confessed to Mary.  0.777167  0.222833
15                 Bob confessed to Alice.  0.671568  0.328432
16     The actor confessed to the actress.  0.614400  0.385600
17          The boy confessed to the girl.  0.574143  0.425857
18   Mr. William confessed to Mrs. Taylor.  0.553588  0.446412
19                David confessed to Emma.  0.622363  0.377637
20   The prince confessed to the princess.  0.592148  0.407852
21              Robert confessed to Sarah.  0.658383  0.341617
22  Mr. Taylor confessed to Mrs. Williams.  0.572040  0.427960
23                Paul confessed to Emily.  0.641271  0.358729

In [74]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_9m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_9m,'She'))

P('subj-pron'|subj=male) =  0.6179920931657156
P('non-subj-pron'|subj=male) =  0.3820079217354457

In [75]:
np_average_subj_male_subj_pron['confessed'] = compute_average(IC1_noprompt_9m,'He')
np_average_subj_male_obj_pron['confessed'] = compute_average(IC1_noprompt_9m,'She')

### verb: "deceived"

In [76]:
IC1_noprompt_10 = pd.read_csv("../results/gpt2/IC1/no-prompt/10.csv")
IC1_noprompt_10.head()

                          stimulus        He       She
0   Miss Smith deceived Mr. Smith.  0.478144  0.521856
1      The woman deceived the man.  0.368837  0.631163
2              Mary deceived John.  0.487301  0.512700
3              Alice deceived Bob.  0.357589  0.642411
4  The actress deceived the actor.  0.289307  0.710693

In [77]:
# female subject
IC1_noprompt_10f = IC1_noprompt_10[0:12]
IC1_noprompt_10f = IC1_noprompt_10f[["stimulus","She","He"]]
# male subject
IC1_noprompt_10m = IC1_noprompt_10[12:24]

#### female subject

In [78]:
IC1_noprompt_10f

                              stimulus       She        He
0       Miss Smith deceived Mr. Smith.  0.521856  0.478144
1          The woman deceived the man.  0.631163  0.368837
2                  Mary deceived John.  0.512700  0.487301
3                  Alice deceived Bob.  0.642411  0.357589
4      The actress deceived the actor.  0.710693  0.289307
5           The girl deceived the boy.  0.657240  0.342760
6   Mrs. Taylor deceived Mr. Williams.  0.559787  0.440213
7                 Emma deceived David.  0.612531  0.387469
8    The princess deceived the prince.  0.605538  0.394462
9               Sarah deceived Robert.  0.529754  0.470245
10  Mrs. Williams deceived Mr. Taylor.  0.575320  0.424680
11                Emily deceived Paul.  0.666570  0.333430

In [79]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_10f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_10f,'He'))

P('subj-pron'|subj=female) =  0.6021301994721094
P('non-subj-pron'|subj=female) =  0.397869810461998

In [80]:
np_average_subj_female_subj_pron['deceived'] = compute_average(IC1_noprompt_10f,'She')
np_average_subj_female_obj_pron['deceived'] = compute_average(IC1_noprompt_10f,'He')

In [81]:
IC1_noprompt_10m

                              stimulus        He       She
12      Mr. Smith deceived Miss Smith.  0.563571  0.436429
13         The man deceived the woman.  0.794361  0.205639
14                 John deceived Mary.  0.834933  0.165067
15                 Bob deceived Alice.  0.793267  0.206733
16     The actor deceived the actress.  0.701321  0.298679
17          The boy deceived the girl.  0.687861  0.312139
18   Mr. William deceived Mrs. Taylor.  0.608447  0.391553
19                David deceived Emma.  0.741242  0.258758
20   The prince deceived the princess.  0.608885  0.391115
21              Robert deceived Sarah.  0.629194  0.370806
22  Mr. Taylor deceived Mrs. Williams.  0.603851  0.396149
23                Paul deceived Emily.  0.656133  0.343867

In [82]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_10m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_10m,'She'))

P('subj-pron'|subj=male) =  0.6852554877599081
P('non-subj-pron'|subj=male) =  0.3147445370753606

In [83]:
np_average_subj_male_subj_pron['deceived'] = compute_average(IC1_noprompt_10m,'He')
np_average_subj_male_obj_pron['deceived'] = compute_average(IC1_noprompt_10m,'She')

### verb: "disappointed"

In [84]:
IC1_noprompt_11 = pd.read_csv("../results/gpt2/IC1/no-prompt/11.csv")
IC1_noprompt_11.head()

                              stimulus        He       She
0   Miss Smith disappointed Mr. Smith.  0.450525  0.549475
1      The woman disappointed the man.  0.306551  0.693449
2              Mary disappointed John.  0.423475  0.576524
3              Alice disappointed Bob.  0.355767  0.644233
4  The actress disappointed the actor.  0.267558  0.732442

In [85]:
# female subject
IC1_noprompt_11f = IC1_noprompt_11[0:12]
IC1_noprompt_11f = IC1_noprompt_11f[["stimulus","She","He"]]
# male subject
IC1_noprompt_11m = IC1_noprompt_11[12:24]

#### female subject

In [86]:
IC1_noprompt_11f

                                  stimulus       She        He
0       Miss Smith disappointed Mr. Smith.  0.549475  0.450525
1          The woman disappointed the man.  0.693449  0.306551
2                  Mary disappointed John.  0.576524  0.423475
3                  Alice disappointed Bob.  0.644233  0.355767
4      The actress disappointed the actor.  0.732442  0.267558
5           The girl disappointed the boy.  0.711515  0.288485
6   Mrs. Taylor disappointed Mr. Williams.  0.495324  0.504676
7                 Emma disappointed David.  0.663211  0.336789
8    The princess disappointed the prince.  0.679760  0.320240
9               Sarah disappointed Robert.  0.480639  0.519361
10  Mrs. Williams disappointed Mr. Taylor.  0.510570  0.489430
11                Emily disappointed Paul.  0.644095  0.355905

In [87]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_11f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_11f,'He'))

P('subj-pron'|subj=female) =  0.6151033118367195
P('non-subj-pron'|subj=female) =  0.3848966956138611

In [88]:
np_average_subj_female_subj_pron['disappointed'] = compute_average(IC1_noprompt_11f,'She')
np_average_subj_female_obj_pron['disappointed'] = compute_average(IC1_noprompt_11f,'He')

#### male subject

In [89]:
IC1_noprompt_11m

                                  stimulus        He       She
12      Mr. Smith disappointed Miss Smith.  0.594241  0.405759
13         The man disappointed the woman.  0.771024  0.228976
14                 John disappointed Mary.  0.729570  0.270430
15                 Bob disappointed Alice.  0.634505  0.365495
16     The actor disappointed the actress.  0.687662  0.312338
17          The boy disappointed the girl.  0.708347  0.291653
18   Mr. William disappointed Mrs. Taylor.  0.672360  0.327640
19                David disappointed Emma.  0.605759  0.394241
20   The prince disappointed the princess.  0.742064  0.257936
21              Robert disappointed Sarah.  0.594581  0.405419
22  Mr. Taylor disappointed Mrs. Williams.  0.661695  0.338305
23                Paul disappointed Emily.  0.540701  0.459299

In [90]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_11m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_11m,'She'))

P('subj-pron'|subj=male) =  0.6618756800889969
P('non-subj-pron'|subj=male) =  0.3381243211527665

In [91]:
np_average_subj_male_subj_pron['disappointed'] = compute_average(IC1_noprompt_11m,'He')
np_average_subj_male_obj_pron['disappointed'] = compute_average(IC1_noprompt_11m,'She')

#### verb: "exasperated"

In [92]:
IC1_noprompt_12 = pd.read_csv("../results/gpt2/IC1/no-prompt/12.csv")
IC1_noprompt_12.head()

                             stimulus        He       She
0   Miss Smith exasperated Mr. Smith.  0.518214  0.481786
1      The woman exasperated the man.  0.307680  0.692320
2              Mary exasperated John.  0.470289  0.529711
3              Alice exasperated Bob.  0.492345  0.507655
4  The actress exasperated the actor.  0.348586  0.651414

In [93]:
# female subject
IC1_noprompt_12f = IC1_noprompt_12[0:12]
IC1_noprompt_12f = IC1_noprompt_12f[["stimulus","She","He"]]
# male subject
IC1_noprompt_12m = IC1_noprompt_12[12:24]

#### female subject

In [94]:
IC1_noprompt_12f

                                 stimulus       She        He
0       Miss Smith exasperated Mr. Smith.  0.481786  0.518214
1          The woman exasperated the man.  0.692320  0.307680
2                  Mary exasperated John.  0.529711  0.470289
3                  Alice exasperated Bob.  0.507655  0.492345
4      The actress exasperated the actor.  0.651414  0.348586
5           The girl exasperated the boy.  0.712215  0.287785
6   Mrs. Taylor exasperated Mr. Williams.  0.423456  0.576544
7                 Emma exasperated David.  0.614301  0.385699
8    The princess exasperated the prince.  0.765614  0.234386
9               Sarah exasperated Robert.  0.479808  0.520192
10  Mrs. Williams exasperated Mr. Taylor.  0.435677  0.564323
11                Emily exasperated Paul.  0.583777  0.416223

In [95]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_12f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_12f,'He'))

P('subj-pron'|subj=female) =  0.5731445923447609
P('non-subj-pron'|subj=female) =  0.4268554262816906

In [96]:
np_average_subj_female_subj_pron['exasperated'] = compute_average(IC1_noprompt_12f,'She')
np_average_subj_female_obj_pron['exasperated'] = compute_average(IC1_noprompt_12f,'He')

#### male subject

In [97]:
IC1_noprompt_12m

                                 stimulus        He       She
12      Mr. Smith exasperated Miss Smith.  0.475367  0.524633
13         The man exasperated the woman.  0.652331  0.347669
14                 John exasperated Mary.  0.713160  0.286840
15                 Bob exasperated Alice.  0.530927  0.469073
16     The actor exasperated the actress.  0.539830  0.460170
17          The boy exasperated the girl.  0.623390  0.376610
18   Mr. William exasperated Mrs. Taylor.  0.526381  0.473619
19                David exasperated Emma.  0.492518  0.507482
20   The prince exasperated the princess.  0.646500  0.353500
21              Robert exasperated Sarah.  0.596403  0.403597
22  Mr. Taylor exasperated Mrs. Williams.  0.496272  0.503728
23                Paul exasperated Emily.  0.588736  0.411264

In [98]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_12m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_12m,'She'))

P('subj-pron'|subj=male) =  0.5734844754139582
P('non-subj-pron'|subj=male) =  0.4265155370036761

In [99]:
np_average_subj_male_subj_pron['exasperated'] = compute_average(IC1_noprompt_12m,'He')
np_average_subj_male_obj_pron['exasperated'] = compute_average(IC1_noprompt_12m,'She')

### verb: "fascinated"

In [100]:
IC1_noprompt_13 = pd.read_csv("../results/gpt2/IC1/no-prompt/13.csv")
IC1_noprompt_13.head()

                            stimulus        He       She
0   Miss Smith fascinated Mr. Smith.  0.471956  0.528044
1      The woman fascinated the man.  0.333569  0.666431
2              Mary fascinated John.  0.458391  0.541609
3              Alice fascinated Bob.  0.322258  0.677742
4  The actress fascinated the actor.  0.379618  0.620382

In [101]:
# female subject
IC1_noprompt_13f = IC1_noprompt_13[0:12]
IC1_noprompt_13f = IC1_noprompt_13f[["stimulus","She","He"]]
# male subject
IC1_noprompt_13m = IC1_noprompt_13[12:24]

#### female subject

In [102]:
IC1_noprompt_13f

                                stimulus       She        He
0       Miss Smith fascinated Mr. Smith.  0.528044  0.471956
1          The woman fascinated the man.  0.666431  0.333569
2                  Mary fascinated John.  0.541609  0.458391
3                  Alice fascinated Bob.  0.677742  0.322258
4      The actress fascinated the actor.  0.620382  0.379618
5           The girl fascinated the boy.  0.627647  0.372353
6   Mrs. Taylor fascinated Mr. Williams.  0.442152  0.557848
7                 Emma fascinated David.  0.588380  0.411621
8    The princess fascinated the prince.  0.626648  0.373352
9               Sarah fascinated Robert.  0.525549  0.474451
10  Mrs. Williams fascinated Mr. Taylor.  0.416716  0.583284
11                Emily fascinated Paul.  0.667329  0.332671

In [103]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_13f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_13f,'He'))

P('subj-pron'|subj=female) =  0.5773856391509374
P('non-subj-pron'|subj=female) =  0.42261435836553574

In [104]:
np_average_subj_female_subj_pron['fascinated'] = compute_average(IC1_noprompt_13f,'She')
np_average_subj_female_obj_pron['fascinated'] = compute_average(IC1_noprompt_13f,'He')

#### male subject

In [105]:
IC1_noprompt_13m

                                stimulus        He       She
12      Mr. Smith fascinated Miss Smith.  0.474476  0.525524
13         The man fascinated the woman.  0.623074  0.376926
14                 John fascinated Mary.  0.603805  0.396195
15                 Bob fascinated Alice.  0.487134  0.512866
16     The actor fascinated the actress.  0.568913  0.431087
17          The boy fascinated the girl.  0.545717  0.454283
18   Mr. William fascinated Mrs. Taylor.  0.514397  0.485603
19                David fascinated Emma.  0.472200  0.527800
20   The prince fascinated the princess.  0.575517  0.424483
21              Robert fascinated Sarah.  0.608303  0.391697
22  Mr. Taylor fascinated Mrs. Williams.  0.470778  0.529222
23                Paul fascinated Emily.  0.522839  0.477161

In [106]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_13m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_13m,'She'))

P('subj-pron'|subj=male) =  0.5389293978611628
P('non-subj-pron'|subj=male) =  0.46107057978709537

In [107]:
np_average_subj_male_subj_pron['fascinated'] = compute_average(IC1_noprompt_13m,'He')
np_average_subj_male_obj_pron['fascinated'] = compute_average(IC1_noprompt_13m,'She')

### verb: "frightened"

In [108]:
IC1_noprompt_14 = pd.read_csv("../results/gpt2/IC1/no-prompt/14.csv")
IC1_noprompt_14.head()

                            stimulus        He       She
0   Miss Smith frightened Mr. Smith.  0.611471  0.388529
1      The woman frightened the man.  0.513103  0.486897
2              Mary frightened John.  0.608637  0.391363
3              Alice frightened Bob.  0.415083  0.584917
4  The actress frightened the actor.  0.433470  0.566530

In [109]:
# female subject
IC1_noprompt_14f = IC1_noprompt_14[0:12]
IC1_noprompt_14f = IC1_noprompt_14f[["stimulus","She","He"]]
# male subject
IC1_noprompt_14m = IC1_noprompt_14[12:24]

#### female subject

In [110]:
IC1_noprompt_14f

                                stimulus       She        He
0       Miss Smith frightened Mr. Smith.  0.388529  0.611471
1          The woman frightened the man.  0.486897  0.513103
2                  Mary frightened John.  0.391363  0.608637
3                  Alice frightened Bob.  0.584917  0.415083
4      The actress frightened the actor.  0.566530  0.433470
5           The girl frightened the boy.  0.449003  0.550997
6   Mrs. Taylor frightened Mr. Williams.  0.337989  0.662011
7                 Emma frightened David.  0.521540  0.478460
8    The princess frightened the prince.  0.448061  0.551939
9               Sarah frightened Robert.  0.391135  0.608865
10  Mrs. Williams frightened Mr. Taylor.  0.335092  0.664908
11                Emily frightened Paul.  0.564620  0.435380

In [111]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_14f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_14f,'He'))

P('subj-pron'|subj=female) =  0.4554728443423907
P('non-subj-pron'|subj=female) =  0.5445271730422974

In [112]:
np_average_subj_female_subj_pron['frightened'] = compute_average(IC1_noprompt_14f,'She')
np_average_subj_female_obj_pron['frightened'] = compute_average(IC1_noprompt_14f,'He')

#### male subject

In [113]:
IC1_noprompt_14m

                                stimulus        He       She
12      Mr. Smith frightened Miss Smith.  0.396753  0.603247
13         The man frightened the woman.  0.548024  0.451976
14                 John frightened Mary.  0.711471  0.288529
15                 Bob frightened Alice.  0.524158  0.475842
16     The actor frightened the actress.  0.522472  0.477528
17          The boy frightened the girl.  0.504335  0.495665
18   Mr. William frightened Mrs. Taylor.  0.491424  0.508576
19                David frightened Emma.  0.509433  0.490567
20   The prince frightened the princess.  0.540243  0.459757
21              Robert frightened Sarah.  0.574783  0.425217
22  Mr. Taylor frightened Mrs. Williams.  0.421664  0.578336
23                Paul frightened Emily.  0.544536  0.455464

In [114]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_14m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_14m,'She'))

P('subj-pron'|subj=male) =  0.5241079529126486
P('non-subj-pron'|subj=male) =  0.4758920297026634

In [115]:
np_average_subj_male_subj_pron['frightened'] = compute_average(IC1_noprompt_14m,'He')
np_average_subj_male_obj_pron['frightened'] = compute_average(IC1_noprompt_14m,'She')

### verb: "humiliated"

In [116]:
IC1_noprompt_15 = pd.read_csv("../results/gpt2/IC1/no-prompt/15.csv")
IC1_noprompt_15.head()

                            stimulus        He       She
0   Miss Smith humiliated Mr. Smith.  0.428443  0.571557
1      The woman humiliated the man.  0.343313  0.656688
2              Mary humiliated John.  0.463682  0.536318
3              Alice humiliated Bob.  0.300538  0.699462
4  The actress humiliated the actor.  0.273070  0.726930

In [117]:
# female subject
IC1_noprompt_15f = IC1_noprompt_15[0:12]
IC1_noprompt_15f = IC1_noprompt_15f[["stimulus","She","He"]]
# male subject
IC1_noprompt_15m = IC1_noprompt_15[12:24]

#### female subject

In [118]:
IC1_noprompt_15f

                                stimulus       She        He
0       Miss Smith humiliated Mr. Smith.  0.571557  0.428443
1          The woman humiliated the man.  0.656688  0.343313
2                  Mary humiliated John.  0.536318  0.463682
3                  Alice humiliated Bob.  0.699462  0.300538
4      The actress humiliated the actor.  0.726930  0.273070
5           The girl humiliated the boy.  0.654265  0.345735
6   Mrs. Taylor humiliated Mr. Williams.  0.575065  0.424935
7                 Emma humiliated David.  0.648611  0.351389
8    The princess humiliated the prince.  0.598189  0.401811
9               Sarah humiliated Robert.  0.476628  0.523372
10  Mrs. Williams humiliated Mr. Taylor.  0.573369  0.426631
11                Emily humiliated Paul.  0.721497  0.278503

In [119]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_15f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_15f,'He'))

P('subj-pron'|subj=female) =  0.6198816498120626
P('non-subj-pron'|subj=female) =  0.38011837005615234

In [120]:
np_average_subj_female_subj_pron['humiliated'] = compute_average(IC1_noprompt_15f,'She')
np_average_subj_female_obj_pron['humiliated'] = compute_average(IC1_noprompt_15f,'He')

#### male subject

In [121]:
IC1_noprompt_15m

                                stimulus        He       She
12      Mr. Smith humiliated Miss Smith.  0.599518  0.400482
13         The man humiliated the woman.  0.767493  0.232507
14                 John humiliated Mary.  0.800572  0.199428
15                 Bob humiliated Alice.  0.654516  0.345484
16     The actor humiliated the actress.  0.665425  0.334575
17          The boy humiliated the girl.  0.662909  0.337091
18   Mr. William humiliated Mrs. Taylor.  0.624252  0.375748
19                David humiliated Emma.  0.659339  0.340661
20   The prince humiliated the princess.  0.720513  0.279487
21              Robert humiliated Sarah.  0.675186  0.324814
22  Mr. Taylor humiliated Mrs. Williams.  0.622454  0.377546
23                Paul humiliated Emily.  0.642634  0.357366

In [122]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_15m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_15m,'She'))

P('subj-pron'|subj=male) =  0.6745675802230835
P('non-subj-pron'|subj=male) =  0.3254324185351531

In [123]:
np_average_subj_male_subj_pron['humiliated'] = compute_average(IC1_noprompt_15m,'He')
np_average_subj_male_obj_pron['humiliated'] = compute_average(IC1_noprompt_15m,'She')

### verb: "infuriated"

In [124]:
IC1_noprompt_16 = pd.read_csv("../results/gpt2/IC1/no-prompt/16.csv")
IC1_noprompt_16.head()

                            stimulus        He       She
0   Miss Smith infuriated Mr. Smith.  0.531132  0.468868
1      The woman infuriated the man.  0.422577  0.577423
2              Mary infuriated John.  0.606482  0.393518
3              Alice infuriated Bob.  0.457113  0.542887
4  The actress infuriated the actor.  0.384035  0.615965

In [125]:
# female subject
IC1_noprompt_16f = IC1_noprompt_16[0:12]
IC1_noprompt_16f = IC1_noprompt_16f[["stimulus","She","He"]]
# male subject
IC1_noprompt_16m = IC1_noprompt_16[12:24]

#### female subject

In [126]:
IC1_noprompt_16f

                                stimulus       She        He
0       Miss Smith infuriated Mr. Smith.  0.468868  0.531132
1          The woman infuriated the man.  0.577423  0.422577
2                  Mary infuriated John.  0.393518  0.606482
3                  Alice infuriated Bob.  0.542887  0.457113
4      The actress infuriated the actor.  0.615965  0.384035
5           The girl infuriated the boy.  0.510008  0.489992
6   Mrs. Taylor infuriated Mr. Williams.  0.378939  0.621061
7                 Emma infuriated David.  0.496668  0.503332
8    The princess infuriated the prince.  0.527058  0.472942
9               Sarah infuriated Robert.  0.436240  0.563760
10  Mrs. Williams infuriated Mr. Taylor.  0.389220  0.610780
11                Emily infuriated Paul.  0.577887  0.422113

In [127]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_16f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_16f,'He'))

P('subj-pron'|subj=female) =  0.492890124519666
P('non-subj-pron'|subj=female) =  0.5071098854144415

In [128]:
np_average_subj_female_subj_pron['infuriated'] = compute_average(IC1_noprompt_16f,'She')
np_average_subj_female_obj_pron['infuriated'] = compute_average(IC1_noprompt_16f,'He')

#### male subject

In [129]:
IC1_noprompt_16m

                                stimulus        He       She
12      Mr. Smith infuriated Miss Smith.  0.430625  0.569375
13         The man infuriated the woman.  0.618708  0.381292
14                 John infuriated Mary.  0.587885  0.412115
15                 Bob infuriated Alice.  0.472807  0.527193
16     The actor infuriated the actress.  0.481610  0.518390
17          The boy infuriated the girl.  0.559232  0.440768
18   Mr. William infuriated Mrs. Taylor.  0.523722  0.476278
19                David infuriated Emma.  0.446849  0.553151
20   The prince infuriated the princess.  0.549304  0.450696
21              Robert infuriated Sarah.  0.550899  0.449100
22  Mr. Taylor infuriated Mrs. Williams.  0.466187  0.533813
23                Paul infuriated Emily.  0.471731  0.528269

In [130]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_16m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_16m,'She'))

P('subj-pron'|subj=male) =  0.5132966538270315
P('non-subj-pron'|subj=male) =  0.48670334617296857

In [131]:
np_average_subj_male_subj_pron['infuriated'] = compute_average(IC1_noprompt_16m,'He')
np_average_subj_male_obj_pron['infuriated'] = compute_average(IC1_noprompt_16m,'She')

### verb: "inspires"

In [132]:
IC1_noprompt_17 = pd.read_csv("../results/gpt2/IC1/no-prompt/17.csv")
IC1_noprompt_17.head()

                          stimulus        He       She
0   Miss Smith inspires Mr. Smith.  0.564817  0.435183
1      The woman inspires the man.  0.321760  0.678240
2              Mary inspires John.  0.540152  0.459848
3              Alice inspires Bob.  0.452753  0.547247
4  The actress inspires the actor.  0.210846  0.789154

In [133]:
# female subject
IC1_noprompt_17f = IC1_noprompt_17[0:12]
IC1_noprompt_17f = IC1_noprompt_17f[["stimulus","She","He"]]
# male subject
IC1_noprompt_17m = IC1_noprompt_17[12:24]

#### male subject

In [134]:
IC1_noprompt_17f

                              stimulus       She        He
0       Miss Smith inspires Mr. Smith.  0.435183  0.564817
1          The woman inspires the man.  0.678240  0.321760
2                  Mary inspires John.  0.459848  0.540152
3                  Alice inspires Bob.  0.547247  0.452753
4      The actress inspires the actor.  0.789154  0.210846
5           The girl inspires the boy.  0.584454  0.415546
6   Mrs. Taylor inspires Mr. Williams.  0.360550  0.639450
7                 Emma inspires David.  0.550682  0.449318
8    The princess inspires the prince.  0.521920  0.478080
9               Sarah inspires Robert.  0.402561  0.597439
10  Mrs. Williams inspires Mr. Taylor.  0.367752  0.632248
11                Emily inspires Paul.  0.521726  0.478274

In [135]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_17f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_17f,'He'))

P('subj-pron'|subj=female) =  0.5182766864697138
P('non-subj-pron'|subj=female) =  0.4817233110467593

In [136]:
np_average_subj_female_subj_pron['inspires'] = compute_average(IC1_noprompt_17f,'She')
np_average_subj_female_obj_pron['inspires'] = compute_average(IC1_noprompt_17f,'He')

#### female subject

In [137]:
IC1_noprompt_17m

                              stimulus        He       She
12      Mr. Smith inspires Miss Smith.  0.491184  0.508816
13         The man inspires the woman.  0.706571  0.293429
14                 John inspires Mary.  0.603762  0.396238
15                 Bob inspires Alice.  0.489929  0.510071
16     The actor inspires the actress.  0.643017  0.356983
17          The boy inspires the girl.  0.637046  0.362954
18   Mr. William inspires Mrs. Taylor.  0.500366  0.499634
19                David inspires Emma.  0.469500  0.530500
20   The prince inspires the princess.  0.637120  0.362880
21              Robert inspires Sarah.  0.464630  0.535370
22  Mr. Taylor inspires Mrs. Williams.  0.433877  0.566123
23                Paul inspires Emily.  0.389897  0.610103

In [138]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_17m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_17m,'She'))

P('subj-pron'|subj=male) =  0.5389081835746765
P('non-subj-pron'|subj=male) =  0.4610918213923772

In [139]:
np_average_subj_male_subj_pron['inspires'] = compute_average(IC1_noprompt_17m,'He')
np_average_subj_male_obj_pron['inspires'] = compute_average(IC1_noprompt_17m,'She')

### verb: "intimidates"

In [140]:
IC1_noprompt_18 = pd.read_csv("../results/gpt2/IC1/no-prompt/18.csv")
IC1_noprompt_18.head()

                             stimulus        He       She
0   Miss Smith intimidates Mr. Smith.  0.413521  0.586479
1      The woman intimidates the man.  0.342222  0.657778
2              Mary intimidates John.  0.393607  0.606393
3              Alice intimidates Bob.  0.327912  0.672088
4  The actress intimidates the actor.  0.234758  0.765242

In [141]:
# female subject
IC1_noprompt_18f = IC1_noprompt_18[0:12]
IC1_noprompt_18f = IC1_noprompt_18f[["stimulus","She","He"]]
# male subject
IC1_noprompt_18m = IC1_noprompt_18[12:24]

#### female subject

In [142]:
IC1_noprompt_18f

                                 stimulus       She        He
0       Miss Smith intimidates Mr. Smith.  0.586479  0.413521
1          The woman intimidates the man.  0.657778  0.342222
2                  Mary intimidates John.  0.606393  0.393607
3                  Alice intimidates Bob.  0.672088  0.327912
4      The actress intimidates the actor.  0.765242  0.234758
5           The girl intimidates the boy.  0.574972  0.425028
6   Mrs. Taylor intimidates Mr. Williams.  0.554052  0.445947
7                 Emma intimidates David.  0.606666  0.393334
8    The princess intimidates the prince.  0.563625  0.436375
9               Sarah intimidates Robert.  0.503910  0.496090
10  Mrs. Williams intimidates Mr. Taylor.  0.556581  0.443419
11                Emily intimidates Paul.  0.662022  0.337978

In [143]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_18f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_18f,'He'))

P('subj-pron'|subj=female) =  0.6091507027546564
P('non-subj-pron'|subj=female) =  0.3908492947618167

In [144]:
np_average_subj_female_subj_pron['intimidates'] = compute_average(IC1_noprompt_18f,'She')
np_average_subj_female_obj_pron['intimidates'] = compute_average(IC1_noprompt_18f,'He')

In [145]:
IC1_noprompt_18m

                                 stimulus        He       She
12      Mr. Smith intimidates Miss Smith.  0.567797  0.432203
13         The man intimidates the woman.  0.607190  0.392810
14                 John intimidates Mary.  0.643024  0.356976
15                 Bob intimidates Alice.  0.533482  0.466518
16     The actor intimidates the actress.  0.596567  0.403433
17          The boy intimidates the girl.  0.553223  0.446777
18   Mr. William intimidates Mrs. Taylor.  0.572277  0.427723
19                David intimidates Emma.  0.554640  0.445360
20   The prince intimidates the princess.  0.607825  0.392175
21              Robert intimidates Sarah.  0.619931  0.380069
22  Mr. Taylor intimidates Mrs. Williams.  0.547775  0.452225
23                Paul intimidates Emily.  0.566845  0.433155

In [146]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_18m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_18m,'She'))

P('subj-pron'|subj=male) =  0.5808814167976379
P('non-subj-pron'|subj=male) =  0.41911857078472775

In [147]:
np_average_subj_male_subj_pron['intimidates'] = compute_average(IC1_noprompt_18m,'He')
np_average_subj_male_obj_pron['intimidates'] = compute_average(IC1_noprompt_18m,'She')

### verb: "scares"

In [148]:
IC1_noprompt_19 = pd.read_csv("../results/gpt2/IC1/no-prompt/19.csv")
IC1_noprompt_19.head()

                        stimulus        He       She
0   Miss Smith scares Mr. Smith.  0.450115  0.549885
1      The woman scares the man.  0.384740  0.615260
2              Mary scares John.  0.488784  0.511216
3              Alice scares Bob.  0.352051  0.647949
4  The actress scares the actor.  0.171691  0.828309

In [149]:
# female subject
IC1_noprompt_19f = IC1_noprompt_19[0:12]
IC1_noprompt_19f = IC1_noprompt_19f[["stimulus","She","He"]]
# male subject
IC1_noprompt_19m = IC1_noprompt_19[12:24]

#### female subject

In [150]:
IC1_noprompt_19f

                            stimulus       She        He
0       Miss Smith scares Mr. Smith.  0.549885  0.450115
1          The woman scares the man.  0.615260  0.384740
2                  Mary scares John.  0.511216  0.488784
3                  Alice scares Bob.  0.647949  0.352051
4      The actress scares the actor.  0.828309  0.171691
5           The girl scares the boy.  0.570800  0.429200
6   Mrs. Taylor scares Mr. Williams.  0.526819  0.473181
7                 Emma scares David.  0.594350  0.405650
8    The princess scares the prince.  0.570463  0.429537
9               Sarah scares Robert.  0.423174  0.576826
10  Mrs. Williams scares Mr. Taylor.  0.538390  0.461610
11                Emily scares Paul.  0.630959  0.369041

In [151]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_19f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_19f,'He'))

P('subj-pron'|subj=female) =  0.5839646384119987
P('non-subj-pron'|subj=female) =  0.41603534171978634

In [152]:
np_average_subj_female_subj_pron['scares'] = compute_average(IC1_noprompt_19f,'She')
np_average_subj_female_obj_pron['scares'] = compute_average(IC1_noprompt_19f,'He')

#### male subject

In [153]:
IC1_noprompt_19m

                            stimulus        He       She
12      Mr. Smith scares Miss Smith.  0.501097  0.498903
13         The man scares the woman.  0.539367  0.460633
14                 John scares Mary.  0.636975  0.363025
15                 Bob scares Alice.  0.527550  0.472450
16     The actor scares the actress.  0.710578  0.289422
17          The boy scares the girl.  0.536430  0.463570
18   Mr. William scares Mrs. Taylor.  0.482089  0.517911
19                David scares Emma.  0.467716  0.532284
20   The prince scares the princess.  0.620282  0.379718
21              Robert scares Sarah.  0.565230  0.434770
22  Mr. Taylor scares Mrs. Williams.  0.470323  0.529677
23                Paul scares Emily.  0.485420  0.514580

In [154]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_19m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_19m,'She'))

P('subj-pron'|subj=male) =  0.545254667599996
P('non-subj-pron'|subj=male) =  0.4547453249494235

In [155]:
np_average_subj_male_subj_pron['scares'] = compute_average(IC1_noprompt_19m,'He')
np_average_subj_male_obj_pron['scares'] = compute_average(IC1_noprompt_19m,'She')

### verb: "surprised"

In [156]:
IC1_noprompt_20 = pd.read_csv("../results/gpt2/IC1/no-prompt/20.csv")
IC1_noprompt_20.head()

                           stimulus        He       She
0   Miss Smith surprised Mr. Smith.  0.469302  0.530698
1      The woman surprised the man.  0.290271  0.709729
2              Mary surprised John.  0.321637  0.678363
3              Alice surprised Bob.  0.231724  0.768276
4  The actress surprised the actor.  0.251651  0.748349

In [157]:
# female subject
IC1_noprompt_20f = IC1_noprompt_20[0:12]
IC1_noprompt_20f = IC1_noprompt_20f[["stimulus","She","He"]]
# male subject
IC1_noprompt_20m = IC1_noprompt_20[12:24]

#### female subject

In [158]:
IC1_noprompt_20f

                               stimulus       She        He
0       Miss Smith surprised Mr. Smith.  0.530698  0.469302
1          The woman surprised the man.  0.709729  0.290271
2                  Mary surprised John.  0.678363  0.321637
3                  Alice surprised Bob.  0.768276  0.231724
4      The actress surprised the actor.  0.748349  0.251651
5           The girl surprised the boy.  0.765283  0.234717
6   Mrs. Taylor surprised Mr. Williams.  0.528147  0.471853
7                 Emma surprised David.  0.704033  0.295967
8    The princess surprised the prince.  0.787309  0.212691
9               Sarah surprised Robert.  0.536402  0.463598
10  Mrs. Williams surprised Mr. Taylor.  0.560696  0.439304
11                Emily surprised Paul.  0.720747  0.279253

In [159]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_20f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_20f,'He'))

P('subj-pron'|subj=female) =  0.6698360244433085
P('non-subj-pron'|subj=female) =  0.33016398052374524

In [160]:
np_average_subj_female_subj_pron['surprised'] = compute_average(IC1_noprompt_20f,'She')
np_average_subj_female_obj_pron['surprised'] = compute_average(IC1_noprompt_20f,'He')

#### male subject

In [161]:
IC1_noprompt_20m

                               stimulus        He       She
12      Mr. Smith surprised Miss Smith.  0.510399  0.489601
13         The man surprised the woman.  0.714878  0.285122
14                 John surprised Mary.  0.733133  0.266867
15                 Bob surprised Alice.  0.652878  0.347122
16     The actor surprised the actress.  0.579228  0.420772
17          The boy surprised the girl.  0.685147  0.314853
18   Mr. William surprised Mrs. Taylor.  0.587298  0.412702
19                David surprised Emma.  0.543567  0.456433
20   The prince surprised the princess.  0.744144  0.255856
21              Robert surprised Sarah.  0.631922  0.368078
22  Mr. Taylor surprised Mrs. Williams.  0.571452  0.428548
23                Paul surprised Emily.  0.605898  0.394102

In [162]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_20m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_20m,'She'))

P('subj-pron'|subj=male) =  0.6299955149491628
P('non-subj-pron'|subj=male) =  0.37000448008378345

In [163]:
np_average_subj_male_subj_pron['surprised'] = compute_average(IC1_noprompt_20m,'He')
np_average_subj_male_obj_pron['surprised'] = compute_average(IC1_noprompt_20m,'She')

## Summary of Results

In [164]:
np_results_fsubj_subjpron = pd.DataFrame(list(np_average_subj_female_subj_pron.items()),columns=['verb','subj_ref_female_subj'])
np_results_fsubj_objpron = pd.DataFrame(list(np_average_subj_female_obj_pron.items()),columns=['verb','obj_ref_female_subj'])
np_results_fsubj = np_results_fsubj_subjpron.merge(np_results_fsubj_objpron)
np_results_fsubj

            verb  subj_ref_female_subj  obj_ref_female_subj
0     aggravated              0.627727             0.372273
1         amazed              0.621396             0.378604
2         amused              0.578961             0.421039
3        annoyed              0.561849             0.438151
4     apologized              0.727110             0.272890
5          bored              0.584434             0.415566
6        charmed              0.581038             0.418962
7       offended              0.547495             0.452505
8      confessed              0.654093             0.345907
9       deceived              0.602130             0.397870
10  disappointed              0.615103             0.384897
11   exasperated              0.573145             0.426855
12    fascinated              0.577386             0.422614
13    frightened              0.455473             0.544527
14    humiliated              0.619882             0.380118
15    infuriated              0.492890             0.507110
16      inspires              0.518277             0.481723
17   intimidates              0.609151             0.390849
18        scares              0.583965             0.416035
19     surprised              0.669836             0.330164

In [165]:
np_results_msubj_subjpron = pd.DataFrame(list(np_average_subj_male_subj_pron.items()),columns=['verb','subj_ref_male_subj'])
np_results_msubj_objpron = pd.DataFrame(list(np_average_subj_male_obj_pron.items()),columns=['verb','obj_ref_male_subj'])
np_results_msubj = np_results_msubj_subjpron.merge(np_results_msubj_objpron)
np_results_msubj

            verb  subj_ref_male_subj  obj_ref_male_subj
0     aggravated            0.601731           0.398269
1         amazed            0.658285           0.341715
2         amused            0.650405           0.349595
3        annoyed            0.565836           0.434164
4     apologized            0.662992           0.337008
5          bored            0.591206           0.408794
6        charmed            0.584739           0.415261
7       offended            0.592530           0.407470
8      confessed            0.617992           0.382008
9       deceived            0.685255           0.314745
10  disappointed            0.661876           0.338124
11   exasperated            0.573484           0.426516
12    fascinated            0.538929           0.461071
13    frightened            0.524108           0.475892
14    humiliated            0.674568           0.325432
15    infuriated            0.513297           0.486703
16      inspires            0.538908           0.461092
17   intimidates            0.580881           0.419119
18        scares            0.545255           0.454745
19     surprised            0.629996           0.370004

In [166]:
np_results =  np_results_fsubj.merge(np_results_msubj)
np_results

,verb,subj_ref_female_subj,obj_ref_female_subj,subj_ref_male_subj,obj_ref_male_subj
0,aggravated,0.627727,0.372273,0.601731,0.398269
1,amazed,0.621396,0.378604,0.658285,0.341715
2,amused,0.578961,0.421039,0.650405,0.349595
3,annoyed,0.561849,0.438151,0.565836,0.434164
4,apologized,0.727110,0.272890,0.662992,0.337008
5,bored,0.584434,0.415566,0.591206,0.408794
6,charmed,0.581038,0.418962,0.584739,0.415261
7,offended,0.547495,0.452505,0.592530,0.407470
8,confessed,0.654093,0.345907,0.617992,0.382008
9,deceived,0.602130,0.397870,0.685255,0.314745
10,disappointed,0.615103,0.384897,0.661876,0.338124
11,exasperated,0.573145,0.426855,0.573484,0.426516
12,fascinated,0.577386,0.422614,0.538929,0.461071
13,frightened,0.455473,0.544527,0.524108,0.475892
14,humiliated,0.619882,0.380118,0.674568,0.325432
15,infuriated,0.492890,0.507110,0.513297,0.486703
16,inspires,0.518277,0.481723,0.538908,0.461092
17,intimidates,0.609151,0.390849,0.580881,0.419119
18,scares,0.583965,0.416035,0.545255,0.454745
19,surprised,0.669836,0.330164,0.629996,0.370004

In [167]:
print("P(subj_reference |subj=female)", compute_average(np_results,'subj_ref_female_subj'))
print("P(obj_reference |subj=female)", compute_average(np_results,'obj_ref_female_subj'))

P(subj_reference |subj=female) 0.5900669703880944
P(obj_reference |subj=female) 0.4099330326542259

In [168]:
print("P(subj_reference |subj=male)", compute_average(np_results,'subj_ref_male_subj'))
print("P(obj_reference |subj=male)", compute_average(np_results,'obj_ref_male_subj'))

P(subj_reference |subj=male) 0.5996136861542861
P(obj_reference |subj=male) 0.400386312790215

## Connective: "because"

In [169]:
c1_average_subj_female_subj_pron = {}
c1_average_subj_female_obj_pron = {}
c1_average_subj_male_subj_pron = {}
c1_average_subj_male_obj_pron = {}

### verb: "aggravated"

In [170]:
IC1_connective1_1 = pd.read_csv("../results/gpt2/IC1/connective1/1.csv")
IC1_connective1_1.head()

                                   stimulus        he       she
0   Miss Smith aggravated Mr. Smith because  0.410339  0.589661
1      The woman aggravated the man because  0.381186  0.618814
2              Mary aggravated John because  0.296672  0.703328
3              Alice aggravated Bob because  0.189919  0.810081
4  The actress aggravated the actor because  0.341411  0.658589

In [171]:
# female subject
IC1_connective1_1f = IC1_connective1_1[0:12]
IC1_connective1_1f = IC1_connective1_1f[["stimulus","she","he"]]
# male subject
IC1_connective1_1m = IC1_connective1_1[12:24]

#### female subject

In [172]:
IC1_connective1_1f

                                       stimulus       she        he
0       Miss Smith aggravated Mr. Smith because  0.589661  0.410339
1          The woman aggravated the man because  0.618814  0.381186
2                  Mary aggravated John because  0.703328  0.296672
3                  Alice aggravated Bob because  0.810081  0.189919
4      The actress aggravated the actor because  0.658589  0.341411
5           The girl aggravated the boy because  0.708466  0.291534
6   Mrs. Taylor aggravated Mr. Williams because  0.587010  0.412990
7                 Emma aggravated David because  0.727215  0.272785
8    The princess aggravated the prince because  0.739755  0.260245
9               Sarah aggravated Robert because  0.522789  0.477211
10  Mrs. Williams aggravated Mr. Taylor because  0.579066  0.420935
11                Emily aggravated Paul because  0.731733  0.268267

In [173]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_1f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_1f,'he'))

P('subj-pron'|subj=female) =  0.664708877603213
P('non-subj-pron'|subj=female) =  0.3352911335726579

In [174]:
c1_average_subj_female_subj_pron['aggravated'] = compute_average(IC1_connective1_1f,'she')
c1_average_subj_female_obj_pron['aggravated'] = compute_average(IC1_connective1_1f,'he')

#### male subject

In [175]:
IC1_connective1_1m

                                       stimulus        he       she
12      Mr. Smith aggravated Miss Smith because  0.540548  0.459452
13         The man aggravated the woman because  0.596637  0.403363
14                 John aggravated Mary because  0.663097  0.336903
15                 Bob aggravated Alice because  0.657260  0.342740
16     The actor aggravated the actress because  0.574607  0.425393
17          The boy aggravated the girl because  0.653319  0.346681
18   Mr. William aggravated Mrs. Taylor because  0.573018  0.426982
19                David aggravated Emma because  0.573631  0.426369
20   The prince aggravated the princess because  0.670711  0.329289
21              Robert aggravated Sarah because  0.645191  0.354809
22  Mr. Taylor aggravated Mrs. Williams because  0.570261  0.429739
23                Paul aggravated Emily because  0.529107  0.470893

In [176]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_1m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_1m,'she'))

P('subj-pron'|subj=male) =  0.6039489656686783
P('non-subj-pron'|subj=male) =  0.39605103929837543

In [177]:
c1_average_subj_male_subj_pron['aggravated'] = compute_average(IC1_connective1_1m,'he')
c1_average_subj_male_obj_pron['aggravated'] = compute_average(IC1_connective1_1m,'she')

### verb: "amazed"

In [178]:
IC1_connective1_2 = pd.read_csv("../results/gpt2/IC1/connective1/2.csv")
IC1_connective1_2.head()

                               stimulus        he       she
0   Miss Smith amazed Mr. Smith because  0.456315  0.543685
1      The woman amazed the man because  0.239224  0.760776
2              Mary amazed John because  0.282229  0.717771
3              Alice amazed Bob because  0.371362  0.628638
4  The actress amazed the actor because  0.284830  0.715170

In [179]:
# female subject
IC1_connective1_2f = IC1_connective1_2[0:12]
IC1_connective1_2f = IC1_connective1_2f[["stimulus","she","he"]]
# male subject
IC1_connective1_2m = IC1_connective1_2[12:24]

#### female subject

In [180]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_2f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_2f,'he'))

P('subj-pron'|subj=female) =  0.6485165059566498
P('non-subj-pron'|subj=female) =  0.3514834754168987

In [181]:
c1_average_subj_female_subj_pron['amazed'] = compute_average(IC1_connective1_2f,'she')
c1_average_subj_female_obj_pron['amazed'] = compute_average(IC1_connective1_2f,'he')

#### male subject

In [182]:
IC1_connective1_2m

                                   stimulus        he       she
12      Mr. Smith amazed Miss Smith because  0.562044  0.437956
13         The man amazed the woman because  0.753587  0.246413
14                 John amazed Mary because  0.681886  0.318114
15                 Bob amazed Alice because  0.622685  0.377315
16     The actor amazed the actress because  0.670017  0.329983
17          The boy amazed the girl because  0.797451  0.202549
18   Mr. William amazed Mrs. Taylor because  0.593677  0.406323
19                David amazed Emma because  0.522225  0.477775
20   The prince amazed the princess because  0.747199  0.252801
21              Robert amazed Sarah because  0.648733  0.351267
22  Mr. Taylor amazed Mrs. Williams because  0.568169  0.431831
23                Paul amazed Emily because  0.615657  0.384343

In [183]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_2m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_2m,'she'))

P('subj-pron'|subj=male) =  0.6486107955376307
P('non-subj-pron'|subj=male) =  0.35138920818765956

In [184]:
c1_average_subj_male_subj_pron['amazed'] = compute_average(IC1_connective1_2m,'he')
c1_average_subj_male_obj_pron['amazed'] = compute_average(IC1_connective1_2m,'she')

### verb: "amused"

In [185]:
IC1_connective1_3 = pd.read_csv("../results/gpt2/IC1/connective1/3.csv")
IC1_connective1_3.head()

                               stimulus        he       she
0   Miss Smith amused Mr. Smith because  0.567448  0.432552
1      The woman amused the man because  0.327251  0.672749
2              Mary amused John because  0.317871  0.682129
3              Alice amused Bob because  0.422502  0.577498
4  The actress amused the actor because  0.322903  0.677097

In [186]:
# female subject
IC1_connective1_3f = IC1_connective1_3[0:12]
IC1_connective1_3f = IC1_connective1_3f[["stimulus","she","he"]]
# male subject
IC1_connective1_3m = IC1_connective1_3[12:24]

#### female subject

In [187]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_3f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_3f,'he'))

P('subj-pron'|subj=female) =  0.5785911306738853
P('non-subj-pron'|subj=female) =  0.42140887429316837

In [188]:
c1_average_subj_female_subj_pron['amused'] = compute_average(IC1_connective1_3f,'she')
c1_average_subj_female_obj_pron['amused'] = compute_average(IC1_connective1_3f,'he')

#### male subject

In [189]:
IC1_connective1_3m

                                   stimulus        he       she
12      Mr. Smith amused Miss Smith because  0.572672  0.427328
13         The man amused the woman because  0.702046  0.297954
14                 John amused Mary because  0.705332  0.294668
15                 Bob amused Alice because  0.588259  0.411741
16     The actor amused the actress because  0.603522  0.396478
17          The boy amused the girl because  0.696830  0.303170
18   Mr. William amused Mrs. Taylor because  0.626781  0.373219
19                David amused Emma because  0.548970  0.451030
20   The prince amused the princess because  0.761060  0.238940
21              Robert amused Sarah because  0.661083  0.338917
22  Mr. Taylor amused Mrs. Williams because  0.590169  0.409831
23                Paul amused Emily because  0.587768  0.412232

In [190]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_3m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_3m,'she'))

P('subj-pron'|subj=male) =  0.6370409727096558
P('non-subj-pron'|subj=male) =  0.36295902356505394

In [191]:
c1_average_subj_male_subj_pron['amused'] = compute_average(IC1_connective1_3m,'he')
c1_average_subj_male_obj_pron['amused'] = compute_average(IC1_connective1_3m,'she')

### verb: "annoyed"

In [192]:
IC1_connective1_4 = pd.read_csv("../results/gpt2/IC1/connective1/4.csv")
IC1_connective1_4.head()

                                stimulus        he       she
0   Miss Smith annoyed Mr. Smith because  0.545123  0.454877
1      The woman annoyed the man because  0.375098  0.624902
2              Mary annoyed John because  0.386465  0.613535
3              Alice annoyed Bob because  0.441990  0.558010
4  The actress annoyed the actor because  0.369995  0.630005

In [193]:
# female subject
IC1_connective1_4f = IC1_connective1_4[0:12]
IC1_connective1_4f = IC1_connective1_4f[["stimulus","she","he"]]
# male subject
IC1_connective1_4m = IC1_connective1_4[12:24]

#### female subject

In [194]:
IC1_connective1_4f

                                    stimulus       she        he
0       Miss Smith annoyed Mr. Smith because  0.454877  0.545123
1          The woman annoyed the man because  0.624902  0.375098
2                  Mary annoyed John because  0.613535  0.386465
3                  Alice annoyed Bob because  0.558010  0.441990
4      The actress annoyed the actor because  0.630005  0.369995
5           The girl annoyed the boy because  0.691262  0.308738
6   Mrs. Taylor annoyed Mr. Williams because  0.412173  0.587827
7                 Emma annoyed David because  0.609366  0.390634
8    The princess annoyed the prince because  0.763139  0.236861
9               Sarah annoyed Robert because  0.428693  0.571307
10  Mrs. Williams annoyed Mr. Taylor because  0.407377  0.592623
11                Emily annoyed Paul because  0.611365  0.388635

In [195]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_4f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_4f,'he'))

P('subj-pron'|subj=female) =  0.5670586327711741
P('non-subj-pron'|subj=female) =  0.43294137716293335

In [196]:
c1_average_subj_female_subj_pron['annoyed'] = compute_average(IC1_connective1_4f,'she')
c1_average_subj_female_obj_pron['annoyed'] = compute_average(IC1_connective1_4f,'he')

#### male subject

In [197]:
IC1_connective1_4m

                                    stimulus        he       she
12      Mr. Smith annoyed Miss Smith because  0.522842  0.477158
13         The man annoyed the woman because  0.644816  0.355184
14                 John annoyed Mary because  0.631710  0.368290
15                 Bob annoyed Alice because  0.530782  0.469218
16     The actor annoyed the actress because  0.589726  0.410274
17          The boy annoyed the girl because  0.653230  0.346770
18   Mr. William annoyed Mrs. Taylor because  0.585652  0.414348
19                David annoyed Emma because  0.497394  0.502606
20   The prince annoyed the princess because  0.722313  0.277687
21              Robert annoyed Sarah because  0.617920  0.382079
22  Mr. Taylor annoyed Mrs. Williams because  0.568843  0.431157
23                Paul annoyed Emily because  0.518624  0.481376

In [198]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_4m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_4m,'she'))

P('subj-pron'|subj=male) =  0.5903210168083509
P('non-subj-pron'|subj=male) =  0.40967897822459537

In [199]:
c1_average_subj_male_subj_pron['annoyed'] = compute_average(IC1_connective1_4m,'he')
c1_average_subj_male_obj_pron['annoyed'] = compute_average(IC1_connective1_4m,'she')

### verb: "apologized"

In [200]:
IC1_connective1_5 = pd.read_csv("../results/gpt2/IC1/connective1/5.csv")
IC1_connective1_5.head()

                                      stimulus        he       she
0   Miss Smith apologized to Mr. Smith because  0.421944  0.578056
1      The woman apologized to the man because  0.338452  0.661548
2              Mary apologized to John because  0.281677  0.718323
3              Alice apologized to Bob because  0.254326  0.745674
4  The actress apologized to the actor because  0.318496  0.681504

In [201]:
# female subject
IC1_connective1_5f = IC1_connective1_5[0:12]
IC1_connective1_5f = IC1_connective1_5[["stimulus","she","he"]]
# male subject
IC1_connective1_5m = IC1_connective1_5[12:24]

#### female subject

In [202]:
IC1_connective1_5f

                                          stimulus       she        he
0       Miss Smith apologized to Mr. Smith because  0.578056  0.421944
1          The woman apologized to the man because  0.661548  0.338452
2                  Mary apologized to John because  0.718323  0.281677
3                  Alice apologized to Bob because  0.745674  0.254326
4      The actress apologized to the actor because  0.681504  0.318496
5           The girl apologized to the boy because  0.746997  0.253003
6   Mrs. Taylor apologized to Mr. Williams because  0.518296  0.481704
7                 Emma apologized to David because  0.716187  0.283813
8    The princess apologized to the prince because  0.817222  0.182778
9               Sarah apologized to Robert because  0.560219  0.439781
10  Mrs. Williams apologized to Mr. Taylor because  0.499120  0.500880
11                Emily apologized to Paul because  0.725937  0.274063
12      Mr. Smith apologized to Miss Smith because  0.361943  0.638057
13         The man apologized to the woman because  0.205988  0.794012
14                 John apologized to Mary because  0.254795  0.745205
15                 Bob apologized to Alice because  0.317279  0.682721
16     The actor apologized to the actress because  0.305532  0.694468
17          The boy apologized to the girl because  0.218099  0.781901
18   Mr. William apologized to Mrs. Taylor because  0.277028  0.722973
19                David apologized to Emma because  0.350179  0.649821
20   The prince apologized to the princess because  0.217486  0.782515
21              Robert apologized to Sarah because  0.281830  0.718170
22  Mr. Taylor apologized to Mrs. Williams because  0.253892  0.746108
23                Paul apologized to Emily because  0.376223  0.623777

In [203]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_5f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_5f,'he'))

P('subj-pron'|subj=female) =  0.4745565876364708
P('non-subj-pron'|subj=female) =  0.525443421676755

In [204]:
c1_average_subj_female_subj_pron['apologized'] = compute_average(IC1_connective1_5f,'she')
c1_average_subj_female_obj_pron['apologized'] = compute_average(IC1_connective1_5f,'he')

#### male subject

In [205]:
IC1_connective1_5m

                                          stimulus        he       she
12      Mr. Smith apologized to Miss Smith because  0.638057  0.361943
13         The man apologized to the woman because  0.794012  0.205988
14                 John apologized to Mary because  0.745205  0.254795
15                 Bob apologized to Alice because  0.682721  0.317279
16     The actor apologized to the actress because  0.694468  0.305532
17          The boy apologized to the girl because  0.781901  0.218099
18   Mr. William apologized to Mrs. Taylor because  0.722973  0.277028
19                David apologized to Emma because  0.649821  0.350179
20   The prince apologized to the princess because  0.782515  0.217486
21              Robert apologized to Sarah because  0.718170  0.281830
22  Mr. Taylor apologized to Mrs. Williams because  0.746108  0.253892
23                Paul apologized to Emily because  0.623777  0.376223

In [206]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_5m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_5m,'she'))

P('subj-pron'|subj=male) =  0.7149771948655447
P('non-subj-pron'|subj=male) =  0.285022829969724

In [207]:
c1_average_subj_male_subj_pron['apologized'] = compute_average(IC1_connective1_5m,'he')
c1_average_subj_male_obj_pron['apologized'] = compute_average(IC1_connective1_5m,'she')

### verb: "bored"

In [208]:
IC1_connective1_6 = pd.read_csv("../results/gpt2/IC1/connective1/6.csv")
IC1_connective1_6.head()

                              stimulus        he       she
0   Miss Smith bored Mr. Smith because  0.551323  0.448677
1      The woman bored the man because  0.382245  0.617755
2              Mary bored John because  0.328675  0.671325
3              Alice bored Bob because  0.399587  0.600413
4  The actress bored the actor because  0.310214  0.689786

In [209]:
# female subject
IC1_connective1_6f = IC1_connective1_6[0:12]
IC1_connective1_6f = IC1_connective1_6[["stimulus","she","he"]]
# male subject
IC1_connective1_6m = IC1_connective1_6[12:24]

#### female subject

In [210]:
IC1_connective1_6f

                                  stimulus       she        he
0       Miss Smith bored Mr. Smith because  0.448677  0.551323
1          The woman bored the man because  0.617755  0.382245
2                  Mary bored John because  0.671325  0.328675
3                  Alice bored Bob because  0.600413  0.399587
4      The actress bored the actor because  0.689786  0.310214
5           The girl bored the boy because  0.657099  0.342901
6   Mrs. Taylor bored Mr. Williams because  0.398112  0.601888
7                 Emma bored David because  0.680115  0.319885
8    The princess bored the prince because  0.697376  0.302624
9               Sarah bored Robert because  0.426725  0.573275
10  Mrs. Williams bored Mr. Taylor because  0.429939  0.570061
11                Emily bored Paul because  0.607871  0.392129
12      Mr. Smith bored Miss Smith because  0.465802  0.534198
13         The man bored the woman because  0.381101  0.618899
14                 John bored Mary because  0.333442  0.666559
15                 Bob bored Alice because  0.383146  0.616854
16     The actor bored the actress because  0.396302  0.603698
17          The boy bored the girl because  0.336511  0.663489
18   Mr. William bored Mrs. Taylor because  0.381429  0.618571
19                David bored Emma because  0.435939  0.564061
20   The prince bored the princess because  0.295381  0.704619
21              Robert bored Sarah because  0.382366  0.617634
22  Mr. Taylor bored Mrs. Williams because  0.433169  0.566831
23                Paul bored Emily because  0.424417  0.575583

In [211]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_6f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_6f,'he'))

P('subj-pron'|subj=female) =  0.4822582006454468
P('non-subj-pron'|subj=female) =  0.5177418055633703

In [212]:
c1_average_subj_female_subj_pron['bored'] = compute_average(IC1_connective1_6f,'she')
c1_average_subj_female_obj_pron['bored'] = compute_average(IC1_connective1_6f,'he')

#### male subject

In [213]:
IC1_connective1_6m

                                  stimulus        he       she
12      Mr. Smith bored Miss Smith because  0.534198  0.465802
13         The man bored the woman because  0.618899  0.381101
14                 John bored Mary because  0.666559  0.333442
15                 Bob bored Alice because  0.616854  0.383146
16     The actor bored the actress because  0.603698  0.396302
17          The boy bored the girl because  0.663489  0.336511
18   Mr. William bored Mrs. Taylor because  0.618571  0.381429
19                David bored Emma because  0.564061  0.435939
20   The prince bored the princess because  0.704619  0.295381
21              Robert bored Sarah because  0.617634  0.382366
22  Mr. Taylor bored Mrs. Williams because  0.566831  0.433169
23                Paul bored Emily because  0.575583  0.424417

In [214]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_6m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_6m,'she'))

P('subj-pron'|subj=male) =  0.6125829865535101
P('non-subj-pron'|subj=male) =  0.3874170208970706

In [215]:
c1_average_subj_male_subj_pron['bored'] = compute_average(IC1_connective1_6m,'he')
c1_average_subj_male_obj_pron['bored'] = compute_average(IC1_connective1_6m,'she')

### verb: "charmed"

In [216]:
IC1_connective1_7 = pd.read_csv("../results/gpt2/IC1/connective1/7.csv")
IC1_connective1_7.head()

                                stimulus        he       she
0   Miss Smith charmed Mr. Smith because  0.478673  0.521327
1      The woman charmed the man because  0.262814  0.737186
2              Mary charmed John because  0.365688  0.634312
3              Alice charmed Bob because  0.288143  0.711857
4  The actress charmed the actor because  0.233800  0.766200

In [217]:
# female subject
IC1_connective1_7f = IC1_connective1_7[0:12]
IC1_connective1_7f = IC1_connective1_7f[["stimulus","she","he"]]
# male subject
IC1_connective1_7m = IC1_connective1_7[12:24]

#### female subject

In [218]:
IC1_connective1_7f

                                    stimulus       she        he
0       Miss Smith charmed Mr. Smith because  0.521327  0.478673
1          The woman charmed the man because  0.737186  0.262814
2                  Mary charmed John because  0.634312  0.365688
3                  Alice charmed Bob because  0.711857  0.288143
4      The actress charmed the actor because  0.766200  0.233800
5           The girl charmed the boy because  0.728443  0.271557
6   Mrs. Taylor charmed Mr. Williams because  0.454068  0.545932
7                 Emma charmed David because  0.644147  0.355853
8    The princess charmed the prince because  0.736931  0.263069
9               Sarah charmed Robert because  0.451857  0.548143
10  Mrs. Williams charmed Mr. Taylor because  0.432030  0.567970
11                Emily charmed Paul because  0.678421  0.321579

In [219]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_7f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_7f,'he'))

P('subj-pron'|subj=female) =  0.6247316350539526
P('non-subj-pron'|subj=female) =  0.3752683761219184

In [220]:
c1_average_subj_female_subj_pron['charmed'] = compute_average(IC1_connective1_7f,'she')
c1_average_subj_female_obj_pron['charmed'] = compute_average(IC1_connective1_7f,'he')

#### male subject

In [221]:
IC1_connective1_7m

                                    stimulus        he       she
12      Mr. Smith charmed Miss Smith because  0.626407  0.373593
13         The man charmed the woman because  0.720964  0.279036
14                 John charmed Mary because  0.670197  0.329803
15                 Bob charmed Alice because  0.626922  0.373078
16     The actor charmed the actress because  0.707267  0.292733
17          The boy charmed the girl because  0.723662  0.276338
18   Mr. William charmed Mrs. Taylor because  0.680059  0.319941
19                David charmed Emma because  0.529448  0.470552
20   The prince charmed the princess because  0.691458  0.308542
21              Robert charmed Sarah because  0.617962  0.382038
22  Mr. Taylor charmed Mrs. Williams because  0.638019  0.361981
23                Paul charmed Emily because  0.525194  0.474806

In [222]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_7m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_7m,'she'))

P('subj-pron'|subj=male) =  0.6464632054169973
P('non-subj-pron'|subj=male) =  0.35353679209947586

In [223]:
c1_average_subj_male_subj_pron['charmed'] = compute_average(IC1_connective1_7m,'he')
c1_average_subj_male_obj_pron['charmed'] = compute_average(IC1_connective1_7m,'she')

### verb: "offended"

In [224]:
IC1_connective1_8 = pd.read_csv("../results/gpt2/IC1/connective1/8.csv")
IC1_connective1_8.head()

                                 stimulus        he       she
0   Miss Smith offended Mr. Smith because  0.458636  0.541364
1      The woman offended the man because  0.370803  0.629197
2              Mary offended John because  0.288750  0.711250
3              Alice offended Bob because  0.302072  0.697928
4  The actress offended the actor because  0.368453  0.631548

In [225]:
# female subject
IC1_connective1_8f = IC1_connective1_8[0:12]
IC1_connective1_8f = IC1_connective1_8f[["stimulus","she","he"]]
# male subject
IC1_connective1_8m = IC1_connective1_8[12:24]

#### female subject

In [226]:
IC1_connective1_8f

                                     stimulus       she        he
0       Miss Smith offended Mr. Smith because  0.541364  0.458636
1          The woman offended the man because  0.629197  0.370803
2                  Mary offended John because  0.711250  0.288750
3                  Alice offended Bob because  0.697928  0.302072
4      The actress offended the actor because  0.631548  0.368453
5           The girl offended the boy because  0.664913  0.335087
6   Mrs. Taylor offended Mr. Williams because  0.518210  0.481790
7                 Emma offended David because  0.675956  0.324044
8    The princess offended the prince because  0.747427  0.252573
9               Sarah offended Robert because  0.461219  0.538781
10  Mrs. Williams offended Mr. Taylor because  0.490699  0.509301
11                Emily offended Paul because  0.734178  0.265822

In [227]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_8f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_8f,'he'))

P('subj-pron'|subj=female) =  0.6253240803877512
P('non-subj-pron'|subj=female) =  0.3746759171287219

In [228]:
c1_average_subj_female_subj_pron['offended'] = compute_average(IC1_connective1_8f,'she')
c1_average_subj_female_obj_pron['offended'] = compute_average(IC1_connective1_8f,'he')

#### male subject

In [229]:
IC1_connective1_8m

                                     stimulus        he       she
12      Mr. Smith offended Miss Smith because  0.565225  0.434775
13         The man offended the woman because  0.647618  0.352382
14                 John offended Mary because  0.682863  0.317137
15                 Bob offended Alice because  0.586906  0.413094
16     The actor offended the actress because  0.628975  0.371025
17          The boy offended the girl because  0.667609  0.332391
18   Mr. William offended Mrs. Taylor because  0.614218  0.385782
19                David offended Emma because  0.566396  0.433604
20   The prince offended the princess because  0.721270  0.278730
21              Robert offended Sarah because  0.594014  0.405986
22  Mr. Taylor offended Mrs. Williams because  0.605244  0.394756
23                Paul offended Emily because  0.513430  0.486571

In [230]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_8m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_8m,'she'))

P('subj-pron'|subj=male) =  0.6161474287509918
P('non-subj-pron'|subj=male) =  0.383852556347847

In [231]:
c1_average_subj_male_subj_pron['offended'] = compute_average(IC1_connective1_8m,'he')
c1_average_subj_male_obj_pron['offended'] = compute_average(IC1_connective1_8m,'she')

### verb: "confessed"

In [232]:
IC1_connective1_9 = pd.read_csv("../results/gpt2/IC1/connective1/9.csv")
IC1_connective1_9.head()

                                     stimulus        he       she
0   Miss Smith confessed to Mr. Smith because  0.445060  0.554940
1      The woman confessed to the man because  0.283640  0.716360
2              Mary confessed to John because  0.313172  0.686828
3              Alice confessed to Bob because  0.230260  0.769740
4  The actress confessed to the actor because  0.310201  0.689799

In [233]:
# female subject
IC1_connective1_9f = IC1_connective1_9[0:12]
IC1_connective1_9f = IC1_connective1_9f[["stimulus","she","he"]]
# male subject
IC1_connective1_9m = IC1_connective1_9[12:24]

#### female subject

In [234]:
IC1_connective1_9f

                                         stimulus       she        he
0       Miss Smith confessed to Mr. Smith because  0.554940  0.445060
1          The woman confessed to the man because  0.716360  0.283640
2                  Mary confessed to John because  0.686828  0.313172
3                  Alice confessed to Bob because  0.769740  0.230260
4      The actress confessed to the actor because  0.689799  0.310201
5           The girl confessed to the boy because  0.719917  0.280083
6   Mrs. Taylor confessed to Mr. Williams because  0.576202  0.423798
7                 Emma confessed to David because  0.674941  0.325059
8    The princess confessed to the prince because  0.805091  0.194909
9               Sarah confessed to Robert because  0.662315  0.337685
10  Mrs. Williams confessed to Mr. Taylor because  0.579733  0.420267
11                Emily confessed to Paul because  0.790024  0.209975

In [235]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_9f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_9f,'he'))

P('subj-pron'|subj=female) =  0.6854909360408783
P('non-subj-pron'|subj=female) =  0.3145090602338314

In [236]:
c1_average_subj_female_subj_pron['confessed'] = compute_average(IC1_connective1_9f,'she')
c1_average_subj_female_obj_pron['confessed'] = compute_average(IC1_connective1_9f,'he')

#### male subject

In [237]:
IC1_connective1_9m

                                         stimulus        he       she
12      Mr. Smith confessed to Miss Smith because  0.582677  0.417323
13         The man confessed to the woman because  0.687205  0.312795
14                 John confessed to Mary because  0.696110  0.303890
15                 Bob confessed to Alice because  0.700419  0.299581
16     The actor confessed to the actress because  0.621212  0.378788
17          The boy confessed to the girl because  0.678376  0.321624
18   Mr. William confessed to Mrs. Taylor because  0.655415  0.344585
19                David confessed to Emma because  0.643647  0.356353
20   The prince confessed to the princess because  0.680174  0.319826
21              Robert confessed to Sarah because  0.691029  0.308971
22  Mr. Taylor confessed to Mrs. Williams because  0.688190  0.311810
23                Paul confessed to Emily because  0.655654  0.344346

In [238]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_9m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_9m,'she'))

P('subj-pron'|subj=male) =  0.665009081363678
P('non-subj-pron'|subj=male) =  0.3349909335374832

In [239]:
c1_average_subj_male_subj_pron['confessed'] = compute_average(IC1_connective1_9m,'he')
c1_average_subj_male_obj_pron['confessed'] = compute_average(IC1_connective1_9m,'she')

### verb: "deceived"

In [240]:
IC1_connective1_10 = pd.read_csv("../results/gpt2/IC1/connective1/10.csv")
IC1_connective1_10.head()

                                 stimulus        he       she
0   Miss Smith deceived Mr. Smith because  0.398589  0.601411
1      The woman deceived the man because  0.181664  0.818335
2              Mary deceived John because  0.242731  0.757269
3              Alice deceived Bob because  0.306321  0.693679
4  The actress deceived the actor because  0.178944  0.821056

In [241]:
# female subject
IC1_connective1_10f = IC1_connective1_10[0:12]
IC1_connective1_10f = IC1_connective1_10f[["stimulus","she","he"]]
# male subject
IC1_connective1_10m = IC1_connective1_10[12:24]

#### female subject

In [242]:
IC1_connective1_10f

                                     stimulus       she        he
0       Miss Smith deceived Mr. Smith because  0.601411  0.398589
1          The woman deceived the man because  0.818335  0.181664
2                  Mary deceived John because  0.757269  0.242731
3                  Alice deceived Bob because  0.693679  0.306321
4      The actress deceived the actor because  0.821056  0.178944
5           The girl deceived the boy because  0.800267  0.199733
6   Mrs. Taylor deceived Mr. Williams because  0.556184  0.443816
7                 Emma deceived David because  0.753962  0.246038
8    The princess deceived the prince because  0.822262  0.177738
9               Sarah deceived Robert because  0.498670  0.501330
10  Mrs. Williams deceived Mr. Taylor because  0.548207  0.451793
11                Emily deceived Paul because  0.789171  0.210829

In [243]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_10f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_10f,'he'))

P('subj-pron'|subj=female) =  0.7050395210584005
P('non-subj-pron'|subj=female) =  0.2949604814251264

In [244]:
c1_average_subj_female_subj_pron['deceived'] = compute_average(IC1_connective1_10f,'she')
c1_average_subj_female_obj_pron['deceived'] = compute_average(IC1_connective1_10f,'he')

#### male subject

In [245]:
IC1_connective1_10m

                                     stimulus        he       she
12      Mr. Smith deceived Miss Smith because  0.634908  0.365092
13         The man deceived the woman because  0.859699  0.140302
14                 John deceived Mary because  0.781967  0.218033
15                 Bob deceived Alice because  0.848257  0.151743
16     The actor deceived the actress because  0.746479  0.253521
17          The boy deceived the girl because  0.782354  0.217646
18   Mr. William deceived Mrs. Taylor because  0.681150  0.318850
19                David deceived Emma because  0.684253  0.315747
20   The prince deceived the princess because  0.752411  0.247589
21              Robert deceived Sarah because  0.715821  0.284179
22  Mr. Taylor deceived Mrs. Williams because  0.712342  0.287658
23                Paul deceived Emily because  0.640111  0.359889

In [246]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_10m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_10m,'she'))

P('subj-pron'|subj=male) =  0.7366458574930826
P('non-subj-pron'|subj=male) =  0.2633541611333688

In [247]:
c1_average_subj_male_subj_pron['deceived'] = compute_average(IC1_connective1_10m,'he')
c1_average_subj_male_obj_pron['deceived'] = compute_average(IC1_connective1_10m,'she')

### verb: "disappointed"

In [248]:
IC1_connective1_11 = pd.read_csv("../results/gpt2/IC1/connective1/11.csv")
IC1_connective1_11.head()

                                     stimulus        he       she
0   Miss Smith disappointed Mr. Smith because  0.478675  0.521325
1      The woman disappointed the man because  0.285726  0.714274
2              Mary disappointed John because  0.290749  0.709251
3              Alice disappointed Bob because  0.358718  0.641282
4  The actress disappointed the actor because  0.237593  0.762407

In [249]:
# female subject
IC1_connective1_11f = IC1_connective1_11[0:12]
IC1_connective1_11f = IC1_connective1_11f[["stimulus","she","he"]]
# male subject
IC1_connective1_11m = IC1_connective1_11[12:24]

#### female subject

In [250]:
IC1_connective1_11f

                                         stimulus       she        he
0       Miss Smith disappointed Mr. Smith because  0.521325  0.478675
1          The woman disappointed the man because  0.714274  0.285726
2                  Mary disappointed John because  0.709251  0.290749
3                  Alice disappointed Bob because  0.641282  0.358718
4      The actress disappointed the actor because  0.762407  0.237593
5           The girl disappointed the boy because  0.847258  0.152742
6   Mrs. Taylor disappointed Mr. Williams because  0.508561  0.491439
7                 Emma disappointed David because  0.726187  0.273813
8    The princess disappointed the prince because  0.864931  0.135069
9               Sarah disappointed Robert because  0.435418  0.564582
10  Mrs. Williams disappointed Mr. Taylor because  0.482737  0.517263
11                Emily disappointed Paul because  0.731900  0.268100

In [251]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_11f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_11f,'he'))

P('subj-pron'|subj=female) =  0.6621275643507639
P('non-subj-pron'|subj=female) =  0.337872435649236

In [252]:
c1_average_subj_female_subj_pron['disappointed'] = compute_average(IC1_connective1_11f,'she')
c1_average_subj_female_obj_pron['disappointed'] = compute_average(IC1_connective1_11f,'he')

#### male subject

In [253]:
IC1_connective1_11m

                                         stimulus        he       she
12      Mr. Smith disappointed Miss Smith because  0.553104  0.446896
13         The man disappointed the woman because  0.780345  0.219655
14                 John disappointed Mary because  0.761282  0.238718
15                 Bob disappointed Alice because  0.671358  0.328642
16     The actor disappointed the actress because  0.695157  0.304843
17          The boy disappointed the girl because  0.808527  0.191473
18   Mr. William disappointed Mrs. Taylor because  0.695353  0.304647
19                David disappointed Emma because  0.552145  0.447856
20   The prince disappointed the princess because  0.833052  0.166948
21              Robert disappointed Sarah because  0.676650  0.323350
22  Mr. Taylor disappointed Mrs. Williams because  0.666628  0.333372
23                Paul disappointed Emily because  0.544108  0.455892

In [254]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_11m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_11m,'she'))

P('subj-pron'|subj=male) =  0.6864757388830185
P('non-subj-pron'|subj=male) =  0.3135242871940136

In [255]:
c1_average_subj_male_subj_pron['disappointed'] = compute_average(IC1_connective1_11m,'he')
c1_average_subj_male_obj_pron['disappointed'] = compute_average(IC1_connective1_11m,'she')

### verb: "exasperated"

In [256]:
IC1_connective1_12 = pd.read_csv("../results/gpt2/IC1/connective1/12.csv")
IC1_connective1_12.head()

                                    stimulus        he       she
0   Miss Smith exasperated Mr. Smith because  0.623667  0.376333
1      The woman exasperated the man because  0.383107  0.616893
2              Mary exasperated John because  0.393104  0.606896
3              Alice exasperated Bob because  0.513163  0.486837
4  The actress exasperated the actor because  0.356043  0.643957

In [257]:
# female subject
IC1_connective1_12f = IC1_connective1_12[0:12]
IC1_connective1_12f = IC1_connective1_12f[["stimulus","she","he"]]
# male subject
IC1_connective1_12m = IC1_connective1_12[12:24]

#### female subject

In [258]:
IC1_connective1_12f

                                        stimulus       she        he
0       Miss Smith exasperated Mr. Smith because  0.376333  0.623667
1          The woman exasperated the man because  0.616893  0.383107
2                  Mary exasperated John because  0.606896  0.393104
3                  Alice exasperated Bob because  0.486837  0.513163
4      The actress exasperated the actor because  0.643957  0.356043
5           The girl exasperated the boy because  0.675602  0.324398
6   Mrs. Taylor exasperated Mr. Williams because  0.404336  0.595664
7                 Emma exasperated David because  0.623024  0.376976
8    The princess exasperated the prince because  0.730487  0.269513
9               Sarah exasperated Robert because  0.404394  0.595606
10  Mrs. Williams exasperated Mr. Taylor because  0.429060  0.570940
11                Emily exasperated Paul because  0.555985  0.444015

In [259]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_12f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_12f,'he'))

P('subj-pron'|subj=female) =  0.5461501628160477
P('non-subj-pron'|subj=female) =  0.4538498322168986

In [260]:
c1_average_subj_female_subj_pron['exasperated'] = compute_average(IC1_connective1_12f,'she')
c1_average_subj_female_obj_pron['exasperated'] = compute_average(IC1_connective1_12f,'he')

#### male subject

In [261]:
IC1_connective1_12m

                                        stimulus        he       she
12      Mr. Smith exasperated Miss Smith because  0.501225  0.498775
13         The man exasperated the woman because  0.647555  0.352445
14                 John exasperated Mary because  0.628164  0.371836
15                 Bob exasperated Alice because  0.453814  0.546186
16     The actor exasperated the actress because  0.556571  0.443429
17          The boy exasperated the girl because  0.646894  0.353106
18   Mr. William exasperated Mrs. Taylor because  0.549413  0.450587
19                David exasperated Emma because  0.430663  0.569337
20   The prince exasperated the princess because  0.654609  0.345391
21              Robert exasperated Sarah because  0.513800  0.486200
22  Mr. Taylor exasperated Mrs. Williams because  0.522460  0.477540
23                Paul exasperated Emily because  0.511955  0.488045

In [262]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_12m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_12m,'she'))

P('subj-pron'|subj=male) =  0.5514270390073458
P('non-subj-pron'|subj=male) =  0.44857296347618103

In [263]:
c1_average_subj_male_subj_pron['exasperated'] = compute_average(IC1_connective1_12m,'he')
c1_average_subj_male_obj_pron['exasperated'] = compute_average(IC1_connective1_12m,'she')

### verb: "fascinated"

In [264]:
IC1_connective1_13 = pd.read_csv("../results/gpt2/IC1/connective1/13.csv")
IC1_connective1_13.head()

                                   stimulus        he       she
0   Miss Smith fascinated Mr. Smith because  0.345556  0.654443
1      The woman fascinated the man because  0.191150  0.808850
2              Mary fascinated John because  0.318920  0.681080
3              Alice fascinated Bob because  0.339455  0.660545
4  The actress fascinated the actor because  0.236672  0.763328

In [265]:
# female subject
IC1_connective1_13f = IC1_connective1_13[0:12]
IC1_connective1_13f = IC1_connective1_13f[["stimulus","she","he"]]
# male subject
IC1_connective1_13m = IC1_connective1_13[12:24]

#### female subject

In [266]:
IC1_connective1_13f

                                       stimulus       she        he
0       Miss Smith fascinated Mr. Smith because  0.654443  0.345556
1          The woman fascinated the man because  0.808850  0.191150
2                  Mary fascinated John because  0.681080  0.318920
3                  Alice fascinated Bob because  0.660545  0.339455
4      The actress fascinated the actor because  0.763328  0.236672
5           The girl fascinated the boy because  0.842181  0.157819
6   Mrs. Taylor fascinated Mr. Williams because  0.550691  0.449309
7                 Emma fascinated David because  0.656880  0.343120
8    The princess fascinated the prince because  0.853584  0.146416
9               Sarah fascinated Robert because  0.479014  0.520986
10  Mrs. Williams fascinated Mr. Taylor because  0.532009  0.467991
11                Emily fascinated Paul because  0.722790  0.277210

In [267]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_13f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_13f,'he'))

P('subj-pron'|subj=female) =  0.6837830493847529
P('non-subj-pron'|subj=female) =  0.316216924538215

In [268]:
c1_average_subj_female_subj_pron['fascinated'] = compute_average(IC1_connective1_13f,'she')
c1_average_subj_female_obj_pron['fascinated'] = compute_average(IC1_connective1_13f,'he')

#### male subject

In [269]:
IC1_connective1_13m

                                       stimulus        he       she
12      Mr. Smith fascinated Miss Smith because  0.663773  0.336227
13         The man fascinated the woman because  0.760044  0.239956
14                 John fascinated Mary because  0.699488  0.300512
15                 Bob fascinated Alice because  0.602197  0.397803
16     The actor fascinated the actress because  0.673581  0.326419
17          The boy fascinated the girl because  0.765846  0.234154
18   Mr. William fascinated Mrs. Taylor because  0.690518  0.309482
19                David fascinated Emma because  0.586427  0.413573
20   The prince fascinated the princess because  0.787662  0.212338
21              Robert fascinated Sarah because  0.668028  0.331972
22  Mr. Taylor fascinated Mrs. Williams because  0.672499  0.327501
23                Paul fascinated Emily because  0.619625  0.380375

In [270]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_13m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_13m,'she'))

P('subj-pron'|subj=male) =  0.6824739575386047
P('non-subj-pron'|subj=male) =  0.31752603873610497

In [271]:
c1_average_subj_male_subj_pron['fascinated'] = compute_average(IC1_connective1_13m,'he')
c1_average_subj_male_obj_pron['fascinated'] = compute_average(IC1_connective1_13m,'she')

### verb: "frightened"

In [272]:
IC1_connective1_14 = pd.read_csv("../results/gpt2/IC1/connective1/14.csv")
IC1_connective1_14.head()

                                   stimulus        he       she
0   Miss Smith frightened Mr. Smith because  0.433177  0.566823
1      The woman frightened the man because  0.330802  0.669198
2              Mary frightened John because  0.307033  0.692967
3              Alice frightened Bob because  0.347535  0.652465
4  The actress frightened the actor because  0.347645  0.652355

In [273]:
# female subject
IC1_connective1_14f = IC1_connective1_14[0:12]
IC1_connective1_14f = IC1_connective1_14f[["stimulus","she","he"]]
# male subject
IC1_connective1_14m = IC1_connective1_14[12:24]

#### female subject

In [274]:
IC1_connective1_14f

                                       stimulus       she        he
0       Miss Smith frightened Mr. Smith because  0.566823  0.433177
1          The woman frightened the man because  0.669198  0.330802
2                  Mary frightened John because  0.692967  0.307033
3                  Alice frightened Bob because  0.652465  0.347535
4      The actress frightened the actor because  0.652355  0.347645
5           The girl frightened the boy because  0.721351  0.278649
6   Mrs. Taylor frightened Mr. Williams because  0.512888  0.487112
7                 Emma frightened David because  0.715963  0.284037
8    The princess frightened the prince because  0.829631  0.170369
9               Sarah frightened Robert because  0.430047  0.569953
10  Mrs. Williams frightened Mr. Taylor because  0.499545  0.500455
11                Emily frightened Paul because  0.717671  0.282329

In [275]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_14f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_14f,'he'))

P('subj-pron'|subj=female) =  0.6384084969758987
P('non-subj-pron'|subj=female) =  0.36159150302410126

In [276]:
c1_average_subj_female_subj_pron['frightened'] = compute_average(IC1_connective1_14f,'she')
c1_average_subj_female_obj_pron['frightened'] = compute_average(IC1_connective1_14f,'he')

#### male subject

In [277]:
IC1_connective1_14m

                                       stimulus        he       she
12      Mr. Smith frightened Miss Smith because  0.614800  0.385200
13         The man frightened the woman because  0.733139  0.266861
14                 John frightened Mary because  0.722378  0.277622
15                 Bob frightened Alice because  0.615548  0.384452
16     The actor frightened the actress because  0.644997  0.355003
17          The boy frightened the girl because  0.775117  0.224883
18   Mr. William frightened Mrs. Taylor because  0.691491  0.308509
19                David frightened Emma because  0.580953  0.419047
20   The prince frightened the princess because  0.838580  0.161420
21              Robert frightened Sarah because  0.699931  0.300069
22  Mr. Taylor frightened Mrs. Williams because  0.655557  0.344443
23                Paul frightened Emily because  0.613457  0.386543

In [278]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_14m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_14m,'she'))

P('subj-pron'|subj=male) =  0.6821623394886652
P('non-subj-pron'|subj=male) =  0.3178376592695713

In [279]:
c1_average_subj_male_subj_pron['frightened'] = compute_average(IC1_connective1_14m,'he')
c1_average_subj_male_obj_pron['frightened'] = compute_average(IC1_connective1_14m,'she')

### verb: "humiliated"

In [280]:
IC1_connective1_15 = pd.read_csv("../results/gpt2/IC1/connective1/15.csv")
IC1_connective1_15.head()

                                   stimulus        he       she
0   Miss Smith humiliated Mr. Smith because  0.629715  0.370285
1      The woman humiliated the man because  0.460882  0.539118
2              Mary humiliated John because  0.382857  0.617143
3              Alice humiliated Bob because  0.398900  0.601100
4  The actress humiliated the actor because  0.420359  0.579640

In [281]:
# female subject
IC1_connective1_15f = IC1_connective1_15[0:12]
IC1_connective1_15f = IC1_connective1_15f[["stimulus","she","he"]]
# male subject
IC1_connective1_15m = IC1_connective1_15[12:24]

#### female subject

In [282]:
IC1_connective1_15f

                                       stimulus       she        he
0       Miss Smith humiliated Mr. Smith because  0.370285  0.629715
1          The woman humiliated the man because  0.539118  0.460882
2                  Mary humiliated John because  0.617143  0.382857
3                  Alice humiliated Bob because  0.601100  0.398900
4      The actress humiliated the actor because  0.579640  0.420359
5           The girl humiliated the boy because  0.543455  0.456545
6   Mrs. Taylor humiliated Mr. Williams because  0.391336  0.608665
7                 Emma humiliated David because  0.591102  0.408898
8    The princess humiliated the prince because  0.619173  0.380827
9               Sarah humiliated Robert because  0.380861  0.619139
10  Mrs. Williams humiliated Mr. Taylor because  0.393526  0.606474
11                Emily humiliated Paul because  0.686987  0.313013

In [283]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_15f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_15f,'he'))

P('subj-pron'|subj=female) =  0.526143821577231
P('non-subj-pron'|subj=female) =  0.4738561809062958

In [284]:
c1_average_subj_female_subj_pron['humiliated'] = compute_average(IC1_connective1_15f,'she')
c1_average_subj_female_obj_pron['humiliated'] = compute_average(IC1_connective1_15f,'he')

#### male subject

In [285]:
IC1_connective1_15m

                                       stimulus        he       she
12      Mr. Smith humiliated Miss Smith because  0.420049  0.579951
13         The man humiliated the woman because  0.576066  0.423934
14                 John humiliated Mary because  0.573187  0.426813
15                 Bob humiliated Alice because  0.548211  0.451789
16     The actor humiliated the actress because  0.543739  0.456261
17          The boy humiliated the girl because  0.584230  0.415770
18   Mr. William humiliated Mrs. Taylor because  0.473483  0.526517
19                David humiliated Emma because  0.428375  0.571625
20   The prince humiliated the princess because  0.614600  0.385400
21              Robert humiliated Sarah because  0.517219  0.482781
22  Mr. Taylor humiliated Mrs. Williams because  0.499634  0.500366
23                Paul humiliated Emily because  0.399180  0.600820

In [286]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_15m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_15m,'she'))

P('subj-pron'|subj=male) =  0.5148310512304306
P('non-subj-pron'|subj=male) =  0.4851689462860425

In [287]:
c1_average_subj_male_subj_pron['humiliated'] = compute_average(IC1_connective1_15m,'he')
c1_average_subj_male_obj_pron['humiliated'] = compute_average(IC1_connective1_15m,'she')

### verb: "infuriated"

In [288]:
IC1_connective1_16 = pd.read_csv("../results/gpt2/IC1/connective1/16.csv")
IC1_connective1_16.head()

                                   stimulus        he       she
0   Miss Smith infuriated Mr. Smith because  0.409693  0.590307
1      The woman infuriated the man because  0.330508  0.669492
2              Mary infuriated John because  0.320886  0.679114
3              Alice infuriated Bob because  0.314580  0.685420
4  The actress infuriated the actor because  0.274691  0.725309

In [289]:
# female subject
IC1_connective1_16f = IC1_connective1_16[0:12]
IC1_connective1_16f = IC1_connective1_16f[["stimulus","she","he"]]
# male subject
IC1_connective1_16m = IC1_connective1_16[12:24]

#### female subject

In [290]:
IC1_connective1_16f

                                       stimulus       she        he
0       Miss Smith infuriated Mr. Smith because  0.590307  0.409693
1          The woman infuriated the man because  0.669492  0.330508
2                  Mary infuriated John because  0.679114  0.320886
3                  Alice infuriated Bob because  0.685420  0.314580
4      The actress infuriated the actor because  0.725309  0.274691
5           The girl infuriated the boy because  0.730478  0.269522
6   Mrs. Taylor infuriated Mr. Williams because  0.540453  0.459547
7                 Emma infuriated David because  0.685857  0.314143
8    The princess infuriated the prince because  0.771471  0.228529
9               Sarah infuriated Robert because  0.493999  0.506001
10  Mrs. Williams infuriated Mr. Taylor because  0.536242  0.463758
11                Emily infuriated Paul because  0.750557  0.249443

In [291]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_16f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_16f,'he'))

P('subj-pron'|subj=female) =  0.6548915952444077
P('non-subj-pron'|subj=female) =  0.34510838612914085

In [292]:
c1_average_subj_female_subj_pron['infuriated'] = compute_average(IC1_connective1_16f,'she')
c1_average_subj_female_obj_pron['infuriated'] = compute_average(IC1_connective1_16f,'he')

#### male subject

In [293]:
IC1_connective1_16m

                                       stimulus        he       she
12      Mr. Smith infuriated Miss Smith because  0.574340  0.425660
13         The man infuriated the woman because  0.669475  0.330525
14                 John infuriated Mary because  0.668010  0.331990
15                 Bob infuriated Alice because  0.572481  0.427519
16     The actor infuriated the actress because  0.648726  0.351274
17          The boy infuriated the girl because  0.699629  0.300370
18   Mr. William infuriated Mrs. Taylor because  0.631475  0.368525
19                David infuriated Emma because  0.523936  0.476064
20   The prince infuriated the princess because  0.706783  0.293217
21              Robert infuriated Sarah because  0.625711  0.374289
22  Mr. Taylor infuriated Mrs. Williams because  0.634360  0.365640
23                Paul infuriated Emily because  0.513582  0.486418

In [294]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_16m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_16m,'she'))

P('subj-pron'|subj=male) =  0.6223756720622381
P('non-subj-pron'|subj=male) =  0.3776243254542351

In [295]:
c1_average_subj_male_subj_pron['infuriated'] = compute_average(IC1_connective1_16m,'he')
c1_average_subj_male_obj_pron['infuriated'] = compute_average(IC1_connective1_16m,'she')

### verb: "inspires"

In [296]:
IC1_connective1_17 = pd.read_csv("../results/gpt2/IC1/connective1/17.csv")
IC1_connective1_17.head()

                                 stimulus        he       she
0   Miss Smith inspires Mr. Smith because  0.347497  0.652503
1      The woman inspires the man because  0.227536  0.772464
2              Mary inspires John because  0.446421  0.553579
3              Alice inspires Bob because  0.356018  0.643982
4  The actress inspires the actor because  0.148393  0.851607

In [297]:
# female subject
IC1_connective1_17f = IC1_connective1_17[0:12]
IC1_connective1_17f = IC1_connective1_17f[["stimulus","she","he"]]
# male subject
IC1_connective1_17m = IC1_connective1_17[12:24]

#### female subject

In [298]:
IC1_connective1_17f

                                     stimulus       she        he
0       Miss Smith inspires Mr. Smith because  0.652503  0.347497
1          The woman inspires the man because  0.772464  0.227536
2                  Mary inspires John because  0.553579  0.446421
3                  Alice inspires Bob because  0.643982  0.356018
4      The actress inspires the actor because  0.851607  0.148393
5           The girl inspires the boy because  0.776570  0.223430
6   Mrs. Taylor inspires Mr. Williams because  0.463934  0.536066
7                 Emma inspires David because  0.620724  0.379276
8    The princess inspires the prince because  0.788469  0.211531
9               Sarah inspires Robert because  0.386055  0.613945
10  Mrs. Williams inspires Mr. Taylor because  0.469330  0.530670
11                Emily inspires Paul because  0.625439  0.374561

In [299]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_17f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_17f,'he'))

P('subj-pron'|subj=female) =  0.6337213317553202
P('non-subj-pron'|subj=female) =  0.36627864961822826

In [300]:
c1_average_subj_female_subj_pron['inspires'] = compute_average(IC1_connective1_17f,'she')
c1_average_subj_female_obj_pron['inspires'] = compute_average(IC1_connective1_17f,'he')

#### male subject

In [301]:
IC1_connective1_17m

                                     stimulus        he       she
12      Mr. Smith inspires Miss Smith because  0.524691  0.475309
13         The man inspires the woman because  0.784830  0.215170
14                 John inspires Mary because  0.626606  0.373394
15                 Bob inspires Alice because  0.505693  0.494307
16     The actor inspires the actress because  0.726491  0.273509
17          The boy inspires the girl because  0.743984  0.256016
18   Mr. William inspires Mrs. Taylor because  0.512605  0.487395
19                David inspires Emma because  0.516121  0.483879
20   The prince inspires the princess because  0.772962  0.227038
21              Robert inspires Sarah because  0.647139  0.352860
22  Mr. Taylor inspires Mrs. Williams because  0.506800  0.493200
23                Paul inspires Emily because  0.486448  0.513552

In [302]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_17m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_17m,'she'))

P('subj-pron'|subj=male) =  0.6128642732898394
P('non-subj-pron'|subj=male) =  0.38713572671016055

In [303]:
c1_average_subj_male_subj_pron['inspires'] = compute_average(IC1_connective1_17m,'he')
c1_average_subj_male_obj_pron['inspires'] = compute_average(IC1_connective1_17m,'she')

### verb: "intimidates"

In [304]:
IC1_connective1_18 = pd.read_csv("../results/gpt2/IC1/connective1/18.csv")
IC1_connective1_18.head()

                                    stimulus        he       she
0   Miss Smith intimidates Mr. Smith because  0.420327  0.579673
1      The woman intimidates the man because  0.354937  0.645063
2              Mary intimidates John because  0.298218  0.701782
3              Alice intimidates Bob because  0.287166  0.712834
4  The actress intimidates the actor because  0.192561  0.807438

In [305]:
# female subject
IC1_connective1_18f = IC1_connective1_18[0:12]
IC1_connective1_18f = IC1_connective1_18f[["stimulus","she","he"]]
# male subject
IC1_connective1_18m = IC1_connective1_18[12:24]

#### female subject

In [306]:
IC1_connective1_18f

                                        stimulus       she        he
0       Miss Smith intimidates Mr. Smith because  0.579673  0.420327
1          The woman intimidates the man because  0.645063  0.354937
2                  Mary intimidates John because  0.701782  0.298218
3                  Alice intimidates Bob because  0.712834  0.287166
4      The actress intimidates the actor because  0.807438  0.192561
5           The girl intimidates the boy because  0.634822  0.365178
6   Mrs. Taylor intimidates Mr. Williams because  0.544526  0.455474
7                 Emma intimidates David because  0.713066  0.286934
8    The princess intimidates the prince because  0.728253  0.271747
9               Sarah intimidates Robert because  0.462970  0.537030
10  Mrs. Williams intimidates Mr. Taylor because  0.555954  0.444046
11                Emily intimidates Paul because  0.758958  0.241042

In [307]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_18f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_18f,'he'))

P('subj-pron'|subj=female) =  0.6537782996892929
P('non-subj-pron'|subj=female) =  0.3462216891348362

In [308]:
c1_average_subj_female_subj_pron['intimidates'] = compute_average(IC1_connective1_18f,'she')
c1_average_subj_female_obj_pron['intimidates'] = compute_average(IC1_connective1_18f,'he')

#### male subject

In [309]:
IC1_connective1_18m

                                        stimulus        he       she
12      Mr. Smith intimidates Miss Smith because  0.546195  0.453805
13         The man intimidates the woman because  0.705443  0.294557
14                 John intimidates Mary because  0.668245  0.331755
15                 Bob intimidates Alice because  0.645093  0.354907
16     The actor intimidates the actress because  0.735045  0.264955
17          The boy intimidates the girl because  0.731701  0.268299
18   Mr. William intimidates Mrs. Taylor because  0.592854  0.407146
19                David intimidates Emma because  0.603587  0.396413
20   The prince intimidates the princess because  0.762605  0.237395
21              Robert intimidates Sarah because  0.683948  0.316052
22  Mr. Taylor intimidates Mrs. Williams because  0.598827  0.401173
23                Paul intimidates Emily because  0.629995  0.370005

In [310]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_18m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_18m,'she'))

P('subj-pron'|subj=male) =  0.6586280713478724
P('non-subj-pron'|subj=male) =  0.34137192616860074

In [311]:
c1_average_subj_male_subj_pron['intimidates'] = compute_average(IC1_connective1_18m,'he')
c1_average_subj_male_obj_pron['intimidates'] = compute_average(IC1_connective1_18m,'she')

### verb: "scares"

In [312]:
IC1_connective1_19 = pd.read_csv("../results/gpt2/IC1/connective1/19.csv")
IC1_connective1_19.head()

                               stimulus        he       she
0   Miss Smith scares Mr. Smith because  0.362331  0.637669
1      The woman scares the man because  0.337745  0.662255
2              Mary scares John because  0.238737  0.761263
3              Alice scares Bob because  0.259719  0.740281
4  The actress scares the actor because  0.252299  0.747701

In [313]:
# female subject
IC1_connective1_19f = IC1_connective1_19[0:12]
IC1_connective1_19f = IC1_connective1_19f[["stimulus","she","he"]]
# male subject
IC1_connective1_19m = IC1_connective1_19[12:24]

#### female subject

In [314]:
IC1_connective1_19f

                                   stimulus       she        he
0       Miss Smith scares Mr. Smith because  0.637669  0.362331
1          The woman scares the man because  0.662255  0.337745
2                  Mary scares John because  0.761263  0.238737
3                  Alice scares Bob because  0.740281  0.259719
4      The actress scares the actor because  0.747701  0.252299
5           The girl scares the boy because  0.703358  0.296642
6   Mrs. Taylor scares Mr. Williams because  0.586025  0.413975
7                 Emma scares David because  0.752533  0.247467
8    The princess scares the prince because  0.733600  0.266400
9               Sarah scares Robert because  0.552128  0.447872
10  Mrs. Williams scares Mr. Taylor because  0.621379  0.378621
11                Emily scares Paul because  0.812719  0.187281

In [315]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_19f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_19f,'he'))

P('subj-pron'|subj=female) =  0.6925760259230932
P('non-subj-pron'|subj=female) =  0.30742397780219716

In [316]:
c1_average_subj_female_subj_pron['scares'] = compute_average(IC1_connective1_19f,'she')
c1_average_subj_female_obj_pron['scares'] = compute_average(IC1_connective1_19f,'he')

#### male subject

In [317]:
IC1_connective1_19m

                                   stimulus        he       she
12      Mr. Smith scares Miss Smith because  0.678308  0.321692
13         The man scares the woman because  0.749910  0.250090
14                 John scares Mary because  0.747689  0.252311
15                 Bob scares Alice because  0.697998  0.302002
16     The actor scares the actress because  0.680401  0.319599
17          The boy scares the girl because  0.734462  0.265538
18   Mr. William scares Mrs. Taylor because  0.675100  0.324900
19                David scares Emma because  0.631470  0.368530
20   The prince scares the princess because  0.841566  0.158434
21              Robert scares Sarah because  0.732124  0.267876
22  Mr. Taylor scares Mrs. Williams because  0.681633  0.318367
23                Paul scares Emily because  0.622982  0.377018

In [318]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_19m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_19m,'she'))

P('subj-pron'|subj=male) =  0.7061369667450587
P('non-subj-pron'|subj=male) =  0.29386303822199505

In [319]:
c1_average_subj_male_subj_pron['scares'] = compute_average(IC1_connective1_19m,'he')
c1_average_subj_male_obj_pron['scares'] = compute_average(IC1_connective1_19m,'she')

### verb: "surprised"

In [320]:
IC1_connective1_20 = pd.read_csv("../results/gpt2/IC1/connective1/20.csv")
IC1_connective1_20.head()

                                  stimulus        he       she
0   Miss Smith surprised Mr. Smith because  0.485987  0.514013
1      The woman surprised the man because  0.235005  0.764994
2              Mary surprised John because  0.308685  0.691315
3              Alice surprised Bob because  0.312842  0.687158
4  The actress surprised the actor because  0.286004  0.713996

In [321]:
# female subject
IC1_connective1_20f = IC1_connective1_20[0:12]
IC1_connective1_20f = IC1_connective1_20f[["stimulus","she","he"]]
# male subject
IC1_connective1_20m = IC1_connective1_20[12:24]

#### female subject

In [322]:
IC1_connective1_20f

                                      stimulus       she        he
0       Miss Smith surprised Mr. Smith because  0.514013  0.485987
1          The woman surprised the man because  0.764994  0.235005
2                  Mary surprised John because  0.691315  0.308685
3                  Alice surprised Bob because  0.687158  0.312842
4      The actress surprised the actor because  0.713996  0.286004
5           The girl surprised the boy because  0.814788  0.185212
6   Mrs. Taylor surprised Mr. Williams because  0.428291  0.571709
7                 Emma surprised David because  0.647591  0.352409
8    The princess surprised the prince because  0.867599  0.132400
9               Sarah surprised Robert because  0.391011  0.608989
10  Mrs. Williams surprised Mr. Taylor because  0.425039  0.574961
11                Emily surprised Paul because  0.582411  0.417589

In [323]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_20f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_20f,'he'))

P('subj-pron'|subj=female) =  0.6273504669467608
P('non-subj-pron'|subj=female) =  0.37264952684442204

In [324]:
c1_average_subj_female_subj_pron['surprised'] = compute_average(IC1_connective1_20f,'she')
c1_average_subj_female_obj_pron['surprised'] = compute_average(IC1_connective1_20f,'he')

#### male subject

In [325]:
IC1_connective1_20m

                                      stimulus        he       she
12      Mr. Smith surprised Miss Smith because  0.549619  0.450381
13         The man surprised the woman because  0.766765  0.233235
14                 John surprised Mary because  0.700301  0.299699
15                 Bob surprised Alice because  0.681907  0.318093
16     The actor surprised the actress because  0.692191  0.307809
17          The boy surprised the girl because  0.772039  0.227961
18   Mr. William surprised Mrs. Taylor because  0.617428  0.382572
19                David surprised Emma because  0.562997  0.437003
20   The prince surprised the princess because  0.813193  0.186807
21              Robert surprised Sarah because  0.644852  0.355148
22  Mr. Taylor surprised Mrs. Williams because  0.594759  0.405241
23                Paul surprised Emily because  0.614495  0.385505

In [326]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_20m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_20m,'she'))

P('subj-pron'|subj=male) =  0.6675453831752142
P('non-subj-pron'|subj=male) =  0.3324546242753665

In [327]:
c1_average_subj_male_subj_pron['surprised'] = compute_average(IC1_connective1_20m,'he')
c1_average_subj_male_obj_pron['surprised'] = compute_average(IC1_connective1_20m,'she')

## Summary of Results

In [328]:
c1_results_fsubj_subjpron = pd.DataFrame(list(c1_average_subj_female_subj_pron.items()),columns=['verb','subj_ref_female_subj'])
c1_results_fsubj_objpron = pd.DataFrame(list(c1_average_subj_female_obj_pron.items()),columns=['verb','obj_ref_female_subj'])
c1_results_fsubj = c1_results_fsubj_subjpron.merge(c1_results_fsubj_objpron)
c1_results_fsubj

            verb  subj_ref_female_subj  obj_ref_female_subj
0     aggravated              0.664709             0.335291
1         amazed              0.648517             0.351483
2         amused              0.578591             0.421409
3        annoyed              0.567059             0.432941
4     apologized              0.474557             0.525443
5          bored              0.482258             0.517742
6        charmed              0.624732             0.375268
7       offended              0.625324             0.374676
8      confessed              0.685491             0.314509
9       deceived              0.705040             0.294960
10  disappointed              0.662128             0.337872
11   exasperated              0.546150             0.453850
12    fascinated              0.683783             0.316217
13    frightened              0.638408             0.361592
14    humiliated              0.526144             0.473856
15    infuriated              0.654892             0.345108
16      inspires              0.633721             0.366279
17   intimidates              0.653778             0.346222
18        scares              0.692576             0.307424
19     surprised              0.627350             0.372650

In [329]:
c1_results_msubj_subjpron = pd.DataFrame(list(c1_average_subj_male_subj_pron.items()),columns=['verb','subj_ref_male_subj'])
c1_results_msubj_objpron = pd.DataFrame(list(c1_average_subj_male_obj_pron.items()),columns=['verb','obj_ref_male_subj'])
c1_results_msubj = c1_results_msubj_subjpron.merge(c1_results_msubj_objpron)
c1_results_msubj

            verb  subj_ref_male_subj  obj_ref_male_subj
0     aggravated            0.603949           0.396051
1         amazed            0.648611           0.351389
2         amused            0.637041           0.362959
3        annoyed            0.590321           0.409679
4     apologized            0.714977           0.285023
5          bored            0.612583           0.387417
6        charmed            0.646463           0.353537
7       offended            0.616147           0.383853
8      confessed            0.665009           0.334991
9       deceived            0.736646           0.263354
10  disappointed            0.686476           0.313524
11   exasperated            0.551427           0.448573
12    fascinated            0.682474           0.317526
13    frightened            0.682162           0.317838
14    humiliated            0.514831           0.485169
15    infuriated            0.622376           0.377624
16      inspires            0.612864           0.387136
17   intimidates            0.658628           0.341372
18        scares            0.706137           0.293863
19     surprised            0.667545           0.332455

In [330]:
c1_results = c1_results_fsubj.merge(c1_results_msubj)
c1_results

,verb,subj_ref_female_subj,obj_ref_female_subj,subj_ref_male_subj,obj_ref_male_subj
0,aggravated,0.664709,0.335291,0.603949,0.396051
1,amazed,0.648517,0.351483,0.648611,0.351389
2,amused,0.578591,0.421409,0.637041,0.362959
3,annoyed,0.567059,0.432941,0.590321,0.409679
4,apologized,0.474557,0.525443,0.714977,0.285023
5,bored,0.482258,0.517742,0.612583,0.387417
6,charmed,0.624732,0.375268,0.646463,0.353537
7,offended,0.625324,0.374676,0.616147,0.383853
8,confessed,0.685491,0.314509,0.665009,0.334991
9,deceived,0.705040,0.294960,0.736646,0.263354
10,disappointed,0.662128,0.337872,0.686476,0.313524
11,exasperated,0.546150,0.453850,0.551427,0.448573
12,fascinated,0.683783,0.316217,0.682474,0.317526
13,frightened,0.638408,0.361592,0.682162,0.317838
14,humiliated,0.526144,0.473856,0.514831,0.485169
15,infuriated,0.654892,0.345108,0.622376,0.377624
16,inspires,0.633721,0.366279,0.612864,0.387136
17,intimidates,0.653778,0.346222,0.658628,0.341372
18,scares,0.692576,0.307424,0.706137,0.293863
19,surprised,0.627350,0.372650,0.667545,0.332455

In [331]:
print("P(subj_reference |subj=female)", compute_average(c1_results,'subj_ref_female_subj'))
print("P(obj_reference |subj=female)", compute_average(c1_results,'obj_ref_female_subj'))

P(subj_reference |subj=female) 0.6187603461245695
P(obj_reference |subj=female) 0.3812396514229477

In [332]:
print("P(subj_reference |subj=male)", compute_average(c1_results,'subj_ref_male_subj'))
print("P(obj_reference |subj=male)", compute_average(c1_results,'obj_ref_male_subj'))

P(subj_reference |subj=male) 0.6428333998968203
P(obj_reference |subj=male) 0.35716660395264627

## Connective: "and, as a result"

In [333]:
c2_average_subj_female_subj_pron = {}
c2_average_subj_female_obj_pron = {}
c2_average_subj_male_subj_pron = {}
c2_average_subj_male_obj_pron = {}

### verb: "aggravated"

In [334]:
IC1_connective2_1 = pd.read_csv("../results/gpt2/IC1/connective2/1.csv")
IC1_connective2_1.head()

                                            stimulus        he       she
0  Miss Smith aggravated Mr. Smith and, as a result,  0.723264  0.276736
1     The woman aggravated the man and, as a result,  0.785716  0.214284
2             Mary aggravated John and, as a result,  0.496056  0.503944
3             Alice aggravated Bob and, as a result,  0.482094  0.517906
4  The actress aggravated the actor and, as a res...  0.642591  0.357409

In [335]:
# female subject
IC1_connective2_1f = IC1_connective2_1[0:12]
IC1_connective2_1f = IC1_connective2_1f[["stimulus","she","he"]]
# male subject
IC1_connective2_1m = IC1_connective2_1[12:24]

#### female subject

In [336]:
IC1_connective2_1f

                                             stimulus       she        he
0   Miss Smith aggravated Mr. Smith and, as a result,  0.276736  0.723264
1      The woman aggravated the man and, as a result,  0.214284  0.785716
2              Mary aggravated John and, as a result,  0.503944  0.496056
3              Alice aggravated Bob and, as a result,  0.517906  0.482094
4   The actress aggravated the actor and, as a res...  0.357409  0.642591
5       The girl aggravated the boy and, as a result,  0.294738  0.705262
6   Mrs. Taylor aggravated Mr. Williams and, as a ...  0.279547  0.720453
7             Emma aggravated David and, as a result,  0.471602  0.528398
8   The princess aggravated the prince and, as a r...  0.326773  0.673227
9           Sarah aggravated Robert and, as a result,  0.449738  0.550262
10  Mrs. Williams aggravated Mr. Taylor and, as a ...  0.338746  0.661254
11            Emily aggravated Paul and, as a result,  0.469606  0.530393

In [337]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_1f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_1f,'he'))

P('subj-pron'|subj=female) =  0.37508587042490643
P('non-subj-pron'|subj=female) =  0.6249141320586205

In [338]:
c2_average_subj_female_subj_pron['aggravated'] = compute_average(IC1_connective2_1f,'she')
c2_average_subj_female_obj_pron['aggravated'] = compute_average(IC1_connective2_1f,'he')

#### male subject

In [339]:
IC1_connective2_1m

                                             stimulus        he       she
12  Mr. Smith aggravated Miss Smith and, as a result,  0.423818  0.576181
13     The man aggravated the woman and, as a result,  0.375184  0.624816
14             John aggravated Mary and, as a result,  0.474928  0.525072
15             Bob aggravated Alice and, as a result,  0.328740  0.671260
16  The actor aggravated the actress and, as a res...  0.381483  0.618517
17      The boy aggravated the girl and, as a result,  0.340856  0.659144
18  Mr. William aggravated Mrs. Taylor and, as a r...  0.424277  0.575723
19            David aggravated Emma and, as a result,  0.457010  0.542990
20  The prince aggravated the princess and, as a r...  0.241227  0.758773
21          Robert aggravated Sarah and, as a result,  0.460803  0.539197
22  Mr. Taylor aggravated Mrs. Williams and, as a ...  0.456686  0.543314
23            Paul aggravated Emily and, as a result,  0.370497  0.629503

In [340]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_1m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_1m,'she'))

P('subj-pron'|subj=male) =  0.39462574074665707
P('non-subj-pron'|subj=male) =  0.6053742617368698

In [341]:
c2_average_subj_male_subj_pron['aggravated'] = compute_average(IC1_connective2_1m,'he')
c2_average_subj_male_obj_pron['aggravated'] = compute_average(IC1_connective2_1m,'she')

### verb: "amazed"

In [342]:
IC1_connective2_2 = pd.read_csv("../results/gpt2/IC1/connective2/2.csv")
IC1_connective2_2.head()

                                         stimulus        he       she
0   Miss Smith amazed Mr. Smith and, as a result,  0.754639  0.245361
1      The woman amazed the man and, as a result,  0.724627  0.275373
2              Mary amazed John and, as a result,  0.696801  0.303199
3              Alice amazed Bob and, as a result,  0.515813  0.484187
4  The actress amazed the actor and, as a result,  0.685398  0.314602

In [343]:
# female subject
IC1_connective2_2f = IC1_connective2_2[0:12]
IC1_connective2_2f = IC1_connective2_2f[["stimulus","she","he"]]
# male subject
IC1_connective2_2m = IC1_connective2_2[12:24]

#### female subject

In [344]:
IC1_connective2_2f

                                             stimulus       she        he
0       Miss Smith amazed Mr. Smith and, as a result,  0.245361  0.754639
1          The woman amazed the man and, as a result,  0.275373  0.724627
2                  Mary amazed John and, as a result,  0.303199  0.696801
3                  Alice amazed Bob and, as a result,  0.484187  0.515813
4      The actress amazed the actor and, as a result,  0.314602  0.685398
5           The girl amazed the boy and, as a result,  0.268422  0.731578
6   Mrs. Taylor amazed Mr. Williams and, as a result,  0.271229  0.728771
7                 Emma amazed David and, as a result,  0.302556  0.697444
8    The princess amazed the prince and, as a result,  0.352711  0.647289
9               Sarah amazed Robert and, as a result,  0.345963  0.654037
10  Mrs. Williams amazed Mr. Taylor and, as a result,  0.301729  0.698271
11                Emily amazed Paul and, as a result,  0.368431  0.631569

In [345]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_2f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_2f,'he'))

P('subj-pron'|subj=female) =  0.3194802763561408
P('non-subj-pron'|subj=female) =  0.6805197050174078

In [346]:
c2_average_subj_female_subj_pron['amazed'] = compute_average(IC1_connective2_2f,'she')
c2_average_subj_female_obj_pron['amazed'] = compute_average(IC1_connective2_2f,'he')

#### male subject

In [347]:
IC1_connective2_2m

                                             stimulus        he       she
12      Mr. Smith amazed Miss Smith and, as a result,  0.352686  0.647314
13         The man amazed the woman and, as a result,  0.263659  0.736341
14                 John amazed Mary and, as a result,  0.247740  0.752259
15                 Bob amazed Alice and, as a result,  0.215134  0.784866
16     The actor amazed the actress and, as a result,  0.248708  0.751292
17          The boy amazed the girl and, as a result,  0.265822  0.734178
18   Mr. William amazed Mrs. Taylor and, as a result,  0.353842  0.646158
19                David amazed Emma and, as a result,  0.251526  0.748473
20   The prince amazed the princess and, as a result,  0.240273  0.759727
21              Robert amazed Sarah and, as a result,  0.263386  0.736614
22  Mr. Taylor amazed Mrs. Williams and, as a result,  0.324779  0.675221
23                Paul amazed Emily and, as a result,  0.176955  0.823045

In [348]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_2m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_2m,'she'))

P('subj-pron'|subj=male) =  0.2670424704750379
P('non-subj-pron'|subj=male) =  0.7329575270414352

In [349]:
c2_average_subj_male_subj_pron['amazed'] = compute_average(IC1_connective2_2m,'he')
c2_average_subj_male_obj_pron['amazed'] = compute_average(IC1_connective2_2m,'she')

### verb: "amused"

In [350]:
IC1_connective2_3 = pd.read_csv("../results/gpt2/IC1/connective2/3.csv")
IC1_connective2_3.head()

                                         stimulus        he       she
0   Miss Smith amused Mr. Smith and, as a result,  0.729641  0.270359
1      The woman amused the man and, as a result,  0.741544  0.258456
2              Mary amused John and, as a result,  0.715675  0.284325
3              Alice amused Bob and, as a result,  0.500038  0.499962
4  The actress amused the actor and, as a result,  0.667638  0.332362

In [351]:
# female subject
IC1_connective2_3f = IC1_connective2_3[0:12]
IC1_connective2_3f = IC1_connective2_3f[["stimulus","she","he"]]
# male subject
IC1_connective2_3m = IC1_connective2_3[12:24]

#### female subject

In [352]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_3f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_3f,'he'))

P('subj-pron'|subj=female) =  0.3427952552835147
P('non-subj-pron'|subj=female) =  0.6572047571341196

In [353]:
c2_average_subj_female_subj_pron['amused'] = compute_average(IC1_connective2_3f,'she')
c2_average_subj_female_obj_pron['amused'] = compute_average(IC1_connective2_3f,'he')

#### male subject

In [354]:
IC1_connective2_3m

                                             stimulus        he       she
12      Mr. Smith amused Miss Smith and, as a result,  0.353277  0.646723
13         The man amused the woman and, as a result,  0.255702  0.744298
14                 John amused Mary and, as a result,  0.309816  0.690184
15                 Bob amused Alice and, as a result,  0.213236  0.786764
16     The actor amused the actress and, as a result,  0.241376  0.758624
17          The boy amused the girl and, as a result,  0.238761  0.761239
18   Mr. William amused Mrs. Taylor and, as a result,  0.363923  0.636077
19                David amused Emma and, as a result,  0.284977  0.715023
20   The prince amused the princess and, as a result,  0.186258  0.813742
21              Robert amused Sarah and, as a result,  0.262743  0.737257
22  Mr. Taylor amused Mrs. Williams and, as a result,  0.348366  0.651634
23                Paul amused Emily and, as a result,  0.202892  0.797108

In [355]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_3m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_3m,'she'))

P('subj-pron'|subj=male) =  0.27177724490563077
P('non-subj-pron'|subj=male) =  0.7282227575778961

In [356]:
c2_average_subj_male_subj_pron['amused'] = compute_average(IC1_connective2_3m,'he')
c2_average_subj_male_obj_pron['amused'] = compute_average(IC1_connective2_3m,'she')

### verb: "annoyed"

In [357]:
IC1_connective2_4 = pd.read_csv("../results/gpt2/IC1/connective2/4.csv")
IC1_connective2_4.head()

                                          stimulus        he       she
0   Miss Smith annoyed Mr. Smith and, as a result,  0.742838  0.257162
1      The woman annoyed the man and, as a result,  0.705505  0.294495
2              Mary annoyed John and, as a result,  0.697489  0.302511
3              Alice annoyed Bob and, as a result,  0.463838  0.536162
4  The actress annoyed the actor and, as a result,  0.671437  0.328563

In [358]:
# female subject
IC1_connective2_4f = IC1_connective2_4[0:12]
IC1_connective2_4f = IC1_connective2_4f[["stimulus","she","he"]]
# male subject
IC1_connective2_4m = IC1_connective2_4[12:24]

#### female subject

In [359]:
IC1_connective2_4f

                                             stimulus       she        he
0      Miss Smith annoyed Mr. Smith and, as a result,  0.257162  0.742838
1         The woman annoyed the man and, as a result,  0.294495  0.705505
2                 Mary annoyed John and, as a result,  0.302511  0.697489
3                 Alice annoyed Bob and, as a result,  0.536162  0.463838
4     The actress annoyed the actor and, as a result,  0.328563  0.671437
5          The girl annoyed the boy and, as a result,  0.331525  0.668475
6   Mrs. Taylor annoyed Mr. Williams and, as a res...  0.238999  0.761001
7                Emma annoyed David and, as a result,  0.328807  0.671193
8   The princess annoyed the prince and, as a result,  0.367438  0.632562
9              Sarah annoyed Robert and, as a result,  0.397770  0.602230
10  Mrs. Williams annoyed Mr. Taylor and, as a res...  0.275209  0.724791
11               Emily annoyed Paul and, as a result,  0.417643  0.582357

In [360]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_4f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_4f,'he'))

P('subj-pron'|subj=female) =  0.33969033136963844
P('non-subj-pron'|subj=female) =  0.6603096574544907

In [361]:
c2_average_subj_female_subj_pron['annoyed'] = compute_average(IC1_connective2_4f,'she')
c2_average_subj_female_obj_pron['annoyed'] = compute_average(IC1_connective2_4f,'he')

#### male subject

In [362]:
IC1_connective2_4m

                                             stimulus        he       she
12     Mr. Smith annoyed Miss Smith and, as a result,  0.352665  0.647335
13        The man annoyed the woman and, as a result,  0.305535  0.694465
14                John annoyed Mary and, as a result,  0.332836  0.667164
15                Bob annoyed Alice and, as a result,  0.217540  0.782460
16    The actor annoyed the actress and, as a result,  0.237530  0.762470
17         The boy annoyed the girl and, as a result,  0.282655  0.717345
18  Mr. William annoyed Mrs. Taylor and, as a result,  0.362240  0.637760
19               David annoyed Emma and, as a result,  0.310695  0.689305
20  The prince annoyed the princess and, as a result,  0.274273  0.725727
21             Robert annoyed Sarah and, as a result,  0.293079  0.706921
22  Mr. Taylor annoyed Mrs. Williams and, as a res...  0.351027  0.648973
23               Paul annoyed Emily and, as a result,  0.227279  0.772720

In [363]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_4m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_4m,'she'))

P('subj-pron'|subj=male) =  0.29561292628447217
P('non-subj-pron'|subj=male) =  0.7043870886166891

In [364]:
c2_average_subj_male_subj_pron['annoyed'] = compute_average(IC1_connective2_4m,'he')
c2_average_subj_male_obj_pron['annoyed'] = compute_average(IC1_connective2_4m,'she')

### verb: "apologized"

In [365]:
IC1_connective2_5 = pd.read_csv("../results/gpt2/IC1/connective2/5.csv")
IC1_connective2_5.head()

                                            stimulus        he       she
0  Miss Smith apologized to Mr. Smith and, as a r...  0.845092  0.154908
1  The woman apologized to the man and, as a result,  0.772537  0.227463
2          Mary apologized to John and, as a result,  0.755366  0.244634
3          Alice apologized to Bob and, as a result,  0.600195  0.399805
4  The actress apologized to the actor and, as a ...  0.563670  0.436330

In [366]:
# female subject
IC1_connective2_5f = IC1_connective2_5[0:12]
IC1_connective2_5f = IC1_connective2_5[["stimulus","she","he"]]
# male subject
IC1_connective2_5m = IC1_connective2_5[12:24]

#### female subject

In [367]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_5f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_5f,'he'))

P('subj-pron'|subj=female) =  0.5123821999877691
P('non-subj-pron'|subj=female) =  0.4876177863528331

In [368]:
c2_average_subj_female_subj_pron['apologized'] = compute_average(IC1_connective2_5f,'she')
c2_average_subj_female_obj_pron['apologized'] = compute_average(IC1_connective2_5f,'he')

#### male subject

In [369]:
IC1_connective2_5m

                                             stimulus        he       she
12  Mr. Smith apologized to Miss Smith and, as a r...  0.243914  0.756086
13  The man apologized to the woman and, as a result,  0.327830  0.672170
14          John apologized to Mary and, as a result,  0.240859  0.759141
15          Bob apologized to Alice and, as a result,  0.154364  0.845636
16  The actor apologized to the actress and, as a ...  0.292271  0.707729
17   The boy apologized to the girl and, as a result,  0.329092  0.670908
18  Mr. William apologized to Mrs. Taylor and, as ...  0.250374  0.749626
19         David apologized to Emma and, as a result,  0.294335  0.705665
20  The prince apologized to the princess and, as ...  0.253969  0.746031
21       Robert apologized to Sarah and, as a result,  0.235536  0.764464
22  Mr. Taylor apologized to Mrs. Williams and, as...  0.241667  0.758333
23         Paul apologized to Emily and, as a result,  0.210551  0.789449

In [370]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_5m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_5m,'she'))

P('subj-pron'|subj=male) =  0.2562301220993201
P('non-subj-pron'|subj=male) =  0.7437698692083359

In [371]:
c2_average_subj_male_subj_pron['apologized'] = compute_average(IC1_connective2_5m,'he')
c2_average_subj_male_obj_pron['apologized'] = compute_average(IC1_connective2_5m,'she')

### verb: "bored"

In [372]:
IC1_connective2_6 = pd.read_csv("../results/gpt2/IC1/connective2/6.csv")
IC1_connective2_6.head()

                                        stimulus        he       she
0   Miss Smith bored Mr. Smith and, as a result,  0.774381  0.225619
1      The woman bored the man and, as a result,  0.724289  0.275711
2              Mary bored John and, as a result,  0.711530  0.288470
3              Alice bored Bob and, as a result,  0.446514  0.553486
4  The actress bored the actor and, as a result,  0.700340  0.299660

In [373]:
# female subject
IC1_connective2_6f = IC1_connective2_6[0:12]
IC1_connective2_6f = IC1_connective2_6[["stimulus","she","he"]]
# male subject
IC1_connective2_6m = IC1_connective2_6[12:24]

#### female subject

In [374]:
IC1_connective2_6f

                                            stimulus       she        he
0       Miss Smith bored Mr. Smith and, as a result,  0.225619  0.774381
1          The woman bored the man and, as a result,  0.275711  0.724289
2                  Mary bored John and, as a result,  0.288470  0.711530
3                  Alice bored Bob and, as a result,  0.553486  0.446514
4      The actress bored the actor and, as a result,  0.299660  0.700340
5           The girl bored the boy and, as a result,  0.288622  0.711378
6   Mrs. Taylor bored Mr. Williams and, as a result,  0.225957  0.774043
7                 Emma bored David and, as a result,  0.327069  0.672931
8    The princess bored the prince and, as a result,  0.331205  0.668795
9               Sarah bored Robert and, as a result,  0.336089  0.663911
10  Mrs. Williams bored Mr. Taylor and, as a result,  0.274211  0.725789
11                Emily bored Paul and, as a result,  0.374930  0.625071
12      Mr. Smith bored Miss Smith and, as a result,  0.770587  0.229413
13         The man bored the woman and, as a result,  0.774549  0.225451
14                 John bored Mary and, as a result,  0.748978  0.251022
15                 Bob bored Alice and, as a result,  0.801174  0.198826
16     The actor bored the actress and, as a result,  0.787972  0.212028
17          The boy bored the girl and, as a result,  0.785141  0.214859
18   Mr. William bored Mrs. Taylor and, as a result,  0.705949  0.294051
19                David bored Emma and, as a result,  0.797570  0.202430
20   The prince bored the princess and, as a result,  0.830176  0.169824
21              Robert bored Sarah and, as a result,  0.775339  0.224661
22  Mr. Taylor bored Mrs. Williams and, as a result,  0.756602  0.243398
23                Paul bored Emily and, as a result,  0.832755  0.167245

In [375]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_6f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_6f,'he'))

P('subj-pron'|subj=female) =  0.5486591632167498
P('non-subj-pron'|subj=female) =  0.45134083926677704

In [376]:
c2_average_subj_female_subj_pron['bored'] = compute_average(IC1_connective2_6f,'she')
c2_average_subj_female_obj_pron['bored'] = compute_average(IC1_connective2_6f,'he')

#### male subject

In [377]:
IC1_connective2_6m

                                            stimulus        he       she
12      Mr. Smith bored Miss Smith and, as a result,  0.229413  0.770587
13         The man bored the woman and, as a result,  0.225451  0.774549
14                 John bored Mary and, as a result,  0.251022  0.748978
15                 Bob bored Alice and, as a result,  0.198826  0.801174
16     The actor bored the actress and, as a result,  0.212028  0.787972
17          The boy bored the girl and, as a result,  0.214859  0.785141
18   Mr. William bored Mrs. Taylor and, as a result,  0.294051  0.705949
19                David bored Emma and, as a result,  0.202430  0.797570
20   The prince bored the princess and, as a result,  0.169824  0.830176
21              Robert bored Sarah and, as a result,  0.224661  0.775339
22  Mr. Taylor bored Mrs. Williams and, as a result,  0.243398  0.756602
23                Paul bored Emily and, as a result,  0.167245  0.832755

In [378]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_6m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_6m,'she'))

P('subj-pron'|subj=male) =  0.21943399558464685
P('non-subj-pron'|subj=male) =  0.780565987030665

In [379]:
c2_average_subj_male_subj_pron['bored'] = compute_average(IC1_connective2_6m,'he')
c2_average_subj_male_obj_pron['bored'] = compute_average(IC1_connective2_6m,'she')

### verb: "charmed"

In [380]:
IC1_connective2_7 = pd.read_csv("../results/gpt2/IC1/connective2/7.csv")
IC1_connective2_7.head()

                                          stimulus        he       she
0   Miss Smith charmed Mr. Smith and, as a result,  0.748465  0.251535
1      The woman charmed the man and, as a result,  0.684593  0.315407
2              Mary charmed John and, as a result,  0.641336  0.358664
3              Alice charmed Bob and, as a result,  0.520060  0.479940
4  The actress charmed the actor and, as a result,  0.665744  0.334256

In [381]:
# female subject
IC1_connective2_7f = IC1_connective2_7[0:12]
IC1_connective2_7f = IC1_connective2_7f[["stimulus","she","he"]]
# male subject
IC1_connective2_7m = IC1_connective2_7[12:24]

#### female subject

In [382]:
IC1_connective2_7f

                                             stimulus       she        he
0      Miss Smith charmed Mr. Smith and, as a result,  0.251535  0.748465
1         The woman charmed the man and, as a result,  0.315407  0.684593
2                 Mary charmed John and, as a result,  0.358664  0.641336
3                 Alice charmed Bob and, as a result,  0.479940  0.520060
4     The actress charmed the actor and, as a result,  0.334256  0.665744
5          The girl charmed the boy and, as a result,  0.321288  0.678712
6   Mrs. Taylor charmed Mr. Williams and, as a res...  0.241849  0.758151
7                Emma charmed David and, as a result,  0.314142  0.685858
8   The princess charmed the prince and, as a result,  0.357145  0.642855
9              Sarah charmed Robert and, as a result,  0.332747  0.667253
10  Mrs. Williams charmed Mr. Taylor and, as a res...  0.292753  0.707247
11               Emily charmed Paul and, as a result,  0.381907  0.618093

In [383]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_7f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_7f,'he'))

P('subj-pron'|subj=female) =  0.33180273324251175
P('non-subj-pron'|subj=female) =  0.6681972543398539

In [384]:
c2_average_subj_female_subj_pron['charmed'] = compute_average(IC1_connective2_7f,'she')
c2_average_subj_female_obj_pron['charmed'] = compute_average(IC1_connective2_7f,'he')

#### male subject

In [385]:
IC1_connective2_7m

                                             stimulus        he       she
12     Mr. Smith charmed Miss Smith and, as a result,  0.280985  0.719015
13        The man charmed the woman and, as a result,  0.287959  0.712041
14                John charmed Mary and, as a result,  0.329585  0.670415
15                Bob charmed Alice and, as a result,  0.272333  0.727667
16    The actor charmed the actress and, as a result,  0.293074  0.706926
17         The boy charmed the girl and, as a result,  0.283661  0.716339
18  Mr. William charmed Mrs. Taylor and, as a result,  0.320746  0.679254
19               David charmed Emma and, as a result,  0.295951  0.704049
20  The prince charmed the princess and, as a result,  0.224495  0.775505
21             Robert charmed Sarah and, as a result,  0.300832  0.699168
22  Mr. Taylor charmed Mrs. Williams and, as a res...  0.306983  0.693017
23               Paul charmed Emily and, as a result,  0.240823  0.759177

In [386]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_7m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_7m,'she'))

P('subj-pron'|subj=male) =  0.28645215804378193
P('non-subj-pron'|subj=male) =  0.7135478357474009

In [387]:
c2_average_subj_male_subj_pron['charmed'] = compute_average(IC1_connective2_7m,'he')
c2_average_subj_male_obj_pron['charmed'] = compute_average(IC1_connective2_7m,'she')

#### verb: "offended"

In [388]:
IC1_connective2_8 = pd.read_csv("../results/gpt2/IC1/connective2/8.csv")
IC1_connective2_8.head()

                                           stimulus        he       she
0   Miss Smith offended Mr. Smith and, as a result,  0.802874  0.197126
1      The woman offended the man and, as a result,  0.667847  0.332153
2              Mary offended John and, as a result,  0.606780  0.393220
3              Alice offended Bob and, as a result,  0.548414  0.451586
4  The actress offended the actor and, as a result,  0.514284  0.485716

In [389]:
# female subject
IC1_connective2_8f = IC1_connective2_8[0:12]
IC1_connective2_8f = IC1_connective2_8f[["stimulus","she","he"]]
# male subject
IC1_connective2_8m = IC1_connective2_8[12:24]

#### female subject

In [390]:
IC1_connective2_8f

                                             stimulus       she        he
0     Miss Smith offended Mr. Smith and, as a result,  0.197126  0.802874
1        The woman offended the man and, as a result,  0.332153  0.667847
2                Mary offended John and, as a result,  0.393220  0.606780
3                Alice offended Bob and, as a result,  0.451586  0.548414
4    The actress offended the actor and, as a result,  0.485716  0.514284
5         The girl offended the boy and, as a result,  0.326793  0.673207
6   Mrs. Taylor offended Mr. Williams and, as a re...  0.267792  0.732208
7               Emma offended David and, as a result,  0.343303  0.656697
8   The princess offended the prince and, as a res...  0.433894  0.566106
9             Sarah offended Robert and, as a result,  0.371226  0.628774
10  Mrs. Williams offended Mr. Taylor and, as a re...  0.320655  0.679344
11              Emily offended Paul and, as a result,  0.410779  0.589221

In [391]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_8f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_8f,'he'))

P('subj-pron'|subj=female) =  0.36118678251902264
P('non-subj-pron'|subj=female) =  0.6388132174809774

In [392]:
c2_average_subj_female_subj_pron['offended'] = compute_average(IC1_connective2_8f,'she')
c2_average_subj_female_obj_pron['offended'] = compute_average(IC1_connective2_8f,'he')

#### male subject

In [393]:
IC1_connective2_8m

                                             stimulus        he       she
12    Mr. Smith offended Miss Smith and, as a result,  0.291952  0.708048
13       The man offended the woman and, as a result,  0.439854  0.560146
14               John offended Mary and, as a result,  0.329346  0.670654
15               Bob offended Alice and, as a result,  0.246005  0.753995
16   The actor offended the actress and, as a result,  0.368884  0.631116
17        The boy offended the girl and, as a result,  0.360527  0.639473
18  Mr. William offended Mrs. Taylor and, as a res...  0.327092  0.672908
19              David offended Emma and, as a result,  0.358074  0.641926
20  The prince offended the princess and, as a res...  0.393466  0.606533
21            Robert offended Sarah and, as a result,  0.300394  0.699606
22  Mr. Taylor offended Mrs. Williams and, as a re...  0.297287  0.702713
23              Paul offended Emily and, as a result,  0.231239  0.768762

In [394]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_8m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_8m,'she'))

P('subj-pron'|subj=male) =  0.32867667948206264
P('non-subj-pron'|subj=male) =  0.671323299407959

In [395]:
c2_average_subj_male_subj_pron['offended'] = compute_average(IC1_connective2_8m,'he')
c2_average_subj_male_obj_pron['offended'] = compute_average(IC1_connective2_8m,'she')

### verb: "confessed"

In [396]:
IC1_connective2_9 = pd.read_csv("../results/gpt2/IC1/connective2/9.csv")
IC1_connective2_9.head()

                                            stimulus        he       she
0  Miss Smith confessed to Mr. Smith and, as a re...  0.707031  0.292969
1   The woman confessed to the man and, as a result,  0.647102  0.352898
2           Mary confessed to John and, as a result,  0.605478  0.394522
3           Alice confessed to Bob and, as a result,  0.498486  0.501514
4  The actress confessed to the actor and, as a r...  0.553222  0.446778

In [397]:
# female subject
IC1_connective2_9f = IC1_connective2_9[0:12]
IC1_connective2_9f = IC1_connective2_9f[["stimulus","she","he"]]
# male subject
IC1_connective2_9m = IC1_connective2_9[12:24]

#### female subject

In [398]:
IC1_connective2_9f

                                             stimulus       she        he
0   Miss Smith confessed to Mr. Smith and, as a re...  0.292969  0.707031
1    The woman confessed to the man and, as a result,  0.352898  0.647102
2            Mary confessed to John and, as a result,  0.394522  0.605478
3            Alice confessed to Bob and, as a result,  0.501514  0.498486
4   The actress confessed to the actor and, as a r...  0.446778  0.553222
5     The girl confessed to the boy and, as a result,  0.340565  0.659435
6   Mrs. Taylor confessed to Mr. Williams and, as ...  0.327787  0.672213
7           Emma confessed to David and, as a result,  0.367906  0.632094
8   The princess confessed to the prince and, as a...  0.435645  0.564355
9         Sarah confessed to Robert and, as a result,  0.366051  0.633949
10  Mrs. Williams confessed to Mr. Taylor and, as ...  0.361297  0.638703
11          Emily confessed to Paul and, as a result,  0.457029  0.542970

In [399]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_9f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_9f,'he'))

P('subj-pron'|subj=female) =  0.38708019256591797
P('non-subj-pron'|subj=female) =  0.6129198124011358

In [400]:
c2_average_subj_female_subj_pron['confessed'] = compute_average(IC1_connective2_9f,'she')
c2_average_subj_female_obj_pron['confessed'] = compute_average(IC1_connective2_9f,'he')

#### male subject

In [401]:
IC1_connective2_9m

                                             stimulus        he       she
12  Mr. Smith confessed to Miss Smith and, as a re...  0.375199  0.624801
13   The man confessed to the woman and, as a result,  0.372629  0.627371
14           John confessed to Mary and, as a result,  0.257503  0.742497
15           Bob confessed to Alice and, as a result,  0.302292  0.697707
16  The actor confessed to the actress and, as a r...  0.277012  0.722988
17    The boy confessed to the girl and, as a result,  0.375184  0.624816
18  Mr. William confessed to Mrs. Taylor and, as a...  0.430755  0.569245
19          David confessed to Emma and, as a result,  0.359750  0.640250
20  The prince confessed to the princess and, as a...  0.262615  0.737385
21        Robert confessed to Sarah and, as a result,  0.342042  0.657958
22  Mr. Taylor confessed to Mrs. Williams and, as ...  0.417041  0.582959
23          Paul confessed to Emily and, as a result,  0.290601  0.709399

In [402]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_9m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_9m,'she'))

P('subj-pron'|subj=male) =  0.33855196585257846
P('non-subj-pron'|subj=male) =  0.6614480366309484

In [403]:
c2_average_subj_male_subj_pron['confessed'] = compute_average(IC1_connective2_9m,'he')
c2_average_subj_male_obj_pron['confessed'] = compute_average(IC1_connective2_9m,'she')

### verb: "deceived"

In [404]:
IC1_connective2_10 = pd.read_csv("../results/gpt2/IC1/connective2/10.csv")
IC1_connective2_10.head()

                                           stimulus        he       she
0   Miss Smith deceived Mr. Smith and, as a result,  0.810304  0.189696
1      The woman deceived the man and, as a result,  0.557061  0.442939
2              Mary deceived John and, as a result,  0.609753  0.390247
3              Alice deceived Bob and, as a result,  0.570031  0.429969
4  The actress deceived the actor and, as a result,  0.568814  0.431186

In [405]:
# female subject
IC1_connective2_10f = IC1_connective2_10[0:12]
IC1_connective2_10f = IC1_connective2_10f[["stimulus","she","he"]]
# male subject
IC1_connective2_10m = IC1_connective2_10[12:24]

#### female subject

In [406]:
IC1_connective2_10f

                                             stimulus       she        he
0     Miss Smith deceived Mr. Smith and, as a result,  0.189696  0.810304
1        The woman deceived the man and, as a result,  0.442939  0.557061
2                Mary deceived John and, as a result,  0.390247  0.609753
3                Alice deceived Bob and, as a result,  0.429969  0.570031
4    The actress deceived the actor and, as a result,  0.431186  0.568814
5         The girl deceived the boy and, as a result,  0.433586  0.566414
6   Mrs. Taylor deceived Mr. Williams and, as a re...  0.285338  0.714662
7               Emma deceived David and, as a result,  0.430399  0.569601
8   The princess deceived the prince and, as a res...  0.505317  0.494683
9             Sarah deceived Robert and, as a result,  0.426450  0.573550
10  Mrs. Williams deceived Mr. Taylor and, as a re...  0.347074  0.652926
11              Emily deceived Paul and, as a result,  0.556844  0.443156

In [407]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_10f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_10f,'he'))

P('subj-pron'|subj=female) =  0.4057537776728471
P('non-subj-pron'|subj=female) =  0.594246211151282

In [408]:
c2_average_subj_female_subj_pron['deceived'] = compute_average(IC1_connective2_10f,'she')
c2_average_subj_female_obj_pron['deceived'] = compute_average(IC1_connective2_10f,'he')

#### male subject

In [409]:
IC1_connective2_10m

                                             stimulus        he       she
12    Mr. Smith deceived Miss Smith and, as a result,  0.279669  0.720331
13       The man deceived the woman and, as a result,  0.296662  0.703338
14               John deceived Mary and, as a result,  0.227667  0.772333
15               Bob deceived Alice and, as a result,  0.374819  0.625181
16   The actor deceived the actress and, as a result,  0.430854  0.569146
17        The boy deceived the girl and, as a result,  0.412972  0.587028
18  Mr. William deceived Mrs. Taylor and, as a res...  0.403169  0.596831
19              David deceived Emma and, as a result,  0.293454  0.706546
20  The prince deceived the princess and, as a res...  0.310374  0.689626
21            Robert deceived Sarah and, as a result,  0.262470  0.737530
22  Mr. Taylor deceived Mrs. Williams and, as a re...  0.350794  0.649206
23              Paul deceived Emily and, as a result,  0.244487  0.755513

In [410]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_10m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_10m,'she'))

P('subj-pron'|subj=male) =  0.32394925753275555
P('non-subj-pron'|subj=male) =  0.6760507375001907

In [411]:
c2_average_subj_male_subj_pron['deceived'] = compute_average(IC1_connective2_10m,'he')
c2_average_subj_male_obj_pron['deceived'] = compute_average(IC1_connective2_10m,'she')

### verb: "disappointed"

In [412]:
IC1_connective2_11 = pd.read_csv("../results/gpt2/IC1/connective2/11.csv")
IC1_connective2_11.head()

                                            stimulus        he       she
0  Miss Smith disappointed Mr. Smith and, as a re...  0.739461  0.260539
1   The woman disappointed the man and, as a result,  0.599732  0.400268
2           Mary disappointed John and, as a result,  0.617463  0.382537
3           Alice disappointed Bob and, as a result,  0.493982  0.506018
4  The actress disappointed the actor and, as a r...  0.595714  0.404286

In [413]:
# female subject
IC1_connective2_11f = IC1_connective2_11[0:12]
IC1_connective2_11f = IC1_connective2_11f[["stimulus","she","he"]]
# male subject
IC1_connective2_11m = IC1_connective2_11[12:24]

#### female subject

In [414]:
IC1_connective2_11f

                                             stimulus       she        he
0   Miss Smith disappointed Mr. Smith and, as a re...  0.260539  0.739461
1    The woman disappointed the man and, as a result,  0.400268  0.599732
2            Mary disappointed John and, as a result,  0.382537  0.617463
3            Alice disappointed Bob and, as a result,  0.506018  0.493982
4   The actress disappointed the actor and, as a r...  0.404286  0.595714
5     The girl disappointed the boy and, as a result,  0.429825  0.570175
6   Mrs. Taylor disappointed Mr. Williams and, as ...  0.232117  0.767883
7           Emma disappointed David and, as a result,  0.369814  0.630186
8   The princess disappointed the prince and, as a...  0.477076  0.522924
9         Sarah disappointed Robert and, as a result,  0.423571  0.576429
10  Mrs. Williams disappointed Mr. Taylor and, as ...  0.262014  0.737986
11          Emily disappointed Paul and, as a result,  0.435899  0.564101

In [415]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_11f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_11f,'he'))

P('subj-pron'|subj=female) =  0.38199687376618385
P('non-subj-pron'|subj=female) =  0.6180031225085258

In [416]:
c2_average_subj_female_subj_pron['disappointed'] = compute_average(IC1_connective2_11f,'she')
c2_average_subj_female_obj_pron['disappointed'] = compute_average(IC1_connective2_11f,'he')

#### male subject

In [417]:
IC1_connective2_11m

                                             stimulus        he       she
12  Mr. Smith disappointed Miss Smith and, as a re...  0.370759  0.629241
13   The man disappointed the woman and, as a result,  0.418586  0.581414
14           John disappointed Mary and, as a result,  0.326810  0.673190
15           Bob disappointed Alice and, as a result,  0.285433  0.714567
16  The actor disappointed the actress and, as a r...  0.260565  0.739435
17    The boy disappointed the girl and, as a result,  0.364542  0.635458
18  Mr. William disappointed Mrs. Taylor and, as a...  0.420606  0.579394
19          David disappointed Emma and, as a result,  0.352286  0.647714
20  The prince disappointed the princess and, as a...  0.331884  0.668116
21        Robert disappointed Sarah and, as a result,  0.295281  0.704719
22  Mr. Taylor disappointed Mrs. Williams and, as ...  0.392965  0.607035
23          Paul disappointed Emily and, as a result,  0.229152  0.770848

In [418]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_11m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_11m,'she'))

P('subj-pron'|subj=male) =  0.3374059312045574
P('non-subj-pron'|subj=male) =  0.6625940750042597

In [419]:
c2_average_subj_male_subj_pron['disappointed'] = compute_average(IC1_connective2_11m,'he')
c2_average_subj_male_obj_pron['disappointed'] = compute_average(IC1_connective2_11m,'she')

### verb: "exasperated"

In [420]:
IC1_connective2_12 = pd.read_csv("../results/gpt2/IC1/connective2/12.csv")
IC1_connective2_12.head()

                                            stimulus        he       she
0  Miss Smith exasperated Mr. Smith and, as a res...  0.770977  0.229023
1    The woman exasperated the man and, as a result,  0.695493  0.304507
2            Mary exasperated John and, as a result,  0.710879  0.289121
3            Alice exasperated Bob and, as a result,  0.545670  0.454330
4  The actress exasperated the actor and, as a re...  0.621256  0.378744

In [421]:
# female subject
IC1_connective2_12f = IC1_connective2_12[0:12]
IC1_connective2_12f = IC1_connective2_12f[["stimulus","she","he"]]
# male subject
IC1_connective2_12m = IC1_connective2_12[12:24]

#### female subject

In [422]:
IC1_connective2_12f

                                             stimulus       she        he
0   Miss Smith exasperated Mr. Smith and, as a res...  0.229023  0.770977
1     The woman exasperated the man and, as a result,  0.304507  0.695493
2             Mary exasperated John and, as a result,  0.289121  0.710879
3             Alice exasperated Bob and, as a result,  0.454330  0.545670
4   The actress exasperated the actor and, as a re...  0.378744  0.621256
5      The girl exasperated the boy and, as a result,  0.343197  0.656803
6   Mrs. Taylor exasperated Mr. Williams and, as a...  0.204942  0.795058
7            Emma exasperated David and, as a result,  0.341027  0.658973
8   The princess exasperated the prince and, as a ...  0.377242  0.622758
9          Sarah exasperated Robert and, as a result,  0.398955  0.601045
10  Mrs. Williams exasperated Mr. Taylor and, as a...  0.245483  0.754517
11           Emily exasperated Paul and, as a result,  0.404273  0.595727

In [423]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_12f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_12f,'he'))

P('subj-pron'|subj=female) =  0.3309037486712138
P('non-subj-pron'|subj=female) =  0.6690962463617325

In [424]:
c2_average_subj_female_subj_pron['exasperated'] = compute_average(IC1_connective2_12f,'she')
c2_average_subj_female_obj_pron['exasperated'] = compute_average(IC1_connective2_12f,'he')

#### male subject

In [425]:
IC1_connective2_12m

                                             stimulus        he       she
12  Mr. Smith exasperated Miss Smith and, as a res...  0.351686  0.648314
13    The man exasperated the woman and, as a result,  0.292097  0.707903
14            John exasperated Mary and, as a result,  0.305822  0.694178
15            Bob exasperated Alice and, as a result,  0.191573  0.808427
16  The actor exasperated the actress and, as a re...  0.232567  0.767433
17     The boy exasperated the girl and, as a result,  0.265507  0.734492
18  Mr. William exasperated Mrs. Taylor and, as a ...  0.344779  0.655221
19           David exasperated Emma and, as a result,  0.253133  0.746867
20  The prince exasperated the princess and, as a ...  0.239130  0.760870
21         Robert exasperated Sarah and, as a result,  0.293916  0.706084
22  Mr. Taylor exasperated Mrs. Williams and, as a...  0.306326  0.693674
23           Paul exasperated Emily and, as a result,  0.214756  0.785244

In [426]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_12m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_12m,'she'))

P('subj-pron'|subj=male) =  0.27427441502610844
P('non-subj-pron'|subj=male) =  0.7257255762815475

In [427]:
c2_average_subj_male_subj_pron['exasperated'] = compute_average(IC1_connective2_12m,'he')
c2_average_subj_male_obj_pron['exasperated'] = compute_average(IC1_connective2_12m,'she')

### verb: "fascinated"

In [428]:
IC1_connective2_13 = pd.read_csv("../results/gpt2/IC1/connective2/13.csv")
IC1_connective2_13.head()

                                            stimulus        he       she
0  Miss Smith fascinated Mr. Smith and, as a result,  0.792630  0.207370
1     The woman fascinated the man and, as a result,  0.738905  0.261095
2             Mary fascinated John and, as a result,  0.699236  0.300764
3             Alice fascinated Bob and, as a result,  0.499032  0.500968
4  The actress fascinated the actor and, as a res...  0.725230  0.274770

In [429]:
# female subject
IC1_connective2_13f = IC1_connective2_13[0:12]
IC1_connective2_13f = IC1_connective2_13f[["stimulus","she","he"]]
# male subject
IC1_connective2_13m = IC1_connective2_13[12:24]

#### female subject

In [430]:
IC1_connective2_13f

                                             stimulus       she        he
0   Miss Smith fascinated Mr. Smith and, as a result,  0.207370  0.792630
1      The woman fascinated the man and, as a result,  0.261095  0.738905
2              Mary fascinated John and, as a result,  0.300764  0.699236
3              Alice fascinated Bob and, as a result,  0.500968  0.499032
4   The actress fascinated the actor and, as a res...  0.274770  0.725230
5       The girl fascinated the boy and, as a result,  0.264890  0.735111
6   Mrs. Taylor fascinated Mr. Williams and, as a ...  0.215945  0.784055
7             Emma fascinated David and, as a result,  0.255173  0.744827
8   The princess fascinated the prince and, as a r...  0.272158  0.727842
9           Sarah fascinated Robert and, as a result,  0.393689  0.606311
10  Mrs. Williams fascinated Mr. Taylor and, as a ...  0.270844  0.729155
11            Emily fascinated Paul and, as a result,  0.371063  0.628937

In [431]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_13f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_13f,'he'))

P('subj-pron'|subj=female) =  0.2990607793132464
P('non-subj-pron'|subj=female) =  0.7009392331043879

In [432]:
c2_average_subj_female_subj_pron['fascinated'] = compute_average(IC1_connective2_13f,'she')
c2_average_subj_female_obj_pron['fascinated'] = compute_average(IC1_connective2_13f,'he')

#### male subject

In [433]:
IC1_connective2_13m

                                             stimulus        he       she
12  Mr. Smith fascinated Miss Smith and, as a result,  0.252810  0.747190
13     The man fascinated the woman and, as a result,  0.210515  0.789485
14             John fascinated Mary and, as a result,  0.202111  0.797889
15             Bob fascinated Alice and, as a result,  0.128486  0.871514
16  The actor fascinated the actress and, as a res...  0.153595  0.846405
17      The boy fascinated the girl and, as a result,  0.210028  0.789972
18  Mr. William fascinated Mrs. Taylor and, as a r...  0.296002  0.703998
19            David fascinated Emma and, as a result,  0.198900  0.801100
20  The prince fascinated the princess and, as a r...  0.142399  0.857601
21          Robert fascinated Sarah and, as a result,  0.196661  0.803339
22  Mr. Taylor fascinated Mrs. Williams and, as a ...  0.239956  0.760044
23            Paul fascinated Emily and, as a result,  0.145700  0.854300

In [434]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_13m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_13m,'she'))

P('subj-pron'|subj=male) =  0.19809702411293983
P('non-subj-pron'|subj=male) =  0.8019029845794042

In [435]:
c2_average_subj_male_subj_pron['fascinated'] = compute_average(IC1_connective2_13m,'he')
c2_average_subj_male_obj_pron['fascinated'] = compute_average(IC1_connective2_13m,'she')

### verb: "frightened"

In [436]:
IC1_connective2_14 = pd.read_csv("../results/gpt2/IC1/connective2/14.csv")
IC1_connective2_14.head()

                                            stimulus        he       she
0  Miss Smith frightened Mr. Smith and, as a result,  0.885683  0.114318
1     The woman frightened the man and, as a result,  0.832046  0.167954
2             Mary frightened John and, as a result,  0.854968  0.145032
3             Alice frightened Bob and, as a result,  0.631662  0.368338
4  The actress frightened the actor and, as a res...  0.773511  0.226489

In [437]:
# female subject
IC1_connective2_14f = IC1_connective2_14[0:12]
IC1_connective2_14f = IC1_connective2_14f[["stimulus","she","he"]]
# male subject
IC1_connective2_14m = IC1_connective2_14[12:24]

#### female subject

In [438]:
IC1_connective2_14f

                                             stimulus       she        he
0   Miss Smith frightened Mr. Smith and, as a result,  0.114318  0.885683
1      The woman frightened the man and, as a result,  0.167954  0.832046
2              Mary frightened John and, as a result,  0.145032  0.854968
3              Alice frightened Bob and, as a result,  0.368338  0.631662
4   The actress frightened the actor and, as a res...  0.226489  0.773511
5       The girl frightened the boy and, as a result,  0.170049  0.829951
6   Mrs. Taylor frightened Mr. Williams and, as a ...  0.111923  0.888076
7             Emma frightened David and, as a result,  0.232150  0.767850
8   The princess frightened the prince and, as a r...  0.216857  0.783143
9           Sarah frightened Robert and, as a result,  0.227198  0.772802
10  Mrs. Williams frightened Mr. Taylor and, as a ...  0.151368  0.848632
11            Emily frightened Paul and, as a result,  0.246583  0.753417

In [439]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_14f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_14f,'he'))

P('subj-pron'|subj=female) =  0.19818821487327418
P('non-subj-pron'|subj=female) =  0.8018117944399515

In [440]:
c2_average_subj_female_subj_pron['frightened'] = compute_average(IC1_connective2_14f,'she')
c2_average_subj_female_obj_pron['frightened'] = compute_average(IC1_connective2_14f,'he')

#### male subject

In [441]:
IC1_connective2_14m

                                             stimulus        he       she
12  Mr. Smith frightened Miss Smith and, as a result,  0.138114  0.861886
13     The man frightened the woman and, as a result,  0.225874  0.774126
14             John frightened Mary and, as a result,  0.211600  0.788400
15             Bob frightened Alice and, as a result,  0.116911  0.883089
16  The actor frightened the actress and, as a res...  0.237962  0.762038
17      The boy frightened the girl and, as a result,  0.200591  0.799409
18  Mr. William frightened Mrs. Taylor and, as a r...  0.223398  0.776602
19            David frightened Emma and, as a result,  0.177619  0.822381
20  The prince frightened the princess and, as a r...  0.173959  0.826041
21          Robert frightened Sarah and, as a result,  0.204365  0.795635
22  Mr. Taylor frightened Mrs. Williams and, as a ...  0.158127  0.841873
23            Paul frightened Emily and, as a result,  0.147165  0.852835

In [442]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_14m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_14m,'she'))

P('subj-pron'|subj=male) =  0.18464037651817003
P('non-subj-pron'|subj=male) =  0.8153596371412277

In [443]:
c2_average_subj_male_subj_pron['frightened'] = compute_average(IC1_connective2_14m,'he')
c2_average_subj_male_obj_pron['frightened'] = compute_average(IC1_connective2_14m,'she')

### verb: "humiliated"

In [444]:
IC1_connective2_15 = pd.read_csv("../results/gpt2/IC1/connective2/15.csv")
IC1_connective2_15.head()

                                            stimulus        he       she
0  Miss Smith humiliated Mr. Smith and, as a result,  0.872376  0.127624
1     The woman humiliated the man and, as a result,  0.654653  0.345347
2             Mary humiliated John and, as a result,  0.696770  0.303230
3             Alice humiliated Bob and, as a result,  0.496947  0.503053
4  The actress humiliated the actor and, as a res...  0.638990  0.361010

In [445]:
# female subject
IC1_connective2_15f = IC1_connective2_15[0:12]
IC1_connective2_15f = IC1_connective2_15f[["stimulus","she","he"]]
# male subject
IC1_connective2_15m = IC1_connective2_15[12:24]

#### female subject

In [446]:
IC1_connective2_15f

                                             stimulus       she        he
0   Miss Smith humiliated Mr. Smith and, as a result,  0.127624  0.872376
1      The woman humiliated the man and, as a result,  0.345347  0.654653
2              Mary humiliated John and, as a result,  0.303230  0.696770
3              Alice humiliated Bob and, as a result,  0.503053  0.496947
4   The actress humiliated the actor and, as a res...  0.361010  0.638990
5       The girl humiliated the boy and, as a result,  0.308710  0.691290
6   Mrs. Taylor humiliated Mr. Williams and, as a ...  0.174412  0.825588
7             Emma humiliated David and, as a result,  0.342892  0.657108
8   The princess humiliated the prince and, as a r...  0.390935  0.609065
9           Sarah humiliated Robert and, as a result,  0.384413  0.615587
10  Mrs. Williams humiliated Mr. Taylor and, as a ...  0.214838  0.785162
11            Emily humiliated Paul and, as a result,  0.407921  0.592079

In [447]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_15f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_15f,'he'))

P('subj-pron'|subj=female) =  0.32203206419944763
P('non-subj-pron'|subj=female) =  0.6779679308334986

In [448]:
c2_average_subj_female_subj_pron['humiliated'] = compute_average(IC1_connective2_15f,'she')
c2_average_subj_female_obj_pron['humiliated'] = compute_average(IC1_connective2_15f,'he')

#### male subject

In [449]:
IC1_connective2_15m

                                             stimulus        he       she
12  Mr. Smith humiliated Miss Smith and, as a result,  0.222463  0.777537
13     The man humiliated the woman and, as a result,  0.388588  0.611412
14             John humiliated Mary and, as a result,  0.281794  0.718206
15             Bob humiliated Alice and, as a result,  0.240853  0.759147
16  The actor humiliated the actress and, as a res...  0.284185  0.715815
17      The boy humiliated the girl and, as a result,  0.327223  0.672777
18  Mr. William humiliated Mrs. Taylor and, as a r...  0.257374  0.742626
19            David humiliated Emma and, as a result,  0.272919  0.727081
20  The prince humiliated the princess and, as a r...  0.281254  0.718746
21          Robert humiliated Sarah and, as a result,  0.222308  0.777692
22  Mr. Taylor humiliated Mrs. Williams and, as a ...  0.225647  0.774353
23            Paul humiliated Emily and, as a result,  0.219213  0.780787

In [450]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_15m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_15m,'she'))

P('subj-pron'|subj=male) =  0.26865190515915555
P('non-subj-pron'|subj=male) =  0.7313480973243713

In [451]:
c2_average_subj_male_subj_pron['humiliated'] = compute_average(IC1_connective2_15m,'he')
c2_average_subj_male_obj_pron['humiliated'] = compute_average(IC1_connective2_15m,'she')

### verb: "infuriated"

In [452]:
IC1_connective2_16 = pd.read_csv("../results/gpt2/IC1/connective2/16.csv")
IC1_connective2_16.head()

                                            stimulus        he       she
0  Miss Smith infuriated Mr. Smith and, as a result,  0.771770  0.228230
1     The woman infuriated the man and, as a result,  0.716831  0.283169
2             Mary infuriated John and, as a result,  0.707932  0.292068
3             Alice infuriated Bob and, as a result,  0.522531  0.477469
4  The actress infuriated the actor and, as a res...  0.618649  0.381351

In [453]:
# female subject
IC1_connective2_16f = IC1_connective2_16[0:12]
IC1_connective2_16f = IC1_connective2_16f[["stimulus","she","he"]]
# male subject
IC1_connective2_16m = IC1_connective2_16[12:24]

#### female subject

In [454]:
IC1_connective2_16f

                                             stimulus       she        he
0   Miss Smith infuriated Mr. Smith and, as a result,  0.228230  0.771770
1      The woman infuriated the man and, as a result,  0.283169  0.716831
2              Mary infuriated John and, as a result,  0.292068  0.707932
3              Alice infuriated Bob and, as a result,  0.477469  0.522531
4   The actress infuriated the actor and, as a res...  0.381351  0.618649
5       The girl infuriated the boy and, as a result,  0.302060  0.697940
6   Mrs. Taylor infuriated Mr. Williams and, as a ...  0.240939  0.759061
7             Emma infuriated David and, as a result,  0.365096  0.634904
8   The princess infuriated the prince and, as a r...  0.378575  0.621425
9           Sarah infuriated Robert and, as a result,  0.439533  0.560467
10  Mrs. Williams infuriated Mr. Taylor and, as a ...  0.267329  0.732671
11            Emily infuriated Paul and, as a result,  0.421089  0.578911

In [455]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_16f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_16f,'he'))

P('subj-pron'|subj=female) =  0.3397423413892587
P('non-subj-pron'|subj=female) =  0.6602576673030853

In [456]:
c2_average_subj_female_subj_pron['infuriated'] = compute_average(IC1_connective2_16f,'she')
c2_average_subj_female_obj_pron['infuriated'] = compute_average(IC1_connective2_16f,'he')

#### male subject

In [457]:
IC1_connective2_16m

                                             stimulus        he       she
12  Mr. Smith infuriated Miss Smith and, as a result,  0.368200  0.631800
13     The man infuriated the woman and, as a result,  0.307425  0.692575
14             John infuriated Mary and, as a result,  0.324161  0.675839
15             Bob infuriated Alice and, as a result,  0.258174  0.741826
16  The actor infuriated the actress and, as a res...  0.215841  0.784159
17      The boy infuriated the girl and, as a result,  0.259075  0.740925
18  Mr. William infuriated Mrs. Taylor and, as a r...  0.394035  0.605965
19            David infuriated Emma and, as a result,  0.308652  0.691348
20  The prince infuriated the princess and, as a r...  0.265386  0.734614
21          Robert infuriated Sarah and, as a result,  0.312798  0.687202
22  Mr. Taylor infuriated Mrs. Williams and, as a ...  0.355573  0.644427
23            Paul infuriated Emily and, as a result,  0.216570  0.783430

In [458]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_16m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_16m,'she'))

P('subj-pron'|subj=male) =  0.2988240507741769
P('non-subj-pron'|subj=male) =  0.7011759579181671

In [459]:
c2_average_subj_male_subj_pron['infuriated'] = compute_average(IC1_connective2_16m,'he')
c2_average_subj_male_obj_pron['infuriated'] = compute_average(IC1_connective2_16m,'she')

### verb: "inspires"

In [460]:
IC1_connective2_17 = pd.read_csv("../results/gpt2/IC1/connective2/17.csv")
IC1_connective2_17.head()

                                           stimulus        he       she
0   Miss Smith inspires Mr. Smith and, as a result,  0.783170  0.216830
1      The woman inspires the man and, as a result,  0.769837  0.230163
2              Mary inspires John and, as a result,  0.770920  0.229080
3              Alice inspires Bob and, as a result,  0.633789  0.366211
4  The actress inspires the actor and, as a result,  0.634741  0.365259

In [461]:
# female subject
IC1_connective2_17f = IC1_connective2_17[0:12]
IC1_connective2_17f = IC1_connective2_17f[["stimulus","she","he"]]
# male subject
IC1_connective2_17m = IC1_connective2_17[12:24]

#### female subject

In [462]:
IC1_connective2_17f

                                             stimulus       she        he
0     Miss Smith inspires Mr. Smith and, as a result,  0.216830  0.783170
1        The woman inspires the man and, as a result,  0.230163  0.769837
2                Mary inspires John and, as a result,  0.229080  0.770920
3                Alice inspires Bob and, as a result,  0.366211  0.633789
4    The actress inspires the actor and, as a result,  0.365259  0.634741
5         The girl inspires the boy and, as a result,  0.221227  0.778773
6   Mrs. Taylor inspires Mr. Williams and, as a re...  0.178597  0.821403
7               Emma inspires David and, as a result,  0.250627  0.749373
8   The princess inspires the prince and, as a res...  0.164543  0.835457
9             Sarah inspires Robert and, as a result,  0.230494  0.769506
10  Mrs. Williams inspires Mr. Taylor and, as a re...  0.222194  0.777806
11              Emily inspires Paul and, as a result,  0.257242  0.742758

In [463]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_17f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_17f,'he'))

P('subj-pron'|subj=female) =  0.24437222753961882
P('non-subj-pron'|subj=female) =  0.7556277563174566

In [464]:
c2_average_subj_female_subj_pron['inspires'] = compute_average(IC1_connective2_17f,'she')
c2_average_subj_female_obj_pron['inspires'] = compute_average(IC1_connective2_17f,'he')

#### male subject

In [465]:
IC1_connective2_17m

                                             stimulus        he       she
12    Mr. Smith inspires Miss Smith and, as a result,  0.295904  0.704096
13       The man inspires the woman and, as a result,  0.225249  0.774751
14               John inspires Mary and, as a result,  0.201989  0.798011
15               Bob inspires Alice and, as a result,  0.113031  0.886969
16   The actor inspires the actress and, as a result,  0.203443  0.796557
17        The boy inspires the girl and, as a result,  0.232884  0.767116
18  Mr. William inspires Mrs. Taylor and, as a res...  0.368003  0.631997
19              David inspires Emma and, as a result,  0.201350  0.798650
20  The prince inspires the princess and, as a res...  0.167287  0.832713
21            Robert inspires Sarah and, as a result,  0.272645  0.727355
22  Mr. Taylor inspires Mrs. Williams and, as a re...  0.345990  0.654010
23              Paul inspires Emily and, as a result,  0.169006  0.830994

In [466]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_17m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_17m,'she'))

P('subj-pron'|subj=male) =  0.23306516061226526
P('non-subj-pron'|subj=male) =  0.7669348319371542

In [467]:
c2_average_subj_male_subj_pron['inspires'] = compute_average(IC1_connective2_17m,'he')
c2_average_subj_male_obj_pron['inspires'] = compute_average(IC1_connective2_17m,'she')

### verb: "intimidates"

In [468]:
IC1_connective2_18 = pd.read_csv("../results/gpt2/IC1/connective2/18.csv")
IC1_connective2_18.head()

                                            stimulus        he       she
0  Miss Smith intimidates Mr. Smith and, as a res...  0.872636  0.127364
1    The woman intimidates the man and, as a result,  0.840502  0.159498
2            Mary intimidates John and, as a result,  0.787129  0.212871
3            Alice intimidates Bob and, as a result,  0.695281  0.304719
4  The actress intimidates the actor and, as a re...  0.801162  0.198838

In [469]:
# female subject
IC1_connective2_18f = IC1_connective2_18[0:12]
IC1_connective2_18f = IC1_connective2_18f[["stimulus","she","he"]]
# male subject
IC1_connective2_18m = IC1_connective2_18[12:24]

#### female subject

In [470]:
IC1_connective2_18f

                                             stimulus       she        he
0   Miss Smith intimidates Mr. Smith and, as a res...  0.127364  0.872636
1     The woman intimidates the man and, as a result,  0.159498  0.840502
2             Mary intimidates John and, as a result,  0.212871  0.787129
3             Alice intimidates Bob and, as a result,  0.304719  0.695281
4   The actress intimidates the actor and, as a re...  0.198838  0.801162
5      The girl intimidates the boy and, as a result,  0.157299  0.842701
6   Mrs. Taylor intimidates Mr. Williams and, as a...  0.107871  0.892129
7            Emma intimidates David and, as a result,  0.196121  0.803879
8   The princess intimidates the prince and, as a ...  0.187385  0.812616
9          Sarah intimidates Robert and, as a result,  0.200744  0.799257
10  Mrs. Williams intimidates Mr. Taylor and, as a...  0.131820  0.868180
11           Emily intimidates Paul and, as a result,  0.231823  0.768177

In [471]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_18f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_18f,'he'))

P('subj-pron'|subj=female) =  0.18469593425591788
P('non-subj-pron'|subj=female) =  0.8153040657440821

In [472]:
c2_average_subj_female_subj_pron['intimidates'] = compute_average(IC1_connective2_18f,'she')
c2_average_subj_female_obj_pron['intimidates'] = compute_average(IC1_connective2_18f,'he')

#### male subject

In [473]:
IC1_connective2_18m

                                             stimulus        he       she
12  Mr. Smith intimidates Miss Smith and, as a res...  0.189197  0.810803
13    The man intimidates the woman and, as a result,  0.217685  0.782315
14            John intimidates Mary and, as a result,  0.255766  0.744234
15            Bob intimidates Alice and, as a result,  0.165868  0.834132
16  The actor intimidates the actress and, as a re...  0.185576  0.814424
17     The boy intimidates the girl and, as a result,  0.219999  0.780001
18  Mr. William intimidates Mrs. Taylor and, as a ...  0.249025  0.750975
19           David intimidates Emma and, as a result,  0.188120  0.811880
20  The prince intimidates the princess and, as a ...  0.159430  0.840570
21         Robert intimidates Sarah and, as a result,  0.221057  0.778943
22  Mr. Taylor intimidates Mrs. Williams and, as a...  0.242340  0.757660
23           Paul intimidates Emily and, as a result,  0.175645  0.824355

In [474]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_18m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_18m,'she'))

P('subj-pron'|subj=male) =  0.20580904930830002
P('non-subj-pron'|subj=male) =  0.794190968076388

In [475]:
c2_average_subj_male_subj_pron['intimidates'] = compute_average(IC1_connective2_18m,'he')
c2_average_subj_male_obj_pron['intimidates'] = compute_average(IC1_connective2_18m,'she')

### verb: "scares"

In [476]:
IC1_connective2_19 = pd.read_csv("../results/gpt2/IC1/connective2/19.csv")
IC1_connective2_19.head()

                                         stimulus        he       she
0   Miss Smith scares Mr. Smith and, as a result,  0.800902  0.199098
1      The woman scares the man and, as a result,  0.819022  0.180978
2              Mary scares John and, as a result,  0.823965  0.176036
3              Alice scares Bob and, as a result,  0.648040  0.351960
4  The actress scares the actor and, as a result,  0.776612  0.223388

In [477]:
# female subject
IC1_connective2_19f = IC1_connective2_19[0:12]
IC1_connective2_19f = IC1_connective2_19f[["stimulus","she","he"]]
# male subject
IC1_connective2_19m = IC1_connective2_19[12:24]

#### female subject

In [478]:
IC1_connective2_19f

                                             stimulus       she        he
0       Miss Smith scares Mr. Smith and, as a result,  0.199098  0.800902
1          The woman scares the man and, as a result,  0.180978  0.819022
2                  Mary scares John and, as a result,  0.176036  0.823965
3                  Alice scares Bob and, as a result,  0.351960  0.648040
4      The actress scares the actor and, as a result,  0.223388  0.776612
5           The girl scares the boy and, as a result,  0.163621  0.836379
6   Mrs. Taylor scares Mr. Williams and, as a result,  0.166122  0.833878
7                 Emma scares David and, as a result,  0.193453  0.806547
8    The princess scares the prince and, as a result,  0.175046  0.824954
9               Sarah scares Robert and, as a result,  0.180625  0.819375
10  Mrs. Williams scares Mr. Taylor and, as a result,  0.199112  0.800889
11                Emily scares Paul and, as a result,  0.231385  0.768615

In [479]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_19f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_19f,'he'))

P('subj-pron'|subj=female) =  0.20340200886130333
P('non-subj-pron'|subj=female) =  0.7965980023145676

In [480]:
c2_average_subj_female_subj_pron['scares'] = compute_average(IC1_connective2_19f,'she')
c2_average_subj_female_obj_pron['scares'] = compute_average(IC1_connective2_19f,'he')

#### male subject

In [481]:
IC1_connective2_19m

                                             stimulus        he       she
12      Mr. Smith scares Miss Smith and, as a result,  0.309219  0.690781
13         The man scares the woman and, as a result,  0.270116  0.729884
14                 John scares Mary and, as a result,  0.288582  0.711418
15                 Bob scares Alice and, as a result,  0.158210  0.841790
16     The actor scares the actress and, as a result,  0.236586  0.763414
17          The boy scares the girl and, as a result,  0.246770  0.753230
18   Mr. William scares Mrs. Taylor and, as a result,  0.308273  0.691727
19                David scares Emma and, as a result,  0.219661  0.780339
20   The prince scares the princess and, as a result,  0.240094  0.759906
21              Robert scares Sarah and, as a result,  0.267650  0.732350
22  Mr. Taylor scares Mrs. Williams and, as a result,  0.308050  0.691950
23                Paul scares Emily and, as a result,  0.196061  0.803939

In [482]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_19m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_19m,'she'))

P('subj-pron'|subj=male) =  0.2541059652964274
P('non-subj-pron'|subj=male) =  0.7458940347035726

In [483]:
c2_average_subj_male_subj_pron['scares'] = compute_average(IC1_connective2_19m,'he')
c2_average_subj_male_obj_pron['scares'] = compute_average(IC1_connective2_19m,'she')

### verb: "surprised"

In [484]:
IC1_connective2_20 = pd.read_csv("../results/gpt2/IC1/connective2/20.csv")
IC1_connective2_20.head()

                                            stimulus        he       she
0   Miss Smith surprised Mr. Smith and, as a result,  0.776902  0.223098
1      The woman surprised the man and, as a result,  0.740078  0.259922
2              Mary surprised John and, as a result,  0.704639  0.295361
3              Alice surprised Bob and, as a result,  0.477961  0.522039
4  The actress surprised the actor and, as a result,  0.778007  0.221993

In [485]:
# female subject
IC1_connective2_20f = IC1_connective2_20[0:12]
IC1_connective2_20f = IC1_connective2_20f[["stimulus","she","he"]]
# male subject
IC1_connective2_20m = IC1_connective2_20[12:24]

#### female subject

In [486]:
IC1_connective2_20f

                                             stimulus       she        he
0    Miss Smith surprised Mr. Smith and, as a result,  0.223098  0.776902
1       The woman surprised the man and, as a result,  0.259922  0.740078
2               Mary surprised John and, as a result,  0.295361  0.704639
3               Alice surprised Bob and, as a result,  0.522039  0.477961
4   The actress surprised the actor and, as a result,  0.221993  0.778007
5        The girl surprised the boy and, as a result,  0.338205  0.661795
6   Mrs. Taylor surprised Mr. Williams and, as a r...  0.217918  0.782082
7              Emma surprised David and, as a result,  0.325979  0.674021
8   The princess surprised the prince and, as a re...  0.363836  0.636164
9            Sarah surprised Robert and, as a result,  0.349952  0.650048
10  Mrs. Williams surprised Mr. Taylor and, as a r...  0.243308  0.756692
11             Emily surprised Paul and, as a result,  0.366863  0.633137

In [487]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_20f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_20f,'he'))

P('subj-pron'|subj=female) =  0.3107059833904107
P('non-subj-pron'|subj=female) =  0.6892940178513527

In [488]:
c2_average_subj_female_subj_pron['surprised'] = compute_average(IC1_connective2_20f,'she')
c2_average_subj_female_obj_pron['surprised'] = compute_average(IC1_connective2_20f,'he')

#### male subject

In [489]:
IC1_connective2_20m

                                             stimulus        he       she
12   Mr. Smith surprised Miss Smith and, as a result,  0.303768  0.696232
13      The man surprised the woman and, as a result,  0.286924  0.713076
14              John surprised Mary and, as a result,  0.298066  0.701934
15              Bob surprised Alice and, as a result,  0.226960  0.773040
16  The actor surprised the actress and, as a result,  0.196015  0.803985
17       The boy surprised the girl and, as a result,  0.282886  0.717114
18  Mr. William surprised Mrs. Taylor and, as a re...  0.344350  0.655650
19             David surprised Emma and, as a result,  0.235649  0.764351
20  The prince surprised the princess and, as a re...  0.250300  0.749700
21           Robert surprised Sarah and, as a result,  0.269020  0.730980
22  Mr. Taylor surprised Mrs. Williams and, as a r...  0.315922  0.684078
23             Paul surprised Emily and, as a result,  0.185685  0.814315

In [490]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_20m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_20m,'she'))

P('subj-pron'|subj=male) =  0.2662954417367776
P('non-subj-pron'|subj=male) =  0.7337045619885126

In [491]:
c2_average_subj_male_subj_pron['surprised'] = compute_average(IC1_connective2_20m,'he')
c2_average_subj_male_obj_pron['surprised'] = compute_average(IC1_connective2_20m,'she')

## Summary of Results

In [492]:
c2_results_fsubj_subjpron = pd.DataFrame(list(c2_average_subj_female_subj_pron.items()),columns=['verb','subj_ref_female_subj'])
c2_results_fsubj_objpron = pd.DataFrame(list(c2_average_subj_female_obj_pron.items()),columns=['verb','obj_ref_female_subj'])
c2_results_fsubj = c2_results_fsubj_subjpron.merge(c2_results_fsubj_objpron)
c2_results_fsubj

            verb  subj_ref_female_subj  obj_ref_female_subj
0     aggravated              0.375086             0.624914
1         amazed              0.319480             0.680520
2         amused              0.342795             0.657205
3        annoyed              0.339690             0.660310
4     apologized              0.512382             0.487618
5          bored              0.548659             0.451341
6        charmed              0.331803             0.668197
7       offended              0.361187             0.638813
8      confessed              0.387080             0.612920
9       deceived              0.405754             0.594246
10  disappointed              0.381997             0.618003
11   exasperated              0.330904             0.669096
12    fascinated              0.299061             0.700939
13    frightened              0.198188             0.801812
14    humiliated              0.322032             0.677968
15    infuriated              0.339742             0.660258
16      inspires              0.244372             0.755628
17   intimidates              0.184696             0.815304
18        scares              0.203402             0.796598
19     surprised              0.310706             0.689294

In [493]:
c2_results_msubj_subjpron = pd.DataFrame(list(c2_average_subj_male_subj_pron.items()),columns=['verb','subj_ref_male_subj'])
c2_results_msubj_objpron = pd.DataFrame(list(c2_average_subj_male_obj_pron.items()),columns=['verb','obj_ref_male_subj'])
c2_results_msubj = c2_results_msubj_subjpron.merge(c2_results_msubj_objpron)
c2_results_msubj

            verb  subj_ref_male_subj  obj_ref_male_subj
0     aggravated            0.394626           0.605374
1         amazed            0.267042           0.732958
2         amused            0.271777           0.728223
3        annoyed            0.295613           0.704387
4     apologized            0.256230           0.743770
5          bored            0.219434           0.780566
6        charmed            0.286452           0.713548
7       offended            0.328677           0.671323
8      confessed            0.338552           0.661448
9       deceived            0.323949           0.676051
10  disappointed            0.337406           0.662594
11   exasperated            0.274274           0.725726
12    fascinated            0.198097           0.801903
13    frightened            0.184640           0.815360
14    humiliated            0.268652           0.731348
15    infuriated            0.298824           0.701176
16      inspires            0.233065           0.766935
17   intimidates            0.205809           0.794191
18        scares            0.254106           0.745894
19     surprised            0.266295           0.733705

In [494]:
c2_results = c2_results_fsubj.merge(c2_results_msubj)
c2_results

,verb,subj_ref_female_subj,obj_ref_female_subj,subj_ref_male_subj,obj_ref_male_subj
0,aggravated,0.375086,0.624914,0.394626,0.605374
1,amazed,0.319480,0.680520,0.267042,0.732958
2,amused,0.342795,0.657205,0.271777,0.728223
3,annoyed,0.339690,0.660310,0.295613,0.704387
4,apologized,0.512382,0.487618,0.256230,0.743770
5,bored,0.548659,0.451341,0.219434,0.780566
6,charmed,0.331803,0.668197,0.286452,0.713548
7,offended,0.361187,0.638813,0.328677,0.671323
8,confessed,0.387080,0.612920,0.338552,0.661448
9,deceived,0.405754,0.594246,0.323949,0.676051
10,disappointed,0.381997,0.618003,0.337406,0.662594
11,exasperated,0.330904,0.669096,0.274274,0.725726
12,fascinated,0.299061,0.700939,0.198097,0.801903
13,frightened,0.198188,0.801812,0.184640,0.815360
14,humiliated,0.322032,0.677968,0.268652,0.731348
15,infuriated,0.339742,0.660258,0.298824,0.701176
16,inspires,0.244372,0.755628,0.233065,0.766935
17,intimidates,0.184696,0.815304,0.205809,0.794191
18,scares,0.203402,0.796598,0.254106,0.745894
19,surprised,0.310706,0.689294,0.266295,0.733705

In [495]:
print("P(subj_reference |subj=female)", compute_average(c2_results,'subj_ref_female_subj'))
print("P(obj_reference |subj=female)", compute_average(c2_results,'obj_ref_female_subj'))

P(subj_reference |subj=female) 0.3369508379449447
P(obj_reference |subj=female) 0.663049160471807

In [496]:
print("P(subj_reference |subj=male)", compute_average(c2_results,'subj_ref_male_subj'))
print("P(obj_reference |subj=male)", compute_average(c2_results,'obj_ref_male_subj'))

P(subj_reference |subj=male) 0.2751760940377911
P(obj_reference |subj=male) 0.7248239062726498

In [497]:
# save results to csv
col_headers = ['verb','subj_ref_female_subj','obj_ref_female_subj','subj_ref_male_subj','obj_ref_male_subj']
np_results.to_csv("../results/gpt2/summary/IC1-noprompt.csv",index=False,header=col_headers)
c1_results.to_csv("../results/gpt2/summary/IC1-connective1.csv",index=False,header=col_headers)
c2_results.to_csv("../results/gpt2/summary/IC1-connective2.csv",index=False,header=col_headers)