In [1]:
import pandas as pd
import numpy as np

In [2]:
def compute_average(df,col):
    return np.mean(df[col].values)

## No-prompt

In [3]:
np_average_subj_female_subj_pron = {}
np_average_subj_female_obj_pron = {}
np_average_subj_male_subj_pron = {}
np_average_subj_male_obj_pron = {}

### Verb: "aggravated"

In [4]:
IC1_noprompt_1 = pd.read_csv("../results/IC1/no-prompt/1.csv")
IC1_noprompt_1.head()

                            stimulus        He       She
0   Miss Smith aggravated Mr. Smith.  0.712403  0.287597
1      The woman aggravated the man.  0.748570  0.251430
2              Mary aggravated John.  0.722352  0.277648
3              Alice aggravated Bob.  0.583116  0.416885
4  The actress aggravated the actor.  0.800233  0.199767

In [5]:
# female subject
IC1_noprompt_1f = IC1_noprompt_1[0:12]
IC1_noprompt_1f = IC1_noprompt_1f[["stimulus","She","He"]]
# male subject
IC1_noprompt_1m = IC1_noprompt_1[12:24]

#### female subject

In [6]:
IC1_noprompt_1f

                                stimulus       She        He
0       Miss Smith aggravated Mr. Smith.  0.287597  0.712403
1          The woman aggravated the man.  0.251430  0.748570
2                  Mary aggravated John.  0.277648  0.722352
3                  Alice aggravated Bob.  0.416885  0.583116
4      The actress aggravated the actor.  0.199767  0.800233
5           The girl aggravated the boy.  0.239373  0.760627
6   Mrs. Taylor aggravated Mr. Williams.  0.274451  0.725549
7                 Emma aggravated David.  0.781370  0.218630
8    The princess aggravated the prince.  0.220763  0.779237
9               Sarah aggravated Robert.  0.502574  0.497426
10  Mrs. Williams aggravated Mr. Taylor.  0.254912  0.745088
11                Emily aggravated Paul.  0.721554  0.278446

In [7]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_1f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_1f,'He'))

P('subj-pron'|subj=female) =  0.3690269887447357
P('non-subj-pron'|subj=female) =  0.6309730311234792

In [8]:
np_average_subj_female_subj_pron['aggravated'] = compute_average(IC1_noprompt_1f,'She')
np_average_subj_female_obj_pron['aggravated'] = compute_average(IC1_noprompt_1f,'He')

#### male subject

In [9]:
IC1_noprompt_1m

                                stimulus        He       She
12      Mr. Smith aggravated Miss Smith.  0.479740  0.520260
13         The man aggravated the woman.  0.780579  0.219421
14                 John aggravated Mary.  0.890426  0.109574
15                 Bob aggravated Alice.  0.493471  0.506529
16     The actor aggravated the actress.  0.851202  0.148798
17          The boy aggravated the girl.  0.848100  0.151900
18   Mr. William aggravated Mrs. Taylor.  0.827545  0.172455
19                David aggravated Emma.  0.217984  0.782016
20   The prince aggravated the princess.  0.854236  0.145764
21              Robert aggravated Sarah.  0.279596  0.720404
22  Mr. Taylor aggravated Mrs. Williams.  0.809859  0.190141
23                Paul aggravated Emily.  0.796622  0.203378

In [10]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_1m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_1m,'She'))

P('subj-pron'|subj=male) =  0.6774466459949812
P('non-subj-pron'|subj=male) =  0.32255336083471775

In [11]:
np_average_subj_male_subj_pron['aggravated'] = compute_average(IC1_noprompt_1m,'He')
np_average_subj_male_obj_pron['aggravated'] = compute_average(IC1_noprompt_1m,'She')

### Verb: "amazed"

In [12]:
IC1_noprompt_2 = pd.read_csv("../results/IC1/no-prompt/2.csv")
IC1_noprompt_2.head()

                        stimulus        He       She
0   Miss Smith amazed Mr. Smith.  0.712806  0.287194
1      The woman amazed the man.  0.741540  0.258460
2              Mary amazed John.  0.742378  0.257622
3              Alice amazed Bob.  0.724139  0.275861
4  The actress amazed the actor.  0.813367  0.186633

In [13]:
# female subject
IC1_noprompt_2f = IC1_noprompt_2[0:12]
IC1_noprompt_2f = IC1_noprompt_2f[["stimulus","She","He"]]
# male subject
IC1_noprompt_2m = IC1_noprompt_2[12:24]

#### female subject

In [14]:
IC1_noprompt_2f

                            stimulus       She        He
0       Miss Smith amazed Mr. Smith.  0.287194  0.712806
1          The woman amazed the man.  0.258460  0.741540
2                  Mary amazed John.  0.257622  0.742378
3                  Alice amazed Bob.  0.275861  0.724139
4      The actress amazed the actor.  0.186633  0.813367
5           The girl amazed the boy.  0.244516  0.755484
6   Mrs. Taylor amazed Mr. Williams.  0.276434  0.723566
7                 Emma amazed David.  0.875418  0.124582
8    The princess amazed the prince.  0.215586  0.784414
9               Sarah amazed Robert.  0.415236  0.584764
10  Mrs. Williams amazed Mr. Taylor.  0.252380  0.747620
11                Emily amazed Paul.  0.573636  0.426364

In [15]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_2f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_2f,'He'))

P('subj-pron'|subj=female) =  0.34324807673692703
P('non-subj-pron'|subj=female) =  0.6567519083619118

In [16]:
np_average_subj_female_subj_pron['amazed'] = compute_average(IC1_noprompt_2f,'She')
np_average_subj_female_obj_pron['amazed'] = compute_average(IC1_noprompt_2f,'He')

#### male subject

In [17]:
IC1_noprompt_2m

                            stimulus        He       She
12      Mr. Smith amazed Miss Smith.  0.393909  0.606091
13         The man amazed the woman.  0.845955  0.154045
14                John amazed Alice.  0.086121  0.913879
15                  Bob amazed John.  0.921618  0.078382
16     The actor amazed the actress.  0.840316  0.159684
17          The boy amazed the girl.  0.836959  0.163041
18   Mr. William amazed Mrs. Taylor.  0.818777  0.181223
19                David amazed Emma.  0.028734  0.971266
20   The prince amazed the princess.  0.846600  0.153400
21              Robert amazed Sarah.  0.077553  0.922447
22  Mr. Taylor amazed Mrs. Williams.  0.796226  0.203774
23                Paul amazed Emily.  0.410261  0.589739

In [18]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_2m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_2m,'She'))

P('subj-pron'|subj=male) =  0.5752526288852096
P('non-subj-pron'|subj=male) =  0.42474737390875816

In [19]:
np_average_subj_male_subj_pron['amazed'] = compute_average(IC1_noprompt_2m,'He')
np_average_subj_male_obj_pron['amazed'] = compute_average(IC1_noprompt_2m,'She')

### Verb: "amused"

In [20]:
IC1_noprompt_3 = pd.read_csv("../results/IC1/no-prompt/3.csv")
IC1_noprompt_3.head()

                        stimulus        He       She
0   Miss Smith amused Mr. Smith.  0.708206  0.291794
1      The woman amused the man.  0.739763  0.260237
2              Mary amused John.  0.659801  0.340199
3              Alice amused Bob.  0.687991  0.312009
4  The actress amused the actor.  0.809105  0.190895

In [21]:
# female subject
IC1_noprompt_3f = IC1_noprompt_3[0:12]
IC1_noprompt_3f = IC1_noprompt_3f[["stimulus","She","He"]]
# male subject
IC1_noprompt_3m = IC1_noprompt_3[12:24]

#### female subject

In [22]:
IC1_noprompt_3f

                            stimulus       She        He
0       Miss Smith amused Mr. Smith.  0.291794  0.708206
1          The woman amused the man.  0.260237  0.739763
2                  Mary amused John.  0.340199  0.659801
3                  Alice amused Bob.  0.312009  0.687991
4      The actress amused the actor.  0.190895  0.809105
5           The girl amused the boy.  0.248741  0.751259
6   Mrs. Taylor amused Mr. Williams.  0.282680  0.717320
7                 Emma amused David.  0.913762  0.086238
8    The princess amused the prince.  0.222935  0.777065
9               Sarah amused Robert.  0.684950  0.315050
10  Mrs. Williams amused Mr. Taylor.  0.262888  0.737112
11                Emily amused Paul.  0.712462  0.287538

In [23]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_3f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_3f,'He'))

P('subj-pron'|subj=female) =  0.393629206965367
P('non-subj-pron'|subj=female) =  0.6063707924137512

In [24]:
np_average_subj_female_subj_pron['amused'] = compute_average(IC1_noprompt_3f,'She')
np_average_subj_female_obj_pron['amused'] = compute_average(IC1_noprompt_3f,'He')

#### male subject

In [25]:
IC1_noprompt_3m

                            stimulus        He       She
12      Mr. Smith amused Miss Smith.  0.781806  0.218194
13         The man amused the woman.  0.847939  0.152061
14                John amused Alice.  0.182461  0.817539
15                  Bob amused John.  0.959470  0.040530
16     The actor amused the actress.  0.843430  0.156570
17          The boy amused the girl.  0.843514  0.156486
18   Mr. William amused Mrs. Taylor.  0.818330  0.181670
19                David amused Emma.  0.047956  0.952044
20   The prince amused the princess.  0.850603  0.149397
21              Robert amused Sarah.  0.105998  0.894002
22  Mr. Taylor amused Mrs. Williams.  0.798474  0.201526
23                Paul amused Emily.  0.812941  0.187059

In [26]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_3m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_3m,'She'))

P('subj-pron'|subj=male) =  0.6577434626718363
P('non-subj-pron'|subj=male) =  0.34225654136389494

In [27]:
np_average_subj_male_subj_pron['amused'] = compute_average(IC1_noprompt_3m,'He')
np_average_subj_male_obj_pron['amused'] = compute_average(IC1_noprompt_3m,'She')

### verb: "annoyed"

In [28]:
IC1_noprompt_4 = pd.read_csv("../results/IC1/no-prompt/4.csv")
IC1_noprompt_4.head()

                         stimulus        He       She
0   Miss Smith annoyed Mr. Smith.  0.706026  0.293974
1      The woman annoyed the man.  0.735588  0.264412
2              Mary annoyed John.  0.664139  0.335861
3              Alice annoyed Bob.  0.376457  0.623543
4  The actress annoyed the actor.  0.800256  0.199744

In [29]:
# female subject
IC1_noprompt_4f = IC1_noprompt_4[0:12]
IC1_noprompt_4f = IC1_noprompt_4f[["stimulus","She","He"]]
# male subject
IC1_noprompt_4m = IC1_noprompt_4[12:24]

#### female subject

In [30]:
IC1_noprompt_4f

                             stimulus       She        He
0       Miss Smith annoyed Mr. Smith.  0.293974  0.706026
1          The woman annoyed the man.  0.264412  0.735588
2                  Mary annoyed John.  0.335861  0.664139
3                  Alice annoyed Bob.  0.623543  0.376457
4      The actress annoyed the actor.  0.199744  0.800256
5           The girl annoyed the boy.  0.253946  0.746054
6   Mrs. Taylor annoyed Mr. Williams.  0.283106  0.716894
7                 Emma annoyed David.  0.950032  0.049968
8    The princess annoyed the prince.  0.226868  0.773132
9               Sarah annoyed Robert.  0.505923  0.494077
10  Mrs. Williams annoyed Mr. Taylor.  0.259884  0.740116
11                Emily annoyed Paul.  0.734988  0.265012

In [31]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_4f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_4f,'He'))

P('subj-pron'|subj=female) =  0.41102326785524684
P('non-subj-pron'|subj=female) =  0.5889767135183016

In [32]:
np_average_subj_female_subj_pron['annoyed'] = compute_average(IC1_noprompt_4f,'She')
np_average_subj_female_obj_pron['annoyed'] = compute_average(IC1_noprompt_4f,'He')

#### male subject

In [33]:
IC1_noprompt_4m

                             stimulus        He       She
12      Mr. Smith annoyed Miss Smith.  0.776612  0.223388
13         The man annoyed the woman.  0.847109  0.152891
14                John annoyed Alice.  0.128944  0.871056
15                  Bob annoyed John.  0.942445  0.057555
16     The actor annoyed the actress.  0.837125  0.162875
17          The boy annoyed the girl.  0.837642  0.162358
18   Mr. William annoyed Mrs. Taylor.  0.815770  0.184230
19                David annoyed Emma.  0.041084  0.958916
20   The prince annoyed the princess.  0.846451  0.153549
21              Robert annoyed Sarah.  0.099788  0.900212
22  Mr. Taylor annoyed Mrs. Williams.  0.788191  0.211809
23                Paul annoyed Emily.  0.807293  0.192707

In [34]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_4m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_4m,'She'))

P('subj-pron'|subj=male) =  0.6473712055012584
P('non-subj-pron'|subj=male) =  0.3526288093999028

In [35]:
np_average_subj_male_subj_pron['annoyed'] = compute_average(IC1_noprompt_4m,'He')
np_average_subj_male_obj_pron['annoyed'] = compute_average(IC1_noprompt_4m,'She')

### verb: "apologized"

In [36]:
IC1_noprompt_5 = pd.read_csv("../results/IC1/no-prompt/5.csv")
IC1_noprompt_5.head()

                               stimulus        He       She
0   Miss Smith apologized to Mr. Smith.  0.738259  0.261741
1      The woman apologized to the man.  0.779082  0.220918
2              Mary apologized to John.  0.552108  0.447892
3              Alice apologized to Bob.  0.336631  0.663369
4  The actress apologized to the actor.  0.790585  0.209415

In [37]:
# female subject
IC1_noprompt_5f = IC1_noprompt_5[0:12]
IC1_noprompt_5f = IC1_noprompt_5f[["stimulus","She","He"]]
# male subject
IC1_noprompt_5m = IC1_noprompt_5[12:24]

#### female subject

In [38]:
IC1_noprompt_5f

                                   stimulus       She        He
0       Miss Smith apologized to Mr. Smith.  0.261741  0.738259
1          The woman apologized to the man.  0.220918  0.779082
2                  Mary apologized to John.  0.447892  0.552108
3                  Alice apologized to Bob.  0.663369  0.336631
4      The actress apologized to the actor.  0.209415  0.790585
5           The girl apologized to the boy.  0.214544  0.785455
6   Mrs. Taylor apologized to Mr. Williams.  0.251009  0.748991
7                 Emma apologized to David.  0.305122  0.694878
8    The princess apologized to the prince.  0.211212  0.788788
9               Sarah apologized to Robert.  0.650074  0.349926
10  Mrs. Williams apologized to Mr. Taylor.  0.239419  0.760581
11                Emily apologized to Paul.  0.781276  0.218724

In [39]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_5f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_5f,'He'))

P('subj-pron'|subj=female) =  0.37133266280094784
P('non-subj-pron'|subj=female) =  0.6286673297484716

In [40]:
np_average_subj_female_subj_pron['apologized'] = compute_average(IC1_noprompt_5f,'She')
np_average_subj_female_obj_pron['apologized'] = compute_average(IC1_noprompt_5f,'He')

#### male subject

In [41]:
IC1_noprompt_5m

                                   stimulus        He       She
12      Mr. Smith apologized to Miss Smith.  0.823735  0.176265
13         The man apologized to the woman.  0.869042  0.130958
14                John apologized to Alice.  0.454311  0.545689
15                  Bob apologized to John.  0.951967  0.048034
16     The actor apologized to the actress.  0.859352  0.140648
17          The boy apologized to the girl.  0.859967  0.140033
18   Mr. William apologized to Mrs. Taylor.  0.853027  0.146973
19                David apologized to Emma.  0.155096  0.844904
20   The prince apologized to the princess.  0.864138  0.135862
21              Robert apologized to Sarah.  0.116163  0.883837
22  Mr. Taylor apologized to Mrs. Williams.  0.830527  0.169473
23                Paul apologized to Emily.  0.819126  0.180874

In [42]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_5m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_5m,'She'))

P('subj-pron'|subj=male) =  0.704704262316227
P('non-subj-pron'|subj=male) =  0.2952957482387622

In [43]:
np_average_subj_male_subj_pron['apologized'] = compute_average(IC1_noprompt_5m,'He')
np_average_subj_male_obj_pron['apologized'] = compute_average(IC1_noprompt_5m,'She')

### verb: "bored"

In [44]:
IC1_noprompt_6 = pd.read_csv("../results/IC1/no-prompt/6.csv")
IC1_noprompt_6.head()

                       stimulus        He       She
0   Miss Smith bored Mr. Smith.  0.237559  0.762441
1      The woman bored the man.  0.717448  0.282552
2              Mary bored John.  0.683743  0.316257
3              Alice bored Bob.  0.591329  0.408671
4  The actress bored the actor.  0.771539  0.228461

In [45]:
# female subject
IC1_noprompt_6f = IC1_noprompt_6[0:12]
IC1_noprompt_6f = IC1_noprompt_6f[["stimulus","She","He"]]
# male subject
IC1_noprompt_6m = IC1_noprompt_6[12:24]

#### female subject

In [46]:
IC1_noprompt_6f

                           stimulus       She        He
0       Miss Smith bored Mr. Smith.  0.762441  0.237559
1          The woman bored the man.  0.282552  0.717448
2                  Mary bored John.  0.316257  0.683743
3                  Alice bored Bob.  0.408671  0.591329
4      The actress bored the actor.  0.228461  0.771539
5           The girl bored the boy.  0.274098  0.725902
6   Mrs. Taylor bored Mr. Williams.  0.299810  0.700190
7                 Emma bored David.  0.880277  0.119723
8    The princess bored the prince.  0.246555  0.753445
9               Sarah bored Robert.  0.587810  0.412190
10  Mrs. Williams bored Mr. Taylor.  0.733173  0.266827
11                Emily bored Paul.  0.755477  0.244523

In [47]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_6f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_6f,'He'))

P('subj-pron'|subj=female) =  0.48129859442512196
P('non-subj-pron'|subj=female) =  0.5187014173716307

In [48]:
np_average_subj_female_subj_pron['bored'] = compute_average(IC1_noprompt_6f,'She')
np_average_subj_female_obj_pron['bored'] = compute_average(IC1_noprompt_6f,'He')

In [49]:
IC1_noprompt_6m

                           stimulus        He       She
12      Mr. Smith bored Miss Smith.  0.328268  0.671731
13         The man bored the woman.  0.838233  0.161767
14                John bored Alice.  0.200217  0.799783
15                  Bob bored John.  0.919740  0.080260
16     The actor bored the actress.  0.825254  0.174746
17          The boy bored the girl.  0.827134  0.172866
18   Mr. William bored Mrs. Taylor.  0.793121  0.206879
19                David bored Emma.  0.038826  0.961174
20   The prince bored the princess.  0.830954  0.169046
21              Robert bored Sarah.  0.195364  0.804636
22  Mr. Taylor bored Mrs. Williams.  0.761435  0.238565
23                Paul bored Emily.  0.791392  0.208608

In [50]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_6m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_6m,'She'))

P('subj-pron'|subj=male) =  0.6124948747456074
P('non-subj-pron'|subj=male) =  0.3875051277379195

In [51]:
np_average_subj_male_subj_pron['bored'] = compute_average(IC1_noprompt_6m,'He')
np_average_subj_male_obj_pron['bored'] = compute_average(IC1_noprompt_6m,'She')

### verb: "charmed"

In [52]:
IC1_noprompt_7 = pd.read_csv("../results/IC1/no-prompt/7.csv")
IC1_noprompt_7.head()

                         stimulus        He       She
0   Miss Smith charmed Mr. Smith.  0.699949  0.300051
1      The woman charmed the man.  0.736658  0.263342
2              Mary charmed John.  0.645064  0.354936
3              Alice charmed Bob.  0.552697  0.447303
4  The actress charmed the actor.  0.798680  0.201320

In [53]:
# female subject
IC1_noprompt_7f = IC1_noprompt_7[0:12]
IC1_noprompt_7f = IC1_noprompt_7f[["stimulus","She","He"]]
# male subject
IC1_noprompt_7m = IC1_noprompt_7[12:24]

#### female subject

In [54]:
IC1_noprompt_7f

                             stimulus       She        He
0       Miss Smith charmed Mr. Smith.  0.300051  0.699949
1          The woman charmed the man.  0.263342  0.736658
2                  Mary charmed John.  0.354936  0.645064
3                  Alice charmed Bob.  0.447303  0.552697
4      The actress charmed the actor.  0.201320  0.798680
5           The girl charmed the boy.  0.251704  0.748296
6   Mrs. Taylor charmed Mr. Williams.  0.284518  0.715482
7                 Emma charmed David.  0.903580  0.096420
8    The princess charmed the prince.  0.222431  0.777569
9               Sarah charmed Robert.  0.473729  0.526271
10  Mrs. Williams charmed Mr. Taylor.  0.257248  0.742752
11                Emily charmed Paul.  0.587215  0.412785

In [55]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_7f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_7f,'He'))

P('subj-pron'|subj=female) =  0.3789481036365032
P('non-subj-pron'|subj=female) =  0.6210518882920345

In [56]:
np_average_subj_female_subj_pron['charmed'] = compute_average(IC1_noprompt_7f,'She')
np_average_subj_female_obj_pron['charmed'] = compute_average(IC1_noprompt_7f,'He')

#### male subject

In [57]:
IC1_noprompt_7m

                             stimulus        He       She
12      Mr. Smith charmed Miss Smith.  0.766224  0.233776
13         The man charmed the woman.  0.841515  0.158485
14                John charmed Alice.  0.222760  0.777240
15                  Bob charmed John.  0.853449  0.146551
16     The actor charmed the actress.  0.835135  0.164865
17          The boy charmed the girl.  0.832378  0.167622
18   Mr. William charmed Mrs. Taylor.  0.812171  0.187829
19                David charmed Emma.  0.047108  0.952892
20   The prince charmed the princess.  0.840957  0.159043
21              Robert charmed Sarah.  0.201020  0.798980
22  Mr. Taylor charmed Mrs. Williams.  0.784077  0.215923
23                Paul charmed Emily.  0.477826  0.522174

In [58]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_7m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_7m,'She'))

P('subj-pron'|subj=male) =  0.6262184455990791
P('non-subj-pron'|subj=male) =  0.37378156557679176

In [59]:
np_average_subj_male_subj_pron['charmed'] = compute_average(IC1_noprompt_7m,'He')
np_average_subj_male_obj_pron['charmed'] = compute_average(IC1_noprompt_7m,'She')

### verb: "offended"

In [60]:
IC1_noprompt_8 = pd.read_csv("../results/IC1/no-prompt/8.csv")
IC1_noprompt_8.head()

                          stimulus        He       She
0   Miss Smith offended Mr. Smith.  0.721352  0.278648
1      The woman offended the man.  0.743656  0.256344
2              Mary offended John.  0.744090  0.255910
3              Alice offended Bob.  0.480099  0.519901
4  The actress offended the actor.  0.805452  0.194548

In [61]:
# female subject
IC1_noprompt_8f = IC1_noprompt_8[0:12]
IC1_noprompt_8f = IC1_noprompt_8f[["stimulus","She","He"]]
# male subject
IC1_noprompt_8m = IC1_noprompt_8[12:24]

#### female subject

In [62]:
IC1_noprompt_8f

                              stimulus       She        He
0       Miss Smith offended Mr. Smith.  0.278648  0.721352
1          The woman offended the man.  0.256344  0.743656
2                  Mary offended John.  0.255910  0.744090
3                  Alice offended Bob.  0.519901  0.480099
4      The actress offended the actor.  0.194548  0.805452
5           The girl offended the boy.  0.245265  0.754735
6   Mrs. Taylor offended Mr. Williams.  0.274411  0.725589
7                 Emma offended David.  0.931126  0.068874
8    The princess offended the prince.  0.217282  0.782718
9               Sarah offended Robert.  0.438785  0.561215
10  Mrs. Williams offended Mr. Taylor.  0.249297  0.750703
11                Emily offended Paul.  0.722140  0.277860

In [63]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_8f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_8f,'He'))

P('subj-pron'|subj=female) =  0.38197141140699387
P('non-subj-pron'|subj=female) =  0.6180285885930061

In [64]:
np_average_subj_female_subj_pron['offended'] = compute_average(IC1_noprompt_8f,'She')
np_average_subj_female_obj_pron['offended'] = compute_average(IC1_noprompt_8f,'He')

#### male subject

In [65]:
IC1_noprompt_8m

                              stimulus        He       She
12      Mr. Smith offended Miss Smith.  0.779655  0.220345
13         The man offended the woman.  0.849445  0.150555
14                John offended Alice.  0.150371  0.849629
15                  Bob offended John.  0.934896  0.065104
16     The actor offended the actress.  0.838904  0.161096
17          The boy offended the girl.  0.838687  0.161313
18   Mr. William offended Mrs. Taylor.  0.816339  0.183662
19                David offended Emma.  0.053546  0.946454
20   The prince offended the princess.  0.845823  0.154177
21              Robert offended Sarah.  0.205061  0.794939
22  Mr. Taylor offended Mrs. Williams.  0.792841  0.207158
23                Paul offended Emily.  0.667836  0.332164

In [66]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_8m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_8m,'She'))

P('subj-pron'|subj=male) =  0.6477836817502975
P('non-subj-pron'|subj=male) =  0.3522163201123476

In [67]:
np_average_subj_male_subj_pron['offended'] = compute_average(IC1_noprompt_8m,'He')
np_average_subj_male_obj_pron['offended'] = compute_average(IC1_noprompt_8m,'She')

### verb: "confessed"

In [68]:
IC1_noprompt_9 = pd.read_csv("../results/IC1/no-prompt/9.csv")
IC1_noprompt_9.head()

                              stimulus        He       She
0   Miss Smith confessed to Mr. Smith.  0.063356  0.936644
1      The woman confessed to the man.  0.765502  0.234498
2              Mary confessed to John.  0.374039  0.625961
3              Alice confessed to Bob.  0.348153  0.651847
4  The actress confessed to the actor.  0.790443  0.209557

In [69]:
# female subject
IC1_noprompt_9f = IC1_noprompt_9[0:12]
IC1_noprompt_9f = IC1_noprompt_9f[["stimulus","She","He"]]
# male subject
IC1_noprompt_9m = IC1_noprompt_9[12:24]

#### female: "confessed"

In [70]:
IC1_noprompt_9f

                                  stimulus       She        He
0       Miss Smith confessed to Mr. Smith.  0.936644  0.063356
1          The woman confessed to the man.  0.234498  0.765502
2                  Mary confessed to John.  0.625961  0.374039
3                  Alice confessed to Bob.  0.651847  0.348153
4      The actress confessed to the actor.  0.209557  0.790443
5           The girl confessed to the boy.  0.229464  0.770536
6   Mrs. Taylor confessed to Mr. Williams.  0.269089  0.730911
7                 Emma confessed to David.  0.912526  0.087474
8    The princess confessed to the prince.  0.222135  0.777865
9               Sarah confessed to Robert.  0.835651  0.164349
10  Mrs. Williams confessed to Mr. Taylor.  0.875043  0.124957
11                Emily confessed to Paul.  0.826961  0.173039

In [71]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_9f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_9f,'He'))

P('subj-pron'|subj=female) =  0.5691147496302923
P('non-subj-pron'|subj=female) =  0.4308852416773637

In [72]:
np_average_subj_female_subj_pron['confessed'] = compute_average(IC1_noprompt_9f,'She')
np_average_subj_female_obj_pron['confessed'] = compute_average(IC1_noprompt_9f,'He')

#### male subject

In [73]:
IC1_noprompt_9m

                               stimulus        He       She
12      Mr. Smith confessed Miss Smith.  0.700709  0.299291
13         The man confessed the woman.  0.814212  0.185788
14                John confessed Alice.  0.495956  0.504044
15                  Bob confessed John.  0.943968  0.056032
16     The actor confessed the actress.  0.743526  0.256474
17          The boy confessed the girl.  0.766146  0.233854
18   Mr. William confessed Mrs. Taylor.  0.329879  0.670121
19                David confessed Emma.  0.172364  0.827636
20   The prince confessed the princess.  0.855798  0.144202
21              Robert confessed Sarah.  0.545958  0.454042
22  Mr. Taylor confessed Mrs. Williams.  0.810958  0.189042
23                Paul confessed Emily.  0.608853  0.391147

In [74]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_9m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_9m,'She'))

P('subj-pron'|subj=male) =  0.6490271712342898
P('non-subj-pron'|subj=male) =  0.3509728272135059

In [75]:
np_average_subj_male_subj_pron['confessed'] = compute_average(IC1_noprompt_9m,'He')
np_average_subj_male_obj_pron['confessed'] = compute_average(IC1_noprompt_9m,'She')

### verb: "deceived"

In [76]:
IC1_noprompt_10 = pd.read_csv("../results/IC1/no-prompt/10.csv")
IC1_noprompt_10.head()

                          stimulus        He       She
0   Miss Smith deceived Mr. Smith.  0.696109  0.303891
1      The woman deceived the man.  0.732923  0.267077
2              Mary deceived John.  0.632714  0.367286
3              Alice deceived Bob.  0.484028  0.515972
4  The actress deceived the actor.  0.801875  0.198125

In [77]:
# female subject
IC1_noprompt_10f = IC1_noprompt_10[0:12]
IC1_noprompt_10f = IC1_noprompt_10f[["stimulus","She","He"]]
# male subject
IC1_noprompt_10m = IC1_noprompt_10[12:24]

#### female subject

In [78]:
IC1_noprompt_10f

                              stimulus       She        He
0       Miss Smith deceived Mr. Smith.  0.303891  0.696109
1          The woman deceived the man.  0.267077  0.732923
2                  Mary deceived John.  0.367286  0.632714
3                  Alice deceived Bob.  0.515972  0.484028
4      The actress deceived the actor.  0.198125  0.801875
5           The girl deceived the boy.  0.253068  0.746932
6   Mrs. Taylor deceived Mr. Williams.  0.281827  0.718173
7                 Emma deceived David.  0.936381  0.063619
8    The princess deceived the prince.  0.225091  0.774909
9               Sarah deceived Robert.  0.621063  0.378937
10  Mrs. Williams deceived Mr. Taylor.  0.257388  0.742612
11                Emily deceived Paul.  0.711758  0.288242

In [79]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_10f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_10f,'He'))

P('subj-pron'|subj=female) =  0.41157732034722966
P('non-subj-pron'|subj=female) =  0.5884226920704047

In [80]:
np_average_subj_female_subj_pron['deceived'] = compute_average(IC1_noprompt_10f,'She')
np_average_subj_female_obj_pron['deceived'] = compute_average(IC1_noprompt_10f,'He')

In [81]:
IC1_noprompt_10m

                              stimulus        He       She
12      Mr. Smith deceived Miss Smith.  0.336257  0.663743
13         The man deceived the woman.  0.844685  0.155315
14                John deceived Alice.  0.137624  0.862376
15                  Bob deceived John.  0.898111  0.101889
16     The actor deceived the actress.  0.518916  0.481084
17          The boy deceived the girl.  0.838740  0.161260
18   Mr. William deceived Mrs. Taylor.  0.820748  0.179252
19                David deceived Emma.  0.048204  0.951796
20   The prince deceived the princess.  0.847245  0.152755
21              Robert deceived Sarah.  0.087033  0.912967
22  Mr. Taylor deceived Mrs. Williams.  0.791385  0.208615
23                Paul deceived Emily.  0.809014  0.190986

In [82]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_10m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_10m,'She'))

P('subj-pron'|subj=male) =  0.5814970129479965
P('non-subj-pron'|subj=male) =  0.41850301312903565

In [83]:
np_average_subj_male_subj_pron['deceived'] = compute_average(IC1_noprompt_10m,'He')
np_average_subj_male_obj_pron['deceived'] = compute_average(IC1_noprompt_10m,'She')

### verb: "disappointed"

In [84]:
IC1_noprompt_11 = pd.read_csv("../results/IC1/no-prompt/11.csv")
IC1_noprompt_11.head()

                              stimulus        He       She
0   Miss Smith disappointed Mr. Smith.  0.212607  0.787393
1      The woman disappointed the man.  0.745663  0.254337
2              Mary disappointed John.  0.682925  0.317075
3              Alice disappointed Bob.  0.617365  0.382635
4  The actress disappointed the actor.  0.808925  0.191075

In [85]:
# female subject
IC1_noprompt_11f = IC1_noprompt_11[0:12]
IC1_noprompt_11f = IC1_noprompt_11f[["stimulus","She","He"]]
# male subject
IC1_noprompt_11m = IC1_noprompt_11[12:24]

#### female subject

In [86]:
IC1_noprompt_11f

                                  stimulus       She        He
0       Miss Smith disappointed Mr. Smith.  0.787393  0.212607
1          The woman disappointed the man.  0.254337  0.745663
2                  Mary disappointed John.  0.317075  0.682925
3                  Alice disappointed Bob.  0.382635  0.617365
4      The actress disappointed the actor.  0.191075  0.808925
5           The girl disappointed the boy.  0.243468  0.756532
6   Mrs. Taylor disappointed Mr. Williams.  0.281555  0.718445
7                 Emma disappointed David.  0.933521  0.066479
8    The princess disappointed the prince.  0.228004  0.771996
9               Sarah disappointed Robert.  0.640096  0.359904
10  Mrs. Williams disappointed Mr. Taylor.  0.774124  0.225876
11                Emily disappointed Paul.  0.780371  0.219629

In [87]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_11f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_11f,'He'))

P('subj-pron'|subj=female) =  0.48447131117184955
P('non-subj-pron'|subj=female) =  0.5155286844819784

In [88]:
np_average_subj_female_subj_pron['disappointed'] = compute_average(IC1_noprompt_11f,'She')
np_average_subj_female_obj_pron['disappointed'] = compute_average(IC1_noprompt_11f,'He')

#### male subject

In [89]:
IC1_noprompt_11m

                                  stimulus        He       She
12      Mr. Smith disappointed Miss Smith.  0.562244  0.437756
13         The man disappointed the woman.  0.854741  0.145259
14                John disappointed Alice.  0.438649  0.561351
15                  Bob disappointed John.  0.959374  0.040626
16     The actor disappointed the actress.  0.840644  0.159356
17          The boy disappointed the girl.  0.845767  0.154233
18   Mr. William disappointed Mrs. Taylor.  0.820414  0.179586
19                David disappointed Emma.  0.114898  0.885102
20   The prince disappointed the princess.  0.850088  0.149912
21              Robert disappointed Sarah.  0.259219  0.740781
22  Mr. Taylor disappointed Mrs. Williams.  0.794442  0.205558
23                Paul disappointed Emily.  0.641129  0.358871

In [90]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_11m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_11m,'She'))

P('subj-pron'|subj=male) =  0.6651339953144392
P('non-subj-pron'|subj=male) =  0.334866008721292

In [91]:
np_average_subj_male_subj_pron['disappointed'] = compute_average(IC1_noprompt_11m,'He')
np_average_subj_male_obj_pron['disappointed'] = compute_average(IC1_noprompt_11m,'She')

#### verb: "exasperated"

In [92]:
IC1_noprompt_12 = pd.read_csv("../results/IC1/no-prompt/12.csv")
IC1_noprompt_12.head()

                             stimulus        He       She
0   Miss Smith exasperated Mr. Smith.  0.698166  0.301834
1      The woman exasperated the man.  0.733745  0.266255
2              Mary exasperated John.  0.682233  0.317767
3              Alice exasperated Bob.  0.535001  0.464999
4  The actress exasperated the actor.  0.798487  0.201513

In [93]:
# female subject
IC1_noprompt_12f = IC1_noprompt_12[0:12]
IC1_noprompt_12f = IC1_noprompt_12f[["stimulus","She","He"]]
# male subject
IC1_noprompt_12m = IC1_noprompt_12[12:24]

#### female subject

In [94]:
IC1_noprompt_12f

                                 stimulus       She        He
0       Miss Smith exasperated Mr. Smith.  0.301834  0.698166
1          The woman exasperated the man.  0.266255  0.733745
2                  Mary exasperated John.  0.317767  0.682233
3                  Alice exasperated Bob.  0.464999  0.535001
4      The actress exasperated the actor.  0.201513  0.798487
5           The girl exasperated the boy.  0.255980  0.744020
6   Mrs. Taylor exasperated Mr. Williams.  0.287454  0.712546
7                 Emma exasperated David.  0.910605  0.089395
8    The princess exasperated the prince.  0.230054  0.769946
9               Sarah exasperated Robert.  0.695116  0.304884
10  Mrs. Williams exasperated Mr. Taylor.  0.262683  0.737317
11                Emily exasperated Paul.  0.695365  0.304635

In [95]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_12f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_12f,'He'))

P('subj-pron'|subj=female) =  0.4074687734246254
P('non-subj-pron'|subj=female) =  0.5925312383721272

In [96]:
np_average_subj_female_subj_pron['exasperated'] = compute_average(IC1_noprompt_12f,'She')
np_average_subj_female_obj_pron['exasperated'] = compute_average(IC1_noprompt_12f,'He')

#### male subject

In [97]:
IC1_noprompt_12m

                                 stimulus        He       She
12      Mr. Smith exasperated Miss Smith.  0.369585  0.630415
13         The man exasperated the woman.  0.847022  0.152978
14                John exasperated Alice.  0.171683  0.828317
15                  Bob exasperated John.  0.947033  0.052967
16     The actor exasperated the actress.  0.837610  0.162390
17          The boy exasperated the girl.  0.838053  0.161947
18   Mr. William exasperated Mrs. Taylor.  0.810786  0.189214
19                David exasperated Emma.  0.050091  0.949909
20   The prince exasperated the princess.  0.846482  0.153518
21              Robert exasperated Sarah.  0.107634  0.892366
22  Mr. Taylor exasperated Mrs. Williams.  0.782433  0.217567
23                Paul exasperated Emily.  0.802434  0.197566

In [98]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_12m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_12m,'She'))

P('subj-pron'|subj=male) =  0.617570553595821
P('non-subj-pron'|subj=male) =  0.38242943678051233

In [99]:
np_average_subj_male_subj_pron['exasperated'] = compute_average(IC1_noprompt_12m,'He')
np_average_subj_male_obj_pron['exasperated'] = compute_average(IC1_noprompt_12m,'She')

### verb: "fascinated"

In [100]:
IC1_noprompt_13 = pd.read_csv("../results/IC1/no-prompt/13.csv")
IC1_noprompt_13.head()

                            stimulus        He       She
0   Miss Smith fascinated Mr. Smith.  0.701748  0.298252
1      The woman fascinated the man.  0.739506  0.260494
2              Mary fascinated John.  0.571926  0.428074
3              Alice fascinated Bob.  0.539054  0.460946
4  The actress fascinated the actor.  0.799790  0.200210

In [101]:
# female subject
IC1_noprompt_13f = IC1_noprompt_13[0:12]
IC1_noprompt_13f = IC1_noprompt_13f[["stimulus","She","He"]]
# male subject
IC1_noprompt_13m = IC1_noprompt_13[12:24]

#### female subject

In [102]:
IC1_noprompt_13f

                                stimulus       She        He
0       Miss Smith fascinated Mr. Smith.  0.298252  0.701748
1          The woman fascinated the man.  0.260494  0.739506
2                  Mary fascinated John.  0.428074  0.571926
3                  Alice fascinated Bob.  0.460946  0.539054
4      The actress fascinated the actor.  0.200210  0.799790
5           The girl fascinated the boy.  0.253118  0.746882
6   Mrs. Taylor fascinated Mr. Williams.  0.277947  0.722053
7                 Emma fascinated David.  0.956424  0.043576
8    The princess fascinated the prince.  0.228946  0.771054
9               Sarah fascinated Robert.  0.709641  0.290359
10  Mrs. Williams fascinated Mr. Taylor.  0.260559  0.739441
11                Emily fascinated Paul.  0.745553  0.254447

In [103]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_13f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_13f,'He'))

P('subj-pron'|subj=female) =  0.4233470136920611
P('non-subj-pron'|subj=female) =  0.5766529558847348

In [104]:
np_average_subj_female_subj_pron['fascinated'] = compute_average(IC1_noprompt_13f,'She')
np_average_subj_female_obj_pron['fascinated'] = compute_average(IC1_noprompt_13f,'He')

#### male subject

In [105]:
IC1_noprompt_13m

                                stimulus        He       She
12      Mr. Smith fascinated Miss Smith.  0.772574  0.227426
13         The man fascinated the woman.  0.851218  0.148782
14                John fascinated Alice.  0.092440  0.907560
15                  Bob fascinated John.  0.884793  0.115207
16     The actor fascinated the actress.  0.839271  0.160729
17          The boy fascinated the girl.  0.837549  0.162451
18   Mr. William fascinated Mrs. Taylor.  0.805507  0.194493
19                David fascinated Emma.  0.016419  0.983581
20   The prince fascinated the princess.  0.846291  0.153709
21              Robert fascinated Sarah.  0.132866  0.867134
22  Mr. Taylor fascinated Mrs. Williams.  0.779914  0.220086
23                Paul fascinated Emily.  0.808925  0.191075

In [106]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_13m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_13m,'She'))

P('subj-pron'|subj=male) =  0.6389805918248991
P('non-subj-pron'|subj=male) =  0.3610194083303213

In [107]:
np_average_subj_male_subj_pron['fascinated'] = compute_average(IC1_noprompt_13m,'He')
np_average_subj_male_obj_pron['fascinated'] = compute_average(IC1_noprompt_13m,'She')

### verb: "frightened"

In [108]:
IC1_noprompt_14 = pd.read_csv("../results/IC1/no-prompt/14.csv")
IC1_noprompt_14.head()

                            stimulus        He       She
0   Miss Smith frightened Mr. Smith.  0.686392  0.313608
1      The woman frightened the man.  0.732455  0.267545
2              Mary frightened John.  0.580245  0.419755
3              Alice frightened Bob.  0.455384  0.544616
4  The actress frightened the actor.  0.794101  0.205899

In [109]:
# female subject
IC1_noprompt_14f = IC1_noprompt_14[0:12]
IC1_noprompt_14f = IC1_noprompt_14f[["stimulus","She","He"]]
# male subject
IC1_noprompt_14m = IC1_noprompt_14[12:24]

#### female subject

In [110]:
IC1_noprompt_14f

                                stimulus       She        He
0       Miss Smith frightened Mr. Smith.  0.313608  0.686392
1          The woman frightened the man.  0.267545  0.732455
2                  Mary frightened John.  0.419755  0.580245
3                  Alice frightened Bob.  0.544616  0.455384
4      The actress frightened the actor.  0.205899  0.794101
5           The girl frightened the boy.  0.257852  0.742148
6   Mrs. Taylor frightened Mr. Williams.  0.289000  0.711000
7                 Emma frightened David.  0.936228  0.063772
8    The princess frightened the prince.  0.233239  0.766761
9               Sarah frightened Robert.  0.820752  0.179248
10  Mrs. Williams frightened Mr. Taylor.  0.270121  0.729879
11                Emily frightened Paul.  0.680485  0.319515

In [111]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_14f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_14f,'He'))

P('subj-pron'|subj=female) =  0.4365917593240738
P('non-subj-pron'|subj=female) =  0.563408230120937

In [112]:
np_average_subj_female_subj_pron['frightened'] = compute_average(IC1_noprompt_14f,'She')
np_average_subj_female_obj_pron['frightened'] = compute_average(IC1_noprompt_14f,'He')

#### male subject

In [113]:
IC1_noprompt_14m

                                stimulus        He       She
12      Mr. Smith frightened Miss Smith.  0.429200  0.570800
13         The man frightened the woman.  0.846905  0.153095
14                John frightened Alice.  0.158213  0.841787
15                  Bob frightened John.  0.923362  0.076638
16     The actor frightened the actress.  0.835165  0.164835
17          The boy frightened the girl.  0.839183  0.160817
18   Mr. William frightened Mrs. Taylor.  0.813007  0.186993
19                David frightened Emma.  0.037451  0.962549
20   The prince frightened the princess.  0.845493  0.154507
21              Robert frightened Sarah.  0.121912  0.878088
22  Mr. Taylor frightened Mrs. Williams.  0.790848  0.209152
23                Paul frightened Emily.  0.437766  0.562234

In [114]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_14m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_14m,'She'))

P('subj-pron'|subj=male) =  0.5898754252120852
P('non-subj-pron'|subj=male) =  0.41012456578512985

In [115]:
np_average_subj_male_subj_pron['frightened'] = compute_average(IC1_noprompt_14m,'He')
np_average_subj_male_obj_pron['frightened'] = compute_average(IC1_noprompt_14m,'She')

### verb: "humiliated"

In [116]:
IC1_noprompt_15 = pd.read_csv("../results/IC1/no-prompt/15.csv")
IC1_noprompt_15.head()

                            stimulus        He       She
0   Miss Smith humiliated Mr. Smith.  0.703234  0.296766
1      The woman humiliated the man.  0.746784  0.253216
2              Mary humiliated John.  0.636245  0.363755
3              Alice humiliated Bob.  0.585093  0.414907
4  The actress humiliated the actor.  0.806281  0.193719

In [117]:
# female subject
IC1_noprompt_15f = IC1_noprompt_15[0:12]
IC1_noprompt_15f = IC1_noprompt_15f[["stimulus","She","He"]]
# male subject
IC1_noprompt_15m = IC1_noprompt_15[12:24]

#### female subject

In [118]:
IC1_noprompt_15f

                                stimulus       She        He
0       Miss Smith humiliated Mr. Smith.  0.296766  0.703234
1          The woman humiliated the man.  0.253216  0.746784
2                  Mary humiliated John.  0.363755  0.636245
3                  Alice humiliated Bob.  0.414907  0.585093
4      The actress humiliated the actor.  0.193719  0.806281
5           The girl humiliated the boy.  0.244695  0.755305
6   Mrs. Taylor humiliated Mr. Williams.  0.281633  0.718367
7                 Emma humiliated David.  0.932182  0.067818
8    The princess humiliated the prince.  0.223207  0.776793
9               Sarah humiliated Robert.  0.620008  0.379992
10  Mrs. Williams humiliated Mr. Taylor.  0.259227  0.740773
11                Emily humiliated Paul.  0.731370  0.268630

In [119]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_15f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_15f,'He'))

P('subj-pron'|subj=female) =  0.4012239451209704
P('non-subj-pron'|subj=female) =  0.5987760586043199

In [120]:
np_average_subj_female_subj_pron['humiliated'] = compute_average(IC1_noprompt_15f,'She')
np_average_subj_female_obj_pron['humiliated'] = compute_average(IC1_noprompt_15f,'He')

#### male subject

In [121]:
IC1_noprompt_15m

                                stimulus        He       She
12      Mr. Smith humiliated Miss Smith.  0.578153  0.421847
13         The man humiliated the woman.  0.854867  0.145133
14                John humiliated Alice.  0.294825  0.705175
15                  Bob humiliated John.  0.948082  0.051918
16     The actor humiliated the actress.  0.842331  0.157669
17          The boy humiliated the girl.  0.846266  0.153734
18   Mr. William humiliated Mrs. Taylor.  0.824004  0.175996
19                David humiliated Emma.  0.074397  0.925603
20   The prince humiliated the princess.  0.851230  0.148770
21              Robert humiliated Sarah.  0.217478  0.782522
22  Mr. Taylor humiliated Mrs. Williams.  0.796235  0.203765
23                Paul humiliated Emily.  0.546255  0.453745

In [122]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_15m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_15m,'She'))

P('subj-pron'|subj=male) =  0.639510321120421
P('non-subj-pron'|subj=male) =  0.3604896714289983

In [123]:
np_average_subj_male_subj_pron['humiliated'] = compute_average(IC1_noprompt_15m,'He')
np_average_subj_male_obj_pron['humiliated'] = compute_average(IC1_noprompt_15m,'She')

### verb: "infuriated"

In [124]:
IC1_noprompt_16 = pd.read_csv("../results/IC1/no-prompt/16.csv")
IC1_noprompt_16.head()

                            stimulus        He       She
0   Miss Smith infuriated Mr. Smith.  0.704823  0.295177
1      The woman infuriated the man.  0.737356  0.262644
2              Mary infuriated John.  0.710292  0.289708
3              Alice infuriated Bob.  0.671032  0.328968
4  The actress infuriated the actor.  0.800854  0.199146

In [125]:
# female subject
IC1_noprompt_16f = IC1_noprompt_16[0:12]
IC1_noprompt_16f = IC1_noprompt_16f[["stimulus","She","He"]]
# male subject
IC1_noprompt_16m = IC1_noprompt_16[12:24]

#### female subject

In [126]:
IC1_noprompt_16f

                                stimulus       She        He
0       Miss Smith infuriated Mr. Smith.  0.295177  0.704823
1          The woman infuriated the man.  0.262644  0.737356
2                  Mary infuriated John.  0.289708  0.710292
3                  Alice infuriated Bob.  0.328968  0.671032
4      The actress infuriated the actor.  0.199146  0.800854
5           The girl infuriated the boy.  0.252236  0.747764
6   Mrs. Taylor infuriated Mr. Williams.  0.277609  0.722390
7                 Emma infuriated David.  0.911372  0.088628
8    The princess infuriated the prince.  0.223949  0.776051
9               Sarah infuriated Robert.  0.570548  0.429452
10  Mrs. Williams infuriated Mr. Taylor.  0.256353  0.743647
11                Emily infuriated Paul.  0.655737  0.344263

In [127]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_16f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_16f,'He'))

P('subj-pron'|subj=female) =  0.37695391351977986
P('non-subj-pron'|subj=female) =  0.6230460895846287

In [128]:
np_average_subj_female_subj_pron['infuriated'] = compute_average(IC1_noprompt_16f,'She')
np_average_subj_female_obj_pron['infuriated'] = compute_average(IC1_noprompt_16f,'He')

#### male subject

In [129]:
IC1_noprompt_16m

                                stimulus        He       She
12      Mr. Smith infuriated Miss Smith.  0.348347  0.651653
13         The man infuriated the woman.  0.846652  0.153348
14                John infuriated Alice.  0.098472  0.901528
15                  Bob infuriated John.  0.932294  0.067706
16     The actor infuriated the actress.  0.834790  0.165210
17          The boy infuriated the girl.  0.835908  0.164092
18   Mr. William infuriated Mrs. Taylor.  0.808918  0.191082
19                David infuriated Emma.  0.028438  0.971562
20   The prince infuriated the princess.  0.844558  0.155442
21              Robert infuriated Sarah.  0.086406  0.913594
22  Mr. Taylor infuriated Mrs. Williams.  0.783690  0.216310
23                Paul infuriated Emily.  0.802216  0.197784

In [130]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_16m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_16m,'She'))

P('subj-pron'|subj=male) =  0.6042241941516598
P('non-subj-pron'|subj=male) =  0.3957758179555337

In [131]:
np_average_subj_male_subj_pron['infuriated'] = compute_average(IC1_noprompt_16m,'He')
np_average_subj_male_obj_pron['infuriated'] = compute_average(IC1_noprompt_16m,'She')

### verb: "inspires"

In [132]:
IC1_noprompt_17 = pd.read_csv("../results/IC1/no-prompt/17.csv")
IC1_noprompt_17.head()

                          stimulus        He       She
0   Miss Smith inspires Mr. Smith.  0.705313  0.294687
1      The woman inspires the man.  0.741107  0.258893
2              Mary inspires John.  0.746098  0.253902
3              Alice inspires Bob.  0.627439  0.372561
4  The actress inspires the actor.  0.801150  0.198850

In [133]:
# female subject
IC1_noprompt_17f = IC1_noprompt_17[0:12]
IC1_noprompt_17f = IC1_noprompt_17f[["stimulus","She","He"]]
# male subject
IC1_noprompt_17m = IC1_noprompt_17[12:24]

#### male subject

In [134]:
IC1_noprompt_17f

                              stimulus       She        He
0       Miss Smith inspires Mr. Smith.  0.294687  0.705313
1          The woman inspires the man.  0.258893  0.741107
2                  Mary inspires John.  0.253902  0.746098
3                  Alice inspires Bob.  0.372561  0.627439
4      The actress inspires the actor.  0.198850  0.801150
5           The girl inspires the boy.  0.245684  0.754316
6   Mrs. Taylor inspires Mr. Williams.  0.279670  0.720330
7                 Emma inspires David.  0.883784  0.116216
8    The princess inspires the prince.  0.216242  0.783759
9               Sarah inspires Robert.  0.479380  0.520620
10  Mrs. Williams inspires Mr. Taylor.  0.255498  0.744502
11                Emily inspires Paul.  0.559257  0.440743

In [135]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_17f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_17f,'He'))

P('subj-pron'|subj=female) =  0.3582006556292375
P('non-subj-pron'|subj=female) =  0.6417993437498808

In [136]:
np_average_subj_female_subj_pron['inspires'] = compute_average(IC1_noprompt_17f,'She')
np_average_subj_female_obj_pron['inspires'] = compute_average(IC1_noprompt_17f,'He')

#### female subject

In [137]:
IC1_noprompt_17m

                              stimulus        He       She
12      Mr. Smith inspires Miss Smith.  0.785670  0.214330
13         The man inspires the woman.  0.845202  0.154798
14                John inspires Alice.  0.129503  0.870497
15                  Bob inspires John.  0.916838  0.083162
16     The actor inspires the actress.  0.839774  0.160226
17          The boy inspires the girl.  0.835811  0.164189
18   Mr. William inspires Mrs. Taylor.  0.826817  0.173183
19                David inspires Emma.  0.026211  0.973789
20   The prince inspires the princess.  0.847908  0.152092
21              Robert inspires Sarah.  0.093808  0.906192
22  Mr. Taylor inspires Mrs. Williams.  0.802302  0.197698
23                Paul inspires Emily.  0.810770  0.189230

In [138]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_17m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_17m,'She'))

P('subj-pron'|subj=male) =  0.6467178440652788
P('non-subj-pron'|subj=male) =  0.35328214926024276

In [139]:
np_average_subj_male_subj_pron['inspires'] = compute_average(IC1_noprompt_17m,'He')
np_average_subj_male_obj_pron['inspires'] = compute_average(IC1_noprompt_17m,'She')

### verb: "intimidates"

In [140]:
IC1_noprompt_18 = pd.read_csv("../results/IC1/no-prompt/18.csv")
IC1_noprompt_18.head()

                             stimulus        He       She
0   Miss Smith intimidates Mr. Smith.  0.700276  0.299724
1      The woman intimidates the man.  0.730940  0.269060
2              Mary intimidates John.  0.580949  0.419051
3              Alice intimidates Bob.  0.376767  0.623233
4  The actress intimidates the actor.  0.798341  0.201659

In [141]:
# female subject
IC1_noprompt_18f = IC1_noprompt_18[0:12]
IC1_noprompt_18f = IC1_noprompt_18f[["stimulus","She","He"]]
# male subject
IC1_noprompt_18m = IC1_noprompt_18[12:24]

#### female subject

In [142]:
IC1_noprompt_18f

                                 stimulus       She        He
0       Miss Smith intimidates Mr. Smith.  0.299724  0.700276
1          The woman intimidates the man.  0.269060  0.730940
2                  Mary intimidates John.  0.419051  0.580949
3                  Alice intimidates Bob.  0.623233  0.376767
4      The actress intimidates the actor.  0.201659  0.798341
5           The girl intimidates the boy.  0.256494  0.743506
6   Mrs. Taylor intimidates Mr. Williams.  0.289168  0.710832
7                 Emma intimidates David.  0.919408  0.080592
8    The princess intimidates the prince.  0.227104  0.772896
9               Sarah intimidates Robert.  0.590026  0.409974
10  Mrs. Williams intimidates Mr. Taylor.  0.261936  0.738064
11                Emily intimidates Paul.  0.748912  0.251088

In [143]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_18f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_18f,'He'))

P('subj-pron'|subj=female) =  0.4254811865588029
P('non-subj-pron'|subj=female) =  0.5745188016444445

In [144]:
np_average_subj_female_subj_pron['intimidates'] = compute_average(IC1_noprompt_18f,'She')
np_average_subj_female_obj_pron['intimidates'] = compute_average(IC1_noprompt_18f,'He')

In [145]:
IC1_noprompt_18m

                                 stimulus        He       She
12      Mr. Smith intimidates Miss Smith.  0.775489  0.224511
13         The man intimidates the woman.  0.845348  0.154652
14                John intimidates Alice.  0.097207  0.902793
15                  Bob intimidates John.  0.893961  0.106039
16     The actor intimidates the actress.  0.839920  0.160080
17          The boy intimidates the girl.  0.837563  0.162437
18   Mr. William intimidates Mrs. Taylor.  0.818164  0.181836
19                David intimidates Emma.  0.024012  0.975988
20   The prince intimidates the princess.  0.844521  0.155479
21              Robert intimidates Sarah.  0.062842  0.937157
22  Mr. Taylor intimidates Mrs. Williams.  0.789183  0.210817
23                Paul intimidates Emily.  0.805850  0.194150

In [146]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_18m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_18m,'She'))

P('subj-pron'|subj=male) =  0.6361717662463585
P('non-subj-pron'|subj=male) =  0.36382822195688885

In [147]:
np_average_subj_male_subj_pron['intimidates'] = compute_average(IC1_noprompt_18m,'He')
np_average_subj_male_obj_pron['intimidates'] = compute_average(IC1_noprompt_18m,'She')

### verb: "scares"

In [148]:
IC1_noprompt_19 = pd.read_csv("../results/IC1/no-prompt/19.csv")
IC1_noprompt_19.head()

                        stimulus        He       She
0   Miss Smith scares Mr. Smith.  0.695521  0.304479
1      The woman scares the man.  0.730793  0.269207
2              Mary scares John.  0.613882  0.386118
3              Alice scares Bob.  0.423323  0.576677
4  The actress scares the actor.  0.797429  0.202571

In [149]:
# female subject
IC1_noprompt_19f = IC1_noprompt_19[0:12]
IC1_noprompt_19f = IC1_noprompt_19f[["stimulus","She","He"]]
# male subject
IC1_noprompt_19m = IC1_noprompt_19[12:24]

#### female subject

In [150]:
IC1_noprompt_19f

                            stimulus       She        He
0       Miss Smith scares Mr. Smith.  0.304479  0.695521
1          The woman scares the man.  0.269207  0.730793
2                  Mary scares John.  0.386118  0.613882
3                  Alice scares Bob.  0.576677  0.423323
4      The actress scares the actor.  0.202571  0.797429
5           The girl scares the boy.  0.252582  0.747418
6   Mrs. Taylor scares Mr. Williams.  0.285306  0.714694
7                 Emma scares David.  0.880985  0.119015
8    The princess scares the prince.  0.225214  0.774786
9               Sarah scares Robert.  0.712679  0.287321
10  Mrs. Williams scares Mr. Taylor.  0.258403  0.741597
11                Emily scares Paul.  0.603040  0.396960

In [151]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_19f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_19f,'He'))

P('subj-pron'|subj=female) =  0.4131050407886505
P('non-subj-pron'|subj=female) =  0.5868949641784033

In [152]:
np_average_subj_female_subj_pron['scares'] = compute_average(IC1_noprompt_19f,'She')
np_average_subj_female_obj_pron['scares'] = compute_average(IC1_noprompt_19f,'He')

#### male subject

In [153]:
IC1_noprompt_19m

                            stimulus        He       She
12      Mr. Smith scares Miss Smith.  0.772816  0.227184
13         The man scares the woman.  0.842242  0.157758
14                John scares Alice.  0.126792  0.873208
15                  Bob scares John.  0.896685  0.103315
16     The actor scares the actress.  0.840163  0.159837
17          The boy scares the girl.  0.838108  0.161892
18   Mr. William scares Mrs. Taylor.  0.818561  0.181439
19                David scares Emma.  0.023557  0.976443
20   The prince scares the princess.  0.843976  0.156024
21              Robert scares Sarah.  0.051865  0.948135
22  Mr. Taylor scares Mrs. Williams.  0.791353  0.208647
23                Paul scares Emily.  0.804309  0.195691

In [154]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_19m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_19m,'She'))

P('subj-pron'|subj=male) =  0.6375354362341265
P('non-subj-pron'|subj=male) =  0.3624645558496316

In [155]:
np_average_subj_male_subj_pron['scares'] = compute_average(IC1_noprompt_19m,'He')
np_average_subj_male_obj_pron['scares'] = compute_average(IC1_noprompt_19m,'She')

### verb: "surprised"

In [156]:
IC1_noprompt_20 = pd.read_csv("../results/IC1/no-prompt/20.csv")
IC1_noprompt_20.head()

                           stimulus        He       She
0   Miss Smith surprised Mr. Smith.  0.714728  0.285272
1      The woman surprised the man.  0.737181  0.262818
2              Mary surprised John.  0.720235  0.279765
3              Alice surprised Bob.  0.507176  0.492824
4  The actress surprised the actor.  0.813402  0.186598

In [157]:
# female subject
IC1_noprompt_20f = IC1_noprompt_20[0:12]
IC1_noprompt_20f = IC1_noprompt_20f[["stimulus","She","He"]]
# male subject
IC1_noprompt_20m = IC1_noprompt_20[12:24]

#### female subject

In [158]:
IC1_noprompt_20f

                               stimulus       She        He
0       Miss Smith surprised Mr. Smith.  0.285272  0.714728
1          The woman surprised the man.  0.262818  0.737181
2                  Mary surprised John.  0.279765  0.720235
3                  Alice surprised Bob.  0.492824  0.507176
4      The actress surprised the actor.  0.186598  0.813402
5           The girl surprised the boy.  0.248480  0.751520
6   Mrs. Taylor surprised Mr. Williams.  0.275220  0.724780
7                 Emma surprised David.  0.877349  0.122651
8    The princess surprised the prince.  0.217940  0.782060
9               Sarah surprised Robert.  0.422037  0.577963
10  Mrs. Williams surprised Mr. Taylor.  0.251205  0.748795
11                Emily surprised Paul.  0.675622  0.324378

In [159]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_20f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_20f,'He'))

P('subj-pron'|subj=female) =  0.3729275291164716
P('non-subj-pron'|subj=female) =  0.6270724764714638

In [160]:
np_average_subj_female_subj_pron['surprised'] = compute_average(IC1_noprompt_20f,'She')
np_average_subj_female_obj_pron['surprised'] = compute_average(IC1_noprompt_20f,'He')

#### male subject

In [161]:
IC1_noprompt_20m

                               stimulus        He       She
12      Mr. Smith surprised Miss Smith.  0.581527  0.418473
13         The man surprised the woman.  0.847379  0.152621
14                John surprised Alice.  0.159911  0.840089
15                  Bob surprised John.  0.927472  0.072528
16     The actor surprised the actress.  0.844012  0.155988
17          The boy surprised the girl.  0.837043  0.162957
18   Mr. William surprised Mrs. Taylor.  0.828025  0.171975
19                David surprised Emma.  0.116466  0.883534
20   The prince surprised the princess.  0.848726  0.151274
21              Robert surprised Sarah.  0.160600  0.839400
22  Mr. Taylor surprised Mrs. Williams.  0.807480  0.192520
23                Paul surprised Emily.  0.552348  0.447652

In [162]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_20m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_20m,'She'))

P('subj-pron'|subj=male) =  0.6259158166746298
P('non-subj-pron'|subj=male) =  0.3740841820836067

In [163]:
np_average_subj_male_subj_pron['surprised'] = compute_average(IC1_noprompt_20m,'He')
np_average_subj_male_obj_pron['surprised'] = compute_average(IC1_noprompt_20m,'She')

## Summary of Results

In [164]:
results_fsubj_subjpron = pd.DataFrame(np_average_subj_female_subj_pron.items(),columns=['verb','subj_ref_female_subj'])
results_fsubj_objpron = pd.DataFrame(np_average_subj_female_obj_pron.items(),columns=['verb','obj_ref_female_subj'])
results_fsubj = results_fsubj_subjpron.merge(results_fsubj_objpron)
results_fsubj

            verb  subj_ref_female_subj  obj_ref_female_subj
0     aggravated              0.369027             0.630973
1         amazed              0.343248             0.656752
2         amused              0.393629             0.606371
3        annoyed              0.411023             0.588977
4     apologized              0.371333             0.628667
5          bored              0.481299             0.518701
6        charmed              0.378948             0.621052
7       offended              0.381971             0.618029
8      confessed              0.569115             0.430885
9       deceived              0.411577             0.588423
10  disappointed              0.484471             0.515529
11   exasperated              0.407469             0.592531
12    fascinated              0.423347             0.576653
13    frightened              0.436592             0.563408
14    humiliated              0.401224             0.598776
15    infuriated              0.376954             0.623046
16      inspires              0.358201             0.641799
17   intimidates              0.425481             0.574519
18        scares              0.413105             0.586895
19     surprised              0.372928             0.627072

In [165]:
results_msubj_subjpron = pd.DataFrame(np_average_subj_male_subj_pron.items(),columns=['verb','subj_ref_male_subj'])
results_msubj_objpron = pd.DataFrame(np_average_subj_male_obj_pron.items(),columns=['verb','obj_ref_male_subj'])
results_msubj = results_msubj_subjpron.merge(results_msubj_objpron)
results_msubj

            verb  subj_ref_male_subj  obj_ref_male_subj
0     aggravated            0.677447           0.322553
1         amazed            0.575253           0.424747
2         amused            0.657743           0.342257
3        annoyed            0.647371           0.352629
4     apologized            0.704704           0.295296
5          bored            0.612495           0.387505
6        charmed            0.626218           0.373782
7       offended            0.647784           0.352216
8      confessed            0.649027           0.350973
9       deceived            0.581497           0.418503
10  disappointed            0.665134           0.334866
11   exasperated            0.617571           0.382429
12    fascinated            0.638981           0.361019
13    frightened            0.589875           0.410125
14    humiliated            0.639510           0.360490
15    infuriated            0.604224           0.395776
16      inspires            0.646718           0.353282
17   intimidates            0.636172           0.363828
18        scares            0.637535           0.362465
19     surprised            0.625916           0.374084

In [166]:
results = results_fsubj.merge(results_msubj)
results

,verb,subj_ref_female_subj,obj_ref_female_subj,subj_ref_male_subj,obj_ref_male_subj
0,aggravated,0.369027,0.630973,0.677447,0.322553
1,amazed,0.343248,0.656752,0.575253,0.424747
2,amused,0.393629,0.606371,0.657743,0.342257
3,annoyed,0.411023,0.588977,0.647371,0.352629
4,apologized,0.371333,0.628667,0.704704,0.295296
5,bored,0.481299,0.518701,0.612495,0.387505
6,charmed,0.378948,0.621052,0.626218,0.373782
7,offended,0.381971,0.618029,0.647784,0.352216
8,confessed,0.569115,0.430885,0.649027,0.350973
9,deceived,0.411577,0.588423,0.581497,0.418503
10,disappointed,0.484471,0.515529,0.665134,0.334866
11,exasperated,0.407469,0.592531,0.617571,0.382429
12,fascinated,0.423347,0.576653,0.638981,0.361019
13,frightened,0.436592,0.563408,0.589875,0.410125
14,humiliated,0.401224,0.598776,0.639510,0.360490
15,infuriated,0.376954,0.623046,0.604224,0.395776
16,inspires,0.358201,0.641799,0.646718,0.353282
17,intimidates,0.425481,0.574519,0.636172,0.363828
18,scares,0.413105,0.586895,0.637535,0.362465
19,surprised,0.372928,0.627072,0.625916,0.374084

In [167]:
print("P(subj_reference |subj=female)", compute_average(results,'subj_ref_female_subj'))
print("P(obj_reference |subj=female)", compute_average(results,'obj_ref_female_subj'))

P(subj_reference |subj=female) 0.41054707554479436
P(obj_reference |subj=female) 0.5894529223131636

In [168]:
print("P(subj_reference |subj=male)", compute_average(results,'subj_ref_male_subj'))
print("P(obj_reference |subj=male)", compute_average(results,'obj_ref_male_subj'))

P(subj_reference |subj=male) 0.6340587668043249
P(obj_reference |subj=male) 0.3659412352833896

## Connective: "because"

In [169]:
c1_average_subj_female_subj_pron = {}
c1_average_subj_female_obj_pron = {}
c1_average_subj_male_subj_pron = {}
c1_average_subj_male_obj_pron = {}

### verb: "aggravated"

In [170]:
IC1_connective1_1 = pd.read_csv("../results/IC1/connective1/1.csv")
IC1_connective1_1.head()

                                   stimulus        he       she
0   Miss Smith aggravated Mr. Smith because  0.271018  0.728982
1      The woman aggravated the man because  0.315465  0.684535
2              Mary aggravated John because  0.318232  0.681768
3              Alice aggravated Bob because  0.231620  0.768380
4  The actress aggravated the actor because  0.285826  0.714174

In [171]:
# female subject
IC1_connective1_1f = IC1_connective1_1[0:12]
IC1_connective1_1f = IC1_connective1_1f[["stimulus","she","he"]]
# male subject
IC1_connective1_1m = IC1_connective1_1[12:24]

#### female subject

In [172]:
IC1_connective1_1f

                                       stimulus       she        he
0       Miss Smith aggravated Mr. Smith because  0.728982  0.271018
1          The woman aggravated the man because  0.684535  0.315465
2                  Mary aggravated John because  0.681768  0.318232
3                  Alice aggravated Bob because  0.768380  0.231620
4      The actress aggravated the actor because  0.714174  0.285826
5           The girl aggravated the boy because  0.708189  0.291810
6   Mrs. Taylor aggravated Mr. Williams because  0.702733  0.297267
7                 Emma aggravated David because  0.884410  0.115590
8    The princess aggravated the prince because  0.588007  0.411993
9               Sarah aggravated Robert because  0.813035  0.186965
10  Mrs. Williams aggravated Mr. Taylor because  0.672745  0.327255
11                Emily aggravated Paul because  0.807947  0.192054

In [173]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_1f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_1f,'he'))

P('subj-pron'|subj=female) =  0.7295753310124079
P('non-subj-pron'|subj=female) =  0.2704246627787749

In [174]:
c1_average_subj_female_subj_pron['aggravated'] = compute_average(IC1_connective1_1f,'she')
c1_average_subj_female_obj_pron['aggravated'] = compute_average(IC1_connective1_1f,'he')

#### male subject

In [175]:
IC1_connective1_1m

                                       stimulus        he       she
12      Mr. Smith aggravated Miss Smith because  0.520954  0.479046
13         The man aggravated the woman because  0.610397  0.389603
14                 John aggravated Mary because  0.699654  0.300346
15                 Bob aggravated Alice because  0.301265  0.698735
16     The actor aggravated the actress because  0.412338  0.587662
17          The boy aggravated the girl because  0.654564  0.345436
18   Mr. William aggravated Mrs. Taylor because  0.276768  0.723232
19                David aggravated Emma because  0.500946  0.499054
20   The prince aggravated the princess because  0.632954  0.367046
21              Robert aggravated Sarah because  0.308893  0.691107
22  Mr. Taylor aggravated Mrs. Williams because  0.139054  0.860946
23                Paul aggravated Emily because  0.462813  0.537187

In [176]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_1m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_1m,'she'))

P('subj-pron'|subj=male) =  0.46004999553163844
P('non-subj-pron'|subj=male) =  0.539950005710125

In [177]:
c1_average_subj_male_subj_pron['aggravated'] = compute_average(IC1_connective1_1m,'he')
c1_average_subj_male_obj_pron['aggravated'] = compute_average(IC1_connective1_1m,'she')

### verb: "amazed"

In [178]:
IC1_connective1_2 = pd.read_csv("../results/IC1/connective1/2.csv")
IC1_connective1_2.head()

                               stimulus        he       she
0   Miss Smith amazed Mr. Smith because  0.240025  0.759975
1      The woman amazed the man because  0.338031  0.661969
2              Mary amazed John because  0.312493  0.687507
3              Alice amazed Bob because  0.282944  0.717056
4  The actress amazed the actor because  0.340974  0.659026

In [179]:
# female subject
IC1_connective1_2f = IC1_connective1_2[0:12]
IC1_connective1_2f = IC1_connective1_2f[["stimulus","she","he"]]
# male subject
IC1_connective1_2m = IC1_connective1_2[12:24]

#### female subject

In [180]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_2f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_2f,'he'))

P('subj-pron'|subj=female) =  0.6888815015554428
P('non-subj-pron'|subj=female) =  0.3111184909939766

In [181]:
c1_average_subj_female_subj_pron['amazed'] = compute_average(IC1_connective1_2f,'she')
c1_average_subj_female_obj_pron['amazed'] = compute_average(IC1_connective1_2f,'he')

#### male subject

In [182]:
IC1_connective1_2m

                                   stimulus        he       she
12      Mr. Smith amazed Miss Smith because  0.783504  0.216496
13         The man amazed the woman because  0.893467  0.106533
14                John amazed Alice because  0.488416  0.511584
15                  Bob amazed John because  0.996543  0.003457
16     The actor amazed the actress because  0.938733  0.061267
17          The boy amazed the girl because  0.913013  0.086987
18   Mr. William amazed Mrs. Taylor because  0.579129  0.420871
19                David amazed Emma because  0.701355  0.298645
20   The prince amazed the princess because  0.952039  0.047961
21              Robert amazed Sarah because  0.786972  0.213028
22  Mr. Taylor amazed Mrs. Williams because  0.390192  0.609808
23                Paul amazed Emily because  0.705420  0.294580

In [183]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_2m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_2m,'she'))

P('subj-pron'|subj=male) =  0.7607318088412285
P('non-subj-pron'|subj=male) =  0.23926818002170572

In [184]:
c1_average_subj_male_subj_pron['amazed'] = compute_average(IC1_connective1_2m,'he')
c1_average_subj_male_obj_pron['amazed'] = compute_average(IC1_connective1_2m,'she')

### verb: "amused"

In [185]:
IC1_connective1_3 = pd.read_csv("../results/IC1/connective1/3.csv")
IC1_connective1_3.head()

                               stimulus        he       she
0   Miss Smith amused Mr. Smith because  0.294151  0.705849
1      The woman amused the man because  0.376120  0.623880
2              Mary amused John because  0.326680  0.673320
3              Alice amused Bob because  0.293258  0.706742
4  The actress amused the actor because  0.389720  0.610280

In [186]:
# female subject
IC1_connective1_3f = IC1_connective1_3[0:12]
IC1_connective1_3f = IC1_connective1_3f[["stimulus","she","he"]]
# male subject
IC1_connective1_3m = IC1_connective1_3[12:24]

#### female subject

In [187]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_3f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_3f,'he'))

P('subj-pron'|subj=female) =  0.6834157109260559
P('non-subj-pron'|subj=female) =  0.316584300249815

In [188]:
c1_average_subj_female_subj_pron['amused'] = compute_average(IC1_connective1_3f,'she')
c1_average_subj_female_obj_pron['amused'] = compute_average(IC1_connective1_3f,'he')

#### male subject

In [189]:
IC1_connective1_3m

                                   stimulus        he       she
12      Mr. Smith amused Miss Smith because  0.595157  0.404843
13         The man amused the woman because  0.826822  0.173178
14                John amused Alice because  0.354539  0.645461
15                  Bob amused John because  0.997195  0.002805
16     The actor amused the actress because  0.845245  0.154755
17          The boy amused the girl because  0.853709  0.146291
18   Mr. William amused Mrs. Taylor because  0.347192  0.652808
19                David amused Emma because  0.497320  0.502680
20   The prince amused the princess because  0.866175  0.133825
21              Robert amused Sarah because  0.543317  0.456683
22  Mr. Taylor amused Mrs. Williams because  0.194070  0.805930
23                Paul amused Emily because  0.504693  0.495307

In [190]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_3m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_3m,'she'))

P('subj-pron'|subj=male) =  0.6187861661116282
P('non-subj-pron'|subj=male) =  0.38121384461798397

In [191]:
c1_average_subj_male_subj_pron['amused'] = compute_average(IC1_connective1_3m,'he')
c1_average_subj_male_obj_pron['amused'] = compute_average(IC1_connective1_3m,'she')

### verb: "annoyed"

In [192]:
IC1_connective1_4 = pd.read_csv("../results/IC1/connective1/4.csv")
IC1_connective1_4.head()

                                stimulus        he       she
0   Miss Smith annoyed Mr. Smith because  0.287028  0.712972
1      The woman annoyed the man because  0.338202  0.661798
2              Mary annoyed John because  0.265800  0.734200
3              Alice annoyed Bob because  0.284147  0.715853
4  The actress annoyed the actor because  0.346982  0.653018

In [193]:
# female subject
IC1_connective1_4f = IC1_connective1_4[0:12]
IC1_connective1_4f = IC1_connective1_4f[["stimulus","she","he"]]
# male subject
IC1_connective1_4m = IC1_connective1_4[12:24]

#### female subject

In [194]:
IC1_connective1_4f

                                    stimulus       she        he
0       Miss Smith annoyed Mr. Smith because  0.712972  0.287028
1          The woman annoyed the man because  0.661798  0.338202
2                  Mary annoyed John because  0.734200  0.265800
3                  Alice annoyed Bob because  0.715853  0.284147
4      The actress annoyed the actor because  0.653018  0.346982
5           The girl annoyed the boy because  0.668294  0.331706
6   Mrs. Taylor annoyed Mr. Williams because  0.704471  0.295529
7                 Emma annoyed David because  0.829957  0.170043
8    The princess annoyed the prince because  0.625411  0.374589
9               Sarah annoyed Robert because  0.705654  0.294346
10  Mrs. Williams annoyed Mr. Taylor because  0.648293  0.351707
11                Emily annoyed Paul because  0.752606  0.247394

In [195]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_4f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_4f,'he'))

P('subj-pron'|subj=female) =  0.701043908794721
P('non-subj-pron'|subj=female) =  0.29895609120527905

In [196]:
c1_average_subj_female_subj_pron['annoyded'] = compute_average(IC1_connective1_4f,'she')
c1_average_subj_female_obj_pron['annoyed'] = compute_average(IC1_connective1_4f,'he')

#### male subject

In [197]:
IC1_connective1_4m

                                    stimulus        he       she
12      Mr. Smith annoyed Miss Smith because  0.535177  0.464823
13         The man annoyed the woman because  0.686465  0.313535
14                John annoyed Alice because  0.372501  0.627499
15                  Bob annoyed John because  0.995160  0.004840
16     The actor annoyed the actress because  0.675418  0.324582
17          The boy annoyed the girl because  0.677365  0.322635
18   Mr. William annoyed Mrs. Taylor because  0.364147  0.635853
19                David annoyed Emma because  0.482571  0.517429
20   The prince annoyed the princess because  0.749942  0.250058
21              Robert annoyed Sarah because  0.528075  0.471925
22  Mr. Taylor annoyed Mrs. Williams because  0.176887  0.823113
23                Paul annoyed Emily because  0.515554  0.484446

In [198]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_4m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_4m,'she'))

P('subj-pron'|subj=male) =  0.5632718826333681
P('non-subj-pron'|subj=male) =  0.43672811166228104

In [199]:
c1_average_subj_male_subj_pron['annoyed'] = compute_average(IC1_connective1_4m,'he')
c1_average_subj_male_obj_pron['annoyed'] = compute_average(IC1_connective1_4m,'she')

### verb: "apologized"

In [200]:
IC1_connective1_5 = pd.read_csv("../results/IC1/connective1/5.csv")
IC1_connective1_5.head()

                                      stimulus        he       she
0   Miss Smith apologized to Mr. Smith because  0.318147  0.681853
1      The woman apologized to the man because  0.500385  0.499615
2              Mary apologized to John because  0.289726  0.710274
3              Alice apologized to Bob because  0.262943  0.737057
4  The actress apologized to the actor because  0.327390  0.672610

In [201]:
# female subject
IC1_connective1_5f = IC1_connective1_5[0:12]
IC1_connective1_5f = IC1_connective1_5[["stimulus","she","he"]]
# male subject
IC1_connective1_5m = IC1_connective1_5[12:24]

#### female subject

In [202]:
IC1_connective1_5f

                                          stimulus       she        he
0       Miss Smith apologized to Mr. Smith because  0.681853  0.318147
1          The woman apologized to the man because  0.499615  0.500385
2                  Mary apologized to John because  0.710274  0.289726
3                  Alice apologized to Bob because  0.737057  0.262943
4      The actress apologized to the actor because  0.672610  0.327390
5           The girl apologized to the boy because  0.539913  0.460087
6   Mrs. Taylor apologized to Mr. Williams because  0.702452  0.297548
7                 Emma apologized to David because  0.845260  0.154740
8    The princess apologized to the prince because  0.504493  0.495507
9               Sarah apologized to Robert because  0.774411  0.225589
10  Mrs. Williams apologized to Mr. Taylor because  0.672335  0.327665
11                Emily apologized to Paul because  0.881063  0.118937
12      Mr. Smith apologized to Miss Smith because  0.394793  0.605207
13         The man apologized to the woman because  0.461990  0.538010
14                John apologized to Alice because  0.596974  0.403026
15                  Bob apologized to John because  0.006145  0.993855
16     The actor apologized to the actress because  0.646348  0.353652
17          The boy apologized to the girl because  0.422660  0.577340
18   Mr. William apologized to Mrs. Taylor because  0.569746  0.430254
19                David apologized to Emma because  0.436244  0.563756
20   The prince apologized to the princess because  0.444666  0.555334
21              Robert apologized to Sarah because  0.674739  0.325261
22  Mr. Taylor apologized to Mrs. Williams because  0.699334  0.300666
23                Paul apologized to Emily because  0.498013  0.501987

In [203]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_5f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_5f,'he'))

P('subj-pron'|subj=female) =  0.5863745615351945
P('non-subj-pron'|subj=female) =  0.413625436834991

In [204]:
c1_average_subj_female_subj_pron['apologized'] = compute_average(IC1_connective1_5f,'she')
c1_average_subj_female_obj_pron['apologized'] = compute_average(IC1_connective1_5f,'he')

#### male subject

In [205]:
IC1_connective1_5m

                                          stimulus        he       she
12      Mr. Smith apologized to Miss Smith because  0.605207  0.394793
13         The man apologized to the woman because  0.538010  0.461990
14                John apologized to Alice because  0.403026  0.596974
15                  Bob apologized to John because  0.993855  0.006145
16     The actor apologized to the actress because  0.353652  0.646348
17          The boy apologized to the girl because  0.577340  0.422660
18   Mr. William apologized to Mrs. Taylor because  0.430254  0.569746
19                David apologized to Emma because  0.563756  0.436244
20   The prince apologized to the princess because  0.555334  0.444666
21              Robert apologized to Sarah because  0.325261  0.674739
22  Mr. Taylor apologized to Mrs. Williams because  0.300666  0.699334
23                Paul apologized to Emily because  0.501987  0.498013

In [206]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_5m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_5m,'she'))

P('subj-pron'|subj=male) =  0.5123622566461563
P('non-subj-pron'|subj=male) =  0.4876377593415479

In [207]:
c1_average_subj_male_subj_pron['apologized'] = compute_average(IC1_connective1_5m,'he')
c1_average_subj_male_obj_pron['apologized'] = compute_average(IC1_connective1_5m,'she')

### verb: "bored"

In [208]:
IC1_connective1_6 = pd.read_csv("../results/IC1/connective1/6.csv")
IC1_connective1_6.head()

                              stimulus        he       she
0   Miss Smith bored Mr. Smith because  0.512670  0.487330
1      The woman bored the man because  0.558035  0.441965
2              Mary bored John because  0.484268  0.515732
3              Alice bored Bob because  0.568049  0.431951
4  The actress bored the actor because  0.583363  0.416637

In [209]:
# female subject
IC1_connective1_6f = IC1_connective1_6[0:12]
IC1_connective1_6f = IC1_connective1_6[["stimulus","she","he"]]
# male subject
IC1_connective1_6m = IC1_connective1_6[12:24]

#### female subject

In [210]:
IC1_connective1_6f

                                  stimulus       she        he
0       Miss Smith bored Mr. Smith because  0.487330  0.512670
1          The woman bored the man because  0.441965  0.558035
2                  Mary bored John because  0.515732  0.484268
3                  Alice bored Bob because  0.431951  0.568049
4      The actress bored the actor because  0.416637  0.583363
5           The girl bored the boy because  0.498490  0.501510
6   Mrs. Taylor bored Mr. Williams because  0.474062  0.525938
7                 Emma bored David because  0.635354  0.364646
8    The princess bored the prince because  0.424754  0.575245
9               Sarah bored Robert because  0.552384  0.447616
10  Mrs. Williams bored Mr. Taylor because  0.441136  0.558864
11                Emily bored Paul because  0.543099  0.456901
12      Mr. Smith bored Miss Smith because  0.685550  0.314450
13         The man bored the woman because  0.422873  0.577127
14                John bored Alice because  0.862688  0.137312
15                  Bob bored John because  0.003849  0.996151
16     The actor bored the actress because  0.732145  0.267855
17          The boy bored the girl because  0.437601  0.562399
18   Mr. William bored Mrs. Taylor because  0.861631  0.138369
19                David bored Emma because  0.720551  0.279448
20   The prince bored the princess because  0.475201  0.524799
21              Robert bored Sarah because  0.815778  0.184222
22  Mr. Taylor bored Mrs. Williams because  0.905398  0.094602
23                Paul bored Emily because  0.735668  0.264332

In [211]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_6f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_6f,'he'))

P('subj-pron'|subj=female) =  0.5634095159960756
P('non-subj-pron'|subj=female) =  0.4365904809286197

In [212]:
c1_average_subj_female_subj_pron['bored'] = compute_average(IC1_connective1_6f,'she')
c1_average_subj_female_obj_pron['bored'] = compute_average(IC1_connective1_6f,'he')

#### male subject

In [213]:
IC1_connective1_6m

                                  stimulus        he       she
12      Mr. Smith bored Miss Smith because  0.314450  0.685550
13         The man bored the woman because  0.577127  0.422873
14                John bored Alice because  0.137312  0.862688
15                  Bob bored John because  0.996151  0.003849
16     The actor bored the actress because  0.267855  0.732145
17          The boy bored the girl because  0.562399  0.437601
18   Mr. William bored Mrs. Taylor because  0.138369  0.861631
19                David bored Emma because  0.279448  0.720551
20   The prince bored the princess because  0.524799  0.475201
21              Robert bored Sarah because  0.184222  0.815778
22  Mr. Taylor bored Mrs. Williams because  0.094602  0.905398
23                Paul bored Emily because  0.264332  0.735668

In [214]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_6m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_6m,'she'))

P('subj-pron'|subj=male) =  0.36175551638007164
P('non-subj-pron'|subj=male) =  0.6382444824363726

In [215]:
c1_average_subj_male_subj_pron['bored'] = compute_average(IC1_connective1_6m,'he')
c1_average_subj_male_obj_pron['bored'] = compute_average(IC1_connective1_6m,'she')

### verb: "charmed"

In [216]:
IC1_connective1_7 = pd.read_csv("../results/IC1/connective1/7.csv")
IC1_connective1_7.head()

                                stimulus        he       she
0   Miss Smith charmed Mr. Smith because  0.386605  0.613395
1      The woman charmed the man because  0.412278  0.587722
2              Mary charmed John because  0.337217  0.662783
3              Alice charmed Bob because  0.311920  0.688080
4  The actress charmed the actor because  0.403587  0.596413

In [217]:
# female subject
IC1_connective1_7f = IC1_connective1_7[0:12]
IC1_connective1_7f = IC1_connective1_7f[["stimulus","she","he"]]
# male subject
IC1_connective1_7m = IC1_connective1_7[12:24]

#### female subject

In [218]:
IC1_connective1_7f

                                    stimulus       she        he
0       Miss Smith charmed Mr. Smith because  0.613395  0.386605
1          The woman charmed the man because  0.587722  0.412278
2                  Mary charmed John because  0.662783  0.337217
3                  Alice charmed Bob because  0.688080  0.311920
4      The actress charmed the actor because  0.596413  0.403587
5           The girl charmed the boy because  0.613946  0.386053
6   Mrs. Taylor charmed Mr. Williams because  0.665442  0.334558
7                 Emma charmed David because  0.808031  0.191969
8    The princess charmed the prince because  0.538155  0.461845
9               Sarah charmed Robert because  0.608648  0.391352
10  Mrs. Williams charmed Mr. Taylor because  0.620951  0.379049
11                Emily charmed Paul because  0.657829  0.342171

In [219]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_7f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_7f,'he'))

P('subj-pron'|subj=female) =  0.638449564576149
P('non-subj-pron'|subj=female) =  0.3615504379073779

In [220]:
c1_average_subj_female_subj_pron['charmed'] = compute_average(IC1_connective1_7f,'she')
c1_average_subj_female_obj_pron['charmed'] = compute_average(IC1_connective1_7f,'he')

#### male subject

In [221]:
IC1_connective1_7m

                                    stimulus        he       she
12      Mr. Smith charmed Miss Smith because  0.650079  0.349921
13         The man charmed the woman because  0.746543  0.253457
14                John charmed Alice because  0.395300  0.604700
15                  Bob charmed John because  0.986913  0.013087
16     The actor charmed the actress because  0.697063  0.302937
17          The boy charmed the girl because  0.795816  0.204184
18   Mr. William charmed Mrs. Taylor because  0.429207  0.570793
19                David charmed Emma because  0.530977  0.469023
20   The prince charmed the princess because  0.744565  0.255435
21              Robert charmed Sarah because  0.544116  0.455884
22  Mr. Taylor charmed Mrs. Williams because  0.345891  0.654109
23                Paul charmed Emily because  0.525907  0.474094

In [222]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_7m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_7m,'she'))

P('subj-pron'|subj=male) =  0.6160313561558723
P('non-subj-pron'|subj=male) =  0.3839686526916921

In [223]:
c1_average_subj_male_subj_pron['charmed'] = compute_average(IC1_connective1_7m,'she')
c1_average_subj_male_obj_pron['charmed'] = compute_average(IC1_connective1_7m,'he')

### verb: "offended"

In [224]:
IC1_connective1_8 = pd.read_csv("../results/IC1/connective1/8.csv")
IC1_connective1_8.head()

                                 stimulus        he       she
0   Miss Smith offended Mr. Smith because  0.414847  0.585153
1      The woman offended the man because  0.390513  0.609487
2              Mary offended John because  0.308598  0.691402
3              Alice offended Bob because  0.283124  0.716876
4  The actress offended the actor because  0.370094  0.629906

In [225]:
# female subject
IC1_connective1_8f = IC1_connective1_8[0:12]
IC1_connective1_8f = IC1_connective1_8f[["stimulus","she","he"]]
# male subject
IC1_connective1_8m = IC1_connective1_8[12:24]

#### female subject

In [226]:
IC1_connective1_8f

                                     stimulus       she        he
0       Miss Smith offended Mr. Smith because  0.585153  0.414847
1          The woman offended the man because  0.609487  0.390513
2                  Mary offended John because  0.691402  0.308598
3                  Alice offended Bob because  0.716876  0.283124
4      The actress offended the actor because  0.629906  0.370094
5           The girl offended the boy because  0.614887  0.385113
6   Mrs. Taylor offended Mr. Williams because  0.620093  0.379907
7                 Emma offended David because  0.798235  0.201765
8    The princess offended the prince because  0.566720  0.433280
9               Sarah offended Robert because  0.625652  0.374348
10  Mrs. Williams offended Mr. Taylor because  0.562479  0.437521
11                Emily offended Paul because  0.738055  0.261945

In [227]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_8f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_8f,'he'))

P('subj-pron'|subj=female) =  0.6465788086255392
P('non-subj-pron'|subj=female) =  0.3534211913744609

In [228]:
c1_average_subj_female_subj_pron['offended'] = compute_average(IC1_connective1_8f,'she')
c1_average_subj_female_obj_pron['offended'] = compute_average(IC1_connective1_8f,'he')

#### male subject

In [229]:
IC1_connective1_8m

                                     stimulus        he       she
12      Mr. Smith offended Miss Smith because  0.458650  0.541350
13         The man offended the woman because  0.709828  0.290172
14                John offended Alice because  0.338432  0.661568
15                  Bob offended John because  0.996114  0.003886
16     The actor offended the actress because  0.775768  0.224232
17          The boy offended the girl because  0.693693  0.306307
18   Mr. William offended Mrs. Taylor because  0.293095  0.706905
19                David offended Emma because  0.511666  0.488334
20   The prince offended the princess because  0.745335  0.254665
21              Robert offended Sarah because  0.531271  0.468729
22  Mr. Taylor offended Mrs. Williams because  0.141071  0.858929
23                Paul offended Emily because  0.478667  0.521333

In [230]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_8m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_8m,'she'))

P('subj-pron'|subj=male) =  0.5561324643592039
P('non-subj-pron'|subj=male) =  0.4438675487181172

In [231]:
c1_average_subj_male_subj_pron['offended'] = compute_average(IC1_connective1_8m,'he')
c1_average_subj_male_obj_pron['offended'] = compute_average(IC1_connective1_8m,'she')

### verb: "confessed"

In [232]:
IC1_connective1_9 = pd.read_csv("../results/IC1/connective1/9.csv")
IC1_connective1_9.head()

                                     stimulus        he       she
0   Miss Smith confessed to Mr. Smith because  0.062906  0.937094
1      The woman confessed to the man because  0.114752  0.885248
2              Mary confessed to John because  0.059146  0.940854
3              Alice confessed to Bob because  0.030840  0.969160
4  The actress confessed to the actor because  0.071869  0.928131

In [233]:
# female subject
IC1_connective1_9f = IC1_connective1_9[0:12]
IC1_connective1_9f = IC1_connective1_9f[["stimulus","she","he"]]
# male subject
IC1_connective1_9m = IC1_connective1_9[12:24]

#### female subject

In [234]:
IC1_connective1_9f

                                         stimulus       she        he
0       Miss Smith confessed to Mr. Smith because  0.937094  0.062906
1          The woman confessed to the man because  0.885248  0.114752
2                  Mary confessed to John because  0.940854  0.059146
3                  Alice confessed to Bob because  0.969160  0.030840
4      The actress confessed to the actor because  0.928131  0.071869
5           The girl confessed to the boy because  0.897593  0.102407
6   Mrs. Taylor confessed to Mr. Williams because  0.903343  0.096657
7                 Emma confessed to David because  0.970318  0.029682
8    The princess confessed to the prince because  0.895138  0.104862
9               Sarah confessed to Robert because  0.962102  0.037898
10  Mrs. Williams confessed to Mr. Taylor because  0.910989  0.089011
11                Emily confessed to Paul because  0.965710  0.034290

In [235]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_9f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_9f,'he'))

P('subj-pron'|subj=female) =  0.9304732779661814
P('non-subj-pron'|subj=female) =  0.06952672793219487

In [236]:
c1_average_subj_female_subj_pron['confessed'] = compute_average(IC1_connective1_9f,'she')
c1_average_subj_female_obj_pron['confessed'] = compute_average(IC1_connective1_9f,'he')

#### male subject

In [237]:
IC1_connective1_9m

                                      stimulus        he       she
12      Mr. Smith confessed Miss Smith because  0.732321  0.267679
13         The man confessed the woman because  0.585503  0.414497
14                John confessed Alice because  0.735892  0.264108
15                  Bob confessed John because  0.996872  0.003128
16     The actor confessed the actress because  0.402514  0.597486
17          The boy confessed the girl because  0.597511  0.402489
18   Mr. William confessed Mrs. Taylor because  0.646644  0.353357
19                David confessed Emma because  0.569891  0.430109
20   The prince confessed the princess because  0.566018  0.433982
21              Robert confessed Sarah because  0.570349  0.429651
22  Mr. Taylor confessed Mrs. Williams because  0.449403  0.550597
23                Paul confessed Emily because  0.643947  0.356053

In [238]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_9m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_9m,'she'))

P('subj-pron'|subj=male) =  0.6247386187314987
P('non-subj-pron'|subj=male) =  0.37526137187766534

In [239]:
c1_average_subj_male_subj_pron['confessed'] = compute_average(IC1_connective1_9m,'he')
c1_average_subj_male_obj_pron['confessed'] = compute_average(IC1_connective1_9m,'she')

### verb: "deceived"

In [240]:
IC1_connective1_10 = pd.read_csv("../results/IC1/connective1/10.csv")
IC1_connective1_10.head()

                                 stimulus        he       she
0   Miss Smith deceived Mr. Smith because  0.244806  0.755194
1      The woman deceived the man because  0.338640  0.661360
2              Mary deceived John because  0.220265  0.779735
3              Alice deceived Bob because  0.258818  0.741182
4  The actress deceived the actor because  0.379978  0.620022

In [241]:
# female subject
IC1_connective1_10f = IC1_connective1_10[0:12]
IC1_connective1_10f = IC1_connective1_10f[["stimulus","she","he"]]
# male subject
IC1_connective1_10m = IC1_connective1_10[12:24]

#### female subject

In [242]:
IC1_connective1_10f

                                     stimulus       she        he
0       Miss Smith deceived Mr. Smith because  0.755194  0.244806
1          The woman deceived the man because  0.661360  0.338640
2                  Mary deceived John because  0.779735  0.220265
3                  Alice deceived Bob because  0.741182  0.258818
4      The actress deceived the actor because  0.620022  0.379978
5           The girl deceived the boy because  0.680596  0.319404
6   Mrs. Taylor deceived Mr. Williams because  0.797021  0.202978
7                 Emma deceived David because  0.910671  0.089329
8    The princess deceived the prince because  0.555722  0.444278
9               Sarah deceived Robert because  0.792409  0.207591
10  Mrs. Williams deceived Mr. Taylor because  0.758537  0.241463
11                Emily deceived Paul because  0.861547  0.138453

In [243]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_10f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_10f,'he'))

P('subj-pron'|subj=female) =  0.7428329487641653
P('non-subj-pron'|subj=female) =  0.25716703323026496

In [244]:
c1_average_subj_female_subj_pron['deceived'] = compute_average(IC1_connective1_10f,'she')
c1_average_subj_female_obj_pron['deceived'] = compute_average(IC1_connective1_10f,'he')

#### male subject

In [245]:
IC1_connective1_10m

                                     stimulus        he       she
12      Mr. Smith deceived Miss Smith because  0.478471  0.521529
13         The man deceived the woman because  0.626666  0.373334
14                John deceived Alice because  0.301187  0.698813
15                  Bob deceived John because  0.997182  0.002818
16     The actor deceived the actress because  0.519112  0.480888
17          The boy deceived the girl because  0.584964  0.415036
18   Mr. William deceived Mrs. Taylor because  0.378960  0.621040
19                David deceived Emma because  0.545381  0.454619
20   The prince deceived the princess because  0.606587  0.393413
21              Robert deceived Sarah because  0.455884  0.544116
22  Mr. Taylor deceived Mrs. Williams because  0.149730  0.850271
23                Paul deceived Emily because  0.453848  0.546152

In [246]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_10m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_10m,'she'))

P('subj-pron'|subj=male) =  0.508164199690024
P('non-subj-pron'|subj=male) =  0.4918357941011588

In [247]:
c1_average_subj_male_subj_pron['deceived'] = compute_average(IC1_connective1_10m,'he')
c1_average_subj_male_obj_pron['deceived'] = compute_average(IC1_connective1_10m,'she')

### verb: "disappointed"

In [248]:
IC1_connective1_11 = pd.read_csv("../results/IC1/connective1/11.csv")
IC1_connective1_11.head()

                                     stimulus        he       she
0   Miss Smith disappointed Mr. Smith because  0.355938  0.644062
1      The woman disappointed the man because  0.418617  0.581383
2              Mary disappointed John because  0.280636  0.719364
3              Alice disappointed Bob because  0.413203  0.586797
4  The actress disappointed the actor because  0.484308  0.515692

In [249]:
# female subject
IC1_connective1_11f = IC1_connective1_11[0:12]
IC1_connective1_11f = IC1_connective1_11f[["stimulus","she","he"]]
# male subject
IC1_connective1_11m = IC1_connective1_11[12:24]

#### female subject

In [250]:
IC1_connective1_11f

                                         stimulus       she        he
0       Miss Smith disappointed Mr. Smith because  0.644062  0.355938
1          The woman disappointed the man because  0.581383  0.418617
2                  Mary disappointed John because  0.719364  0.280636
3                  Alice disappointed Bob because  0.586797  0.413203
4      The actress disappointed the actor because  0.515692  0.484308
5           The girl disappointed the boy because  0.601352  0.398648
6   Mrs. Taylor disappointed Mr. Williams because  0.705844  0.294156
7                 Emma disappointed David because  0.891000  0.109000
8    The princess disappointed the prince because  0.550716  0.449284
9               Sarah disappointed Robert because  0.745681  0.254319
10  Mrs. Williams disappointed Mr. Taylor because  0.604347  0.395653
11                Emily disappointed Paul because  0.840991  0.159009

In [251]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_11f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_11f,'he'))

P('subj-pron'|subj=female) =  0.6656024754047394
P('non-subj-pron'|subj=female) =  0.33439752211173374

In [252]:
c1_average_subj_female_subj_pron['disappointed'] = compute_average(IC1_connective1_11f,'she')
c1_average_subj_female_obj_pron['disappointed'] = compute_average(IC1_connective1_11f,'he')

#### male subject

In [253]:
IC1_connective1_11m

                                         stimulus        he       she
12      Mr. Smith disappointed Miss Smith because  0.525195  0.474805
13         The man disappointed the woman because  0.711341  0.288659
14                John disappointed Alice because  0.336160  0.663840
15                  Bob disappointed John because  0.997546  0.002454
16     The actor disappointed the actress because  0.553705  0.446295
17          The boy disappointed the girl because  0.692197  0.307803
18   Mr. William disappointed Mrs. Taylor because  0.428373  0.571627
19                David disappointed Emma because  0.512246  0.487754
20   The prince disappointed the princess because  0.697480  0.302520
21              Robert disappointed Sarah because  0.457687  0.542313
22  Mr. Taylor disappointed Mrs. Williams because  0.241651  0.758349
23                Paul disappointed Emily because  0.595904  0.404096

In [254]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_11m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_11m,'she'))

P('subj-pron'|subj=male) =  0.5624571815133095
P('non-subj-pron'|subj=male) =  0.4375428171091092

In [255]:
c1_average_subj_male_subj_pron['disappointed'] = compute_average(IC1_connective1_11m,'he')
c1_average_subj_male_obj_pron['disappointed'] = compute_average(IC1_connective1_11m,'she')

### verb: "exasperated"

In [256]:
IC1_connective1_12 = pd.read_csv("../results/IC1/connective1/12.csv")
IC1_connective1_12.head()

                                    stimulus        he       she
0   Miss Smith exasperated Mr. Smith because  0.401584  0.598416
1      The woman exasperated the man because  0.401748  0.598252
2              Mary exasperated John because  0.341476  0.658524
3              Alice exasperated Bob because  0.366495  0.633505
4  The actress exasperated the actor because  0.359120  0.640880

In [257]:
# female subject
IC1_connective1_12f = IC1_connective1_12[0:12]
IC1_connective1_12f = IC1_connective1_12f[["stimulus","she","he"]]
# male subject
IC1_connective1_12m = IC1_connective1_12[12:24]

#### female subject

In [258]:
IC1_connective1_12f

                                        stimulus       she        he
0       Miss Smith exasperated Mr. Smith because  0.598416  0.401584
1          The woman exasperated the man because  0.598252  0.401748
2                  Mary exasperated John because  0.658524  0.341476
3                  Alice exasperated Bob because  0.633505  0.366495
4      The actress exasperated the actor because  0.640880  0.359120
5           The girl exasperated the boy because  0.604398  0.395602
6   Mrs. Taylor exasperated Mr. Williams because  0.629576  0.370424
7                 Emma exasperated David because  0.796354  0.203646
8    The princess exasperated the prince because  0.538037  0.461963
9               Sarah exasperated Robert because  0.704235  0.295765
10  Mrs. Williams exasperated Mr. Taylor because  0.566293  0.433707
11                Emily exasperated Paul because  0.711618  0.288382

In [259]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_12f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_12f,'he'))

P('subj-pron'|subj=female) =  0.6400074263413748
P('non-subj-pron'|subj=female) =  0.35999258359273273

In [260]:
c1_average_subj_female_subj_pron['exasperated'] = compute_average(IC1_connective1_12f,'she')
c1_average_subj_female_obj_pron['exasperated'] = compute_average(IC1_connective1_12f,'he')

#### male subject

In [261]:
IC1_connective1_12m

                                        stimulus        he       she
12      Mr. Smith exasperated Miss Smith because  0.471276  0.528724
13         The man exasperated the woman because  0.720070  0.279930
14                John exasperated Alice because  0.328658  0.671342
15                  Bob exasperated John because  0.995878  0.004122
16     The actor exasperated the actress because  0.736553  0.263447
17          The boy exasperated the girl because  0.725622  0.274378
18   Mr. William exasperated Mrs. Taylor because  0.288023  0.711977
19                David exasperated Emma because  0.474730  0.525270
20   The prince exasperated the princess because  0.782167  0.217833
21              Robert exasperated Sarah because  0.401448  0.598552
22  Mr. Taylor exasperated Mrs. Williams because  0.126528  0.873472
23                Paul exasperated Emily because  0.506112  0.493888

In [262]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_12m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_12m,'she'))

P('subj-pron'|subj=male) =  0.5464220580955347
P('non-subj-pron'|subj=male) =  0.45357794683271396

In [263]:
c1_average_subj_male_subj_pron['exasperated'] = compute_average(IC1_connective1_12m,'he')
c1_average_subj_male_obj_pron['exasperated'] = compute_average(IC1_connective1_12m,'she')

### verb: "fascinated"

In [264]:
IC1_connective1_13 = pd.read_csv("../results/IC1/connective1/13.csv")
IC1_connective1_13.head()

                                   stimulus        he       she
0   Miss Smith fascinated Mr. Smith because  0.382675  0.617325
1      The woman fascinated the man because  0.271978  0.728022
2              Mary fascinated John because  0.316926  0.683074
3              Alice fascinated Bob because  0.281050  0.718950
4  The actress fascinated the actor because  0.199814  0.800186

In [265]:
# female subject
IC1_connective1_13f = IC1_connective1_13[0:12]
IC1_connective1_13f = IC1_connective1_13f[["stimulus","she","he"]]
# male subject
IC1_connective1_13m = IC1_connective1_13[12:24]

#### female subject

In [266]:
IC1_connective1_13f

                                       stimulus       she        he
0       Miss Smith fascinated Mr. Smith because  0.617325  0.382675
1          The woman fascinated the man because  0.728022  0.271978
2                  Mary fascinated John because  0.683074  0.316926
3                  Alice fascinated Bob because  0.718950  0.281050
4      The actress fascinated the actor because  0.800186  0.199814
5           The girl fascinated the boy because  0.735779  0.264221
6   Mrs. Taylor fascinated Mr. Williams because  0.706178  0.293822
7                 Emma fascinated David because  0.845231  0.154769
8    The princess fascinated the prince because  0.655345  0.344655
9               Sarah fascinated Robert because  0.702102  0.297898
10  Mrs. Williams fascinated Mr. Taylor because  0.619723  0.380277
11                Emily fascinated Paul because  0.655932  0.344068

In [267]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_13f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_13f,'he'))

P('subj-pron'|subj=female) =  0.7056538760662079
P('non-subj-pron'|subj=female) =  0.29434612145026523

In [268]:
c1_average_subj_female_subj_pron['fascinated'] = compute_average(IC1_connective1_13f,'she')
c1_average_subj_female_obj_pron['fascinated'] = compute_average(IC1_connective1_13f,'he')

#### male subject

In [269]:
IC1_connective1_13m

                                       stimulus        he       she
12      Mr. Smith fascinated Miss Smith because  0.567614  0.432386
13         The man fascinated the woman because  0.777829  0.222170
14                John fascinated Alice because  0.334493  0.665507
15                  Bob fascinated John because  0.995457  0.004543
16     The actor fascinated the actress because  0.772606  0.227394
17          The boy fascinated the girl because  0.814670  0.185330
18   Mr. William fascinated Mrs. Taylor because  0.321320  0.678680
19                David fascinated Emma because  0.373259  0.626741
20   The prince fascinated the princess because  0.778499  0.221501
21              Robert fascinated Sarah because  0.535769  0.464231
22  Mr. Taylor fascinated Mrs. Williams because  0.225591  0.774409
23                Paul fascinated Emily because  0.509246  0.490754

In [270]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_13m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_13m,'she'))

P('subj-pron'|subj=male) =  0.5838628038764
P('non-subj-pron'|subj=male) =  0.41613719740416855

In [271]:
c1_average_subj_male_subj_pron['fascinated'] = compute_average(IC1_connective1_13m,'he')
c1_average_subj_male_obj_pron['fascinated'] = compute_average(IC1_connective1_13m,'she')

### verb: "frightened"

In [272]:
IC1_connective1_14 = pd.read_csv("../results/IC1/connective1/14.csv")
IC1_connective1_14.head()

                                   stimulus        he       she
0   Miss Smith frightened Mr. Smith because  0.397610  0.602390
1      The woman frightened the man because  0.358897  0.641103
2              Mary frightened John because  0.338417  0.661583
3              Alice frightened Bob because  0.401432  0.598568
4  The actress frightened the actor because  0.364165  0.635835

In [273]:
# female subject
IC1_connective1_14f = IC1_connective1_14[0:12]
IC1_connective1_14f = IC1_connective1_14f[["stimulus","she","he"]]
# male subject
IC1_connective1_14m = IC1_connective1_14[12:24]

#### female subject

In [274]:
IC1_connective1_14f

                                       stimulus       she        he
0       Miss Smith frightened Mr. Smith because  0.602390  0.397610
1          The woman frightened the man because  0.641103  0.358897
2                  Mary frightened John because  0.661583  0.338417
3                  Alice frightened Bob because  0.598568  0.401432
4      The actress frightened the actor because  0.635835  0.364165
5           The girl frightened the boy because  0.706883  0.293117
6   Mrs. Taylor frightened Mr. Williams because  0.629155  0.370845
7                 Emma frightened David because  0.761300  0.238700
8    The princess frightened the prince because  0.619498  0.380502
9               Sarah frightened Robert because  0.704922  0.295078
10  Mrs. Williams frightened Mr. Taylor because  0.585828  0.414172
11                Emily frightened Paul because  0.699302  0.300698

In [275]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_14f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_14f,'he'))

P('subj-pron'|subj=female) =  0.6538640409708023
P('non-subj-pron'|subj=female) =  0.3461359615127246

In [276]:
c1_average_subj_female_subj_pron['frightened'] = compute_average(IC1_connective1_14f,'she')
c1_average_subj_female_obj_pron['frightened'] = compute_average(IC1_connective1_14f,'he')

#### male subject

In [277]:
IC1_connective1_14m

                                       stimulus        he       she
12      Mr. Smith frightened Miss Smith because  0.490405  0.509595
13         The man frightened the woman because  0.869682  0.130318
14                John frightened Alice because  0.234970  0.765030
15                  Bob frightened John because  0.993951  0.006049
16     The actor frightened the actress because  0.860273  0.139727
17          The boy frightened the girl because  0.877648  0.122352
18   Mr. William frightened Mrs. Taylor because  0.296145  0.703855
19                David frightened Emma because  0.384792  0.615208
20   The prince frightened the princess because  0.841457  0.158543
21              Robert frightened Sarah because  0.375476  0.624524
22  Mr. Taylor frightened Mrs. Williams because  0.198066  0.801934
23                Paul frightened Emily because  0.395991  0.604009

In [278]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_14m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_14m,'she'))

P('subj-pron'|subj=male) =  0.568237841129303
P('non-subj-pron'|subj=male) =  0.4317621535932024

In [279]:
c1_average_subj_male_subj_pron['frightened'] = compute_average(IC1_connective1_14m,'he')
c1_average_subj_male_obj_pron['frightened'] = compute_average(IC1_connective1_14m,'she')

### verb: "humiliated"

In [280]:
IC1_connective1_15 = pd.read_csv("../results/IC1/connective1/15.csv")
IC1_connective1_15.head()

                                   stimulus        he       she
0   Miss Smith humiliated Mr. Smith because  0.391767  0.608233
1      The woman humiliated the man because  0.356782  0.643218
2              Mary humiliated John because  0.383220  0.616780
3              Alice humiliated Bob because  0.430687  0.569313
4  The actress humiliated the actor because  0.476277  0.523723

In [281]:
# female subject
IC1_connective1_15f = IC1_connective1_15[0:12]
IC1_connective1_15f = IC1_connective1_15f[["stimulus","she","he"]]
# male subject
IC1_connective1_15m = IC1_connective1_15[12:24]

#### female subject

In [282]:
IC1_connective1_15f

                                       stimulus       she        he
0       Miss Smith humiliated Mr. Smith because  0.608233  0.391767
1          The woman humiliated the man because  0.643218  0.356782
2                  Mary humiliated John because  0.616780  0.383220
3                  Alice humiliated Bob because  0.569313  0.430687
4      The actress humiliated the actor because  0.523723  0.476277
5           The girl humiliated the boy because  0.615318  0.384682
6   Mrs. Taylor humiliated Mr. Williams because  0.583987  0.416013
7                 Emma humiliated David because  0.796745  0.203255
8    The princess humiliated the prince because  0.513117  0.486883
9               Sarah humiliated Robert because  0.683252  0.316748
10  Mrs. Williams humiliated Mr. Taylor because  0.579910  0.420090
11                Emily humiliated Paul because  0.730145  0.269856

In [283]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_15f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_15f,'he'))

P('subj-pron'|subj=female) =  0.6219782034556071
P('non-subj-pron'|subj=female) =  0.37802180275321007

In [284]:
c1_average_subj_female_subj_pron['humiliated'] = compute_average(IC1_connective1_15f,'she')
c1_average_subj_female_obj_pron['humiliated'] = compute_average(IC1_connective1_15f,'he')

#### male subject

In [285]:
IC1_connective1_15m

                                       stimulus        he       she
12      Mr. Smith humiliated Miss Smith because  0.464876  0.535124
13         The man humiliated the woman because  0.731650  0.268350
14                John humiliated Alice because  0.212163  0.787837
15                  Bob humiliated John because  0.996232  0.003768
16     The actor humiliated the actress because  0.495349  0.504651
17          The boy humiliated the girl because  0.727023  0.272977
18   Mr. William humiliated Mrs. Taylor because  0.225701  0.774299
19                David humiliated Emma because  0.427105  0.572895
20   The prince humiliated the princess because  0.553403  0.446597
21              Robert humiliated Sarah because  0.360630  0.639370
22  Mr. Taylor humiliated Mrs. Williams because  0.110314  0.889686
23                Paul humiliated Emily because  0.337325  0.662675

In [286]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_15m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_15m,'she'))

P('subj-pron'|subj=male) =  0.4701475544522206
P('non-subj-pron'|subj=male) =  0.5298524413180227

In [287]:
c1_average_subj_male_subj_pron['humiliated'] = compute_average(IC1_connective1_15m,'he')
c1_average_subj_male_obj_pron['humiliated'] = compute_average(IC1_connective1_15m,'she')

### verb: "infuriated"

In [288]:
IC1_connective1_16 = pd.read_csv("../results/IC1/connective1/16.csv")
IC1_connective1_16.head()

                                   stimulus        he       she
0   Miss Smith infuriated Mr. Smith because  0.396936  0.603064
1      The woman infuriated the man because  0.399074  0.600926
2              Mary infuriated John because  0.340302  0.659698
3              Alice infuriated Bob because  0.402134  0.597866
4  The actress infuriated the actor because  0.434080  0.565920

In [289]:
# female subject
IC1_connective1_16f = IC1_connective1_16[0:12]
IC1_connective1_16f = IC1_connective1_16f[["stimulus","she","he"]]
# male subject
IC1_connective1_16m = IC1_connective1_16[12:24]

#### female subject

In [290]:
IC1_connective1_16f

                                       stimulus       she        he
0       Miss Smith infuriated Mr. Smith because  0.603064  0.396936
1          The woman infuriated the man because  0.600926  0.399074
2                  Mary infuriated John because  0.659698  0.340302
3                  Alice infuriated Bob because  0.597866  0.402134
4      The actress infuriated the actor because  0.565920  0.434080
5           The girl infuriated the boy because  0.601052  0.398948
6   Mrs. Taylor infuriated Mr. Williams because  0.599533  0.400467
7                 Emma infuriated David because  0.753119  0.246881
8    The princess infuriated the prince because  0.514543  0.485457
9               Sarah infuriated Robert because  0.640502  0.359498
10  Mrs. Williams infuriated Mr. Taylor because  0.546856  0.453144
11                Emily infuriated Paul because  0.677397  0.322603

In [291]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_16f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_16f,'he'))

P('subj-pron'|subj=female) =  0.6133730610211691
P('non-subj-pron'|subj=female) =  0.3866269265611966

In [292]:
c1_average_subj_female_subj_pron['infuriated'] = compute_average(IC1_connective1_16f,'she')
c1_average_subj_female_obj_pron['infuriated'] = compute_average(IC1_connective1_16f,'he')

#### male subject

In [293]:
IC1_connective1_16m

                                       stimulus        he       she
12      Mr. Smith infuriated Miss Smith because  0.436277  0.563723
13         The man infuriated the woman because  0.668524  0.331476
14                John infuriated Alice because  0.217504  0.782496
15                  Bob infuriated John because  0.994793  0.005207
16     The actor infuriated the actress because  0.670892  0.329108
17          The boy infuriated the girl because  0.661859  0.338141
18   Mr. William infuriated Mrs. Taylor because  0.230779  0.769221
19                David infuriated Emma because  0.345664  0.654336
20   The prince infuriated the princess because  0.727600  0.272400
21              Robert infuriated Sarah because  0.358188  0.641813
22  Mr. Taylor infuriated Mrs. Williams because  0.113033  0.886967
23                Paul infuriated Emily because  0.365914  0.634086

In [294]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_16m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_16m,'she'))

P('subj-pron'|subj=male) =  0.48258560088773567
P('non-subj-pron'|subj=male) =  0.5174144173506647

In [295]:
c1_average_subj_male_subj_pron['infuriated'] = compute_average(IC1_connective1_16m,'he')
c1_average_subj_male_obj_pron['infuriated'] = compute_average(IC1_connective1_16m,'she')

### verb: "inspires"

In [296]:
IC1_connective1_17 = pd.read_csv("../results/IC1/connective1/17.csv")
IC1_connective1_17.head()

                                 stimulus        he       she
0   Miss Smith inspires Mr. Smith because  0.320658  0.679342
1      The woman inspires the man because  0.346015  0.653985
2              Mary inspires John because  0.236477  0.763523
3              Alice inspires Bob because  0.255995  0.744005
4  The actress inspires the actor because  0.260904  0.739096

In [297]:
# female subject
IC1_connective1_17f = IC1_connective1_17[0:12]
IC1_connective1_17f = IC1_connective1_17f[["stimulus","she","he"]]
# male subject
IC1_connective1_17m = IC1_connective1_17[12:24]

#### female subject

In [298]:
IC1_connective1_17f

                                     stimulus       she        he
0       Miss Smith inspires Mr. Smith because  0.679342  0.320658
1          The woman inspires the man because  0.653985  0.346015
2                  Mary inspires John because  0.763523  0.236477
3                  Alice inspires Bob because  0.744005  0.255995
4      The actress inspires the actor because  0.739096  0.260904
5           The girl inspires the boy because  0.651485  0.348515
6   Mrs. Taylor inspires Mr. Williams because  0.657111  0.342889
7                 Emma inspires David because  0.810888  0.189112
8    The princess inspires the prince because  0.588023  0.411977
9               Sarah inspires Robert because  0.722237  0.277763
10  Mrs. Williams inspires Mr. Taylor because  0.632040  0.367960
11                Emily inspires Paul because  0.668392  0.331608

In [299]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_17f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_17f,'he'))

P('subj-pron'|subj=female) =  0.6925105005502701
P('non-subj-pron'|subj=female) =  0.30748951186736423

In [300]:
c1_average_subj_female_subj_pron['inspires'] = compute_average(IC1_connective1_17f,'she')
c1_average_subj_female_obj_pron['inspires'] = compute_average(IC1_connective1_17f,'he')

#### male subject

In [301]:
IC1_connective1_17m

                                     stimulus        he       she
12      Mr. Smith inspires Miss Smith because  0.618020  0.381980
13         The man inspires the woman because  0.602488  0.397512
14                John inspires Alice because  0.359735  0.640265
15                  Bob inspires John because  0.988787  0.011213
16     The actor inspires the actress because  0.671973  0.328027
17          The boy inspires the girl because  0.571981  0.428019
18   Mr. William inspires Mrs. Taylor because  0.370732  0.629268
19                David inspires Emma because  0.437981  0.562019
20   The prince inspires the princess because  0.652862  0.347138
21              Robert inspires Sarah because  0.513539  0.486461
22  Mr. Taylor inspires Mrs. Williams because  0.284732  0.715268
23                Paul inspires Emily because  0.504633  0.495367

In [302]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_17m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_17m,'she'))

P('subj-pron'|subj=male) =  0.548121931652228
P('non-subj-pron'|subj=male) =  0.45187804390055436

In [303]:
c1_average_subj_male_subj_pron['inspires'] = compute_average(IC1_connective1_17m,'he')
c1_average_subj_male_obj_pron['inspires'] = compute_average(IC1_connective1_17m,'she')

### verb: "intimidates"

In [304]:
IC1_connective1_18 = pd.read_csv("../results/IC1/connective1/18.csv")
IC1_connective1_18.head()

                                    stimulus        he       she
0   Miss Smith intimidates Mr. Smith because  0.317445  0.682555
1      The woman intimidates the man because  0.371427  0.628573
2              Mary intimidates John because  0.247075  0.752925
3              Alice intimidates Bob because  0.297478  0.702522
4  The actress intimidates the actor because  0.471934  0.528066

In [305]:
# female subject
IC1_connective1_18f = IC1_connective1_18[0:12]
IC1_connective1_18f = IC1_connective1_18f[["stimulus","she","he"]]
# male subject
IC1_connective1_18m = IC1_connective1_18[12:24]

#### female subject

In [306]:
IC1_connective1_18f

                                        stimulus       she        he
0       Miss Smith intimidates Mr. Smith because  0.682555  0.317445
1          The woman intimidates the man because  0.628573  0.371427
2                  Mary intimidates John because  0.752925  0.247075
3                  Alice intimidates Bob because  0.702522  0.297478
4      The actress intimidates the actor because  0.528066  0.471934
5           The girl intimidates the boy because  0.660740  0.339260
6   Mrs. Taylor intimidates Mr. Williams because  0.657668  0.342332
7                 Emma intimidates David because  0.795567  0.204433
8    The princess intimidates the prince because  0.570871  0.429129
9               Sarah intimidates Robert because  0.577618  0.422382
10  Mrs. Williams intimidates Mr. Taylor because  0.650823  0.349177
11                Emily intimidates Paul because  0.776274  0.223726

In [307]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_18f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_18f,'he'))

P('subj-pron'|subj=female) =  0.6653502335151037
P('non-subj-pron'|subj=female) =  0.33464976648489636

In [308]:
c1_average_subj_female_subj_pron['intimidates'] = compute_average(IC1_connective1_18f,'she')
c1_average_subj_female_obj_pron['intimidates'] = compute_average(IC1_connective1_18f,'he')

#### male subject

In [309]:
IC1_connective1_18m

                                        stimulus        he       she
12      Mr. Smith intimidates Miss Smith because  0.644827  0.355173
13         The man intimidates the woman because  0.766365  0.233635
14                John intimidates Alice because  0.436337  0.563663
15                  Bob intimidates John because  0.992783  0.007217
16     The actor intimidates the actress because  0.782040  0.217960
17          The boy intimidates the girl because  0.760069  0.239931
18   Mr. William intimidates Mrs. Taylor because  0.473211  0.526789
19                David intimidates Emma because  0.604625  0.395375
20   The prince intimidates the princess because  0.745364  0.254635
21              Robert intimidates Sarah because  0.671589  0.328411
22  Mr. Taylor intimidates Mrs. Williams because  0.301804  0.698196
23                Paul intimidates Emily because  0.555852  0.444148

In [310]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_18m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_18m,'she'))

P('subj-pron'|subj=male) =  0.6445722306768099
P('non-subj-pron'|subj=male) =  0.35542776284273714

In [311]:
c1_average_subj_male_subj_pron['intimidates'] = compute_average(IC1_connective1_18m,'he')
c1_average_subj_male_obj_pron['intimidates'] = compute_average(IC1_connective1_18m,'she')

### verb: "scares"

In [312]:
IC1_connective1_19 = pd.read_csv("../results/IC1/connective1/19.csv")
IC1_connective1_19.head()

                               stimulus        he       she
0   Miss Smith scares Mr. Smith because  0.310692  0.689308
1      The woman scares the man because  0.342396  0.657604
2              Mary scares John because  0.358491  0.641509
3              Alice scares Bob because  0.354126  0.645874
4  The actress scares the actor because  0.408823  0.591177

In [313]:
# female subject
IC1_connective1_19f = IC1_connective1_19[0:12]
IC1_connective1_19f = IC1_connective1_19f[["stimulus","she","he"]]
# male subject
IC1_connective1_19m = IC1_connective1_19[12:24]

#### female subject

In [314]:
IC1_connective1_19f

                                   stimulus       she        he
0       Miss Smith scares Mr. Smith because  0.689308  0.310692
1          The woman scares the man because  0.657604  0.342396
2                  Mary scares John because  0.641509  0.358491
3                  Alice scares Bob because  0.645874  0.354126
4      The actress scares the actor because  0.591177  0.408823
5           The girl scares the boy because  0.705327  0.294673
6   Mrs. Taylor scares Mr. Williams because  0.637614  0.362386
7                 Emma scares David because  0.748941  0.251059
8    The princess scares the prince because  0.605309  0.394691
9               Sarah scares Robert because  0.639605  0.360395
10  Mrs. Williams scares Mr. Taylor because  0.599010  0.400990
11                Emily scares Paul because  0.577472  0.422528

In [315]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_19f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_19f,'he'))

P('subj-pron'|subj=female) =  0.6448959559202194
P('non-subj-pron'|subj=female) =  0.3551040490468343

In [316]:
c1_average_subj_female_subj_pron['scares'] = compute_average(IC1_connective1_19f,'she')
c1_average_subj_female_obj_pron['scares'] = compute_average(IC1_connective1_19f,'he')

#### male subject

In [317]:
IC1_connective1_19m

                                   stimulus        he       she
12      Mr. Smith scares Miss Smith because  0.589535  0.410465
13         The man scares the woman because  0.847315  0.152685
14                John scares Alice because  0.235396  0.764604
15                  Bob scares John because  0.994244  0.005756
16     The actor scares the actress because  0.837677  0.162323
17          The boy scares the girl because  0.891683  0.108317
18   Mr. William scares Mrs. Taylor because  0.317656  0.682343
19                David scares Emma because  0.327672  0.672328
20   The prince scares the princess because  0.839271  0.160729
21              Robert scares Sarah because  0.362762  0.637238
22  Mr. Taylor scares Mrs. Williams because  0.193373  0.806627
23                Paul scares Emily because  0.356660  0.643340

In [318]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_19m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_19m,'she'))

P('subj-pron'|subj=male) =  0.5661038073400656
P('non-subj-pron'|subj=male) =  0.43389618656753254

In [319]:
c1_average_subj_male_subj_pron['scares'] = compute_average(IC1_connective1_19m,'he')
c1_average_subj_male_obj_pron['scares'] = compute_average(IC1_connective1_19m,'she')

### verb: "surprised"

In [320]:
IC1_connective1_20 = pd.read_csv("../results/IC1/connective1/20.csv")
IC1_connective1_20.head()

                                  stimulus        he       she
0   Miss Smith surprised Mr. Smith because  0.192814  0.807186
1      The woman surprised the man because  0.283475  0.716525
2              Mary surprised John because  0.272324  0.727676
3              Alice surprised Bob because  0.213057  0.786943
4  The actress surprised the actor because  0.337970  0.662030

In [321]:
# female subject
IC1_connective1_20f = IC1_connective1_20[0:12]
IC1_connective1_20f = IC1_connective1_20f[["stimulus","she","he"]]
# male subject
IC1_connective1_20m = IC1_connective1_20[12:24]

#### female subject

In [322]:
IC1_connective1_20f

                                      stimulus       she        he
0       Miss Smith surprised Mr. Smith because  0.807186  0.192814
1          The woman surprised the man because  0.716525  0.283475
2                  Mary surprised John because  0.727676  0.272324
3                  Alice surprised Bob because  0.786943  0.213057
4      The actress surprised the actor because  0.662030  0.337970
5           The girl surprised the boy because  0.665139  0.334861
6   Mrs. Taylor surprised Mr. Williams because  0.844487  0.155513
7                 Emma surprised David because  0.862993  0.137007
8    The princess surprised the prince because  0.673483  0.326517
9               Sarah surprised Robert because  0.767191  0.232809
10  Mrs. Williams surprised Mr. Taylor because  0.734836  0.265164
11                Emily surprised Paul because  0.833427  0.166573

In [323]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_20f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_20f,'he'))

P('subj-pron'|subj=female) =  0.7568263659874598
P('non-subj-pron'|subj=female) =  0.2431736240784327

In [324]:
c1_average_subj_female_subj_pron['surprised'] = compute_average(IC1_connective1_20f,'she')
c1_average_subj_female_obj_pron['surprised'] = compute_average(IC1_connective1_20f,'he')

#### male subject

In [325]:
IC1_connective1_20m

                                      stimulus        he       she
12      Mr. Smith surprised Miss Smith because  0.858793  0.141207
13         The man surprised the woman because  0.892823  0.107177
14                John surprised Alice because  0.603138  0.396862
15                  Bob surprised John because  0.997319  0.002681
16     The actor surprised the actress because  0.902494  0.097506
17          The boy surprised the girl because  0.870835  0.129165
18   Mr. William surprised Mrs. Taylor because  0.744408  0.255592
19                David surprised Emma because  0.762594  0.237406
20   The prince surprised the princess because  0.919850  0.080150
21              Robert surprised Sarah because  0.828510  0.171489
22  Mr. Taylor surprised Mrs. Williams because  0.507223  0.492777
23                Paul surprised Emily because  0.797637  0.202363

In [326]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_20m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_20m,'she'))

P('subj-pron'|subj=male) =  0.8071354925632477
P('non-subj-pron'|subj=male) =  0.1928644956011946

In [327]:
c1_average_subj_male_subj_pron['surprised'] = compute_average(IC1_connective1_20m,'he')
c1_average_subj_male_obj_pron['surprised'] = compute_average(IC1_connective1_20m,'she')

## Summary of Results

In [328]:
c1_results_fsubj_subjpron = pd.DataFrame(c1_average_subj_female_subj_pron.items(),columns=['verb','subj_ref_female_subj'])
c1_results_fsubj_objpron = pd.DataFrame(c1_average_subj_female_obj_pron.items(),columns=['verb','obj_ref_female_subj'])
c1_results_fsubj = results_fsubj_subjpron.merge(results_fsubj_objpron)
c1_results_fsubj

            verb  subj_ref_female_subj  obj_ref_female_subj
0     aggravated              0.369027             0.630973
1         amazed              0.343248             0.656752
2         amused              0.393629             0.606371
3        annoyed              0.411023             0.588977
4     apologized              0.371333             0.628667
5          bored              0.481299             0.518701
6        charmed              0.378948             0.621052
7       offended              0.381971             0.618029
8      confessed              0.569115             0.430885
9       deceived              0.411577             0.588423
10  disappointed              0.484471             0.515529
11   exasperated              0.407469             0.592531
12    fascinated              0.423347             0.576653
13    frightened              0.436592             0.563408
14    humiliated              0.401224             0.598776
15    infuriated              0.376954             0.623046
16      inspires              0.358201             0.641799
17   intimidates              0.425481             0.574519
18        scares              0.413105             0.586895
19     surprised              0.372928             0.627072

In [329]:
c1_results_msubj_subjpron = pd.DataFrame(c1_average_subj_male_subj_pron.items(),columns=['verb','subj_ref_male_subj'])
c1_results_msubj_objpron = pd.DataFrame(c1_average_subj_male_obj_pron.items(),columns=['verb','obj_ref_male_subj'])
c1_results_msubj = results_msubj_subjpron.merge(c1_results_msubj_objpron)
c1_results_msubj

            verb  subj_ref_male_subj  obj_ref_male_subj
0     aggravated            0.677447           0.539950
1         amazed            0.575253           0.239268
2         amused            0.657743           0.381214
3        annoyed            0.647371           0.436728
4     apologized            0.704704           0.487638
5          bored            0.612495           0.638244
6        charmed            0.626218           0.616031
7       offended            0.647784           0.443868
8      confessed            0.649027           0.375261
9       deceived            0.581497           0.491836
10  disappointed            0.665134           0.437543
11   exasperated            0.617571           0.453578
12    fascinated            0.638981           0.416137
13    frightened            0.589875           0.431762
14    humiliated            0.639510           0.529852
15    infuriated            0.604224           0.517414
16      inspires            0.646718           0.451878
17   intimidates            0.636172           0.355428
18        scares            0.637535           0.433896
19     surprised            0.625916           0.192864

In [330]:
c1_results = c1_results_fsubj.merge(c1_results_msubj)
c1_results

,verb,subj_ref_female_subj,obj_ref_female_subj,subj_ref_male_subj,obj_ref_male_subj
0,aggravated,0.369027,0.630973,0.677447,0.539950
1,amazed,0.343248,0.656752,0.575253,0.239268
2,amused,0.393629,0.606371,0.657743,0.381214
3,annoyed,0.411023,0.588977,0.647371,0.436728
4,apologized,0.371333,0.628667,0.704704,0.487638
5,bored,0.481299,0.518701,0.612495,0.638244
6,charmed,0.378948,0.621052,0.626218,0.616031
7,offended,0.381971,0.618029,0.647784,0.443868
8,confessed,0.569115,0.430885,0.649027,0.375261
9,deceived,0.411577,0.588423,0.581497,0.491836
10,disappointed,0.484471,0.515529,0.665134,0.437543
11,exasperated,0.407469,0.592531,0.617571,0.453578
12,fascinated,0.423347,0.576653,0.638981,0.416137
13,frightened,0.436592,0.563408,0.589875,0.431762
14,humiliated,0.401224,0.598776,0.639510,0.529852
15,infuriated,0.376954,0.623046,0.604224,0.517414
16,inspires,0.358201,0.641799,0.646718,0.451878
17,intimidates,0.425481,0.574519,0.636172,0.355428
18,scares,0.413105,0.586895,0.637535,0.433896
19,surprised,0.372928,0.627072,0.625916,0.192864

In [331]:
print("P(subj_reference |subj=female)", compute_average(c1_results,'subj_ref_female_subj'))
print("P(obj_reference |subj=female)", compute_average(c1_results,'obj_ref_female_subj'))

P(subj_reference |subj=female) 0.41054707554479436
P(obj_reference |subj=female) 0.5894529223131636

In [332]:
print("P(subj_reference |subj=male)", compute_average(c1_results,'subj_ref_male_subj'))
print("P(obj_reference |subj=male)", compute_average(c1_results,'obj_ref_male_subj'))

P(subj_reference |subj=male) 0.6340587668043249
P(obj_reference |subj=male) 0.4435195958581364

## Connective: "and, as a result"

In [333]:
c2_average_subj_female_subj_pron = {}
c2_average_subj_female_obj_pron = {}
c2_average_subj_male_subj_pron = {}
c2_average_subj_male_obj_pron = {}

### verb: "aggravated"

In [334]:
IC1_connective2_1 = pd.read_csv("../results/IC1/connective2/1.csv")
IC1_connective2_1.head()

                                            stimulus        he       she
0  Miss Smith aggravated Mr. Smith and, as a result,  0.455135  0.544865
1     The woman aggravated the man and, as a result,  0.760476  0.239524
2             Mary aggravated John and, as a result,  0.589851  0.410149
3             Alice aggravated Bob and, as a result,  0.709580  0.290420
4  The actress aggravated the actor and, as a res...  0.822164  0.177836

In [335]:
# female subject
IC1_connective2_1f = IC1_connective2_1[0:12]
IC1_connective2_1f = IC1_connective2_1f[["stimulus","she","he"]]
# male subject
IC1_connective2_1m = IC1_connective2_1[12:24]

#### female subject

In [336]:
IC1_connective2_1f

                                             stimulus       she        he
0   Miss Smith aggravated Mr. Smith and, as a result,  0.544865  0.455135
1      The woman aggravated the man and, as a result,  0.239524  0.760476
2              Mary aggravated John and, as a result,  0.410149  0.589851
3              Alice aggravated Bob and, as a result,  0.290420  0.709580
4   The actress aggravated the actor and, as a res...  0.177836  0.822164
5       The girl aggravated the boy and, as a result,  0.203435  0.796565
6   Mrs. Taylor aggravated Mr. Williams and, as a ...  0.610341  0.389659
7             Emma aggravated David and, as a result,  0.483939  0.516061
8   The princess aggravated the prince and, as a r...  0.407497  0.592503
9           Sarah aggravated Robert and, as a result,  0.306026  0.693974
10  Mrs. Williams aggravated Mr. Taylor and, as a ...  0.608403  0.391597
11            Emily aggravated Paul and, as a result,  0.574075  0.425925

In [337]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_1f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_1f,'he'))

P('subj-pron'|subj=female) =  0.404709259668986
P('non-subj-pron'|subj=female) =  0.5952907378474871

In [338]:
c2_average_subj_female_subj_pron['aggravated'] = compute_average(IC1_connective2_1f,'she')
c2_average_subj_female_obj_pron['aggravated'] = compute_average(IC1_connective2_1f,'he')

#### male subject

In [339]:
IC1_connective2_1m

                                             stimulus        he       she
12  Mr. Smith aggravated Miss Smith and, as a result,  0.491575  0.508425
13     The man aggravated the woman and, as a result,  0.599316  0.400684
14             John aggravated Mary and, as a result,  0.452912  0.547088
15             Bob aggravated Alice and, as a result,  0.321713  0.678287
16  The actor aggravated the actress and, as a res...  0.768192  0.231808
17      The boy aggravated the girl and, as a result,  0.683904  0.316096
18  Mr. William aggravated Mrs. Taylor and, as a r...  0.302283  0.697717
19            David aggravated Emma and, as a result,  0.397782  0.602218
20  The prince aggravated the princess and, as a r...  0.363265  0.636735
21          Robert aggravated Sarah and, as a result,  0.464610  0.535390
22  Mr. Taylor aggravated Mrs. Williams and, as a ...  0.268078  0.731921
23            Paul aggravated Emily and, as a result,  0.329519  0.670481

In [340]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_1m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_1m,'she'))

P('subj-pron'|subj=male) =  0.453595906496048
P('non-subj-pron'|subj=male) =  0.5464040897786617

In [341]:
c2_average_subj_male_subj_pron['aggravated'] = compute_average(IC1_connective2_1m,'he')
c2_average_subj_male_obj_pron['aggravated'] = compute_average(IC1_connective2_1m,'she')

### verb: "amazed"

In [342]:
IC1_connective2_2 = pd.read_csv("../results/IC1/connective2/2.csv")
IC1_connective2_2.head()

                                         stimulus        he       she
0   Miss Smith amazed Mr. Smith and, as a result,  0.445731  0.554269
1      The woman amazed the man and, as a result,  0.731740  0.268260
2              Mary amazed John and, as a result,  0.418153  0.581848
3              Alice amazed Bob and, as a result,  0.703217  0.296783
4  The actress amazed the actor and, as a result,  0.796858  0.203142

In [343]:
# female subject
IC1_connective2_2f = IC1_connective2_2[0:12]
IC1_connective2_2f = IC1_connective2_2f[["stimulus","she","he"]]
# male subject
IC1_connective2_2m = IC1_connective2_2[12:24]

#### female subject

In [344]:
IC1_connective2_2f

                                             stimulus       she        he
0       Miss Smith amazed Mr. Smith and, as a result,  0.554269  0.445731
1          The woman amazed the man and, as a result,  0.268260  0.731740
2                  Mary amazed John and, as a result,  0.581848  0.418153
3                  Alice amazed Bob and, as a result,  0.296783  0.703217
4      The actress amazed the actor and, as a result,  0.203142  0.796858
5           The girl amazed the boy and, as a result,  0.138262  0.861738
6   Mrs. Taylor amazed Mr. Williams and, as a result,  0.635796  0.364204
7                 Emma amazed David and, as a result,  0.571320  0.428680
8    The princess amazed the prince and, as a result,  0.326505  0.673495
9               Sarah amazed Robert and, as a result,  0.197008  0.802992
10  Mrs. Williams amazed Mr. Taylor and, as a result,  0.635756  0.364244
11                Emily amazed Paul and, as a result,  0.600058  0.399942

In [345]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_2f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_2f,'he'))

P('subj-pron'|subj=female) =  0.41741711770494777
P('non-subj-pron'|subj=female) =  0.5825828711191813

In [346]:
c2_average_subj_female_subj_pron['amazed'] = compute_average(IC1_connective2_2f,'she')
c2_average_subj_female_obj_pron['amazed'] = compute_average(IC1_connective2_2f,'he')

#### male subject

In [347]:
IC1_connective2_2m

                                             stimulus        he       she
12      Mr. Smith amazed Miss Smith and, as a result,  0.166213  0.833787
13         The man amazed the woman and, as a result,  0.487713  0.512288
14                John amazed Alice and, as a result,  0.353535  0.646465
15                  Bob amazed John and, as a result,  0.992074  0.007926
16     The actor amazed the actress and, as a result,  0.522434  0.477566
17          The boy amazed the girl and, as a result,  0.528426  0.471574
18   Mr. William amazed Mrs. Taylor and, as a result,  0.070520  0.929480
19                David amazed Emma and, as a result,  0.187980  0.812020
20   The prince amazed the princess and, as a result,  0.355516  0.644484
21              Robert amazed Sarah and, as a result,  0.360776  0.639224
22  Mr. Taylor amazed Mrs. Williams and, as a result,  0.097010  0.902990
23                Paul amazed Emily and, as a result,  0.234231  0.765769

In [348]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_2m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_2m,'she'))

P('subj-pron'|subj=male) =  0.3630357471605142
P('non-subj-pron'|subj=male) =  0.6369642674302062

In [349]:
c2_average_subj_male_subj_pron['amazed'] = compute_average(IC1_connective2_2m,'he')
c2_average_subj_male_obj_pron['amazed'] = compute_average(IC1_connective2_2m,'she')

### verb: "amused"

In [350]:
IC1_connective2_3 = pd.read_csv("../results/IC1/connective2/3.csv")
IC1_connective2_3.head()

                                         stimulus        he       she
0   Miss Smith amused Mr. Smith and, as a result,  0.379651  0.620349
1      The woman amused the man and, as a result,  0.696795  0.303205
2              Mary amused John and, as a result,  0.382637  0.617363
3              Alice amused Bob and, as a result,  0.620655  0.379345
4  The actress amused the actor and, as a result,  0.792208  0.207792

In [351]:
# female subject
IC1_connective2_3f = IC1_connective2_3[0:12]
IC1_connective2_3f = IC1_connective2_3f[["stimulus","she","he"]]
# male subject
IC1_connective2_3m = IC1_connective2_3[12:24]

#### female subject

In [352]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_3f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_3f,'he'))

P('subj-pron'|subj=female) =  0.4724547838171323
P('non-subj-pron'|subj=female) =  0.5275452335675558

In [353]:
c2_average_subj_female_subj_pron['amused'] = compute_average(IC1_connective2_3f,'she')
c2_average_subj_female_obj_pron['amused'] = compute_average(IC1_connective2_3f,'he')

#### male subject

In [354]:
IC1_connective2_3m

                                             stimulus        he       she
12      Mr. Smith amused Miss Smith and, as a result,  0.220454  0.779546
13         The man amused the woman and, as a result,  0.618275  0.381725
14                John amused Alice and, as a result,  0.386303  0.613697
15                  Bob amused John and, as a result,  0.988221  0.011779
16     The actor amused the actress and, as a result,  0.707817  0.292183
17          The boy amused the girl and, as a result,  0.635814  0.364186
18   Mr. William amused Mrs. Taylor and, as a result,  0.143412  0.856588
19                David amused Emma and, as a result,  0.251623  0.748377
20   The prince amused the princess and, as a result,  0.374071  0.625929
21              Robert amused Sarah and, as a result,  0.432668  0.567332
22  Mr. Taylor amused Mrs. Williams and, as a result,  0.169870  0.830130
23                Paul amused Emily and, as a result,  0.258811  0.741189

In [355]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_3m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_3m,'she'))

P('subj-pron'|subj=male) =  0.43227816248933476
P('non-subj-pron'|subj=male) =  0.5677218278869987

In [356]:
c2_average_subj_male_subj_pron['amused'] = compute_average(IC1_connective2_3m,'he')
c2_average_subj_male_obj_pron['amused'] = compute_average(IC1_connective2_3m,'she')

### verb: "annoyed"

In [357]:
IC1_connective2_4 = pd.read_csv("../results/IC1/connective2/4.csv")
IC1_connective2_4.head()

                                          stimulus        he       she
0   Miss Smith annoyed Mr. Smith and, as a result,  0.359410  0.640590
1      The woman annoyed the man and, as a result,  0.612444  0.387556
2              Mary annoyed John and, as a result,  0.264071  0.735929
3              Alice annoyed Bob and, as a result,  0.462034  0.537965
4  The actress annoyed the actor and, as a result,  0.689216  0.310784

In [358]:
# female subject
IC1_connective2_4f = IC1_connective2_4[0:12]
IC1_connective2_4f = IC1_connective2_4f[["stimulus","she","he"]]
# male subject
IC1_connective2_4m = IC1_connective2_4[12:24]

#### female subject

In [359]:
IC1_connective2_4f

                                             stimulus       she        he
0      Miss Smith annoyed Mr. Smith and, as a result,  0.640590  0.359410
1         The woman annoyed the man and, as a result,  0.387556  0.612444
2                 Mary annoyed John and, as a result,  0.735929  0.264071
3                 Alice annoyed Bob and, as a result,  0.537965  0.462034
4     The actress annoyed the actor and, as a result,  0.310784  0.689216
5          The girl annoyed the boy and, as a result,  0.322147  0.677853
6   Mrs. Taylor annoyed Mr. Williams and, as a res...  0.723429  0.276571
7                Emma annoyed David and, as a result,  0.722338  0.277662
8   The princess annoyed the prince and, as a result,  0.485688  0.514312
9              Sarah annoyed Robert and, as a result,  0.566631  0.433369
10  Mrs. Williams annoyed Mr. Taylor and, as a res...  0.714473  0.285527
11               Emily annoyed Paul and, as a result,  0.747864  0.252136

In [360]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_4f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_4f,'he'))

P('subj-pron'|subj=female) =  0.5746162558595339
P('non-subj-pron'|subj=female) =  0.4253837565581004

In [361]:
c2_average_subj_female_subj_pron['annoyed'] = compute_average(IC1_connective2_4f,'she')
c2_average_subj_female_obj_pron['annoyed'] = compute_average(IC1_connective2_4f,'he')

#### male subject

In [362]:
IC1_connective1_4m

                                    stimulus        he       she
12      Mr. Smith annoyed Miss Smith because  0.535177  0.464823
13         The man annoyed the woman because  0.686465  0.313535
14                John annoyed Alice because  0.372501  0.627499
15                  Bob annoyed John because  0.995160  0.004840
16     The actor annoyed the actress because  0.675418  0.324582
17          The boy annoyed the girl because  0.677365  0.322635
18   Mr. William annoyed Mrs. Taylor because  0.364147  0.635853
19                David annoyed Emma because  0.482571  0.517429
20   The prince annoyed the princess because  0.749942  0.250058
21              Robert annoyed Sarah because  0.528075  0.471925
22  Mr. Taylor annoyed Mrs. Williams because  0.176887  0.823113
23                Paul annoyed Emily because  0.515554  0.484446

In [363]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_4m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_4m,'she'))

P('subj-pron'|subj=male) =  0.4361775529881318
P('non-subj-pron'|subj=male) =  0.5638224463133762

In [364]:
c2_average_subj_male_subj_pron['annoyed'] = compute_average(IC1_connective2_4m,'he')
c2_average_subj_male_obj_pron['annoyed'] = compute_average(IC1_connective2_4m,'she')

### verb: "apologized"

In [365]:
IC1_connective2_5 = pd.read_csv("../results/IC1/connective2/5.csv")
IC1_connective2_5.head()

                                            stimulus        he       she
0  Miss Smith apologized to Mr. Smith and, as a r...  0.441238  0.558762
1  The woman apologized to the man and, as a result,  0.633447  0.366553
2          Mary apologized to John and, as a result,  0.496042  0.503958
3          Alice apologized to Bob and, as a result,  0.633708  0.366292
4  The actress apologized to the actor and, as a ...  0.841603  0.158397

In [366]:
# female subject
IC1_connective2_5f = IC1_connective2_5[0:12]
IC1_connective2_5f = IC1_connective2_5[["stimulus","she","he"]]
# male subject
IC1_connective2_5m = IC1_connective2_5[12:24]

#### female subject

In [367]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_5f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_5f,'he'))

P('subj-pron'|subj=female) =  0.4835716619854793
P('non-subj-pron'|subj=female) =  0.5164283402264118

In [368]:
c2_average_subj_female_subj_pron['apologized'] = compute_average(IC1_connective2_5f,'she')
c2_average_subj_female_obj_pron['apologized'] = compute_average(IC1_connective2_5f,'he')

#### male subject

In [369]:
IC1_connective2_5m

                                             stimulus        he       she
12  Mr. Smith apologized to Miss Smith and, as a r...  0.363876  0.636124
13  The man apologized to the woman and, as a result,  0.599830  0.400170
14         John apologized to Alice and, as a result,  0.512696  0.487304
15           Bob apologized to John and, as a result,  0.985992  0.014008
16  The actor apologized to the actress and, as a ...  0.540873  0.459127
17   The boy apologized to the girl and, as a result,  0.686194  0.313806
18  Mr. William apologized to Mrs. Taylor and, as ...  0.257654  0.742346
19         David apologized to Emma and, as a result,  0.357045  0.642955
20  The prince apologized to the princess and, as ...  0.407511  0.592489
21       Robert apologized to Sarah and, as a result,  0.320286  0.679714
22  Mr. Taylor apologized to Mrs. Williams and, as...  0.293849  0.706151
23         Paul apologized to Emily and, as a result,  0.388386  0.611614

In [370]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_5m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_5m,'she'))

P('subj-pron'|subj=male) =  0.4761827066540718
P('non-subj-pron'|subj=male) =  0.523817296527947

In [371]:
c2_average_subj_male_subj_pron['apologized'] = compute_average(IC1_connective2_5m,'he')
c2_average_subj_male_obj_pron['apologized'] = compute_average(IC1_connective2_5m,'she')

### verb: "bored"

In [372]:
IC1_connective2_6 = pd.read_csv("../results/IC1/connective2/6.csv")
IC1_connective2_6.head()

                                        stimulus        he       she
0   Miss Smith bored Mr. Smith and, as a result,  0.364651  0.635349
1      The woman bored the man and, as a result,  0.673173  0.326827
2              Mary bored John and, as a result,  0.362478  0.637522
3              Alice bored Bob and, as a result,  0.647670  0.352330
4  The actress bored the actor and, as a result,  0.865157  0.134843

In [373]:
# female subject
IC1_connective2_6f = IC1_connective2_6[0:12]
IC1_connective2_6f = IC1_connective2_6[["stimulus","she","he"]]
# male subject
IC1_connective2_6m = IC1_connective2_6[12:24]

#### female subject

In [374]:
IC1_connective2_6f

                                            stimulus       she        he
0       Miss Smith bored Mr. Smith and, as a result,  0.635349  0.364651
1          The woman bored the man and, as a result,  0.326827  0.673173
2                  Mary bored John and, as a result,  0.637522  0.362478
3                  Alice bored Bob and, as a result,  0.352330  0.647670
4      The actress bored the actor and, as a result,  0.134843  0.865157
5           The girl bored the boy and, as a result,  0.257143  0.742857
6   Mrs. Taylor bored Mr. Williams and, as a result,  0.663997  0.336003
7                 Emma bored David and, as a result,  0.643165  0.356835
8    The princess bored the prince and, as a result,  0.456004  0.543996
9               Sarah bored Robert and, as a result,  0.418605  0.581395
10  Mrs. Williams bored Mr. Taylor and, as a result,  0.676835  0.323165
11                Emily bored Paul and, as a result,  0.693274  0.306726
12      Mr. Smith bored Miss Smith and, as a result,  0.690368  0.309632
13         The man bored the woman and, as a result,  0.388692  0.611308
14                John bored Alice and, as a result,  0.672379  0.327621
15                  Bob bored John and, as a result,  0.009100  0.990900
16     The actor bored the actress and, as a result,  0.260254  0.739746
17          The boy bored the girl and, as a result,  0.381653  0.618347
18   Mr. William bored Mrs. Taylor and, as a result,  0.783349  0.216651
19                David bored Emma and, as a result,  0.683367  0.316633
20   The prince bored the princess and, as a result,  0.602386  0.397614
21              Robert bored Sarah and, as a result,  0.468402  0.531598
22  Mr. Taylor bored Mrs. Williams and, as a result,  0.743475  0.256525
23                Paul bored Emily and, as a result,  0.691448  0.308552

In [375]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_6f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_6f,'he'))

P('subj-pron'|subj=female) =  0.5112819302594289
P('non-subj-pron'|subj=female) =  0.48871806512276333

In [376]:
c2_average_subj_female_subj_pron['bored'] = compute_average(IC1_connective2_6f,'she')
c2_average_subj_female_obj_pron['bored'] = compute_average(IC1_connective2_6f,'he')

#### male subject

In [377]:
IC1_connective2_6m

                                            stimulus        he       she
12      Mr. Smith bored Miss Smith and, as a result,  0.309632  0.690368
13         The man bored the woman and, as a result,  0.611308  0.388692
14                John bored Alice and, as a result,  0.327621  0.672379
15                  Bob bored John and, as a result,  0.990900  0.009100
16     The actor bored the actress and, as a result,  0.739746  0.260254
17          The boy bored the girl and, as a result,  0.618347  0.381653
18   Mr. William bored Mrs. Taylor and, as a result,  0.216651  0.783349
19                David bored Emma and, as a result,  0.316633  0.683367
20   The prince bored the princess and, as a result,  0.397614  0.602386
21              Robert bored Sarah and, as a result,  0.531598  0.468402
22  Mr. Taylor bored Mrs. Williams and, as a result,  0.256525  0.743475
23                Paul bored Emily and, as a result,  0.308552  0.691448

In [378]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_6m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_6m,'she'))

P('subj-pron'|subj=male) =  0.46876053512096405
P('non-subj-pron'|subj=male) =  0.5312394705445816

In [379]:
c2_average_subj_male_subj_pron['bored'] = compute_average(IC1_connective2_6m,'he')
c2_average_subj_male_obj_pron['bored'] = compute_average(IC1_connective2_6m,'she')

### verb: "charmed"

In [380]:
IC1_connective2_7 = pd.read_csv("../results/IC1/connective2/7.csv")
IC1_connective2_7.head()

                                          stimulus        he       she
0   Miss Smith charmed Mr. Smith and, as a result,  0.441340  0.558660
1      The woman charmed the man and, as a result,  0.572644  0.427356
2              Mary charmed John and, as a result,  0.454820  0.545180
3              Alice charmed Bob and, as a result,  0.510592  0.489408
4  The actress charmed the actor and, as a result,  0.719341  0.280659

In [381]:
# female subject
IC1_connective2_7f = IC1_connective2_7[0:12]
IC1_connective2_7f = IC1_connective2_7f[["stimulus","she","he"]]
# male subject
IC1_connective2_7m = IC1_connective2_7[12:24]

#### female subject

In [382]:
IC1_connective2_7f

                                             stimulus       she        he
0      Miss Smith charmed Mr. Smith and, as a result,  0.558660  0.441340
1         The woman charmed the man and, as a result,  0.427356  0.572644
2                 Mary charmed John and, as a result,  0.545180  0.454820
3                 Alice charmed Bob and, as a result,  0.489408  0.510592
4     The actress charmed the actor and, as a result,  0.280659  0.719341
5          The girl charmed the boy and, as a result,  0.343848  0.656151
6   Mrs. Taylor charmed Mr. Williams and, as a res...  0.646294  0.353706
7                Emma charmed David and, as a result,  0.719206  0.280794
8   The princess charmed the prince and, as a result,  0.389362  0.610638
9              Sarah charmed Robert and, as a result,  0.471538  0.528462
10  Mrs. Williams charmed Mr. Taylor and, as a res...  0.657414  0.342586
11               Emily charmed Paul and, as a result,  0.709035  0.290965

In [383]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_7f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_7f,'he'))

P('subj-pron'|subj=female) =  0.5198298816879591
P('non-subj-pron'|subj=female) =  0.4801701108614604

In [384]:
c2_average_subj_female_subj_pron['charmed'] = compute_average(IC1_connective2_7f,'she')
c2_average_subj_female_obj_pron['charmed'] = compute_average(IC1_connective2_7f,'he')

#### male subject

In [385]:
IC1_connective2_7m

                                             stimulus        he       she
12     Mr. Smith charmed Miss Smith and, as a result,  0.299213  0.700787
13        The man charmed the woman and, as a result,  0.512318  0.487682
14               John charmed Alice and, as a result,  0.385217  0.614783
15                 Bob charmed John and, as a result,  0.971593  0.028407
16    The actor charmed the actress and, as a result,  0.475655  0.524345
17         The boy charmed the girl and, as a result,  0.492363  0.507637
18  Mr. William charmed Mrs. Taylor and, as a result,  0.219899  0.780101
19               David charmed Emma and, as a result,  0.219390  0.780610
20  The prince charmed the princess and, as a result,  0.317927  0.682073
21             Robert charmed Sarah and, as a result,  0.317771  0.682229
22  Mr. Taylor charmed Mrs. Williams and, as a res...  0.204059  0.795941
23               Paul charmed Emily and, as a result,  0.273453  0.726547

In [386]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_7m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_7m,'she'))

P('subj-pron'|subj=male) =  0.39073830967148143
P('non-subj-pron'|subj=male) =  0.6092616987104217

In [387]:
c2_average_subj_male_subj_pron['charmed'] = compute_average(IC1_connective2_7m,'he')
c2_average_subj_male_obj_pron['charmed'] = compute_average(IC1_connective2_7m,'she')

#### verb: "offended"

In [388]:
IC1_connective2_8 = pd.read_csv("../results/IC1/connective2/8.csv")
IC1_connective2_8.head()

                                           stimulus        he       she
0   Miss Smith offended Mr. Smith and, as a result,  0.338559  0.661441
1      The woman offended the man and, as a result,  0.720875  0.279125
2              Mary offended John and, as a result,  0.233780  0.766220
3              Alice offended Bob and, as a result,  0.431888  0.568112
4  The actress offended the actor and, as a result,  0.737324  0.262676

In [389]:
# female subject
IC1_connective2_8f = IC1_connective2_8[0:12]
IC1_connective2_8f = IC1_connective2_8f[["stimulus","she","he"]]
# male subject
IC1_connective2_8m = IC1_connective2_8[12:24]

#### female subject

In [390]:
IC1_connective2_8f

                                             stimulus       she        he
0     Miss Smith offended Mr. Smith and, as a result,  0.661441  0.338559
1        The woman offended the man and, as a result,  0.279125  0.720875
2                Mary offended John and, as a result,  0.766220  0.233780
3                Alice offended Bob and, as a result,  0.568112  0.431888
4    The actress offended the actor and, as a result,  0.262676  0.737324
5         The girl offended the boy and, as a result,  0.188121  0.811879
6   Mrs. Taylor offended Mr. Williams and, as a re...  0.762577  0.237423
7               Emma offended David and, as a result,  0.722213  0.277787
8   The princess offended the prince and, as a res...  0.426313  0.573687
9             Sarah offended Robert and, as a result,  0.532427  0.467572
10  Mrs. Williams offended Mr. Taylor and, as a re...  0.719336  0.280664
11              Emily offended Paul and, as a result,  0.791253  0.208747

In [391]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_8f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_8f,'he'))

P('subj-pron'|subj=female) =  0.5566511638462543
P('non-subj-pron'|subj=female) =  0.44334884236256283

In [392]:
c2_average_subj_female_subj_pron['offended'] = compute_average(IC1_connective2_8f,'she')
c2_average_subj_female_obj_pron['offended'] = compute_average(IC1_connective2_8f,'he')

#### male subject

In [393]:
IC1_connective2_8m

                                             stimulus        he       she
12    Mr. Smith offended Miss Smith and, as a result,  0.269388  0.730612
13       The man offended the woman and, as a result,  0.780661  0.219339
14              John offended Alice and, as a result,  0.369415  0.630585
15                Bob offended John and, as a result,  0.991939  0.008061
16   The actor offended the actress and, as a result,  0.861051  0.138949
17        The boy offended the girl and, as a result,  0.661991  0.338009
18  Mr. William offended Mrs. Taylor and, as a res...  0.225790  0.774210
19              David offended Emma and, as a result,  0.252069  0.747931
20  The prince offended the princess and, as a res...  0.433750  0.566250
21            Robert offended Sarah and, as a result,  0.410366  0.589634
22  Mr. Taylor offended Mrs. Williams and, as a re...  0.151236  0.848764
23              Paul offended Emily and, as a result,  0.280498  0.719502

In [394]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_8m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_8m,'she'))

P('subj-pron'|subj=male) =  0.47401299451788265
P('non-subj-pron'|subj=male) =  0.5259869974882653

In [395]:
c2_average_subj_male_subj_pron['offended'] = compute_average(IC1_connective2_8m,'he')
c2_average_subj_male_obj_pron['offended'] = compute_average(IC1_connective2_8m,'she')

### verb: "confessed"

In [396]:
IC1_connective2_9 = pd.read_csv("../results/IC1/connective2/9.csv")
IC1_connective2_9.head()

                                            stimulus        he       she
0  Miss Smith confessed to Mr. Smith and, as a re...  0.336080  0.663920
1   The woman confessed to the man and, as a result,  0.612359  0.387641
2           Mary confessed to John and, as a result,  0.360845  0.639155
3           Alice confessed to Bob and, as a result,  0.480394  0.519606
4  The actress confessed to the actor and, as a r...  0.749786  0.250214

In [397]:
# female subject
IC1_connective2_9f = IC1_connective2_9[0:12]
IC1_connective2_9f = IC1_connective2_9f[["stimulus","she","he"]]
# male subject
IC1_connective2_9m = IC1_connective2_9[12:24]

#### female subject

In [398]:
IC1_connective2_9f

                                             stimulus       she        he
0   Miss Smith confessed to Mr. Smith and, as a re...  0.663920  0.336080
1    The woman confessed to the man and, as a result,  0.387641  0.612359
2            Mary confessed to John and, as a result,  0.639155  0.360845
3            Alice confessed to Bob and, as a result,  0.519606  0.480394
4   The actress confessed to the actor and, as a r...  0.250214  0.749786
5     The girl confessed to the boy and, as a result,  0.329768  0.670232
6   Mrs. Taylor confessed to Mr. Williams and, as ...  0.700379  0.299620
7           Emma confessed to David and, as a result,  0.742314  0.257686
8   The princess confessed to the prince and, as a...  0.436194  0.563806
9         Sarah confessed to Robert and, as a result,  0.581909  0.418091
10  Mrs. Williams confessed to Mr. Taylor and, as ...  0.694710  0.305290
11          Emily confessed to Paul and, as a result,  0.727788  0.272212

In [399]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_9f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_9f,'he'))

P('subj-pron'|subj=female) =  0.5561332429448763
P('non-subj-pron'|subj=female) =  0.4438667595386505

In [400]:
c2_average_subj_female_subj_pron['confessed'] = compute_average(IC1_connective2_9f,'she')
c2_average_subj_female_obj_pron['confessed'] = compute_average(IC1_connective2_9f,'he')

#### male subject

In [401]:
IC1_connective2_9m

                                             stimulus        he       she
12   Mr. Smith confessed Miss Smith and, as a result,  0.660638  0.339362
13      The man confessed the woman and, as a result,  0.877054  0.122946
14             John confessed Alice and, as a result,  0.345282  0.654718
15               Bob confessed John and, as a result,  0.967360  0.032640
16  The actor confessed the actress and, as a result,  0.877048  0.122952
17       The boy confessed the girl and, as a result,  0.913735  0.086265
18  Mr. William confessed Mrs. Taylor and, as a re...  0.408956  0.591044
19             David confessed Emma and, as a result,  0.290028  0.709972
20  The prince confessed the princess and, as a re...  0.660449  0.339551
21           Robert confessed Sarah and, as a result,  0.436622  0.563378
22  Mr. Taylor confessed Mrs. Williams and, as a r...  0.402623  0.597377
23             Paul confessed Emily and, as a result,  0.216288  0.783713

In [402]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_9m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_9m,'she'))

P('subj-pron'|subj=male) =  0.5880068962772688
P('non-subj-pron'|subj=male) =  0.4119931058958173

In [403]:
c2_average_subj_male_subj_pron['confessed'] = compute_average(IC1_connective2_9m,'he')
c2_average_subj_male_obj_pron['confessed'] = compute_average(IC1_connective2_9m,'she')

### verb: "deceived"

In [404]:
IC1_connective2_10 = pd.read_csv("../results/IC1/connective2/10.csv")
IC1_connective2_10.head()

                                           stimulus        he       she
0   Miss Smith deceived Mr. Smith and, as a result,  0.375808  0.624192
1      The woman deceived the man and, as a result,  0.687935  0.312065
2              Mary deceived John and, as a result,  0.371902  0.628098
3              Alice deceived Bob and, as a result,  0.546447  0.453553
4  The actress deceived the actor and, as a result,  0.752218  0.247782

In [405]:
# female subject
IC1_connective2_10f = IC1_connective2_10[0:12]
IC1_connective2_10f = IC1_connective2_10f[["stimulus","she","he"]]
# male subject
IC1_connective2_10m = IC1_connective2_10[12:24]

#### female subject

In [406]:
IC1_connective2_10f

                                             stimulus       she        he
0     Miss Smith deceived Mr. Smith and, as a result,  0.624192  0.375808
1        The woman deceived the man and, as a result,  0.312065  0.687935
2                Mary deceived John and, as a result,  0.628098  0.371902
3                Alice deceived Bob and, as a result,  0.453553  0.546447
4    The actress deceived the actor and, as a result,  0.247782  0.752218
5         The girl deceived the boy and, as a result,  0.213348  0.786652
6   Mrs. Taylor deceived Mr. Williams and, as a re...  0.712051  0.287949
7               Emma deceived David and, as a result,  0.582737  0.417263
8   The princess deceived the prince and, as a res...  0.378726  0.621274
9             Sarah deceived Robert and, as a result,  0.445000  0.555000
10  Mrs. Williams deceived Mr. Taylor and, as a re...  0.715742  0.284258
11              Emily deceived Paul and, as a result,  0.758517  0.241483

In [407]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_10f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_10f,'he'))

P('subj-pron'|subj=female) =  0.5059842976431052
P('non-subj-pron'|subj=female) =  0.4940156936645508

In [408]:
c2_average_subj_female_subj_pron['deceived'] = compute_average(IC1_connective2_10f,'she')
c2_average_subj_female_obj_pron['deceived'] = compute_average(IC1_connective2_10f,'he')

#### male subject

In [409]:
IC1_connective2_10m

                                             stimulus        he       she
12    Mr. Smith deceived Miss Smith and, as a result,  0.189327  0.810673
13       The man deceived the woman and, as a result,  0.450261  0.549739
14              John deceived Alice and, as a result,  0.225140  0.774860
15                Bob deceived John and, as a result,  0.991877  0.008123
16   The actor deceived the actress and, as a result,  0.428698  0.571302
17        The boy deceived the girl and, as a result,  0.415729  0.584271
18  Mr. William deceived Mrs. Taylor and, as a res...  0.140385  0.859615
19              David deceived Emma and, as a result,  0.209467  0.790533
20  The prince deceived the princess and, as a res...  0.218430  0.781570
21            Robert deceived Sarah and, as a result,  0.231836  0.768164
22  Mr. Taylor deceived Mrs. Williams and, as a re...  0.127640  0.872360
23              Paul deceived Emily and, as a result,  0.189583  0.810417

In [410]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_10m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_10m,'she'))

P('subj-pron'|subj=male) =  0.3181978203356266
P('non-subj-pron'|subj=male) =  0.6818021884343276

In [411]:
c2_average_subj_male_subj_pron['deceived'] = compute_average(IC1_connective2_10m,'he')
c2_average_subj_male_obj_pron['deceived'] = compute_average(IC1_connective2_10m,'she')

### verb: "disappointed"

In [412]:
IC1_connective2_11 = pd.read_csv("../results/IC1/connective2/11.csv")
IC1_connective2_11.head()

                                            stimulus        he       she
0  Miss Smith disappointed Mr. Smith and, as a re...  0.426765  0.573235
1   The woman disappointed the man and, as a result,  0.773022  0.226978
2           Mary disappointed John and, as a result,  0.358568  0.641432
3           Alice disappointed Bob and, as a result,  0.643038  0.356962
4  The actress disappointed the actor and, as a r...  0.896046  0.103954

In [413]:
# female subject
IC1_connective2_11f = IC1_connective2_11[0:12]
IC1_connective2_11f = IC1_connective2_11f[["stimulus","she","he"]]
# male subject
IC1_connective2_11m = IC1_connective2_11[12:24]

#### female subject

In [414]:
IC1_connective2_11f

                                             stimulus       she        he
0   Miss Smith disappointed Mr. Smith and, as a re...  0.573235  0.426765
1    The woman disappointed the man and, as a result,  0.226978  0.773022
2            Mary disappointed John and, as a result,  0.641432  0.358568
3            Alice disappointed Bob and, as a result,  0.356962  0.643038
4   The actress disappointed the actor and, as a r...  0.103954  0.896046
5     The girl disappointed the boy and, as a result,  0.149073  0.850927
6   Mrs. Taylor disappointed Mr. Williams and, as ...  0.614148  0.385852
7           Emma disappointed David and, as a result,  0.679569  0.320430
8   The princess disappointed the prince and, as a...  0.282977  0.717023
9         Sarah disappointed Robert and, as a result,  0.382923  0.617077
10  Mrs. Williams disappointed Mr. Taylor and, as ...  0.633571  0.366429
11          Emily disappointed Paul and, as a result,  0.684580  0.315420

In [415]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_11f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_11f,'he'))

P('subj-pron'|subj=female) =  0.44411686186989147
P('non-subj-pron'|subj=female) =  0.5558831244707108

In [416]:
c2_average_subj_female_subj_pron['disappointed'] = compute_average(IC1_connective2_11f,'she')
c2_average_subj_female_obj_pron['disappointed'] = compute_average(IC1_connective2_11f,'he')

#### male subject

In [417]:
IC1_connective2_11m

                                             stimulus        he       she
12  Mr. Smith disappointed Miss Smith and, as a re...  0.388891  0.611109
13   The man disappointed the woman and, as a result,  0.857022  0.142978
14          John disappointed Alice and, as a result,  0.362541  0.637458
15            Bob disappointed John and, as a result,  0.993104  0.006896
16  The actor disappointed the actress and, as a r...  0.844674  0.155326
17    The boy disappointed the girl and, as a result,  0.849751  0.150249
18  Mr. William disappointed Mrs. Taylor and, as a...  0.278629  0.721371
19          David disappointed Emma and, as a result,  0.369832  0.630168
20  The prince disappointed the princess and, as a...  0.567835  0.432165
21        Robert disappointed Sarah and, as a result,  0.440008  0.559992
22  Mr. Taylor disappointed Mrs. Williams and, as ...  0.243035  0.756965
23          Paul disappointed Emily and, as a result,  0.323377  0.676623

In [418]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_11m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_11m,'she'))

P('subj-pron'|subj=male) =  0.543224980433782
P('non-subj-pron'|subj=male) =  0.45677501036940765

In [419]:
c2_average_subj_male_subj_pron['disappointed'] = compute_average(IC1_connective2_11m,'he')
c2_average_subj_male_obj_pron['disappointed'] = compute_average(IC1_connective2_11m,'she')

### verb: "exasperated"

In [420]:
IC1_connective2_12 = pd.read_csv("../results/IC1/connective2/12.csv")
IC1_connective2_12.head()

                                            stimulus        he       she
0  Miss Smith exasperated Mr. Smith and, as a res...  0.385894  0.614106
1    The woman exasperated the man and, as a result,  0.743512  0.256488
2            Mary exasperated John and, as a result,  0.305163  0.694837
3            Alice exasperated Bob and, as a result,  0.563523  0.436477
4  The actress exasperated the actor and, as a re...  0.726355  0.273645

In [421]:
# female subject
IC1_connective2_12f = IC1_connective2_12[0:12]
IC1_connective2_12f = IC1_connective2_12f[["stimulus","she","he"]]
# male subject
IC1_connective2_12m = IC1_connective2_12[12:24]

#### female subject

In [422]:
IC1_connective2_12f

                                             stimulus       she        he
0   Miss Smith exasperated Mr. Smith and, as a res...  0.614106  0.385894
1     The woman exasperated the man and, as a result,  0.256488  0.743512
2             Mary exasperated John and, as a result,  0.694837  0.305163
3             Alice exasperated Bob and, as a result,  0.436477  0.563523
4   The actress exasperated the actor and, as a re...  0.273645  0.726355
5      The girl exasperated the boy and, as a result,  0.201597  0.798403
6   Mrs. Taylor exasperated Mr. Williams and, as a...  0.688666  0.311334
7            Emma exasperated David and, as a result,  0.684258  0.315742
8   The princess exasperated the prince and, as a ...  0.332464  0.667536
9          Sarah exasperated Robert and, as a result,  0.539096  0.460904
10  Mrs. Williams exasperated Mr. Taylor and, as a...  0.665625  0.334375
11           Emily exasperated Paul and, as a result,  0.678055  0.321945

In [423]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_12f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_12f,'he'))

P('subj-pron'|subj=female) =  0.5054428055882454
P('non-subj-pron'|subj=female) =  0.4945572018623352

In [424]:
c2_average_subj_female_subj_pron['exasperated'] = compute_average(IC1_connective2_12f,'she')
c2_average_subj_female_obj_pron['exasperated'] = compute_average(IC1_connective2_12f,'he')

#### male subject

In [425]:
IC1_connective2_12m

                                             stimulus        he       she
12  Mr. Smith exasperated Miss Smith and, as a res...  0.241966  0.758034
13    The man exasperated the woman and, as a result,  0.576337  0.423663
14           John exasperated Alice and, as a result,  0.270961  0.729039
15             Bob exasperated John and, as a result,  0.991123  0.008877
16  The actor exasperated the actress and, as a re...  0.689021  0.310979
17     The boy exasperated the girl and, as a result,  0.512474  0.487526
18  Mr. William exasperated Mrs. Taylor and, as a ...  0.147651  0.852349
19           David exasperated Emma and, as a result,  0.176883  0.823117
20  The prince exasperated the princess and, as a ...  0.404027  0.595973
21         Robert exasperated Sarah and, as a result,  0.251351  0.748649
22  Mr. Taylor exasperated Mrs. Williams and, as a...  0.153428  0.846572
23           Paul exasperated Emily and, as a result,  0.218893  0.781107

In [426]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_12m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_12m,'she'))

P('subj-pron'|subj=male) =  0.38617618133624393
P('non-subj-pron'|subj=male) =  0.6138238224666566

In [427]:
c2_average_subj_male_subj_pron['exasperated'] = compute_average(IC1_connective2_12m,'he')
c2_average_subj_male_obj_pron['exasperated'] = compute_average(IC1_connective2_12m,'she')

### verb: "fascinated"

In [428]:
IC1_connective2_13 = pd.read_csv("../results/IC1/connective2/13.csv")
IC1_connective2_13.head()

                                            stimulus        he       she
0  Miss Smith fascinated Mr. Smith and, as a result,  0.339512  0.660488
1     The woman fascinated the man and, as a result,  0.503875  0.496125
2             Mary fascinated John and, as a result,  0.262565  0.737435
3             Alice fascinated Bob and, as a result,  0.388551  0.611449
4  The actress fascinated the actor and, as a res...  0.606921  0.393079

In [429]:
# female subject
IC1_connective2_13f = IC1_connective2_13[0:12]
IC1_connective2_13f = IC1_connective2_13f[["stimulus","she","he"]]
# male subject
IC1_connective2_13m = IC1_connective2_13[12:24]

#### female subject

In [430]:
IC1_connective2_13f

                                             stimulus       she        he
0   Miss Smith fascinated Mr. Smith and, as a result,  0.660488  0.339512
1      The woman fascinated the man and, as a result,  0.496125  0.503875
2              Mary fascinated John and, as a result,  0.737435  0.262565
3              Alice fascinated Bob and, as a result,  0.611449  0.388551
4   The actress fascinated the actor and, as a res...  0.393079  0.606921
5       The girl fascinated the boy and, as a result,  0.325758  0.674242
6   Mrs. Taylor fascinated Mr. Williams and, as a ...  0.703013  0.296986
7             Emma fascinated David and, as a result,  0.821568  0.178432
8   The princess fascinated the prince and, as a r...  0.444065  0.555935
9           Sarah fascinated Robert and, as a result,  0.721964  0.278036
10  Mrs. Williams fascinated Mr. Taylor and, as a ...  0.686792  0.313208
11            Emily fascinated Paul and, as a result,  0.835972  0.164027

In [431]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_13f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_13f,'he'))

P('subj-pron'|subj=female) =  0.6198091258605322
P('non-subj-pron'|subj=female) =  0.3801908642053604

In [432]:
c2_average_subj_female_subj_pron['fascinated'] = compute_average(IC1_connective2_13f,'she')
c2_average_subj_female_obj_pron['fascinated'] = compute_average(IC1_connective2_13f,'he')

#### male subject

In [433]:
IC1_connective2_13m

                                             stimulus        he       she
12  Mr. Smith fascinated Miss Smith and, as a result,  0.294756  0.705244
13     The man fascinated the woman and, as a result,  0.641444  0.358556
14            John fascinated Alice and, as a result,  0.534970  0.465030
15              Bob fascinated John and, as a result,  0.991682  0.008318
16  The actor fascinated the actress and, as a res...  0.817839  0.182161
17      The boy fascinated the girl and, as a result,  0.668000  0.332000
18  Mr. William fascinated Mrs. Taylor and, as a r...  0.207661  0.792339
19            David fascinated Emma and, as a result,  0.294109  0.705891
20  The prince fascinated the princess and, as a r...  0.417385  0.582615
21          Robert fascinated Sarah and, as a result,  0.750947  0.249053
22  Mr. Taylor fascinated Mrs. Williams and, as a ...  0.248054  0.751945
23            Paul fascinated Emily and, as a result,  0.430184  0.569816

In [434]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_13m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_13m,'she'))

P('subj-pron'|subj=male) =  0.5247525945305824
P('non-subj-pron'|subj=male) =  0.4752474061679095

In [435]:
c2_average_subj_male_subj_pron['fascinated'] = compute_average(IC1_connective1_13m,'he')
c2_average_subj_male_obj_pron['fascinated'] = compute_average(IC1_connective1_13m,'she')

### verb: "frightened"

In [436]:
IC1_connective2_14 = pd.read_csv("../results/IC1/connective2/14.csv")
IC1_connective2_14.head()

                                            stimulus        he       she
0  Miss Smith frightened Mr. Smith and, as a result,  0.493272  0.506728
1     The woman frightened the man and, as a result,  0.743393  0.256607
2             Mary frightened John and, as a result,  0.326153  0.673847
3             Alice frightened Bob and, as a result,  0.630034  0.369966
4  The actress frightened the actor and, as a res...  0.718134  0.281866

In [437]:
# female subject
IC1_connective2_14f = IC1_connective2_14[0:12]
IC1_connective2_14f = IC1_connective2_14f[["stimulus","she","he"]]
# male subject
IC1_connective2_14m = IC1_connective2_14[12:24]

#### female subject

In [438]:
IC1_connective2_14f

                                             stimulus       she        he
0   Miss Smith frightened Mr. Smith and, as a result,  0.506728  0.493272
1      The woman frightened the man and, as a result,  0.256607  0.743393
2              Mary frightened John and, as a result,  0.673847  0.326153
3              Alice frightened Bob and, as a result,  0.369966  0.630034
4   The actress frightened the actor and, as a res...  0.281866  0.718134
5       The girl frightened the boy and, as a result,  0.168199  0.831801
6   Mrs. Taylor frightened Mr. Williams and, as a ...  0.659283  0.340717
7             Emma frightened David and, as a result,  0.581297  0.418703
8   The princess frightened the prince and, as a r...  0.307190  0.692810
9           Sarah frightened Robert and, as a result,  0.419521  0.580479
10  Mrs. Williams frightened Mr. Taylor and, as a ...  0.635686  0.364314
11            Emily frightened Paul and, as a result,  0.584491  0.415509

In [439]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_14f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_14f,'he'))

P('subj-pron'|subj=female) =  0.45372338220477104
P('non-subj-pron'|subj=female) =  0.5462766240040461

In [440]:
c2_average_subj_female_subj_pron['frightened'] = compute_average(IC1_connective2_14f,'she')
c2_average_subj_female_obj_pron['frightened'] = compute_average(IC1_connective2_14f,'he')

#### male subject

In [441]:
IC1_connective2_14m

                                             stimulus        he       she
12  Mr. Smith frightened Miss Smith and, as a result,  0.326620  0.673380
13     The man frightened the woman and, as a result,  0.697903  0.302097
14            John frightened Alice and, as a result,  0.326190  0.673810
15              Bob frightened John and, as a result,  0.988931  0.011069
16  The actor frightened the actress and, as a res...  0.759482  0.240518
17      The boy frightened the girl and, as a result,  0.675539  0.324461
18  Mr. William frightened Mrs. Taylor and, as a r...  0.196044  0.803956
19            David frightened Emma and, as a result,  0.276523  0.723477
20  The prince frightened the princess and, as a r...  0.462193  0.537807
21          Robert frightened Sarah and, as a result,  0.367677  0.632323
22  Mr. Taylor frightened Mrs. Williams and, as a ...  0.223081  0.776919
23            Paul frightened Emily and, as a result,  0.232547  0.767453

In [442]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_14m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_14m,'she'))

P('subj-pron'|subj=male) =  0.46106069535017014
P('non-subj-pron'|subj=male) =  0.5389393218792975

In [443]:
c2_average_subj_male_subj_pron['frightened'] = compute_average(IC1_connective2_14m,'he')
c2_average_subj_male_obj_pron['frightened'] = compute_average(IC1_connective2_14m,'she')

### verb: "humiliated"

In [444]:
IC1_connective2_15 = pd.read_csv("../results/IC1/connective2/15.csv")
IC1_connective2_15.head()

                                            stimulus        he       she
0  Miss Smith humiliated Mr. Smith and, as a result,  0.341696  0.658304
1     The woman humiliated the man and, as a result,  0.685647  0.314353
2             Mary humiliated John and, as a result,  0.426860  0.573139
3             Alice humiliated Bob and, as a result,  0.695611  0.304389
4  The actress humiliated the actor and, as a res...  0.810706  0.189294

In [445]:
# female subject
IC1_connective2_15f = IC1_connective2_15[0:12]
IC1_connective2_15f = IC1_connective2_15f[["stimulus","she","he"]]
# male subject
IC1_connective2_15m = IC1_connective2_15[12:24]

#### female subject

In [446]:
IC1_connective2_15f

                                             stimulus       she        he
0   Miss Smith humiliated Mr. Smith and, as a result,  0.658304  0.341696
1      The woman humiliated the man and, as a result,  0.314353  0.685647
2              Mary humiliated John and, as a result,  0.573139  0.426860
3              Alice humiliated Bob and, as a result,  0.304389  0.695611
4   The actress humiliated the actor and, as a res...  0.189294  0.810706
5       The girl humiliated the boy and, as a result,  0.290666  0.709334
6   Mrs. Taylor humiliated Mr. Williams and, as a ...  0.663765  0.336235
7             Emma humiliated David and, as a result,  0.581881  0.418119
8   The princess humiliated the prince and, as a r...  0.394936  0.605064
9           Sarah humiliated Robert and, as a result,  0.326014  0.673986
10  Mrs. Williams humiliated Mr. Taylor and, as a ...  0.714685  0.285315
11            Emily humiliated Paul and, as a result,  0.580361  0.419639

In [447]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_15f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_15f,'he'))

P('subj-pron'|subj=female) =  0.4659821999569734
P('non-subj-pron'|subj=female) =  0.5340178037683169

In [448]:
c2_average_subj_female_subj_pron['humiliated'] = compute_average(IC1_connective2_15f,'she')
c2_average_subj_female_obj_pron['humiliated'] = compute_average(IC1_connective2_15f,'he')

#### male subject

In [449]:
IC1_connective2_15m

                                             stimulus        he       she
12  Mr. Smith humiliated Miss Smith and, as a result,  0.320670  0.679330
13     The man humiliated the woman and, as a result,  0.879105  0.120895
14            John humiliated Alice and, as a result,  0.352475  0.647525
15              Bob humiliated John and, as a result,  0.992962  0.007038
16  The actor humiliated the actress and, as a res...  0.826493  0.173507
17      The boy humiliated the girl and, as a result,  0.810757  0.189243
18  Mr. William humiliated Mrs. Taylor and, as a r...  0.213060  0.786940
19            David humiliated Emma and, as a result,  0.261748  0.738252
20  The prince humiliated the princess and, as a r...  0.372233  0.627767
21          Robert humiliated Sarah and, as a result,  0.504185  0.495815
22  Mr. Taylor humiliated Mrs. Williams and, as a ...  0.148760  0.851240
23            Paul humiliated Emily and, as a result,  0.219357  0.780643

In [450]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_15m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_15m,'she'))

P('subj-pron'|subj=male) =  0.4918171229461829
P('non-subj-pron'|subj=male) =  0.5081828813223789

In [451]:
c2_average_subj_male_subj_pron['humiliated'] = compute_average(IC1_connective2_15m,'he')
c2_average_subj_male_obj_pron['humiliated'] = compute_average(IC1_connective2_15m,'she')

### verb: "infuriated"

In [452]:
IC1_connective2_16 = pd.read_csv("../results/IC1/connective2/16.csv")
IC1_connective2_16.head()

                                            stimulus        he       she
0  Miss Smith infuriated Mr. Smith and, as a result,  0.368022  0.631978
1     The woman infuriated the man and, as a result,  0.732240  0.267760
2             Mary infuriated John and, as a result,  0.266278  0.733722
3             Alice infuriated Bob and, as a result,  0.577859  0.422141
4  The actress infuriated the actor and, as a res...  0.728678  0.271322

In [453]:
# female subject
IC1_connective2_16f = IC1_connective2_16[0:12]
IC1_connective2_16f = IC1_connective2_16f[["stimulus","she","he"]]
# male subject
IC1_connective2_16m = IC1_connective2_16[12:24]

#### female subject

In [454]:
IC1_connective2_16f

                                             stimulus       she        he
0   Miss Smith infuriated Mr. Smith and, as a result,  0.631978  0.368022
1      The woman infuriated the man and, as a result,  0.267760  0.732240
2              Mary infuriated John and, as a result,  0.733722  0.266278
3              Alice infuriated Bob and, as a result,  0.422141  0.577859
4   The actress infuriated the actor and, as a res...  0.271322  0.728678
5       The girl infuriated the boy and, as a result,  0.197788  0.802212
6   Mrs. Taylor infuriated Mr. Williams and, as a ...  0.716855  0.283145
7             Emma infuriated David and, as a result,  0.696389  0.303611
8   The princess infuriated the prince and, as a r...  0.356518  0.643482
9           Sarah infuriated Robert and, as a result,  0.539236  0.460764
10  Mrs. Williams infuriated Mr. Taylor and, as a ...  0.703769  0.296231
11            Emily infuriated Paul and, as a result,  0.705040  0.294960

In [455]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_16f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_16f,'he'))

P('subj-pron'|subj=female) =  0.5202097694079081
P('non-subj-pron'|subj=female) =  0.47979022314151126

In [456]:
c2_average_subj_female_subj_pron['infuriated'] = compute_average(IC1_connective2_16f,'she')
c2_average_subj_female_obj_pron['infuriated'] = compute_average(IC1_connective2_16f,'he')

#### male subject

In [457]:
IC1_connective2_16m

                                             stimulus        he       she
12  Mr. Smith infuriated Miss Smith and, as a result,  0.206370  0.793630
13     The man infuriated the woman and, as a result,  0.579700  0.420300
14            John infuriated Alice and, as a result,  0.197081  0.802919
15              Bob infuriated John and, as a result,  0.991461  0.008539
16  The actor infuriated the actress and, as a res...  0.726125  0.273875
17      The boy infuriated the girl and, as a result,  0.474747  0.525253
18  Mr. William infuriated Mrs. Taylor and, as a r...  0.112234  0.887766
19            David infuriated Emma and, as a result,  0.143736  0.856264
20  The prince infuriated the princess and, as a r...  0.341932  0.658068
21          Robert infuriated Sarah and, as a result,  0.229811  0.770189
22  Mr. Taylor infuriated Mrs. Williams and, as a ...  0.106172  0.893828
23            Paul infuriated Emily and, as a result,  0.165226  0.834774

In [458]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_16m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_16m,'she'))

P('subj-pron'|subj=male) =  0.35621633008122444
P('non-subj-pron'|subj=male) =  0.6437836692202836

In [459]:
c2_average_subj_male_subj_pron['infuriated'] = compute_average(IC1_connective2_16m,'he')
c2_average_subj_male_obj_pron['infuriated'] = compute_average(IC1_connective2_16m,'she')

### verb: "inspires"

In [460]:
IC1_connective2_17 = pd.read_csv("../results/IC1/connective2/17.csv")
IC1_connective2_17.head()

                                           stimulus        he       she
0   Miss Smith inspires Mr. Smith and, as a result,  0.594084  0.405916
1      The woman inspires the man and, as a result,  0.826911  0.173089
2              Mary inspires John and, as a result,  0.442932  0.557068
3              Alice inspires Bob and, as a result,  0.714211  0.285790
4  The actress inspires the actor and, as a result,  0.835276  0.164724

In [461]:
# female subject
IC1_connective2_17f = IC1_connective2_17[0:12]
IC1_connective2_17f = IC1_connective2_17f[["stimulus","she","he"]]
# male subject
IC1_connective2_17m = IC1_connective2_17[12:24]

#### female subject

In [462]:
IC1_connective2_17f

                                             stimulus       she        he
0     Miss Smith inspires Mr. Smith and, as a result,  0.405916  0.594084
1        The woman inspires the man and, as a result,  0.173089  0.826911
2                Mary inspires John and, as a result,  0.557068  0.442932
3                Alice inspires Bob and, as a result,  0.285790  0.714211
4    The actress inspires the actor and, as a result,  0.164724  0.835276
5         The girl inspires the boy and, as a result,  0.075174  0.924826
6   Mrs. Taylor inspires Mr. Williams and, as a re...  0.582663  0.417337
7               Emma inspires David and, as a result,  0.640917  0.359083
8   The princess inspires the prince and, as a res...  0.169170  0.830830
9             Sarah inspires Robert and, as a result,  0.427492  0.572508
10  Mrs. Williams inspires Mr. Taylor and, as a re...  0.617786  0.382214
11              Emily inspires Paul and, as a result,  0.612796  0.387204

In [463]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_17f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_17f,'he'))

P('subj-pron'|subj=female) =  0.39271530074377853
P('non-subj-pron'|subj=female) =  0.6072846899429957

In [464]:
c2_average_subj_female_subj_pron['inspires'] = compute_average(IC1_connective2_17f,'she')
c2_average_subj_female_obj_pron['inspires'] = compute_average(IC1_connective2_17f,'he')

#### male subject

In [465]:
IC1_connective2_17m

                                             stimulus        he       she
12    Mr. Smith inspires Miss Smith and, as a result,  0.113872  0.886128
13       The man inspires the woman and, as a result,  0.275338  0.724662
14              John inspires Alice and, as a result,  0.243498  0.756502
15                Bob inspires John and, as a result,  0.979596  0.020404
16   The actor inspires the actress and, as a result,  0.513603  0.486397
17        The boy inspires the girl and, as a result,  0.245010  0.754990
18  Mr. William inspires Mrs. Taylor and, as a res...  0.053931  0.946069
19              David inspires Emma and, as a result,  0.101889  0.898111
20  The prince inspires the princess and, as a res...  0.179789  0.820211
21            Robert inspires Sarah and, as a result,  0.146103  0.853897
22  Mr. Taylor inspires Mrs. Williams and, as a re...  0.054723  0.945278
23              Paul inspires Emily and, as a result,  0.115998  0.884002

In [466]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_17m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_17m,'she'))

P('subj-pron'|subj=male) =  0.2519458582003911
P('non-subj-pron'|subj=male) =  0.7480541430413723

In [467]:
c2_average_subj_male_subj_pron['inspires'] = compute_average(IC1_connective2_17m,'he')
c2_average_subj_male_obj_pron['inspires'] = compute_average(IC1_connective2_17m,'she')

### verb: "intimidates"

In [468]:
IC1_connective2_18 = pd.read_csv("../results/IC1/connective2/18.csv")
IC1_connective2_18.head()

                                            stimulus        he       she
0  Miss Smith intimidates Mr. Smith and, as a res...  0.461042  0.538958
1    The woman intimidates the man and, as a result,  0.513709  0.486291
2            Mary intimidates John and, as a result,  0.364995  0.635005
3            Alice intimidates Bob and, as a result,  0.541349  0.458651
4  The actress intimidates the actor and, as a re...  0.671614  0.328386

In [469]:
# female subject
IC1_connective2_18f = IC1_connective2_18[0:12]
IC1_connective2_18f = IC1_connective2_18f[["stimulus","she","he"]]
# male subject
IC1_connective2_18m = IC1_connective2_18[12:24]

#### female subject

In [470]:
IC1_connective2_18f

                                             stimulus       she        he
0   Miss Smith intimidates Mr. Smith and, as a res...  0.538958  0.461042
1     The woman intimidates the man and, as a result,  0.486291  0.513709
2             Mary intimidates John and, as a result,  0.635005  0.364995
3             Alice intimidates Bob and, as a result,  0.458651  0.541349
4   The actress intimidates the actor and, as a re...  0.328386  0.671614
5      The girl intimidates the boy and, as a result,  0.336461  0.663539
6   Mrs. Taylor intimidates Mr. Williams and, as a...  0.630389  0.369611
7            Emma intimidates David and, as a result,  0.755944  0.244056
8   The princess intimidates the prince and, as a ...  0.437926  0.562074
9          Sarah intimidates Robert and, as a result,  0.655559  0.344441
10  Mrs. Williams intimidates Mr. Taylor and, as a...  0.661872  0.338128
11           Emily intimidates Paul and, as a result,  0.763319  0.236681

In [471]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_18f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_18f,'he'))

P('subj-pron'|subj=female) =  0.557396742204825
P('non-subj-pron'|subj=female) =  0.4426032478610675

In [472]:
c2_average_subj_female_subj_pron['intimidates'] = compute_average(IC1_connective2_18f,'she')
c2_average_subj_female_obj_pron['intimidates'] = compute_average(IC1_connective2_18f,'he')

#### male subject

In [473]:
IC1_connective2_18m

                                             stimulus        he       she
12  Mr. Smith intimidates Miss Smith and, as a res...  0.114451  0.885549
13    The man intimidates the woman and, as a result,  0.318150  0.681850
14           John intimidates Alice and, as a result,  0.172628  0.827372
15             Bob intimidates John and, as a result,  0.972711  0.027289
16  The actor intimidates the actress and, as a re...  0.375886  0.624114
17     The boy intimidates the girl and, as a result,  0.261098  0.738902
18  Mr. William intimidates Mrs. Taylor and, as a ...  0.060182  0.939818
19           David intimidates Emma and, as a result,  0.099786  0.900214
20  The prince intimidates the princess and, as a ...  0.145662  0.854338
21         Robert intimidates Sarah and, as a result,  0.087747  0.912253
22  Mr. Taylor intimidates Mrs. Williams and, as a...  0.058277  0.941723
23           Paul intimidates Emily and, as a result,  0.114408  0.885592

In [474]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_18m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_18m,'she'))

P('subj-pron'|subj=male) =  0.23174890565375486
P('non-subj-pron'|subj=male) =  0.7682510941910247

In [475]:
c2_average_subj_male_subj_pron['intimidates'] = compute_average(IC1_connective2_18m,'he')
c2_average_subj_male_obj_pron['intimidates'] = compute_average(IC1_connective2_18m,'she')

### verb: "scares"

In [476]:
IC1_connective2_19 = pd.read_csv("../results/IC1/connective2/19.csv")
IC1_connective2_19.head()

                                         stimulus        he       she
0   Miss Smith scares Mr. Smith and, as a result,  0.488442  0.511558
1      The woman scares the man and, as a result,  0.643231  0.356769
2              Mary scares John and, as a result,  0.405090  0.594910
3              Alice scares Bob and, as a result,  0.641936  0.358064
4  The actress scares the actor and, as a result,  0.813758  0.186242

In [477]:
# female subject
IC1_connective2_19f = IC1_connective2_19[0:12]
IC1_connective2_19f = IC1_connective2_19f[["stimulus","she","he"]]
# male subject
IC1_connective2_19m = IC1_connective2_19[12:24]

#### female subject

In [478]:
IC1_connective2_19f

                                             stimulus       she        he
0       Miss Smith scares Mr. Smith and, as a result,  0.511558  0.488442
1          The woman scares the man and, as a result,  0.356769  0.643231
2                  Mary scares John and, as a result,  0.594910  0.405090
3                  Alice scares Bob and, as a result,  0.358064  0.641936
4      The actress scares the actor and, as a result,  0.186242  0.813758
5           The girl scares the boy and, as a result,  0.241344  0.758656
6   Mrs. Taylor scares Mr. Williams and, as a result,  0.615883  0.384117
7                 Emma scares David and, as a result,  0.556450  0.443550
8    The princess scares the prince and, as a result,  0.399590  0.600410
9               Sarah scares Robert and, as a result,  0.377641  0.622359
10  Mrs. Williams scares Mr. Taylor and, as a result,  0.652125  0.347875
11                Emily scares Paul and, as a result,  0.562428  0.437572

In [479]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_19f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_19f,'he'))

P('subj-pron'|subj=female) =  0.4510836489498615
P('non-subj-pron'|subj=female) =  0.548916349808375

In [480]:
c2_average_subj_female_subj_pron['scares'] = compute_average(IC1_connective2_19f,'she')
c2_average_subj_female_obj_pron['scares'] = compute_average(IC1_connective2_19f,'he')

#### male subject

In [481]:
IC1_connective2_19m

                                             stimulus        he       she
12      Mr. Smith scares Miss Smith and, as a result,  0.178304  0.821696
13         The man scares the woman and, as a result,  0.467044  0.532956
14                John scares Alice and, as a result,  0.293783  0.706217
15                  Bob scares John and, as a result,  0.985149  0.014851
16     The actor scares the actress and, as a result,  0.629992  0.370008
17          The boy scares the girl and, as a result,  0.528850  0.471150
18   Mr. William scares Mrs. Taylor and, as a result,  0.116082  0.883918
19                David scares Emma and, as a result,  0.183989  0.816011
20   The prince scares the princess and, as a result,  0.344829  0.655171
21              Robert scares Sarah and, as a result,  0.238436  0.761564
22  Mr. Taylor scares Mrs. Williams and, as a result,  0.113480  0.886520
23                Paul scares Emily and, as a result,  0.197412  0.802588

In [482]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_19m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_19m,'she'))

P('subj-pron'|subj=male) =  0.3564459414531787
P('non-subj-pron'|subj=male) =  0.6435540458187461

In [483]:
c2_average_subj_male_subj_pron['scares'] = compute_average(IC1_connective2_19m,'he')
c2_average_subj_male_obj_pron['scares'] = compute_average(IC1_connective2_19m,'she')

### verb: "surprised"

In [484]:
IC1_connective2_20 = pd.read_csv("../results/IC1/connective2/20.csv")
IC1_connective2_20.head()

                                            stimulus        he       she
0   Miss Smith surprised Mr. Smith and, as a result,  0.388069  0.611931
1      The woman surprised the man and, as a result,  0.700542  0.299458
2              Mary surprised John and, as a result,  0.364868  0.635132
3              Alice surprised Bob and, as a result,  0.498504  0.501496
4  The actress surprised the actor and, as a result,  0.809227  0.190773

In [485]:
# female subject
IC1_connective2_20f = IC1_connective2_20[0:12]
IC1_connective2_20f = IC1_connective2_20f[["stimulus","she","he"]]
# male subject
IC1_connective2_20m = IC1_connective2_20[12:24]

#### female subject

In [486]:
IC1_connective2_20f

                                             stimulus       she        he
0    Miss Smith surprised Mr. Smith and, as a result,  0.611931  0.388069
1       The woman surprised the man and, as a result,  0.299458  0.700542
2               Mary surprised John and, as a result,  0.635132  0.364868
3               Alice surprised Bob and, as a result,  0.501496  0.498504
4   The actress surprised the actor and, as a result,  0.190773  0.809227
5        The girl surprised the boy and, as a result,  0.177453  0.822547
6   Mrs. Taylor surprised Mr. Williams and, as a r...  0.617057  0.382943
7              Emma surprised David and, as a result,  0.660701  0.339299
8   The princess surprised the prince and, as a re...  0.350635  0.649365
9            Sarah surprised Robert and, as a result,  0.410810  0.589190
10  Mrs. Williams surprised Mr. Taylor and, as a r...  0.644108  0.355892
11             Emily surprised Paul and, as a result,  0.725066  0.274934

In [487]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_20f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_20f,'he'))

P('subj-pron'|subj=female) =  0.485384926199913
P('non-subj-pron'|subj=female) =  0.5146150638659795

In [488]:
c2_average_subj_female_subj_pron['surprised'] = compute_average(IC1_connective2_20f,'she')
c2_average_subj_female_obj_pron['surprised'] = compute_average(IC1_connective2_20f,'he')

#### male subject

In [489]:
IC1_connective2_20m

                                             stimulus        he       she
12   Mr. Smith surprised Miss Smith and, as a result,  0.255455  0.744545
13      The man surprised the woman and, as a result,  0.694508  0.305492
14             John surprised Alice and, as a result,  0.329778  0.670222
15               Bob surprised John and, as a result,  0.989626  0.010374
16  The actor surprised the actress and, as a result,  0.657307  0.342693
17       The boy surprised the girl and, as a result,  0.644720  0.355280
18  Mr. William surprised Mrs. Taylor and, as a re...  0.109381  0.890619
19             David surprised Emma and, as a result,  0.285330  0.714670
20  The prince surprised the princess and, as a re...  0.440207  0.559793
21           Robert surprised Sarah and, as a result,  0.319799  0.680201
22  Mr. Taylor surprised Mrs. Williams and, as a r...  0.119666  0.880334
23             Paul surprised Emily and, as a result,  0.264503  0.735497

In [490]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_20m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_20m,'she'))

P('subj-pron'|subj=male) =  0.42585661200185615
P('non-subj-pron'|subj=male) =  0.5741433838071922

In [491]:
c2_average_subj_male_subj_pron['surprised'] = compute_average(IC1_connective2_20m,'he')
c2_average_subj_male_obj_pron['surprised'] = compute_average(IC1_connective2_20m,'she')

## Summary of Results

In [492]:
c2_results_fsubj_subjpron = pd.DataFrame(c2_average_subj_female_subj_pron.items(),columns=['verb','subj_ref_female_subj'])
c2_results_fsubj_objpron = pd.DataFrame(c2_average_subj_female_obj_pron.items(),columns=['verb','obj_ref_female_subj'])
c2_results_fsubj = c2_results_fsubj_subjpron.merge(results_fsubj_objpron)
c2_results_fsubj

            verb  subj_ref_female_subj  obj_ref_female_subj
0     aggravated              0.404709             0.630973
1         amazed              0.417417             0.656752
2         amused              0.472455             0.606371
3        annoyed              0.574616             0.588977
4     apologized              0.483572             0.628667
5          bored              0.511282             0.518701
6        charmed              0.519830             0.621052
7       offended              0.556651             0.618029
8      confessed              0.556133             0.430885
9       deceived              0.505984             0.588423
10  disappointed              0.444117             0.515529
11   exasperated              0.505443             0.592531
12    fascinated              0.619809             0.576653
13    frightened              0.453723             0.563408
14    humiliated              0.465982             0.598776
15    infuriated              0.520210             0.623046
16      inspires              0.392715             0.641799
17   intimidates              0.557397             0.574519
18        scares              0.451084             0.586895
19     surprised              0.485385             0.627072

In [493]:
c2_results_msubj_subjpron = pd.DataFrame(c2_average_subj_male_subj_pron.items(),columns=['verb','subj_ref_male_subj'])
c2_results_msubj_objpron = pd.DataFrame(c2_average_subj_male_obj_pron.items(),columns=['verb','obj_ref_male_subj'])
c2_results_msubj = c2_results_msubj_subjpron.merge(c2_results_msubj_objpron)
c2_results_msubj

            verb  subj_ref_male_subj  obj_ref_male_subj
0     aggravated            0.453596           0.546404
1         amazed            0.363036           0.636964
2         amused            0.432278           0.567722
3        annoyed            0.436178           0.563822
4     apologized            0.476183           0.523817
5          bored            0.468761           0.531239
6        charmed            0.390738           0.609262
7       offended            0.474013           0.525987
8      confessed            0.588007           0.411993
9       deceived            0.318198           0.681802
10  disappointed            0.543225           0.456775
11   exasperated            0.386176           0.613824
12    fascinated            0.583863           0.416137
13    frightened            0.461061           0.538939
14    humiliated            0.491817           0.508183
15    infuriated            0.356216           0.643784
16      inspires            0.251946           0.748054
17   intimidates            0.231749           0.768251
18        scares            0.356446           0.643554
19     surprised            0.425857           0.574143

In [494]:
c2_results = c2_results_fsubj.merge(c2_results_msubj)
c2_results

,verb,subj_ref_female_subj,obj_ref_female_subj,subj_ref_male_subj,obj_ref_male_subj
0,aggravated,0.404709,0.630973,0.453596,0.546404
1,amazed,0.417417,0.656752,0.363036,0.636964
2,amused,0.472455,0.606371,0.432278,0.567722
3,annoyed,0.574616,0.588977,0.436178,0.563822
4,apologized,0.483572,0.628667,0.476183,0.523817
5,bored,0.511282,0.518701,0.468761,0.531239
6,charmed,0.519830,0.621052,0.390738,0.609262
7,offended,0.556651,0.618029,0.474013,0.525987
8,confessed,0.556133,0.430885,0.588007,0.411993
9,deceived,0.505984,0.588423,0.318198,0.681802
10,disappointed,0.444117,0.515529,0.543225,0.456775
11,exasperated,0.505443,0.592531,0.386176,0.613824
12,fascinated,0.619809,0.576653,0.583863,0.416137
13,frightened,0.453723,0.563408,0.461061,0.538939
14,humiliated,0.465982,0.598776,0.491817,0.508183
15,infuriated,0.520210,0.623046,0.356216,0.643784
16,inspires,0.392715,0.641799,0.251946,0.748054
17,intimidates,0.557397,0.574519,0.231749,0.768251
18,scares,0.451084,0.586895,0.356446,0.643554
19,surprised,0.485385,0.627072,0.425857,0.574143

In [495]:
print("P(subj_reference |subj=female)", compute_average(c2_results,'subj_ref_female_subj'))
print("P(obj_reference |subj=female)", compute_average(c2_results,'obj_ref_female_subj'))

P(subj_reference |subj=female) 0.4949257179202201
P(obj_reference |subj=female) 0.5894529223131636

In [496]:
print("P(subj_reference |subj=male)", compute_average(c2_results,'subj_ref_male_subj'))
print("P(obj_reference |subj=male)", compute_average(c2_results,'obj_ref_male_subj'))

P(subj_reference |subj=male) 0.42446710315222547
P(obj_reference |subj=male) 0.5755328979265565