In [1]:
import pandas as pd
import numpy as np

In [2]:
def compute_average(df,col):
    return np.mean(df[col].values)

## No-prompt

In [3]:
np_average_subj_female_subj_pron = {}
np_average_subj_female_obj_pron = {}
np_average_subj_male_subj_pron = {}
np_average_subj_male_obj_pron = {}

### Verb: "aggravated"

In [4]:
IC1_noprompt_1 = pd.read_csv("../results/transfoxl/IC1/no-prompt/1.csv")
IC1_noprompt_1.head()

                            stimulus        He       She
0   Miss Smith aggravated Mr. Smith.  0.313128  0.686872
1      The woman aggravated the man.  0.757151  0.242849
2              Mary aggravated John.  0.696037  0.303963
3              Alice aggravated Bob.  0.530292  0.469708
4  The actress aggravated the actor.  0.816654  0.183346

In [5]:
# female subject
IC1_noprompt_1f = IC1_noprompt_1[0:12]
IC1_noprompt_1f = IC1_noprompt_1f[["stimulus","She","He"]]
# male subject
IC1_noprompt_1m = IC1_noprompt_1[12:24]

#### female subject

In [6]:
IC1_noprompt_1f

                                stimulus       She        He
0       Miss Smith aggravated Mr. Smith.  0.686872  0.313128
1          The woman aggravated the man.  0.242849  0.757151
2                  Mary aggravated John.  0.303963  0.696037
3                  Alice aggravated Bob.  0.469708  0.530292
4      The actress aggravated the actor.  0.183346  0.816654
5           The girl aggravated the boy.  0.222728  0.777272
6   Mrs. Taylor aggravated Mr. Williams.  0.678087  0.321913
7                 Emma aggravated David.  0.853243  0.146757
8    The princess aggravated the prince.  0.206521  0.793479
9               Sarah aggravated Robert.  0.641940  0.358060
10  Mrs. Williams aggravated Mr. Taylor.  0.615981  0.384019
11                Emily aggravated Paul.  0.792316  0.207684

In [7]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_1f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_1f,'He'))

P('subj-pron'|subj=female) =  0.49146287391583127
P('non-subj-pron'|subj=female) =  0.5085371223588785

In [8]:
np_average_subj_female_subj_pron['aggravated'] = compute_average(IC1_noprompt_1f,'She')
np_average_subj_female_obj_pron['aggravated'] = compute_average(IC1_noprompt_1f,'He')

#### male subject

In [9]:
IC1_noprompt_1m

                                stimulus        He       She
12      Mr. Smith aggravated Miss Smith.  0.300864  0.699136
13         The man aggravated the woman.  0.760324  0.239676
14                 John aggravated Mary.  0.863702  0.136298
15                 Bob aggravated Alice.  0.407622  0.592377
16     The actor aggravated the actress.  0.866318  0.133682
17          The boy aggravated the girl.  0.867032  0.132969
18   Mr. William aggravated Mrs. Taylor.  0.349005  0.650995
19                David aggravated Emma.  0.138045  0.861955
20   The prince aggravated the princess.  0.870863  0.129137
21              Robert aggravated Sarah.  0.224226  0.775774
22  Mr. Taylor aggravated Mrs. Williams.  0.089197  0.910804
23                Paul aggravated Emily.  0.780650  0.219350

In [10]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_1m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_1m,'She'))

P('subj-pron'|subj=male) =  0.5431540807088217
P('non-subj-pron'|subj=male) =  0.45684592549999553

In [11]:
np_average_subj_male_subj_pron['aggravated'] = compute_average(IC1_noprompt_1m,'He')
np_average_subj_male_obj_pron['aggravated'] = compute_average(IC1_noprompt_1m,'She')

### Verb: "amazed"

In [12]:
IC1_noprompt_2 = pd.read_csv("../results/transfoxl/IC1/no-prompt/2.csv")
IC1_noprompt_2.head()

                        stimulus        He       She
0   Miss Smith amazed Mr. Smith.  0.334989  0.665011
1      The woman amazed the man.  0.754156  0.245844
2              Mary amazed John.  0.768219  0.231781
3              Alice amazed Bob.  0.725885  0.274115
4  The actress amazed the actor.  0.829944  0.170056

In [13]:
# female subject
IC1_noprompt_2f = IC1_noprompt_2[0:12]
IC1_noprompt_2f = IC1_noprompt_2f[["stimulus","She","He"]]
# male subject
IC1_noprompt_2m = IC1_noprompt_2[12:24]

#### female subject

In [14]:
IC1_noprompt_2f

                            stimulus       She        He
0       Miss Smith amazed Mr. Smith.  0.665011  0.334989
1          The woman amazed the man.  0.245844  0.754156
2                  Mary amazed John.  0.231781  0.768219
3                  Alice amazed Bob.  0.274115  0.725885
4      The actress amazed the actor.  0.170056  0.829944
5           The girl amazed the boy.  0.224845  0.775155
6   Mrs. Taylor amazed Mr. Williams.  0.632100  0.367900
7                 Emma amazed David.  0.898295  0.101705
8    The princess amazed the prince.  0.200123  0.799877
9               Sarah amazed Robert.  0.521084  0.478916
10  Mrs. Williams amazed Mr. Taylor.  0.595095  0.404905
11                Emily amazed Paul.  0.679242  0.320758

In [15]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_2f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_2f,'He'))

P('subj-pron'|subj=female) =  0.4447993089755376
P('non-subj-pron'|subj=female) =  0.5552006953706344

In [16]:
np_average_subj_female_subj_pron['amazed'] = compute_average(IC1_noprompt_2f,'She')
np_average_subj_female_obj_pron['amazed'] = compute_average(IC1_noprompt_2f,'He')

#### male subject

In [17]:
IC1_noprompt_2m

                            stimulus        He       She
12      Mr. Smith amazed Miss Smith.  0.459058  0.540942
13         The man amazed the woman.  0.863172  0.136828
14                 John amazed Mary.  0.515957  0.484043
15                 Bob amazed Alice.  0.101033  0.898967
16     The actor amazed the actress.  0.856930  0.143070
17          The boy amazed the girl.  0.857245  0.142755
18   Mr. William amazed Mrs. Taylor.  0.311643  0.688357
19                David amazed Emma.  0.021206  0.978794
20   The prince amazed the princess.  0.863272  0.136728
21              Robert amazed Sarah.  0.070007  0.929993
22  Mr. Taylor amazed Mrs. Williams.  0.106395  0.893605
23                Paul amazed Emily.  0.422297  0.577703

In [18]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_2m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_2m,'She'))

P('subj-pron'|subj=male) =  0.4540178840979934
P('non-subj-pron'|subj=male) =  0.5459821224212646

In [19]:
np_average_subj_male_subj_pron['amazed'] = compute_average(IC1_noprompt_2m,'He')
np_average_subj_male_obj_pron['amazed'] = compute_average(IC1_noprompt_2m,'She')

### Verb: "amused"

In [20]:
IC1_noprompt_3 = pd.read_csv("../results/transfoxl/IC1/no-prompt/3.csv")
IC1_noprompt_3.head()

                        stimulus        He       She
0   Miss Smith amused Mr. Smith.  0.344861  0.655139
1      The woman amused the man.  0.751344  0.248656
2              Mary amused John.  0.665107  0.334893
3              Alice amused Bob.  0.688644  0.311356
4  The actress amused the actor.  0.825402  0.174598

In [21]:
# female subject
IC1_noprompt_3f = IC1_noprompt_3[0:12]
IC1_noprompt_3f = IC1_noprompt_3f[["stimulus","She","He"]]
# male subject
IC1_noprompt_3m = IC1_noprompt_3[12:24]

#### female subject

In [22]:
IC1_noprompt_3f

                            stimulus       She        He
0       Miss Smith amused Mr. Smith.  0.655139  0.344861
1          The woman amused the man.  0.248656  0.751344
2                  Mary amused John.  0.334893  0.665107
3                  Alice amused Bob.  0.311356  0.688644
4      The actress amused the actor.  0.174598  0.825402
5           The girl amused the boy.  0.229150  0.770850
6   Mrs. Taylor amused Mr. Williams.  0.644563  0.355437
7                 Emma amused David.  0.927406  0.072594
8    The princess amused the prince.  0.207767  0.792233
9               Sarah amused Robert.  0.765878  0.234122
10  Mrs. Williams amused Mr. Taylor.  0.595921  0.404079
11                Emily amused Paul.  0.766377  0.233623

In [23]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_3f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_3f,'He'))

P('subj-pron'|subj=female) =  0.4884753090639909
P('non-subj-pron'|subj=female) =  0.5115246952821811

In [24]:
np_average_subj_female_subj_pron['amused'] = compute_average(IC1_noprompt_3f,'She')
np_average_subj_female_obj_pron['amused'] = compute_average(IC1_noprompt_3f,'He')

#### male subject

In [25]:
IC1_noprompt_3m

                            stimulus        He       She
12      Mr. Smith amused Miss Smith.  0.463118  0.536882
13         The man amused the woman.  0.863535  0.136465
14                 John amused Mary.  0.684118  0.315882
15                 Bob amused Alice.  0.184929  0.815071
16     The actor amused the actress.  0.859332  0.140668
17          The boy amused the girl.  0.863301  0.136699
18   Mr. William amused Mrs. Taylor.  0.349906  0.650094
19                David amused Emma.  0.034330  0.965670
20   The prince amused the princess.  0.867060  0.132940
21              Robert amused Sarah.  0.093809  0.906191
22  Mr. Taylor amused Mrs. Williams.  0.104722  0.895278
23                Paul amused Emily.  0.820068  0.179932

In [26]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_3m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_3m,'She'))

P('subj-pron'|subj=male) =  0.5156855567668875
P('non-subj-pron'|subj=male) =  0.4843144516150157

In [27]:
np_average_subj_male_subj_pron['amused'] = compute_average(IC1_noprompt_3m,'He')
np_average_subj_male_obj_pron['amused'] = compute_average(IC1_noprompt_3m,'She')

### verb: "annoyed"

In [28]:
IC1_noprompt_4 = pd.read_csv("../results/transfoxl/IC1/no-prompt/4.csv")
IC1_noprompt_4.head()

                         stimulus        He       She
0   Miss Smith annoyed Mr. Smith.  0.196840  0.803160
1      The woman annoyed the man.  0.747148  0.252852
2              Mary annoyed John.  0.677133  0.322867
3              Alice annoyed Bob.  0.396965  0.603035
4  The actress annoyed the actor.  0.817310  0.182690

In [29]:
# female subject
IC1_noprompt_4f = IC1_noprompt_4[0:12]
IC1_noprompt_4f = IC1_noprompt_4f[["stimulus","She","He"]]
# male subject
IC1_noprompt_4m = IC1_noprompt_4[12:24]

#### female subject

In [30]:
IC1_noprompt_4f

                             stimulus       She        He
0       Miss Smith annoyed Mr. Smith.  0.803160  0.196840
1          The woman annoyed the man.  0.252852  0.747148
2                  Mary annoyed John.  0.322867  0.677133
3                  Alice annoyed Bob.  0.603035  0.396965
4      The actress annoyed the actor.  0.182690  0.817310
5           The girl annoyed the boy.  0.234717  0.765283
6   Mrs. Taylor annoyed Mr. Williams.  0.741348  0.258652
7                 Emma annoyed David.  0.950917  0.049083
8    The princess annoyed the prince.  0.211187  0.788813
9               Sarah annoyed Robert.  0.602844  0.397156
10  Mrs. Williams annoyed Mr. Taylor.  0.657921  0.342079
11                Emily annoyed Paul.  0.780959  0.219041

In [31]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_4f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_4f,'He'))

P('subj-pron'|subj=female) =  0.5287081102530161
P('non-subj-pron'|subj=female) =  0.47129188912610215

In [32]:
np_average_subj_female_subj_pron['annoyed'] = compute_average(IC1_noprompt_4f,'She')
np_average_subj_female_obj_pron['annoyed'] = compute_average(IC1_noprompt_4f,'He')

#### male subject

In [33]:
IC1_noprompt_4m

                             stimulus        He       She
12      Mr. Smith annoyed Miss Smith.  0.435606  0.564394
13         The man annoyed the woman.  0.863299  0.136701
14                 John annoyed Mary.  0.663625  0.336375
15                 Bob annoyed Alice.  0.120760  0.879240
16     The actor annoyed the actress.  0.853445  0.146555
17          The boy annoyed the girl.  0.857153  0.142846
18   Mr. William annoyed Mrs. Taylor.  0.360299  0.639701
19                David annoyed Emma.  0.029357  0.970643
20   The prince annoyed the princess.  0.862644  0.137356
21              Robert annoyed Sarah.  0.088947  0.911053
22  Mr. Taylor annoyed Mrs. Williams.  0.076231  0.923769
23                Paul annoyed Emily.  0.815284  0.184716

In [34]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_4m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_4m,'She'))

P('subj-pron'|subj=male) =  0.5022209975868464
P('non-subj-pron'|subj=male) =  0.4977789868911107

In [35]:
np_average_subj_male_subj_pron['annoyed'] = compute_average(IC1_noprompt_4m,'He')
np_average_subj_male_obj_pron['annoyed'] = compute_average(IC1_noprompt_4m,'She')

### verb: "apologized"

In [36]:
IC1_noprompt_5 = pd.read_csv("../results/transfoxl/IC1/no-prompt/5.csv")
IC1_noprompt_5.head()

                               stimulus        He       She
0   Miss Smith apologized to Mr. Smith.  0.300418  0.699582
1      The woman apologized to the man.  0.790851  0.209149
2              Mary apologized to John.  0.573024  0.426976
3              Alice apologized to Bob.  0.387774  0.612226
4  The actress apologized to the actor.  0.803377  0.196623

In [37]:
# female subject
IC1_noprompt_5f = IC1_noprompt_5[0:12]
IC1_noprompt_5f = IC1_noprompt_5f[["stimulus","She","He"]]
# male subject
IC1_noprompt_5m = IC1_noprompt_5[12:24]

#### female subject

In [38]:
IC1_noprompt_5f

                                   stimulus       She        He
0       Miss Smith apologized to Mr. Smith.  0.699582  0.300418
1          The woman apologized to the man.  0.209149  0.790851
2                  Mary apologized to John.  0.426976  0.573024
3                  Alice apologized to Bob.  0.612226  0.387774
4      The actress apologized to the actor.  0.196623  0.803377
5           The girl apologized to the boy.  0.198782  0.801218
6   Mrs. Taylor apologized to Mr. Williams.  0.735753  0.264247
7                 Emma apologized to David.  0.289963  0.710037
8    The princess apologized to the prince.  0.198764  0.801236
9               Sarah apologized to Robert.  0.701665  0.298335
10  Mrs. Williams apologized to Mr. Taylor.  0.644930  0.355070
11                Emily apologized to Paul.  0.770845  0.229155

In [39]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_5f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_5f,'He'))

P('subj-pron'|subj=female) =  0.4737713721891244
P('non-subj-pron'|subj=female) =  0.5262286265691122

In [40]:
np_average_subj_female_subj_pron['apologized'] = compute_average(IC1_noprompt_5f,'She')
np_average_subj_female_obj_pron['apologized'] = compute_average(IC1_noprompt_5f,'He')

#### male subject

In [41]:
IC1_noprompt_5m

                                   stimulus        He       She
12      Mr. Smith apologized to Miss Smith.  0.842503  0.157497
13         The man apologized to the woman.  0.883463  0.116537
14                 John apologized to Mary.  0.849321  0.150679
15                 Bob apologized to Alice.  0.433099  0.566901
16     The actor apologized to the actress.  0.871649  0.128351
17          The boy apologized to the girl.  0.876500  0.123500
18   Mr. William apologized to Mrs. Taylor.  0.502692  0.497309
19                David apologized to Emma.  0.134373  0.865627
20   The prince apologized to the princess.  0.876852  0.123148
21              Robert apologized to Sarah.  0.130164  0.869836
22  Mr. Taylor apologized to Mrs. Williams.  0.234232  0.765768
23                Paul apologized to Emily.  0.826872  0.173128

In [42]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_5m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_5m,'She'))

P('subj-pron'|subj=male) =  0.6218100016315778
P('non-subj-pron'|subj=male) =  0.3781899946431319

In [43]:
np_average_subj_male_subj_pron['apologized'] = compute_average(IC1_noprompt_5m,'He')
np_average_subj_male_obj_pron['apologized'] = compute_average(IC1_noprompt_5m,'She')

### verb: "bored"

In [44]:
IC1_noprompt_6 = pd.read_csv("../results/transfoxl/IC1/no-prompt/6.csv")
IC1_noprompt_6.head()

                       stimulus        He       She
0   Miss Smith bored Mr. Smith.  0.316307  0.683693
1      The woman bored the man.  0.732444  0.267556
2              Mary bored John.  0.707091  0.292909
3              Alice bored Bob.  0.546012  0.453988
4  The actress bored the actor.  0.795567  0.204433

In [45]:
# female subject
IC1_noprompt_6f = IC1_noprompt_6[0:12]
IC1_noprompt_6f = IC1_noprompt_6f[["stimulus","She","He"]]
# male subject
IC1_noprompt_6m = IC1_noprompt_6[12:24]

#### female subject

In [46]:
IC1_noprompt_6f

                           stimulus       She        He
0       Miss Smith bored Mr. Smith.  0.683693  0.316307
1          The woman bored the man.  0.267556  0.732444
2                  Mary bored John.  0.292909  0.707091
3                  Alice bored Bob.  0.453988  0.546012
4      The actress bored the actor.  0.204433  0.795567
5           The girl bored the boy.  0.251546  0.748454
6   Mrs. Taylor bored Mr. Williams.  0.604057  0.395943
7                 Emma bored David.  0.899533  0.100467
8    The princess bored the prince.  0.225739  0.774261
9               Sarah bored Robert.  0.689840  0.310160
10  Mrs. Williams bored Mr. Taylor.  0.551959  0.448041
11                Emily bored Paul.  0.819758  0.180242

In [47]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_6f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_6f,'He'))

P('subj-pron'|subj=female) =  0.4954175315797329
P('non-subj-pron'|subj=female) =  0.5045824547608694

In [48]:
np_average_subj_female_subj_pron['bored'] = compute_average(IC1_noprompt_6f,'She')
np_average_subj_female_obj_pron['bored'] = compute_average(IC1_noprompt_6f,'He')

In [49]:
IC1_noprompt_6m

                           stimulus        He       She
12      Mr. Smith bored Miss Smith.  0.309980  0.690020
13         The man bored the woman.  0.857005  0.142995
14                 John bored Mary.  0.685562  0.314438
15                 Bob bored Alice.  0.228992  0.771008
16     The actor bored the actress.  0.846519  0.153481
17          The boy bored the girl.  0.850771  0.149229
18   Mr. William bored Mrs. Taylor.  0.279755  0.720245
19                David bored Emma.  0.027231  0.972769
20   The prince bored the princess.  0.852936  0.147064
21              Robert bored Sarah.  0.184056  0.815944
22  Mr. Taylor bored Mrs. Williams.  0.091083  0.908917
23                Paul bored Emily.  0.800294  0.199706

In [50]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_6m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_6m,'She'))

P('subj-pron'|subj=male) =  0.5011821410929164
P('non-subj-pron'|subj=male) =  0.4988178325196107

In [51]:
np_average_subj_male_subj_pron['bored'] = compute_average(IC1_noprompt_6m,'He')
np_average_subj_male_obj_pron['bored'] = compute_average(IC1_noprompt_6m,'She')

### verb: "charmed"

In [52]:
IC1_noprompt_7 = pd.read_csv("../results/transfoxl/IC1/no-prompt/7.csv")
IC1_noprompt_7.head()

                         stimulus        He       She
0   Miss Smith charmed Mr. Smith.  0.310930  0.689070
1      The woman charmed the man.  0.750641  0.249359
2              Mary charmed John.  0.685583  0.314417
3              Alice charmed Bob.  0.582770  0.417230
4  The actress charmed the actor.  0.816434  0.183566

In [53]:
# female subject
IC1_noprompt_7f = IC1_noprompt_7[0:12]
IC1_noprompt_7f = IC1_noprompt_7f[["stimulus","She","He"]]
# male subject
IC1_noprompt_7m = IC1_noprompt_7[12:24]

#### female subject

In [54]:
IC1_noprompt_7f

                             stimulus       She        He
0       Miss Smith charmed Mr. Smith.  0.689070  0.310930
1          The woman charmed the man.  0.249359  0.750641
2                  Mary charmed John.  0.314417  0.685583
3                  Alice charmed Bob.  0.417230  0.582770
4      The actress charmed the actor.  0.183566  0.816434
5           The girl charmed the boy.  0.230580  0.769420
6   Mrs. Taylor charmed Mr. Williams.  0.697786  0.302214
7                 Emma charmed David.  0.904721  0.095279
8    The princess charmed the prince.  0.205774  0.794226
9               Sarah charmed Robert.  0.526831  0.473169
10  Mrs. Williams charmed Mr. Taylor.  0.635063  0.364937
11                Emily charmed Paul.  0.623734  0.376266

In [55]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_7f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_7f,'He'))

P('subj-pron'|subj=female) =  0.47317753980557126
P('non-subj-pron'|subj=female) =  0.5268224732329448

In [56]:
np_average_subj_female_subj_pron['charmed'] = compute_average(IC1_noprompt_7f,'She')
np_average_subj_female_obj_pron['charmed'] = compute_average(IC1_noprompt_7f,'He')

#### male subject

In [57]:
IC1_noprompt_7m

                             stimulus        He       She
12      Mr. Smith charmed Miss Smith.  0.433640  0.566360
13         The man charmed the woman.  0.860180  0.139820
14                 John charmed Mary.  0.570069  0.429931
15                 Bob charmed Alice.  0.235672  0.764328
16     The actor charmed the actress.  0.852437  0.147563
17          The boy charmed the girl.  0.854041  0.145959
18   Mr. William charmed Mrs. Taylor.  0.382408  0.617592
19                David charmed Emma.  0.035237  0.964763
20   The prince charmed the princess.  0.858705  0.141295
21              Robert charmed Sarah.  0.219715  0.780285
22  Mr. Taylor charmed Mrs. Williams.  0.125260  0.874740
23                Paul charmed Emily.  0.515506  0.484494

In [58]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_7m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_7m,'She'))

P('subj-pron'|subj=male) =  0.4952390951414903
P('non-subj-pron'|subj=male) =  0.5047609160343806

In [59]:
np_average_subj_male_subj_pron['charmed'] = compute_average(IC1_noprompt_7m,'He')
np_average_subj_male_obj_pron['charmed'] = compute_average(IC1_noprompt_7m,'She')

### verb: "offended"

In [60]:
IC1_noprompt_8 = pd.read_csv("../results/transfoxl/IC1/no-prompt/8.csv")
IC1_noprompt_8.head()

                          stimulus        He       She
0   Miss Smith offended Mr. Smith.  0.197272  0.802728
1      The woman offended the man.  0.755046  0.244954
2              Mary offended John.  0.733860  0.266140
3              Alice offended Bob.  0.478628  0.521372
4  The actress offended the actor.  0.821119  0.178881

In [61]:
# female subject
IC1_noprompt_8f = IC1_noprompt_8[0:12]
IC1_noprompt_8f = IC1_noprompt_8f[["stimulus","She","He"]]
# male subject
IC1_noprompt_8m = IC1_noprompt_8[12:24]

#### female subject

In [62]:
IC1_noprompt_8f

                              stimulus       She        He
0       Miss Smith offended Mr. Smith.  0.802728  0.197272
1          The woman offended the man.  0.244954  0.755046
2                  Mary offended John.  0.266140  0.733860
3                  Alice offended Bob.  0.521372  0.478628
4      The actress offended the actor.  0.178881  0.821119
5           The girl offended the boy.  0.226698  0.773302
6   Mrs. Taylor offended Mr. Williams.  0.715506  0.284494
7                 Emma offended David.  0.938045  0.061955
8    The princess offended the prince.  0.203251  0.796749
9               Sarah offended Robert.  0.550875  0.449125
10  Mrs. Williams offended Mr. Taylor.  0.614010  0.385990
11                Emily offended Paul.  0.796583  0.203417

In [63]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_8f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_8f,'He'))

P('subj-pron'|subj=female) =  0.5049202578763167
P('non-subj-pron'|subj=female) =  0.49507972442855436

In [64]:
np_average_subj_female_subj_pron['offended'] = compute_average(IC1_noprompt_8f,'She')
np_average_subj_female_obj_pron['offended'] = compute_average(IC1_noprompt_8f,'He')

#### male subject

In [65]:
IC1_noprompt_8m

                              stimulus        He       She
12      Mr. Smith offended Miss Smith.  0.483683  0.516317
13         The man offended the woman.  0.866325  0.133675
14                 John offended Mary.  0.647507  0.352493
15                 Bob offended Alice.  0.147236  0.852763
16     The actor offended the actress.  0.854465  0.145535
17          The boy offended the girl.  0.858812  0.141188
18   Mr. William offended Mrs. Taylor.  0.310870  0.689130
19                David offended Emma.  0.036474  0.963526
20   The prince offended the princess.  0.861487  0.138513
21              Robert offended Sarah.  0.157397  0.842603
22  Mr. Taylor offended Mrs. Williams.  0.078558  0.921442
23                Paul offended Emily.  0.685069  0.314931

In [66]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_8m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_8m,'She'))

P('subj-pron'|subj=male) =  0.4989903410896659
P('non-subj-pron'|subj=male) =  0.5010096430778503

In [67]:
np_average_subj_male_subj_pron['offended'] = compute_average(IC1_noprompt_8m,'He')
np_average_subj_male_obj_pron['offended'] = compute_average(IC1_noprompt_8m,'She')

### verb: "confessed"

In [68]:
IC1_noprompt_9 = pd.read_csv("../results/transfoxl/IC1/no-prompt/9.csv")
IC1_noprompt_9.head()

                              stimulus        He       She
0   Miss Smith confessed to Mr. Smith.  0.274541  0.725459
1      The woman confessed to the man.  0.776125  0.223875
2              Mary confessed to John.  0.327515  0.672485
3              Alice confessed to Bob.  0.320891  0.679110
4  The actress confessed to the actor.  0.802290  0.197710

In [69]:
# female subject
IC1_noprompt_9f = IC1_noprompt_9[0:12]
IC1_noprompt_9f = IC1_noprompt_9f[["stimulus","She","He"]]
# male subject
IC1_noprompt_9m = IC1_noprompt_9[12:24]

#### female: "confessed"

In [70]:
IC1_noprompt_9f

                                  stimulus       She        He
0       Miss Smith confessed to Mr. Smith.  0.725459  0.274541
1          The woman confessed to the man.  0.223875  0.776125
2                  Mary confessed to John.  0.672485  0.327515
3                  Alice confessed to Bob.  0.679110  0.320891
4      The actress confessed to the actor.  0.197710  0.802290
5           The girl confessed to the boy.  0.215983  0.784017
6   Mrs. Taylor confessed to Mr. Williams.  0.829608  0.170392
7                 Emma confessed to David.  0.941467  0.058533
8    The princess confessed to the prince.  0.210500  0.789500
9               Sarah confessed to Robert.  0.893443  0.106557
10  Mrs. Williams confessed to Mr. Taylor.  0.778122  0.221878
11                Emily confessed to Paul.  0.870057  0.129943

In [71]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_9f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_9f,'He'))

P('subj-pron'|subj=female) =  0.603151568522056
P('non-subj-pron'|subj=female) =  0.39684843240926665

In [72]:
np_average_subj_female_subj_pron['confessed'] = compute_average(IC1_noprompt_9f,'She')
np_average_subj_female_obj_pron['confessed'] = compute_average(IC1_noprompt_9f,'He')

#### male subject

In [73]:
IC1_noprompt_9m

                                  stimulus        He       She
12      Mr. Smith confessed to Miss Smith.  0.584629  0.415371
13         The man confessed to the woman.  0.600963  0.399037
14                 John confessed to Mary.  0.800501  0.199499
15                 Bob confessed to Alice.  0.330660  0.669340
16     The actor confessed to the actress.  0.508636  0.491364
17          The boy confessed to the girl.  0.877404  0.122596
18   Mr. William confessed to Mrs. Taylor.  0.502052  0.497948
19                David confessed to Emma.  0.165176  0.834824
20   The prince confessed to the princess.  0.879911  0.120089
21              Robert confessed to Sarah.  0.438282  0.561718
22  Mr. Taylor confessed to Mrs. Williams.  0.127893  0.872107
23                Paul confessed to Emily.  0.646656  0.353344

In [74]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_9m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_9m,'She'))

P('subj-pron'|subj=male) =  0.5385636004308859
P('non-subj-pron'|subj=male) =  0.4614364132285118

In [75]:
np_average_subj_male_subj_pron['confessed'] = compute_average(IC1_noprompt_9m,'He')
np_average_subj_male_obj_pron['confessed'] = compute_average(IC1_noprompt_9m,'She')

### verb: "deceived"

In [76]:
IC1_noprompt_10 = pd.read_csv("../results/transfoxl/IC1/no-prompt/10.csv")
IC1_noprompt_10.head()

                          stimulus        He       She
0   Miss Smith deceived Mr. Smith.  0.242709  0.757291
1      The woman deceived the man.  0.745968  0.254032
2              Mary deceived John.  0.653755  0.346245
3              Alice deceived Bob.  0.545411  0.454589
4  The actress deceived the actor.  0.819537  0.180463

In [77]:
# female subject
IC1_noprompt_10f = IC1_noprompt_10[0:12]
IC1_noprompt_10f = IC1_noprompt_10f[["stimulus","She","He"]]
# male subject
IC1_noprompt_10m = IC1_noprompt_10[12:24]

#### female subject

In [78]:
IC1_noprompt_10f

                              stimulus       She        He
0       Miss Smith deceived Mr. Smith.  0.757291  0.242709
1          The woman deceived the man.  0.254032  0.745968
2                  Mary deceived John.  0.346245  0.653755
3                  Alice deceived Bob.  0.454589  0.545411
4      The actress deceived the actor.  0.180463  0.819537
5           The girl deceived the boy.  0.233755  0.766245
6   Mrs. Taylor deceived Mr. Williams.  0.705773  0.294227
7                 Emma deceived David.  0.932006  0.067994
8    The princess deceived the prince.  0.208836  0.791165
9               Sarah deceived Robert.  0.678815  0.321185
10  Mrs. Williams deceived Mr. Taylor.  0.648496  0.351504
11                Emily deceived Paul.  0.729285  0.270715

In [79]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_10f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_10f,'He'))

P('subj-pron'|subj=female) =  0.5107986479997635
P('non-subj-pron'|subj=female) =  0.4892013594508171

In [80]:
np_average_subj_female_subj_pron['deceived'] = compute_average(IC1_noprompt_10f,'She')
np_average_subj_female_obj_pron['deceived'] = compute_average(IC1_noprompt_10f,'He')

In [81]:
IC1_noprompt_10m

                              stimulus        He       She
12      Mr. Smith deceived Miss Smith.  0.322847  0.677153
13         The man deceived the woman.  0.860868  0.139132
14                 John deceived Mary.  0.554260  0.445740
15                 Bob deceived Alice.  0.209204  0.790796
16     The actor deceived the actress.  0.550598  0.449402
17          The boy deceived the girl.  0.858017  0.141984
18   Mr. William deceived Mrs. Taylor.  0.352417  0.647583
19                David deceived Emma.  0.039254  0.960746
20   The prince deceived the princess.  0.863331  0.136669
21              Robert deceived Sarah.  0.093409  0.906591
22  Mr. Taylor deceived Mrs. Williams.  0.086165  0.913835
23                Paul deceived Emily.  0.817368  0.182632

In [82]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_10m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_10m,'She'))

P('subj-pron'|subj=male) =  0.46731132610390586
P('non-subj-pron'|subj=male) =  0.5326886661350727

In [83]:
np_average_subj_male_subj_pron['deceived'] = compute_average(IC1_noprompt_10m,'He')
np_average_subj_male_obj_pron['deceived'] = compute_average(IC1_noprompt_10m,'She')

### verb: "disappointed"

In [84]:
IC1_noprompt_11 = pd.read_csv("../results/transfoxl/IC1/no-prompt/11.csv")
IC1_noprompt_11.head()

                              stimulus        He       She
0   Miss Smith disappointed Mr. Smith.  0.281905  0.718095
1      The woman disappointed the man.  0.755427  0.244573
2              Mary disappointed John.  0.704042  0.295958
3              Alice disappointed Bob.  0.616997  0.383003
4  The actress disappointed the actor.  0.824955  0.175045

In [85]:
# female subject
IC1_noprompt_11f = IC1_noprompt_11[0:12]
IC1_noprompt_11f = IC1_noprompt_11f[["stimulus","She","He"]]
# male subject
IC1_noprompt_11m = IC1_noprompt_11[12:24]

#### female subject

In [86]:
IC1_noprompt_11f

                                  stimulus       She        He
0       Miss Smith disappointed Mr. Smith.  0.718095  0.281905
1          The woman disappointed the man.  0.244573  0.755427
2                  Mary disappointed John.  0.295958  0.704042
3                  Alice disappointed Bob.  0.383003  0.616997
4      The actress disappointed the actor.  0.175045  0.824955
5           The girl disappointed the boy.  0.226382  0.773618
6   Mrs. Taylor disappointed Mr. Williams.  0.602129  0.397871
7                 Emma disappointed David.  0.946282  0.053718
8    The princess disappointed the prince.  0.213216  0.786784
9               Sarah disappointed Robert.  0.738095  0.261905
10  Mrs. Williams disappointed Mr. Taylor.  0.514045  0.485955
11                Emily disappointed Paul.  0.836406  0.163594

In [87]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_11f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_11f,'He'))

P('subj-pron'|subj=female) =  0.491102397441864
P('non-subj-pron'|subj=female) =  0.5088975867256522

In [88]:
np_average_subj_female_subj_pron['disappointed'] = compute_average(IC1_noprompt_11f,'She')
np_average_subj_female_obj_pron['disappointed'] = compute_average(IC1_noprompt_11f,'He')

#### male subject

In [89]:
IC1_noprompt_11m

                                  stimulus        He       She
12      Mr. Smith disappointed Miss Smith.  0.535681  0.464319
13         The man disappointed the woman.  0.870009  0.129991
14                 John disappointed Mary.  0.835043  0.164957
15                 Bob disappointed Alice.  0.479197  0.520803
16     The actor disappointed the actress.  0.856148  0.143852
17          The boy disappointed the girl.  0.863669  0.136331
18   Mr. William disappointed Mrs. Taylor.  0.431892  0.568108
19                David disappointed Emma.  0.078811  0.921190
20   The prince disappointed the princess.  0.865844  0.134156
21              Robert disappointed Sarah.  0.231585  0.768415
22  Mr. Taylor disappointed Mrs. Williams.  0.137273  0.862727
23                Paul disappointed Emily.  0.620818  0.379182

In [90]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_11m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_11m,'She'))

P('subj-pron'|subj=male) =  0.567164147272706
P('non-subj-pron'|subj=male) =  0.43283584838112193

In [91]:
np_average_subj_male_subj_pron['disappointed'] = compute_average(IC1_noprompt_11m,'He')
np_average_subj_male_obj_pron['disappointed'] = compute_average(IC1_noprompt_11m,'She')

#### verb: "exasperated"

In [92]:
IC1_noprompt_12 = pd.read_csv("../results/transfoxl/IC1/no-prompt/12.csv")
IC1_noprompt_12.head()

                             stimulus        He       She
0   Miss Smith exasperated Mr. Smith.  0.217114  0.782886
1      The woman exasperated the man.  0.745847  0.254153
2              Mary exasperated John.  0.683977  0.316023
3              Alice exasperated Bob.  0.545016  0.454984
4  The actress exasperated the actor.  0.815299  0.184701

In [93]:
# female subject
IC1_noprompt_12f = IC1_noprompt_12[0:12]
IC1_noprompt_12f = IC1_noprompt_12f[["stimulus","She","He"]]
# male subject
IC1_noprompt_12m = IC1_noprompt_12[12:24]

#### female subject

In [94]:
IC1_noprompt_12f

                                 stimulus       She        He
0       Miss Smith exasperated Mr. Smith.  0.782886  0.217114
1          The woman exasperated the man.  0.254153  0.745847
2                  Mary exasperated John.  0.316023  0.683977
3                  Alice exasperated Bob.  0.454984  0.545016
4      The actress exasperated the actor.  0.184701  0.815299
5           The girl exasperated the boy.  0.236069  0.763931
6   Mrs. Taylor exasperated Mr. Williams.  0.720658  0.279342
7                 Emma exasperated David.  0.919820  0.080180
8    The princess exasperated the prince.  0.213666  0.786334
9               Sarah exasperated Robert.  0.781874  0.218126
10  Mrs. Williams exasperated Mr. Taylor.  0.630269  0.369731
11                Emily exasperated Paul.  0.760646  0.239354

In [95]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_12f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_12f,'He'))

P('subj-pron'|subj=female) =  0.5213124317427477
P('non-subj-pron'|subj=female) =  0.47868755273520947

In [96]:
np_average_subj_female_subj_pron['exasperated'] = compute_average(IC1_noprompt_12f,'She')
np_average_subj_female_obj_pron['exasperated'] = compute_average(IC1_noprompt_12f,'He')

#### male subject

In [97]:
IC1_noprompt_12m

                                 stimulus        He       She
12      Mr. Smith exasperated Miss Smith.  0.338317  0.661683
13         The man exasperated the woman.  0.863028  0.136972
14                 John exasperated Mary.  0.693147  0.306853
15                 Bob exasperated Alice.  0.183006  0.816994
16     The actor exasperated the actress.  0.853580  0.146420
17          The boy exasperated the girl.  0.857854  0.142146
18   Mr. William exasperated Mrs. Taylor.  0.261274  0.738726
19                David exasperated Emma.  0.033083  0.966917
20   The prince exasperated the princess.  0.863049  0.136951
21              Robert exasperated Sarah.  0.094136  0.905864
22  Mr. Taylor exasperated Mrs. Williams.  0.063341  0.936659
23                Paul exasperated Emily.  0.810394  0.189606

In [98]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_12m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_12m,'She'))

P('subj-pron'|subj=male) =  0.49285083388288814
P('non-subj-pron'|subj=male) =  0.5071491561830044

In [99]:
np_average_subj_male_subj_pron['exasperated'] = compute_average(IC1_noprompt_12m,'He')
np_average_subj_male_obj_pron['exasperated'] = compute_average(IC1_noprompt_12m,'She')

### verb: "fascinated"

In [100]:
IC1_noprompt_13 = pd.read_csv("../results/transfoxl/IC1/no-prompt/13.csv")
IC1_noprompt_13.head()

                            stimulus        He       She
0   Miss Smith fascinated Mr. Smith.  0.147032  0.852968
1      The woman fascinated the man.  0.753231  0.246769
2              Mary fascinated John.  0.583587  0.416413
3              Alice fascinated Bob.  0.560765  0.439235
4  The actress fascinated the actor.  0.816140  0.183860

In [101]:
# female subject
IC1_noprompt_13f = IC1_noprompt_13[0:12]
IC1_noprompt_13f = IC1_noprompt_13f[["stimulus","She","He"]]
# male subject
IC1_noprompt_13m = IC1_noprompt_13[12:24]

#### female subject

In [102]:
IC1_noprompt_13f

                                stimulus       She        He
0       Miss Smith fascinated Mr. Smith.  0.852968  0.147032
1          The woman fascinated the man.  0.246769  0.753231
2                  Mary fascinated John.  0.416413  0.583587
3                  Alice fascinated Bob.  0.439235  0.560765
4      The actress fascinated the actor.  0.183860  0.816140
5           The girl fascinated the boy.  0.232038  0.767962
6   Mrs. Taylor fascinated Mr. Williams.  0.736620  0.263380
7                 Emma fascinated David.  0.955682  0.044319
8    The princess fascinated the prince.  0.212861  0.787139
9               Sarah fascinated Robert.  0.794091  0.205909
10  Mrs. Williams fascinated Mr. Taylor.  0.684501  0.315499
11                Emily fascinated Paul.  0.783387  0.216613

In [103]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_13f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_13f,'He'))

P('subj-pron'|subj=female) =  0.5448687511185805
P('non-subj-pron'|subj=female) =  0.45513123366981745

In [104]:
np_average_subj_female_subj_pron['fascinated'] = compute_average(IC1_noprompt_13f,'She')
np_average_subj_female_obj_pron['fascinated'] = compute_average(IC1_noprompt_13f,'He')

#### male subject

In [105]:
IC1_noprompt_13m

                                stimulus        He       She
12      Mr. Smith fascinated Miss Smith.  0.268833  0.731167
13         The man fascinated the woman.  0.867707  0.132293
14                 John fascinated Mary.  0.838405  0.161595
15                 Bob fascinated Alice.  0.133603  0.866397
16     The actor fascinated the actress.  0.855475  0.144525
17          The boy fascinated the girl.  0.858646  0.141354
18   Mr. William fascinated Mrs. Taylor.  0.219055  0.780945
19                David fascinated Emma.  0.013104  0.986896
20   The prince fascinated the princess.  0.863554  0.136446
21              Robert fascinated Sarah.  0.137432  0.862568
22  Mr. Taylor fascinated Mrs. Williams.  0.076705  0.923295
23                Paul fascinated Emily.  0.808753  0.191247

In [106]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_13m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_13m,'She'))

P('subj-pron'|subj=male) =  0.4951058517520626
P('non-subj-pron'|subj=male) =  0.5048941498001417

In [107]:
np_average_subj_male_subj_pron['fascinated'] = compute_average(IC1_noprompt_13m,'He')
np_average_subj_male_obj_pron['fascinated'] = compute_average(IC1_noprompt_13m,'She')

### verb: "frightened"

In [108]:
IC1_noprompt_14 = pd.read_csv("../results/transfoxl/IC1/no-prompt/14.csv")
IC1_noprompt_14.head()

                            stimulus        He       She
0   Miss Smith frightened Mr. Smith.  0.291992  0.708008
1      The woman frightened the man.  0.747178  0.252822
2              Mary frightened John.  0.593152  0.406848
3              Alice frightened Bob.  0.496245  0.503756
4  The actress frightened the actor.  0.814516  0.185484

In [109]:
# female subject
IC1_noprompt_14f = IC1_noprompt_14[0:12]
IC1_noprompt_14f = IC1_noprompt_14f[["stimulus","She","He"]]
# male subject
IC1_noprompt_14m = IC1_noprompt_14[12:24]

#### female subject

In [110]:
IC1_noprompt_14f

                                stimulus       She        He
0       Miss Smith frightened Mr. Smith.  0.708008  0.291992
1          The woman frightened the man.  0.252822  0.747178
2                  Mary frightened John.  0.406848  0.593152
3                  Alice frightened Bob.  0.503756  0.496245
4      The actress frightened the actor.  0.185484  0.814516
5           The girl frightened the boy.  0.235515  0.764485
6   Mrs. Taylor frightened Mr. Williams.  0.743044  0.256956
7                 Emma frightened David.  0.930479  0.069521
8    The princess frightened the prince.  0.213669  0.786331
9               Sarah frightened Robert.  0.846680  0.153320
10  Mrs. Williams frightened Mr. Taylor.  0.622467  0.377533
11                Emily frightened Paul.  0.686182  0.313818

In [111]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_14f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_14f,'He'))

P('subj-pron'|subj=female) =  0.5279128725330035
P('non-subj-pron'|subj=female) =  0.4720871429890394

In [112]:
np_average_subj_female_subj_pron['frightened'] = compute_average(IC1_noprompt_14f,'She')
np_average_subj_female_obj_pron['frightened'] = compute_average(IC1_noprompt_14f,'He')

#### male subject

In [113]:
IC1_noprompt_14m

                                stimulus        He       She
12      Mr. Smith frightened Miss Smith.  0.470925  0.529075
13         The man frightened the woman.  0.865061  0.134939
14                 John frightened Mary.  0.667445  0.332555
15                 Bob frightened Alice.  0.222146  0.777854
16     The actor frightened the actress.  0.854572  0.145428
17          The boy frightened the girl.  0.861515  0.138485
18   Mr. William frightened Mrs. Taylor.  0.296315  0.703685
19                David frightened Emma.  0.028790  0.971210
20   The prince frightened the princess.  0.864508  0.135492
21              Robert frightened Sarah.  0.141603  0.858397
22  Mr. Taylor frightened Mrs. Williams.  0.106921  0.893079
23                Paul frightened Emily.  0.486666  0.513334

In [114]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_14m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_14m,'She'))

P('subj-pron'|subj=male) =  0.4888720973394811
P('non-subj-pron'|subj=male) =  0.5111279090245565

In [115]:
np_average_subj_male_subj_pron['frightened'] = compute_average(IC1_noprompt_14m,'He')
np_average_subj_male_obj_pron['frightened'] = compute_average(IC1_noprompt_14m,'She')

### verb: "humiliated"

In [116]:
IC1_noprompt_15 = pd.read_csv("../results/transfoxl/IC1/no-prompt/15.csv")
IC1_noprompt_15.head()

                            stimulus        He       She
0   Miss Smith humiliated Mr. Smith.  0.297454  0.702546
1      The woman humiliated the man.  0.755891  0.244109
2              Mary humiliated John.  0.657522  0.342478
3              Alice humiliated Bob.  0.614633  0.385367
4  The actress humiliated the actor.  0.823298  0.176702

In [117]:
# female subject
IC1_noprompt_15f = IC1_noprompt_15[0:12]
IC1_noprompt_15f = IC1_noprompt_15f[["stimulus","She","He"]]
# male subject
IC1_noprompt_15m = IC1_noprompt_15[12:24]

#### female subject

In [118]:
IC1_noprompt_15f

                                stimulus       She        He
0       Miss Smith humiliated Mr. Smith.  0.702546  0.297454
1          The woman humiliated the man.  0.244109  0.755891
2                  Mary humiliated John.  0.342478  0.657522
3                  Alice humiliated Bob.  0.385367  0.614633
4      The actress humiliated the actor.  0.176702  0.823298
5           The girl humiliated the boy.  0.227770  0.772229
6   Mrs. Taylor humiliated Mr. Williams.  0.679339  0.320661
7                 Emma humiliated David.  0.932341  0.067659
8    The princess humiliated the prince.  0.208722  0.791278
9               Sarah humiliated Robert.  0.681187  0.318813
10  Mrs. Williams humiliated Mr. Taylor.  0.606741  0.393259
11                Emily humiliated Paul.  0.753364  0.246636

In [119]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_15f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_15f,'He'))

P('subj-pron'|subj=female) =  0.49505556374788284
P('non-subj-pron'|subj=female) =  0.5049444437026978

In [120]:
np_average_subj_female_subj_pron['humiliated'] = compute_average(IC1_noprompt_15f,'She')
np_average_subj_female_obj_pron['humiliated'] = compute_average(IC1_noprompt_15f,'He')

#### male subject

In [121]:
IC1_noprompt_15m

                                stimulus        He       She
12      Mr. Smith humiliated Miss Smith.  0.475844  0.524156
13         The man humiliated the woman.  0.869763  0.130237
14                 John humiliated Mary.  0.810658  0.189342
15                 Bob humiliated Alice.  0.316247  0.683753
16     The actor humiliated the actress.  0.858158  0.141842
17          The boy humiliated the girl.  0.864410  0.135590
18   Mr. William humiliated Mrs. Taylor.  0.358500  0.641500
19                David humiliated Emma.  0.056518  0.943482
20   The prince humiliated the princess.  0.866948  0.133052
21              Robert humiliated Sarah.  0.216607  0.783393
22  Mr. Taylor humiliated Mrs. Williams.  0.101513  0.898487
23                Paul humiliated Emily.  0.570593  0.429407

In [122]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_15m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_15m,'She'))

P('subj-pron'|subj=male) =  0.5304798741514484
P('non-subj-pron'|subj=male) =  0.46952012926340103

In [123]:
np_average_subj_male_subj_pron['humiliated'] = compute_average(IC1_noprompt_15m,'He')
np_average_subj_male_obj_pron['humiliated'] = compute_average(IC1_noprompt_15m,'She')

### verb: "infuriated"

In [124]:
IC1_noprompt_16 = pd.read_csv("../results/transfoxl/IC1/no-prompt/16.csv")
IC1_noprompt_16.head()

                            stimulus        He       She
0   Miss Smith infuriated Mr. Smith.  0.256450  0.743550
1      The woman infuriated the man.  0.748359  0.251641
2              Mary infuriated John.  0.712832  0.287168
3              Alice infuriated Bob.  0.666323  0.333677
4  The actress infuriated the actor.  0.817107  0.182893

In [125]:
# female subject
IC1_noprompt_16f = IC1_noprompt_16[0:12]
IC1_noprompt_16f = IC1_noprompt_16f[["stimulus","She","He"]]
# male subject
IC1_noprompt_16m = IC1_noprompt_16[12:24]

#### female subject

In [126]:
IC1_noprompt_16f

                                stimulus       She        He
0       Miss Smith infuriated Mr. Smith.  0.743550  0.256450
1          The woman infuriated the man.  0.251641  0.748359
2                  Mary infuriated John.  0.287168  0.712832
3                  Alice infuriated Bob.  0.333677  0.666323
4      The actress infuriated the actor.  0.182893  0.817107
5           The girl infuriated the boy.  0.233438  0.766562
6   Mrs. Taylor infuriated Mr. Williams.  0.739729  0.260271
7                 Emma infuriated David.  0.921831  0.078169
8    The princess infuriated the prince.  0.208819  0.791181
9               Sarah infuriated Robert.  0.684166  0.315834
10  Mrs. Williams infuriated Mr. Taylor.  0.642763  0.357237
11                Emily infuriated Paul.  0.741754  0.258246

In [127]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_16f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_16f,'He'))

P('subj-pron'|subj=female) =  0.497619158277909
P('non-subj-pron'|subj=female) =  0.5023808584858974

In [128]:
np_average_subj_female_subj_pron['infuriated'] = compute_average(IC1_noprompt_16f,'She')
np_average_subj_female_obj_pron['infuriated'] = compute_average(IC1_noprompt_16f,'He')

#### male subject

In [129]:
IC1_noprompt_16m

                                stimulus        He       She
12      Mr. Smith infuriated Miss Smith.  0.342504  0.657496
13         The man infuriated the woman.  0.862196  0.137804
14                 John infuriated Mary.  0.570253  0.429747
15                 Bob infuriated Alice.  0.111846  0.888154
16     The actor infuriated the actress.  0.850082  0.149918
17          The boy infuriated the girl.  0.855044  0.144956
18   Mr. William infuriated Mrs. Taylor.  0.226371  0.773629
19                David infuriated Emma.  0.018891  0.981109
20   The prince infuriated the princess.  0.860041  0.139959
21              Robert infuriated Sarah.  0.072694  0.927306
22  Mr. Taylor infuriated Mrs. Williams.  0.058053  0.941948
23                Paul infuriated Emily.  0.809531  0.190469

In [130]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_16m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_16m,'She'))

P('subj-pron'|subj=male) =  0.46979197875286144
P('non-subj-pron'|subj=male) =  0.5302080375452837

In [131]:
np_average_subj_male_subj_pron['infuriated'] = compute_average(IC1_noprompt_16m,'He')
np_average_subj_male_obj_pron['infuriated'] = compute_average(IC1_noprompt_16m,'She')

### verb: "inspires"

In [132]:
IC1_noprompt_17 = pd.read_csv("../results/transfoxl/IC1/no-prompt/17.csv")
IC1_noprompt_17.head()

                          stimulus        He       She
0   Miss Smith inspires Mr. Smith.  0.293244  0.706756
1      The woman inspires the man.  0.749155  0.250845
2              Mary inspires John.  0.775011  0.224989
3              Alice inspires Bob.  0.625130  0.374870
4  The actress inspires the actor.  0.814664  0.185336

In [133]:
# female subject
IC1_noprompt_17f = IC1_noprompt_17[0:12]
IC1_noprompt_17f = IC1_noprompt_17f[["stimulus","She","He"]]
# male subject
IC1_noprompt_17m = IC1_noprompt_17[12:24]

#### male subject

In [134]:
IC1_noprompt_17f

                              stimulus       She        He
0       Miss Smith inspires Mr. Smith.  0.706756  0.293244
1          The woman inspires the man.  0.250845  0.749155
2                  Mary inspires John.  0.224989  0.775011
3                  Alice inspires Bob.  0.374870  0.625130
4      The actress inspires the actor.  0.185336  0.814664
5           The girl inspires the boy.  0.229977  0.770023
6   Mrs. Taylor inspires Mr. Williams.  0.722475  0.277525
7                 Emma inspires David.  0.892466  0.107534
8    The princess inspires the prince.  0.203033  0.796967
9               Sarah inspires Robert.  0.582877  0.417123
10  Mrs. Williams inspires Mr. Taylor.  0.669539  0.330461
11                Emily inspires Paul.  0.612170  0.387830

In [135]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_17f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_17f,'He'))

P('subj-pron'|subj=female) =  0.47127782056729
P('non-subj-pron'|subj=female) =  0.5287221564600865

In [136]:
np_average_subj_female_subj_pron['inspires'] = compute_average(IC1_noprompt_17f,'She')
np_average_subj_female_obj_pron['inspires'] = compute_average(IC1_noprompt_17f,'He')

#### female subject

In [137]:
IC1_noprompt_17m

                              stimulus        He       She
12      Mr. Smith inspires Miss Smith.  0.278922  0.721078
13         The man inspires the woman.  0.860298  0.139702
14                 John inspires Mary.  0.354121  0.645879
15                 Bob inspires Alice.  0.127642  0.872358
16     The actor inspires the actress.  0.853306  0.146694
17          The boy inspires the girl.  0.853322  0.146678
18   Mr. William inspires Mrs. Taylor.  0.251690  0.748309
19                David inspires Emma.  0.016976  0.983024
20   The prince inspires the princess.  0.861801  0.138199
21              Robert inspires Sarah.  0.096354  0.903646
22  Mr. Taylor inspires Mrs. Williams.  0.074303  0.925698
23                Paul inspires Emily.  0.812763  0.187237

In [138]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_17m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_17m,'She'))

P('subj-pron'|subj=male) =  0.45345818158239126
P('non-subj-pron'|subj=male) =  0.5465418087939421

In [139]:
np_average_subj_male_subj_pron['inspires'] = compute_average(IC1_noprompt_17m,'He')
np_average_subj_male_obj_pron['inspires'] = compute_average(IC1_noprompt_17m,'She')

### verb: "intimidates"

In [140]:
IC1_noprompt_18 = pd.read_csv("../results/transfoxl/IC1/no-prompt/18.csv")
IC1_noprompt_18.head()

                             stimulus        He       She
0   Miss Smith intimidates Mr. Smith.  0.323395  0.676605
1      The woman intimidates the man.  0.745202  0.254798
2              Mary intimidates John.  0.617007  0.382993
3              Alice intimidates Bob.  0.416054  0.583946
4  The actress intimidates the actor.  0.816762  0.183238

In [141]:
# female subject
IC1_noprompt_18f = IC1_noprompt_18[0:12]
IC1_noprompt_18f = IC1_noprompt_18f[["stimulus","She","He"]]
# male subject
IC1_noprompt_18m = IC1_noprompt_18[12:24]

#### female subject

In [142]:
IC1_noprompt_18f

                                 stimulus       She        He
0       Miss Smith intimidates Mr. Smith.  0.676605  0.323395
1          The woman intimidates the man.  0.254798  0.745202
2                  Mary intimidates John.  0.382993  0.617007
3                  Alice intimidates Bob.  0.583946  0.416054
4      The actress intimidates the actor.  0.183238  0.816762
5           The girl intimidates the boy.  0.235971  0.764029
6   Mrs. Taylor intimidates Mr. Williams.  0.707205  0.292795
7                 Emma intimidates David.  0.910476  0.089524
8    The princess intimidates the prince.  0.210449  0.789551
9               Sarah intimidates Robert.  0.644634  0.355366
10  Mrs. Williams intimidates Mr. Taylor.  0.668606  0.331394
11                Emily intimidates Paul.  0.759049  0.240951

In [143]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_18f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_18f,'He'))

P('subj-pron'|subj=female) =  0.5181643106043339
P('non-subj-pron'|subj=female) =  0.4818356856703758

In [144]:
np_average_subj_female_subj_pron['intimidates'] = compute_average(IC1_noprompt_18f,'She')
np_average_subj_female_obj_pron['intimidates'] = compute_average(IC1_noprompt_18f,'He')

In [145]:
IC1_noprompt_18m

                                 stimulus        He       She
12      Mr. Smith intimidates Miss Smith.  0.365892  0.634108
13         The man intimidates the woman.  0.863543  0.136457
14                 John intimidates Mary.  0.833828  0.166172
15                 Bob intimidates Alice.  0.134882  0.865118
16     The actor intimidates the actress.  0.857201  0.142799
17          The boy intimidates the girl.  0.858311  0.141689
18   Mr. William intimidates Mrs. Taylor.  0.280410  0.719590
19                David intimidates Emma.  0.018115  0.981885
20   The prince intimidates the princess.  0.861563  0.138437
21              Robert intimidates Sarah.  0.073226  0.926774
22  Mr. Taylor intimidates Mrs. Williams.  0.084293  0.915707
23                Paul intimidates Emily.  0.813871  0.186129

In [146]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_18m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_18m,'She'))

P('subj-pron'|subj=male) =  0.5037613335686425
P('non-subj-pron'|subj=male) =  0.49623867124319077

In [147]:
np_average_subj_male_subj_pron['intimidates'] = compute_average(IC1_noprompt_18m,'He')
np_average_subj_male_obj_pron['intimidates'] = compute_average(IC1_noprompt_18m,'She')

### verb: "scares"

In [148]:
IC1_noprompt_19 = pd.read_csv("../results/transfoxl/IC1/no-prompt/19.csv")
IC1_noprompt_19.head()

                        stimulus        He       She
0   Miss Smith scares Mr. Smith.  0.364700  0.635300
1      The woman scares the man.  0.745404  0.254596
2              Mary scares John.  0.634768  0.365232
3              Alice scares Bob.  0.414950  0.585050
4  The actress scares the actor.  0.817524  0.182476

In [149]:
# female subject
IC1_noprompt_19f = IC1_noprompt_19[0:12]
IC1_noprompt_19f = IC1_noprompt_19f[["stimulus","She","He"]]
# male subject
IC1_noprompt_19m = IC1_noprompt_19[12:24]

#### female subject

In [150]:
IC1_noprompt_19f

                            stimulus       She        He
0       Miss Smith scares Mr. Smith.  0.635300  0.364700
1          The woman scares the man.  0.254596  0.745404
2                  Mary scares John.  0.365232  0.634768
3                  Alice scares Bob.  0.585050  0.414950
4      The actress scares the actor.  0.182476  0.817524
5           The girl scares the boy.  0.230936  0.769064
6   Mrs. Taylor scares Mr. Williams.  0.686007  0.313993
7                 Emma scares David.  0.879273  0.120727
8    The princess scares the prince.  0.206697  0.793303
9               Sarah scares Robert.  0.775024  0.224976
10  Mrs. Williams scares Mr. Taylor.  0.598249  0.401751
11                Emily scares Paul.  0.633274  0.366726

In [151]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_19f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_19f,'He'))

P('subj-pron'|subj=female) =  0.5026761367917061
P('non-subj-pron'|subj=female) =  0.4973238781094551

In [152]:
np_average_subj_female_subj_pron['scares'] = compute_average(IC1_noprompt_19f,'She')
np_average_subj_female_obj_pron['scares'] = compute_average(IC1_noprompt_19f,'He')

#### male subject

In [153]:
IC1_noprompt_19m

                            stimulus        He       She
12      Mr. Smith scares Miss Smith.  0.372422  0.627578
13         The man scares the woman.  0.861100  0.138900
14                 John scares Mary.  0.837508  0.162492
15                 Bob scares Alice.  0.158889  0.841111
16     The actor scares the actress.  0.859700  0.140300
17          The boy scares the girl.  0.860256  0.139744
18   Mr. William scares Mrs. Taylor.  0.279208  0.720792
19                David scares Emma.  0.018157  0.981843
20   The prince scares the princess.  0.862982  0.137018
21              Robert scares Sarah.  0.055643  0.944357
22  Mr. Taylor scares Mrs. Williams.  0.073339  0.926661
23                Paul scares Emily.  0.812625  0.187375

In [154]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_19m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_19m,'She'))

P('subj-pron'|subj=male) =  0.5043190669578811
P('non-subj-pron'|subj=male) =  0.49568095182379085

In [155]:
np_average_subj_male_subj_pron['scares'] = compute_average(IC1_noprompt_19m,'He')
np_average_subj_male_obj_pron['scares'] = compute_average(IC1_noprompt_19m,'She')

### verb: "surprised"

In [156]:
IC1_noprompt_20 = pd.read_csv("../results/transfoxl/IC1/no-prompt/20.csv")
IC1_noprompt_20.head()

                           stimulus        He       She
0   Miss Smith surprised Mr. Smith.  0.281327  0.718673
1      The woman surprised the man.  0.748899  0.251101
2              Mary surprised John.  0.735337  0.264663
3              Alice surprised Bob.  0.531154  0.468846
4  The actress surprised the actor.  0.829917  0.170083

In [157]:
# female subject
IC1_noprompt_20f = IC1_noprompt_20[0:12]
IC1_noprompt_20f = IC1_noprompt_20f[["stimulus","She","He"]]
# male subject
IC1_noprompt_20m = IC1_noprompt_20[12:24]

#### female subject

In [158]:
IC1_noprompt_20f

                               stimulus       She        He
0       Miss Smith surprised Mr. Smith.  0.718673  0.281327
1          The woman surprised the man.  0.251101  0.748899
2                  Mary surprised John.  0.264663  0.735337
3                  Alice surprised Bob.  0.468846  0.531154
4      The actress surprised the actor.  0.170083  0.829917
5           The girl surprised the boy.  0.228455  0.771545
6   Mrs. Taylor surprised Mr. Williams.  0.613410  0.386590
7                 Emma surprised David.  0.895576  0.104424
8    The princess surprised the prince.  0.202433  0.797567
9               Sarah surprised Robert.  0.525108  0.474892
10  Mrs. Williams surprised Mr. Taylor.  0.546545  0.453455
11                Emily surprised Paul.  0.738901  0.261099

In [159]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_noprompt_20f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_noprompt_20f,'He'))

P('subj-pron'|subj=female) =  0.46864956865708035
P('non-subj-pron'|subj=female) =  0.5313504002988338

In [160]:
np_average_subj_female_subj_pron['surprised'] = compute_average(IC1_noprompt_20f,'She')
np_average_subj_female_obj_pron['surprised'] = compute_average(IC1_noprompt_20f,'He')

#### male subject

In [161]:
IC1_noprompt_20m

                               stimulus        He       She
12      Mr. Smith surprised Miss Smith.  0.628507  0.371493
13         The man surprised the woman.  0.864471  0.135529
14                 John surprised Mary.  0.783320  0.216680
15                 Bob surprised Alice.  0.153316  0.846685
16     The actor surprised the actress.  0.860951  0.139049
17          The boy surprised the girl.  0.857961  0.142039
18   Mr. William surprised Mrs. Taylor.  0.480853  0.519147
19                David surprised Emma.  0.084213  0.915787
20   The prince surprised the princess.  0.865794  0.134206
21              Robert surprised Sarah.  0.143238  0.856762
22  Mr. Taylor surprised Mrs. Williams.  0.111149  0.888850
23                Paul surprised Emily.  0.560366  0.439634

In [162]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_noprompt_20m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_noprompt_20m,'She'))

P('subj-pron'|subj=male) =  0.5328449569642544
P('non-subj-pron'|subj=male) =  0.46715504427750904

In [163]:
np_average_subj_male_subj_pron['surprised'] = compute_average(IC1_noprompt_20m,'He')
np_average_subj_male_obj_pron['surprised'] = compute_average(IC1_noprompt_20m,'She')

## Summary of Results

In [164]:
np_results_fsubj_subjpron = pd.DataFrame(list(np_average_subj_female_subj_pron.items()),columns=['verb','subj_ref_female_subj'])
np_results_fsubj_objpron = pd.DataFrame(list(np_average_subj_female_obj_pron.items()),columns=['verb','obj_ref_female_subj'])
np_results_fsubj = np_results_fsubj_subjpron.merge(np_results_fsubj_objpron)
np_results_fsubj

            verb  subj_ref_female_subj  obj_ref_female_subj
0     aggravated              0.491463             0.508537
1         amazed              0.444799             0.555201
2         amused              0.488475             0.511525
3        annoyed              0.528708             0.471292
4     apologized              0.473771             0.526229
5          bored              0.495418             0.504582
6        charmed              0.473178             0.526822
7       offended              0.504920             0.495080
8      confessed              0.603152             0.396848
9       deceived              0.510799             0.489201
10  disappointed              0.491102             0.508898
11   exasperated              0.521312             0.478688
12    fascinated              0.544869             0.455131
13    frightened              0.527913             0.472087
14    humiliated              0.495056             0.504944
15    infuriated              0.497619             0.502381
16      inspires              0.471278             0.528722
17   intimidates              0.518164             0.481836
18        scares              0.502676             0.497324
19     surprised              0.468650             0.531350

In [165]:
np_results_msubj_subjpron = pd.DataFrame(list(np_average_subj_male_subj_pron.items()),columns=['verb','subj_ref_male_subj'])
np_results_msubj_objpron = pd.DataFrame(list(np_average_subj_male_obj_pron.items()),columns=['verb','obj_ref_male_subj'])
np_results_msubj = np_results_msubj_subjpron.merge(np_results_msubj_objpron)
np_results_msubj

            verb  subj_ref_male_subj  obj_ref_male_subj
0     aggravated            0.543154           0.456846
1         amazed            0.454018           0.545982
2         amused            0.515686           0.484314
3        annoyed            0.502221           0.497779
4     apologized            0.621810           0.378190
5          bored            0.501182           0.498818
6        charmed            0.495239           0.504761
7       offended            0.498990           0.501010
8      confessed            0.538564           0.461436
9       deceived            0.467311           0.532689
10  disappointed            0.567164           0.432836
11   exasperated            0.492851           0.507149
12    fascinated            0.495106           0.504894
13    frightened            0.488872           0.511128
14    humiliated            0.530480           0.469520
15    infuriated            0.469792           0.530208
16      inspires            0.453458           0.546542
17   intimidates            0.503761           0.496239
18        scares            0.504319           0.495681
19     surprised            0.532845           0.467155

In [166]:
np_results =  np_results_fsubj.merge(np_results_msubj)
np_results

,verb,subj_ref_female_subj,obj_ref_female_subj,subj_ref_male_subj,obj_ref_male_subj
0,aggravated,0.491463,0.508537,0.543154,0.456846
1,amazed,0.444799,0.555201,0.454018,0.545982
2,amused,0.488475,0.511525,0.515686,0.484314
3,annoyed,0.528708,0.471292,0.502221,0.497779
4,apologized,0.473771,0.526229,0.621810,0.378190
5,bored,0.495418,0.504582,0.501182,0.498818
6,charmed,0.473178,0.526822,0.495239,0.504761
7,offended,0.504920,0.495080,0.498990,0.501010
8,confessed,0.603152,0.396848,0.538564,0.461436
9,deceived,0.510799,0.489201,0.467311,0.532689
10,disappointed,0.491102,0.508898,0.567164,0.432836
11,exasperated,0.521312,0.478688,0.492851,0.507149
12,fascinated,0.544869,0.455131,0.495106,0.504894
13,frightened,0.527913,0.472087,0.488872,0.511128
14,humiliated,0.495056,0.504944,0.530480,0.469520
15,infuriated,0.497619,0.502381,0.469792,0.530208
16,inspires,0.471278,0.528722,0.453458,0.546542
17,intimidates,0.518164,0.481836,0.503761,0.496239
18,scares,0.502676,0.497324,0.504319,0.495681
19,surprised,0.468650,0.531350,0.532845,0.467155

In [167]:
print("P(subj_reference |subj=female)", compute_average(np_results,'subj_ref_female_subj'))
print("P(obj_reference |subj=female)", compute_average(np_results,'obj_ref_female_subj'))

P(subj_reference |subj=female) 0.5026660765831668
P(obj_reference |subj=female) 0.49733392059182135

In [168]:
print("P(subj_reference |subj=male)", compute_average(np_results,'subj_ref_male_subj'))
print("P(obj_reference |subj=male)", compute_average(np_results,'obj_ref_male_subj'))

P(subj_reference |subj=male) 0.5088411673437804
P(obj_reference |subj=male) 0.4911588329200944

## Connective: "because"

In [169]:
c1_average_subj_female_subj_pron = {}
c1_average_subj_female_obj_pron = {}
c1_average_subj_male_subj_pron = {}
c1_average_subj_male_obj_pron = {}

### verb: "aggravated"

In [170]:
IC1_connective1_1 = pd.read_csv("../results/transfoxl/IC1/connective1/1.csv")
IC1_connective1_1.head()

                                   stimulus        he       she
0   Miss Smith aggravated Mr. Smith because  0.170537  0.829463
1      The woman aggravated the man because  0.315465  0.684535
2              Mary aggravated John because  0.318232  0.681768
3              Alice aggravated Bob because  0.231620  0.768380
4  The actress aggravated the actor because  0.285826  0.714174

In [171]:
# female subject
IC1_connective1_1f = IC1_connective1_1[0:12]
IC1_connective1_1f = IC1_connective1_1f[["stimulus","she","he"]]
# male subject
IC1_connective1_1m = IC1_connective1_1[12:24]

#### female subject

In [172]:
IC1_connective1_1f

                                       stimulus       she        he
0       Miss Smith aggravated Mr. Smith because  0.829463  0.170537
1          The woman aggravated the man because  0.684535  0.315465
2                  Mary aggravated John because  0.681768  0.318232
3                  Alice aggravated Bob because  0.768380  0.231620
4      The actress aggravated the actor because  0.714174  0.285826
5           The girl aggravated the boy because  0.708189  0.291810
6   Mrs. Taylor aggravated Mr. Williams because  0.523774  0.476226
7                 Emma aggravated David because  0.884410  0.115590
8    The princess aggravated the prince because  0.588007  0.411993
9               Sarah aggravated Robert because  0.813035  0.186965
10  Mrs. Williams aggravated Mr. Taylor because  0.507069  0.492931
11                Emily aggravated Paul because  0.807947  0.192054

In [173]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_1f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_1f,'he'))

P('subj-pron'|subj=female) =  0.7092291712760925
P('non-subj-pron'|subj=female) =  0.29077082872390747

In [174]:
c1_average_subj_female_subj_pron['aggravated'] = compute_average(IC1_connective1_1f,'she')
c1_average_subj_female_obj_pron['aggravated'] = compute_average(IC1_connective1_1f,'he')

#### male subject

In [175]:
IC1_connective1_1m

                                       stimulus        he       she
12      Mr. Smith aggravated Miss Smith because  0.405971  0.594029
13         The man aggravated the woman because  0.610397  0.389603
14                 John aggravated Mary because  0.699654  0.300346
15                 Bob aggravated Alice because  0.301265  0.698735
16     The actor aggravated the actress because  0.412338  0.587662
17          The boy aggravated the girl because  0.654564  0.345436
18   Mr. William aggravated Mrs. Taylor because  0.335308  0.664692
19                David aggravated Emma because  0.500946  0.499054
20   The prince aggravated the princess because  0.632954  0.367046
21              Robert aggravated Sarah because  0.308893  0.691107
22  Mr. Taylor aggravated Mrs. Williams because  0.101758  0.898242
23                Paul aggravated Emily because  0.462813  0.537187

In [176]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_1m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_1m,'she'))

P('subj-pron'|subj=male) =  0.45223838463425636
P('non-subj-pron'|subj=male) =  0.5477616166075071

In [177]:
c1_average_subj_male_subj_pron['aggravated'] = compute_average(IC1_connective1_1m,'he')
c1_average_subj_male_obj_pron['aggravated'] = compute_average(IC1_connective1_1m,'she')

### verb: "amazed"

In [178]:
IC1_connective1_2 = pd.read_csv("../results/transfoxl/IC1/connective1/2.csv")
IC1_connective1_2.head()

                               stimulus        he       she
0   Miss Smith amazed Mr. Smith because  0.165797  0.834203
1      The woman amazed the man because  0.338031  0.661969
2              Mary amazed John because  0.312493  0.687507
3              Alice amazed Bob because  0.282944  0.717056
4  The actress amazed the actor because  0.340974  0.659026

In [179]:
# female subject
IC1_connective1_2f = IC1_connective1_2[0:12]
IC1_connective1_2f = IC1_connective1_2f[["stimulus","she","he"]]
# male subject
IC1_connective1_2m = IC1_connective1_2[12:24]

#### female subject

In [180]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_2f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_2f,'he'))

P('subj-pron'|subj=female) =  0.6557517846425375
P('non-subj-pron'|subj=female) =  0.3442482091486454

In [181]:
c1_average_subj_female_subj_pron['amazed'] = compute_average(IC1_connective1_2f,'she')
c1_average_subj_female_obj_pron['amazed'] = compute_average(IC1_connective1_2f,'he')

#### male subject

In [182]:
IC1_connective1_2m

                                   stimulus        he       she
12      Mr. Smith amazed Miss Smith because  0.845368  0.154632
13         The man amazed the woman because  0.893467  0.106533
14                 John amazed Mary because  0.763085  0.236915
15                 Bob amazed Alice because  0.449029  0.550971
16     The actor amazed the actress because  0.938733  0.061267
17          The boy amazed the girl because  0.913013  0.086987
18   Mr. William amazed Mrs. Taylor because  0.605164  0.394836
19                David amazed Emma because  0.701355  0.298645
20   The prince amazed the princess because  0.952039  0.047961
21              Robert amazed Sarah because  0.786972  0.213028
22  Mr. Taylor amazed Mrs. Williams because  0.240845  0.759155
23                Paul amazed Emily because  0.705420  0.294580

In [183]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_2m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_2m,'she'))

P('subj-pron'|subj=male) =  0.7328741314510504
P('non-subj-pron'|subj=male) =  0.26712586389233667

In [184]:
c1_average_subj_male_subj_pron['amazed'] = compute_average(IC1_connective1_2m,'he')
c1_average_subj_male_obj_pron['amazed'] = compute_average(IC1_connective1_2m,'she')

### verb: "amused"

In [185]:
IC1_connective1_3 = pd.read_csv("../results/transfoxl/IC1/connective1/3.csv")
IC1_connective1_3.head()

                               stimulus        he       she
0   Miss Smith amused Mr. Smith because  0.156785  0.843215
1      The woman amused the man because  0.376120  0.623880
2              Mary amused John because  0.326680  0.673320
3              Alice amused Bob because  0.293258  0.706742
4  The actress amused the actor because  0.389720  0.610280

In [186]:
# female subject
IC1_connective1_3f = IC1_connective1_3[0:12]
IC1_connective1_3f = IC1_connective1_3f[["stimulus","she","he"]]
# male subject
IC1_connective1_3m = IC1_connective1_3[12:24]

#### female subject

In [187]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_3f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_3f,'he'))

P('subj-pron'|subj=female) =  0.6687391251325607
P('non-subj-pron'|subj=female) =  0.33126089721918106

In [188]:
c1_average_subj_female_subj_pron['amused'] = compute_average(IC1_connective1_3f,'she')
c1_average_subj_female_obj_pron['amused'] = compute_average(IC1_connective1_3f,'he')

#### male subject

In [189]:
IC1_connective1_3m

                                   stimulus        he       she
12      Mr. Smith amused Miss Smith because  0.632498  0.367502
13         The man amused the woman because  0.826822  0.173178
14                 John amused Mary because  0.641637  0.358363
15                 Bob amused Alice because  0.303510  0.696490
16     The actor amused the actress because  0.845245  0.154755
17          The boy amused the girl because  0.853709  0.146291
18   Mr. William amused Mrs. Taylor because  0.475275  0.524725
19                David amused Emma because  0.497320  0.502680
20   The prince amused the princess because  0.866175  0.133825
21              Robert amused Sarah because  0.543317  0.456683
22  Mr. Taylor amused Mrs. Williams because  0.189020  0.810980
23                Paul amused Emily because  0.504693  0.495307

In [190]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_3m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_3m,'she'))

P('subj-pron'|subj=male) =  0.5982684927682081
P('non-subj-pron'|subj=male) =  0.4017315171658993

In [191]:
c1_average_subj_male_subj_pron['amused'] = compute_average(IC1_connective1_3m,'he')
c1_average_subj_male_obj_pron['amused'] = compute_average(IC1_connective1_3m,'she')

### verb: "annoyed"

In [192]:
IC1_connective1_4 = pd.read_csv("../results/transfoxl/IC1/connective1/4.csv")
IC1_connective1_4.head()

                                stimulus        he       she
0   Miss Smith annoyed Mr. Smith because  0.126331  0.873669
1      The woman annoyed the man because  0.338202  0.661798
2              Mary annoyed John because  0.265800  0.734200
3              Alice annoyed Bob because  0.284147  0.715853
4  The actress annoyed the actor because  0.346982  0.653018

In [193]:
# female subject
IC1_connective1_4f = IC1_connective1_4[0:12]
IC1_connective1_4f = IC1_connective1_4f[["stimulus","she","he"]]
# male subject
IC1_connective1_4m = IC1_connective1_4[12:24]

#### female subject

In [194]:
IC1_connective1_4f

                                    stimulus       she        he
0       Miss Smith annoyed Mr. Smith because  0.873669  0.126331
1          The woman annoyed the man because  0.661798  0.338202
2                  Mary annoyed John because  0.734200  0.265800
3                  Alice annoyed Bob because  0.715853  0.284147
4      The actress annoyed the actor because  0.653018  0.346982
5           The girl annoyed the boy because  0.668294  0.331706
6   Mrs. Taylor annoyed Mr. Williams because  0.534127  0.465872
7                 Emma annoyed David because  0.829957  0.170043
8    The princess annoyed the prince because  0.625411  0.374589
9               Sarah annoyed Robert because  0.705654  0.294346
10  Mrs. Williams annoyed Mr. Taylor because  0.518435  0.481565
11                Emily annoyed Paul because  0.752606  0.247394

In [195]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_4f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_4f,'he'))

P('subj-pron'|subj=female) =  0.6894185443719228
P('non-subj-pron'|subj=female) =  0.31058145066102344

In [196]:
c1_average_subj_female_subj_pron['annoyed'] = compute_average(IC1_connective1_4f,'she')
c1_average_subj_female_obj_pron['annoyed'] = compute_average(IC1_connective1_4f,'he')

#### male subject

In [197]:
IC1_connective1_4m

                                    stimulus        he       she
12      Mr. Smith annoyed Miss Smith because  0.519702  0.480298
13         The man annoyed the woman because  0.686465  0.313535
14                 John annoyed Mary because  0.643799  0.356201
15                 Bob annoyed Alice because  0.280750  0.719250
16     The actor annoyed the actress because  0.675418  0.324582
17          The boy annoyed the girl because  0.677365  0.322635
18   Mr. William annoyed Mrs. Taylor because  0.512668  0.487332
19                David annoyed Emma because  0.482571  0.517429
20   The prince annoyed the princess because  0.749942  0.250058
21              Robert annoyed Sarah because  0.528075  0.471925
22  Mr. Taylor annoyed Mrs. Williams because  0.205432  0.794568
23                Paul annoyed Emily because  0.515554  0.484446

In [198]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_4m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_4m,'she'))

P('subj-pron'|subj=male) =  0.5398118011653423
P('non-subj-pron'|subj=male) =  0.46018820255994797

In [199]:
c1_average_subj_male_subj_pron['annoyed'] = compute_average(IC1_connective1_4m,'he')
c1_average_subj_male_obj_pron['annoyed'] = compute_average(IC1_connective1_4m,'she')

### verb: "apologized"

In [200]:
IC1_connective1_5 = pd.read_csv("../results/transfoxl/IC1/connective1/5.csv")
IC1_connective1_5.head()

                                      stimulus        he       she
0   Miss Smith apologized to Mr. Smith because  0.125812  0.874188
1      The woman apologized to the man because  0.500385  0.499615
2              Mary apologized to John because  0.289726  0.710274
3              Alice apologized to Bob because  0.262943  0.737057
4  The actress apologized to the actor because  0.327390  0.672610

In [201]:
# female subject
IC1_connective1_5f = IC1_connective1_5[0:12]
IC1_connective1_5f = IC1_connective1_5[["stimulus","she","he"]]
# male subject
IC1_connective1_5m = IC1_connective1_5[12:24]

#### female subject

In [202]:
IC1_connective1_5f

                                          stimulus       she        he
0       Miss Smith apologized to Mr. Smith because  0.874188  0.125812
1          The woman apologized to the man because  0.499615  0.500385
2                  Mary apologized to John because  0.710274  0.289726
3                  Alice apologized to Bob because  0.737057  0.262943
4      The actress apologized to the actor because  0.672610  0.327390
5           The girl apologized to the boy because  0.539913  0.460087
6   Mrs. Taylor apologized to Mr. Williams because  0.617673  0.382327
7                 Emma apologized to David because  0.845260  0.154740
8    The princess apologized to the prince because  0.504493  0.495507
9               Sarah apologized to Robert because  0.774411  0.225589
10  Mrs. Williams apologized to Mr. Taylor because  0.627768  0.372232
11                Emily apologized to Paul because  0.881063  0.118937
12      Mr. Smith apologized to Miss Smith because  0.442944  0.557056
13         The man apologized to the woman because  0.461990  0.538010
14                 John apologized to Mary because  0.376458  0.623542
15                 Bob apologized to Alice because  0.650462  0.349538
16     The actor apologized to the actress because  0.646348  0.353652
17          The boy apologized to the girl because  0.422660  0.577340
18   Mr. William apologized to Mrs. Taylor because  0.490866  0.509134
19                David apologized to Emma because  0.436244  0.563756
20   The prince apologized to the princess because  0.444666  0.555334
21              Robert apologized to Sarah because  0.674739  0.325261
22  Mr. Taylor apologized to Mrs. Williams because  0.692688  0.307312
23                Paul apologized to Emily because  0.498013  0.501987

In [203]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_5f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_5f,'he'))

P('subj-pron'|subj=female) =  0.6051001424590746
P('non-subj-pron'|subj=female) =  0.3948998621975382

In [204]:
c1_average_subj_female_subj_pron['apologized'] = compute_average(IC1_connective1_5f,'she')
c1_average_subj_female_obj_pron['apologized'] = compute_average(IC1_connective1_5f,'he')

#### male subject

In [205]:
IC1_connective1_5m

                                          stimulus        he       she
12      Mr. Smith apologized to Miss Smith because  0.557056  0.442944
13         The man apologized to the woman because  0.538010  0.461990
14                 John apologized to Mary because  0.623542  0.376458
15                 Bob apologized to Alice because  0.349538  0.650462
16     The actor apologized to the actress because  0.353652  0.646348
17          The boy apologized to the girl because  0.577340  0.422660
18   Mr. William apologized to Mrs. Taylor because  0.509134  0.490866
19                David apologized to Emma because  0.563756  0.436244
20   The prince apologized to the princess because  0.555334  0.444666
21              Robert apologized to Sarah because  0.325261  0.674739
22  Mr. Taylor apologized to Mrs. Williams because  0.307312  0.692688
23                Paul apologized to Emily because  0.501987  0.498013

In [206]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_5m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_5m,'she'))

P('subj-pron'|subj=male) =  0.48016007741292316
P('non-subj-pron'|subj=male) =  0.519839937488238

In [207]:
c1_average_subj_male_subj_pron['apologized'] = compute_average(IC1_connective1_5m,'he')
c1_average_subj_male_obj_pron['apologized'] = compute_average(IC1_connective1_5m,'she')

### verb: "bored"

In [208]:
IC1_connective1_6 = pd.read_csv("../results/transfoxl/IC1/connective1/6.csv")
IC1_connective1_6.head()

                              stimulus        he       she
0   Miss Smith bored Mr. Smith because  0.265240  0.734761
1      The woman bored the man because  0.558035  0.441965
2              Mary bored John because  0.484268  0.515732
3              Alice bored Bob because  0.568049  0.431951
4  The actress bored the actor because  0.583363  0.416637

In [209]:
# female subject
IC1_connective1_6f = IC1_connective1_6[0:12]
IC1_connective1_6f = IC1_connective1_6[["stimulus","she","he"]]
# male subject
IC1_connective1_6m = IC1_connective1_6[12:24]

#### female subject

In [210]:
IC1_connective1_6f

                                  stimulus       she        he
0       Miss Smith bored Mr. Smith because  0.734761  0.265240
1          The woman bored the man because  0.441965  0.558035
2                  Mary bored John because  0.515732  0.484268
3                  Alice bored Bob because  0.431951  0.568049
4      The actress bored the actor because  0.416637  0.583363
5           The girl bored the boy because  0.498490  0.501510
6   Mrs. Taylor bored Mr. Williams because  0.388319  0.611681
7                 Emma bored David because  0.635354  0.364646
8    The princess bored the prince because  0.424754  0.575245
9               Sarah bored Robert because  0.552384  0.447616
10  Mrs. Williams bored Mr. Taylor because  0.411290  0.588710
11                Emily bored Paul because  0.543099  0.456901
12      Mr. Smith bored Miss Smith because  0.759566  0.240434
13         The man bored the woman because  0.422873  0.577127
14                 John bored Mary because  0.625566  0.374434
15                 Bob bored Alice because  0.860444  0.139556
16     The actor bored the actress because  0.732145  0.267855
17          The boy bored the girl because  0.437601  0.562399
18   Mr. William bored Mrs. Taylor because  0.738352  0.261648
19                David bored Emma because  0.720551  0.279448
20   The prince bored the princess because  0.475201  0.524799
21              Robert bored Sarah because  0.815778  0.184222
22  Mr. Taylor bored Mrs. Williams because  0.891608  0.108392
23                Paul bored Emily because  0.735668  0.264332

In [211]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_6f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_6f,'he'))

P('subj-pron'|subj=female) =  0.5920870751142502
P('non-subj-pron'|subj=female) =  0.4079129270588358

In [212]:
c1_average_subj_female_subj_pron['bored'] = compute_average(IC1_connective1_6f,'she')
c1_average_subj_female_obj_pron['bored'] = compute_average(IC1_connective1_6f,'he')

#### male subject

In [213]:
IC1_connective1_6m

                                  stimulus        he       she
12      Mr. Smith bored Miss Smith because  0.240434  0.759566
13         The man bored the woman because  0.577127  0.422873
14                 John bored Mary because  0.374434  0.625566
15                 Bob bored Alice because  0.139556  0.860444
16     The actor bored the actress because  0.267855  0.732145
17          The boy bored the girl because  0.562399  0.437601
18   Mr. William bored Mrs. Taylor because  0.261648  0.738352
19                David bored Emma because  0.279448  0.720551
20   The prince bored the princess because  0.524799  0.475201
21              Robert bored Sarah because  0.184222  0.815778
22  Mr. Taylor bored Mrs. Williams because  0.108392  0.891608
23                Paul bored Emily because  0.264332  0.735668

In [214]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_6m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_6m,'she'))

P('subj-pron'|subj=male) =  0.3153871639321248
P('non-subj-pron'|subj=male) =  0.6846128304799398

In [215]:
c1_average_subj_male_subj_pron['bored'] = compute_average(IC1_connective1_6m,'he')
c1_average_subj_male_obj_pron['bored'] = compute_average(IC1_connective1_6m,'she')

### verb: "charmed"

In [216]:
IC1_connective1_7 = pd.read_csv("../results/transfoxl/IC1/connective1/7.csv")
IC1_connective1_7.head()

                                stimulus        he       she
0   Miss Smith charmed Mr. Smith because  0.228038  0.771962
1      The woman charmed the man because  0.412278  0.587722
2              Mary charmed John because  0.337217  0.662783
3              Alice charmed Bob because  0.311920  0.688080
4  The actress charmed the actor because  0.403587  0.596413

In [217]:
# female subject
IC1_connective1_7f = IC1_connective1_7[0:12]
IC1_connective1_7f = IC1_connective1_7f[["stimulus","she","he"]]
# male subject
IC1_connective1_7m = IC1_connective1_7[12:24]

#### female subject

In [218]:
IC1_connective1_7f

                                    stimulus       she        he
0       Miss Smith charmed Mr. Smith because  0.771962  0.228038
1          The woman charmed the man because  0.587722  0.412278
2                  Mary charmed John because  0.662783  0.337217
3                  Alice charmed Bob because  0.688080  0.311920
4      The actress charmed the actor because  0.596413  0.403587
5           The girl charmed the boy because  0.613946  0.386053
6   Mrs. Taylor charmed Mr. Williams because  0.538987  0.461013
7                 Emma charmed David because  0.808031  0.191969
8    The princess charmed the prince because  0.538155  0.461845
9               Sarah charmed Robert because  0.608648  0.391352
10  Mrs. Williams charmed Mr. Taylor because  0.521210  0.478790
11                Emily charmed Paul because  0.657829  0.342171

In [219]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_7f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_7f,'he'))

P('subj-pron'|subj=female) =  0.6328137119611105
P('non-subj-pron'|subj=female) =  0.367186280588309

In [220]:
c1_average_subj_female_subj_pron['charmed'] = compute_average(IC1_connective1_7f,'she')
c1_average_subj_female_obj_pron['charmed'] = compute_average(IC1_connective1_7f,'he')

#### male subject

In [221]:
IC1_connective1_7m

                                    stimulus        he       she
12      Mr. Smith charmed Miss Smith because  0.623865  0.376135
13         The man charmed the woman because  0.746543  0.253457
14                 John charmed Mary because  0.608455  0.391545
15                 Bob charmed Alice because  0.356779  0.643221
16     The actor charmed the actress because  0.697063  0.302937
17          The boy charmed the girl because  0.795816  0.204184
18   Mr. William charmed Mrs. Taylor because  0.489665  0.510335
19                David charmed Emma because  0.530977  0.469023
20   The prince charmed the princess because  0.744565  0.255435
21              Robert charmed Sarah because  0.544116  0.455884
22  Mr. Taylor charmed Mrs. Williams because  0.229451  0.770549
23                Paul charmed Emily because  0.525907  0.474094

In [222]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_7m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_7m,'she'))

P('subj-pron'|subj=male) =  0.5744334223369757
P('non-subj-pron'|subj=male) =  0.42556657021244365

In [223]:
c1_average_subj_male_subj_pron['charmed'] = compute_average(IC1_connective1_7m,'he')
c1_average_subj_male_obj_pron['charmed'] = compute_average(IC1_connective1_7m,'she')

### verb: "offended"

In [224]:
IC1_connective1_8 = pd.read_csv("../results/transfoxl/IC1/connective1/8.csv")
IC1_connective1_8.head()

                                 stimulus        he       she
0   Miss Smith offended Mr. Smith because  0.165675  0.834325
1      The woman offended the man because  0.390513  0.609487
2              Mary offended John because  0.308598  0.691402
3              Alice offended Bob because  0.283124  0.716876
4  The actress offended the actor because  0.370094  0.629906

In [225]:
# female subject
IC1_connective1_8f = IC1_connective1_8[0:12]
IC1_connective1_8f = IC1_connective1_8f[["stimulus","she","he"]]
# male subject
IC1_connective1_8m = IC1_connective1_8[12:24]

#### female subject

In [226]:
IC1_connective1_8f

                                     stimulus       she        he
0       Miss Smith offended Mr. Smith because  0.834325  0.165675
1          The woman offended the man because  0.609487  0.390513
2                  Mary offended John because  0.691402  0.308598
3                  Alice offended Bob because  0.716876  0.283124
4      The actress offended the actor because  0.629906  0.370094
5           The girl offended the boy because  0.614887  0.385113
6   Mrs. Taylor offended Mr. Williams because  0.519800  0.480200
7                 Emma offended David because  0.798235  0.201765
8    The princess offended the prince because  0.566720  0.433280
9               Sarah offended Robert because  0.625652  0.374348
10  Mrs. Williams offended Mr. Taylor because  0.509613  0.490387
11                Emily offended Paul because  0.738055  0.261945

In [227]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_8f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_8f,'he'))

P('subj-pron'|subj=female) =  0.6545798530181249
P('non-subj-pron'|subj=female) =  0.34542013828953105

In [228]:
c1_average_subj_female_subj_pron['offended'] = compute_average(IC1_connective1_8f,'she')
c1_average_subj_female_obj_pron['offended'] = compute_average(IC1_connective1_8f,'he')

#### male subject

In [229]:
IC1_connective1_8m

                                     stimulus        he       she
12      Mr. Smith offended Miss Smith because  0.456434  0.543566
13         The man offended the woman because  0.709828  0.290172
14                 John offended Mary because  0.641189  0.358811
15                 Bob offended Alice because  0.225929  0.774071
16     The actor offended the actress because  0.775768  0.224232
17          The boy offended the girl because  0.693693  0.306307
18   Mr. William offended Mrs. Taylor because  0.459905  0.540095
19                David offended Emma because  0.511666  0.488334
20   The prince offended the princess because  0.745335  0.254665
21              Robert offended Sarah because  0.531271  0.468729
22  Mr. Taylor offended Mrs. Williams because  0.167743  0.832257
23                Paul offended Emily because  0.478667  0.521333

In [230]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_8m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_8m,'she'))

P('subj-pron'|subj=male) =  0.5331188403069973
P('non-subj-pron'|subj=male) =  0.4668811708688736

In [231]:
c1_average_subj_male_subj_pron['offended'] = compute_average(IC1_connective1_8m,'he')
c1_average_subj_male_obj_pron['offended'] = compute_average(IC1_connective1_8m,'she')

### verb: "confessed"

In [232]:
IC1_connective1_9 = pd.read_csv("../results/transfoxl/IC1/connective1/9.csv")
IC1_connective1_9.head()

                                     stimulus        he       she
0   Miss Smith confessed to Mr. Smith because  0.066747  0.933253
1      The woman confessed to the man because  0.114752  0.885248
2              Mary confessed to John because  0.059146  0.940854
3              Alice confessed to Bob because  0.030840  0.969160
4  The actress confessed to the actor because  0.071869  0.928131

In [233]:
# female subject
IC1_connective1_9f = IC1_connective1_9[0:12]
IC1_connective1_9f = IC1_connective1_9f[["stimulus","she","he"]]
# male subject
IC1_connective1_9m = IC1_connective1_9[12:24]

#### female subject

In [234]:
IC1_connective1_9f

                                         stimulus       she        he
0       Miss Smith confessed to Mr. Smith because  0.933253  0.066747
1          The woman confessed to the man because  0.885248  0.114752
2                  Mary confessed to John because  0.940854  0.059146
3                  Alice confessed to Bob because  0.969160  0.030840
4      The actress confessed to the actor because  0.928131  0.071869
5           The girl confessed to the boy because  0.897593  0.102407
6   Mrs. Taylor confessed to Mr. Williams because  0.725762  0.274238
7                 Emma confessed to David because  0.970318  0.029682
8    The princess confessed to the prince because  0.895138  0.104862
9               Sarah confessed to Robert because  0.962102  0.037898
10  Mrs. Williams confessed to Mr. Taylor because  0.711309  0.288691
11                Emily confessed to Paul because  0.965710  0.034290

In [235]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_9f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_9f,'he'))

P('subj-pron'|subj=female) =  0.8987147510051727
P('non-subj-pron'|subj=female) =  0.10128525923937559

In [236]:
c1_average_subj_female_subj_pron['confessed'] = compute_average(IC1_connective1_9f,'she')
c1_average_subj_female_obj_pron['confessed'] = compute_average(IC1_connective1_9f,'he')

#### male subject

In [237]:
IC1_connective1_9m

                                         stimulus        he       she
12      Mr. Smith confessed to Miss Smith because  0.702336  0.297664
13         The man confessed to the woman because  0.716089  0.283911
14                 John confessed to Mary because  0.948470  0.051530
15                 Bob confessed to Alice because  0.725677  0.274323
16     The actor confessed to the actress because  0.659020  0.340980
17          The boy confessed to the girl because  0.825043  0.174957
18   Mr. William confessed to Mrs. Taylor because  0.578583  0.421417
19                David confessed to Emma because  0.808154  0.191846
20   The prince confessed to the princess because  0.851335  0.148665
21              Robert confessed to Sarah because  0.771717  0.228283
22  Mr. Taylor confessed to Mrs. Williams because  0.227877  0.772123
23                Paul confessed to Emily because  0.699517  0.300483

In [238]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_9m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_9m,'she'))

P('subj-pron'|subj=male) =  0.7094847845534483
P('non-subj-pron'|subj=male) =  0.29051520582288504

In [239]:
c1_average_subj_male_subj_pron['confessed'] = compute_average(IC1_connective1_9m,'he')
c1_average_subj_male_obj_pron['confessed'] = compute_average(IC1_connective1_9m,'she')

### verb: "deceived"

In [240]:
IC1_connective1_10 = pd.read_csv("../results/transfoxl/IC1/connective1/10.csv")
IC1_connective1_10.head()

                                 stimulus        he       she
0   Miss Smith deceived Mr. Smith because  0.103804  0.896196
1      The woman deceived the man because  0.338640  0.661360
2              Mary deceived John because  0.220265  0.779735
3              Alice deceived Bob because  0.258818  0.741182
4  The actress deceived the actor because  0.379978  0.620022

In [241]:
# female subject
IC1_connective1_10f = IC1_connective1_10[0:12]
IC1_connective1_10f = IC1_connective1_10f[["stimulus","she","he"]]
# male subject
IC1_connective1_10m = IC1_connective1_10[12:24]

#### female subject

In [242]:
IC1_connective1_10f

                                     stimulus       she        he
0       Miss Smith deceived Mr. Smith because  0.896196  0.103804
1          The woman deceived the man because  0.661360  0.338640
2                  Mary deceived John because  0.779735  0.220265
3                  Alice deceived Bob because  0.741182  0.258818
4      The actress deceived the actor because  0.620022  0.379978
5           The girl deceived the boy because  0.680596  0.319404
6   Mrs. Taylor deceived Mr. Williams because  0.568481  0.431519
7                 Emma deceived David because  0.910671  0.089329
8    The princess deceived the prince because  0.555722  0.444278
9               Sarah deceived Robert because  0.792409  0.207591
10  Mrs. Williams deceived Mr. Taylor because  0.575506  0.424494
11                Emily deceived Paul because  0.861547  0.138453

In [243]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_10f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_10f,'he'))

P('subj-pron'|subj=female) =  0.7202855249245962
P('non-subj-pron'|subj=female) =  0.27971446327865124

In [244]:
c1_average_subj_female_subj_pron['deceived'] = compute_average(IC1_connective1_10f,'she')
c1_average_subj_female_obj_pron['deceived'] = compute_average(IC1_connective1_10f,'he')

#### male subject

In [245]:
IC1_connective1_10m

                                     stimulus        he       she
12      Mr. Smith deceived Miss Smith because  0.453864  0.546136
13         The man deceived the woman because  0.626666  0.373334
14                 John deceived Mary because  0.556042  0.443958
15                 Bob deceived Alice because  0.315246  0.684754
16     The actor deceived the actress because  0.519112  0.480888
17          The boy deceived the girl because  0.584964  0.415036
18   Mr. William deceived Mrs. Taylor because  0.401705  0.598295
19                David deceived Emma because  0.545381  0.454619
20   The prince deceived the princess because  0.606587  0.393413
21              Robert deceived Sarah because  0.455884  0.544116
22  Mr. Taylor deceived Mrs. Williams because  0.148989  0.851011
23                Paul deceived Emily because  0.453848  0.546152

In [246]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_10m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_10m,'she'))

P('subj-pron'|subj=male) =  0.4723573252558708
P('non-subj-pron'|subj=male) =  0.527642679711183

In [247]:
c1_average_subj_male_subj_pron['deceived'] = compute_average(IC1_connective1_10m,'he')
c1_average_subj_male_obj_pron['deceived'] = compute_average(IC1_connective1_10m,'she')

### verb: "disappointed"

In [248]:
IC1_connective1_11 = pd.read_csv("../results/transfoxl/IC1/connective1/11.csv")
IC1_connective1_11.head()

                                     stimulus        he       she
0   Miss Smith disappointed Mr. Smith because  0.150597  0.849403
1      The woman disappointed the man because  0.418617  0.581383
2              Mary disappointed John because  0.280636  0.719364
3              Alice disappointed Bob because  0.413203  0.586797
4  The actress disappointed the actor because  0.484308  0.515692

In [249]:
# female subject
IC1_connective1_11f = IC1_connective1_11[0:12]
IC1_connective1_11f = IC1_connective1_11f[["stimulus","she","he"]]
# male subject
IC1_connective1_11m = IC1_connective1_11[12:24]

#### female subject

In [250]:
IC1_connective1_11f

                                         stimulus       she        he
0       Miss Smith disappointed Mr. Smith because  0.849403  0.150597
1          The woman disappointed the man because  0.581383  0.418617
2                  Mary disappointed John because  0.719364  0.280636
3                  Alice disappointed Bob because  0.586797  0.413203
4      The actress disappointed the actor because  0.515692  0.484308
5           The girl disappointed the boy because  0.601352  0.398648
6   Mrs. Taylor disappointed Mr. Williams because  0.467598  0.532402
7                 Emma disappointed David because  0.891000  0.109000
8    The princess disappointed the prince because  0.550716  0.449284
9               Sarah disappointed Robert because  0.745681  0.254319
10  Mrs. Williams disappointed Mr. Taylor because  0.469069  0.530931
11                Emily disappointed Paul because  0.840991  0.159009

In [251]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_11f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_11f,'he'))

P('subj-pron'|subj=female) =  0.6515872403979301
P('non-subj-pron'|subj=female) =  0.34841276456912357

In [252]:
c1_average_subj_female_subj_pron['disappointed'] = compute_average(IC1_connective1_11f,'she')
c1_average_subj_female_obj_pron['disappointed'] = compute_average(IC1_connective1_11f,'he')

#### male subject

In [253]:
IC1_connective1_11m

                                         stimulus        he       she
12      Mr. Smith disappointed Miss Smith because  0.562627  0.437373
13         The man disappointed the woman because  0.711341  0.288659
14                 John disappointed Mary because  0.670183  0.329817
15                 Bob disappointed Alice because  0.311717  0.688284
16     The actor disappointed the actress because  0.553705  0.446295
17          The boy disappointed the girl because  0.692197  0.307803
18   Mr. William disappointed Mrs. Taylor because  0.567773  0.432227
19                David disappointed Emma because  0.512246  0.487754
20   The prince disappointed the princess because  0.697480  0.302520
21              Robert disappointed Sarah because  0.457687  0.542313
22  Mr. Taylor disappointed Mrs. Williams because  0.190998  0.809002
23                Paul disappointed Emily because  0.595904  0.404096

In [254]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_11m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_11m,'she'))

P('subj-pron'|subj=male) =  0.5436547671755155
P('non-subj-pron'|subj=male) =  0.4563452402750651

In [255]:
c1_average_subj_male_subj_pron['disappointed'] = compute_average(IC1_connective1_11m,'he')
c1_average_subj_male_obj_pron['disappointed'] = compute_average(IC1_connective1_11m,'she')

### verb: "exasperated"

In [256]:
IC1_connective1_12 = pd.read_csv("../results/transfoxl/IC1/connective1/12.csv")
IC1_connective1_12.head()

                                    stimulus        he       she
0   Miss Smith exasperated Mr. Smith because  0.176997  0.823003
1      The woman exasperated the man because  0.401748  0.598252
2              Mary exasperated John because  0.341476  0.658524
3              Alice exasperated Bob because  0.366495  0.633505
4  The actress exasperated the actor because  0.359120  0.640880

In [257]:
# female subject
IC1_connective1_12f = IC1_connective1_12[0:12]
IC1_connective1_12f = IC1_connective1_12f[["stimulus","she","he"]]
# male subject
IC1_connective1_12m = IC1_connective1_12[12:24]

#### female subject

In [258]:
IC1_connective1_12f

                                        stimulus       she        he
0       Miss Smith exasperated Mr. Smith because  0.823003  0.176997
1          The woman exasperated the man because  0.598252  0.401748
2                  Mary exasperated John because  0.658524  0.341476
3                  Alice exasperated Bob because  0.633505  0.366495
4      The actress exasperated the actor because  0.640880  0.359120
5           The girl exasperated the boy because  0.604398  0.395602
6   Mrs. Taylor exasperated Mr. Williams because  0.517059  0.482941
7                 Emma exasperated David because  0.796354  0.203646
8    The princess exasperated the prince because  0.538037  0.461963
9               Sarah exasperated Robert because  0.704235  0.295765
10  Mrs. Williams exasperated Mr. Taylor because  0.496955  0.503045
11                Emily exasperated Paul because  0.711618  0.288382

In [259]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_12f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_12f,'he'))

P('subj-pron'|subj=female) =  0.6435684313376745
P('non-subj-pron'|subj=female) =  0.35643157611290616

In [260]:
c1_average_subj_female_subj_pron['exasperated'] = compute_average(IC1_connective1_12f,'she')
c1_average_subj_female_obj_pron['exasperated'] = compute_average(IC1_connective1_12f,'he')

#### male subject

In [261]:
IC1_connective1_12m

                                        stimulus        he       she
12      Mr. Smith exasperated Miss Smith because  0.493463  0.506537
13         The man exasperated the woman because  0.720070  0.279930
14                 John exasperated Mary because  0.650889  0.349111
15                 Bob exasperated Alice because  0.268896  0.731104
16     The actor exasperated the actress because  0.736553  0.263447
17          The boy exasperated the girl because  0.725622  0.274378
18   Mr. William exasperated Mrs. Taylor because  0.505409  0.494591
19                David exasperated Emma because  0.474730  0.525270
20   The prince exasperated the princess because  0.782167  0.217833
21              Robert exasperated Sarah because  0.401448  0.598552
22  Mr. Taylor exasperated Mrs. Williams because  0.173430  0.826570
23                Paul exasperated Emily because  0.506112  0.493888

In [262]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_12m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_12m,'she'))

P('subj-pron'|subj=male) =  0.5365658377607664
P('non-subj-pron'|subj=male) =  0.4634341572721799

In [263]:
c1_average_subj_male_subj_pron['exasperated'] = compute_average(IC1_connective1_12m,'he')
c1_average_subj_male_obj_pron['exasperated'] = compute_average(IC1_connective1_12m,'she')

### verb: "fascinated"

In [264]:
IC1_connective1_13 = pd.read_csv("../results/transfoxl/IC1/connective1/13.csv")
IC1_connective1_13.head()

                                   stimulus        he       she
0   Miss Smith fascinated Mr. Smith because  0.237039  0.762961
1      The woman fascinated the man because  0.271978  0.728022
2              Mary fascinated John because  0.316926  0.683074
3              Alice fascinated Bob because  0.281050  0.718950
4  The actress fascinated the actor because  0.199814  0.800186

In [265]:
# female subject
IC1_connective1_13f = IC1_connective1_13[0:12]
IC1_connective1_13f = IC1_connective1_13f[["stimulus","she","he"]]
# male subject
IC1_connective1_13m = IC1_connective1_13[12:24]

#### female subject

In [266]:
IC1_connective1_13f

                                       stimulus       she        he
0       Miss Smith fascinated Mr. Smith because  0.762961  0.237039
1          The woman fascinated the man because  0.728022  0.271978
2                  Mary fascinated John because  0.683074  0.316926
3                  Alice fascinated Bob because  0.718950  0.281050
4      The actress fascinated the actor because  0.800186  0.199814
5           The girl fascinated the boy because  0.735779  0.264221
6   Mrs. Taylor fascinated Mr. Williams because  0.509817  0.490183
7                 Emma fascinated David because  0.845231  0.154769
8    The princess fascinated the prince because  0.655345  0.344655
9               Sarah fascinated Robert because  0.702102  0.297898
10  Mrs. Williams fascinated Mr. Taylor because  0.507556  0.492444
11                Emily fascinated Paul because  0.655932  0.344068

In [267]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_13f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_13f,'he'))

P('subj-pron'|subj=female) =  0.6920795291662216
P('non-subj-pron'|subj=female) =  0.3079204633831978

In [268]:
c1_average_subj_female_subj_pron['fascinated'] = compute_average(IC1_connective1_13f,'she')
c1_average_subj_female_obj_pron['fascinated'] = compute_average(IC1_connective1_13f,'he')

#### male subject

In [269]:
IC1_connective1_13m

                                       stimulus        he       she
12      Mr. Smith fascinated Miss Smith because  0.497827  0.502173
13         The man fascinated the woman because  0.777829  0.222170
14                 John fascinated Mary because  0.555774  0.444226
15                 Bob fascinated Alice because  0.292093  0.707907
16     The actor fascinated the actress because  0.772606  0.227394
17          The boy fascinated the girl because  0.814670  0.185330
18   Mr. William fascinated Mrs. Taylor because  0.346986  0.653014
19                David fascinated Emma because  0.373259  0.626741
20   The prince fascinated the princess because  0.778499  0.221501
21              Robert fascinated Sarah because  0.535769  0.464231
22  Mr. Taylor fascinated Mrs. Williams because  0.149459  0.850541
23                Paul fascinated Emily because  0.509246  0.490754

In [270]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_13m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_13m,'she'))

P('subj-pron'|subj=male) =  0.5336682001749674
P('non-subj-pron'|subj=male) =  0.46633180727561313

In [271]:
c1_average_subj_male_subj_pron['fascinated'] = compute_average(IC1_connective1_13m,'he')
c1_average_subj_male_obj_pron['fascinated'] = compute_average(IC1_connective1_13m,'she')

### verb: "frightened"

In [272]:
IC1_connective1_14 = pd.read_csv("../results/transfoxl/IC1/connective1/14.csv")
IC1_connective1_14.head()

                                   stimulus        he       she
0   Miss Smith frightened Mr. Smith because  0.221102  0.778898
1      The woman frightened the man because  0.358897  0.641103
2              Mary frightened John because  0.338417  0.661583
3              Alice frightened Bob because  0.401432  0.598568
4  The actress frightened the actor because  0.364165  0.635835

In [273]:
# female subject
IC1_connective1_14f = IC1_connective1_14[0:12]
IC1_connective1_14f = IC1_connective1_14f[["stimulus","she","he"]]
# male subject
IC1_connective1_14m = IC1_connective1_14[12:24]

#### female subject

In [274]:
IC1_connective1_14f

                                       stimulus       she        he
0       Miss Smith frightened Mr. Smith because  0.778898  0.221102
1          The woman frightened the man because  0.641103  0.358897
2                  Mary frightened John because  0.661583  0.338417
3                  Alice frightened Bob because  0.598568  0.401432
4      The actress frightened the actor because  0.635835  0.364165
5           The girl frightened the boy because  0.706883  0.293117
6   Mrs. Taylor frightened Mr. Williams because  0.510942  0.489058
7                 Emma frightened David because  0.761300  0.238700
8    The princess frightened the prince because  0.619498  0.380502
9               Sarah frightened Robert because  0.704922  0.295078
10  Mrs. Williams frightened Mr. Taylor because  0.497650  0.502350
11                Emily frightened Paul because  0.699302  0.300698

In [275]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_14f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_14f,'he'))

P('subj-pron'|subj=female) =  0.6513737340768179
P('non-subj-pron'|subj=female) =  0.3486262609561284

In [276]:
c1_average_subj_female_subj_pron['frightened'] = compute_average(IC1_connective1_14f,'she')
c1_average_subj_female_obj_pron['frightened'] = compute_average(IC1_connective1_14f,'he')

#### male subject

In [277]:
IC1_connective1_14m

                                       stimulus        he       she
12      Mr. Smith frightened Miss Smith because  0.444570  0.555430
13         The man frightened the woman because  0.869682  0.130318
14                 John frightened Mary because  0.575141  0.424859
15                 Bob frightened Alice because  0.193926  0.806074
16     The actor frightened the actress because  0.860273  0.139727
17          The boy frightened the girl because  0.877648  0.122352
18   Mr. William frightened Mrs. Taylor because  0.411417  0.588583
19                David frightened Emma because  0.384792  0.615208
20   The prince frightened the princess because  0.841457  0.158543
21              Robert frightened Sarah because  0.375476  0.624524
22  Mr. Taylor frightened Mrs. Williams because  0.183309  0.816691
23                Paul frightened Emily because  0.395991  0.604009

In [278]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_14m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_14m,'she'))

P('subj-pron'|subj=male) =  0.5344733831783136
P('non-subj-pron'|subj=male) =  0.46552661682168645

In [279]:
c1_average_subj_male_subj_pron['frightened'] = compute_average(IC1_connective1_14m,'he')
c1_average_subj_male_obj_pron['frightened'] = compute_average(IC1_connective1_14m,'she')

### verb: "humiliated"

In [280]:
IC1_connective1_15 = pd.read_csv("../results/transfoxl/IC1/connective1/15.csv")
IC1_connective1_15.head()

                                   stimulus        he       she
0   Miss Smith humiliated Mr. Smith because  0.186928  0.813072
1      The woman humiliated the man because  0.356782  0.643218
2              Mary humiliated John because  0.383220  0.616780
3              Alice humiliated Bob because  0.430687  0.569313
4  The actress humiliated the actor because  0.476277  0.523723

In [281]:
# female subject
IC1_connective1_15f = IC1_connective1_15[0:12]
IC1_connective1_15f = IC1_connective1_15f[["stimulus","she","he"]]
# male subject
IC1_connective1_15m = IC1_connective1_15[12:24]

#### female subject

In [282]:
IC1_connective1_15f

                                       stimulus       she        he
0       Miss Smith humiliated Mr. Smith because  0.813072  0.186928
1          The woman humiliated the man because  0.643218  0.356782
2                  Mary humiliated John because  0.616780  0.383220
3                  Alice humiliated Bob because  0.569313  0.430687
4      The actress humiliated the actor because  0.523723  0.476277
5           The girl humiliated the boy because  0.615318  0.384682
6   Mrs. Taylor humiliated Mr. Williams because  0.485093  0.514907
7                 Emma humiliated David because  0.796745  0.203255
8    The princess humiliated the prince because  0.513117  0.486883
9               Sarah humiliated Robert because  0.683252  0.316748
10  Mrs. Williams humiliated Mr. Taylor because  0.487202  0.512798
11                Emily humiliated Paul because  0.730145  0.269856

In [283]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_15f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_15f,'he'))

P('subj-pron'|subj=female) =  0.623081254462401
P('non-subj-pron'|subj=female) =  0.3769187517464161

In [284]:
c1_average_subj_female_subj_pron['humiliated'] = compute_average(IC1_connective1_15f,'she')
c1_average_subj_female_obj_pron['humiliated'] = compute_average(IC1_connective1_15f,'he')

#### male subject

In [285]:
IC1_connective1_15m

                                       stimulus        he       she
12      Mr. Smith humiliated Miss Smith because  0.355413  0.644587
13         The man humiliated the woman because  0.731650  0.268350
14                 John humiliated Mary because  0.556918  0.443082
15                 Bob humiliated Alice because  0.189151  0.810849
16     The actor humiliated the actress because  0.495349  0.504651
17          The boy humiliated the girl because  0.727023  0.272977
18   Mr. William humiliated Mrs. Taylor because  0.340672  0.659328
19                David humiliated Emma because  0.427105  0.572895
20   The prince humiliated the princess because  0.553403  0.446597
21              Robert humiliated Sarah because  0.360630  0.639370
22  Mr. Taylor humiliated Mrs. Williams because  0.152185  0.847815
23                Paul humiliated Emily because  0.337325  0.662675

In [286]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_15m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_15m,'she'))

P('subj-pron'|subj=male) =  0.4355686704317729
P('non-subj-pron'|subj=male) =  0.5644313270847002

In [287]:
c1_average_subj_male_subj_pron['humiliated'] = compute_average(IC1_connective1_15m,'he')
c1_average_subj_male_obj_pron['humiliated'] = compute_average(IC1_connective1_15m,'she')

### verb: "infuriated"

In [288]:
IC1_connective1_16 = pd.read_csv("../results/transfoxl/IC1/connective1/16.csv")
IC1_connective1_16.head()

                                   stimulus        he       she
0   Miss Smith infuriated Mr. Smith because  0.200367  0.799633
1      The woman infuriated the man because  0.399074  0.600926
2              Mary infuriated John because  0.340302  0.659698
3              Alice infuriated Bob because  0.402134  0.597866
4  The actress infuriated the actor because  0.434080  0.565920

In [289]:
# female subject
IC1_connective1_16f = IC1_connective1_16[0:12]
IC1_connective1_16f = IC1_connective1_16f[["stimulus","she","he"]]
# male subject
IC1_connective1_16m = IC1_connective1_16[12:24]

#### female subject

In [290]:
IC1_connective1_16f

                                       stimulus       she        he
0       Miss Smith infuriated Mr. Smith because  0.799633  0.200367
1          The woman infuriated the man because  0.600926  0.399074
2                  Mary infuriated John because  0.659698  0.340302
3                  Alice infuriated Bob because  0.597866  0.402134
4      The actress infuriated the actor because  0.565920  0.434080
5           The girl infuriated the boy because  0.601052  0.398948
6   Mrs. Taylor infuriated Mr. Williams because  0.503903  0.496097
7                 Emma infuriated David because  0.753119  0.246881
8    The princess infuriated the prince because  0.514543  0.485457
9               Sarah infuriated Robert because  0.640502  0.359498
10  Mrs. Williams infuriated Mr. Taylor because  0.490754  0.509246
11                Emily infuriated Paul because  0.677397  0.322603

In [291]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_16f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_16f,'he'))

P('subj-pron'|subj=female) =  0.617109385629495
P('non-subj-pron'|subj=female) =  0.38289059574405354

In [292]:
c1_average_subj_female_subj_pron['infuriated'] = compute_average(IC1_connective1_16f,'she')
c1_average_subj_female_obj_pron['infuriated'] = compute_average(IC1_connective1_16f,'he')

#### male subject

In [293]:
IC1_connective1_16m

                                       stimulus        he       she
12      Mr. Smith infuriated Miss Smith because  0.432450  0.567550
13         The man infuriated the woman because  0.668524  0.331476
14                 John infuriated Mary because  0.505267  0.494733
15                 Bob infuriated Alice because  0.186373  0.813627
16     The actor infuriated the actress because  0.670892  0.329108
17          The boy infuriated the girl because  0.661859  0.338141
18   Mr. William infuriated Mrs. Taylor because  0.366324  0.633676
19                David infuriated Emma because  0.345664  0.654336
20   The prince infuriated the princess because  0.727600  0.272400
21              Robert infuriated Sarah because  0.358188  0.641813
22  Mr. Taylor infuriated Mrs. Williams because  0.139964  0.860036
23                Paul infuriated Emily because  0.365914  0.634086

In [294]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_16m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_16m,'she'))

P('subj-pron'|subj=male) =  0.45241820563872653
P('non-subj-pron'|subj=male) =  0.547581801811854

In [295]:
c1_average_subj_male_subj_pron['infuriated'] = compute_average(IC1_connective1_16m,'he')
c1_average_subj_male_obj_pron['infuriated'] = compute_average(IC1_connective1_16m,'she')

### verb: "inspires"

In [296]:
IC1_connective1_17 = pd.read_csv("../results/transfoxl/IC1/connective1/17.csv")
IC1_connective1_17.head()

                                 stimulus        he       she
0   Miss Smith inspires Mr. Smith because  0.246712  0.753288
1      The woman inspires the man because  0.346015  0.653985
2              Mary inspires John because  0.236477  0.763523
3              Alice inspires Bob because  0.255995  0.744005
4  The actress inspires the actor because  0.260904  0.739096

In [297]:
# female subject
IC1_connective1_17f = IC1_connective1_17[0:12]
IC1_connective1_17f = IC1_connective1_17f[["stimulus","she","he"]]
# male subject
IC1_connective1_17m = IC1_connective1_17[12:24]

#### female subject

In [298]:
IC1_connective1_17f

                                     stimulus       she        he
0       Miss Smith inspires Mr. Smith because  0.753288  0.246712
1          The woman inspires the man because  0.653985  0.346015
2                  Mary inspires John because  0.763523  0.236477
3                  Alice inspires Bob because  0.744005  0.255995
4      The actress inspires the actor because  0.739096  0.260904
5           The girl inspires the boy because  0.651485  0.348515
6   Mrs. Taylor inspires Mr. Williams because  0.571757  0.428243
7                 Emma inspires David because  0.810888  0.189112
8    The princess inspires the prince because  0.588023  0.411977
9               Sarah inspires Robert because  0.722237  0.277763
10  Mrs. Williams inspires Mr. Taylor because  0.557833  0.442167
11                Emily inspires Paul because  0.668392  0.331608

In [299]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_17f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_17f,'he'))

P('subj-pron'|subj=female) =  0.6853758494059244
P('non-subj-pron'|subj=female) =  0.31462415556112927

In [300]:
c1_average_subj_female_subj_pron['inspires'] = compute_average(IC1_connective1_17f,'she')
c1_average_subj_female_obj_pron['inspires'] = compute_average(IC1_connective1_17f,'he')

#### male subject

In [301]:
IC1_connective1_17m

                                     stimulus        he       she
12      Mr. Smith inspires Miss Smith because  0.564939  0.435061
13         The man inspires the woman because  0.602488  0.397512
14                 John inspires Mary because  0.572955  0.427045
15                 Bob inspires Alice because  0.321211  0.678789
16     The actor inspires the actress because  0.671973  0.328027
17          The boy inspires the girl because  0.571981  0.428019
18   Mr. William inspires Mrs. Taylor because  0.457928  0.542072
19                David inspires Emma because  0.437981  0.562019
20   The prince inspires the princess because  0.652862  0.347138
21              Robert inspires Sarah because  0.513539  0.486461
22  Mr. Taylor inspires Mrs. Williams because  0.202801  0.797199
23                Paul inspires Emily because  0.504633  0.495367

In [302]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_17m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_17m,'she'))

P('subj-pron'|subj=male) =  0.5062743301192919
P('non-subj-pron'|subj=male) =  0.4937256450454394

In [303]:
c1_average_subj_male_subj_pron['inspires'] = compute_average(IC1_connective1_17m,'he')
c1_average_subj_male_obj_pron['inspires'] = compute_average(IC1_connective1_17m,'she')

### verb: "intimidates"

In [304]:
IC1_connective1_18 = pd.read_csv("../results/transfoxl/IC1/connective1/18.csv")
IC1_connective1_18.head()

                                    stimulus        he       she
0   Miss Smith intimidates Mr. Smith because  0.197782  0.802218
1      The woman intimidates the man because  0.371427  0.628573
2              Mary intimidates John because  0.247075  0.752925
3              Alice intimidates Bob because  0.297478  0.702522
4  The actress intimidates the actor because  0.471934  0.528066

In [305]:
# female subject
IC1_connective1_18f = IC1_connective1_18[0:12]
IC1_connective1_18f = IC1_connective1_18f[["stimulus","she","he"]]
# male subject
IC1_connective1_18m = IC1_connective1_18[12:24]

#### female subject

In [306]:
IC1_connective1_18f

                                        stimulus       she        he
0       Miss Smith intimidates Mr. Smith because  0.802218  0.197782
1          The woman intimidates the man because  0.628573  0.371427
2                  Mary intimidates John because  0.752925  0.247075
3                  Alice intimidates Bob because  0.702522  0.297478
4      The actress intimidates the actor because  0.528066  0.471934
5           The girl intimidates the boy because  0.660740  0.339260
6   Mrs. Taylor intimidates Mr. Williams because  0.529730  0.470270
7                 Emma intimidates David because  0.795567  0.204433
8    The princess intimidates the prince because  0.570871  0.429129
9               Sarah intimidates Robert because  0.577618  0.422382
10  Mrs. Williams intimidates Mr. Taylor because  0.525807  0.474193
11                Emily intimidates Paul because  0.776274  0.223726

In [307]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_18f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_18f,'he'))

P('subj-pron'|subj=female) =  0.654242475827535
P('non-subj-pron'|subj=female) =  0.34575751920541126

In [308]:
c1_average_subj_female_subj_pron['intimidates'] = compute_average(IC1_connective1_18f,'she')
c1_average_subj_female_obj_pron['intimidates'] = compute_average(IC1_connective1_18f,'he')

#### male subject

In [309]:
IC1_connective1_18m

                                        stimulus        he       she
12      Mr. Smith intimidates Miss Smith because  0.622615  0.377385
13         The man intimidates the woman because  0.766365  0.233635
14                 John intimidates Mary because  0.642662  0.357338
15                 Bob intimidates Alice because  0.438448  0.561552
16     The actor intimidates the actress because  0.782040  0.217960
17          The boy intimidates the girl because  0.760069  0.239931
18   Mr. William intimidates Mrs. Taylor because  0.553234  0.446766
19                David intimidates Emma because  0.604625  0.395375
20   The prince intimidates the princess because  0.745364  0.254635
21              Robert intimidates Sarah because  0.671589  0.328411
22  Mr. Taylor intimidates Mrs. Williams because  0.283239  0.716761
23                Paul intimidates Emily because  0.555852  0.444148

In [310]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_18m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_18m,'she'))

P('subj-pron'|subj=male) =  0.6188419759273529
P('non-subj-pron'|subj=male) =  0.3811580364902814

In [311]:
c1_average_subj_male_subj_pron['intimidates'] = compute_average(IC1_connective1_18m,'he')
c1_average_subj_male_obj_pron['intimidates'] = compute_average(IC1_connective1_18m,'she')

### verb: "scares"

In [312]:
IC1_connective1_19 = pd.read_csv("../results/transfoxl/IC1/connective1/19.csv")
IC1_connective1_19.head()

                               stimulus        he       she
0   Miss Smith scares Mr. Smith because  0.163615  0.836385
1      The woman scares the man because  0.342396  0.657604
2              Mary scares John because  0.358491  0.641509
3              Alice scares Bob because  0.354126  0.645874
4  The actress scares the actor because  0.408823  0.591177

In [313]:
# female subject
IC1_connective1_19f = IC1_connective1_19[0:12]
IC1_connective1_19f = IC1_connective1_19f[["stimulus","she","he"]]
# male subject
IC1_connective1_19m = IC1_connective1_19[12:24]

#### female subject

In [314]:
IC1_connective1_19f

                                   stimulus       she        he
0       Miss Smith scares Mr. Smith because  0.836385  0.163615
1          The woman scares the man because  0.657604  0.342396
2                  Mary scares John because  0.641509  0.358491
3                  Alice scares Bob because  0.645874  0.354126
4      The actress scares the actor because  0.591177  0.408823
5           The girl scares the boy because  0.705327  0.294673
6   Mrs. Taylor scares Mr. Williams because  0.516535  0.483465
7                 Emma scares David because  0.748941  0.251059
8    The princess scares the prince because  0.605309  0.394691
9               Sarah scares Robert because  0.639605  0.360395
10  Mrs. Williams scares Mr. Taylor because  0.515218  0.484782
11                Emily scares Paul because  0.577472  0.422528

In [315]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_19f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_19f,'he'))

P('subj-pron'|subj=female) =  0.6400797416766485
P('non-subj-pron'|subj=female) =  0.35992026204864186

In [316]:
c1_average_subj_female_subj_pron['scares'] = compute_average(IC1_connective1_19f,'she')
c1_average_subj_female_obj_pron['scares'] = compute_average(IC1_connective1_19f,'he')

#### male subject

In [317]:
IC1_connective1_19m

                                   stimulus        he       she
12      Mr. Smith scares Miss Smith because  0.536541  0.463459
13         The man scares the woman because  0.847315  0.152685
14                 John scares Mary because  0.658029  0.341971
15                 Bob scares Alice because  0.239057  0.760943
16     The actor scares the actress because  0.837677  0.162323
17          The boy scares the girl because  0.891683  0.108317
18   Mr. William scares Mrs. Taylor because  0.411308  0.588692
19                David scares Emma because  0.327672  0.672328
20   The prince scares the princess because  0.839271  0.160729
21              Robert scares Sarah because  0.362762  0.637238
22  Mr. Taylor scares Mrs. Williams because  0.189562  0.810438
23                Paul scares Emily because  0.356660  0.643340

In [318]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_19m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_19m,'she'))

P('subj-pron'|subj=male) =  0.5414613833030065
P('non-subj-pron'|subj=male) =  0.45853861918052036

In [319]:
c1_average_subj_male_subj_pron['scares'] = compute_average(IC1_connective1_19m,'he')
c1_average_subj_male_obj_pron['scares'] = compute_average(IC1_connective1_19m,'she')

### verb: "surprised"

In [320]:
IC1_connective1_20 = pd.read_csv("../results/transfoxl/IC1/connective1/20.csv")
IC1_connective1_20.head()

                                  stimulus        he       she
0   Miss Smith surprised Mr. Smith because  0.120950  0.879050
1      The woman surprised the man because  0.283475  0.716525
2              Mary surprised John because  0.272324  0.727676
3              Alice surprised Bob because  0.213057  0.786943
4  The actress surprised the actor because  0.337970  0.662030

In [321]:
# female subject
IC1_connective1_20f = IC1_connective1_20[0:12]
IC1_connective1_20f = IC1_connective1_20f[["stimulus","she","he"]]
# male subject
IC1_connective1_20m = IC1_connective1_20[12:24]

#### female subject

In [322]:
IC1_connective1_20f

                                      stimulus       she        he
0       Miss Smith surprised Mr. Smith because  0.879050  0.120950
1          The woman surprised the man because  0.716525  0.283475
2                  Mary surprised John because  0.727676  0.272324
3                  Alice surprised Bob because  0.786943  0.213057
4      The actress surprised the actor because  0.662030  0.337970
5           The girl surprised the boy because  0.665139  0.334861
6   Mrs. Taylor surprised Mr. Williams because  0.492734  0.507266
7                 Emma surprised David because  0.862993  0.137007
8    The princess surprised the prince because  0.673483  0.326517
9               Sarah surprised Robert because  0.767191  0.232809
10  Mrs. Williams surprised Mr. Taylor because  0.466769  0.533231
11                Emily surprised Paul because  0.833427  0.166573

In [323]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective1_20f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective1_20f,'he'))

P('subj-pron'|subj=female) =  0.7111633097132047
P('non-subj-pron'|subj=female) =  0.2888366859406233

In [324]:
c1_average_subj_female_subj_pron['surprised'] = compute_average(IC1_connective1_20f,'she')
c1_average_subj_female_obj_pron['surprised'] = compute_average(IC1_connective1_20f,'he')

#### male subject

In [325]:
IC1_connective1_20m

                                      stimulus        he       she
12      Mr. Smith surprised Miss Smith because  0.866185  0.133815
13         The man surprised the woman because  0.892823  0.107177
14                 John surprised Mary because  0.892696  0.107304
15                 Bob surprised Alice because  0.517824  0.482176
16     The actor surprised the actress because  0.902494  0.097506
17          The boy surprised the girl because  0.870835  0.129165
18   Mr. William surprised Mrs. Taylor because  0.713761  0.286239
19                David surprised Emma because  0.762594  0.237406
20   The prince surprised the princess because  0.919850  0.080150
21              Robert surprised Sarah because  0.828510  0.171489
22  Mr. Taylor surprised Mrs. Williams because  0.294049  0.705951
23                Paul surprised Emily because  0.797637  0.202363

In [326]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective1_20m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective1_20m,'she'))

P('subj-pron'|subj=male) =  0.7716049154599508
P('non-subj-pron'|subj=male) =  0.22839506839712462

In [327]:
c1_average_subj_male_subj_pron['surprised'] = compute_average(IC1_connective1_20m,'he')
c1_average_subj_male_obj_pron['surprised'] = compute_average(IC1_connective1_20m,'she')

## Summary of Results

In [328]:
c1_results_fsubj_subjpron = pd.DataFrame(list(c1_average_subj_female_subj_pron.items()),columns=['verb','subj_ref_female_subj'])
c1_results_fsubj_objpron = pd.DataFrame(list(c1_average_subj_female_obj_pron.items()),columns=['verb','obj_ref_female_subj'])
c1_results_fsubj = c1_results_fsubj_subjpron.merge(c1_results_fsubj_objpron)
c1_results_fsubj

            verb  subj_ref_female_subj  obj_ref_female_subj
0     aggravated              0.709229             0.290771
1         amazed              0.655752             0.344248
2         amused              0.668739             0.331261
3        annoyed              0.689419             0.310581
4     apologized              0.605100             0.394900
5          bored              0.592087             0.407913
6        charmed              0.632814             0.367186
7       offended              0.654580             0.345420
8      confessed              0.898715             0.101285
9       deceived              0.720286             0.279714
10  disappointed              0.651587             0.348413
11   exasperated              0.643568             0.356432
12    fascinated              0.692080             0.307920
13    frightened              0.651374             0.348626
14    humiliated              0.623081             0.376919
15    infuriated              0.617109             0.382891
16      inspires              0.685376             0.314624
17   intimidates              0.654242             0.345758
18        scares              0.640080             0.359920
19     surprised              0.711163             0.288837

In [329]:
c1_results_msubj_subjpron = pd.DataFrame(list(c1_average_subj_male_subj_pron.items()),columns=['verb','subj_ref_male_subj'])
c1_results_msubj_objpron = pd.DataFrame(list(c1_average_subj_male_obj_pron.items()),columns=['verb','obj_ref_male_subj'])
c1_results_msubj = c1_results_msubj_subjpron.merge(c1_results_msubj_objpron)
c1_results_msubj

            verb  subj_ref_male_subj  obj_ref_male_subj
0     aggravated            0.452238           0.547762
1         amazed            0.732874           0.267126
2         amused            0.598268           0.401732
3        annoyed            0.539812           0.460188
4     apologized            0.480160           0.519840
5          bored            0.315387           0.684613
6        charmed            0.574433           0.425567
7       offended            0.533119           0.466881
8      confessed            0.709485           0.290515
9       deceived            0.472357           0.527643
10  disappointed            0.543655           0.456345
11   exasperated            0.536566           0.463434
12    fascinated            0.533668           0.466332
13    frightened            0.534473           0.465527
14    humiliated            0.435569           0.564431
15    infuriated            0.452418           0.547582
16      inspires            0.506274           0.493726
17   intimidates            0.618842           0.381158
18        scares            0.541461           0.458539
19     surprised            0.771605           0.228395

In [330]:
c1_results = c1_results_fsubj.merge(c1_results_msubj)
c1_results

,verb,subj_ref_female_subj,obj_ref_female_subj,subj_ref_male_subj,obj_ref_male_subj
0,aggravated,0.709229,0.290771,0.452238,0.547762
1,amazed,0.655752,0.344248,0.732874,0.267126
2,amused,0.668739,0.331261,0.598268,0.401732
3,annoyed,0.689419,0.310581,0.539812,0.460188
4,apologized,0.605100,0.394900,0.480160,0.519840
5,bored,0.592087,0.407913,0.315387,0.684613
6,charmed,0.632814,0.367186,0.574433,0.425567
7,offended,0.654580,0.345420,0.533119,0.466881
8,confessed,0.898715,0.101285,0.709485,0.290515
9,deceived,0.720286,0.279714,0.472357,0.527643
10,disappointed,0.651587,0.348413,0.543655,0.456345
11,exasperated,0.643568,0.356432,0.536566,0.463434
12,fascinated,0.692080,0.307920,0.533668,0.466332
13,frightened,0.651374,0.348626,0.534473,0.465527
14,humiliated,0.623081,0.376919,0.435569,0.564431
15,infuriated,0.617109,0.382891,0.452418,0.547582
16,inspires,0.685376,0.314624,0.506274,0.493726
17,intimidates,0.654242,0.345758,0.618842,0.381158
18,scares,0.640080,0.359920,0.541461,0.458539
19,surprised,0.711163,0.288837,0.771605,0.228395

In [331]:
print("P(subj_reference |subj=female)", compute_average(c1_results,'subj_ref_female_subj'))
print("P(obj_reference |subj=female)", compute_average(c1_results,'obj_ref_female_subj'))

P(subj_reference |subj=female) 0.6698190317799648
P(obj_reference |subj=female) 0.33018096758363147

In [332]:
print("P(subj_reference |subj=male)", compute_average(c1_results,'subj_ref_male_subj'))
print("P(obj_reference |subj=male)", compute_average(c1_results,'obj_ref_male_subj'))

P(subj_reference |subj=male) 0.5441333046493431
P(obj_reference |subj=male) 0.45586669572318594

## Connective: "and, as a result"

In [333]:
c2_average_subj_female_subj_pron = {}
c2_average_subj_female_obj_pron = {}
c2_average_subj_male_subj_pron = {}
c2_average_subj_male_obj_pron = {}

### verb: "aggravated"

In [334]:
IC1_connective2_1 = pd.read_csv("../results/transfoxl/IC1/connective2/1.csv")
IC1_connective2_1.head()

                                            stimulus        he       she
0  Miss Smith aggravated Mr. Smith and, as a result,  0.351813  0.648187
1     The woman aggravated the man and, as a result,  0.760476  0.239524
2             Mary aggravated John and, as a result,  0.589851  0.410149
3             Alice aggravated Bob and, as a result,  0.709580  0.290420
4  The actress aggravated the actor and, as a res...  0.822164  0.177836

In [335]:
# female subject
IC1_connective2_1f = IC1_connective2_1[0:12]
IC1_connective2_1f = IC1_connective2_1f[["stimulus","she","he"]]
# male subject
IC1_connective2_1m = IC1_connective2_1[12:24]

#### female subject

In [336]:
IC1_connective2_1f

                                             stimulus       she        he
0   Miss Smith aggravated Mr. Smith and, as a result,  0.648187  0.351813
1      The woman aggravated the man and, as a result,  0.239524  0.760476
2              Mary aggravated John and, as a result,  0.410149  0.589851
3              Alice aggravated Bob and, as a result,  0.290420  0.709580
4   The actress aggravated the actor and, as a res...  0.177836  0.822164
5       The girl aggravated the boy and, as a result,  0.203435  0.796565
6   Mrs. Taylor aggravated Mr. Williams and, as a ...  0.490477  0.509523
7             Emma aggravated David and, as a result,  0.483939  0.516061
8   The princess aggravated the prince and, as a r...  0.407497  0.592503
9           Sarah aggravated Robert and, as a result,  0.306026  0.693974
10  Mrs. Williams aggravated Mr. Taylor and, as a ...  0.497229  0.502771
11            Emily aggravated Paul and, as a result,  0.574075  0.425925

In [337]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_1f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_1f,'he'))

P('subj-pron'|subj=female) =  0.3940662071108818
P('non-subj-pron'|subj=female) =  0.6059337854385376

In [338]:
c2_average_subj_female_subj_pron['aggravated'] = compute_average(IC1_connective2_1f,'she')
c2_average_subj_female_obj_pron['aggravated'] = compute_average(IC1_connective2_1f,'he')

#### male subject

In [339]:
IC1_connective2_1m

                                             stimulus        he       she
12  Mr. Smith aggravated Miss Smith and, as a result,  0.350677  0.649324
13     The man aggravated the woman and, as a result,  0.599316  0.400684
14             John aggravated Mary and, as a result,  0.452912  0.547088
15             Bob aggravated Alice and, as a result,  0.321713  0.678287
16  The actor aggravated the actress and, as a res...  0.768192  0.231808
17      The boy aggravated the girl and, as a result,  0.683904  0.316096
18  Mr. William aggravated Mrs. Taylor and, as a r...  0.394314  0.605686
19            David aggravated Emma and, as a result,  0.397782  0.602218
20  The prince aggravated the princess and, as a r...  0.363265  0.636735
21          Robert aggravated Sarah and, as a result,  0.464610  0.535390
22  Mr. Taylor aggravated Mrs. Williams and, as a ...  0.292331  0.707669
23            Paul aggravated Emily and, as a result,  0.329519  0.670481

In [340]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_1m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_1m,'she'))

P('subj-pron'|subj=male) =  0.4515446349978447
P('non-subj-pron'|subj=male) =  0.5484553687274456

In [341]:
c2_average_subj_male_subj_pron['aggravated'] = compute_average(IC1_connective2_1m,'he')
c2_average_subj_male_obj_pron['aggravated'] = compute_average(IC1_connective2_1m,'she')

### verb: "amazed"

In [342]:
IC1_connective2_2 = pd.read_csv("../results/transfoxl/IC1/connective2/2.csv")
IC1_connective2_2.head()

                                         stimulus        he       she
0   Miss Smith amazed Mr. Smith and, as a result,  0.258420  0.741580
1      The woman amazed the man and, as a result,  0.731740  0.268260
2              Mary amazed John and, as a result,  0.418153  0.581848
3              Alice amazed Bob and, as a result,  0.703217  0.296783
4  The actress amazed the actor and, as a result,  0.796858  0.203142

In [343]:
# female subject
IC1_connective2_2f = IC1_connective2_2[0:12]
IC1_connective2_2f = IC1_connective2_2f[["stimulus","she","he"]]
# male subject
IC1_connective2_2m = IC1_connective2_2[12:24]

#### female subject

In [344]:
IC1_connective2_2f

                                             stimulus       she        he
0       Miss Smith amazed Mr. Smith and, as a result,  0.741580  0.258420
1          The woman amazed the man and, as a result,  0.268260  0.731740
2                  Mary amazed John and, as a result,  0.581848  0.418153
3                  Alice amazed Bob and, as a result,  0.296783  0.703217
4      The actress amazed the actor and, as a result,  0.203142  0.796858
5           The girl amazed the boy and, as a result,  0.138262  0.861738
6   Mrs. Taylor amazed Mr. Williams and, as a result,  0.547929  0.452071
7                 Emma amazed David and, as a result,  0.571320  0.428680
8    The princess amazed the prince and, as a result,  0.326505  0.673495
9               Sarah amazed Robert and, as a result,  0.197008  0.802992
10  Mrs. Williams amazed Mr. Taylor and, as a result,  0.649016  0.350984
11                Emily amazed Paul and, as a result,  0.600058  0.399942

In [345]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_2f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_2f,'he'))

P('subj-pron'|subj=female) =  0.42680920536319417
P('non-subj-pron'|subj=female) =  0.573190783460935

In [346]:
c2_average_subj_female_subj_pron['amazed'] = compute_average(IC1_connective2_2f,'she')
c2_average_subj_female_obj_pron['amazed'] = compute_average(IC1_connective2_2f,'he')

#### male subject

In [347]:
IC1_connective2_2m

                                             stimulus        he       she
12      Mr. Smith amazed Miss Smith and, as a result,  0.119501  0.880499
13         The man amazed the woman and, as a result,  0.487713  0.512288
14                 John amazed Mary and, as a result,  0.115363  0.884637
15                 Bob amazed Alice and, as a result,  0.300739  0.699261
16     The actor amazed the actress and, as a result,  0.522434  0.477566
17          The boy amazed the girl and, as a result,  0.528426  0.471574
18   Mr. William amazed Mrs. Taylor and, as a result,  0.299672  0.700328
19                David amazed Emma and, as a result,  0.187980  0.812020
20   The prince amazed the princess and, as a result,  0.355516  0.644484
21              Robert amazed Sarah and, as a result,  0.360776  0.639224
22  Mr. Taylor amazed Mrs. Williams and, as a result,  0.213580  0.786420
23                Paul amazed Emily and, as a result,  0.234231  0.765769

In [348]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_2m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_2m,'she'))

P('subj-pron'|subj=male) =  0.31049434281885624
P('non-subj-pron'|subj=male) =  0.6895056714614233

In [349]:
c2_average_subj_male_subj_pron['amazed'] = compute_average(IC1_connective2_2m,'he')
c2_average_subj_male_obj_pron['amazed'] = compute_average(IC1_connective2_2m,'she')

### verb: "amused"

In [350]:
IC1_connective2_3 = pd.read_csv("../results/transfoxl/IC1/connective2/3.csv")
IC1_connective2_3.head()

                                         stimulus        he       she
0   Miss Smith amused Mr. Smith and, as a result,  0.270115  0.729885
1      The woman amused the man and, as a result,  0.696795  0.303205
2              Mary amused John and, as a result,  0.382637  0.617363
3              Alice amused Bob and, as a result,  0.620655  0.379345
4  The actress amused the actor and, as a result,  0.792208  0.207792

In [351]:
# female subject
IC1_connective2_3f = IC1_connective2_3[0:12]
IC1_connective2_3f = IC1_connective2_3f[["stimulus","she","he"]]
# male subject
IC1_connective2_3m = IC1_connective2_3[12:24]

#### female subject

In [352]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_3f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_3f,'he'))

P('subj-pron'|subj=female) =  0.46966592719157535
P('non-subj-pron'|subj=female) =  0.5303340901931127

In [353]:
c2_average_subj_female_subj_pron['amused'] = compute_average(IC1_connective2_3f,'she')
c2_average_subj_female_obj_pron['amused'] = compute_average(IC1_connective2_3f,'he')

#### male subject

In [354]:
IC1_connective2_3m

                                             stimulus        he       she
12      Mr. Smith amused Miss Smith and, as a result,  0.137702  0.862298
13         The man amused the woman and, as a result,  0.618275  0.381725
14                 John amused Mary and, as a result,  0.177918  0.822082
15                 Bob amused Alice and, as a result,  0.301195  0.698805
16     The actor amused the actress and, as a result,  0.707817  0.292183
17          The boy amused the girl and, as a result,  0.635814  0.364186
18   Mr. William amused Mrs. Taylor and, as a result,  0.423825  0.576175
19                David amused Emma and, as a result,  0.251623  0.748377
20   The prince amused the princess and, as a result,  0.374071  0.625929
21              Robert amused Sarah and, as a result,  0.432668  0.567332
22  Mr. Taylor amused Mrs. Williams and, as a result,  0.263705  0.736295
23                Paul amused Emily and, as a result,  0.258811  0.741189

In [355]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_3m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_3m,'she'))

P('subj-pron'|subj=male) =  0.38195204734802246
P('non-subj-pron'|subj=male) =  0.6180479377508163

In [356]:
c2_average_subj_male_subj_pron['amused'] = compute_average(IC1_connective2_3m,'he')
c2_average_subj_male_obj_pron['amused'] = compute_average(IC1_connective2_3m,'she')

### verb: "annoyed"

In [357]:
IC1_connective2_4 = pd.read_csv("../results/transfoxl/IC1/connective2/4.csv")
IC1_connective2_4.head()

                                          stimulus        he       she
0   Miss Smith annoyed Mr. Smith and, as a result,  0.172290  0.827710
1      The woman annoyed the man and, as a result,  0.612444  0.387556
2              Mary annoyed John and, as a result,  0.264071  0.735929
3              Alice annoyed Bob and, as a result,  0.462034  0.537965
4  The actress annoyed the actor and, as a result,  0.689216  0.310784

In [358]:
# female subject
IC1_connective2_4f = IC1_connective2_4[0:12]
IC1_connective2_4f = IC1_connective2_4f[["stimulus","she","he"]]
# male subject
IC1_connective2_4m = IC1_connective2_4[12:24]

#### female subject

In [359]:
IC1_connective2_4f

                                             stimulus       she        he
0      Miss Smith annoyed Mr. Smith and, as a result,  0.827710  0.172290
1         The woman annoyed the man and, as a result,  0.387556  0.612444
2                 Mary annoyed John and, as a result,  0.735929  0.264071
3                 Alice annoyed Bob and, as a result,  0.537965  0.462034
4     The actress annoyed the actor and, as a result,  0.310784  0.689216
5          The girl annoyed the boy and, as a result,  0.322147  0.677853
6   Mrs. Taylor annoyed Mr. Williams and, as a res...  0.573669  0.426331
7                Emma annoyed David and, as a result,  0.722338  0.277662
8   The princess annoyed the prince and, as a result,  0.485688  0.514312
9              Sarah annoyed Robert and, as a result,  0.566631  0.433369
10  Mrs. Williams annoyed Mr. Taylor and, as a res...  0.607420  0.392580
11               Emily annoyed Paul and, as a result,  0.747864  0.252136

In [360]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_4f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_4f,'he'))

P('subj-pron'|subj=female) =  0.5688085481524467
P('non-subj-pron'|subj=female) =  0.43119146302342415

In [361]:
c2_average_subj_female_subj_pron['annoyed'] = compute_average(IC1_connective2_4f,'she')
c2_average_subj_female_obj_pron['annoyed'] = compute_average(IC1_connective2_4f,'he')

#### male subject

In [362]:
IC1_connective2_4m

                                             stimulus        he       she
12     Mr. Smith annoyed Miss Smith and, as a result,  0.166817  0.833183
13        The man annoyed the woman and, as a result,  0.684049  0.315951
14                John annoyed Mary and, as a result,  0.186023  0.813977
15                Bob annoyed Alice and, as a result,  0.257906  0.742094
16    The actor annoyed the actress and, as a result,  0.793375  0.206625
17         The boy annoyed the girl and, as a result,  0.592941  0.407059
18  Mr. William annoyed Mrs. Taylor and, as a result,  0.385694  0.614306
19               David annoyed Emma and, as a result,  0.237445  0.762555
20  The prince annoyed the princess and, as a result,  0.464439  0.535561
21             Robert annoyed Sarah and, as a result,  0.245721  0.754279
22  Mr. Taylor annoyed Mrs. Williams and, as a res...  0.221499  0.778501
23               Paul annoyed Emily and, as a result,  0.262980  0.737020

In [363]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_4m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_4m,'she'))

P('subj-pron'|subj=male) =  0.3749074588219325
P('non-subj-pron'|subj=male) =  0.6250925449033579

In [364]:
c2_average_subj_male_subj_pron['annoyed'] = compute_average(IC1_connective2_4m,'he')
c2_average_subj_male_obj_pron['annoyed'] = compute_average(IC1_connective2_4m,'she')

### verb: "apologized"

In [365]:
IC1_connective2_5 = pd.read_csv("../results/transfoxl/IC1/connective2/5.csv")
IC1_connective2_5.head()

                                            stimulus        he       she
0  Miss Smith apologized to Mr. Smith and, as a r...  0.435092  0.564908
1  The woman apologized to the man and, as a result,  0.633447  0.366553
2          Mary apologized to John and, as a result,  0.496042  0.503958
3          Alice apologized to Bob and, as a result,  0.633708  0.366292
4  The actress apologized to the actor and, as a ...  0.841603  0.158397

In [366]:
# female subject
IC1_connective2_5f = IC1_connective2_5[0:12]
IC1_connective2_5f = IC1_connective2_5[["stimulus","she","he"]]
# male subject
IC1_connective2_5m = IC1_connective2_5[12:24]

#### female subject

In [367]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_5f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_5f,'he'))

P('subj-pron'|subj=female) =  0.490255506709218
P('non-subj-pron'|subj=female) =  0.5097444951534271

In [368]:
c2_average_subj_female_subj_pron['apologized'] = compute_average(IC1_connective2_5f,'she')
c2_average_subj_female_obj_pron['apologized'] = compute_average(IC1_connective2_5f,'he')

#### male subject

In [369]:
IC1_connective2_5m

                                             stimulus        he       she
12  Mr. Smith apologized to Miss Smith and, as a r...  0.310457  0.689543
13  The man apologized to the woman and, as a result,  0.599830  0.400170
14          John apologized to Mary and, as a result,  0.343972  0.656028
15          Bob apologized to Alice and, as a result,  0.438094  0.561906
16  The actor apologized to the actress and, as a ...  0.540873  0.459127
17   The boy apologized to the girl and, as a result,  0.686194  0.313806
18  Mr. William apologized to Mrs. Taylor and, as ...  0.520741  0.479259
19         David apologized to Emma and, as a result,  0.357045  0.642955
20  The prince apologized to the princess and, as ...  0.407511  0.592489
21       Robert apologized to Sarah and, as a result,  0.320286  0.679714
22  Mr. Taylor apologized to Mrs. Williams and, as...  0.484878  0.515122
23         Paul apologized to Emily and, as a result,  0.388386  0.611614

In [370]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_5m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_5m,'she'))

P('subj-pron'|subj=male) =  0.44985558837652206
P('non-subj-pron'|subj=male) =  0.5501444190740585

In [371]:
c2_average_subj_male_subj_pron['apologized'] = compute_average(IC1_connective2_5m,'he')
c2_average_subj_male_obj_pron['apologized'] = compute_average(IC1_connective2_5m,'she')

### verb: "bored"

In [372]:
IC1_connective2_6 = pd.read_csv("../results/transfoxl/IC1/connective2/6.csv")
IC1_connective2_6.head()

                                        stimulus        he       she
0   Miss Smith bored Mr. Smith and, as a result,  0.228801  0.771199
1      The woman bored the man and, as a result,  0.673173  0.326827
2              Mary bored John and, as a result,  0.362478  0.637522
3              Alice bored Bob and, as a result,  0.647670  0.352330
4  The actress bored the actor and, as a result,  0.865157  0.134843

In [373]:
# female subject
IC1_connective2_6f = IC1_connective2_6[0:12]
IC1_connective2_6f = IC1_connective2_6[["stimulus","she","he"]]
# male subject
IC1_connective2_6m = IC1_connective2_6[12:24]

#### female subject

In [374]:
IC1_connective2_6f

                                            stimulus       she        he
0       Miss Smith bored Mr. Smith and, as a result,  0.771199  0.228801
1          The woman bored the man and, as a result,  0.326827  0.673173
2                  Mary bored John and, as a result,  0.637522  0.362478
3                  Alice bored Bob and, as a result,  0.352330  0.647670
4      The actress bored the actor and, as a result,  0.134843  0.865157
5           The girl bored the boy and, as a result,  0.257143  0.742857
6   Mrs. Taylor bored Mr. Williams and, as a result,  0.559991  0.440009
7                 Emma bored David and, as a result,  0.643165  0.356835
8    The princess bored the prince and, as a result,  0.456004  0.543996
9               Sarah bored Robert and, as a result,  0.418605  0.581395
10  Mrs. Williams bored Mr. Taylor and, as a result,  0.592501  0.407499
11                Emily bored Paul and, as a result,  0.693274  0.306726
12      Mr. Smith bored Miss Smith and, as a result,  0.833791  0.166208
13         The man bored the woman and, as a result,  0.388692  0.611308
14                 John bored Mary and, as a result,  0.669791  0.330209
15                 Bob bored Alice and, as a result,  0.735534  0.264466
16     The actor bored the actress and, as a result,  0.260254  0.739746
17          The boy bored the girl and, as a result,  0.381653  0.618347
18   Mr. William bored Mrs. Taylor and, as a result,  0.650935  0.349065
19                David bored Emma and, as a result,  0.683367  0.316633
20   The prince bored the princess and, as a result,  0.602386  0.397614
21              Robert bored Sarah and, as a result,  0.468402  0.531598
22  Mr. Taylor bored Mrs. Williams and, as a result,  0.778747  0.221253
23                Paul bored Emily and, as a result,  0.691448  0.308552

In [375]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_6f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_6f,'he'))

P('subj-pron'|subj=female) =  0.5411834654708704
P('non-subj-pron'|subj=female) =  0.4588165320456028

In [376]:
c2_average_subj_female_subj_pron['bored'] = compute_average(IC1_connective2_6f,'she')
c2_average_subj_female_obj_pron['bored'] = compute_average(IC1_connective2_6f,'he')

#### male subject

In [377]:
IC1_connective2_6m

                                            stimulus        he       she
12      Mr. Smith bored Miss Smith and, as a result,  0.166208  0.833791
13         The man bored the woman and, as a result,  0.611308  0.388692
14                 John bored Mary and, as a result,  0.330209  0.669791
15                 Bob bored Alice and, as a result,  0.264466  0.735534
16     The actor bored the actress and, as a result,  0.739746  0.260254
17          The boy bored the girl and, as a result,  0.618347  0.381653
18   Mr. William bored Mrs. Taylor and, as a result,  0.349065  0.650935
19                David bored Emma and, as a result,  0.316633  0.683367
20   The prince bored the princess and, as a result,  0.397614  0.602386
21              Robert bored Sarah and, as a result,  0.531598  0.468402
22  Mr. Taylor bored Mrs. Williams and, as a result,  0.221253  0.778747
23                Paul bored Emily and, as a result,  0.308552  0.691448

In [378]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_6m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_6m,'she'))

P('subj-pron'|subj=male) =  0.40458327904343605
P('non-subj-pron'|subj=male) =  0.5954167271653811

In [379]:
c2_average_subj_male_subj_pron['bored'] = compute_average(IC1_connective2_6m,'he')
c2_average_subj_male_obj_pron['bored'] = compute_average(IC1_connective2_6m,'she')

### verb: "charmed"

In [380]:
IC1_connective2_7 = pd.read_csv("../results/transfoxl/IC1/connective2/7.csv")
IC1_connective2_7.head()

                                          stimulus        he       she
0   Miss Smith charmed Mr. Smith and, as a result,  0.271348  0.728652
1      The woman charmed the man and, as a result,  0.572644  0.427356
2              Mary charmed John and, as a result,  0.454820  0.545180
3              Alice charmed Bob and, as a result,  0.510592  0.489408
4  The actress charmed the actor and, as a result,  0.719341  0.280659

In [381]:
# female subject
IC1_connective2_7f = IC1_connective2_7[0:12]
IC1_connective2_7f = IC1_connective2_7f[["stimulus","she","he"]]
# male subject
IC1_connective2_7m = IC1_connective2_7[12:24]

#### female subject

In [382]:
IC1_connective2_7f

                                             stimulus       she        he
0      Miss Smith charmed Mr. Smith and, as a result,  0.728652  0.271348
1         The woman charmed the man and, as a result,  0.427356  0.572644
2                 Mary charmed John and, as a result,  0.545180  0.454820
3                 Alice charmed Bob and, as a result,  0.489408  0.510592
4     The actress charmed the actor and, as a result,  0.280659  0.719341
5          The girl charmed the boy and, as a result,  0.343848  0.656151
6   Mrs. Taylor charmed Mr. Williams and, as a res...  0.588794  0.411206
7                Emma charmed David and, as a result,  0.719206  0.280794
8   The princess charmed the prince and, as a result,  0.389362  0.610638
9              Sarah charmed Robert and, as a result,  0.471538  0.528462
10  Mrs. Williams charmed Mr. Taylor and, as a res...  0.627733  0.372267
11               Emily charmed Paul and, as a result,  0.709035  0.290965

In [383]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_7f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_7f,'he'))

P('subj-pron'|subj=female) =  0.5267308081189791
P('non-subj-pron'|subj=female) =  0.47326918691396713

In [384]:
c2_average_subj_female_subj_pron['charmed'] = compute_average(IC1_connective2_7f,'she')
c2_average_subj_female_obj_pron['charmed'] = compute_average(IC1_connective2_7f,'he')

#### male subject

In [385]:
IC1_connective2_7m

                                             stimulus        he       she
12     Mr. Smith charmed Miss Smith and, as a result,  0.250844  0.749156
13        The man charmed the woman and, as a result,  0.512318  0.487682
14                John charmed Mary and, as a result,  0.269423  0.730577
15                Bob charmed Alice and, as a result,  0.344343  0.655657
16    The actor charmed the actress and, as a result,  0.475655  0.524345
17         The boy charmed the girl and, as a result,  0.492363  0.507637
18  Mr. William charmed Mrs. Taylor and, as a result,  0.420156  0.579844
19               David charmed Emma and, as a result,  0.219390  0.780610
20  The prince charmed the princess and, as a result,  0.317927  0.682073
21             Robert charmed Sarah and, as a result,  0.317771  0.682229
22  Mr. Taylor charmed Mrs. Williams and, as a res...  0.284578  0.715422
23               Paul charmed Emily and, as a result,  0.273453  0.726547

In [386]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_7m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_7m,'she'))

P('subj-pron'|subj=male) =  0.34818514809012413
P('non-subj-pron'|subj=male) =  0.6518148531516393

In [387]:
c2_average_subj_male_subj_pron['charmed'] = compute_average(IC1_connective2_7m,'he')
c2_average_subj_male_obj_pron['charmed'] = compute_average(IC1_connective2_7m,'she')

#### verb: "offended"

In [388]:
IC1_connective2_8 = pd.read_csv("../results/transfoxl/IC1/connective2/8.csv")
IC1_connective2_8.head()

                                           stimulus        he       she
0   Miss Smith offended Mr. Smith and, as a result,  0.153566  0.846434
1      The woman offended the man and, as a result,  0.720875  0.279125
2              Mary offended John and, as a result,  0.233780  0.766220
3              Alice offended Bob and, as a result,  0.431888  0.568112
4  The actress offended the actor and, as a result,  0.737324  0.262676

In [389]:
# female subject
IC1_connective2_8f = IC1_connective2_8[0:12]
IC1_connective2_8f = IC1_connective2_8f[["stimulus","she","he"]]
# male subject
IC1_connective2_8m = IC1_connective2_8[12:24]

#### female subject

In [390]:
IC1_connective2_8f

                                             stimulus       she        he
0     Miss Smith offended Mr. Smith and, as a result,  0.846434  0.153566
1        The woman offended the man and, as a result,  0.279125  0.720875
2                Mary offended John and, as a result,  0.766220  0.233780
3                Alice offended Bob and, as a result,  0.568112  0.431888
4    The actress offended the actor and, as a result,  0.262676  0.737324
5         The girl offended the boy and, as a result,  0.188121  0.811879
6   Mrs. Taylor offended Mr. Williams and, as a re...  0.617139  0.382861
7               Emma offended David and, as a result,  0.722213  0.277787
8   The princess offended the prince and, as a res...  0.426313  0.573687
9             Sarah offended Robert and, as a result,  0.532427  0.467572
10  Mrs. Williams offended Mr. Taylor and, as a re...  0.649880  0.350120
11              Emily offended Paul and, as a result,  0.791253  0.208747

In [391]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_8f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_8f,'he'))

P('subj-pron'|subj=female) =  0.5541594363749027
P('non-subj-pron'|subj=female) =  0.44584057728449505

In [392]:
c2_average_subj_female_subj_pron['offended'] = compute_average(IC1_connective2_8f,'she')
c2_average_subj_female_obj_pron['offended'] = compute_average(IC1_connective2_8f,'he')

#### male subject

In [393]:
IC1_connective2_8m

                                             stimulus        he       she
12    Mr. Smith offended Miss Smith and, as a result,  0.190201  0.809799
13       The man offended the woman and, as a result,  0.780661  0.219339
14               John offended Mary and, as a result,  0.182023  0.817977
15               Bob offended Alice and, as a result,  0.287705  0.712295
16   The actor offended the actress and, as a result,  0.861051  0.138949
17        The boy offended the girl and, as a result,  0.661991  0.338009
18  Mr. William offended Mrs. Taylor and, as a res...  0.373759  0.626241
19              David offended Emma and, as a result,  0.252069  0.747931
20  The prince offended the princess and, as a res...  0.433750  0.566250
21            Robert offended Sarah and, as a result,  0.410366  0.589634
22  Mr. Taylor offended Mrs. Williams and, as a re...  0.202880  0.797120
23              Paul offended Emily and, as a result,  0.280498  0.719502

In [394]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_8m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_8m,'she'))

P('subj-pron'|subj=male) =  0.4097462532420953
P('non-subj-pron'|subj=male) =  0.5902537405490875

In [395]:
c2_average_subj_male_subj_pron['offended'] = compute_average(IC1_connective2_8m,'he')
c2_average_subj_male_obj_pron['offended'] = compute_average(IC1_connective2_8m,'she')

### verb: "confessed"

In [396]:
IC1_connective2_9 = pd.read_csv("../results/transfoxl/IC1/connective2/9.csv")
IC1_connective2_9.head()

                                            stimulus        he       she
0  Miss Smith confessed to Mr. Smith and, as a re...  0.319414  0.680586
1   The woman confessed to the man and, as a result,  0.612359  0.387641
2           Mary confessed to John and, as a result,  0.360845  0.639155
3           Alice confessed to Bob and, as a result,  0.480394  0.519606
4  The actress confessed to the actor and, as a r...  0.749786  0.250214

In [397]:
# female subject
IC1_connective2_9f = IC1_connective2_9[0:12]
IC1_connective2_9f = IC1_connective2_9f[["stimulus","she","he"]]
# male subject
IC1_connective2_9m = IC1_connective2_9[12:24]

#### female subject

In [398]:
IC1_connective2_9f

                                             stimulus       she        he
0   Miss Smith confessed to Mr. Smith and, as a re...  0.680586  0.319414
1    The woman confessed to the man and, as a result,  0.387641  0.612359
2            Mary confessed to John and, as a result,  0.639155  0.360845
3            Alice confessed to Bob and, as a result,  0.519606  0.480394
4   The actress confessed to the actor and, as a r...  0.250214  0.749786
5     The girl confessed to the boy and, as a result,  0.329768  0.670232
6   Mrs. Taylor confessed to Mr. Williams and, as ...  0.551628  0.448372
7           Emma confessed to David and, as a result,  0.742314  0.257686
8   The princess confessed to the prince and, as a...  0.436194  0.563806
9         Sarah confessed to Robert and, as a result,  0.581909  0.418091
10  Mrs. Williams confessed to Mr. Taylor and, as ...  0.601566  0.398434
11          Emily confessed to Paul and, as a result,  0.727788  0.272212

In [399]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_9f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_9f,'he'))

P('subj-pron'|subj=female) =  0.5373641575376192
P('non-subj-pron'|subj=female) =  0.4626358399788539

In [400]:
c2_average_subj_female_subj_pron['confessed'] = compute_average(IC1_connective2_9f,'she')
c2_average_subj_female_obj_pron['confessed'] = compute_average(IC1_connective2_9f,'he')

#### male subject

In [401]:
IC1_connective2_9m

                                             stimulus        he       she
12  Mr. Smith confessed to Miss Smith and, as a re...  0.287117  0.712883
13   The man confessed to the woman and, as a result,  0.522213  0.477787
14           John confessed to Mary and, as a result,  0.354983  0.645017
15           Bob confessed to Alice and, as a result,  0.490790  0.509210
16  The actor confessed to the actress and, as a r...  0.686198  0.313802
17    The boy confessed to the girl and, as a result,  0.567058  0.432942
18  Mr. William confessed to Mrs. Taylor and, as a...  0.332775  0.667225
19          David confessed to Emma and, as a result,  0.336670  0.663330
20  The prince confessed to the princess and, as a...  0.324138  0.675862
21        Robert confessed to Sarah and, as a result,  0.498499  0.501501
22  Mr. Taylor confessed to Mrs. Williams and, as ...  0.234182  0.765818
23          Paul confessed to Emily and, as a result,  0.321910  0.678090

In [402]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_9m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_9m,'she'))

P('subj-pron'|subj=male) =  0.4130445582171281
P('non-subj-pron'|subj=male) =  0.5869554380575815

In [403]:
c2_average_subj_male_subj_pron['confessed'] = compute_average(IC1_connective2_9m,'he')
c2_average_subj_male_obj_pron['confessed'] = compute_average(IC1_connective2_9m,'she')

### verb: "deceived"

In [404]:
IC1_connective2_10 = pd.read_csv("../results/transfoxl/IC1/connective2/10.csv")
IC1_connective2_10.head()

                                           stimulus        he       she
0   Miss Smith deceived Mr. Smith and, as a result,  0.265134  0.734866
1      The woman deceived the man and, as a result,  0.687935  0.312065
2              Mary deceived John and, as a result,  0.371902  0.628098
3              Alice deceived Bob and, as a result,  0.546447  0.453553
4  The actress deceived the actor and, as a result,  0.752218  0.247782

In [405]:
# female subject
IC1_connective2_10f = IC1_connective2_10[0:12]
IC1_connective2_10f = IC1_connective2_10f[["stimulus","she","he"]]
# male subject
IC1_connective2_10m = IC1_connective2_10[12:24]

#### female subject

In [406]:
IC1_connective2_10f

                                             stimulus       she        he
0     Miss Smith deceived Mr. Smith and, as a result,  0.734866  0.265134
1        The woman deceived the man and, as a result,  0.312065  0.687935
2                Mary deceived John and, as a result,  0.628098  0.371902
3                Alice deceived Bob and, as a result,  0.453553  0.546447
4    The actress deceived the actor and, as a result,  0.247782  0.752218
5         The girl deceived the boy and, as a result,  0.213348  0.786652
6   Mrs. Taylor deceived Mr. Williams and, as a re...  0.506649  0.493351
7               Emma deceived David and, as a result,  0.582737  0.417263
8   The princess deceived the prince and, as a res...  0.378726  0.621274
9             Sarah deceived Robert and, as a result,  0.445000  0.555000
10  Mrs. Williams deceived Mr. Taylor and, as a re...  0.585583  0.414417
11              Emily deceived Paul and, as a result,  0.758517  0.241483

In [407]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_10f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_10f,'he'))

P('subj-pron'|subj=female) =  0.48724378272891045
P('non-subj-pron'|subj=female) =  0.5127562209963799

In [408]:
c2_average_subj_female_subj_pron['deceived'] = compute_average(IC1_connective2_10f,'she')
c2_average_subj_female_obj_pron['deceived'] = compute_average(IC1_connective2_10f,'he')

#### male subject

In [409]:
IC1_connective2_10m

                                             stimulus        he       she
12    Mr. Smith deceived Miss Smith and, as a result,  0.144050  0.855950
13       The man deceived the woman and, as a result,  0.450261  0.549739
14               John deceived Mary and, as a result,  0.118216  0.881784
15               Bob deceived Alice and, as a result,  0.204809  0.795191
16   The actor deceived the actress and, as a result,  0.428698  0.571302
17        The boy deceived the girl and, as a result,  0.415729  0.584271
18  Mr. William deceived Mrs. Taylor and, as a res...  0.321033  0.678967
19              David deceived Emma and, as a result,  0.209467  0.790533
20  The prince deceived the princess and, as a res...  0.218430  0.781570
21            Robert deceived Sarah and, as a result,  0.231836  0.768164
22  Mr. Taylor deceived Mrs. Williams and, as a re...  0.227871  0.772129
23              Paul deceived Emily and, as a result,  0.189583  0.810417

In [410]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_10m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_10m,'she'))

P('subj-pron'|subj=male) =  0.2633318689962228
P('non-subj-pron'|subj=male) =  0.7366681198279063

In [411]:
c2_average_subj_male_subj_pron['deceived'] = compute_average(IC1_connective2_10m,'he')
c2_average_subj_male_obj_pron['deceived'] = compute_average(IC1_connective2_10m,'she')

### verb: "disappointed"

In [412]:
IC1_connective2_11 = pd.read_csv("../results/transfoxl/IC1/connective2/11.csv")
IC1_connective2_11.head()

                                            stimulus        he       she
0  Miss Smith disappointed Mr. Smith and, as a re...  0.213590  0.786410
1   The woman disappointed the man and, as a result,  0.773022  0.226978
2           Mary disappointed John and, as a result,  0.358568  0.641432
3           Alice disappointed Bob and, as a result,  0.643038  0.356962
4  The actress disappointed the actor and, as a r...  0.896046  0.103954

In [413]:
# female subject
IC1_connective2_11f = IC1_connective2_11[0:12]
IC1_connective2_11f = IC1_connective2_11f[["stimulus","she","he"]]
# male subject
IC1_connective2_11m = IC1_connective2_11[12:24]

#### female subject

In [414]:
IC1_connective2_11f

                                             stimulus       she        he
0   Miss Smith disappointed Mr. Smith and, as a re...  0.786410  0.213590
1    The woman disappointed the man and, as a result,  0.226978  0.773022
2            Mary disappointed John and, as a result,  0.641432  0.358568
3            Alice disappointed Bob and, as a result,  0.356962  0.643038
4   The actress disappointed the actor and, as a r...  0.103954  0.896046
5     The girl disappointed the boy and, as a result,  0.149073  0.850927
6   Mrs. Taylor disappointed Mr. Williams and, as ...  0.554258  0.445742
7           Emma disappointed David and, as a result,  0.679569  0.320430
8   The princess disappointed the prince and, as a...  0.282977  0.717023
9         Sarah disappointed Robert and, as a result,  0.382923  0.617077
10  Mrs. Williams disappointed Mr. Taylor and, as ...  0.571265  0.428735
11          Emily disappointed Paul and, as a result,  0.684580  0.315420

In [415]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_11f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_11f,'he'))

P('subj-pron'|subj=female) =  0.4516985776523749
P('non-subj-pron'|subj=female) =  0.5483014173805714

In [416]:
c2_average_subj_female_subj_pron['disappointed'] = compute_average(IC1_connective2_11f,'she')
c2_average_subj_female_obj_pron['disappointed'] = compute_average(IC1_connective2_11f,'he')

#### male subject

In [417]:
IC1_connective2_11m

                                             stimulus        he       she
12  Mr. Smith disappointed Miss Smith and, as a re...  0.171543  0.828457
13   The man disappointed the woman and, as a result,  0.857022  0.142978
14           John disappointed Mary and, as a result,  0.406285  0.593715
15           Bob disappointed Alice and, as a result,  0.266499  0.733501
16  The actor disappointed the actress and, as a r...  0.844674  0.155326
17    The boy disappointed the girl and, as a result,  0.849751  0.150249
18  Mr. William disappointed Mrs. Taylor and, as a...  0.429573  0.570427
19          David disappointed Emma and, as a result,  0.369832  0.630168
20  The prince disappointed the princess and, as a...  0.567835  0.432165
21        Robert disappointed Sarah and, as a result,  0.440008  0.559992
22  Mr. Taylor disappointed Mrs. Williams and, as ...  0.217562  0.782438
23          Paul disappointed Emily and, as a result,  0.323377  0.676623

In [418]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_11m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_11m,'she'))

P('subj-pron'|subj=male) =  0.4786635587612788
P('non-subj-pron'|subj=male) =  0.5213364362716675

In [419]:
c2_average_subj_male_subj_pron['disappointed'] = compute_average(IC1_connective2_11m,'he')
c2_average_subj_male_obj_pron['disappointed'] = compute_average(IC1_connective2_11m,'she')

### verb: "exasperated"

In [420]:
IC1_connective2_12 = pd.read_csv("../results/transfoxl/IC1/connective2/12.csv")
IC1_connective2_12.head()

                                            stimulus        he       she
0  Miss Smith exasperated Mr. Smith and, as a res...  0.196513  0.803487
1    The woman exasperated the man and, as a result,  0.743512  0.256488
2            Mary exasperated John and, as a result,  0.305163  0.694837
3            Alice exasperated Bob and, as a result,  0.563523  0.436477
4  The actress exasperated the actor and, as a re...  0.726355  0.273645

In [421]:
# female subject
IC1_connective2_12f = IC1_connective2_12[0:12]
IC1_connective2_12f = IC1_connective2_12f[["stimulus","she","he"]]
# male subject
IC1_connective2_12m = IC1_connective2_12[12:24]

#### female subject

In [422]:
IC1_connective2_12f

                                             stimulus       she        he
0   Miss Smith exasperated Mr. Smith and, as a res...  0.803487  0.196513
1     The woman exasperated the man and, as a result,  0.256488  0.743512
2             Mary exasperated John and, as a result,  0.694837  0.305163
3             Alice exasperated Bob and, as a result,  0.436477  0.563523
4   The actress exasperated the actor and, as a re...  0.273645  0.726355
5      The girl exasperated the boy and, as a result,  0.201597  0.798403
6   Mrs. Taylor exasperated Mr. Williams and, as a...  0.592066  0.407934
7            Emma exasperated David and, as a result,  0.684258  0.315742
8   The princess exasperated the prince and, as a ...  0.332464  0.667536
9          Sarah exasperated Robert and, as a result,  0.539096  0.460904
10  Mrs. Williams exasperated Mr. Taylor and, as a...  0.618931  0.381069
11           Emily exasperated Paul and, as a result,  0.678055  0.321945

In [423]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_12f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_12f,'he'))

P('subj-pron'|subj=female) =  0.5092834159731865
P('non-subj-pron'|subj=female) =  0.490716593960921

In [424]:
c2_average_subj_female_subj_pron['exasperated'] = compute_average(IC1_connective2_12f,'she')
c2_average_subj_female_obj_pron['exasperated'] = compute_average(IC1_connective2_12f,'he')

#### male subject

In [425]:
IC1_connective2_12m

                                             stimulus        he       she
12  Mr. Smith exasperated Miss Smith and, as a res...  0.145038  0.854962
13    The man exasperated the woman and, as a result,  0.576337  0.423663
14            John exasperated Mary and, as a result,  0.192983  0.807017
15            Bob exasperated Alice and, as a result,  0.194189  0.805811
16  The actor exasperated the actress and, as a re...  0.689021  0.310979
17     The boy exasperated the girl and, as a result,  0.512474  0.487526
18  Mr. William exasperated Mrs. Taylor and, as a ...  0.295477  0.704523
19           David exasperated Emma and, as a result,  0.176883  0.823117
20  The prince exasperated the princess and, as a ...  0.404027  0.595973
21         Robert exasperated Sarah and, as a result,  0.251351  0.748649
22  Mr. Taylor exasperated Mrs. Williams and, as a...  0.171815  0.828185
23           Paul exasperated Emily and, as a result,  0.218893  0.781107

In [426]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_12m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_12m,'she'))

P('subj-pron'|subj=male) =  0.3190406250456969
P('non-subj-pron'|subj=male) =  0.6809593786795934

In [427]:
c2_average_subj_male_subj_pron['exasperated'] = compute_average(IC1_connective2_12m,'he')
c2_average_subj_male_obj_pron['exasperated'] = compute_average(IC1_connective2_12m,'she')

### verb: "fascinated"

In [428]:
IC1_connective2_13 = pd.read_csv("../results/transfoxl/IC1/connective2/13.csv")
IC1_connective2_13.head()

                                            stimulus        he       she
0  Miss Smith fascinated Mr. Smith and, as a result,  0.127610  0.872389
1     The woman fascinated the man and, as a result,  0.503875  0.496125
2             Mary fascinated John and, as a result,  0.262565  0.737435
3             Alice fascinated Bob and, as a result,  0.388551  0.611449
4  The actress fascinated the actor and, as a res...  0.606921  0.393079

In [429]:
# female subject
IC1_connective2_13f = IC1_connective2_13[0:12]
IC1_connective2_13f = IC1_connective2_13f[["stimulus","she","he"]]
# male subject
IC1_connective2_13m = IC1_connective2_13[12:24]

#### female subject

In [430]:
IC1_connective2_13f

                                             stimulus       she        he
0   Miss Smith fascinated Mr. Smith and, as a result,  0.872389  0.127610
1      The woman fascinated the man and, as a result,  0.496125  0.503875
2              Mary fascinated John and, as a result,  0.737435  0.262565
3              Alice fascinated Bob and, as a result,  0.611449  0.388551
4   The actress fascinated the actor and, as a res...  0.393079  0.606921
5       The girl fascinated the boy and, as a result,  0.325758  0.674242
6   Mrs. Taylor fascinated Mr. Williams and, as a ...  0.683638  0.316362
7             Emma fascinated David and, as a result,  0.821568  0.178432
8   The princess fascinated the prince and, as a r...  0.444065  0.555935
9           Sarah fascinated Robert and, as a result,  0.721964  0.278036
10  Mrs. Williams fascinated Mr. Taylor and, as a ...  0.730569  0.269431
11            Emily fascinated Paul and, as a result,  0.835972  0.164027

In [431]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_13f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_13f,'he'))

P('subj-pron'|subj=female) =  0.6395009110371271
P('non-subj-pron'|subj=female) =  0.3604990827540557

In [432]:
c2_average_subj_female_subj_pron['fascinated'] = compute_average(IC1_connective2_13f,'she')
c2_average_subj_female_obj_pron['fascinated'] = compute_average(IC1_connective2_13f,'he')

#### male subject

In [433]:
IC1_connective2_13m

                                             stimulus        he       she
12  Mr. Smith fascinated Miss Smith and, as a result,  0.147088  0.852912
13     The man fascinated the woman and, as a result,  0.641444  0.358556
14             John fascinated Mary and, as a result,  0.235389  0.764611
15             Bob fascinated Alice and, as a result,  0.495761  0.504238
16  The actor fascinated the actress and, as a res...  0.817839  0.182161
17      The boy fascinated the girl and, as a result,  0.668000  0.332000
18  Mr. William fascinated Mrs. Taylor and, as a r...  0.341516  0.658484
19            David fascinated Emma and, as a result,  0.294109  0.705891
20  The prince fascinated the princess and, as a r...  0.417385  0.582615
21          Robert fascinated Sarah and, as a result,  0.750947  0.249053
22  Mr. Taylor fascinated Mrs. Williams and, as a ...  0.219515  0.780485
23            Paul fascinated Emily and, as a result,  0.430184  0.569816

In [434]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_13m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_13m,'she'))

P('subj-pron'|subj=male) =  0.4549315037826697
P('non-subj-pron'|subj=male) =  0.5450684825579325

In [435]:
c2_average_subj_male_subj_pron['fascinated'] = compute_average(IC1_connective2_13m,'he')
c2_average_subj_male_obj_pron['fascinated'] = compute_average(IC1_connective2_13m,'she')

### verb: "frightened"

In [436]:
IC1_connective2_14 = pd.read_csv("../results/transfoxl/IC1/connective2/14.csv")
IC1_connective2_14.head()

                                            stimulus        he       she
0  Miss Smith frightened Mr. Smith and, as a result,  0.274702  0.725298
1     The woman frightened the man and, as a result,  0.743393  0.256607
2             Mary frightened John and, as a result,  0.326153  0.673847
3             Alice frightened Bob and, as a result,  0.630034  0.369966
4  The actress frightened the actor and, as a res...  0.718134  0.281866

In [437]:
# female subject
IC1_connective2_14f = IC1_connective2_14[0:12]
IC1_connective2_14f = IC1_connective2_14f[["stimulus","she","he"]]
# male subject
IC1_connective2_14m = IC1_connective2_14[12:24]

#### female subject

In [438]:
IC1_connective2_14f

                                             stimulus       she        he
0   Miss Smith frightened Mr. Smith and, as a result,  0.725298  0.274702
1      The woman frightened the man and, as a result,  0.256607  0.743393
2              Mary frightened John and, as a result,  0.673847  0.326153
3              Alice frightened Bob and, as a result,  0.369966  0.630034
4   The actress frightened the actor and, as a res...  0.281866  0.718134
5       The girl frightened the boy and, as a result,  0.168199  0.831801
6   Mrs. Taylor frightened Mr. Williams and, as a ...  0.579907  0.420093
7             Emma frightened David and, as a result,  0.581297  0.418703
8   The princess frightened the prince and, as a r...  0.307190  0.692810
9           Sarah frightened Robert and, as a result,  0.419521  0.580479
10  Mrs. Williams frightened Mr. Taylor and, as a ...  0.633911  0.366089
11            Emily frightened Paul and, as a result,  0.584491  0.415509

In [439]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_14f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_14f,'he'))

P('subj-pron'|subj=female) =  0.4651749941209952
P('non-subj-pron'|subj=female) =  0.5348250071207682

In [440]:
c2_average_subj_female_subj_pron['frightened'] = compute_average(IC1_connective2_14f,'she')
c2_average_subj_female_obj_pron['frightened'] = compute_average(IC1_connective2_14f,'he')

#### male subject

In [441]:
IC1_connective2_14m

                                             stimulus        he       she
12  Mr. Smith frightened Miss Smith and, as a result,  0.182636  0.817364
13     The man frightened the woman and, as a result,  0.697903  0.302097
14             John frightened Mary and, as a result,  0.203566  0.796434
15             Bob frightened Alice and, as a result,  0.239463  0.760537
16  The actor frightened the actress and, as a res...  0.759482  0.240518
17      The boy frightened the girl and, as a result,  0.675539  0.324461
18  Mr. William frightened Mrs. Taylor and, as a r...  0.373508  0.626492
19            David frightened Emma and, as a result,  0.276523  0.723477
20  The prince frightened the princess and, as a r...  0.462193  0.537807
21          Robert frightened Sarah and, as a result,  0.367677  0.632323
22  Mr. Taylor frightened Mrs. Williams and, as a ...  0.287619  0.712380
23            Paul frightened Emily and, as a result,  0.232547  0.767453

In [442]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_14m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_14m,'she'))

P('subj-pron'|subj=male) =  0.3965546637773514
P('non-subj-pron'|subj=male) =  0.6034453300138315

In [443]:
c2_average_subj_male_subj_pron['frightened'] = compute_average(IC1_connective2_14m,'he')
c2_average_subj_male_obj_pron['frightened'] = compute_average(IC1_connective2_14m,'she')

### verb: "humiliated"

In [444]:
IC1_connective2_15 = pd.read_csv("../results/transfoxl/IC1/connective2/15.csv")
IC1_connective2_15.head()

                                            stimulus        he       she
0  Miss Smith humiliated Mr. Smith and, as a result,  0.210167  0.789833
1     The woman humiliated the man and, as a result,  0.685647  0.314353
2             Mary humiliated John and, as a result,  0.426860  0.573139
3             Alice humiliated Bob and, as a result,  0.695611  0.304389
4  The actress humiliated the actor and, as a res...  0.810706  0.189294

In [445]:
# female subject
IC1_connective2_15f = IC1_connective2_15[0:12]
IC1_connective2_15f = IC1_connective2_15f[["stimulus","she","he"]]
# male subject
IC1_connective2_15m = IC1_connective2_15[12:24]

#### female subject

In [446]:
IC1_connective2_15f

                                             stimulus       she        he
0   Miss Smith humiliated Mr. Smith and, as a result,  0.789833  0.210167
1      The woman humiliated the man and, as a result,  0.314353  0.685647
2              Mary humiliated John and, as a result,  0.573139  0.426860
3              Alice humiliated Bob and, as a result,  0.304389  0.695611
4   The actress humiliated the actor and, as a res...  0.189294  0.810706
5       The girl humiliated the boy and, as a result,  0.290666  0.709334
6   Mrs. Taylor humiliated Mr. Williams and, as a ...  0.492862  0.507138
7             Emma humiliated David and, as a result,  0.581881  0.418119
8   The princess humiliated the prince and, as a r...  0.394936  0.605064
9           Sarah humiliated Robert and, as a result,  0.326014  0.673986
10  Mrs. Williams humiliated Mr. Taylor and, as a ...  0.546851  0.453149
11            Emily humiliated Paul and, as a result,  0.580361  0.419639

In [447]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_15f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_15f,'he'))

P('subj-pron'|subj=female) =  0.44871487095952034
P('non-subj-pron'|subj=female) =  0.5512851277987162

In [448]:
c2_average_subj_female_subj_pron['humiliated'] = compute_average(IC1_connective2_15f,'she')
c2_average_subj_female_obj_pron['humiliated'] = compute_average(IC1_connective2_15f,'he')

#### male subject

In [449]:
IC1_connective2_15m

                                             stimulus        he       she
12  Mr. Smith humiliated Miss Smith and, as a result,  0.172303  0.827697
13     The man humiliated the woman and, as a result,  0.879105  0.120895
14             John humiliated Mary and, as a result,  0.365424  0.634576
15             Bob humiliated Alice and, as a result,  0.255287  0.744713
16  The actor humiliated the actress and, as a res...  0.826493  0.173507
17      The boy humiliated the girl and, as a result,  0.810757  0.189243
18  Mr. William humiliated Mrs. Taylor and, as a r...  0.382088  0.617912
19            David humiliated Emma and, as a result,  0.261748  0.738252
20  The prince humiliated the princess and, as a r...  0.372233  0.627767
21          Robert humiliated Sarah and, as a result,  0.504185  0.495815
22  Mr. Taylor humiliated Mrs. Williams and, as a ...  0.243404  0.756596
23            Paul humiliated Emily and, as a result,  0.219357  0.780643

In [450]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_15m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_15m,'she'))

P('subj-pron'|subj=male) =  0.44103194400668144
P('non-subj-pron'|subj=male) =  0.5589680783450603

In [451]:
c2_average_subj_male_subj_pron['humiliated'] = compute_average(IC1_connective2_15m,'he')
c2_average_subj_male_obj_pron['humiliated'] = compute_average(IC1_connective2_15m,'she')

### verb: "infuriated"

In [452]:
IC1_connective2_16 = pd.read_csv("../results/transfoxl/IC1/connective2/16.csv")
IC1_connective2_16.head()

                                            stimulus        he       she
0  Miss Smith infuriated Mr. Smith and, as a result,  0.175933  0.824067
1     The woman infuriated the man and, as a result,  0.732240  0.267760
2             Mary infuriated John and, as a result,  0.266278  0.733722
3             Alice infuriated Bob and, as a result,  0.577859  0.422141
4  The actress infuriated the actor and, as a res...  0.728678  0.271322

In [453]:
# female subject
IC1_connective2_16f = IC1_connective2_16[0:12]
IC1_connective2_16f = IC1_connective2_16f[["stimulus","she","he"]]
# male subject
IC1_connective2_16m = IC1_connective2_16[12:24]

#### female subject

In [454]:
IC1_connective2_16f

                                             stimulus       she        he
0   Miss Smith infuriated Mr. Smith and, as a result,  0.824067  0.175933
1      The woman infuriated the man and, as a result,  0.267760  0.732240
2              Mary infuriated John and, as a result,  0.733722  0.266278
3              Alice infuriated Bob and, as a result,  0.422141  0.577859
4   The actress infuriated the actor and, as a res...  0.271322  0.728678
5       The girl infuriated the boy and, as a result,  0.197788  0.802212
6   Mrs. Taylor infuriated Mr. Williams and, as a ...  0.584375  0.415625
7             Emma infuriated David and, as a result,  0.696389  0.303611
8   The princess infuriated the prince and, as a r...  0.356518  0.643482
9           Sarah infuriated Robert and, as a result,  0.539236  0.460764
10  Mrs. Williams infuriated Mr. Taylor and, as a ...  0.624084  0.375916
11            Emily infuriated Paul and, as a result,  0.705040  0.294960

In [455]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_16f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_16f,'he'))

P('subj-pron'|subj=female) =  0.5185367862383524
P('non-subj-pron'|subj=female) =  0.4814632087945938

In [456]:
c2_average_subj_female_subj_pron['infuriated'] = compute_average(IC1_connective2_16f,'she')
c2_average_subj_female_obj_pron['infuriated'] = compute_average(IC1_connective2_16f,'he')

#### male subject

In [457]:
IC1_connective2_16m

                                             stimulus        he       she
12  Mr. Smith infuriated Miss Smith and, as a result,  0.150209  0.849791
13     The man infuriated the woman and, as a result,  0.579700  0.420300
14             John infuriated Mary and, as a result,  0.135481  0.864519
15             Bob infuriated Alice and, as a result,  0.170628  0.829372
16  The actor infuriated the actress and, as a res...  0.726125  0.273875
17      The boy infuriated the girl and, as a result,  0.474747  0.525253
18  Mr. William infuriated Mrs. Taylor and, as a r...  0.237801  0.762199
19            David infuriated Emma and, as a result,  0.143736  0.856264
20  The prince infuriated the princess and, as a r...  0.341932  0.658068
21          Robert infuriated Sarah and, as a result,  0.229811  0.770189
22  Mr. Taylor infuriated Mrs. Williams and, as a ...  0.150716  0.849284
23            Paul infuriated Emily and, as a result,  0.165226  0.834774

In [458]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_16m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_16m,'she'))

P('subj-pron'|subj=male) =  0.29217613240083057
P('non-subj-pron'|subj=male) =  0.7078238700826963

In [459]:
c2_average_subj_male_subj_pron['infuriated'] = compute_average(IC1_connective2_16m,'he')
c2_average_subj_male_obj_pron['infuriated'] = compute_average(IC1_connective2_16m,'she')

### verb: "inspires"

In [460]:
IC1_connective2_17 = pd.read_csv("../results/transfoxl/IC1/connective2/17.csv")
IC1_connective2_17.head()

                                           stimulus        he       she
0   Miss Smith inspires Mr. Smith and, as a result,  0.321560  0.678440
1      The woman inspires the man and, as a result,  0.826911  0.173089
2              Mary inspires John and, as a result,  0.442932  0.557068
3              Alice inspires Bob and, as a result,  0.714211  0.285790
4  The actress inspires the actor and, as a result,  0.835276  0.164724

In [461]:
# female subject
IC1_connective2_17f = IC1_connective2_17[0:12]
IC1_connective2_17f = IC1_connective2_17f[["stimulus","she","he"]]
# male subject
IC1_connective2_17m = IC1_connective2_17[12:24]

#### female subject

In [462]:
IC1_connective2_17f

                                             stimulus       she        he
0     Miss Smith inspires Mr. Smith and, as a result,  0.678440  0.321560
1        The woman inspires the man and, as a result,  0.173089  0.826911
2                Mary inspires John and, as a result,  0.557068  0.442932
3                Alice inspires Bob and, as a result,  0.285790  0.714211
4    The actress inspires the actor and, as a result,  0.164724  0.835276
5         The girl inspires the boy and, as a result,  0.075174  0.924826
6   Mrs. Taylor inspires Mr. Williams and, as a re...  0.449286  0.550714
7               Emma inspires David and, as a result,  0.640917  0.359083
8   The princess inspires the prince and, as a res...  0.169170  0.830830
9             Sarah inspires Robert and, as a result,  0.427492  0.572508
10  Mrs. Williams inspires Mr. Taylor and, as a re...  0.497755  0.502245
11              Emily inspires Paul and, as a result,  0.612796  0.387204

In [463]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_17f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_17f,'he'))

P('subj-pron'|subj=female) =  0.3943082895129919
P('non-subj-pron'|subj=female) =  0.605691708624363

In [464]:
c2_average_subj_female_subj_pron['inspires'] = compute_average(IC1_connective2_17f,'she')
c2_average_subj_female_obj_pron['inspires'] = compute_average(IC1_connective2_17f,'he')

#### male subject

In [465]:
IC1_connective2_17m

                                             stimulus        he       she
12    Mr. Smith inspires Miss Smith and, as a result,  0.099064  0.900936
13       The man inspires the woman and, as a result,  0.275338  0.724662
14               John inspires Mary and, as a result,  0.057909  0.942091
15               Bob inspires Alice and, as a result,  0.197115  0.802885
16   The actor inspires the actress and, as a result,  0.513603  0.486397
17        The boy inspires the girl and, as a result,  0.245010  0.754990
18  Mr. William inspires Mrs. Taylor and, as a res...  0.253548  0.746452
19              David inspires Emma and, as a result,  0.101889  0.898111
20  The prince inspires the princess and, as a res...  0.179789  0.820211
21            Robert inspires Sarah and, as a result,  0.146103  0.853897
22  Mr. Taylor inspires Mrs. Williams and, as a re...  0.192713  0.807287
23              Paul inspires Emily and, as a result,  0.115998  0.884002

In [466]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_17m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_17m,'she'))

P('subj-pron'|subj=male) =  0.1981733183686932
P('non-subj-pron'|subj=male) =  0.8018266831835111

In [467]:
c2_average_subj_male_subj_pron['inspires'] = compute_average(IC1_connective2_17m,'he')
c2_average_subj_male_obj_pron['inspires'] = compute_average(IC1_connective2_17m,'she')

### verb: "intimidates"

In [468]:
IC1_connective2_18 = pd.read_csv("../results/transfoxl/IC1/connective2/18.csv")
IC1_connective2_18.head()

                                            stimulus        he       she
0  Miss Smith intimidates Mr. Smith and, as a res...  0.230401  0.769599
1    The woman intimidates the man and, as a result,  0.513709  0.486291
2            Mary intimidates John and, as a result,  0.364995  0.635005
3            Alice intimidates Bob and, as a result,  0.541349  0.458651
4  The actress intimidates the actor and, as a re...  0.671614  0.328386

In [469]:
# female subject
IC1_connective2_18f = IC1_connective2_18[0:12]
IC1_connective2_18f = IC1_connective2_18f[["stimulus","she","he"]]
# male subject
IC1_connective2_18m = IC1_connective2_18[12:24]

#### female subject

In [470]:
IC1_connective2_18f

                                             stimulus       she        he
0   Miss Smith intimidates Mr. Smith and, as a res...  0.769599  0.230401
1     The woman intimidates the man and, as a result,  0.486291  0.513709
2             Mary intimidates John and, as a result,  0.635005  0.364995
3             Alice intimidates Bob and, as a result,  0.458651  0.541349
4   The actress intimidates the actor and, as a re...  0.328386  0.671614
5      The girl intimidates the boy and, as a result,  0.336461  0.663539
6   Mrs. Taylor intimidates Mr. Williams and, as a...  0.503712  0.496288
7            Emma intimidates David and, as a result,  0.755944  0.244056
8   The princess intimidates the prince and, as a ...  0.437926  0.562074
9          Sarah intimidates Robert and, as a result,  0.655559  0.344441
10  Mrs. Williams intimidates Mr. Taylor and, as a...  0.572714  0.427286
11           Emily intimidates Paul and, as a result,  0.763319  0.236681

In [471]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_18f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_18f,'he'))

P('subj-pron'|subj=female) =  0.5586305732528368
P('non-subj-pron'|subj=female) =  0.4413694217801094

In [472]:
c2_average_subj_female_subj_pron['intimidates'] = compute_average(IC1_connective2_18f,'she')
c2_average_subj_female_obj_pron['intimidates'] = compute_average(IC1_connective2_18f,'he')

#### male subject

In [473]:
IC1_connective2_18m

                                             stimulus        he       she
12  Mr. Smith intimidates Miss Smith and, as a res...  0.102842  0.897159
13    The man intimidates the woman and, as a result,  0.318150  0.681850
14            John intimidates Mary and, as a result,  0.039507  0.960493
15            Bob intimidates Alice and, as a result,  0.145639  0.854361
16  The actor intimidates the actress and, as a re...  0.375886  0.624114
17     The boy intimidates the girl and, as a result,  0.261098  0.738902
18  Mr. William intimidates Mrs. Taylor and, as a ...  0.332487  0.667513
19           David intimidates Emma and, as a result,  0.099786  0.900214
20  The prince intimidates the princess and, as a ...  0.145662  0.854338
21         Robert intimidates Sarah and, as a result,  0.087747  0.912253
22  Mr. Taylor intimidates Mrs. Williams and, as a...  0.248500  0.751500
23           Paul intimidates Emily and, as a result,  0.114408  0.885592

In [474]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_18m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_18m,'she'))

P('subj-pron'|subj=male) =  0.18930928874760866
P('non-subj-pron'|subj=male) =  0.8106907109419504

In [475]:
c2_average_subj_male_subj_pron['intimidates'] = compute_average(IC1_connective2_18m,'he')
c2_average_subj_male_obj_pron['intimidates'] = compute_average(IC1_connective2_18m,'she')

### verb: "scares"

In [476]:
IC1_connective2_19 = pd.read_csv("../results/transfoxl/IC1/connective2/19.csv")
IC1_connective2_19.head()

                                         stimulus        he       she
0   Miss Smith scares Mr. Smith and, as a result,  0.302119  0.697881
1      The woman scares the man and, as a result,  0.643231  0.356769
2              Mary scares John and, as a result,  0.405090  0.594910
3              Alice scares Bob and, as a result,  0.641936  0.358064
4  The actress scares the actor and, as a result,  0.813758  0.186242

In [477]:
# female subject
IC1_connective2_19f = IC1_connective2_19[0:12]
IC1_connective2_19f = IC1_connective2_19f[["stimulus","she","he"]]
# male subject
IC1_connective2_19m = IC1_connective2_19[12:24]

#### female subject

In [478]:
IC1_connective2_19f

                                             stimulus       she        he
0       Miss Smith scares Mr. Smith and, as a result,  0.697881  0.302119
1          The woman scares the man and, as a result,  0.356769  0.643231
2                  Mary scares John and, as a result,  0.594910  0.405090
3                  Alice scares Bob and, as a result,  0.358064  0.641936
4      The actress scares the actor and, as a result,  0.186242  0.813758
5           The girl scares the boy and, as a result,  0.241344  0.758656
6   Mrs. Taylor scares Mr. Williams and, as a result,  0.489604  0.510396
7                 Emma scares David and, as a result,  0.556450  0.443550
8    The princess scares the prince and, as a result,  0.399590  0.600410
9               Sarah scares Robert and, as a result,  0.377641  0.622359
10  Mrs. Williams scares Mr. Taylor and, as a result,  0.563349  0.436651
11                Emily scares Paul and, as a result,  0.562428  0.437572

In [479]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_19f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_19f,'he'))

P('subj-pron'|subj=female) =  0.4486893452703953
P('non-subj-pron'|subj=female) =  0.5513106609384218

In [480]:
c2_average_subj_female_subj_pron['scares'] = compute_average(IC1_connective2_19f,'she')
c2_average_subj_female_obj_pron['scares'] = compute_average(IC1_connective2_19f,'he')

#### male subject

In [481]:
IC1_connective2_19m

                                             stimulus        he       she
12      Mr. Smith scares Miss Smith and, as a result,  0.160203  0.839797
13         The man scares the woman and, as a result,  0.467044  0.532956
14                 John scares Mary and, as a result,  0.110100  0.889900
15                 Bob scares Alice and, as a result,  0.185967  0.814033
16     The actor scares the actress and, as a result,  0.629992  0.370008
17          The boy scares the girl and, as a result,  0.528850  0.471150
18   Mr. William scares Mrs. Taylor and, as a result,  0.400892  0.599108
19                David scares Emma and, as a result,  0.183989  0.816011
20   The prince scares the princess and, as a result,  0.344829  0.655171
21              Robert scares Sarah and, as a result,  0.238436  0.761564
22  Mr. Taylor scares Mrs. Williams and, as a result,  0.288296  0.711704
23                Paul scares Emily and, as a result,  0.197412  0.802588

In [482]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_19m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_19m,'she'))

P('subj-pron'|subj=male) =  0.311334112038215
P('non-subj-pron'|subj=male) =  0.6886658718188604

In [483]:
c2_average_subj_male_subj_pron['scares'] = compute_average(IC1_connective2_19m,'he')
c2_average_subj_male_obj_pron['scares'] = compute_average(IC1_connective2_19m,'she')

### verb: "surprised"

In [484]:
IC1_connective2_20 = pd.read_csv("../results/transfoxl/IC1/connective2/20.csv")
IC1_connective2_20.head()

                                            stimulus        he       she
0   Miss Smith surprised Mr. Smith and, as a result,  0.229982  0.770018
1      The woman surprised the man and, as a result,  0.700542  0.299458
2              Mary surprised John and, as a result,  0.364868  0.635132
3              Alice surprised Bob and, as a result,  0.498504  0.501496
4  The actress surprised the actor and, as a result,  0.809227  0.190773

In [485]:
# female subject
IC1_connective2_20f = IC1_connective2_20[0:12]
IC1_connective2_20f = IC1_connective2_20f[["stimulus","she","he"]]
# male subject
IC1_connective2_20m = IC1_connective2_20[12:24]

#### female subject

In [486]:
IC1_connective2_20f

                                             stimulus       she        he
0    Miss Smith surprised Mr. Smith and, as a result,  0.770018  0.229982
1       The woman surprised the man and, as a result,  0.299458  0.700542
2               Mary surprised John and, as a result,  0.635132  0.364868
3               Alice surprised Bob and, as a result,  0.501496  0.498504
4   The actress surprised the actor and, as a result,  0.190773  0.809227
5        The girl surprised the boy and, as a result,  0.177453  0.822547
6   Mrs. Taylor surprised Mr. Williams and, as a r...  0.544965  0.455035
7              Emma surprised David and, as a result,  0.660701  0.339299
8   The princess surprised the prince and, as a re...  0.350635  0.649365
9            Sarah surprised Robert and, as a result,  0.410810  0.589190
10  Mrs. Williams surprised Mr. Taylor and, as a r...  0.611406  0.388594
11             Emily surprised Paul and, as a result,  0.725066  0.274934

In [487]:
print("P('subj-pron'|subj=female) = ", compute_average(IC1_connective2_20f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC1_connective2_20f,'he'))

P('subj-pron'|subj=female) =  0.4898260086774826
P('non-subj-pron'|subj=female) =  0.5101739776631197

In [488]:
c2_average_subj_female_subj_pron['surprised'] = compute_average(IC1_connective2_20f,'she')
c2_average_subj_female_obj_pron['surprised'] = compute_average(IC1_connective2_20f,'he')

#### male subject

In [489]:
IC1_connective2_20m

                                             stimulus        he       she
12   Mr. Smith surprised Miss Smith and, as a result,  0.158126  0.841874
13      The man surprised the woman and, as a result,  0.694508  0.305492
14              John surprised Mary and, as a result,  0.184153  0.815847
15              Bob surprised Alice and, as a result,  0.259064  0.740936
16  The actor surprised the actress and, as a result,  0.657307  0.342693
17       The boy surprised the girl and, as a result,  0.644720  0.355280
18  Mr. William surprised Mrs. Taylor and, as a re...  0.395218  0.604782
19             David surprised Emma and, as a result,  0.285330  0.714670
20  The prince surprised the princess and, as a re...  0.440207  0.559793
21           Robert surprised Sarah and, as a result,  0.319799  0.680201
22  Mr. Taylor surprised Mrs. Williams and, as a r...  0.242479  0.757521
23             Paul surprised Emily and, as a result,  0.264503  0.735497

In [490]:
print("P('subj-pron'|subj=male) = ", compute_average(IC1_connective2_20m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC1_connective2_20m,'she'))

P('subj-pron'|subj=male) =  0.37878447646896046
P('non-subj-pron'|subj=male) =  0.6212155123551687

In [491]:
c2_average_subj_male_subj_pron['surprised'] = compute_average(IC1_connective2_20m,'he')
c2_average_subj_male_obj_pron['surprised'] = compute_average(IC1_connective2_20m,'she')

## Summary of Results

In [492]:
c2_results_fsubj_subjpron = pd.DataFrame(list(c2_average_subj_female_subj_pron.items()),columns=['verb','subj_ref_female_subj'])
c2_results_fsubj_objpron = pd.DataFrame(list(c2_average_subj_female_obj_pron.items()),columns=['verb','obj_ref_female_subj'])
c2_results_fsubj = c2_results_fsubj_subjpron.merge(c2_results_fsubj_objpron)
c2_results_fsubj

            verb  subj_ref_female_subj  obj_ref_female_subj
0     aggravated              0.394066             0.605934
1         amazed              0.426809             0.573191
2         amused              0.469666             0.530334
3        annoyed              0.568809             0.431191
4     apologized              0.490256             0.509744
5          bored              0.541183             0.458817
6        charmed              0.526731             0.473269
7       offended              0.554159             0.445841
8      confessed              0.537364             0.462636
9       deceived              0.487244             0.512756
10  disappointed              0.451699             0.548301
11   exasperated              0.509283             0.490717
12    fascinated              0.639501             0.360499
13    frightened              0.465175             0.534825
14    humiliated              0.448715             0.551285
15    infuriated              0.518537             0.481463
16      inspires              0.394308             0.605692
17   intimidates              0.558631             0.441369
18        scares              0.448689             0.551311
19     surprised              0.489826             0.510174

In [493]:
c2_results_msubj_subjpron = pd.DataFrame(list(c2_average_subj_male_subj_pron.items()),columns=['verb','subj_ref_male_subj'])
c2_results_msubj_objpron = pd.DataFrame(list(c2_average_subj_male_obj_pron.items()),columns=['verb','obj_ref_male_subj'])
c2_results_msubj = c2_results_msubj_subjpron.merge(c2_results_msubj_objpron)
c2_results_msubj

            verb  subj_ref_male_subj  obj_ref_male_subj
0     aggravated            0.451545           0.548455
1         amazed            0.310494           0.689506
2         amused            0.381952           0.618048
3        annoyed            0.374907           0.625093
4     apologized            0.449856           0.550144
5          bored            0.404583           0.595417
6        charmed            0.348185           0.651815
7       offended            0.409746           0.590254
8      confessed            0.413045           0.586955
9       deceived            0.263332           0.736668
10  disappointed            0.478664           0.521336
11   exasperated            0.319041           0.680959
12    fascinated            0.454932           0.545068
13    frightened            0.396555           0.603445
14    humiliated            0.441032           0.558968
15    infuriated            0.292176           0.707824
16      inspires            0.198173           0.801827
17   intimidates            0.189309           0.810691
18        scares            0.311334           0.688666
19     surprised            0.378784           0.621216

In [494]:
c2_results = c2_results_fsubj.merge(c2_results_msubj)
c2_results

,verb,subj_ref_female_subj,obj_ref_female_subj,subj_ref_male_subj,obj_ref_male_subj
0,aggravated,0.394066,0.605934,0.451545,0.548455
1,amazed,0.426809,0.573191,0.310494,0.689506
2,amused,0.469666,0.530334,0.381952,0.618048
3,annoyed,0.568809,0.431191,0.374907,0.625093
4,apologized,0.490256,0.509744,0.449856,0.550144
5,bored,0.541183,0.458817,0.404583,0.595417
6,charmed,0.526731,0.473269,0.348185,0.651815
7,offended,0.554159,0.445841,0.409746,0.590254
8,confessed,0.537364,0.462636,0.413045,0.586955
9,deceived,0.487244,0.512756,0.263332,0.736668
10,disappointed,0.451699,0.548301,0.478664,0.521336
11,exasperated,0.509283,0.490717,0.319041,0.680959
12,fascinated,0.639501,0.360499,0.454932,0.545068
13,frightened,0.465175,0.534825,0.396555,0.603445
14,humiliated,0.448715,0.551285,0.441032,0.558968
15,infuriated,0.518537,0.481463,0.292176,0.707824
16,inspires,0.394308,0.605692,0.198173,0.801827
17,intimidates,0.558631,0.441369,0.189309,0.810691
18,scares,0.448689,0.551311,0.311334,0.688666
19,surprised,0.489826,0.510174,0.378784,0.621216

In [495]:
print("P(subj_reference |subj=female)", compute_average(c2_results,'subj_ref_female_subj'))
print("P(obj_reference |subj=female)", compute_average(c2_results,'obj_ref_female_subj'))

P(subj_reference |subj=female) 0.49603254087269305
P(obj_reference |subj=female) 0.5039674590652188

In [496]:
print("P(subj_reference |subj=male)", compute_average(c2_results,'subj_ref_male_subj'))
print("P(obj_reference |subj=male)", compute_average(c2_results,'obj_ref_male_subj'))

P(subj_reference |subj=male) 0.36338224016750853
P(obj_reference |subj=male) 0.6366177587459486

In [497]:
# save results to csv
col_headers = ['verb','subj_ref_female_subj','obj_ref_female_subj','subj_ref_male_subj','obj_ref_male_subj']
np_results.to_csv("../results/transfoxl/summary/IC1-noprompt.csv",index=False,header=col_headers)
c1_results.to_csv("../results/transfoxl/summary/IC1-connective1.csv",index=False,header=col_headers)
c2_results.to_csv("../results/transfoxl/summary/IC1-connective2.csv",index=False,header=col_headers)