In [1]:
import pandas as pd
import numpy as np

In [2]:
def compute_average(df,col):
    return np.mean(df[col].values)

## No-prompt

In [3]:
np_average_subj_female_subj_pron = {}
np_average_subj_female_obj_pron = {}
np_average_subj_male_subj_pron = {}
np_average_subj_male_obj_pron = {}

### Verb: "assisted"

In [4]:
IC2_noprompt_1 = pd.read_csv("../results/transfoxl/IC2/no-prompt/1.csv")
IC2_noprompt_1.head()

                          stimulus        He       She
0   Miss Smith assisted Mr. Smith.  0.258804  0.741196
1      The woman assisted the man.  0.761622  0.238378
2              Mary assisted John.  0.648454  0.351546
3              Alice assisted Bob.  0.443194  0.556806
4  The actress assisted the actor.  0.817151  0.182849

In [5]:
# female subject
IC2_noprompt_1f = IC2_noprompt_1[0:12]
IC2_noprompt_1f = IC2_noprompt_1f[["stimulus","She","He"]]
# male subject
IC2_noprompt_1m = IC2_noprompt_1[12:24]

#### female subject

In [6]:
IC2_noprompt_1f

                              stimulus       She        He
0       Miss Smith assisted Mr. Smith.  0.741196  0.258804
1          The woman assisted the man.  0.238378  0.761622
2                  Mary assisted John.  0.351546  0.648454
3                  Alice assisted Bob.  0.556806  0.443194
4      The actress assisted the actor.  0.182849  0.817151
5           The girl assisted the boy.  0.220299  0.779701
6   Mrs. Taylor assisted Mr. Williams.  0.667194  0.332806
7                 Emma assisted David.  0.931031  0.068969
8    The princess assisted the prince.  0.199707  0.800293
9               Sarah assisted Robert.  0.649314  0.350686
10  Mrs. Williams assisted Mr. Taylor.  0.608480  0.391520
11                Emily assisted Paul.  0.858341  0.141659

In [7]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_1f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_1f,'He'))

P('subj-pron'|subj=female) =  0.5170952193439007
P('non-subj-pron'|subj=female) =  0.48290478189786273

In [8]:
np_average_subj_female_subj_pron['assisted'] = compute_average(IC2_noprompt_1f,'She')
np_average_subj_female_obj_pron['assisted'] = compute_average(IC2_noprompt_1f,'He')

#### male subject

In [9]:
IC2_noprompt_1m

                              stimulus        He       She
12      Mr. Smith assisted Miss Smith.  0.258234  0.741766
13         The man assisted the woman.  0.414865  0.585135
14                 John assisted Mary.  0.500626  0.499374
15                 Bob assisted Alice.  0.275090  0.724910
16     The actor assisted the actress.  0.137843  0.862157
17          The boy assisted the girl.  0.606414  0.393586
18   Mr. William assisted Mrs. Taylor.  0.324826  0.675174
19                David assisted Emma.  0.034214  0.965786
20   The prince assisted the princess.  0.871899  0.128101
21              Robert assisted Sarah.  0.208774  0.791226
22  Mr. Taylor assisted Mrs. Williams.  0.067071  0.932929
23                Paul assisted Emily.  0.819498  0.180502

In [10]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_1m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_1m,'She'))

P('subj-pron'|subj=male) =  0.3766127337391178
P('non-subj-pron'|subj=male) =  0.6233872696757317

In [11]:
np_average_subj_male_subj_pron['assisted'] = compute_average(IC2_noprompt_1m,'He')
np_average_subj_male_obj_pron['assisted'] = compute_average(IC2_noprompt_1m,'She')

### Verb: "blames"

In [12]:
IC2_noprompt_2 = pd.read_csv("../results/transfoxl/IC2/no-prompt/2.csv")
IC2_noprompt_2.head()

                        stimulus        He       She
0   Miss Smith blames Mr. Smith.  0.152840  0.847160
1      The woman blames the man.  0.757765  0.242235
2              Mary blames John.  0.619817  0.380183
3              Alice blames Bob.  0.333816  0.666184
4  The actress blames the actor.  0.818643  0.181357

In [13]:
# female subject
IC2_noprompt_2f = IC2_noprompt_2[0:12]
IC2_noprompt_2f = IC2_noprompt_2f[["stimulus","She","He"]]
# male subject
IC2_noprompt_2m = IC2_noprompt_2[12:24]

#### female subject

In [14]:
IC2_noprompt_2f

                            stimulus       She        He
0       Miss Smith blames Mr. Smith.  0.847160  0.152840
1          The woman blames the man.  0.242235  0.757765
2                  Mary blames John.  0.380183  0.619817
3                  Alice blames Bob.  0.666184  0.333816
4      The actress blames the actor.  0.181357  0.818643
5           The girl blames the boy.  0.230633  0.769367
6   Mrs. Taylor blames Mr. Williams.  0.773602  0.226398
7                 Emma blames David.  0.876357  0.123643
8    The princess blames the prince.  0.203169  0.796831
9               Sarah blames Robert.  0.562554  0.437446
10  Mrs. Williams blames Mr. Taylor.  0.687141  0.312859
11                Emily blames Paul.  0.790605  0.209395

In [15]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_2f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_2f,'He'))

P('subj-pron'|subj=female) =  0.5367649644613266
P('non-subj-pron'|subj=female) =  0.4632350193957488

In [16]:
np_average_subj_female_subj_pron['blames'] = compute_average(IC2_noprompt_2f,'She')
np_average_subj_female_obj_pron['blames'] = compute_average(IC2_noprompt_2f,'He')

#### male subject

In [17]:
IC2_noprompt_2m

                            stimulus        He       She
12      Mr. Smith blames Miss Smith.  0.561527  0.438473
13         The man blames the woman.  0.832584  0.167416
14                 John blames Mary.  0.794580  0.205420
15                 Bob blames Alice.  0.204814  0.795186
16     The actor blames the actress.  0.605671  0.394329
17          The boy blames the girl.  0.865759  0.134241
18   Mr. William blames Mrs. Taylor.  0.464950  0.535050
19                David blames Emma.  0.133166  0.866834
20   The prince blames the princess.  0.868436  0.131564
21              Robert blames Sarah.  0.264403  0.735597
22  Mr. Taylor blames Mrs. Williams.  0.152431  0.847569
23                Paul blames Emily.  0.828947  0.171053

In [18]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_2m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_2m,'She'))

P('subj-pron'|subj=male) =  0.548105721672376
P('non-subj-pron'|subj=male) =  0.45189428701996803

In [19]:
np_average_subj_male_subj_pron['blames'] = compute_average(IC2_noprompt_2m,'He')
np_average_subj_male_obj_pron['blames'] = compute_average(IC2_noprompt_2m,'She')

### Verb: "comforted"

In [20]:
IC2_noprompt_3 = pd.read_csv("../results/transfoxl/IC2/no-prompt/3.csv")
IC2_noprompt_3.head()

                           stimulus        He       She
0   Miss Smith comforted Mr. Smith.  0.312686  0.687314
1      The woman comforted the man.  0.756459  0.243541
2              Mary comforted John.  0.492270  0.507730
3              Alice comforted Bob.  0.599779  0.400221
4  The actress comforted the actor.  0.823160  0.176840

In [21]:
# female subject
IC2_noprompt_3f = IC2_noprompt_3[0:12]
IC2_noprompt_3f = IC2_noprompt_3f[["stimulus","She","He"]]
# male subject
IC2_noprompt_3m = IC2_noprompt_3[12:24]

#### female subject

In [22]:
IC2_noprompt_3f

                                   stimulus       She        He
0           Miss Smith comforted Mr. Smith.  0.687314  0.312686
1              The woman comforted the man.  0.243541  0.756459
2                      Mary comforted John.  0.507730  0.492270
3                      Alice comforted Bob.  0.400221  0.599779
4          The actress comforted the actor.  0.176840  0.823160
5               The girl comforted the boy.  0.227786  0.772214
6   Mrs. Taylor comforted the Mr. Williams.  0.697487  0.302513
7                     Emma comforted David.  0.937009  0.062991
8        The princess comforted the prince.  0.207792  0.792208
9                   Sarah comforted Robert.  0.702049  0.297951
10      Mrs. Williams comforted Mr. Taylor.  0.654578  0.345422
11                    Emily comforted Paul.  0.633867  0.366133

In [23]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_3f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_3f,'He'))

P('subj-pron'|subj=female) =  0.5063512995839119
P('non-subj-pron'|subj=female) =  0.49364869110286236

In [24]:
np_average_subj_female_subj_pron['comforted'] = compute_average(IC2_noprompt_3f,'She')
np_average_subj_female_obj_pron['comforted'] = compute_average(IC2_noprompt_3f,'He')

#### male subject

In [25]:
IC2_noprompt_3m

                               stimulus        He       She
12      Mr. Smith comforted Miss Smith.  0.404937  0.595063
13         The man comforted the woman.  0.869570  0.130430
14                 John comforted Mary.  0.843041  0.156959
15                 Bob comforted Alice.  0.224535  0.775465
16     The actor comforted the actress.  0.860483  0.139517
17          The boy comforted the girl.  0.862234  0.137766
18   Mr. William comforted Mrs. Taylor.  0.366095  0.633905
19                David comforted Emma.  0.026392  0.973608
20   The prince comforted the princess.  0.867220  0.132780
21              Robert comforted Sarah.  0.074916  0.925084
22  Mr. Taylor comforted Mrs. Williams.  0.147528  0.852472
23                Paul comforted Emily.  0.827494  0.172506

In [26]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_3m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_3m,'She'))

P('subj-pron'|subj=male) =  0.5312038767151535
P('non-subj-pron'|subj=male) =  0.4687961166103681

In [27]:
np_average_subj_male_subj_pron['comforted'] = compute_average(IC2_noprompt_3m,'He')
np_average_subj_male_obj_pron['comforted'] = compute_average(IC2_noprompt_3m,'She')

### verb: "congratulated"

In [28]:
IC2_noprompt_4 = pd.read_csv("../results/transfoxl/IC2/no-prompt/4.csv")
IC2_noprompt_4.head()

                               stimulus        He       She
0   Miss Smith congratulated Mr. Smith.  0.317949  0.682051
1      The woman congratulated the man.  0.754095  0.245905
2              Mary congratulated John.  0.743545  0.256455
3              Alice congratulated Bob.  0.742324  0.257675
4  The actress congratulated the actor.  0.819624  0.180376

In [29]:
# female subject
IC2_noprompt_4f = IC2_noprompt_4[0:12]
IC2_noprompt_4f = IC2_noprompt_4f[["stimulus","She","He"]]
# male subject
IC2_noprompt_4m = IC2_noprompt_4[12:24]

#### female subject

In [30]:
IC2_noprompt_4f

                                   stimulus       She        He
0       Miss Smith congratulated Mr. Smith.  0.682051  0.317949
1          The woman congratulated the man.  0.245905  0.754095
2                  Mary congratulated John.  0.256455  0.743545
3                  Alice congratulated Bob.  0.257675  0.742324
4      The actress congratulated the actor.  0.180376  0.819624
5           The girl congratulated the boy.  0.225771  0.774229
6   Mrs. Taylor congratulated Mr. Williams.  0.585267  0.414733
7                 Emma congratulated David.  0.894670  0.105330
8    The princess congratulated the prince.  0.207661  0.792339
9               Sarah congratulated Robert.  0.491675  0.508325
10  Mrs. Williams congratulated Mr. Taylor.  0.601650  0.398350
11                Emily congratulated Paul.  0.636367  0.363633

In [31]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_4f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_4f,'He'))

P('subj-pron'|subj=female) =  0.43879368901252747
P('non-subj-pron'|subj=female) =  0.5612063016742468

In [32]:
np_average_subj_female_subj_pron['congratulated'] = compute_average(IC2_noprompt_4f,'She')
np_average_subj_female_obj_pron['congratulated'] = compute_average(IC2_noprompt_4f,'He')

#### male subject

In [33]:
IC2_noprompt_4m

                                   stimulus        He       She
12      Mr. Smith congratulated Miss Smith.  0.338899  0.661101
13         The man congratulated the woman.  0.868494  0.131507
14                 John congratulated Mary.  0.518452  0.481548
15                 Bob congratulated Alice.  0.222167  0.777833
16     The actor congratulated the actress.  0.856665  0.143335
17          The boy congratulated the girl.  0.861150  0.138850
18   Mr. William congratulated Mrs. Taylor.  0.319060  0.680940
19                David congratulated Emma.  0.030710  0.969290
20   The prince congratulated the princess.  0.865394  0.134606
21              Robert congratulated Sarah.  0.097935  0.902065
22  Mr. Taylor congratulated Mrs. Williams.  0.184877  0.815123
23                Paul congratulated Emily.  0.821433  0.178567

In [34]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_4m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_4m,'She'))

P('subj-pron'|subj=male) =  0.49876957464342314
P('non-subj-pron'|subj=male) =  0.5012304373085499

In [35]:
np_average_subj_male_subj_pron['congratulated'] = compute_average(IC2_noprompt_4m,'He')
np_average_subj_male_obj_pron['congratulated'] = compute_average(IC2_noprompt_4m,'She')

### verb: "corrected"

In [36]:
IC2_noprompt_5 = pd.read_csv("../results/transfoxl/IC2/no-prompt/5.csv")
IC2_noprompt_5.head()

                           stimulus        He       She
0   Miss Smith corrected Mr. Smith.  0.440610  0.559390
1      The woman corrected the man.  0.760067  0.239933
2              Mary corrected John.  0.675053  0.324948
3              Alice corrected Bob.  0.530014  0.469986
4  The actress corrected the actor.  0.824217  0.175783

In [37]:
# female subject
IC2_noprompt_5f = IC2_noprompt_5[0:12]
IC2_noprompt_5f = IC2_noprompt_5f[["stimulus","She","He"]]
# male subject
IC2_noprompt_5m = IC2_noprompt_5[12:24]

#### female subject

In [38]:
IC2_noprompt_5f

                               stimulus       She        He
0       Miss Smith corrected Mr. Smith.  0.559390  0.440610
1          The woman corrected the man.  0.239933  0.760067
2                  Mary corrected John.  0.324948  0.675053
3                  Alice corrected Bob.  0.469986  0.530014
4      The actress corrected the actor.  0.175783  0.824217
5           The girl corrected the boy.  0.220806  0.779194
6   Mrs. Taylor corrected Mr. Williams.  0.553483  0.446517
7                 Emma corrected David.  0.868343  0.131657
8    The princess corrected the prince.  0.198649  0.801351
9               Sarah corrected Robert.  0.557304  0.442696
10  Mrs. Williams corrected Mr. Taylor.  0.541157  0.458843
11                Emily corrected Paul.  0.725830  0.274170

In [39]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_5f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_5f,'He'))

P('subj-pron'|subj=female) =  0.4529675170779228
P('non-subj-pron'|subj=female) =  0.5470324903726578

In [40]:
np_average_subj_female_subj_pron['corrected'] = compute_average(IC2_noprompt_5f,'She')
np_average_subj_female_obj_pron['corrected'] = compute_average(IC2_noprompt_5f,'He')

#### male subject

In [41]:
IC2_noprompt_5m

                               stimulus        He       She
12      Mr. Smith corrected Miss Smith.  0.623607  0.376393
13         The man corrected the woman.  0.867236  0.132764
14                 John corrected Mary.  0.840463  0.159537
15                 Bob corrected Alice.  0.504845  0.495155
16     The actor corrected the actress.  0.861074  0.138926
17          The boy corrected the girl.  0.860127  0.139873
18   Mr. William corrected Mrs. Taylor.  0.507182  0.492818
19                David corrected Emma.  0.122743  0.877257
20   The prince corrected the princess.  0.865969  0.134031
21              Robert corrected Sarah.  0.262175  0.737825
22  Mr. Taylor corrected Mrs. Williams.  0.215585  0.784415
23                Paul corrected Emily.  0.828573  0.171427

In [42]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_5m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_5m,'She'))

P('subj-pron'|subj=male) =  0.6132981839279333
P('non-subj-pron'|subj=male) =  0.3867018061379592

In [43]:
np_average_subj_male_subj_pron['corrected'] = compute_average(IC2_noprompt_5m,'He')
np_average_subj_male_obj_pron['corrected'] = compute_average(IC2_noprompt_5m,'She')

### verb: "detests"

In [44]:
IC2_noprompt_6 = pd.read_csv("../results/transfoxl/IC2/no-prompt/6.csv")
IC2_noprompt_6.head()

                         stimulus        He       She
0   Miss Smith detests Mr. Smith.  0.135697  0.864303
1      The woman detests the man.  0.754846  0.245154
2              Mary detests John.  0.492825  0.507175
3              Alice detests Bob.  0.113623  0.886377
4  The actress detests the actor.  0.819758  0.180242

In [45]:
# female subject
IC2_noprompt_6f = IC2_noprompt_6[0:12]
IC2_noprompt_6f = IC2_noprompt_6f[["stimulus","She","He"]]
# male subject
IC2_noprompt_6m = IC2_noprompt_6[12:24]

#### female subject

In [46]:
IC2_noprompt_6f

                             stimulus       She        He
0       Miss Smith detests Mr. Smith.  0.864303  0.135697
1          The woman detests the man.  0.245154  0.754846
2                  Mary detests John.  0.507175  0.492825
3                  Alice detests Bob.  0.886377  0.113623
4      The actress detests the actor.  0.180242  0.819758
5           The girl detests the boy.  0.223190  0.776810
6   Mrs. Taylor detests Mr. Williams.  0.823040  0.176960
7                 Emma detests David.  0.242556  0.757444
8    The princess detests the prince.  0.201453  0.798547
9               Sarah detests Robert.  0.671180  0.328820
10  Mrs. Williams detests Mr. Taylor.  0.662651  0.337349
11                Emily detests Paul.  0.232356  0.767644

In [47]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_6f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_6f,'He'))

P('subj-pron'|subj=female) =  0.47830646112561226
P('non-subj-pron'|subj=female) =  0.5216935413579146

In [48]:
np_average_subj_female_subj_pron['detests'] = compute_average(IC2_noprompt_6f,'She')
np_average_subj_female_obj_pron['detests'] = compute_average(IC2_noprompt_6f,'He')

In [49]:
IC2_noprompt_6m

                             stimulus        He       She
12      Mr. Smith detests Miss Smith.  0.828155  0.171845
13         The man detests the woman.  0.875994  0.124006
14                 John detests Mary.  0.850947  0.149053
15                 Bob detests Alice.  0.840616  0.159385
16     The actor detests the actress.  0.864031  0.135969
17          The boy detests the girl.  0.870561  0.129439
18   Mr. William detests Mrs. Taylor.  0.477911  0.522089
19                David detests Emma.  0.385626  0.614374
20   The prince detests the princess.  0.870988  0.129012
21              Robert detests Sarah.  0.477832  0.522168
22  Mr. Taylor detests Mrs. Williams.  0.149522  0.850478
23                Paul detests Emily.  0.834247  0.165753

In [50]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_6m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_6m,'She'))

P('subj-pron'|subj=male) =  0.6938691151638826
P('non-subj-pron'|subj=male) =  0.3061308916658163

In [51]:
np_average_subj_male_subj_pron['detests'] = compute_average(IC2_noprompt_6m,'He')
np_average_subj_male_obj_pron['detests'] = compute_average(IC2_noprompt_6m,'She')

### verb: "fears"

In [52]:
IC2_noprompt_7 = pd.read_csv("../results/transfoxl/IC2/no-prompt/7.csv")
IC2_noprompt_7.head()

                       stimulus        He       She
0   Miss Smith fears Mr. Smith.  0.209393  0.790607
1      The woman fears the man.  0.751951  0.248049
2              Mary fears John.  0.666235  0.333765
3              Alice fears Bob.  0.376083  0.623917
4  The actress fears the actor.  0.812934  0.187066

In [53]:
# female subject
IC2_noprompt_7f = IC2_noprompt_7[0:12]
IC2_noprompt_7f = IC2_noprompt_7f[["stimulus","She","He"]]
# male subject
IC2_noprompt_7m = IC2_noprompt_7[12:24]

#### female subject

In [54]:
IC2_noprompt_7f

                           stimulus       She        He
0       Miss Smith fears Mr. Smith.  0.790607  0.209393
1          The woman fears the man.  0.248049  0.751951
2                  Mary fears John.  0.333765  0.666235
3                  Alice fears Bob.  0.623917  0.376083
4      The actress fears the actor.  0.187066  0.812934
5           The girl fears the boy.  0.232985  0.767015
6   Mrs. Taylor fears Mr. Williams.  0.800652  0.199348
7                 Emma fears David.  0.887305  0.112695
8    The princess fears the prince.  0.211377  0.788623
9               Sarah fears Robert.  0.606120  0.393880
10  Mrs. Williams fears Mr. Taylor.  0.609789  0.390211
11                Emily fears Paul.  0.570223  0.429777

In [55]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_7f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_7f,'He'))

P('subj-pron'|subj=female) =  0.5084878380099932
P('non-subj-pron'|subj=female) =  0.49151216447353363

In [56]:
np_average_subj_female_subj_pron['fears'] = compute_average(IC2_noprompt_7f,'She')
np_average_subj_female_obj_pron['fears'] = compute_average(IC2_noprompt_7f,'He')

#### male subject

In [57]:
IC2_noprompt_7m

                           stimulus        He       She
12      Mr. Smith fears Miss Smith.  0.690506  0.309494
13         The man fears the woman.  0.889458  0.110542
14                 John fears Mary.  0.805708  0.194292
15                 Bob fears Alice.  0.379018  0.620982
16     The actor fears the actress.  0.691698  0.308302
17          The boy fears the girl.  0.889444  0.110556
18   Mr. William fears Mrs. Taylor.  0.524730  0.475270
19                David fears Emma.  0.063707  0.936293
20   The prince fears the princess.  0.876932  0.123068
21              Robert fears Sarah.  0.296046  0.703954
22  Mr. Taylor fears Mrs. Williams.  0.158207  0.841793
23                Paul fears Emily.  0.825419  0.174581

In [58]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_7m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_7m,'She'))

P('subj-pron'|subj=male) =  0.5909060991058747
P('non-subj-pron'|subj=male) =  0.40909390213588875

In [59]:
np_average_subj_male_subj_pron['fears'] = compute_average(IC2_noprompt_7m,'He')
np_average_subj_male_obj_pron['fears'] = compute_average(IC2_noprompt_7m,'She')

### verb: "envies"

In [60]:
IC2_noprompt_8 = pd.read_csv("../results/transfoxl/IC2/no-prompt/8.csv")
IC2_noprompt_8.head()

                        stimulus        He       She
0   Miss Smith envies Mr. Smith.  0.174235  0.825765
1      The woman envies the man.  0.751415  0.248585
2              Mary envies John.  0.530865  0.469135
3              Alice envies Bob.  0.195578  0.804422
4  The actress envies the actor.  0.818020  0.181980

In [61]:
# female subject
IC2_noprompt_8f = IC2_noprompt_8[0:12]
IC2_noprompt_8f = IC2_noprompt_8f[["stimulus","She","He"]]
# male subject
IC2_noprompt_8m = IC2_noprompt_8[12:24]

#### female subject

In [62]:
IC2_noprompt_8f

                            stimulus       She        He
0       Miss Smith envies Mr. Smith.  0.825765  0.174235
1          The woman envies the man.  0.248585  0.751415
2                  Mary envies John.  0.469135  0.530865
3                  Alice envies Bob.  0.804422  0.195578
4      The actress envies the actor.  0.181980  0.818020
5           The girl envies the boy.  0.227909  0.772091
6   Mrs. Taylor envies Mr. Williams.  0.760144  0.239855
7                 Emma envies David.  0.251064  0.748936
8    The princess envies the prince.  0.205425  0.794575
9               Sarah envies Robert.  0.615339  0.384661
10  Mrs. Williams envies Mr. Taylor.  0.637556  0.362444
11                Emily envies Paul.  0.240211  0.759789

In [63]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_8f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_8f,'He'))

P('subj-pron'|subj=female) =  0.4556279505292575
P('non-subj-pron'|subj=female) =  0.5443720469872156

In [64]:
np_average_subj_female_subj_pron['envies'] = compute_average(IC2_noprompt_8f,'She')
np_average_subj_female_obj_pron['envies'] = compute_average(IC2_noprompt_8f,'He')

#### male subject

In [65]:
IC2_noprompt_8m

                            stimulus        He       She
12      Mr. Smith envies Miss Smith.  0.828969  0.171031
13         The man envies the woman.  0.876822  0.123178
14                 John envies Mary.  0.852098  0.147902
15                 Bob envies Alice.  0.656993  0.343007
16     The actor envies the actress.  0.867133  0.132867
17          The boy envies the girl.  0.872586  0.127414
18   Mr. William envies Mrs. Taylor.  0.473869  0.526131
19                David envies Emma.  0.152202  0.847798
20   The prince envies the princess.  0.874948  0.125052
21              Robert envies Sarah.  0.390099  0.609901
22  Mr. Taylor envies Mrs. Williams.  0.163095  0.836905
23                Paul envies Emily.  0.834775  0.165225

In [66]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_8m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_8m,'She'))

P('subj-pron'|subj=male) =  0.653632428497076
P('non-subj-pron'|subj=male) =  0.34636756281057995

In [67]:
np_average_subj_male_subj_pron['envies'] = compute_average(IC2_noprompt_8m,'He')
np_average_subj_male_obj_pron['envies'] = compute_average(IC2_noprompt_8m,'She')

### verb: "hates"

In [68]:
IC2_noprompt_9 = pd.read_csv("../results/transfoxl/IC2/no-prompt/9.csv")
IC2_noprompt_9.head()

                       stimulus        He       She
0   Miss Smith hates Mr. Smith.  0.157822  0.842178
1      The woman hates the man.  0.755001  0.244999
2              Mary hates John.  0.480800  0.519200
3              Alice hates Bob.  0.190281  0.809719
4  The actress hates the actor.  0.818164  0.181836

In [69]:
# female subject
IC2_noprompt_9f = IC2_noprompt_9[0:12]
IC2_noprompt_9f = IC2_noprompt_9f[["stimulus","She","He"]]
# male subject
IC2_noprompt_9m = IC2_noprompt_9[12:24]

#### female: "hates"

In [70]:
IC2_noprompt_9f

                           stimulus       She        He
0       Miss Smith hates Mr. Smith.  0.842178  0.157822
1          The woman hates the man.  0.244999  0.755001
2                  Mary hates John.  0.519200  0.480800
3                  Alice hates Bob.  0.809719  0.190281
4      The actress hates the actor.  0.181836  0.818164
5           The girl hates the boy.  0.222956  0.777044
6   Mrs. Taylor hates Mr. Williams.  0.819252  0.180748
7                 Emma hates David.  0.241598  0.758402
8    The princess hates the prince.  0.201765  0.798235
9               Sarah hates Robert.  0.616218  0.383782
10  Mrs. Williams hates Mr. Taylor.  0.643908  0.356092
11                Emily hates Paul.  0.225861  0.774139

In [71]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_9f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_9f,'He'))

P('subj-pron'|subj=female) =  0.4641241952776909
P('non-subj-pron'|subj=female) =  0.5358758084475994

In [72]:
np_average_subj_female_subj_pron['hates'] = compute_average(IC2_noprompt_9f,'She')
np_average_subj_female_obj_pron['hates'] = compute_average(IC2_noprompt_9f,'He')

#### male subject

In [73]:
IC2_noprompt_9m

                           stimulus        He       She
12      Mr. Smith hates Miss Smith.  0.826543  0.173457
13         The man hates the woman.  0.878572  0.121428
14                 John hates Mary.  0.853686  0.146314
15                 Bob hates Alice.  0.658569  0.341431
16     The actor hates the actress.  0.867253  0.132747
17          The boy hates the girl.  0.873244  0.126756
18   Mr. William hates Mrs. Taylor.  0.459752  0.540248
19                David hates Emma.  0.151731  0.848269
20   The prince hates the princess.  0.872935  0.127065
21              Robert hates Sarah.  0.403138  0.596862
22  Mr. Taylor hates Mrs. Williams.  0.160728  0.839272
23                Paul hates Emily.  0.833055  0.166945

In [74]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_9m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_9m,'She'))

P('subj-pron'|subj=male) =  0.6532671588162581
P('non-subj-pron'|subj=male) =  0.34673284739255905

In [75]:
np_average_subj_male_subj_pron['hates'] = compute_average(IC2_noprompt_9m,'He')
np_average_subj_male_obj_pron['hates'] = compute_average(IC2_noprompt_9m,'She')

### verb: "helped"

In [76]:
IC2_noprompt_10 = pd.read_csv("../results/transfoxl/IC2/no-prompt/10.csv")
IC2_noprompt_10.head()

                        stimulus        He       She
0   Miss Smith helped Mr. Smith.  0.286643  0.713357
1      The woman helped the man.  0.520142  0.479858
2              Mary helped John.  0.619379  0.380621
3              Alice helped Bob.  0.575468  0.424532
4  The actress helped the actor.  0.198910  0.801090

In [77]:
# female subject
IC2_noprompt_10f = IC2_noprompt_10[0:12]
IC2_noprompt_10f = IC2_noprompt_10f[["stimulus","She","He"]]
# male subject
IC2_noprompt_10m = IC2_noprompt_10[12:24]

#### female subject

In [78]:
IC2_noprompt_10f

                            stimulus       She        He
0       Miss Smith helped Mr. Smith.  0.713357  0.286643
1          The woman helped the man.  0.479858  0.520142
2                  Mary helped John.  0.380621  0.619379
3                  Alice helped Bob.  0.424532  0.575468
4      The actress helped the actor.  0.801090  0.198910
5           The girl helped the boy.  0.555471  0.444529
6   Mrs. Taylor helped Mr. Williams.  0.733015  0.266985
7                 Emma helped David.  0.876856  0.123144
8    The princess helped the prince.  0.753532  0.246468
9               Sarah helped Robert.  0.765299  0.234701
10  Mrs. Williams helped Mr. Taylor.  0.630849  0.369151
11                Emily helped Paul.  0.671532  0.328468

In [79]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_10f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_10f,'He'))

P('subj-pron'|subj=female) =  0.6488342955708504
P('non-subj-pron'|subj=female) =  0.35116570132474106

In [80]:
np_average_subj_female_subj_pron['helped'] = compute_average(IC2_noprompt_10f,'She')
np_average_subj_female_obj_pron['helped'] = compute_average(IC2_noprompt_10f,'He')

In [81]:
IC2_noprompt_10m

                            stimulus        He       She
12      Mr. Smith helped Miss Smith.  0.123706  0.876294
13         The man helped the woman.  0.251774  0.748226
14                 John helped Mary.  0.433423  0.566577
15                 Bob helped Alice.  0.211377  0.788623
16     The actor helped the actress.  0.106132  0.893868
17          The boy helped the girl.  0.318996  0.681004
18   Mr. William helped Mrs. Taylor.  0.229484  0.770516
19                David helped Emma.  0.022495  0.977505
20   The prince helped the princess.  0.487163  0.512837
21              Robert helped Sarah.  0.144485  0.855515
22  Mr. Taylor helped Mrs. Williams.  0.060452  0.939548
23                Paul helped Emily.  0.162247  0.837753

In [82]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_10m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_10m,'She'))

P('subj-pron'|subj=male) =  0.2126444304982821
P('non-subj-pron'|subj=male) =  0.7873555769522985

In [83]:
np_average_subj_male_subj_pron['helped'] = compute_average(IC2_noprompt_10m,'He')
np_average_subj_male_obj_pron['helped'] = compute_average(IC2_noprompt_10m,'She')

### verb: "mocked"

In [84]:
IC2_noprompt_11 = pd.read_csv("../results/transfoxl/IC2/no-prompt/11.csv")
IC2_noprompt_11.head()

                        stimulus        He       She
0   Miss Smith mocked Mr. Smith.  0.272866  0.727134
1      The woman mocked the man.  0.761154  0.238846
2              Mary mocked John.  0.796028  0.203973
3              Alice mocked Bob.  0.642955  0.357045
4  The actress mocked the actor.  0.825411  0.174589

In [85]:
# female subject
IC2_noprompt_11f = IC2_noprompt_11[0:12]
IC2_noprompt_11f = IC2_noprompt_11f[["stimulus","She","He"]]
# male subject
IC2_noprompt_11m = IC2_noprompt_11[12:24]

#### female subject

In [86]:
IC2_noprompt_11f

                            stimulus       She        He
0       Miss Smith mocked Mr. Smith.  0.727134  0.272866
1          The woman mocked the man.  0.238846  0.761154
2                  Mary mocked John.  0.203973  0.796028
3                  Alice mocked Bob.  0.357045  0.642955
4      The actress mocked the actor.  0.174589  0.825411
5           The girl mocked the boy.  0.216377  0.783623
6   Mrs. Taylor mocked Mr. Williams.  0.592869  0.407132
7                 Emma mocked David.  0.947813  0.052187
8    The princess mocked the prince.  0.198034  0.801966
9               Sarah mocked Robert.  0.432356  0.567644
10  Mrs. Williams mocked Mr. Taylor.  0.566746  0.433254
11                Emily mocked Paul.  0.554033  0.445967

In [87]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_11f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_11f,'He'))

P('subj-pron'|subj=female) =  0.43415118381381035
P('non-subj-pron'|subj=female) =  0.5658488245680928

In [88]:
np_average_subj_female_subj_pron['mocked'] = compute_average(IC2_noprompt_11f,'She')
np_average_subj_female_obj_pron['mocked'] = compute_average(IC2_noprompt_11f,'He')

#### male subject

In [89]:
IC2_noprompt_11m

                            stimulus        He       She
12      Mr. Smith mocked Miss Smith.  0.448493  0.551507
13         The man mocked the woman.  0.875548  0.124452
14                 John mocked Mary.  0.650547  0.349453
15                 Bob mocked Alice.  0.168031  0.831969
16     The actor mocked the actress.  0.864810  0.135191
17          The boy mocked the girl.  0.869146  0.130854
18   Mr. William mocked Mrs. Taylor.  0.332563  0.667437
19                David mocked Emma.  0.029920  0.970080
20   The prince mocked the princess.  0.872276  0.127724
21              Robert mocked Sarah.  0.130593  0.869407
22  Mr. Taylor mocked Mrs. Williams.  0.158423  0.841577
23                Paul mocked Emily.  0.829215  0.170785

In [90]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_11m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_11m,'She'))

P('subj-pron'|subj=male) =  0.5191304520703852
P('non-subj-pron'|subj=male) =  0.4808695645382007

In [91]:
np_average_subj_male_subj_pron['mocked'] = compute_average(IC2_noprompt_11m,'He')
np_average_subj_male_obj_pron['mocked'] = compute_average(IC2_noprompt_11m,'She')

#### verb: "noticed"

In [92]:
IC2_noprompt_12 = pd.read_csv("../results/transfoxl/IC2/no-prompt/12.csv")
IC2_noprompt_12.head()

                         stimulus        He       She
0   Miss Smith noticed Mr. Smith.  0.172608  0.827392
1      The woman noticed the man.  0.754984  0.245016
2              Mary noticed John.  0.730868  0.269132
3              Alice noticed Bob.  0.579760  0.420240
4  The actress noticed the actor.  0.824315  0.175685

In [93]:
# female subject
IC2_noprompt_12f = IC2_noprompt_12[0:12]
IC2_noprompt_12f = IC2_noprompt_12f[["stimulus","She","He"]]
# male subject
IC2_noprompt_12m = IC2_noprompt_12[12:24]

#### female subject

In [94]:
IC2_noprompt_12f

                             stimulus       She        He
0       Miss Smith noticed Mr. Smith.  0.827392  0.172608
1          The woman noticed the man.  0.245016  0.754984
2                  Mary noticed John.  0.269132  0.730868
3                  Alice noticed Bob.  0.420240  0.579760
4      The actress noticed the actor.  0.175685  0.824315
5           The girl noticed the boy.  0.223754  0.776246
6   Mrs. Taylor noticed Mr. Williams.  0.662327  0.337673
7                 Emma noticed David.  0.881544  0.118456
8    The princess noticed the prince.  0.208638  0.791362
9               Sarah noticed Robert.  0.445128  0.554872
10  Mrs. Williams noticed Mr. Taylor.  0.598596  0.401404
11                Emily noticed Paul.  0.534250  0.465750

In [95]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_12f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_12f,'He'))

P('subj-pron'|subj=female) =  0.45764176671703655
P('non-subj-pron'|subj=female) =  0.5423582326620817

In [96]:
np_average_subj_female_subj_pron['noticed'] = compute_average(IC2_noprompt_12f,'She')
np_average_subj_female_obj_pron['noticed'] = compute_average(IC2_noprompt_12f,'He')

#### male subject

In [97]:
IC2_noprompt_12m

                             stimulus        He       She
12      Mr. Smith noticed Miss Smith.  0.557859  0.442141
13         The man noticed the woman.  0.782820  0.217180
14                 John noticed Mary.  0.873031  0.126969
15                 Bob noticed Alice.  0.420502  0.579498
16     The actor noticed the actress.  0.655937  0.344063
17          The boy noticed the girl.  0.869491  0.130509
18   Mr. William noticed Mrs. Taylor.  0.392204  0.607796
19                David noticed Emma.  0.098707  0.901293
20   The prince noticed the princess.  0.876572  0.123428
21              Robert noticed Sarah.  0.348756  0.651244
22  Mr. Taylor noticed Mrs. Williams.  0.152543  0.847457
23                Paul noticed Emily.  0.526220  0.473780

In [98]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_12m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_12m,'She'))

P('subj-pron'|subj=male) =  0.5462201734383901
P('non-subj-pron'|subj=male) =  0.453779815385739

In [99]:
np_average_subj_male_subj_pron['noticed'] = compute_average(IC2_noprompt_12m,'He')
np_average_subj_male_obj_pron['noticed'] = compute_average(IC2_noprompt_12m,'She')

### verb: "pacified"

In [100]:
IC2_noprompt_13 = pd.read_csv("../results/transfoxl/IC2/no-prompt/13.csv")
IC2_noprompt_13.head()

                          stimulus        He       She
0   Miss Smith pacified Mr. Smith.  0.454580  0.545420
1      The woman pacified the man.  0.757844  0.242156
2              Mary pacified John.  0.683882  0.316117
3              Alice pacified Bob.  0.700234  0.299766
4  The actress pacified the actor.  0.825986  0.174014

In [101]:
# female subject
IC2_noprompt_13f = IC2_noprompt_13[0:12]
IC2_noprompt_13f = IC2_noprompt_13f[["stimulus","She","He"]]
# male subject
IC2_noprompt_13m = IC2_noprompt_13[12:24]

#### female subject

In [102]:
IC2_noprompt_13f

                              stimulus       She        He
0       Miss Smith pacified Mr. Smith.  0.545420  0.454580
1          The woman pacified the man.  0.242156  0.757844
2                  Mary pacified John.  0.316117  0.683882
3                  Alice pacified Bob.  0.299766  0.700234
4      The actress pacified the actor.  0.174014  0.825986
5           The girl pacified the boy.  0.219655  0.780345
6   Mrs. Taylor pacified Mr. Williams.  0.586838  0.413162
7                 Emma pacified David.  0.851666  0.148334
8    The princess pacified the prince.  0.194361  0.805639
9               Sarah pacified Robert.  0.507367  0.492633
10  Mrs. Williams pacified Mr. Taylor.  0.479648  0.520352
11                Emily pacified Paul.  0.658275  0.341725

In [103]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_13f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_13f,'He'))

P('subj-pron'|subj=female) =  0.42294031257430714
P('non-subj-pron'|subj=female) =  0.5770596799751123

In [104]:
np_average_subj_female_subj_pron['pacified'] = compute_average(IC2_noprompt_13f,'She')
np_average_subj_female_obj_pron['pacified'] = compute_average(IC2_noprompt_13f,'He')

#### male subject

In [105]:
IC2_noprompt_13m

                              stimulus        He       She
12      Mr. Smith pacified Miss Smith.  0.503229  0.496771
13         The man pacified the woman.  0.875424  0.124576
14                 John pacified Mary.  0.843955  0.156045
15                 Bob pacified Alice.  0.413013  0.586987
16     The actor pacified the actress.  0.870242  0.129758
17          The boy pacified the girl.  0.871295  0.128705
18   Mr. William pacified Mrs. Taylor.  0.426498  0.573502
19                David pacified Emma.  0.117420  0.882580
20   The prince pacified the princess.  0.876181  0.123819
21              Robert pacified Sarah.  0.381818  0.618182
22  Mr. Taylor pacified Mrs. Williams.  0.158173  0.841827
23                Paul pacified Emily.  0.833441  0.166559

In [106]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_13m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_13m,'She'))

P('subj-pron'|subj=male) =  0.5975572901467482
P('non-subj-pron'|subj=male) =  0.402442691847682

In [107]:
np_average_subj_male_subj_pron['pacified'] = compute_average(IC2_noprompt_13m,'He')
np_average_subj_male_obj_pron['pacified'] = compute_average(IC2_noprompt_13m,'She')

### verb: "praised"

In [108]:
IC2_noprompt_14 = pd.read_csv("../results/transfoxl/IC2/no-prompt/14.csv")
IC2_noprompt_14.head()

                         stimulus        He       She
0   Miss Smith praised Mr. Smith.  0.258853  0.741147
1      The woman praised the man.  0.755642  0.244358
2              Mary praised John.  0.746635  0.253365
3              Alice praised Bob.  0.581954  0.418046
4  The actress praised the actor.  0.797200  0.202800

In [109]:
# female subject
IC2_noprompt_14f = IC2_noprompt_14[0:12]
IC2_noprompt_14f = IC2_noprompt_14f[["stimulus","She","He"]]
# male subject
IC2_noprompt_14m = IC2_noprompt_14[12:24]

#### female subject

In [110]:
IC2_noprompt_14f

                             stimulus       She        He
0       Miss Smith praised Mr. Smith.  0.741147  0.258853
1          The woman praised the man.  0.244358  0.755642
2                  Mary praised John.  0.253365  0.746635
3                  Alice praised Bob.  0.418046  0.581954
4      The actress praised the actor.  0.202800  0.797200
5           The girl praised the boy.  0.227951  0.772049
6   Mrs. Taylor praised Mr. Williams.  0.527231  0.472769
7                 Emma praised David.  0.927289  0.072711
8    The princess praised the prince.  0.219854  0.780146
9               Sarah praised Robert.  0.437031  0.562969
10  Mrs. Williams praised Mr. Taylor.  0.565983  0.434017
11                Emily praised Paul.  0.744571  0.255429

In [111]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_14f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_14f,'He'))

P('subj-pron'|subj=female) =  0.45913556839028996
P('non-subj-pron'|subj=female) =  0.5408644291261832

In [112]:
np_average_subj_female_subj_pron['praised'] = compute_average(IC2_noprompt_14f,'She')
np_average_subj_female_obj_pron['praised'] = compute_average(IC2_noprompt_14f,'He')

#### male subject

In [113]:
IC2_noprompt_14m

                             stimulus        He       She
12      Mr. Smith praised Miss Smith.  0.354587  0.645413
13         The man praised the woman.  0.873407  0.126593
14                 John praised Mary.  0.748432  0.251568
15                 Bob praised Alice.  0.369371  0.630629
16     The actor praised the actress.  0.863313  0.136687
17          The boy praised the girl.  0.875008  0.124992
18   Mr. William praised Mrs. Taylor.  0.358801  0.641199
19                David praised Emma.  0.037347  0.962653
20   The prince praised the princess.  0.877155  0.122845
21              Robert praised Sarah.  0.223971  0.776029
22  Mr. Taylor praised Mrs. Williams.  0.211829  0.788171
23                Paul praised Emily.  0.833376  0.166624

In [114]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_14m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_14m,'She'))

P('subj-pron'|subj=male) =  0.5522163395459453
P('non-subj-pron'|subj=male) =  0.44778366448978585

In [115]:
np_average_subj_male_subj_pron['praised'] = compute_average(IC2_noprompt_14m,'He')
np_average_subj_male_obj_pron['praised'] = compute_average(IC2_noprompt_14m,'She')

### verb: "reproached"

In [116]:
IC2_noprompt_15 = pd.read_csv("../results/transfoxl/IC2/no-prompt/15.csv")
IC2_noprompt_15.head()

                            stimulus        He       She
0   Miss Smith reproached Mr. Smith.  0.275442  0.724558
1      The woman reproached the man.  0.744221  0.255779
2              Mary reproached John.  0.688815  0.311185
3              Alice reproached Bob.  0.533783  0.466217
4  The actress reproached the actor.  0.807716  0.192284

In [117]:
# female subject
IC2_noprompt_15f = IC2_noprompt_15[0:12]
IC2_noprompt_15f = IC2_noprompt_15f[["stimulus","She","He"]]
# male subject
IC2_noprompt_15m = IC2_noprompt_15[12:24]

#### female subject

In [118]:
IC2_noprompt_15f

                                stimulus       She        He
0       Miss Smith reproached Mr. Smith.  0.724558  0.275442
1          The woman reproached the man.  0.255779  0.744221
2                  Mary reproached John.  0.311185  0.688815
3                  Alice reproached Bob.  0.466217  0.533783
4      The actress reproached the actor.  0.192284  0.807716
5           The girl reproached the boy.  0.238443  0.761557
6   Mrs. Taylor reproached Mr. Williams.  0.620335  0.379665
7                 Emma reproached David.  0.898179  0.101821
8    The princess reproached the prince.  0.216770  0.783230
9               Sarah reproached Robert.  0.651438  0.348562
10  Mrs. Williams reproached Mr. Taylor.  0.572359  0.427641
11                Emily reproached Paul.  0.662416  0.337584

In [119]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_15f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_15f,'He'))

P('subj-pron'|subj=female) =  0.48416363447904587
P('non-subj-pron'|subj=female) =  0.5158363524824381

In [120]:
np_average_subj_female_subj_pron['reproached'] = compute_average(IC2_noprompt_15f,'She')
np_average_subj_female_obj_pron['reproached'] = compute_average(IC2_noprompt_15f,'He')

#### male subject

In [121]:
IC2_noprompt_15m

                                stimulus        He       She
12      Mr. Smith reproached Miss Smith.  0.168892  0.831108
13         The man reproached the woman.  0.869940  0.130060
14                 John reproached Mary.  0.442707  0.557293
15                 Bob reproached Alice.  0.118085  0.881915
16     The actor reproached the actress.  0.861979  0.138021
17          The boy reproached the girl.  0.863150  0.136850
18   Mr. William reproached Mrs. Taylor.  0.234380  0.765620
19                David reproached Emma.  0.021938  0.978062
20   The prince reproached the princess.  0.867254  0.132746
21              Robert reproached Sarah.  0.093563  0.906437
22  Mr. Taylor reproached Mrs. Williams.  0.078594  0.921406
23                Paul reproached Emily.  0.329739  0.670261

In [122]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_15m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_15m,'She'))

P('subj-pron'|subj=male) =  0.41251830213392776
P('non-subj-pron'|subj=male) =  0.5874817023674647

In [123]:
np_average_subj_male_subj_pron['reproached'] = compute_average(IC2_noprompt_15m,'He')
np_average_subj_male_obj_pron['reproached'] = compute_average(IC2_noprompt_15m,'She')

### verb: "scolded"

In [124]:
IC2_noprompt_16 = pd.read_csv("../results/transfoxl/IC2/no-prompt/16.csv")
IC2_noprompt_16.head()

                         stimulus        He       She
0   Miss Smith scolded Mr. Smith.  0.241657  0.758343
1      The woman scolded the man.  0.741657  0.258343
2              Mary scolded John.  0.624994  0.375006
3              Alice scolded Bob.  0.427254  0.572746
4  The actress scolded the actor.  0.807815  0.192185

In [125]:
# female subject
IC2_noprompt_16f = IC2_noprompt_16[0:12]
IC2_noprompt_16f = IC2_noprompt_16f[["stimulus","She","He"]]
# male subject
IC2_noprompt_16m = IC2_noprompt_16[12:24]

#### female subject

In [126]:
IC2_noprompt_16f

                             stimulus       She        He
0       Miss Smith scolded Mr. Smith.  0.758343  0.241657
1          The woman scolded the man.  0.258343  0.741657
2                  Mary scolded John.  0.375006  0.624994
3                  Alice scolded Bob.  0.572746  0.427254
4      The actress scolded the actor.  0.192185  0.807815
5           The girl scolded the boy.  0.240699  0.759301
6   Mrs. Taylor scolded Mr. Williams.  0.652554  0.347446
7                 Emma scolded David.  0.914729  0.085271
8    The princess scolded the prince.  0.216805  0.783195
9               Sarah scolded Robert.  0.741810  0.258190
10  Mrs. Williams scolded Mr. Taylor.  0.576574  0.423426
11                Emily scolded Paul.  0.753570  0.246430

In [127]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_16f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_16f,'He'))

P('subj-pron'|subj=female) =  0.5211138265828291
P('non-subj-pron'|subj=female) =  0.47888615416983765

In [128]:
np_average_subj_female_subj_pron['scolded'] = compute_average(IC2_noprompt_16f,'She')
np_average_subj_female_obj_pron['scolded'] = compute_average(IC2_noprompt_16f,'He')

#### male subject

In [129]:
IC2_noprompt_16m

                             stimulus        He       She
12      Mr. Smith scolded Miss Smith.  0.178399  0.821601
13         The man scolded the woman.  0.657250  0.342750
14                 John scolded Mary.  0.477235  0.522765
15                 Bob scolded Alice.  0.131406  0.868594
16     The actor scolded the actress.  0.532782  0.467218
17          The boy scolded the girl.  0.862918  0.137082
18   Mr. William scolded Mrs. Taylor.  0.249608  0.750392
19                David scolded Emma.  0.029687  0.970313
20   The prince scolded the princess.  0.867009  0.132991
21              Robert scolded Sarah.  0.109694  0.890306
22  Mr. Taylor scolded Mrs. Williams.  0.074245  0.925755
23                Paul scolded Emily.  0.372062  0.627938

In [130]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_16m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_16m,'She'))

P('subj-pron'|subj=male) =  0.3785245108107726
P('non-subj-pron'|subj=male) =  0.6214754792551199

In [131]:
np_average_subj_male_subj_pron['scolded'] = compute_average(IC2_noprompt_16m,'He')
np_average_subj_male_obj_pron['scolded'] = compute_average(IC2_noprompt_16m,'She')

### verb: "stared"

In [132]:
IC2_noprompt_17 = pd.read_csv("../results/transfoxl/IC2/no-prompt/17.csv")
IC2_noprompt_17.head()

                           stimulus        He       She
0   Miss Smith stared at Mr. Smith.  0.211821  0.788179
1      The woman stared at the man.  0.805939  0.194061
2              Mary stared at John.  0.506591  0.493409
3              Alice stared at Bob.  0.480240  0.519760
4  The actress stared at the actor.  0.847929  0.152071

In [133]:
# female subject
IC2_noprompt_17f = IC2_noprompt_17[0:12]
IC2_noprompt_17f = IC2_noprompt_17f[["stimulus","She","He"]]
# male subject
IC2_noprompt_17m = IC2_noprompt_17[12:24]

#### male subject

In [134]:
IC2_noprompt_17f

                               stimulus       She        He
0       Miss Smith stared at Mr. Smith.  0.788179  0.211821
1          The woman stared at the man.  0.194061  0.805939
2                  Mary stared at John.  0.493409  0.506591
3                  Alice stared at Bob.  0.519760  0.480240
4      The actress stared at the actor.  0.152071  0.847929
5           The girl stared at the boy.  0.184362  0.815638
6   Mrs. Taylor stared at Mr. Williams.  0.789879  0.210121
7                 Emma stared at David.  0.219018  0.780982
8    The princess stared at the prince.  0.173641  0.826359
9               Sarah stared at Robert.  0.618419  0.381581
10  Mrs. Williams stared at Mr. Taylor.  0.667299  0.332701
11                Emily stared at Paul.  0.726107  0.273893

In [135]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_17f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_17f,'He'))

P('subj-pron'|subj=female) =  0.4605170090993245
P('non-subj-pron'|subj=female) =  0.5394829995930195

In [136]:
np_average_subj_female_subj_pron['stared'] = compute_average(IC2_noprompt_17f,'She')
np_average_subj_female_obj_pron['stared'] = compute_average(IC2_noprompt_17f,'He')

#### female subject

In [137]:
IC2_noprompt_17m

                               stimulus        He       She
12      Mr. Smith stared at Miss Smith.  0.856485  0.143515
13         The man stared at the woman.  0.881421  0.118579
14                 John stared at Mary.  0.861290  0.138710
15                 Bob stared at Alice.  0.462949  0.537051
16     The actor stared at the actress.  0.876214  0.123786
17          The boy stared at the girl.  0.877958  0.122042
18   Mr. William stared at Mrs. Taylor.  0.461382  0.538618
19                David stared at Emma.  0.083065  0.916935
20   The prince stared at the princess.  0.881510  0.118490
21              Robert stared at Sarah.  0.117531  0.882469
22  Mr. Taylor stared at Mrs. Williams.  0.200636  0.799364
23                Paul stared at Emily.  0.845226  0.154774

In [138]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_17m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_17m,'She'))

P('subj-pron'|subj=male) =  0.6171389209727446
P('non-subj-pron'|subj=male) =  0.38286109330753487

In [139]:
np_average_subj_male_subj_pron['stared'] = compute_average(IC2_noprompt_17m,'He')
np_average_subj_male_obj_pron['stared'] = compute_average(IC2_noprompt_17m,'She')

### verb: "thanked"

In [140]:
IC2_noprompt_18 = pd.read_csv("../results/transfoxl/IC2/no-prompt/18.csv")
IC2_noprompt_18.head()

                         stimulus        He       She
0   Miss Smith thanked Mr. Smith.  0.429473  0.570527
1      The woman thanked the man.  0.754021  0.245979
2              Mary thanked John.  0.673776  0.326224
3              Alice thanked Bob.  0.827825  0.172175
4  The actress thanked the actor.  0.815779  0.184221

In [141]:
# female subject
IC2_noprompt_18f = IC2_noprompt_18[0:12]
IC2_noprompt_18f = IC2_noprompt_18f[["stimulus","She","He"]]
# male subject
IC2_noprompt_18m = IC2_noprompt_18[12:24]

#### female subject

In [142]:
IC2_noprompt_18f

                             stimulus       She        He
0       Miss Smith thanked Mr. Smith.  0.570527  0.429473
1          The woman thanked the man.  0.245979  0.754021
2                  Mary thanked John.  0.326224  0.673776
3                  Alice thanked Bob.  0.172175  0.827825
4      The actress thanked the actor.  0.184221  0.815779
5           The girl thanked the boy.  0.226684  0.773317
6   Mrs. Taylor thanked Mr. Williams.  0.634843  0.365157
7                 Emma thanked David.  0.854907  0.145093
8    The princess thanked the prince.  0.205064  0.794936
9               Sarah thanked Robert.  0.515139  0.484861
10  Mrs. Williams thanked Mr. Taylor.  0.552327  0.447673
11                Emily thanked Paul.  0.568330  0.431670

In [143]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_18f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_18f,'He'))

P('subj-pron'|subj=female) =  0.4213682562112808
P('non-subj-pron'|subj=female) =  0.5786317499975363

In [144]:
np_average_subj_female_subj_pron['thanked'] = compute_average(IC2_noprompt_18f,'She')
np_average_subj_female_obj_pron['thanked'] = compute_average(IC2_noprompt_18f,'He')

In [145]:
IC2_noprompt_18m

                             stimulus        He       She
12      Mr. Smith thanked Miss Smith.  0.382962  0.617038
13         The man thanked the woman.  0.870371  0.129629
14                 John thanked Mary.  0.693598  0.306402
15                 Bob thanked Alice.  0.237613  0.762387
16     The actor thanked the actress.  0.861942  0.138058
17          The boy thanked the girl.  0.864329  0.135671
18   Mr. William thanked Mrs. Taylor.  0.480935  0.519065
19                David thanked Emma.  0.061553  0.938447
20   The prince thanked the princess.  0.868668  0.131332
21              Robert thanked Sarah.  0.116447  0.883553
22  Mr. Taylor thanked Mrs. Williams.  0.183993  0.816007
23                Paul thanked Emily.  0.525648  0.474352

In [146]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_18m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_18m,'She'))

P('subj-pron'|subj=male) =  0.5123381999631723
P('non-subj-pron'|subj=male) =  0.48766180500388145

In [147]:
np_average_subj_male_subj_pron['thanked'] = compute_average(IC2_noprompt_18m,'He')
np_average_subj_male_obj_pron['thanked'] = compute_average(IC2_noprompt_18m,'She')

### verb: "trusts"

In [148]:
IC2_noprompt_19 = pd.read_csv("../results/transfoxl/IC2/no-prompt/19.csv")
IC2_noprompt_19.head()

                        stimulus        He       She
0   Miss Smith trusts Mr. Smith.  0.231757  0.768243
1      The woman trusts the man.  0.745039  0.254961
2              Mary trusts John.  0.683203  0.316797
3              Alice trusts Bob.  0.508449  0.491551
4  The actress trusts the actor.  0.809450  0.190550

In [149]:
# female subject
IC2_noprompt_19f = IC2_noprompt_19[0:12]
IC2_noprompt_19f = IC2_noprompt_19f[["stimulus","She","He"]]
# male subject
IC2_noprompt_19m = IC2_noprompt_19[12:24]

#### female subject

In [150]:
IC2_noprompt_19f

                            stimulus       She        He
0       Miss Smith trusts Mr. Smith.  0.768243  0.231757
1          The woman trusts the man.  0.254961  0.745039
2                  Mary trusts John.  0.316797  0.683203
3                  Alice trusts Bob.  0.491551  0.508449
4      The actress trusts the actor.  0.190550  0.809450
5           The girl trusts the boy.  0.232093  0.767907
6   Mrs. Taylor trusts Mr. Williams.  0.710895  0.289104
7                 Emma trusts David.  0.950945  0.049055
8    The princess trusts the prince.  0.210859  0.789141
9               Sarah trusts Robert.  0.738074  0.261926
10  Mrs. Williams trusts Mr. Taylor.  0.605393  0.394607
11                Emily trusts Paul.  0.717931  0.282069

In [151]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_19f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_19f,'He'))

P('subj-pron'|subj=female) =  0.5156910618146261
P('non-subj-pron'|subj=female) =  0.48430893135567504

In [152]:
np_average_subj_female_subj_pron['trusts'] = compute_average(IC2_noprompt_19f,'She')
np_average_subj_female_obj_pron['trusts'] = compute_average(IC2_noprompt_19f,'He')

#### male subject

In [153]:
IC2_noprompt_19m

                            stimulus        He       She
12      Mr. Smith trusts Miss Smith.  0.824606  0.175394
13         The man trusts the woman.  0.874879  0.125121
14                 John trusts Mary.  0.867393  0.132607
15                 Bob trusts Alice.  0.337534  0.662466
16     The actor trusts the actress.  0.873745  0.126255
17          The boy trusts the girl.  0.870119  0.129881
18   Mr. William trusts Mrs. Taylor.  0.446124  0.553876
19                David trusts Emma.  0.056811  0.943189
20   The prince trusts the princess.  0.875791  0.124209
21              Robert trusts Sarah.  0.229313  0.770687
22  Mr. Taylor trusts Mrs. Williams.  0.131358  0.868642
23                Paul trusts Emily.  0.825302  0.174698

In [154]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_19m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_19m,'She'))

P('subj-pron'|subj=male) =  0.601081196218729
P('non-subj-pron'|subj=male) =  0.39891881433626014

In [155]:
np_average_subj_male_subj_pron['trusts'] = compute_average(IC2_noprompt_19m,'He')
np_average_subj_male_obj_pron['trusts'] = compute_average(IC2_noprompt_19m,'She')

### verb: "values"

In [156]:
IC2_noprompt_20 = pd.read_csv("../results/transfoxl/IC2/no-prompt/20.csv")
IC2_noprompt_20.head()

                        stimulus        He       She
0   Miss Smith values Mr. Smith.  0.180100  0.819900
1      The woman values the man.  0.732502  0.267498
2              Mary values John.  0.715251  0.284749
3              Alice values Bob.  0.313749  0.686251
4  The actress values the actor.  0.775978  0.224022

In [157]:
# female subject
IC2_noprompt_20f = IC2_noprompt_20[0:12]
IC2_noprompt_20f = IC2_noprompt_20f[["stimulus","She","He"]]
# male subject
IC2_noprompt_20m = IC2_noprompt_20[12:24]

#### female subject

In [158]:
IC2_noprompt_20f

                            stimulus       She        He
0       Miss Smith values Mr. Smith.  0.819900  0.180100
1          The woman values the man.  0.267498  0.732502
2                  Mary values John.  0.284749  0.715251
3                  Alice values Bob.  0.686251  0.313749
4      The actress values the actor.  0.224022  0.775978
5           The girl values the boy.  0.247383  0.752617
6   Mrs. Taylor values Mr. Williams.  0.676862  0.323138
7                 Emma values David.  0.928909  0.071091
8    The princess values the prince.  0.237741  0.762259
9               Sarah values Robert.  0.518049  0.481952
10  Mrs. Williams values Mr. Taylor.  0.607730  0.392270
11                Emily values Paul.  0.849782  0.150219

In [159]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_20f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_20f,'He'))

P('subj-pron'|subj=female) =  0.5290728956460953
P('non-subj-pron'|subj=female) =  0.47092710559566814

In [160]:
np_average_subj_female_subj_pron['values'] = compute_average(IC2_noprompt_20f,'She')
np_average_subj_female_obj_pron['values'] = compute_average(IC2_noprompt_20f,'He')

#### male subject

In [161]:
IC2_noprompt_20m

                            stimulus        He       She
12      Mr. Smith values Miss Smith.  0.578534  0.421466
13         The man values the woman.  0.880530  0.119470
14                 John values Mary.  0.866678  0.133321
15                 Bob values Alice.  0.619825  0.380175
16     The actor values the actress.  0.878666  0.121334
17          The boy values the girl.  0.878247  0.121753
18   Mr. William values Mrs. Taylor.  0.478046  0.521954
19                David values Emma.  0.081219  0.918781
20   The prince values the princess.  0.883957  0.116043
21              Robert values Sarah.  0.426525  0.573475
22  Mr. Taylor values Mrs. Williams.  0.175969  0.824031
23                Paul values Emily.  0.832727  0.167273

In [162]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_20m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_20m,'She'))

P('subj-pron'|subj=male) =  0.6317435192565123
P('non-subj-pron'|subj=male) =  0.3682564788808425

In [163]:
np_average_subj_male_subj_pron['values'] = compute_average(IC2_noprompt_20m,'He')
np_average_subj_male_obj_pron['values'] = compute_average(IC2_noprompt_20m,'She')

## Summary of Results

In [164]:
np_results_fsubj_subjpron = pd.DataFrame(list(np_average_subj_female_subj_pron.items()),columns=['verb','subj_ref_female_subj'])
np_results_fsubj_objpron = pd.DataFrame(list(np_average_subj_female_obj_pron.items()),columns=['verb','obj_ref_female_subj'])
np_results_fsubj = np_results_fsubj_subjpron.merge(np_results_fsubj_objpron)
np_results_fsubj

             verb  subj_ref_female_subj  obj_ref_female_subj
0        assisted              0.517095             0.482905
1          blames              0.536765             0.463235
2       comforted              0.506351             0.493649
3   congratulated              0.438794             0.561206
4       corrected              0.452968             0.547032
5         detests              0.478306             0.521694
6           fears              0.508488             0.491512
7          envies              0.455628             0.544372
8           hates              0.464124             0.535876
9          helped              0.648834             0.351166
10         mocked              0.434151             0.565849
11        noticed              0.457642             0.542358
12       pacified              0.422940             0.577060
13        praised              0.459136             0.540864
14     reproached              0.484164             0.515836
15        scolded              0.521114             0.478886
16         stared              0.460517             0.539483
17        thanked              0.421368             0.578632
18         trusts              0.515691             0.484309
19         values              0.529073             0.470927

In [165]:
np_results_msubj_subjpron = pd.DataFrame(list(np_average_subj_male_subj_pron.items()),columns=['verb','subj_ref_male_subj'])
np_results_msubj_objpron = pd.DataFrame(list(np_average_subj_male_obj_pron.items()),columns=['verb','obj_ref_male_subj'])
np_results_msubj = np_results_msubj_subjpron.merge(np_results_msubj_objpron)
np_results_msubj

             verb  subj_ref_male_subj  obj_ref_male_subj
0        assisted            0.376613           0.623387
1          blames            0.548106           0.451894
2       comforted            0.531204           0.468796
3   congratulated            0.498770           0.501230
4       corrected            0.613298           0.386702
5         detests            0.693869           0.306131
6           fears            0.590906           0.409094
7          envies            0.653632           0.346368
8           hates            0.653267           0.346733
9          helped            0.212644           0.787356
10         mocked            0.519130           0.480870
11        noticed            0.546220           0.453780
12       pacified            0.597557           0.402443
13        praised            0.552216           0.447784
14     reproached            0.412518           0.587482
15        scolded            0.378525           0.621475
16         stared            0.617139           0.382861
17        thanked            0.512338           0.487662
18         trusts            0.601081           0.398919
19         values            0.631744           0.368256

In [166]:
np_results = np_results_fsubj.merge(np_results_msubj)
np_results

,verb,subj_ref_female_subj,obj_ref_female_subj,subj_ref_male_subj,obj_ref_male_subj
0,assisted,0.517095,0.482905,0.376613,0.623387
1,blames,0.536765,0.463235,0.548106,0.451894
2,comforted,0.506351,0.493649,0.531204,0.468796
3,congratulated,0.438794,0.561206,0.498770,0.501230
4,corrected,0.452968,0.547032,0.613298,0.386702
5,detests,0.478306,0.521694,0.693869,0.306131
6,fears,0.508488,0.491512,0.590906,0.409094
7,envies,0.455628,0.544372,0.653632,0.346368
8,hates,0.464124,0.535876,0.653267,0.346733
9,helped,0.648834,0.351166,0.212644,0.787356
10,mocked,0.434151,0.565849,0.519130,0.480870
11,noticed,0.457642,0.542358,0.546220,0.453780
12,pacified,0.422940,0.577060,0.597557,0.402443
13,praised,0.459136,0.540864,0.552216,0.447784
14,reproached,0.484164,0.515836,0.412518,0.587482
15,scolded,0.521114,0.478886,0.378525,0.621475
16,stared,0.460517,0.539483,0.617139,0.382861
17,thanked,0.421368,0.578632,0.512338,0.487662
18,trusts,0.515691,0.484309,0.601081,0.398919
19,values,0.529073,0.470927,0.631744,0.368256

In [167]:
print("P(subj_reference |subj=female)", compute_average(np_results,'subj_ref_female_subj'))
print("P(obj_reference |subj=female)", compute_average(np_results,'obj_ref_female_subj'))

P(subj_reference |subj=female) 0.485657447266082
P(obj_reference |subj=female) 0.5143425503280014

In [168]:
print("P(subj_reference |subj=male)", compute_average(np_results,'subj_ref_male_subj'))
print("P(obj_reference |subj=male)", compute_average(np_results,'obj_ref_male_subj'))

P(subj_reference |subj=male) 0.5370389113668351
P(obj_reference |subj=male) 0.4629610903561116

## Connective: "because"

In [169]:
c1_average_subj_female_subj_pron = {}
c1_average_subj_female_obj_pron = {}
c1_average_subj_male_subj_pron = {}
c1_average_subj_male_obj_pron = {}

### verb: "assisted"

In [170]:
IC2_connective1_1 = pd.read_csv("../results/transfoxl/IC2/connective1/1.csv")
IC2_connective1_1.head()

                                 stimulus        he       she
0   Miss Smith assisted Mr. Smith because  0.139988  0.860012
1      The woman assisted the man because  0.402598  0.597402
2              Mary assisted John because  0.207730  0.792270
3              Alice assisted Bob because  0.231846  0.768154
4  The actress assisted the actor because  0.163075  0.836925

In [171]:
# female subject
IC2_connective1_1f = IC2_connective1_1[0:12]
IC2_connective1_1f = IC2_connective1_1f[["stimulus","she","he"]]
# male subject
IC2_connective1_1m = IC2_connective1_1[12:24]

#### female subject

In [172]:
IC2_connective1_1f

                                     stimulus       she        he
0       Miss Smith assisted Mr. Smith because  0.860012  0.139988
1          The woman assisted the man because  0.597402  0.402598
2                  Mary assisted John because  0.792270  0.207730
3                  Alice assisted Bob because  0.768154  0.231846
4      The actress assisted the actor because  0.836925  0.163075
5           The girl assisted the boy because  0.605719  0.394281
6   Mrs. Taylor assisted Mr. Williams because  0.640262  0.359738
7                 Emma assisted David because  0.912685  0.087315
8    The princess assisted the prince because  0.485937  0.514063
9               Sarah assisted Robert because  0.790855  0.209145
10  Mrs. Williams assisted Mr. Taylor because  0.593858  0.406143
11                Emily assisted Paul because  0.821761  0.178238

In [173]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_1f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_1f,'he'))

P('subj-pron'|subj=female) =  0.725486733019352
P('non-subj-pron'|subj=female) =  0.2745132725685835

In [174]:
c1_average_subj_female_subj_pron['assisted'] = compute_average(IC2_connective1_1f,'she')
c1_average_subj_female_obj_pron['assisted'] = compute_average(IC2_connective1_1f,'he')

#### male subject

In [175]:
IC2_connective1_1m

                                     stimulus        he       she
12      Mr. Smith assisted Miss Smith because  0.199024  0.800976
13         The man assisted the woman because  0.376158  0.623842
14                 John assisted Mary because  0.391814  0.608186
15                 Bob assisted Alice because  0.157607  0.842393
16     The actor assisted the actress because  0.169331  0.830669
17          The boy assisted the girl because  0.342614  0.657386
18   Mr. William assisted Mrs. Taylor because  0.278544  0.721456
19                David assisted Emma because  0.322535  0.677465
20   The prince assisted the princess because  0.443268  0.556732
21              Robert assisted Sarah because  0.259857  0.740143
22  Mr. Taylor assisted Mrs. Williams because  0.063570  0.936430
23                Paul assisted Emily because  0.305975  0.694025

In [176]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_1m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_1m,'she'))

P('subj-pron'|subj=male) =  0.27585807877282303
P('non-subj-pron'|subj=male) =  0.724141925573349

In [177]:
c1_average_subj_male_subj_pron['assisted'] = compute_average(IC2_connective1_1m,'he')
c1_average_subj_male_obj_pron['assisted'] = compute_average(IC2_connective1_1m,'she')

### verb: "blames"

In [178]:
IC2_connective1_2 = pd.read_csv("../results/transfoxl/IC2/connective1/2.csv")
IC2_connective1_2.head()

                               stimulus        he       she
0   Miss Smith blames Mr. Smith because  0.200932  0.799068
1      The woman blames the man because  0.508223  0.491777
2              Mary blames John because  0.448550  0.551450
3              Alice blames Bob because  0.320501  0.679499
4  The actress blames the actor because  0.522983  0.477017

In [179]:
# female subject
IC2_connective1_2f = IC2_connective1_2[0:12]
IC2_connective1_2f = IC2_connective1_2f[["stimulus","she","he"]]
# male subject
IC2_connective1_2m = IC2_connective1_2[12:24]

#### female subject

In [180]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_2f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_2f,'he'))

P('subj-pron'|subj=female) =  0.5894304141402245
P('non-subj-pron'|subj=female) =  0.41056957220037776

In [181]:
c1_average_subj_female_subj_pron['blames'] = compute_average(IC2_connective1_2f,'she')
c1_average_subj_female_obj_pron['blames'] = compute_average(IC2_connective1_2f,'he')

#### male subject

In [182]:
IC2_connective1_2m

                                   stimulus        he       she
12      Mr. Smith blames Miss Smith because  0.248014  0.751986
13         The man blames the woman because  0.423418  0.576582
14                 John blames Mary because  0.362707  0.637293
15                 Bob blames Alice because  0.181759  0.818241
16     The actor blames the actress because  0.238430  0.761570
17          The boy blames the girl because  0.443417  0.556583
18   Mr. William blames Mrs. Taylor because  0.334803  0.665197
19                David blames Emma because  0.357770  0.642230
20   The prince blames the princess because  0.388788  0.611212
21              Robert blames Sarah because  0.166290  0.833710
22  Mr. Taylor blames Mrs. Williams because  0.195640  0.804360
23                Paul blames Emily because  0.338123  0.661877

In [183]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_2m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_2m,'she'))

P('subj-pron'|subj=male) =  0.30659667899211246
P('non-subj-pron'|subj=male) =  0.6934033334255219

In [184]:
c1_average_subj_male_subj_pron['blames'] = compute_average(IC2_connective1_2m,'he')
c1_average_subj_male_obj_pron['blames'] = compute_average(IC2_connective1_2m,'she')

### verb: "comforted"

In [185]:
IC2_connective1_3 = pd.read_csv("../results/transfoxl/IC2/connective1/3.csv")
IC2_connective1_3.head()

                                  stimulus        he       she
0   Miss Smith comforted Mr. Smith because  0.371080  0.628920
1      The woman comforted the man because  0.570677  0.429323
2              Mary comforted John because  0.561189  0.438811
3              Alice comforted Bob because  0.640813  0.359187
4  The actress comforted the actor because  0.623428  0.376572

In [186]:
# female subject
IC2_connective1_3f = IC2_connective1_3[0:12]
IC2_connective1_3f = IC2_connective1_3f[["stimulus","she","he"]]
# male subject
IC2_connective1_3m = IC2_connective1_3[12:24]

#### female subject

In [187]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_3f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_3f,'he'))

P('subj-pron'|subj=female) =  0.4729318271080653
P('non-subj-pron'|subj=female) =  0.527068185309569

In [188]:
c1_average_subj_female_subj_pron['comforted'] = compute_average(IC2_connective1_3f,'she')
c1_average_subj_female_obj_pron['comforted'] = compute_average(IC2_connective1_3f,'he')

#### male subject

In [189]:
IC2_connective1_3m

                                      stimulus        he       she
12      Mr. Smith comforted Miss Smith because  0.306046  0.693954
13         The man comforted the woman because  0.627549  0.372451
14                 John comforted Mary because  0.460484  0.539516
15                 Bob comforted Alice because  0.145750  0.854250
16     The actor comforted the actress because  0.261497  0.738503
17          The boy comforted the girl because  0.607962  0.392038
18   Mr. William comforted Mrs. Taylor because  0.335951  0.664049
19                David comforted Emma because  0.243577  0.756423
20   The prince comforted the princess because  0.588235  0.411765
21              Robert comforted Sarah because  0.110052  0.889948
22  Mr. Taylor comforted Mrs. Williams because  0.153465  0.846535
23                Paul comforted Emily because  0.265037  0.734963

In [190]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_3m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_3m,'she'))

P('subj-pron'|subj=male) =  0.3421337530016899
P('non-subj-pron'|subj=male) =  0.6578662519653639

In [191]:
c1_average_subj_male_subj_pron['comforted'] = compute_average(IC2_connective1_3m,'he')
c1_average_subj_male_obj_pron['comforted'] = compute_average(IC2_connective1_3m,'she')

### verb: "congratulated"

In [192]:
IC2_connective1_4 = pd.read_csv("../results/transfoxl/IC2/connective1/4.csv")
IC2_connective1_4.head()

                                      stimulus        he       she
0   Miss Smith congratulated Mr. Smith because  0.300703  0.699297
1      The woman congratulated the man because  0.545204  0.454796
2              Mary congratulated John because  0.526383  0.473617
3              Alice congratulated Bob because  0.538091  0.461909
4  The actress congratulated the actor because  0.540752  0.459248

In [193]:
# female subject
IC2_connective1_4f = IC2_connective1_4[0:12]
IC2_connective1_4f = IC2_connective1_4f[["stimulus","she","he"]]
# male subject
IC2_connective1_4m = IC2_connective1_4[12:24]

#### female subject

In [194]:
IC2_connective1_4f

                                          stimulus       she        he
0       Miss Smith congratulated Mr. Smith because  0.699297  0.300703
1          The woman congratulated the man because  0.454796  0.545204
2                  Mary congratulated John because  0.473617  0.526383
3                  Alice congratulated Bob because  0.461909  0.538091
4      The actress congratulated the actor because  0.459248  0.540752
5           The girl congratulated the boy because  0.474379  0.525621
6   Mrs. Taylor congratulated Mr. Williams because  0.488500  0.511500
7                 Emma congratulated David because  0.685505  0.314495
8    The princess congratulated the prince because  0.390560  0.609440
9               Sarah congratulated Robert because  0.577149  0.422851
10  Mrs. Williams congratulated Mr. Taylor because  0.450767  0.549233
11                Emily congratulated Paul because  0.538846  0.461154

In [195]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_4f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_4f,'he'))

P('subj-pron'|subj=female) =  0.5128810380895933
P('non-subj-pron'|subj=female) =  0.487118956943353

In [196]:
c1_average_subj_female_subj_pron['congratulated'] = compute_average(IC2_connective1_4f,'she')
c1_average_subj_female_obj_pron['congratulated'] = compute_average(IC2_connective1_4f,'he')

#### male subject

In [197]:
IC2_connective1_4m

                                          stimulus        he       she
12      Mr. Smith congratulated Miss Smith because  0.314449  0.685551
13         The man congratulated the woman because  0.397005  0.602996
14                 John congratulated Mary because  0.358869  0.641131
15                 Bob congratulated Alice because  0.188306  0.811694
16     The actor congratulated the actress because  0.183809  0.816191
17          The boy congratulated the girl because  0.420641  0.579359
18   Mr. William congratulated Mrs. Taylor because  0.297359  0.702641
19                David congratulated Emma because  0.327733  0.672267
20   The prince congratulated the princess because  0.385189  0.614811
21              Robert congratulated Sarah because  0.146068  0.853932
22  Mr. Taylor congratulated Mrs. Williams because  0.130092  0.869908
23                Paul congratulated Emily because  0.335221  0.664779

In [198]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_4m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_4m,'she'))

P('subj-pron'|subj=male) =  0.29039496059219044
P('non-subj-pron'|subj=male) =  0.7096050481001536

In [199]:
c1_average_subj_male_subj_pron['congratulated'] = compute_average(IC2_connective1_4m,'he')
c1_average_subj_male_obj_pron['congratulated'] = compute_average(IC2_connective1_4m,'she')

### verb: "corrected"

In [200]:
IC2_connective1_5 = pd.read_csv("../results/transfoxl/IC2/connective1/5.csv")
IC2_connective1_5.head()

                                  stimulus        he       she
0   Miss Smith corrected Mr. Smith because  0.229302  0.770698
1      The woman corrected the man because  0.347357  0.652643
2              Mary corrected John because  0.272618  0.727382
3              Alice corrected Bob because  0.328828  0.671172
4  The actress corrected the actor because  0.245158  0.754842

In [201]:
# female subject
IC2_connective1_5f = IC2_connective1_5[0:12]
IC2_connective1_5f = IC2_connective1_5[["stimulus","she","he"]]
# male subject
IC2_connective1_5m = IC2_connective1_5[12:24]

#### female subject

In [202]:
IC2_connective1_5f

                                      stimulus       she        he
0       Miss Smith corrected Mr. Smith because  0.770698  0.229302
1          The woman corrected the man because  0.652643  0.347357
2                  Mary corrected John because  0.727382  0.272618
3                  Alice corrected Bob because  0.671172  0.328828
4      The actress corrected the actor because  0.754842  0.245158
5           The girl corrected the boy because  0.697285  0.302715
6   Mrs. Taylor corrected Mr. Williams because  0.562258  0.437742
7                 Emma corrected David because  0.860187  0.139813
8    The princess corrected the prince because  0.675635  0.324365
9               Sarah corrected Robert because  0.796969  0.203031
10  Mrs. Williams corrected Mr. Taylor because  0.555245  0.444756
11                Emily corrected Paul because  0.750151  0.249849
12      Mr. Smith corrected Miss Smith because  0.622630  0.377370
13         The man corrected the woman because  0.481406  0.518594
14                 John corrected Mary because  0.440394  0.559606
15                 Bob corrected Alice because  0.718888  0.281112
16     The actor corrected the actress because  0.710343  0.289657
17          The boy corrected the girl because  0.428992  0.571008
18   Mr. William corrected Mrs. Taylor because  0.669543  0.330457
19                David corrected Emma because  0.626174  0.373826
20   The prince corrected the princess because  0.411265  0.588735
21              Robert corrected Sarah because  0.673604  0.326396
22  Mr. Taylor corrected Mrs. Williams because  0.847175  0.152825
23                Paul corrected Emily because  0.569337  0.430663

In [203]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_5f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_5f,'he'))

P('subj-pron'|subj=female) =  0.6530923955142498
P('non-subj-pron'|subj=female) =  0.34690762621661025

In [204]:
c1_average_subj_female_subj_pron['corrected'] = compute_average(IC2_connective1_5f,'she')
c1_average_subj_female_obj_pron['corrected'] = compute_average(IC2_connective1_5f,'he')

#### male subject

In [205]:
IC2_connective1_5m

                                      stimulus        he       she
12      Mr. Smith corrected Miss Smith because  0.377370  0.622630
13         The man corrected the woman because  0.518594  0.481406
14                 John corrected Mary because  0.559606  0.440394
15                 Bob corrected Alice because  0.281112  0.718888
16     The actor corrected the actress because  0.289657  0.710343
17          The boy corrected the girl because  0.571008  0.428992
18   Mr. William corrected Mrs. Taylor because  0.330457  0.669543
19                David corrected Emma because  0.373826  0.626174
20   The prince corrected the princess because  0.588735  0.411265
21              Robert corrected Sarah because  0.326396  0.673604
22  Mr. Taylor corrected Mrs. Williams because  0.152825  0.847175
23                Paul corrected Emily because  0.430663  0.569337

In [206]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_5m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_5m,'she'))

P('subj-pron'|subj=male) =  0.40002065400282544
P('non-subj-pron'|subj=male) =  0.5999793633818626

In [207]:
c1_average_subj_male_subj_pron['corrected'] = compute_average(IC2_connective1_5m,'he')
c1_average_subj_male_obj_pron['corrected'] = compute_average(IC2_connective1_5m,'she')

### verb: "detests"

In [208]:
IC2_connective1_6 = pd.read_csv("../results/transfoxl/IC2/connective1/6.csv")
IC2_connective1_6.head()

                                stimulus        he       she
0   Miss Smith detests Mr. Smith because  0.207872  0.792128
1      The woman detests the man because  0.558253  0.441747
2              Mary detests John because  0.388593  0.611407
3              Alice detests Bob because  0.343856  0.656144
4  The actress detests the actor because  0.462296  0.537704

In [209]:
# female subject
IC2_connective1_6f = IC2_connective1_6[0:12]
IC2_connective1_6f = IC2_connective1_6[["stimulus","she","he"]]
# male subject
IC2_connective1_6m = IC2_connective1_6[12:24]

#### female subject

In [210]:
IC2_connective1_6f

                                    stimulus       she        he
0       Miss Smith detests Mr. Smith because  0.792128  0.207872
1          The woman detests the man because  0.441747  0.558253
2                  Mary detests John because  0.611407  0.388593
3                  Alice detests Bob because  0.656144  0.343856
4      The actress detests the actor because  0.537704  0.462296
5           The girl detests the boy because  0.527229  0.472771
6   Mrs. Taylor detests Mr. Williams because  0.486012  0.513988
7                 Emma detests David because  0.658126  0.341874
8    The princess detests the prince because  0.346762  0.653238
9               Sarah detests Robert because  0.551434  0.448566
10  Mrs. Williams detests Mr. Taylor because  0.467767  0.532233
11                Emily detests Paul because  0.610631  0.389369
12      Mr. Smith detests Miss Smith because  0.737834  0.262166
13         The man detests the woman because  0.588676  0.411324
14                 John detests Mary because  0.668265  0.331735
15                 Bob detests Alice because  0.803897  0.196103
16     The actor detests the actress because  0.772777  0.227223
17          The boy detests the girl because  0.557488  0.442512
18   Mr. William detests Mrs. Taylor because  0.634555  0.365445
19                David detests Emma because  0.702360  0.297640
20   The prince detests the princess because  0.684905  0.315095
21              Robert detests Sarah because  0.712448  0.287552
22  Mr. Taylor detests Mrs. Williams because  0.785913  0.214087
23                Paul detests Emily because  0.696068  0.303932

In [211]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_6f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_6f,'he'))

P('subj-pron'|subj=female) =  0.6263448682924112
P('non-subj-pron'|subj=female) =  0.3736551435043414

In [212]:
c1_average_subj_female_subj_pron['detests'] = compute_average(IC2_connective1_6f,'she')
c1_average_subj_female_obj_pron['detests'] = compute_average(IC2_connective1_6f,'he')

#### male subject

In [213]:
IC2_connective1_6m

                                    stimulus        he       she
12      Mr. Smith detests Miss Smith because  0.262166  0.737834
13         The man detests the woman because  0.411324  0.588676
14                 John detests Mary because  0.331735  0.668265
15                 Bob detests Alice because  0.196103  0.803897
16     The actor detests the actress because  0.227223  0.772777
17          The boy detests the girl because  0.442512  0.557488
18   Mr. William detests Mrs. Taylor because  0.365445  0.634555
19                David detests Emma because  0.297640  0.702360
20   The prince detests the princess because  0.315095  0.684905
21              Robert detests Sarah because  0.287552  0.712448
22  Mr. Taylor detests Mrs. Williams because  0.214087  0.785913
23                Paul detests Emily because  0.303932  0.696068

In [214]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_6m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_6m,'she'))

P('subj-pron'|subj=male) =  0.30456779276331264
P('non-subj-pron'|subj=male) =  0.6954322010278702

In [215]:
c1_average_subj_male_subj_pron['detests'] = compute_average(IC2_connective1_6m,'he')
c1_average_subj_male_obj_pron['detests'] = compute_average(IC2_connective1_6m,'she')

### verb: "fears"

In [216]:
IC2_connective1_7 = pd.read_csv("../results/transfoxl/IC2/connective1/7.csv")
IC2_connective1_7.head()

                              stimulus        he       she
0   Miss Smith fears Mr. Smith because  0.172004  0.827996
1      The woman fears the man because  0.489136  0.510864
2              Mary fears John because  0.364854  0.635146
3              Alice fears Bob because  0.293830  0.706170
4  The actress fears the actor because  0.373597  0.626403

In [217]:
# female subject
IC2_connective1_7f = IC2_connective1_7[0:12]
IC2_connective1_7f = IC2_connective1_7f[["stimulus","she","he"]]
# male subject
IC2_connective1_7m = IC2_connective1_7[12:24]

#### female subject

In [218]:
IC2_connective1_7f

                                  stimulus       she        he
0       Miss Smith fears Mr. Smith because  0.827996  0.172004
1          The woman fears the man because  0.510864  0.489136
2                  Mary fears John because  0.635146  0.364854
3                  Alice fears Bob because  0.706170  0.293830
4      The actress fears the actor because  0.626403  0.373597
5           The girl fears the boy because  0.633234  0.366766
6   Mrs. Taylor fears Mr. Williams because  0.481028  0.518972
7                 Emma fears David because  0.765124  0.234876
8    The princess fears the prince because  0.455028  0.544972
9               Sarah fears Robert because  0.752161  0.247839
10  Mrs. Williams fears Mr. Taylor because  0.473746  0.526254
11                Emily fears Paul because  0.613295  0.386705

In [219]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_7f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_7f,'he'))

P('subj-pron'|subj=female) =  0.623349666595459
P('non-subj-pron'|subj=female) =  0.3766503483057022

In [220]:
c1_average_subj_female_subj_pron['fears'] = compute_average(IC2_connective1_7f,'she')
c1_average_subj_female_obj_pron['fears'] = compute_average(IC2_connective1_7f,'he')

#### male subject

In [221]:
IC2_connective1_7m

                                  stimulus        he       she
12      Mr. Smith fears Miss Smith because  0.313560  0.686440
13         The man fears the woman because  0.563255  0.436745
14                 John fears Mary because  0.427870  0.572130
15                 Bob fears Alice because  0.168269  0.831731
16     The actor fears the actress because  0.452081  0.547919
17          The boy fears the girl because  0.651211  0.348789
18   Mr. William fears Mrs. Taylor because  0.480577  0.519423
19                David fears Emma because  0.312602  0.687398
20   The prince fears the princess because  0.547293  0.452707
21              Robert fears Sarah because  0.281198  0.718802
22  Mr. Taylor fears Mrs. Williams because  0.221789  0.778211
23                Paul fears Emily because  0.363581  0.636419

In [222]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_7m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_7m,'she'))

P('subj-pron'|subj=male) =  0.3986070640385151
P('non-subj-pron'|subj=male) =  0.6013929297526678

In [223]:
c1_average_subj_male_subj_pron['fears'] = compute_average(IC2_connective1_7m,'he')
c1_average_subj_male_obj_pron['fears'] = compute_average(IC2_connective1_7m,'she')

### verb: "envies"

In [224]:
IC2_connective1_8 = pd.read_csv("../results/transfoxl/IC2/connective1/8.csv")
IC2_connective1_8.head()

                               stimulus        he       she
0   Miss Smith envies Mr. Smith because  0.208647  0.791353
1      The woman envies the man because  0.525749  0.474251
2              Mary envies John because  0.409911  0.590088
3              Alice envies Bob because  0.351879  0.648121
4  The actress envies the actor because  0.544894  0.455106

In [225]:
# female subject
IC2_connective1_8f = IC2_connective1_8[0:12]
IC2_connective1_8f = IC2_connective1_8f[["stimulus","she","he"]]
# male subject
IC2_connective1_8m = IC2_connective1_8[12:24]

#### female subject

In [226]:
IC2_connective1_8f

                                   stimulus       she        he
0       Miss Smith envies Mr. Smith because  0.791353  0.208647
1          The woman envies the man because  0.474251  0.525749
2                  Mary envies John because  0.590088  0.409911
3                  Alice envies Bob because  0.648121  0.351879
4      The actress envies the actor because  0.455106  0.544894
5           The girl envies the boy because  0.569755  0.430245
6   Mrs. Taylor envies Mr. Williams because  0.461982  0.538018
7                 Emma envies David because  0.710438  0.289562
8    The princess envies the prince because  0.369886  0.630114
9               Sarah envies Robert because  0.540631  0.459369
10  Mrs. Williams envies Mr. Taylor because  0.451900  0.548100
11                Emily envies Paul because  0.664313  0.335687

In [227]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_8f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_8f,'he'))

P('subj-pron'|subj=female) =  0.5606521343191465
P('non-subj-pron'|subj=female) =  0.43934785823027295

In [228]:
c1_average_subj_female_subj_pron['envies'] = compute_average(IC2_connective1_8f,'she')
c1_average_subj_female_obj_pron['envies'] = compute_average(IC2_connective1_8f,'he')

#### male subject

In [229]:
IC2_connective1_8m

                                   stimulus        he       she
12      Mr. Smith envies Miss Smith because  0.327064  0.672936
13         The man envies the woman because  0.503609  0.496391
14                 John envies Mary because  0.353661  0.646339
15                 Bob envies Alice because  0.251621  0.748379
16     The actor envies the actress because  0.466772  0.533228
17          The boy envies the girl because  0.504466  0.495534
18   Mr. William envies Mrs. Taylor because  0.432009  0.567991
19                David envies Emma because  0.384187  0.615813
20   The prince envies the princess because  0.390958  0.609042
21              Robert envies Sarah because  0.370198  0.629802
22  Mr. Taylor envies Mrs. Williams because  0.255187  0.744813
23                Paul envies Emily because  0.346117  0.653883

In [230]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_8m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_8m,'she'))

P('subj-pron'|subj=male) =  0.3821541741490364
P('non-subj-pron'|subj=male) =  0.6178458208839098

In [231]:
c1_average_subj_male_subj_pron['envies'] = compute_average(IC2_connective1_8m,'he')
c1_average_subj_male_obj_pron['envies'] = compute_average(IC2_connective1_8m,'she')

### verb: "hates"

In [232]:
IC2_connective1_9 = pd.read_csv("../results/transfoxl/IC2/connective1/9.csv")
IC2_connective1_9.head()

                              stimulus        he       she
0   Miss Smith hates Mr. Smith because  0.234907  0.765093
1      The woman hates the man because  0.593715  0.406285
2              Mary hates John because  0.473696  0.526304
3              Alice hates Bob because  0.394467  0.605533
4  The actress hates the actor because  0.530813  0.469187

In [233]:
# female subject
IC2_connective1_9f = IC2_connective1_9[0:12]
IC2_connective1_9f = IC2_connective1_9f[["stimulus","she","he"]]
# male subject
IC2_connective1_9m = IC2_connective1_9[12:24]

#### female subject

In [234]:
IC2_connective1_9f

                                  stimulus       she        he
0       Miss Smith hates Mr. Smith because  0.765093  0.234907
1          The woman hates the man because  0.406285  0.593715
2                  Mary hates John because  0.526304  0.473696
3                  Alice hates Bob because  0.605533  0.394467
4      The actress hates the actor because  0.469187  0.530813
5           The girl hates the boy because  0.439564  0.560436
6   Mrs. Taylor hates Mr. Williams because  0.435133  0.564867
7                 Emma hates David because  0.638407  0.361593
8    The princess hates the prince because  0.313033  0.686967
9               Sarah hates Robert because  0.497131  0.502869
10  Mrs. Williams hates Mr. Taylor because  0.449342  0.550658
11                Emily hates Paul because  0.550595  0.449405

In [235]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_9f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_9f,'he'))

P('subj-pron'|subj=female) =  0.5079671442508698
P('non-subj-pron'|subj=female) =  0.49203285326560336

In [236]:
c1_average_subj_female_subj_pron['hates'] = compute_average(IC2_connective1_9f,'she')
c1_average_subj_female_obj_pron['hates'] = compute_average(IC2_connective1_9f,'he')

#### male subject

In [237]:
IC2_connective1_9m

                                  stimulus        he       she
12      Mr. Smith hates Miss Smith because  0.217719  0.782281
13         The man hates the woman because  0.429634  0.570366
14                 John hates Mary because  0.304344  0.695656
15                 Bob hates Alice because  0.143692  0.856308
16     The actor hates the actress because  0.217210  0.782790
17          The boy hates the girl because  0.442715  0.557285
18   Mr. William hates Mrs. Taylor because  0.351666  0.648334
19                David hates Emma because  0.255234  0.744766
20   The prince hates the princess because  0.326003  0.673997
21              Robert hates Sarah because  0.266133  0.733867
22  Mr. Taylor hates Mrs. Williams because  0.207253  0.792747
23                Paul hates Emily because  0.253704  0.746296

In [238]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_9m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_9m,'she'))

P('subj-pron'|subj=male) =  0.2846088806788127
P('non-subj-pron'|subj=male) =  0.7153911342223486

In [239]:
c1_average_subj_male_subj_pron['hates'] = compute_average(IC2_connective1_9m,'he')
c1_average_subj_male_obj_pron['hates'] = compute_average(IC2_connective1_9m,'she')

### verb: "helped"

In [240]:
IC2_connective1_10 = pd.read_csv("../results/transfoxl/IC2/connective1/10.csv")
IC2_connective1_10.head()

                               stimulus        he       she
0   Miss Smith helped Mr. Smith because  0.167679  0.832321
1      The woman helped the man because  0.420509  0.579491
2              Mary helped John because  0.286400  0.713600
3              Alice helped Bob because  0.335128  0.664872
4  The actress helped the actor because  0.127656  0.872344

In [241]:
# female subject
IC2_connective1_10f = IC2_connective1_10[0:12]
IC2_connective1_10f = IC2_connective1_10f[["stimulus","she","he"]]
# male subject
IC2_connective1_10m = IC2_connective1_10[12:24]

#### female subject

In [242]:
IC2_connective1_10f

                                   stimulus       she        he
0       Miss Smith helped Mr. Smith because  0.832321  0.167679
1          The woman helped the man because  0.579491  0.420509
2                  Mary helped John because  0.713600  0.286400
3                  Alice helped Bob because  0.664872  0.335128
4      The actress helped the actor because  0.872344  0.127656
5           The girl helped the boy because  0.657178  0.342822
6   Mrs. Taylor helped Mr. Williams because  0.655408  0.344592
7                 Emma helped David because  0.870023  0.129977
8    The princess helped the prince because  0.592689  0.407311
9               Sarah helped Robert because  0.741202  0.258797
10  Mrs. Williams helped Mr. Taylor because  0.616204  0.383796
11                Emily helped Paul because  0.724684  0.275316

In [243]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_10f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_10f,'he'))

P('subj-pron'|subj=female) =  0.710001269976298
P('non-subj-pron'|subj=female) =  0.28999872133135796

In [244]:
c1_average_subj_female_subj_pron['helped'] = compute_average(IC2_connective1_10f,'she')
c1_average_subj_female_obj_pron['helped'] = compute_average(IC2_connective1_10f,'he')

#### male subject

In [245]:
IC2_connective1_10m

                                   stimulus        he       she
12      Mr. Smith helped Miss Smith because  0.191917  0.808083
13         The man helped the woman because  0.476883  0.523117
14                 John helped Mary because  0.375553  0.624447
15                 Bob helped Alice because  0.106737  0.893263
16     The actor helped the actress because  0.272480  0.727519
17          The boy helped the girl because  0.447274  0.552726
18   Mr. William helped Mrs. Taylor because  0.235630  0.764369
19                David helped Emma because  0.252953  0.747047
20   The prince helped the princess because  0.520020  0.479980
21              Robert helped Sarah because  0.182645  0.817355
22  Mr. Taylor helped Mrs. Williams because  0.060181  0.939819
23                Paul helped Emily because  0.273372  0.726628

In [246]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_10m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_10m,'she'))

P('subj-pron'|subj=male) =  0.28297041294475395
P('non-subj-pron'|subj=male) =  0.7170295715332031

In [247]:
c1_average_subj_male_subj_pron['helped'] = compute_average(IC2_connective1_10m,'he')
c1_average_subj_male_obj_pron['helped'] = compute_average(IC2_connective1_10m,'she')

### verb: "mocked"

In [248]:
IC2_connective1_11 = pd.read_csv("../results/transfoxl/IC2/connective1/11.csv")
IC2_connective1_11.head()

                               stimulus        he       she
0   Miss Smith mocked Mr. Smith because  0.219900  0.780100
1      The woman mocked the man because  0.503949  0.496051
2              Mary mocked John because  0.392812  0.607188
3              Alice mocked Bob because  0.355171  0.644829
4  The actress mocked the actor because  0.622752  0.377248

In [249]:
# female subject
IC2_connective1_11f = IC2_connective1_11[0:12]
IC2_connective1_11f = IC2_connective1_11f[["stimulus","she","he"]]
# male subject
IC2_connective1_11m = IC2_connective1_11[12:24]

#### female subject

In [250]:
IC2_connective1_11f

                                   stimulus       she        he
0       Miss Smith mocked Mr. Smith because  0.780100  0.219900
1          The woman mocked the man because  0.496051  0.503949
2                  Mary mocked John because  0.607188  0.392812
3                  Alice mocked Bob because  0.644829  0.355171
4      The actress mocked the actor because  0.377248  0.622752
5           The girl mocked the boy because  0.514305  0.485695
6   Mrs. Taylor mocked Mr. Williams because  0.452047  0.547953
7                 Emma mocked David because  0.689875  0.310125
8    The princess mocked the prince because  0.356052  0.643948
9               Sarah mocked Robert because  0.500794  0.499206
10  Mrs. Williams mocked Mr. Taylor because  0.436862  0.563138
11                Emily mocked Paul because  0.563686  0.436314

In [251]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_11f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_11f,'he'))

P('subj-pron'|subj=female) =  0.5349196717143059
P('non-subj-pron'|subj=female) =  0.4650803270439307

In [252]:
c1_average_subj_female_subj_pron['mocked'] = compute_average(IC2_connective1_11f,'she')
c1_average_subj_female_obj_pron['mocked'] = compute_average(IC2_connective1_11f,'he')

#### male subject

In [253]:
IC2_connective1_11m

                                   stimulus        he       she
12      Mr. Smith mocked Miss Smith because  0.303026  0.696974
13         The man mocked the woman because  0.602761  0.397239
14                 John mocked Mary because  0.421526  0.578474
15                 Bob mocked Alice because  0.243553  0.756447
16     The actor mocked the actress because  0.383139  0.616861
17          The boy mocked the girl because  0.625795  0.374205
18   Mr. William mocked Mrs. Taylor because  0.330660  0.669340
19                David mocked Emma because  0.463406  0.536594
20   The prince mocked the princess because  0.391108  0.608892
21              Robert mocked Sarah because  0.471559  0.528441
22  Mr. Taylor mocked Mrs. Williams because  0.163212  0.836788
23                Paul mocked Emily because  0.426915  0.573085

In [254]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_11m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_11m,'she'))

P('subj-pron'|subj=male) =  0.4022217132151127
P('non-subj-pron'|subj=male) =  0.5977782979607582

In [255]:
c1_average_subj_male_subj_pron['mocked'] = compute_average(IC2_connective1_11m,'he')
c1_average_subj_male_obj_pron['mocked'] = compute_average(IC2_connective1_11m,'she')

### verb: "noticed"

In [256]:
IC2_connective1_12 = pd.read_csv("../results/transfoxl/IC2/connective1/12.csv")
IC2_connective1_12.head()

                                stimulus        he       she
0   Miss Smith noticed Mr. Smith because  0.257410  0.742590
1      The woman noticed the man because  0.514006  0.485994
2              Mary noticed John because  0.440823  0.559177
3              Alice noticed Bob because  0.400893  0.599107
4  The actress noticed the actor because  0.505167  0.494833

In [257]:
# female subject
IC2_connective1_12f = IC2_connective1_12[0:12]
IC2_connective1_12f = IC2_connective1_12f[["stimulus","she","he"]]
# male subject
IC2_connective1_12m = IC2_connective1_12[12:24]

#### female subject

In [258]:
IC2_connective1_12f

                                    stimulus       she        he
0       Miss Smith noticed Mr. Smith because  0.742590  0.257410
1          The woman noticed the man because  0.485994  0.514006
2                  Mary noticed John because  0.559177  0.440823
3                  Alice noticed Bob because  0.599107  0.400893
4      The actress noticed the actor because  0.494833  0.505167
5           The girl noticed the boy because  0.531203  0.468797
6   Mrs. Taylor noticed Mr. Williams because  0.507676  0.492324
7                 Emma noticed David because  0.654445  0.345555
8    The princess noticed the prince because  0.416317  0.583683
9               Sarah noticed Robert because  0.654319  0.345681
10  Mrs. Williams noticed Mr. Taylor because  0.469475  0.530525
11                Emily noticed Paul because  0.538067  0.461933

In [259]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_12f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_12f,'he'))

P('subj-pron'|subj=female) =  0.5544336587190628
P('non-subj-pron'|subj=female) =  0.4455663338303566

In [260]:
c1_average_subj_female_subj_pron['noticed'] = compute_average(IC2_connective1_12f,'she')
c1_average_subj_female_obj_pron['noticed'] = compute_average(IC2_connective1_12f,'he')

#### male subject

In [261]:
IC2_connective1_12m

                                    stimulus        he       she
12      Mr. Smith noticed Miss Smith because  0.199264  0.800736
13         The man noticed the woman because  0.515666  0.484334
14                 John noticed Mary because  0.487413  0.512587
15                 Bob noticed Alice because  0.165530  0.834470
16     The actor noticed the actress because  0.204882  0.795118
17          The boy noticed the girl because  0.492390  0.507610
18   Mr. William noticed Mrs. Taylor because  0.266546  0.733454
19                David noticed Emma because  0.274039  0.725961
20   The prince noticed the princess because  0.468831  0.531169
21              Robert noticed Sarah because  0.264731  0.735269
22  Mr. Taylor noticed Mrs. Williams because  0.110816  0.889184
23                Paul noticed Emily because  0.303559  0.696441

In [262]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_12m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_12m,'she'))

P('subj-pron'|subj=male) =  0.3128055352717638
P('non-subj-pron'|subj=male) =  0.6871944665908813

In [263]:
c1_average_subj_male_subj_pron['noticed'] = compute_average(IC2_connective1_12m,'he')
c1_average_subj_male_obj_pron['noticed'] = compute_average(IC2_connective1_12m,'she')

### verb: "pacified"

In [264]:
IC2_connective1_13 = pd.read_csv("../results/transfoxl/IC2/connective1/13.csv")
IC2_connective1_13.head()

                                 stimulus        he       she
0   Miss Smith pacified Mr. Smith because  0.239350  0.760650
1      The woman pacified the man because  0.542657  0.457343
2              Mary pacified John because  0.440318  0.559682
3              Alice pacified Bob because  0.550594  0.449406
4  The actress pacified the actor because  0.434340  0.565660

In [265]:
# female subject
IC2_connective1_13f = IC2_connective1_13[0:12]
IC2_connective1_13f = IC2_connective1_13f[["stimulus","she","he"]]
# male subject
IC2_connective1_13m = IC2_connective1_13[12:24]

#### female subject

In [266]:
IC2_connective1_13f

                                     stimulus       she        he
0       Miss Smith pacified Mr. Smith because  0.760650  0.239350
1          The woman pacified the man because  0.457343  0.542657
2                  Mary pacified John because  0.559682  0.440318
3                  Alice pacified Bob because  0.449406  0.550594
4      The actress pacified the actor because  0.565660  0.434340
5           The girl pacified the boy because  0.468763  0.531237
6   Mrs. Taylor pacified Mr. Williams because  0.491830  0.508170
7                 Emma pacified David because  0.647127  0.352873
8    The princess pacified the prince because  0.390334  0.609666
9               Sarah pacified Robert because  0.535621  0.464379
10  Mrs. Williams pacified Mr. Taylor because  0.468692  0.531308
11                Emily pacified Paul because  0.464900  0.535100

In [267]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_13f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_13f,'he'))

P('subj-pron'|subj=female) =  0.5216672991712888
P('non-subj-pron'|subj=female) =  0.478332694619894

In [268]:
c1_average_subj_female_subj_pron['pacified'] = compute_average(IC2_connective1_13f,'she')
c1_average_subj_female_obj_pron['pacified'] = compute_average(IC2_connective1_13f,'he')

#### male subject

In [269]:
IC2_connective1_13m

                                     stimulus        he       she
12      Mr. Smith pacified Miss Smith because  0.441829  0.558171
13         The man pacified the woman because  0.455712  0.544288
14                 John pacified Mary because  0.475734  0.524266
15                 Bob pacified Alice because  0.303603  0.696397
16     The actor pacified the actress because  0.254314  0.745686
17          The boy pacified the girl because  0.479469  0.520531
18   Mr. William pacified Mrs. Taylor because  0.368136  0.631864
19                David pacified Emma because  0.392081  0.607919
20   The prince pacified the princess because  0.448404  0.551596
21              Robert pacified Sarah because  0.314386  0.685614
22  Mr. Taylor pacified Mrs. Williams because  0.144162  0.855838
23                Paul pacified Emily because  0.419439  0.580561

In [270]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_13m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_13m,'she'))

P('subj-pron'|subj=male) =  0.37477243940035504
P('non-subj-pron'|subj=male) =  0.6252275804678599

In [271]:
c1_average_subj_male_subj_pron['pacified'] = compute_average(IC2_connective1_13m,'he')
c1_average_subj_male_obj_pron['pacified'] = compute_average(IC2_connective1_13m,'she')

### verb: "praised"

In [272]:
IC2_connective1_14 = pd.read_csv("../results/transfoxl/IC2/connective1/14.csv")
IC2_connective1_14.head()

                                stimulus        he       she
0   Miss Smith praised Mr. Smith because  0.339505  0.660495
1      The woman praised the man because  0.421238  0.578762
2              Mary praised John because  0.400628  0.599373
3              Alice praised Bob because  0.360108  0.639892
4  The actress praised the actor because  0.344398  0.655602

In [273]:
# female subject
IC2_connective1_14f = IC2_connective1_14[0:12]
IC2_connective1_14f = IC2_connective1_14f[["stimulus","she","he"]]
# male subject
IC2_connective1_14m = IC2_connective1_14[12:24]

#### female subject

In [274]:
IC2_connective1_14f

                                    stimulus       she        he
0       Miss Smith praised Mr. Smith because  0.660495  0.339505
1          The woman praised the man because  0.578762  0.421238
2                  Mary praised John because  0.599373  0.400628
3                  Alice praised Bob because  0.639892  0.360108
4      The actress praised the actor because  0.655602  0.344398
5           The girl praised the boy because  0.559581  0.440419
6   Mrs. Taylor praised Mr. Williams because  0.380956  0.619045
7                 Emma praised David because  0.717660  0.282340
8    The princess praised the prince because  0.309476  0.690524
9               Sarah praised Robert because  0.629294  0.370706
10  Mrs. Williams praised Mr. Taylor because  0.373449  0.626551
11                Emily praised Paul because  0.522855  0.477145

In [275]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_14f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_14f,'he'))

P('subj-pron'|subj=female) =  0.5522826562325159
P('non-subj-pron'|subj=female) =  0.4477173487345378

In [276]:
c1_average_subj_female_subj_pron['praised'] = compute_average(IC2_connective1_14f,'she')
c1_average_subj_female_obj_pron['praised'] = compute_average(IC2_connective1_14f,'he')

#### male subject

In [277]:
IC2_connective1_14m

                                    stimulus        he       she
12      Mr. Smith praised Miss Smith because  0.192117  0.807883
13         The man praised the woman because  0.401345  0.598655
14                 John praised Mary because  0.363118  0.636882
15                 Bob praised Alice because  0.224666  0.775334
16     The actor praised the actress because  0.174648  0.825352
17          The boy praised the girl because  0.346905  0.653095
18   Mr. William praised Mrs. Taylor because  0.243144  0.756856
19                David praised Emma because  0.272731  0.727269
20   The prince praised the princess because  0.299412  0.700588
21              Robert praised Sarah because  0.312346  0.687654
22  Mr. Taylor praised Mrs. Williams because  0.102066  0.897934
23                Paul praised Emily because  0.366674  0.633326

In [278]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_14m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_14m,'she'))

P('subj-pron'|subj=male) =  0.27493092355628806
P('non-subj-pron'|subj=male) =  0.7250690857569376

In [279]:
c1_average_subj_male_subj_pron['praised'] = compute_average(IC2_connective1_14m,'he')
c1_average_subj_male_obj_pron['praised'] = compute_average(IC2_connective1_14m,'she')

### verb: "reproached"

In [280]:
IC2_connective1_15 = pd.read_csv("../results/transfoxl/IC2/connective1/15.csv")
IC2_connective1_15.head()

                                   stimulus        he       she
0   Miss Smith reproached Mr. Smith because  0.358003  0.641997
1      The woman reproached the man because  0.622461  0.377539
2              Mary reproached John because  0.485965  0.514035
3              Alice reproached Bob because  0.523447  0.476553
4  The actress reproached the actor because  0.592407  0.407593

In [281]:
# female subject
IC2_connective1_15f = IC2_connective1_15[0:12]
IC2_connective1_15f = IC2_connective1_15f[["stimulus","she","he"]]
# male subject
IC2_connective1_15m = IC2_connective1_15[12:24]

#### female subject

In [282]:
IC2_connective1_15f

                                       stimulus       she        he
0       Miss Smith reproached Mr. Smith because  0.641997  0.358003
1          The woman reproached the man because  0.377539  0.622461
2                  Mary reproached John because  0.514035  0.485965
3                  Alice reproached Bob because  0.476553  0.523447
4      The actress reproached the actor because  0.407593  0.592407
5           The girl reproached the boy because  0.438083  0.561917
6   Mrs. Taylor reproached Mr. Williams because  0.416558  0.583442
7                 Emma reproached David because  0.632881  0.367119
8    The princess reproached the prince because  0.356997  0.643003
9               Sarah reproached Robert because  0.622939  0.377061
10  Mrs. Williams reproached Mr. Taylor because  0.423562  0.576438
11                Emily reproached Paul because  0.627396  0.372604

In [283]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_15f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_15f,'he'))

P('subj-pron'|subj=female) =  0.49467776467402774
P('non-subj-pron'|subj=female) =  0.5053222328424454

In [284]:
c1_average_subj_female_subj_pron['reproached'] = compute_average(IC2_connective1_15f,'she')
c1_average_subj_female_obj_pron['reproached'] = compute_average(IC2_connective1_15f,'he')

#### male subject

In [285]:
IC2_connective1_15m

                                       stimulus        he       she
12      Mr. Smith reproached Miss Smith because  0.138713  0.861287
13         The man reproached the woman because  0.482217  0.517783
14                 John reproached Mary because  0.271672  0.728328
15                 Bob reproached Alice because  0.149459  0.850541
16     The actor reproached the actress because  0.275760  0.724240
17          The boy reproached the girl because  0.442747  0.557253
18   Mr. William reproached Mrs. Taylor because  0.253087  0.746913
19                David reproached Emma because  0.348175  0.651825
20   The prince reproached the princess because  0.379916  0.620084
21              Robert reproached Sarah because  0.188575  0.811425
22  Mr. Taylor reproached Mrs. Williams because  0.100848  0.899152
23                Paul reproached Emily because  0.270340  0.729660

In [286]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_15m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_15m,'she'))

P('subj-pron'|subj=male) =  0.2751256823539734
P('non-subj-pron'|subj=male) =  0.7248743126789728

In [287]:
c1_average_subj_male_subj_pron['reproached'] = compute_average(IC2_connective1_15m,'he')
c1_average_subj_male_obj_pron['reproached'] = compute_average(IC2_connective1_15m,'she')

### verb: "scolded"

In [288]:
IC2_connective1_16 = pd.read_csv("../results/transfoxl/IC2/connective1/16.csv")
IC2_connective1_16.head()

                                stimulus        he       she
0   Miss Smith scolded Mr. Smith because  0.317041  0.682959
1      The woman scolded the man because  0.615259  0.384741
2              Mary scolded John because  0.454617  0.545383
3              Alice scolded Bob because  0.483940  0.516060
4  The actress scolded the actor because  0.557593  0.442407

In [289]:
# female subject
IC2_connective1_16f = IC2_connective1_16[0:12]
IC2_connective1_16f = IC2_connective1_16f[["stimulus","she","he"]]
# male subject
IC2_connective1_16m = IC2_connective1_16[12:24]

#### female subject

In [290]:
IC2_connective1_16f

                                    stimulus       she        he
0       Miss Smith scolded Mr. Smith because  0.682959  0.317041
1          The woman scolded the man because  0.384741  0.615259
2                  Mary scolded John because  0.545383  0.454617
3                  Alice scolded Bob because  0.516060  0.483940
4      The actress scolded the actor because  0.442407  0.557593
5           The girl scolded the boy because  0.464199  0.535801
6   Mrs. Taylor scolded Mr. Williams because  0.434604  0.565396
7                 Emma scolded David because  0.664212  0.335788
8    The princess scolded the prince because  0.385733  0.614267
9               Sarah scolded Robert because  0.645389  0.354611
10  Mrs. Williams scolded Mr. Taylor because  0.443586  0.556414
11                Emily scolded Paul because  0.661082  0.338918

In [291]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_16f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_16f,'he'))

P('subj-pron'|subj=female) =  0.5225296840071678
P('non-subj-pron'|subj=female) =  0.4774703284104665

In [292]:
c1_average_subj_female_subj_pron['scolded'] = compute_average(IC2_connective1_16f,'she')
c1_average_subj_female_obj_pron['scolded'] = compute_average(IC2_connective1_16f,'he')

#### male subject

In [293]:
IC2_connective1_16m

                                    stimulus        he       she
12      Mr. Smith scolded Miss Smith because  0.141450  0.858550
13         The man scolded the woman because  0.523467  0.476533
14                 John scolded Mary because  0.303579  0.696421
15                 Bob scolded Alice because  0.161596  0.838404
16     The actor scolded the actress because  0.315136  0.684864
17          The boy scolded the girl because  0.472378  0.527622
18   Mr. William scolded Mrs. Taylor because  0.270696  0.729304
19                David scolded Emma because  0.355876  0.644124
20   The prince scolded the princess because  0.431688  0.568312
21              Robert scolded Sarah because  0.236100  0.763900
22  Mr. Taylor scolded Mrs. Williams because  0.105723  0.894277
23                Paul scolded Emily because  0.280385  0.719615

In [294]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_16m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_16m,'she'))

P('subj-pron'|subj=male) =  0.2998393401503563
P('non-subj-pron'|subj=male) =  0.7001606623331705

In [295]:
c1_average_subj_male_subj_pron['scolded'] = compute_average(IC2_connective1_16m,'he')
c1_average_subj_male_obj_pron['scolded'] = compute_average(IC2_connective1_16m,'she')

### verb: "stared"

In [296]:
IC2_connective1_17 = pd.read_csv("../results/transfoxl/IC2/connective1/17.csv")
IC2_connective1_17.head()

                                  stimulus        he       she
0   Miss Smith stared at Mr. Smith because  0.177941  0.822059
1      The woman stared at the man because  0.554717  0.445283
2              Mary stared at John because  0.497959  0.502041
3              Alice stared at Bob because  0.470719  0.529280
4  The actress stared at the actor because  0.496132  0.503868

In [297]:
# female subject
IC2_connective1_17f = IC2_connective1_17[0:12]
IC2_connective1_17f = IC2_connective1_17f[["stimulus","she","he"]]
# male subject
IC2_connective1_17m = IC2_connective1_17[12:24]

#### female subject

In [298]:
IC2_connective1_17f

                                      stimulus       she        he
0       Miss Smith stared at Mr. Smith because  0.822059  0.177941
1          The woman stared at the man because  0.445283  0.554717
2                  Mary stared at John because  0.502041  0.497959
3                  Alice stared at Bob because  0.529280  0.470719
4      The actress stared at the actor because  0.503868  0.496132
5           The girl stared at the boy because  0.552943  0.447057
6   Mrs. Taylor stared at Mr. Williams because  0.580724  0.419276
7                 Emma stared at David because  0.573876  0.426124
8    The princess stared at the prince because  0.407910  0.592089
9               Sarah stared at Robert because  0.588915  0.411085
10  Mrs. Williams stared at Mr. Taylor because  0.553298  0.446702
11                Emily stared at Paul because  0.480884  0.519116

In [299]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_17f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_17f,'he'))

P('subj-pron'|subj=female) =  0.5450901364286741
P('non-subj-pron'|subj=female) =  0.4549098573625088

In [300]:
c1_average_subj_female_subj_pron['stared'] = compute_average(IC2_connective1_17f,'she')
c1_average_subj_female_obj_pron['stared'] = compute_average(IC2_connective1_17f,'he')

#### male subject

In [301]:
IC2_connective1_17m

                                      stimulus        he       she
12      Mr. Smith stared at Miss Smith because  0.421405  0.578595
13         The man stared at the woman because  0.563438  0.436561
14                 John stared at Mary because  0.461178  0.538822
15                 Bob stared at Alice because  0.159080  0.840920
16     The actor stared at the actress because  0.273557  0.726443
17          The boy stared at the girl because  0.581291  0.418709
18   Mr. William stared at Mrs. Taylor because  0.392199  0.607801
19                David stared at Emma because  0.310537  0.689463
20   The prince stared at the princess because  0.494129  0.505871
21              Robert stared at Sarah because  0.168730  0.831270
22  Mr. Taylor stared at Mrs. Williams because  0.234141  0.765859
23                Paul stared at Emily because  0.276814  0.723186

In [302]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_17m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_17m,'she'))

P('subj-pron'|subj=male) =  0.3613748711844285
P('non-subj-pron'|subj=male) =  0.6386251101891199

In [303]:
c1_average_subj_male_subj_pron['stared'] = compute_average(IC2_connective1_17m,'he')
c1_average_subj_male_obj_pron['stared'] = compute_average(IC2_connective1_17m,'she')

### verb: "thanked"

In [304]:
IC2_connective1_18 = pd.read_csv("../results/transfoxl/IC2/connective1/18.csv")
IC2_connective1_18.head()

                                stimulus        he       she
0   Miss Smith thanked Mr. Smith because  0.280923  0.719077
1      The woman thanked the man because  0.544472  0.455528
2              Mary thanked John because  0.377112  0.622887
3              Alice thanked Bob because  0.428918  0.571082
4  The actress thanked the actor because  0.486891  0.513109

In [305]:
# female subject
IC2_connective1_18f = IC2_connective1_18[0:12]
IC2_connective1_18f = IC2_connective1_18f[["stimulus","she","he"]]
# male subject
IC2_connective1_18m = IC2_connective1_18[12:24]

#### female subject

In [306]:
IC2_connective1_18f

                                    stimulus       she        he
0       Miss Smith thanked Mr. Smith because  0.719077  0.280923
1          The woman thanked the man because  0.455528  0.544472
2                  Mary thanked John because  0.622887  0.377112
3                  Alice thanked Bob because  0.571082  0.428918
4      The actress thanked the actor because  0.513109  0.486891
5           The girl thanked the boy because  0.481613  0.518387
6   Mrs. Taylor thanked Mr. Williams because  0.527139  0.472861
7                 Emma thanked David because  0.763479  0.236521
8    The princess thanked the prince because  0.359255  0.640745
9               Sarah thanked Robert because  0.698932  0.301068
10  Mrs. Williams thanked Mr. Taylor because  0.484802  0.515198
11                Emily thanked Paul because  0.707397  0.292603

In [307]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_18f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_18f,'he'))

P('subj-pron'|subj=female) =  0.5753583461046219
P('non-subj-pron'|subj=female) =  0.4246416538953781

In [308]:
c1_average_subj_female_subj_pron['thanked'] = compute_average(IC2_connective1_18f,'she')
c1_average_subj_female_obj_pron['thanked'] = compute_average(IC2_connective1_18f,'he')

#### male subject

In [309]:
IC2_connective1_18m

                                    stimulus        he       she
12      Mr. Smith thanked Miss Smith because  0.354038  0.645962
13         The man thanked the woman because  0.372171  0.627829
14                 John thanked Mary because  0.389783  0.610217
15                 Bob thanked Alice because  0.223935  0.776065
16     The actor thanked the actress because  0.262469  0.737531
17          The boy thanked the girl because  0.439421  0.560579
18   Mr. William thanked Mrs. Taylor because  0.350430  0.649570
19                David thanked Emma because  0.342177  0.657823
20   The prince thanked the princess because  0.371834  0.628166
21              Robert thanked Sarah because  0.170593  0.829407
22  Mr. Taylor thanked Mrs. Williams because  0.164964  0.835036
23                Paul thanked Emily because  0.293417  0.706583

In [310]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_18m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_18m,'she'))

P('subj-pron'|subj=male) =  0.31126944720745087
P('non-subj-pron'|subj=male) =  0.6887305527925491

In [311]:
c1_average_subj_male_subj_pron['thanked'] = compute_average(IC2_connective1_18m,'he')
c1_average_subj_male_obj_pron['thanked'] = compute_average(IC2_connective1_18m,'she')

### verb: "trusts"

In [312]:
IC2_connective1_19 = pd.read_csv("../results/transfoxl/IC2/connective1/19.csv")
IC2_connective1_19.head()

                               stimulus        he       she
0   Miss Smith trusts Mr. Smith because  0.333960  0.666040
1      The woman trusts the man because  0.405211  0.594789
2              Mary trusts John because  0.438778  0.561222
3              Alice trusts Bob because  0.476314  0.523686
4  The actress trusts the actor because  0.358076  0.641924

In [313]:
# female subject
IC2_connective1_19f = IC2_connective1_19[0:12]
IC2_connective1_19f = IC2_connective1_19f[["stimulus","she","he"]]
# male subject
IC2_connective1_19m = IC2_connective1_19[12:24]

#### female subject

In [314]:
IC2_connective1_19f

                                   stimulus       she        he
0       Miss Smith trusts Mr. Smith because  0.666040  0.333960
1          The woman trusts the man because  0.594789  0.405211
2                  Mary trusts John because  0.561222  0.438778
3                  Alice trusts Bob because  0.523686  0.476314
4      The actress trusts the actor because  0.641924  0.358076
5           The girl trusts the boy because  0.596041  0.403959
6   Mrs. Taylor trusts Mr. Williams because  0.445259  0.554741
7                 Emma trusts David because  0.799999  0.200001
8    The princess trusts the prince because  0.424971  0.575029
9               Sarah trusts Robert because  0.648623  0.351377
10  Mrs. Williams trusts Mr. Taylor because  0.428859  0.571141
11                Emily trusts Paul because  0.622257  0.377743

In [315]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_19f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_19f,'he'))

P('subj-pron'|subj=female) =  0.5794724101821581
P('non-subj-pron'|subj=female) =  0.4205275761584441

In [316]:
c1_average_subj_female_subj_pron['trusts'] = compute_average(IC2_connective1_19f,'she')
c1_average_subj_female_obj_pron['trusts'] = compute_average(IC2_connective1_19f,'he')

#### male subject

In [317]:
IC2_connective1_19m

                                   stimulus        he       she
12      Mr. Smith trusts Miss Smith because  0.357613  0.642387
13         The man trusts the woman because  0.626228  0.373772
14                 John trusts Mary because  0.434486  0.565514
15                 Bob trusts Alice because  0.288552  0.711448
16     The actor trusts the actress because  0.631183  0.368817
17          The boy trusts the girl because  0.679498  0.320502
18   Mr. William trusts Mrs. Taylor because  0.435793  0.564207
19                David trusts Emma because  0.442503  0.557497
20   The prince trusts the princess because  0.640418  0.359582
21              Robert trusts Sarah because  0.332307  0.667693
22  Mr. Taylor trusts Mrs. Williams because  0.194285  0.805715
23                Paul trusts Emily because  0.482423  0.517577

In [318]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_19m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_19m,'she'))

P('subj-pron'|subj=male) =  0.4621074323852857
P('non-subj-pron'|subj=male) =  0.5378925849994024

In [319]:
c1_average_subj_male_subj_pron['trusts'] = compute_average(IC2_connective1_19m,'he')
c1_average_subj_male_obj_pron['trusts'] = compute_average(IC2_connective1_19m,'she')

### verb: "values"

In [320]:
IC2_connective1_20 = pd.read_csv("../results/transfoxl/IC2/connective1/20.csv")
IC2_connective1_20.head()

                               stimulus        he       she
0   Miss Smith values Mr. Smith because  0.278233  0.721767
1      The woman values the man because  0.448057  0.551943
2              Mary values John because  0.307811  0.692189
3              Alice values Bob because  0.211269  0.788731
4  The actress values the actor because  0.338239  0.661762

In [321]:
# female subject
IC2_connective1_20f = IC2_connective1_20[0:12]
IC2_connective1_20f = IC2_connective1_20f[["stimulus","she","he"]]
# male subject
IC2_connective1_20m = IC2_connective1_20[12:24]

#### female subject

In [322]:
IC2_connective1_20f

                                   stimulus       she        he
0       Miss Smith values Mr. Smith because  0.721767  0.278233
1          The woman values the man because  0.551943  0.448057
2                  Mary values John because  0.692189  0.307811
3                  Alice values Bob because  0.788731  0.211269
4      The actress values the actor because  0.661762  0.338239
5           The girl values the boy because  0.694113  0.305887
6   Mrs. Taylor values Mr. Williams because  0.380517  0.619483
7                 Emma values David because  0.762454  0.237546
8    The princess values the prince because  0.352189  0.647811
9               Sarah values Robert because  0.743071  0.256929
10  Mrs. Williams values Mr. Taylor because  0.376113  0.623887
11                Emily values Paul because  0.645327  0.354673

In [323]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_20f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_20f,'he'))

P('subj-pron'|subj=female) =  0.6141812428832054
P('non-subj-pron'|subj=female) =  0.38581875960032147

In [324]:
c1_average_subj_female_subj_pron['values'] = compute_average(IC2_connective1_20f,'she')
c1_average_subj_female_obj_pron['values'] = compute_average(IC2_connective1_20f,'he')

#### male subject

In [325]:
IC2_connective1_20m

                                   stimulus        he       she
12      Mr. Smith values Miss Smith because  0.314476  0.685524
13         The man values the woman because  0.502744  0.497256
14                 John values Mary because  0.341730  0.658270
15                 Bob values Alice because  0.230944  0.769056
16     The actor values the actress because  0.287313  0.712687
17          The boy values the girl because  0.628847  0.371153
18   Mr. William values Mrs. Taylor because  0.423106  0.576894
19                David values Emma because  0.238747  0.761253
20   The prince values the princess because  0.368236  0.631764
21              Robert values Sarah because  0.414519  0.585482
22  Mr. Taylor values Mrs. Williams because  0.173851  0.826149
23                Paul values Emily because  0.286665  0.713335

In [326]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_20m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_20m,'she'))

P('subj-pron'|subj=male) =  0.35093142464756966
P('non-subj-pron'|subj=male) =  0.6490685741106669

In [327]:
c1_average_subj_male_subj_pron['values'] = compute_average(IC2_connective1_20m,'he')
c1_average_subj_male_obj_pron['values'] = compute_average(IC2_connective1_20m,'she')

## Summary of Results

In [328]:
c1_results_fsubj_subjpron = pd.DataFrame(list(c1_average_subj_female_subj_pron.items()),columns=['verb','subj_ref_female_subj'])
c1_results_fsubj_objpron = pd.DataFrame(list(c1_average_subj_female_obj_pron.items()),columns=['verb','obj_ref_female_subj'])
c1_results_fsubj = c1_results_fsubj_subjpron.merge(c1_results_fsubj_objpron)
c1_results_fsubj

             verb  subj_ref_female_subj  obj_ref_female_subj
0        assisted              0.725487             0.274513
1          blames              0.589430             0.410570
2       comforted              0.472932             0.527068
3   congratulated              0.512881             0.487119
4       corrected              0.653092             0.346908
5         detests              0.626345             0.373655
6           fears              0.623350             0.376650
7          envies              0.560652             0.439348
8           hates              0.507967             0.492033
9          helped              0.710001             0.289999
10         mocked              0.534920             0.465080
11        noticed              0.554434             0.445566
12       pacified              0.521667             0.478333
13        praised              0.552283             0.447717
14     reproached              0.494678             0.505322
15        scolded              0.522530             0.477470
16         stared              0.545090             0.454910
17        thanked              0.575358             0.424642
18         trusts              0.579472             0.420528
19         values              0.614181             0.385819

In [329]:
c1_results_msubj_subjpron = pd.DataFrame(list(c1_average_subj_male_subj_pron.items()),columns=['verb','subj_ref_male_subj'])
c1_results_msubj_objpron = pd.DataFrame(list(c1_average_subj_male_obj_pron.items()),columns=['verb','obj_ref_male_subj'])
c1_results_msubj = c1_results_msubj_subjpron.merge(c1_results_msubj_objpron)
c1_results_msubj

             verb  subj_ref_male_subj  obj_ref_male_subj
0        assisted            0.275858           0.724142
1          blames            0.306597           0.693403
2       comforted            0.342134           0.657866
3   congratulated            0.290395           0.709605
4       corrected            0.400021           0.599979
5         detests            0.304568           0.695432
6           fears            0.398607           0.601393
7          envies            0.382154           0.617846
8           hates            0.284609           0.715391
9          helped            0.282970           0.717030
10         mocked            0.402222           0.597778
11        noticed            0.312806           0.687194
12       pacified            0.374772           0.625228
13        praised            0.274931           0.725069
14     reproached            0.275126           0.724874
15        scolded            0.299839           0.700161
16         stared            0.361375           0.638625
17        thanked            0.311269           0.688731
18         trusts            0.462107           0.537893
19         values            0.350931           0.649069

In [330]:
c1_results = c1_results_fsubj.merge(c1_results_msubj)
c1_results

,verb,subj_ref_female_subj,obj_ref_female_subj,subj_ref_male_subj,obj_ref_male_subj
0,assisted,0.725487,0.274513,0.275858,0.724142
1,blames,0.589430,0.410570,0.306597,0.693403
2,comforted,0.472932,0.527068,0.342134,0.657866
3,congratulated,0.512881,0.487119,0.290395,0.709605
4,corrected,0.653092,0.346908,0.400021,0.599979
5,detests,0.626345,0.373655,0.304568,0.695432
6,fears,0.623350,0.376650,0.398607,0.601393
7,envies,0.560652,0.439348,0.382154,0.617846
8,hates,0.507967,0.492033,0.284609,0.715391
9,helped,0.710001,0.289999,0.282970,0.717030
10,mocked,0.534920,0.465080,0.402222,0.597778
11,noticed,0.554434,0.445566,0.312806,0.687194
12,pacified,0.521667,0.478333,0.374772,0.625228
13,praised,0.552283,0.447717,0.274931,0.725069
14,reproached,0.494678,0.505322,0.275126,0.724874
15,scolded,0.522530,0.477470,0.299839,0.700161
16,stared,0.545090,0.454910,0.361375,0.638625
17,thanked,0.575358,0.424642,0.311269,0.688731
18,trusts,0.579472,0.420528,0.462107,0.537893
19,values,0.614181,0.385819,0.350931,0.649069

In [331]:
print("P(subj_reference |subj=female)", compute_average(c1_results,'subj_ref_female_subj'))
print("P(obj_reference |subj=female)", compute_average(c1_results,'obj_ref_female_subj'))

P(subj_reference |subj=female) 0.5738375180711348
P(obj_reference |subj=female) 0.42616248251870265

In [332]:
print("P(subj_reference |subj=male)", compute_average(c1_results,'subj_ref_male_subj'))
print("P(obj_reference |subj=male)", compute_average(c1_results,'obj_ref_male_subj'))

P(subj_reference |subj=male) 0.3346645629654328
P(obj_reference |subj=male) 0.6653354403873284

## Connective: "and, as a result"

In [333]:
c2_average_subj_female_subj_pron = {}
c2_average_subj_female_obj_pron = {}
c2_average_subj_male_subj_pron = {}
c2_average_subj_male_obj_pron = {}

### verb: "assisted"

In [334]:
IC2_connective2_1 = pd.read_csv("../results/transfoxl/IC2/connective2/1.csv")
IC2_connective2_1.head()

                                           stimulus        he       she
0   Miss Smith assisted Mr. Smith and, as a result,  0.307560  0.692440
1      The woman assisted the man and, as a result,  0.696214  0.303786
2              Mary assisted John and, as a result,  0.375126  0.624875
3              Alice assisted Bob and, as a result,  0.626091  0.373909
4  The actress assisted the actor and, as a result,  0.774313  0.225687

In [335]:
# female subject
IC2_connective2_1f = IC2_connective2_1[0:12]
IC2_connective2_1f = IC2_connective2_1f[["stimulus","she","he"]]
# male subject
IC2_connective2_1m = IC2_connective2_1[12:24]

#### female subject

In [336]:
IC2_connective2_1f

                                             stimulus       she        he
0     Miss Smith assisted Mr. Smith and, as a result,  0.692440  0.307560
1        The woman assisted the man and, as a result,  0.303786  0.696214
2                Mary assisted John and, as a result,  0.624875  0.375126
3                Alice assisted Bob and, as a result,  0.373909  0.626091
4    The actress assisted the actor and, as a result,  0.225687  0.774313
5         The girl assisted the boy and, as a result,  0.216423  0.783576
6   Mrs. Taylor assisted Mr. Williams and, as a re...  0.476545  0.523455
7               Emma assisted David and, as a result,  0.659464  0.340536
8   The princess assisted the prince and, as a res...  0.386390  0.613610
9             Sarah assisted Robert and, as a result,  0.414806  0.585194
10  Mrs. Williams assisted Mr. Taylor and, as a re...  0.487848  0.512152
11              Emily assisted Paul and, as a result,  0.634302  0.365698

In [337]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_1f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_1f,'he'))

P('subj-pron'|subj=female) =  0.4580395631492138
P('non-subj-pron'|subj=female) =  0.5419604455431303

In [338]:
c2_average_subj_female_subj_pron['assisted'] = compute_average(IC2_connective2_1f,'she')
c2_average_subj_female_obj_pron['assisted'] = compute_average(IC2_connective2_1f,'he')

#### male subject

In [339]:
IC2_connective2_1m

                                             stimulus        he       she
12    Mr. Smith assisted Miss Smith and, as a result,  0.270095  0.729905
13       The man assisted the woman and, as a result,  0.418425  0.581575
14               John assisted Mary and, as a result,  0.223294  0.776707
15               Bob assisted Alice and, as a result,  0.283377  0.716623
16   The actor assisted the actress and, as a result,  0.523913  0.476087
17        The boy assisted the girl and, as a result,  0.433063  0.566937
18  Mr. William assisted Mrs. Taylor and, as a res...  0.372970  0.627030
19              David assisted Emma and, as a result,  0.254327  0.745673
20  The prince assisted the princess and, as a res...  0.280332  0.719667
21            Robert assisted Sarah and, as a result,  0.432577  0.567423
22  Mr. Taylor assisted Mrs. Williams and, as a re...  0.267472  0.732528
23              Paul assisted Emily and, as a result,  0.259674  0.740326

In [340]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_1m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_1m,'she'))

P('subj-pron'|subj=male) =  0.3349600285291672
P('non-subj-pron'|subj=male) =  0.6650399739543597

In [341]:
c2_average_subj_male_subj_pron['assisted'] = compute_average(IC2_connective2_1m,'he')
c2_average_subj_male_obj_pron['assisted'] = compute_average(IC2_connective2_1m,'she')

### verb: "blames"

In [342]:
IC2_connective2_2 = pd.read_csv("../results/transfoxl/IC2/connective2/2.csv")
IC2_connective2_2.head()

                                         stimulus        he       she
0   Miss Smith blames Mr. Smith and, as a result,  0.173095  0.826905
1      The woman blames the man and, as a result,  0.532761  0.467239
2              Mary blames John and, as a result,  0.229316  0.770684
3              Alice blames Bob and, as a result,  0.395610  0.604390
4  The actress blames the actor and, as a result,  0.807390  0.192610

In [343]:
# female subject
IC2_connective2_2f = IC2_connective2_2[0:12]
IC2_connective2_2f = IC2_connective2_2f[["stimulus","she","he"]]
# male subject
IC2_connective2_2m = IC2_connective2_2[12:24]

#### female subject

In [344]:
IC2_connective2_2f

                                             stimulus       she        he
0       Miss Smith blames Mr. Smith and, as a result,  0.826905  0.173095
1          The woman blames the man and, as a result,  0.467239  0.532761
2                  Mary blames John and, as a result,  0.770684  0.229316
3                  Alice blames Bob and, as a result,  0.604390  0.395610
4      The actress blames the actor and, as a result,  0.192610  0.807390
5           The girl blames the boy and, as a result,  0.482016  0.517984
6   Mrs. Taylor blames Mr. Williams and, as a result,  0.510740  0.489260
7                 Emma blames David and, as a result,  0.654492  0.345508
8    The princess blames the prince and, as a result,  0.501915  0.498086
9               Sarah blames Robert and, as a result,  0.632538  0.367462
10  Mrs. Williams blames Mr. Taylor and, as a result,  0.562775  0.437225
11                Emily blames Paul and, as a result,  0.666661  0.333339

In [345]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_2f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_2f,'he'))

P('subj-pron'|subj=female) =  0.5727471125622591
P('non-subj-pron'|subj=female) =  0.4272528688112895

In [346]:
c2_average_subj_female_subj_pron['blames'] = compute_average(IC2_connective2_2f,'she')
c2_average_subj_female_obj_pron['blames'] = compute_average(IC2_connective2_2f,'he')

#### male subject

In [347]:
IC2_connective2_2m

                                             stimulus        he       she
12      Mr. Smith blames Miss Smith and, as a result,  0.478788  0.521212
13         The man blames the woman and, as a result,  0.826448  0.173552
14                 John blames Mary and, as a result,  0.535172  0.464828
15                 Bob blames Alice and, as a result,  0.483139  0.516861
16     The actor blames the actress and, as a result,  0.920841  0.079159
17          The boy blames the girl and, as a result,  0.867616  0.132383
18   Mr. William blames Mrs. Taylor and, as a result,  0.542141  0.457859
19                David blames Emma and, as a result,  0.455647  0.544353
20   The prince blames the princess and, as a result,  0.631178  0.368822
21              Robert blames Sarah and, as a result,  0.378460  0.621540
22  Mr. Taylor blames Mrs. Williams and, as a result,  0.436595  0.563405
23                Paul blames Emily and, as a result,  0.435443  0.564557

In [348]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_2m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_2m,'she'))

P('subj-pron'|subj=male) =  0.5826224461197853
P('non-subj-pron'|subj=male) =  0.4173775694022576

In [349]:
c2_average_subj_male_subj_pron['blames'] = compute_average(IC2_connective2_2m,'he')
c2_average_subj_male_obj_pron['blames'] = compute_average(IC2_connective2_2m,'she')

### verb: "comforted"

In [350]:
IC2_connective2_3 = pd.read_csv("../results/transfoxl/IC2/connective2/3.csv")
IC2_connective2_3.head()

                                            stimulus        he       she
0   Miss Smith comforted Mr. Smith and, as a result,  0.411545  0.588455
1      The woman comforted the man and, as a result,  0.664711  0.335289
2              Mary comforted John and, as a result,  0.553063  0.446937
3              Alice comforted Bob and, as a result,  0.845377  0.154623
4  The actress comforted the actor and, as a result,  0.877330  0.122670

In [351]:
# female subject
IC2_connective2_3f = IC2_connective2_3[0:12]
IC2_connective2_3f = IC2_connective2_3f[["stimulus","she","he"]]
# male subject
IC2_connective2_3m = IC2_connective2_3[12:24]

#### female subject

In [352]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_3f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_3f,'he'))

P('subj-pron'|subj=female) =  0.3903010276456674
P('non-subj-pron'|subj=female) =  0.6096989760796229

In [353]:
c2_average_subj_female_subj_pron['comforted'] = compute_average(IC2_connective2_3f,'she')
c2_average_subj_female_obj_pron['comforted'] = compute_average(IC2_connective2_3f,'he')

#### male subject

In [354]:
IC2_connective2_3m

                                             stimulus        he       she
12   Mr. Smith comforted Miss Smith and, as a result,  0.153492  0.846508
13      The man comforted the woman and, as a result,  0.417162  0.582838
14              John comforted Mary and, as a result,  0.233849  0.766151
15              Bob comforted Alice and, as a result,  0.237698  0.762302
16  The actor comforted the actress and, as a result,  0.354252  0.645748
17       The boy comforted the girl and, as a result,  0.424107  0.575893
18  Mr. William comforted Mrs. Taylor and, as a re...  0.357127  0.642873
19             David comforted Emma and, as a result,  0.124770  0.875230
20  The prince comforted the princess and, as a re...  0.267505  0.732495
21           Robert comforted Sarah and, as a result,  0.180294  0.819706
22  Mr. Taylor comforted Mrs. Williams and, as a r...  0.308915  0.691085
23             Paul comforted Emily and, as a result,  0.178606  0.821394

In [355]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_3m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_3m,'she'))

P('subj-pron'|subj=male) =  0.2698146378000577
P('non-subj-pron'|subj=male) =  0.7301853597164154

In [356]:
c2_average_subj_male_subj_pron['comforted'] = compute_average(IC2_connective2_3m,'he')
c2_average_subj_male_obj_pron['comforted'] = compute_average(IC2_connective2_3m,'she')

### verb: "congratulated"

In [357]:
IC2_connective2_4 = pd.read_csv("../results/transfoxl/IC2/connective2/4.csv")
IC2_connective2_4.head()

                                            stimulus        he       she
0  Miss Smith congratulated Mr. Smith and, as a r...  0.427860  0.572140
1  The woman congratulated the man and, as a result,  0.824306  0.175694
2          Mary congratulated John and, as a result,  0.571428  0.428572
3          Alice congratulated Bob and, as a result,  0.877372  0.122628
4  The actress congratulated the actor and, as a ...  0.914217  0.085783

In [358]:
# female subject
IC2_connective2_4f = IC2_connective2_4[0:12]
IC2_connective2_4f = IC2_connective2_4f[["stimulus","she","he"]]
# male subject
IC2_connective2_4m = IC2_connective2_4[12:24]

#### female subject

In [359]:
IC2_connective2_4f

                                             stimulus       she        he
0   Miss Smith congratulated Mr. Smith and, as a r...  0.572140  0.427860
1   The woman congratulated the man and, as a result,  0.175694  0.824306
2           Mary congratulated John and, as a result,  0.428572  0.571428
3           Alice congratulated Bob and, as a result,  0.122628  0.877372
4   The actress congratulated the actor and, as a ...  0.085783  0.914217
5    The girl congratulated the boy and, as a result,  0.167534  0.832466
6   Mrs. Taylor congratulated Mr. Williams and, as...  0.356697  0.643303
7          Emma congratulated David and, as a result,  0.475742  0.524258
8   The princess congratulated the prince and, as ...  0.178614  0.821386
9        Sarah congratulated Robert and, as a result,  0.215693  0.784307
10  Mrs. Williams congratulated Mr. Taylor and, as...  0.429818  0.570183
11         Emily congratulated Paul and, as a result,  0.437371  0.562629

In [360]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_4f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_4f,'he'))

P('subj-pron'|subj=female) =  0.3038571992268165
P('non-subj-pron'|subj=female) =  0.696142795185248

In [361]:
c2_average_subj_female_subj_pron['congratulated'] = compute_average(IC2_connective2_4f,'she')
c2_average_subj_female_obj_pron['congratulated'] = compute_average(IC2_connective2_4f,'he')

#### male subject

In [362]:
IC2_connective2_4m

                                             stimulus        he       she
12  Mr. Smith congratulated Miss Smith and, as a r...  0.258906  0.741094
13  The man congratulated the woman and, as a result,  0.410751  0.589249
14          John congratulated Mary and, as a result,  0.211563  0.788437
15          Bob congratulated Alice and, as a result,  0.297896  0.702104
16  The actor congratulated the actress and, as a ...  0.285849  0.714151
17   The boy congratulated the girl and, as a result,  0.456283  0.543717
18  Mr. William congratulated Mrs. Taylor and, as ...  0.273261  0.726739
19         David congratulated Emma and, as a result,  0.170067  0.829933
20  The prince congratulated the princess and, as ...  0.263457  0.736543
21       Robert congratulated Sarah and, as a result,  0.194585  0.805415
22  Mr. Taylor congratulated Mrs. Williams and, as...  0.288606  0.711394
23         Paul congratulated Emily and, as a result,  0.218638  0.781362

In [363]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_4m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_4m,'she'))

P('subj-pron'|subj=male) =  0.2774883694946766
P('non-subj-pron'|subj=male) =  0.7225116342306137

In [364]:
c2_average_subj_male_subj_pron['congratulated'] = compute_average(IC2_connective2_4m,'he')
c2_average_subj_male_obj_pron['congratulated'] = compute_average(IC2_connective2_4m,'she')

### verb: "corrected"

In [365]:
IC2_connective2_5 = pd.read_csv("../results/transfoxl/IC2/connective2/5.csv")
IC2_connective2_5.head()

                                            stimulus        he       she
0   Miss Smith corrected Mr. Smith and, as a result,  0.531049  0.468951
1      The woman corrected the man and, as a result,  0.568104  0.431896
2              Mary corrected John and, as a result,  0.470856  0.529144
3              Alice corrected Bob and, as a result,  0.739485  0.260515
4  The actress corrected the actor and, as a result,  0.810374  0.189626

In [366]:
# female subject
IC2_connective2_5f = IC2_connective2_5[0:12]
IC2_connective2_5f = IC2_connective2_5[["stimulus","she","he"]]
# male subject
IC2_connective2_5m = IC2_connective2_5[12:24]

#### female subject

In [367]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_5f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_5f,'he'))

P('subj-pron'|subj=female) =  0.37790667948623496
P('non-subj-pron'|subj=female) =  0.6220933248599371

In [368]:
c2_average_subj_female_subj_pron['corrected'] = compute_average(IC2_connective2_5f,'she')
c2_average_subj_female_obj_pron['corrected'] = compute_average(IC2_connective2_5f,'he')

#### male subject

In [369]:
IC2_connective2_5m

                                             stimulus        he       she
12   Mr. Smith corrected Miss Smith and, as a result,  0.664326  0.335674
13      The man corrected the woman and, as a result,  0.580007  0.419993
14              John corrected Mary and, as a result,  0.692524  0.307476
15              Bob corrected Alice and, as a result,  0.792735  0.207265
16  The actor corrected the actress and, as a result,  0.672311  0.327689
17       The boy corrected the girl and, as a result,  0.726028  0.273972
18  Mr. William corrected Mrs. Taylor and, as a re...  0.661921  0.338079
19             David corrected Emma and, as a result,  0.616520  0.383480
20  The prince corrected the princess and, as a re...  0.428050  0.571950
21           Robert corrected Sarah and, as a result,  0.721825  0.278175
22  Mr. Taylor corrected Mrs. Williams and, as a r...  0.617565  0.382435
23             Paul corrected Emily and, as a result,  0.645702  0.354298

In [370]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_5m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_5m,'she'))

P('subj-pron'|subj=male) =  0.6516261075933775
P('non-subj-pron'|subj=male) =  0.3483738961319129

In [371]:
c2_average_subj_male_subj_pron['corrected'] = compute_average(IC2_connective2_5m,'he')
c2_average_subj_male_obj_pron['corrected'] = compute_average(IC2_connective2_5m,'she')

### verb: "detests"

In [372]:
IC2_connective2_6 = pd.read_csv("../results/transfoxl/IC2/connective2/6.csv")
IC2_connective2_6.head()

                                          stimulus        he       she
0   Miss Smith detests Mr. Smith and, as a result,  0.082125  0.917875
1      The woman detests the man and, as a result,  0.383732  0.616268
2              Mary detests John and, as a result,  0.137706  0.862294
3              Alice detests Bob and, as a result,  0.235516  0.764484
4  The actress detests the actor and, as a result,  0.649190  0.350810

In [373]:
# female subject
IC2_connective2_6f = IC2_connective2_6[0:12]
IC2_connective2_6f = IC2_connective2_6[["stimulus","she","he"]]
# male subject
IC2_connective2_6m = IC2_connective2_6[12:24]

#### female subject

In [374]:
IC2_connective2_6f

                                             stimulus       she        he
0      Miss Smith detests Mr. Smith and, as a result,  0.917875  0.082125
1         The woman detests the man and, as a result,  0.616268  0.383732
2                 Mary detests John and, as a result,  0.862294  0.137706
3                 Alice detests Bob and, as a result,  0.764484  0.235516
4     The actress detests the actor and, as a result,  0.350810  0.649190
5          The girl detests the boy and, as a result,  0.646444  0.353556
6   Mrs. Taylor detests Mr. Williams and, as a res...  0.634279  0.365721
7                Emma detests David and, as a result,  0.810906  0.189094
8   The princess detests the prince and, as a result,  0.752241  0.247759
9              Sarah detests Robert and, as a result,  0.702088  0.297912
10  Mrs. Williams detests Mr. Taylor and, as a res...  0.616791  0.383209
11               Emily detests Paul and, as a result,  0.875191  0.124809
12     Mr. Smith detests Miss Smith and, as a result,  0.424669  0.575331
13        The man detests the woman and, as a result,  0.064376  0.935624
14                John detests Mary and, as a result,  0.189764  0.810236
15                Bob detests Alice and, as a result,  0.196820  0.803180
16    The actor detests the actress and, as a result,  0.030320  0.969680
17         The boy detests the girl and, as a result,  0.039354  0.960646
18  Mr. William detests Mrs. Taylor and, as a result,  0.336917  0.663083
19               David detests Emma and, as a result,  0.425808  0.574192
20  The prince detests the princess and, as a result,  0.126353  0.873647
21             Robert detests Sarah and, as a result,  0.275261  0.724739
22  Mr. Taylor detests Mrs. Williams and, as a res...  0.537827  0.462173
23               Paul detests Emily and, as a result,  0.304551  0.695449

In [375]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_6f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_6f,'he'))

P('subj-pron'|subj=female) =  0.4792371365862588
P('non-subj-pron'|subj=female) =  0.5207628610854348

In [376]:
c2_average_subj_female_subj_pron['detests'] = compute_average(IC2_connective2_6f,'she')
c2_average_subj_female_obj_pron['detests'] = compute_average(IC2_connective2_6f,'he')

#### male subject

In [377]:
IC2_connective2_6m

                                             stimulus        he       she
12     Mr. Smith detests Miss Smith and, as a result,  0.575331  0.424669
13        The man detests the woman and, as a result,  0.935624  0.064376
14                John detests Mary and, as a result,  0.810236  0.189764
15                Bob detests Alice and, as a result,  0.803180  0.196820
16    The actor detests the actress and, as a result,  0.969680  0.030320
17         The boy detests the girl and, as a result,  0.960646  0.039354
18  Mr. William detests Mrs. Taylor and, as a result,  0.663083  0.336917
19               David detests Emma and, as a result,  0.574192  0.425808
20  The prince detests the princess and, as a result,  0.873647  0.126353
21             Robert detests Sarah and, as a result,  0.724739  0.275261
22  Mr. Taylor detests Mrs. Williams and, as a res...  0.462173  0.537827
23               Paul detests Emily and, as a result,  0.695449  0.304551

In [378]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_6m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_6m,'she'))

P('subj-pron'|subj=male) =  0.7539984037478765
P('non-subj-pron'|subj=male) =  0.24600159594168267

In [379]:
c2_average_subj_male_subj_pron['detests'] = compute_average(IC2_connective2_6m,'he')
c2_average_subj_male_obj_pron['detests'] = compute_average(IC2_connective2_6m,'she')

### verb: "fears"

In [380]:
IC2_connective2_7 = pd.read_csv("../results/transfoxl/IC2/connective2/7.csv")
IC2_connective2_7.head()

                                        stimulus        he       she
0   Miss Smith fears Mr. Smith and, as a result,  0.156949  0.843051
1      The woman fears the man and, as a result,  0.366095  0.633905
2              Mary fears John and, as a result,  0.209142  0.790858
3              Alice fears Bob and, as a result,  0.361478  0.638522
4  The actress fears the actor and, as a result,  0.744617  0.255383

In [381]:
# female subject
IC2_connective2_7f = IC2_connective2_7[0:12]
IC2_connective2_7f = IC2_connective2_7f[["stimulus","she","he"]]
# male subject
IC2_connective2_7m = IC2_connective2_7[12:24]

#### female subject

In [382]:
IC2_connective2_7f

                                            stimulus       she        he
0       Miss Smith fears Mr. Smith and, as a result,  0.843051  0.156949
1          The woman fears the man and, as a result,  0.633905  0.366095
2                  Mary fears John and, as a result,  0.790858  0.209142
3                  Alice fears Bob and, as a result,  0.638522  0.361478
4      The actress fears the actor and, as a result,  0.255383  0.744617
5           The girl fears the boy and, as a result,  0.623508  0.376492
6   Mrs. Taylor fears Mr. Williams and, as a result,  0.625283  0.374717
7                 Emma fears David and, as a result,  0.745775  0.254225
8    The princess fears the prince and, as a result,  0.729629  0.270371
9               Sarah fears Robert and, as a result,  0.676474  0.323526
10  Mrs. Williams fears Mr. Taylor and, as a result,  0.653204  0.346796
11                Emily fears Paul and, as a result,  0.630825  0.369175

In [383]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_7f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_7f,'he'))

P('subj-pron'|subj=female) =  0.6538682182629904
P('non-subj-pron'|subj=female) =  0.3461317755281925

In [384]:
c2_average_subj_female_subj_pron['fears'] = compute_average(IC2_connective2_7f,'she')
c2_average_subj_female_obj_pron['fears'] = compute_average(IC2_connective2_7f,'he')

#### male subject

In [385]:
IC2_connective2_7m

                                            stimulus        he       she
12      Mr. Smith fears Miss Smith and, as a result,  0.778338  0.221663
13         The man fears the woman and, as a result,  0.958130  0.041870
14                 John fears Mary and, as a result,  0.790822  0.209178
15                 Bob fears Alice and, as a result,  0.728390  0.271610
16     The actor fears the actress and, as a result,  0.972620  0.027380
17          The boy fears the girl and, as a result,  0.970219  0.029781
18   Mr. William fears Mrs. Taylor and, as a result,  0.697822  0.302178
19                David fears Emma and, as a result,  0.779404  0.220596
20   The prince fears the princess and, as a result,  0.940915  0.059085
21              Robert fears Sarah and, as a result,  0.835298  0.164702
22  Mr. Taylor fears Mrs. Williams and, as a result,  0.476035  0.523965
23                Paul fears Emily and, as a result,  0.784776  0.215224

In [386]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_7m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_7m,'she'))

P('subj-pron'|subj=male) =  0.8093974068760872
P('non-subj-pron'|subj=male) =  0.19060260616242886

In [387]:
c2_average_subj_male_subj_pron['fears'] = compute_average(IC2_connective2_7m,'he')
c2_average_subj_male_obj_pron['fears'] = compute_average(IC2_connective2_7m,'she')

#### verb: "envies"

In [388]:
IC2_connective2_8 = pd.read_csv("../results/transfoxl/IC2/connective2/8.csv")
IC2_connective2_8.head()

                                         stimulus        he       she
0   Miss Smith envies Mr. Smith and, as a result,  0.084935  0.915065
1      The woman envies the man and, as a result,  0.330758  0.669242
2              Mary envies John and, as a result,  0.114672  0.885328
3              Alice envies Bob and, as a result,  0.279613  0.720387
4  The actress envies the actor and, as a result,  0.734248  0.265752

In [389]:
# female subject
IC2_connective2_8f = IC2_connective2_8[0:12]
IC2_connective2_8f = IC2_connective2_8f[["stimulus","she","he"]]
# male subject
IC2_connective2_8m = IC2_connective2_8[12:24]

#### female subject

In [390]:
IC2_connective2_8f

                                             stimulus       she        he
0       Miss Smith envies Mr. Smith and, as a result,  0.915065  0.084935
1          The woman envies the man and, as a result,  0.669242  0.330758
2                  Mary envies John and, as a result,  0.885328  0.114672
3                  Alice envies Bob and, as a result,  0.720387  0.279613
4      The actress envies the actor and, as a result,  0.265752  0.734248
5           The girl envies the boy and, as a result,  0.671063  0.328937
6   Mrs. Taylor envies Mr. Williams and, as a result,  0.565865  0.434135
7                 Emma envies David and, as a result,  0.797268  0.202732
8    The princess envies the prince and, as a result,  0.764296  0.235704
9               Sarah envies Robert and, as a result,  0.633345  0.366655
10  Mrs. Williams envies Mr. Taylor and, as a result,  0.561333  0.438667
11                Emily envies Paul and, as a result,  0.868982  0.131017

In [391]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_8f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_8f,'he'))

P('subj-pron'|subj=female) =  0.6931605264544487
P('non-subj-pron'|subj=female) =  0.3068394809961319

In [392]:
c2_average_subj_female_subj_pron['envies'] = compute_average(IC2_connective2_8f,'she')
c2_average_subj_female_obj_pron['envies'] = compute_average(IC2_connective2_8f,'he')

#### male subject

In [393]:
IC2_connective2_8m

                                             stimulus        he       she
12      Mr. Smith envies Miss Smith and, as a result,  0.505787  0.494213
13         The man envies the woman and, as a result,  0.920974  0.079026
14                 John envies Mary and, as a result,  0.675917  0.324083
15                 Bob envies Alice and, as a result,  0.699473  0.300527
16     The actor envies the actress and, as a result,  0.966588  0.033412
17          The boy envies the girl and, as a result,  0.950881  0.049119
18   Mr. William envies Mrs. Taylor and, as a result,  0.649948  0.350052
19                David envies Emma and, as a result,  0.482217  0.517783
20   The prince envies the princess and, as a result,  0.815487  0.184513
21              Robert envies Sarah and, as a result,  0.653874  0.346126
22  Mr. Taylor envies Mrs. Williams and, as a result,  0.454575  0.545425
23                Paul envies Emily and, as a result,  0.619708  0.380292

In [394]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_8m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_8m,'she'))

P('subj-pron'|subj=male) =  0.6996191516518593
P('non-subj-pron'|subj=male) =  0.30038084493329126

In [395]:
c2_average_subj_male_subj_pron['envies'] = compute_average(IC2_connective2_8m,'he')
c2_average_subj_male_obj_pron['envies'] = compute_average(IC2_connective2_8m,'she')

### verb: "hates"

In [396]:
IC2_connective2_9 = pd.read_csv("../results/transfoxl/IC2/connective2/9.csv")
IC2_connective2_9.head()

                                        stimulus        he       she
0   Miss Smith hates Mr. Smith and, as a result,  0.117294  0.882706
1      The woman hates the man and, as a result,  0.473545  0.526455
2              Mary hates John and, as a result,  0.226825  0.773175
3              Alice hates Bob and, as a result,  0.435377  0.564623
4  The actress hates the actor and, as a result,  0.744754  0.255246

In [397]:
# female subject
IC2_connective2_9f = IC2_connective2_9[0:12]
IC2_connective2_9f = IC2_connective2_9f[["stimulus","she","he"]]
# male subject
IC2_connective2_9m = IC2_connective2_9[12:24]

#### female subject

In [398]:
IC2_connective2_9f

                                            stimulus       she        he
0       Miss Smith hates Mr. Smith and, as a result,  0.882706  0.117294
1          The woman hates the man and, as a result,  0.526455  0.473545
2                  Mary hates John and, as a result,  0.773175  0.226825
3                  Alice hates Bob and, as a result,  0.564623  0.435377
4      The actress hates the actor and, as a result,  0.255246  0.744754
5           The girl hates the boy and, as a result,  0.571679  0.428321
6   Mrs. Taylor hates Mr. Williams and, as a result,  0.593921  0.406079
7                 Emma hates David and, as a result,  0.672245  0.327755
8    The princess hates the prince and, as a result,  0.722526  0.277474
9               Sarah hates Robert and, as a result,  0.485563  0.514437
10  Mrs. Williams hates Mr. Taylor and, as a result,  0.590523  0.409477
11                Emily hates Paul and, as a result,  0.734825  0.265175

In [399]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_9f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_9f,'he'))

P('subj-pron'|subj=female) =  0.6144573166966438
P('non-subj-pron'|subj=female) =  0.38554269820451736

In [400]:
c2_average_subj_female_subj_pron['hates'] = compute_average(IC2_connective2_9f,'she')
c2_average_subj_female_obj_pron['hates'] = compute_average(IC2_connective2_9f,'he')

#### male subject

In [401]:
IC2_connective2_9m

                                            stimulus        he       she
12      Mr. Smith hates Miss Smith and, as a result,  0.511707  0.488293
13         The man hates the woman and, as a result,  0.929518  0.070482
14                 John hates Mary and, as a result,  0.812451  0.187549
15                 Bob hates Alice and, as a result,  0.675412  0.324588
16     The actor hates the actress and, as a result,  0.966276  0.033724
17          The boy hates the girl and, as a result,  0.959379  0.040621
18   Mr. William hates Mrs. Taylor and, as a result,  0.617142  0.382858
19                David hates Emma and, as a result,  0.475865  0.524135
20   The prince hates the princess and, as a result,  0.846041  0.153959
21              Robert hates Sarah and, as a result,  0.692387  0.307613
22  Mr. Taylor hates Mrs. Williams and, as a result,  0.448333  0.551667
23                Paul hates Emily and, as a result,  0.567409  0.432591

In [402]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_9m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_9m,'she'))

P('subj-pron'|subj=male) =  0.7084933097163836
P('non-subj-pron'|subj=male) =  0.2915066843852401

In [403]:
c2_average_subj_male_subj_pron['hates'] = compute_average(IC2_connective2_9m,'he')
c2_average_subj_male_obj_pron['hates'] = compute_average(IC2_connective2_9m,'she')

### verb: "helped"

In [404]:
IC2_connective2_10 = pd.read_csv("../results/transfoxl/IC2/connective2/10.csv")
IC2_connective2_10.head()

                                         stimulus        he       she
0   Miss Smith helped Mr. Smith and, as a result,  0.318325  0.681675
1      The woman helped the man and, as a result,  0.872769  0.127231
2              Mary helped John and, as a result,  0.414798  0.585202
3              Alice helped Bob and, as a result,  0.632424  0.367576
4  The actress helped the actor and, as a result,  0.796116  0.203884

In [405]:
# female subject
IC2_connective2_10f = IC2_connective2_10[0:12]
IC2_connective2_10f = IC2_connective2_10f[["stimulus","she","he"]]
# male subject
IC2_connective2_10m = IC2_connective2_10[12:24]

#### female subject

In [406]:
IC2_connective2_10f

                                             stimulus       she        he
0       Miss Smith helped Mr. Smith and, as a result,  0.681675  0.318325
1          The woman helped the man and, as a result,  0.127231  0.872769
2                  Mary helped John and, as a result,  0.585202  0.414798
3                  Alice helped Bob and, as a result,  0.367576  0.632424
4      The actress helped the actor and, as a result,  0.203884  0.796116
5           The girl helped the boy and, as a result,  0.129803  0.870197
6   Mrs. Taylor helped Mr. Williams and, as a result,  0.479674  0.520326
7                 Emma helped David and, as a result,  0.689049  0.310951
8    The princess helped the prince and, as a result,  0.322073  0.677927
9               Sarah helped Robert and, as a result,  0.379572  0.620428
10  Mrs. Williams helped Mr. Taylor and, as a result,  0.498698  0.501302
11                Emily helped Paul and, as a result,  0.635654  0.364346

In [407]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_10f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_10f,'he'))

P('subj-pron'|subj=female) =  0.4250076214472453
P('non-subj-pron'|subj=female) =  0.5749923810362816

In [408]:
c2_average_subj_female_subj_pron['helped'] = compute_average(IC2_connective2_10f,'she')
c2_average_subj_female_obj_pron['helped'] = compute_average(IC2_connective2_10f,'he')

#### male subject

In [409]:
IC2_connective2_10m

                                             stimulus        he       she
12      Mr. Smith helped Miss Smith and, as a result,  0.305964  0.694036
13         The man helped the woman and, as a result,  0.560362  0.439638
14                 John helped Mary and, as a result,  0.239062  0.760938
15                 Bob helped Alice and, as a result,  0.177061  0.822939
16     The actor helped the actress and, as a result,  0.485603  0.514397
17          The boy helped the girl and, as a result,  0.443918  0.556082
18   Mr. William helped Mrs. Taylor and, as a result,  0.342535  0.657465
19                David helped Emma and, as a result,  0.200332  0.799668
20   The prince helped the princess and, as a result,  0.352920  0.647080
21              Robert helped Sarah and, as a result,  0.343493  0.656507
22  Mr. Taylor helped Mrs. Williams and, as a result,  0.236458  0.763542
23                Paul helped Emily and, as a result,  0.184223  0.815777

In [410]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_10m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_10m,'she'))

P('subj-pron'|subj=male) =  0.3226608820259571
P('non-subj-pron'|subj=male) =  0.6773391341169676

In [411]:
c2_average_subj_male_subj_pron['helped'] = compute_average(IC2_connective2_10m,'he')
c2_average_subj_male_obj_pron['helped'] = compute_average(IC2_connective2_10m,'she')

### verb: "mocked"

In [412]:
IC2_connective2_11 = pd.read_csv("../results/transfoxl/IC2/connective2/11.csv")
IC2_connective2_11.head()

                                         stimulus        he       she
0   Miss Smith mocked Mr. Smith and, as a result,  0.255977  0.744023
1      The woman mocked the man and, as a result,  0.709031  0.290969
2              Mary mocked John and, as a result,  0.357540  0.642460
3              Alice mocked Bob and, as a result,  0.612059  0.387941
4  The actress mocked the actor and, as a result,  0.775109  0.224891

In [413]:
# female subject
IC2_connective2_11f = IC2_connective2_11[0:12]
IC2_connective2_11f = IC2_connective2_11f[["stimulus","she","he"]]
# male subject
IC2_connective2_11m = IC2_connective2_11[12:24]

#### female subject

In [414]:
IC2_connective2_11f

                                             stimulus       she        he
0       Miss Smith mocked Mr. Smith and, as a result,  0.744023  0.255977
1          The woman mocked the man and, as a result,  0.290969  0.709031
2                  Mary mocked John and, as a result,  0.642460  0.357540
3                  Alice mocked Bob and, as a result,  0.387941  0.612059
4      The actress mocked the actor and, as a result,  0.224891  0.775109
5           The girl mocked the boy and, as a result,  0.287585  0.712415
6   Mrs. Taylor mocked Mr. Williams and, as a result,  0.486593  0.513407
7                 Emma mocked David and, as a result,  0.574071  0.425929
8    The princess mocked the prince and, as a result,  0.515180  0.484820
9               Sarah mocked Robert and, as a result,  0.428110  0.571890
10  Mrs. Williams mocked Mr. Taylor and, as a result,  0.537173  0.462827
11                Emily mocked Paul and, as a result,  0.680907  0.319093

In [415]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_11f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_11f,'he'))

P('subj-pron'|subj=female) =  0.4833253026008606
P('non-subj-pron'|subj=female) =  0.5166746775309244

In [416]:
c2_average_subj_female_subj_pron['mocked'] = compute_average(IC2_connective2_11f,'she')
c2_average_subj_female_obj_pron['mocked'] = compute_average(IC2_connective2_11f,'he')

#### male subject

In [417]:
IC2_connective2_11m

                                             stimulus        he       she
12      Mr. Smith mocked Miss Smith and, as a result,  0.333999  0.666001
13         The man mocked the woman and, as a result,  0.890262  0.109738
14                 John mocked Mary and, as a result,  0.593562  0.406438
15                 Bob mocked Alice and, as a result,  0.684627  0.315373
16     The actor mocked the actress and, as a result,  0.879551  0.120449
17          The boy mocked the girl and, as a result,  0.902738  0.097262
18   Mr. William mocked Mrs. Taylor and, as a result,  0.381898  0.618102
19                David mocked Emma and, as a result,  0.360965  0.639035
20   The prince mocked the princess and, as a result,  0.631928  0.368072
21              Robert mocked Sarah and, as a result,  0.592737  0.407263
22  Mr. Taylor mocked Mrs. Williams and, as a result,  0.381163  0.618837
23                Paul mocked Emily and, as a result,  0.384417  0.615583

In [418]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_11m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_11m,'she'))

P('subj-pron'|subj=male) =  0.5848205288251241
P('non-subj-pron'|subj=male) =  0.41517948048810166

In [419]:
c2_average_subj_male_subj_pron['mocked'] = compute_average(IC2_connective2_11m,'he')
c2_average_subj_male_obj_pron['mocked'] = compute_average(IC2_connective2_11m,'she')

### verb: "noticed"

In [420]:
IC2_connective2_12 = pd.read_csv("../results/transfoxl/IC2/connective2/12.csv")
IC2_connective2_12.head()

                                          stimulus        he       she
0   Miss Smith noticed Mr. Smith and, as a result,  0.124493  0.875507
1      The woman noticed the man and, as a result,  0.195412  0.804588
2              Mary noticed John and, as a result,  0.198890  0.801110
3              Alice noticed Bob and, as a result,  0.417297  0.582703
4  The actress noticed the actor and, as a result,  0.581370  0.418630

In [421]:
# female subject
IC2_connective2_12f = IC2_connective2_12[0:12]
IC2_connective2_12f = IC2_connective2_12f[["stimulus","she","he"]]
# male subject
IC2_connective2_12m = IC2_connective2_12[12:24]

#### female subject

In [422]:
IC2_connective2_12f

                                             stimulus       she        he
0      Miss Smith noticed Mr. Smith and, as a result,  0.875507  0.124493
1         The woman noticed the man and, as a result,  0.804588  0.195412
2                 Mary noticed John and, as a result,  0.801110  0.198890
3                 Alice noticed Bob and, as a result,  0.582703  0.417297
4     The actress noticed the actor and, as a result,  0.418630  0.581370
5          The girl noticed the boy and, as a result,  0.709385  0.290615
6   Mrs. Taylor noticed Mr. Williams and, as a res...  0.650807  0.349193
7                Emma noticed David and, as a result,  0.669949  0.330051
8   The princess noticed the prince and, as a result,  0.778084  0.221916
9              Sarah noticed Robert and, as a result,  0.444613  0.555387
10  Mrs. Williams noticed Mr. Taylor and, as a res...  0.685787  0.314213
11               Emily noticed Paul and, as a result,  0.757293  0.242707

In [423]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_12f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_12f,'he'))

P('subj-pron'|subj=female) =  0.6815380081534386
P('non-subj-pron'|subj=female) =  0.3184620024015506

In [424]:
c2_average_subj_female_subj_pron['noticed'] = compute_average(IC2_connective2_12f,'she')
c2_average_subj_female_obj_pron['noticed'] = compute_average(IC2_connective2_12f,'he')

#### male subject

In [425]:
IC2_connective2_12m

                                             stimulus        he       she
12     Mr. Smith noticed Miss Smith and, as a result,  0.560288  0.439712
13        The man noticed the woman and, as a result,  0.886800  0.113200
14                John noticed Mary and, as a result,  0.773156  0.226844
15                Bob noticed Alice and, as a result,  0.603429  0.396571
16    The actor noticed the actress and, as a result,  0.936224  0.063776
17         The boy noticed the girl and, as a result,  0.941296  0.058704
18  Mr. William noticed Mrs. Taylor and, as a result,  0.404217  0.595783
19               David noticed Emma and, as a result,  0.575424  0.424576
20  The prince noticed the princess and, as a result,  0.869222  0.130778
21             Robert noticed Sarah and, as a result,  0.739384  0.260616
22  Mr. Taylor noticed Mrs. Williams and, as a res...  0.319491  0.680509
23               Paul noticed Emily and, as a result,  0.584342  0.415658

In [426]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_12m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_12m,'she'))

P('subj-pron'|subj=male) =  0.6827726314465205
P('non-subj-pron'|subj=male) =  0.31722736700127524

In [427]:
c2_average_subj_male_subj_pron['noticed'] = compute_average(IC2_connective2_12m,'he')
c2_average_subj_male_obj_pron['noticed'] = compute_average(IC2_connective2_12m,'she')

### verb: "pacified"

In [428]:
IC2_connective2_13 = pd.read_csv("../results/transfoxl/IC2/connective2/13.csv")
IC2_connective2_13.head()

                                           stimulus        he       she
0   Miss Smith pacified Mr. Smith and, as a result,  0.344299  0.655701
1      The woman pacified the man and, as a result,  0.735546  0.264454
2              Mary pacified John and, as a result,  0.594195  0.405805
3              Alice pacified Bob and, as a result,  0.742947  0.257053
4  The actress pacified the actor and, as a result,  0.774069  0.225931

In [429]:
# female subject
IC2_connective2_13f = IC2_connective2_13[0:12]
IC2_connective2_13f = IC2_connective2_13f[["stimulus","she","he"]]
# male subject
IC2_connective2_13m = IC2_connective2_13[12:24]

#### female subject

In [430]:
IC2_connective2_13f

                                             stimulus       she        he
0     Miss Smith pacified Mr. Smith and, as a result,  0.655701  0.344299
1        The woman pacified the man and, as a result,  0.264454  0.735546
2                Mary pacified John and, as a result,  0.405805  0.594195
3                Alice pacified Bob and, as a result,  0.257053  0.742947
4    The actress pacified the actor and, as a result,  0.225931  0.774069
5         The girl pacified the boy and, as a result,  0.188073  0.811927
6   Mrs. Taylor pacified Mr. Williams and, as a re...  0.443666  0.556334
7               Emma pacified David and, as a result,  0.570056  0.429944
8   The princess pacified the prince and, as a res...  0.312226  0.687774
9             Sarah pacified Robert and, as a result,  0.225711  0.774289
10  Mrs. Williams pacified Mr. Taylor and, as a re...  0.461673  0.538327
11              Emily pacified Paul and, as a result,  0.559312  0.440688

In [431]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_13f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_13f,'he'))

P('subj-pron'|subj=female) =  0.38080519437789917
P('non-subj-pron'|subj=female) =  0.6191948180397352

In [432]:
c2_average_subj_female_subj_pron['pacified'] = compute_average(IC2_connective2_13f,'she')
c2_average_subj_female_obj_pron['pacified'] = compute_average(IC2_connective2_13f,'he')

#### male subject

In [433]:
IC2_connective2_13m

                                             stimulus        he       she
12    Mr. Smith pacified Miss Smith and, as a result,  0.244906  0.755094
13       The man pacified the woman and, as a result,  0.515609  0.484391
14               John pacified Mary and, as a result,  0.386191  0.613809
15               Bob pacified Alice and, as a result,  0.398415  0.601585
16   The actor pacified the actress and, as a result,  0.568524  0.431476
17        The boy pacified the girl and, as a result,  0.464304  0.535695
18  Mr. William pacified Mrs. Taylor and, as a res...  0.467822  0.532178
19              David pacified Emma and, as a result,  0.286531  0.713469
20  The prince pacified the princess and, as a res...  0.314786  0.685214
21            Robert pacified Sarah and, as a result,  0.472906  0.527094
22  Mr. Taylor pacified Mrs. Williams and, as a re...  0.339714  0.660286
23              Paul pacified Emily and, as a result,  0.299028  0.700972

In [434]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_13m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_13m,'she'))

P('subj-pron'|subj=male) =  0.3965613767504692
P('non-subj-pron'|subj=male) =  0.603438618282477

In [435]:
c2_average_subj_male_subj_pron['pacified'] = compute_average(IC2_connective2_13m,'he')
c2_average_subj_male_obj_pron['pacified'] = compute_average(IC2_connective2_13m,'she')

### verb: "praised"

In [436]:
IC2_connective2_14 = pd.read_csv("../results/transfoxl/IC2/connective2/14.csv")
IC2_connective2_14.head()

                                          stimulus        he       she
0   Miss Smith praised Mr. Smith and, as a result,  0.326404  0.673596
1      The woman praised the man and, as a result,  0.662229  0.337771
2              Mary praised John and, as a result,  0.523545  0.476455
3              Alice praised Bob and, as a result,  0.759076  0.240924
4  The actress praised the actor and, as a result,  0.763210  0.236790

In [437]:
# female subject
IC2_connective2_14f = IC2_connective2_14[0:12]
IC2_connective2_14f = IC2_connective2_14f[["stimulus","she","he"]]
# male subject
IC2_connective2_14m = IC2_connective2_14[12:24]

#### female subject

In [438]:
IC2_connective2_14f

                                             stimulus       she        he
0      Miss Smith praised Mr. Smith and, as a result,  0.673596  0.326404
1         The woman praised the man and, as a result,  0.337771  0.662229
2                 Mary praised John and, as a result,  0.476455  0.523545
3                 Alice praised Bob and, as a result,  0.240924  0.759076
4     The actress praised the actor and, as a result,  0.236790  0.763210
5          The girl praised the boy and, as a result,  0.332442  0.667558
6   Mrs. Taylor praised Mr. Williams and, as a res...  0.413510  0.586490
7                Emma praised David and, as a result,  0.611387  0.388613
8   The princess praised the prince and, as a result,  0.285102  0.714898
9              Sarah praised Robert and, as a result,  0.338006  0.661994
10  Mrs. Williams praised Mr. Taylor and, as a res...  0.438046  0.561954
11               Emily praised Paul and, as a result,  0.454268  0.545732

In [439]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_14f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_14f,'he'))

P('subj-pron'|subj=female) =  0.40319133674105007
P('non-subj-pron'|subj=female) =  0.5968086570501328

In [440]:
c2_average_subj_female_subj_pron['praised'] = compute_average(IC2_connective2_14f,'she')
c2_average_subj_female_obj_pron['praised'] = compute_average(IC2_connective2_14f,'he')

#### male subject

In [441]:
IC2_connective2_14m

                                             stimulus        he       she
12     Mr. Smith praised Miss Smith and, as a result,  0.331165  0.668835
13        The man praised the woman and, as a result,  0.758829  0.241171
14                John praised Mary and, as a result,  0.362482  0.637518
15                Bob praised Alice and, as a result,  0.594769  0.405231
16    The actor praised the actress and, as a result,  0.652835  0.347165
17         The boy praised the girl and, as a result,  0.821214  0.178786
18  Mr. William praised Mrs. Taylor and, as a result,  0.271875  0.728125
19               David praised Emma and, as a result,  0.176689  0.823311
20  The prince praised the princess and, as a result,  0.489277  0.510723
21             Robert praised Sarah and, as a result,  0.341534  0.658466
22  Mr. Taylor praised Mrs. Williams and, as a res...  0.314425  0.685575
23               Paul praised Emily and, as a result,  0.311597  0.688403

In [442]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_14m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_14m,'she'))

P('subj-pron'|subj=male) =  0.45222433656454086
P('non-subj-pron'|subj=male) =  0.5477756609519323

In [443]:
c2_average_subj_male_subj_pron['praised'] = compute_average(IC2_connective2_14m,'he')
c2_average_subj_male_obj_pron['praised'] = compute_average(IC2_connective2_14m,'she')

### verb: "reproached"

In [444]:
IC2_connective2_15 = pd.read_csv("../results/transfoxl/IC2/connective2/15.csv")
IC2_connective2_15.head()

                                            stimulus        he       she
0  Miss Smith reproached Mr. Smith and, as a result,  0.348098  0.651902
1     The woman reproached the man and, as a result,  0.878085  0.121915
2             Mary reproached John and, as a result,  0.449014  0.550986
3             Alice reproached Bob and, as a result,  0.648696  0.351304
4  The actress reproached the actor and, as a res...  0.930101  0.069899

In [445]:
# female subject
IC2_connective2_15f = IC2_connective2_15[0:12]
IC2_connective2_15f = IC2_connective2_15f[["stimulus","she","he"]]
# male subject
IC2_connective2_15m = IC2_connective2_15[12:24]

#### female subject

In [446]:
IC2_connective2_15f

                                             stimulus       she        he
0   Miss Smith reproached Mr. Smith and, as a result,  0.651902  0.348098
1      The woman reproached the man and, as a result,  0.121915  0.878085
2              Mary reproached John and, as a result,  0.550986  0.449014
3              Alice reproached Bob and, as a result,  0.351304  0.648696
4   The actress reproached the actor and, as a res...  0.069899  0.930101
5       The girl reproached the boy and, as a result,  0.132913  0.867087
6   Mrs. Taylor reproached Mr. Williams and, as a ...  0.394591  0.605409
7             Emma reproached David and, as a result,  0.534216  0.465784
8   The princess reproached the prince and, as a r...  0.190436  0.809564
9           Sarah reproached Robert and, as a result,  0.441062  0.558938
10  Mrs. Williams reproached Mr. Taylor and, as a ...  0.439092  0.560908
11            Emily reproached Paul and, as a result,  0.610334  0.389666

In [447]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_15f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_15f,'he'))

P('subj-pron'|subj=female) =  0.3740541779746612
P('non-subj-pron'|subj=female) =  0.6259458015362421

In [448]:
c2_average_subj_female_subj_pron['reproached'] = compute_average(IC2_connective2_15f,'she')
c2_average_subj_female_obj_pron['reproached'] = compute_average(IC2_connective2_15f,'he')

#### male subject

In [449]:
IC2_connective2_15m

                                             stimulus        he       she
12  Mr. Smith reproached Miss Smith and, as a result,  0.163934  0.836066
13     The man reproached the woman and, as a result,  0.499418  0.500582
14             John reproached Mary and, as a result,  0.251808  0.748192
15             Bob reproached Alice and, as a result,  0.253851  0.746149
16  The actor reproached the actress and, as a res...  0.412198  0.587802
17      The boy reproached the girl and, as a result,  0.451588  0.548412
18  Mr. William reproached Mrs. Taylor and, as a r...  0.300038  0.699962
19            David reproached Emma and, as a result,  0.218767  0.781233
20  The prince reproached the princess and, as a r...  0.286943  0.713057
21          Robert reproached Sarah and, as a result,  0.197482  0.802518
22  Mr. Taylor reproached Mrs. Williams and, as a ...  0.242439  0.757561
23            Paul reproached Emily and, as a result,  0.188852  0.811148

In [450]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_15m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_15m,'she'))

P('subj-pron'|subj=male) =  0.28894316777586937
P('non-subj-pron'|subj=male) =  0.7110568384329478

In [451]:
c2_average_subj_male_subj_pron['reproached'] = compute_average(IC2_connective2_15m,'he')
c2_average_subj_male_obj_pron['reproached'] = compute_average(IC2_connective2_15m,'she')

### verb: "scolded"

In [452]:
IC2_connective2_16 = pd.read_csv("../results/transfoxl/IC2/connective2/16.csv")
IC2_connective2_16.head()

                                          stimulus        he       she
0   Miss Smith scolded Mr. Smith and, as a result,  0.303230  0.696770
1      The woman scolded the man and, as a result,  0.841611  0.158389
2              Mary scolded John and, as a result,  0.391046  0.608954
3              Alice scolded Bob and, as a result,  0.606015  0.393985
4  The actress scolded the actor and, as a result,  0.901405  0.098595

In [453]:
# female subject
IC2_connective2_16f = IC2_connective2_16[0:12]
IC2_connective2_16f = IC2_connective2_16f[["stimulus","she","he"]]
# male subject
IC2_connective2_16m = IC2_connective2_16[12:24]

#### female subject

In [454]:
IC2_connective2_16f

                                             stimulus       she        he
0      Miss Smith scolded Mr. Smith and, as a result,  0.696770  0.303230
1         The woman scolded the man and, as a result,  0.158389  0.841611
2                 Mary scolded John and, as a result,  0.608954  0.391046
3                 Alice scolded Bob and, as a result,  0.393985  0.606015
4     The actress scolded the actor and, as a result,  0.098595  0.901405
5          The girl scolded the boy and, as a result,  0.173978  0.826022
6   Mrs. Taylor scolded Mr. Williams and, as a res...  0.418126  0.581874
7                Emma scolded David and, as a result,  0.569391  0.430609
8   The princess scolded the prince and, as a result,  0.265171  0.734829
9              Sarah scolded Robert and, as a result,  0.466613  0.533387
10  Mrs. Williams scolded Mr. Taylor and, as a res...  0.443828  0.556172
11               Emily scolded Paul and, as a result,  0.653089  0.346911

In [455]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_16f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_16f,'he'))

P('subj-pron'|subj=female) =  0.41224064119160175
P('non-subj-pron'|subj=female) =  0.587759348253409

In [456]:
c2_average_subj_female_subj_pron['scolded'] = compute_average(IC2_connective2_16f,'she')
c2_average_subj_female_obj_pron['scolded'] = compute_average(IC2_connective2_16f,'he')

#### male subject

In [457]:
IC2_connective2_16m

                                             stimulus        he       she
12     Mr. Smith scolded Miss Smith and, as a result,  0.171046  0.828954
13        The man scolded the woman and, as a result,  0.582839  0.417161
14                John scolded Mary and, as a result,  0.293324  0.706676
15                Bob scolded Alice and, as a result,  0.268840  0.731160
16    The actor scolded the actress and, as a result,  0.485393  0.514607
17         The boy scolded the girl and, as a result,  0.568645  0.431355
18  Mr. William scolded Mrs. Taylor and, as a result,  0.334326  0.665674
19               David scolded Emma and, as a result,  0.263040  0.736960
20  The prince scolded the princess and, as a result,  0.380547  0.619453
21             Robert scolded Sarah and, as a result,  0.270792  0.729208
22  Mr. Taylor scolded Mrs. Williams and, as a res...  0.267726  0.732274
23               Paul scolded Emily and, as a result,  0.227225  0.772775

In [458]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_16m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_16m,'she'))

P('subj-pron'|subj=male) =  0.34281181295712787
P('non-subj-pron'|subj=male) =  0.6571881870428721

In [459]:
c2_average_subj_male_subj_pron['scolded'] = compute_average(IC2_connective2_16m,'he')
c2_average_subj_male_obj_pron['scolded'] = compute_average(IC2_connective2_16m,'she')

### verb: "stared"

In [460]:
IC2_connective2_17 = pd.read_csv("../results/transfoxl/IC2/connective2/17.csv")
IC2_connective2_17.head()

                                            stimulus        he       she
0   Miss Smith stared at Mr. Smith and, as a result,  0.267714  0.732286
1      The woman stared at the man and, as a result,  0.537649  0.462351
2              Mary stared at John and, as a result,  0.313104  0.686896
3              Alice stared at Bob and, as a result,  0.496238  0.503762
4  The actress stared at the actor and, as a result,  0.677452  0.322548

In [461]:
# female subject
IC2_connective2_17f = IC2_connective2_17[0:12]
IC2_connective2_17f = IC2_connective2_17f[["stimulus","she","he"]]
# male subject
IC2_connective2_17m = IC2_connective2_17[12:24]

#### female subject

In [462]:
IC2_connective2_17f

                                             stimulus       she        he
0    Miss Smith stared at Mr. Smith and, as a result,  0.732286  0.267714
1       The woman stared at the man and, as a result,  0.462351  0.537649
2               Mary stared at John and, as a result,  0.686896  0.313104
3               Alice stared at Bob and, as a result,  0.503762  0.496238
4   The actress stared at the actor and, as a result,  0.322548  0.677452
5        The girl stared at the boy and, as a result,  0.480344  0.519656
6   Mrs. Taylor stared at Mr. Williams and, as a r...  0.630188  0.369812
7              Emma stared at David and, as a result,  0.675784  0.324216
8   The princess stared at the prince and, as a re...  0.576917  0.423083
9            Sarah stared at Robert and, as a result,  0.529496  0.470504
10  Mrs. Williams stared at Mr. Taylor and, as a r...  0.676887  0.323113
11             Emily stared at Paul and, as a result,  0.615365  0.384635

In [463]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_17f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_17f,'he'))

P('subj-pron'|subj=female) =  0.5744020914038023
P('non-subj-pron'|subj=female) =  0.425597903629144

In [464]:
c2_average_subj_female_subj_pron['stared'] = compute_average(IC2_connective2_17f,'she')
c2_average_subj_female_obj_pron['stared'] = compute_average(IC2_connective2_17f,'he')

#### male subject

In [465]:
IC2_connective2_17m

                                             stimulus        he       she
12   Mr. Smith stared at Miss Smith and, as a result,  0.343681  0.656319
13      The man stared at the woman and, as a result,  0.765687  0.234313
14              John stared at Mary and, as a result,  0.457038  0.542962
15              Bob stared at Alice and, as a result,  0.557851  0.442149
16  The actor stared at the actress and, as a result,  0.742397  0.257603
17       The boy stared at the girl and, as a result,  0.852362  0.147638
18  Mr. William stared at Mrs. Taylor and, as a re...  0.528507  0.471493
19             David stared at Emma and, as a result,  0.232688  0.767312
20  The prince stared at the princess and, as a re...  0.590033  0.409967
21           Robert stared at Sarah and, as a result,  0.431762  0.568238
22  Mr. Taylor stared at Mrs. Williams and, as a r...  0.462202  0.537798
23             Paul stared at Emily and, as a result,  0.366303  0.633697

In [466]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_17m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_17m,'she'))

P('subj-pron'|subj=male) =  0.5275426444907984
P('non-subj-pron'|subj=male) =  0.4724573666850726

In [467]:
c2_average_subj_male_subj_pron['stared'] = compute_average(IC2_connective2_17m,'he')
c2_average_subj_male_obj_pron['stared'] = compute_average(IC2_connective2_17m,'she')

### verb: "thanked"

In [468]:
IC2_connective2_18 = pd.read_csv("../results/transfoxl/IC2/connective2/18.csv")
IC2_connective2_18.head()

                                          stimulus        he       she
0   Miss Smith thanked Mr. Smith and, as a result,  0.506133  0.493867
1      The woman thanked the man and, as a result,  0.810908  0.189092
2              Mary thanked John and, as a result,  0.605131  0.394869
3              Alice thanked Bob and, as a result,  0.870292  0.129708
4  The actress thanked the actor and, as a result,  0.921942  0.078058

In [469]:
# female subject
IC2_connective2_18f = IC2_connective2_18[0:12]
IC2_connective2_18f = IC2_connective2_18f[["stimulus","she","he"]]
# male subject
IC2_connective2_18m = IC2_connective2_18[12:24]

#### female subject

In [470]:
IC2_connective2_18f

                                             stimulus       she        he
0      Miss Smith thanked Mr. Smith and, as a result,  0.493867  0.506133
1         The woman thanked the man and, as a result,  0.189092  0.810908
2                 Mary thanked John and, as a result,  0.394869  0.605131
3                 Alice thanked Bob and, as a result,  0.129708  0.870292
4     The actress thanked the actor and, as a result,  0.078058  0.921942
5          The girl thanked the boy and, as a result,  0.196707  0.803293
6   Mrs. Taylor thanked Mr. Williams and, as a res...  0.330519  0.669481
7                Emma thanked David and, as a result,  0.448557  0.551443
8   The princess thanked the prince and, as a result,  0.185886  0.814114
9              Sarah thanked Robert and, as a result,  0.149318  0.850682
10  Mrs. Williams thanked Mr. Taylor and, as a res...  0.346844  0.653156
11               Emily thanked Paul and, as a result,  0.386808  0.613192

In [471]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_18f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_18f,'he'))

P('subj-pron'|subj=female) =  0.2775193763275941
P('non-subj-pron'|subj=female) =  0.7224806298812231

In [472]:
c2_average_subj_female_subj_pron['thanked'] = compute_average(IC2_connective2_18f,'she')
c2_average_subj_female_obj_pron['thanked'] = compute_average(IC2_connective2_18f,'he')

#### male subject

In [473]:
IC2_connective2_18m

                                             stimulus        he       she
12     Mr. Smith thanked Miss Smith and, as a result,  0.392156  0.607844
13        The man thanked the woman and, as a result,  0.572378  0.427622
14                John thanked Mary and, as a result,  0.380689  0.619311
15                Bob thanked Alice and, as a result,  0.396595  0.603405
16    The actor thanked the actress and, as a result,  0.420659  0.579341
17         The boy thanked the girl and, as a result,  0.624601  0.375399
18  Mr. William thanked Mrs. Taylor and, as a result,  0.484176  0.515824
19               David thanked Emma and, as a result,  0.213099  0.786901
20  The prince thanked the princess and, as a result,  0.349659  0.650341
21             Robert thanked Sarah and, as a result,  0.338473  0.661527
22  Mr. Taylor thanked Mrs. Williams and, as a res...  0.468156  0.531844
23               Paul thanked Emily and, as a result,  0.274645  0.725355

In [474]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_18m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_18m,'she'))

P('subj-pron'|subj=male) =  0.40960724527637166
P('non-subj-pron'|subj=male) =  0.5903927733500799

In [475]:
c2_average_subj_male_subj_pron['thanked'] = compute_average(IC2_connective2_18m,'he')
c2_average_subj_male_obj_pron['thanked'] = compute_average(IC2_connective2_18m,'she')

### verb: "trusts"

In [476]:
IC2_connective2_19 = pd.read_csv("../results/transfoxl/IC2/connective2/19.csv")
IC2_connective2_19.head()

                                         stimulus        he       she
0   Miss Smith trusts Mr. Smith and, as a result,  0.217854  0.782146
1      The woman trusts the man and, as a result,  0.588833  0.411167
2              Mary trusts John and, as a result,  0.375361  0.624639
3              Alice trusts Bob and, as a result,  0.767843  0.232157
4  The actress trusts the actor and, as a result,  0.810156  0.189844

In [477]:
# female subject
IC2_connective2_19f = IC2_connective2_19[0:12]
IC2_connective2_19f = IC2_connective2_19f[["stimulus","she","he"]]
# male subject
IC2_connective2_19m = IC2_connective2_19[12:24]

#### female subject

In [478]:
IC2_connective2_19f

                                             stimulus       she        he
0       Miss Smith trusts Mr. Smith and, as a result,  0.782146  0.217854
1          The woman trusts the man and, as a result,  0.411167  0.588833
2                  Mary trusts John and, as a result,  0.624639  0.375361
3                  Alice trusts Bob and, as a result,  0.232157  0.767843
4      The actress trusts the actor and, as a result,  0.189844  0.810156
5           The girl trusts the boy and, as a result,  0.251696  0.748304
6   Mrs. Taylor trusts Mr. Williams and, as a result,  0.437363  0.562637
7                 Emma trusts David and, as a result,  0.629299  0.370701
8    The princess trusts the prince and, as a result,  0.472221  0.527779
9               Sarah trusts Robert and, as a result,  0.304420  0.695580
10  Mrs. Williams trusts Mr. Taylor and, as a result,  0.463421  0.536579
11                Emily trusts Paul and, as a result,  0.544062  0.455938

In [479]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_19f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_19f,'he'))

P('subj-pron'|subj=female) =  0.44520287464062375
P('non-subj-pron'|subj=female) =  0.5547971154252688

In [480]:
c2_average_subj_female_subj_pron['trusts'] = compute_average(IC2_connective2_19f,'she')
c2_average_subj_female_obj_pron['trusts'] = compute_average(IC2_connective2_19f,'he')

#### male subject

In [481]:
IC2_connective2_19m

                                             stimulus        he       she
12      Mr. Smith trusts Miss Smith and, as a result,  0.208971  0.791029
13         The man trusts the woman and, as a result,  0.524958  0.475042
14                 John trusts Mary and, as a result,  0.286766  0.713234
15                 Bob trusts Alice and, as a result,  0.549673  0.450327
16     The actor trusts the actress and, as a result,  0.763215  0.236785
17          The boy trusts the girl and, as a result,  0.683712  0.316288
18   Mr. William trusts Mrs. Taylor and, as a result,  0.431930  0.568070
19                David trusts Emma and, as a result,  0.556465  0.443535
20   The prince trusts the princess and, as a result,  0.468447  0.531553
21              Robert trusts Sarah and, as a result,  0.609501  0.390499
22  Mr. Taylor trusts Mrs. Williams and, as a result,  0.290148  0.709853
23                Paul trusts Emily and, as a result,  0.430026  0.569974

In [482]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_19m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_19m,'she'))

P('subj-pron'|subj=male) =  0.4836508482694626
P('non-subj-pron'|subj=male) =  0.5163491604228815

In [483]:
c2_average_subj_male_subj_pron['trusts'] = compute_average(IC2_connective2_19m,'he')
c2_average_subj_male_obj_pron['trusts'] = compute_average(IC2_connective2_19m,'she')

### verb: "values"

In [484]:
IC2_connective2_20 = pd.read_csv("../results/transfoxl/IC2/connective2/20.csv")
IC2_connective2_20.head()

                                         stimulus        he       she
0   Miss Smith values Mr. Smith and, as a result,  0.180718  0.819282
1      The woman values the man and, as a result,  0.467186  0.532814
2              Mary values John and, as a result,  0.303993  0.696007
3              Alice values Bob and, as a result,  0.621273  0.378727
4  The actress values the actor and, as a result,  0.735357  0.264643

In [485]:
# female subject
IC2_connective2_20f = IC2_connective2_20[0:12]
IC2_connective2_20f = IC2_connective2_20f[["stimulus","she","he"]]
# male subject
IC2_connective2_20m = IC2_connective2_20[12:24]

#### female subject

In [486]:
IC2_connective2_20f

                                             stimulus       she        he
0       Miss Smith values Mr. Smith and, as a result,  0.819282  0.180718
1          The woman values the man and, as a result,  0.532814  0.467186
2                  Mary values John and, as a result,  0.696007  0.303993
3                  Alice values Bob and, as a result,  0.378727  0.621273
4      The actress values the actor and, as a result,  0.264643  0.735357
5           The girl values the boy and, as a result,  0.475888  0.524112
6   Mrs. Taylor values Mr. Williams and, as a result,  0.423189  0.576811
7                 Emma values David and, as a result,  0.610327  0.389673
8    The princess values the prince and, as a result,  0.633299  0.366701
9               Sarah values Robert and, as a result,  0.479045  0.520955
10  Mrs. Williams values Mr. Taylor and, as a result,  0.457120  0.542880
11                Emily values Paul and, as a result,  0.578790  0.421210

In [487]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_20f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_20f,'he'))

P('subj-pron'|subj=female) =  0.5290942192077637
P('non-subj-pron'|subj=female) =  0.47090577334165573

In [488]:
c2_average_subj_female_subj_pron['values'] = compute_average(IC2_connective2_20f,'she')
c2_average_subj_female_obj_pron['values'] = compute_average(IC2_connective2_20f,'he')

#### male subject

In [489]:
IC2_connective2_20m

                                             stimulus        he       she
12      Mr. Smith values Miss Smith and, as a result,  0.491517  0.508483
13         The man values the woman and, as a result,  0.866122  0.133878
14                 John values Mary and, as a result,  0.734024  0.265976
15                 Bob values Alice and, as a result,  0.778384  0.221616
16     The actor values the actress and, as a result,  0.910839  0.089161
17          The boy values the girl and, as a result,  0.948487  0.051513
18   Mr. William values Mrs. Taylor and, as a result,  0.688586  0.311414
19                David values Emma and, as a result,  0.367447  0.632553
20   The prince values the princess and, as a result,  0.721205  0.278795
21              Robert values Sarah and, as a result,  0.794277  0.205723
22  Mr. Taylor values Mrs. Williams and, as a result,  0.482778  0.517222
23                Paul values Emily and, as a result,  0.605823  0.394177

In [490]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_20m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_20m,'she'))

P('subj-pron'|subj=male) =  0.6991240183512369
P('non-subj-pron'|subj=male) =  0.3008759844427307

In [491]:
c2_average_subj_male_subj_pron['values'] = compute_average(IC2_connective2_20m,'he')
c2_average_subj_male_obj_pron['values'] = compute_average(IC2_connective2_20m,'she')

## Summary of Results

In [492]:
c2_results_fsubj_subjpron = pd.DataFrame(list(c2_average_subj_female_subj_pron.items()),columns=['verb','subj_ref_female_subj'])
c2_results_fsubj_objpron = pd.DataFrame(list(c2_average_subj_female_obj_pron.items()),columns=['verb','obj_ref_female_subj'])
c2_results_fsubj = c2_results_fsubj_subjpron.merge(c2_results_fsubj_objpron)
c2_results_fsubj

             verb  subj_ref_female_subj  obj_ref_female_subj
0        assisted              0.458040             0.541960
1          blames              0.572747             0.427253
2       comforted              0.390301             0.609699
3   congratulated              0.303857             0.696143
4       corrected              0.377907             0.622093
5         detests              0.479237             0.520763
6           fears              0.653868             0.346132
7          envies              0.693161             0.306839
8           hates              0.614457             0.385543
9          helped              0.425008             0.574992
10         mocked              0.483325             0.516675
11        noticed              0.681538             0.318462
12       pacified              0.380805             0.619195
13        praised              0.403191             0.596809
14     reproached              0.374054             0.625946
15        scolded              0.412241             0.587759
16         stared              0.574402             0.425598
17        thanked              0.277519             0.722481
18         trusts              0.445203             0.554797
19         values              0.529094             0.470906

In [493]:
c2_results_msubj_subjpron = pd.DataFrame(list(c2_average_subj_male_subj_pron.items()),columns=['verb','subj_ref_male_subj'])
c2_results_msubj_objpron = pd.DataFrame(list(c2_average_subj_male_obj_pron.items()),columns=['verb','obj_ref_male_subj'])
c2_results_msubj = c2_results_msubj_subjpron.merge(c2_results_msubj_objpron)
c2_results_msubj

             verb  subj_ref_male_subj  obj_ref_male_subj
0        assisted            0.334960           0.665040
1          blames            0.582622           0.417378
2       comforted            0.269815           0.730185
3   congratulated            0.277488           0.722512
4       corrected            0.651626           0.348374
5         detests            0.753998           0.246002
6           fears            0.809397           0.190603
7          envies            0.699619           0.300381
8           hates            0.708493           0.291507
9          helped            0.322661           0.677339
10         mocked            0.584821           0.415179
11        noticed            0.682773           0.317227
12       pacified            0.396561           0.603439
13        praised            0.452224           0.547776
14     reproached            0.288943           0.711057
15        scolded            0.342812           0.657188
16         stared            0.527543           0.472457
17        thanked            0.409607           0.590393
18         trusts            0.483651           0.516349
19         values            0.699124           0.300876

In [494]:
c2_results = c2_results_fsubj.merge(c2_results_msubj)
c2_results

,verb,subj_ref_female_subj,obj_ref_female_subj,subj_ref_male_subj,obj_ref_male_subj
0,assisted,0.458040,0.541960,0.334960,0.665040
1,blames,0.572747,0.427253,0.582622,0.417378
2,comforted,0.390301,0.609699,0.269815,0.730185
3,congratulated,0.303857,0.696143,0.277488,0.722512
4,corrected,0.377907,0.622093,0.651626,0.348374
5,detests,0.479237,0.520763,0.753998,0.246002
6,fears,0.653868,0.346132,0.809397,0.190603
7,envies,0.693161,0.306839,0.699619,0.300381
8,hates,0.614457,0.385543,0.708493,0.291507
9,helped,0.425008,0.574992,0.322661,0.677339
10,mocked,0.483325,0.516675,0.584821,0.415179
11,noticed,0.681538,0.318462,0.682773,0.317227
12,pacified,0.380805,0.619195,0.396561,0.603439
13,praised,0.403191,0.596809,0.452224,0.547776
14,reproached,0.374054,0.625946,0.288943,0.711057
15,scolded,0.412241,0.587759,0.342812,0.657188
16,stared,0.574402,0.425598,0.527543,0.472457
17,thanked,0.277519,0.722481,0.409607,0.590393
18,trusts,0.445203,0.554797,0.483651,0.516349
19,values,0.529094,0.470906,0.699124,0.300876

In [495]:
print("P(subj_reference |subj=female)", compute_average(c2_results,'subj_ref_female_subj'))
print("P(obj_reference |subj=female)", compute_average(c2_results,'obj_ref_female_subj'))

P(subj_reference |subj=female) 0.4764977812068537
P(obj_reference |subj=female) 0.5235022167209535

In [496]:
print("P(subj_reference |subj=male)", compute_average(c2_results,'subj_ref_male_subj'))
print("P(obj_reference |subj=male)", compute_average(c2_results,'obj_ref_male_subj'))

P(subj_reference |subj=male) 0.5139369677131375
P(obj_reference |subj=male) 0.48606303680377705

In [497]:
# save results to csv
col_headers = ['verb','subj_ref_female_subj','obj_ref_female_subj','subj_ref_male_subj','obj_ref_male_subj']
np_results.to_csv("../results/transfoxl/summary/IC2-noprompt.csv",index=False,header=col_headers)
c1_results.to_csv("../results/transfoxl/summary/IC2-connective1.csv",index=False,header=col_headers)
c2_results.to_csv("../results/transfoxl/summary/IC2-connective2.csv",index=False,header=col_headers)