In [1]:
import pandas as pd
import numpy as np

In [2]:
def compute_average(df,col):
    return np.mean(df[col].values)

## No-prompt

In [3]:
np_average_subj_female_subj_pron = {}
np_average_subj_female_obj_pron = {}
np_average_subj_male_subj_pron = {}
np_average_subj_male_obj_pron = {}

### Verb: "assisted"

In [4]:
IC2_noprompt_1 = pd.read_csv("../results/gpt2/IC2/no-prompt/1.csv")
IC2_noprompt_1.head()

                          stimulus        He       She
0   Miss Smith assisted Mr. Smith.  0.403474  0.596526
1      The woman assisted the man.  0.298008  0.701992
2              Mary assisted John.  0.435573  0.564427
3              Alice assisted Bob.  0.253188  0.746812
4  The actress assisted the actor.  0.263832  0.736168

In [5]:
# female subject
IC2_noprompt_1f = IC2_noprompt_1[0:12]
IC2_noprompt_1f = IC2_noprompt_1f[["stimulus","She","He"]]
# male subject
IC2_noprompt_1m = IC2_noprompt_1[12:24]

#### female subject

In [6]:
IC2_noprompt_1f

                              stimulus       She        He
0       Miss Smith assisted Mr. Smith.  0.596526  0.403474
1          The woman assisted the man.  0.701992  0.298008
2                  Mary assisted John.  0.564427  0.435573
3                  Alice assisted Bob.  0.746812  0.253188
4      The actress assisted the actor.  0.736168  0.263832
5           The girl assisted the boy.  0.709782  0.290218
6   Mrs. Taylor assisted Mr. Williams.  0.608544  0.391456
7                 Emma assisted David.  0.660608  0.339392
8    The princess assisted the prince.  0.730251  0.269749
9               Sarah assisted Robert.  0.573690  0.426310
10  Mrs. Williams assisted Mr. Taylor.  0.625480  0.374520
11                Emily assisted Paul.  0.652737  0.347263

In [7]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_1f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_1f,'He'))

P('subj-pron'|subj=female) =  0.6589179784059525
P('non-subj-pron'|subj=female) =  0.34108201662699383

In [8]:
np_average_subj_female_subj_pron['assisted'] = compute_average(IC2_noprompt_1f,'She')
np_average_subj_female_obj_pron['assisted'] = compute_average(IC2_noprompt_1f,'He')

#### male subject

In [9]:
IC2_noprompt_1m

                              stimulus        He       She
12      Mr. Smith assisted Miss Smith.  0.629897  0.370103
13         The man assisted the woman.  0.665987  0.334013
14                 John assisted Mary.  0.779272  0.220728
15                 Bob assisted Alice.  0.795389  0.204611
16     The actor assisted the actress.  0.698424  0.301577
17          The boy assisted the girl.  0.659642  0.340358
18   Mr. William assisted Mrs. Taylor.  0.691103  0.308897
19                David assisted Emma.  0.667516  0.332484
20   The prince assisted the princess.  0.753356  0.246644
21              Robert assisted Sarah.  0.647493  0.352507
22  Mr. Taylor assisted Mrs. Williams.  0.639553  0.360447
23                Paul assisted Emily.  0.584579  0.415421

In [10]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_1m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_1m,'She'))

P('subj-pron'|subj=male) =  0.6843507985273997
P('non-subj-pron'|subj=male) =  0.31564922134081524

In [11]:
np_average_subj_male_subj_pron['assisted'] = compute_average(IC2_noprompt_1m,'He')
np_average_subj_male_obj_pron['assisted'] = compute_average(IC2_noprompt_1m,'She')

### Verb: "blames"

In [12]:
IC2_noprompt_2 = pd.read_csv("../results/gpt2/IC2/no-prompt/2.csv")
IC2_noprompt_2.head()

                        stimulus        He       She
0   Miss Smith blames Mr. Smith.  0.316383  0.683617
1      The woman blames the man.  0.256400  0.743600
2              Mary blames John.  0.300458  0.699542
3              Alice blames Bob.  0.263600  0.736399
4  The actress blames the actor.  0.168097  0.831903

In [13]:
# female subject
IC2_noprompt_2f = IC2_noprompt_2[0:12]
IC2_noprompt_2f = IC2_noprompt_2f[["stimulus","She","He"]]
# male subject
IC2_noprompt_2m = IC2_noprompt_2[12:24]

#### female subject

In [14]:
IC2_noprompt_2f

                            stimulus       She        He
0       Miss Smith blames Mr. Smith.  0.683617  0.316383
1          The woman blames the man.  0.743600  0.256400
2                  Mary blames John.  0.699542  0.300458
3                  Alice blames Bob.  0.736399  0.263600
4      The actress blames the actor.  0.831903  0.168097
5           The girl blames the boy.  0.729567  0.270433
6   Mrs. Taylor blames Mr. Williams.  0.650170  0.349830
7                 Emma blames David.  0.657822  0.342178
8    The princess blames the prince.  0.707482  0.292518
9               Sarah blames Robert.  0.564394  0.435606
10  Mrs. Williams blames Mr. Taylor.  0.646925  0.353075
11                Emily blames Paul.  0.749012  0.250988

In [15]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_2f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_2f,'He'))

P('subj-pron'|subj=female) =  0.7000361929337183
P('non-subj-pron'|subj=female) =  0.2999638058245182

In [16]:
np_average_subj_female_subj_pron['blames'] = compute_average(IC2_noprompt_2f,'She')
np_average_subj_female_obj_pron['blames'] = compute_average(IC2_noprompt_2f,'He')

#### male subject

In [17]:
IC2_noprompt_2m

                            stimulus        He       She
12      Mr. Smith blames Miss Smith.  0.616104  0.383896
13         The man blames the woman.  0.693077  0.306923
14                 John blames Mary.  0.733169  0.266831
15                 Bob blames Alice.  0.676663  0.323337
16     The actor blames the actress.  0.636499  0.363501
17          The boy blames the girl.  0.653062  0.346938
18   Mr. William blames Mrs. Taylor.  0.597136  0.402864
19                David blames Emma.  0.600207  0.399793
20   The prince blames the princess.  0.695266  0.304734
21              Robert blames Sarah.  0.603952  0.396048
22  Mr. Taylor blames Mrs. Williams.  0.604919  0.395081
23                Paul blames Emily.  0.564426  0.435574

In [18]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_2m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_2m,'She'))

P('subj-pron'|subj=male) =  0.6395400365193685
P('non-subj-pron'|subj=male) =  0.36045996844768524

In [19]:
np_average_subj_male_subj_pron['blames'] = compute_average(IC2_noprompt_2m,'He')
np_average_subj_male_obj_pron['blames'] = compute_average(IC2_noprompt_2m,'She')

### Verb: "comforted"

In [20]:
IC2_noprompt_3 = pd.read_csv("../results/gpt2/IC2/no-prompt/3.csv")
IC2_noprompt_3.head()

                           stimulus        He       She
0   Miss Smith comforted Mr. Smith.  0.523760  0.476239
1      The woman comforted the man.  0.374112  0.625888
2              Mary comforted John.  0.489272  0.510728
3              Alice comforted Bob.  0.271676  0.728324
4  The actress comforted the actor.  0.281624  0.718376

In [21]:
# female subject
IC2_noprompt_3f = IC2_noprompt_3[0:12]
IC2_noprompt_3f = IC2_noprompt_3f[["stimulus","She","He"]]
# male subject
IC2_noprompt_3m = IC2_noprompt_3[12:24]

#### female subject

In [22]:
IC2_noprompt_3f

                                   stimulus       She        He
0           Miss Smith comforted Mr. Smith.  0.476239  0.523760
1              The woman comforted the man.  0.625888  0.374112
2                      Mary comforted John.  0.510728  0.489272
3                      Alice comforted Bob.  0.728324  0.271676
4          The actress comforted the actor.  0.718376  0.281624
5               The girl comforted the boy.  0.659841  0.340159
6   Mrs. Taylor comforted the Mr. Williams.  0.525632  0.474368
7                     Emma comforted David.  0.686817  0.313183
8        The princess comforted the prince.  0.741018  0.258982
9                   Sarah comforted Robert.  0.552613  0.447386
10      Mrs. Williams comforted Mr. Taylor.  0.523570  0.476430
11                    Emily comforted Paul.  0.756835  0.243165

In [23]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_3f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_3f,'He'))

P('subj-pron'|subj=female) =  0.6254901240269343
P('non-subj-pron'|subj=female) =  0.3745098685224851

In [24]:
np_average_subj_female_subj_pron['comforted'] = compute_average(IC2_noprompt_3f,'She')
np_average_subj_female_obj_pron['comforted'] = compute_average(IC2_noprompt_3f,'He')

#### male subject

In [25]:
IC2_noprompt_3m

                               stimulus        He       She
12      Mr. Smith comforted Miss Smith.  0.492411  0.507589
13         The man comforted the woman.  0.655986  0.344014
14                 John comforted Mary.  0.764034  0.235966
15                 Bob comforted Alice.  0.540515  0.459485
16     The actor comforted the actress.  0.528296  0.471703
17          The boy comforted the girl.  0.628519  0.371481
18   Mr. William comforted Mrs. Taylor.  0.585521  0.414479
19                David comforted Emma.  0.605829  0.394171
20   The prince comforted the princess.  0.698034  0.301966
21              Robert comforted Sarah.  0.608830  0.391170
22  Mr. Taylor comforted Mrs. Williams.  0.550755  0.449245
23                Paul comforted Emily.  0.642046  0.357954

In [26]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_3m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_3m,'She'))

P('subj-pron'|subj=male) =  0.608397958179315
P('non-subj-pron'|subj=male) =  0.3916020318865776

In [27]:
np_average_subj_male_subj_pron['comforted'] = compute_average(IC2_noprompt_3m,'He')
np_average_subj_male_obj_pron['comforted'] = compute_average(IC2_noprompt_3m,'She')

### verb: "congratulated"

In [28]:
IC2_noprompt_4 = pd.read_csv("../results/gpt2/IC2/no-prompt/4.csv")
IC2_noprompt_4.head()

                               stimulus        He       She
0   Miss Smith congratulated Mr. Smith.  0.378799  0.621201
1      The woman congratulated the man.  0.292217  0.707783
2              Mary congratulated John.  0.384230  0.615770
3              Alice congratulated Bob.  0.227922  0.772078
4  The actress congratulated the actor.  0.135983  0.864017

In [29]:
# female subject
IC2_noprompt_4f = IC2_noprompt_4[0:12]
IC2_noprompt_4f = IC2_noprompt_4f[["stimulus","She","He"]]
# male subject
IC2_noprompt_4m = IC2_noprompt_4[12:24]

#### female subject

In [30]:
IC2_noprompt_4f

                                   stimulus       She        He
0       Miss Smith congratulated Mr. Smith.  0.621201  0.378799
1          The woman congratulated the man.  0.707783  0.292217
2                  Mary congratulated John.  0.615770  0.384230
3                  Alice congratulated Bob.  0.772078  0.227922
4      The actress congratulated the actor.  0.864017  0.135983
5           The girl congratulated the boy.  0.768117  0.231882
6   Mrs. Taylor congratulated Mr. Williams.  0.571051  0.428949
7                 Emma congratulated David.  0.701342  0.298658
8    The princess congratulated the prince.  0.808812  0.191188
9               Sarah congratulated Robert.  0.576619  0.423381
10  Mrs. Williams congratulated Mr. Taylor.  0.581483  0.418517
11                Emily congratulated Paul.  0.742676  0.257324

In [31]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_4f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_4f,'He'))

P('subj-pron'|subj=female) =  0.6942457109689713
P('non-subj-pron'|subj=female) =  0.30575429027279216

In [32]:
np_average_subj_female_subj_pron['congratulated'] = compute_average(IC2_noprompt_4f,'She')
np_average_subj_female_obj_pron['congratulated'] = compute_average(IC2_noprompt_4f,'He')

#### male subject

In [33]:
IC2_noprompt_4m

                                   stimulus        He       She
12      Mr. Smith congratulated Miss Smith.  0.512933  0.487067
13         The man congratulated the woman.  0.639862  0.360138
14                 John congratulated Mary.  0.691687  0.308313
15                 Bob congratulated Alice.  0.628075  0.371925
16     The actor congratulated the actress.  0.659200  0.340800
17          The boy congratulated the girl.  0.659025  0.340975
18   Mr. William congratulated Mrs. Taylor.  0.594067  0.405933
19                David congratulated Emma.  0.539909  0.460091
20   The prince congratulated the princess.  0.653830  0.346170
21              Robert congratulated Sarah.  0.597012  0.402988
22  Mr. Taylor congratulated Mrs. Williams.  0.571856  0.428144
23                Paul congratulated Emily.  0.554692  0.445308

In [34]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_4m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_4m,'She'))

P('subj-pron'|subj=male) =  0.6085124214490255
P('non-subj-pron'|subj=male) =  0.39148757855097455

In [35]:
np_average_subj_male_subj_pron['congratulated'] = compute_average(IC2_noprompt_4m,'He')
np_average_subj_male_obj_pron['congratulated'] = compute_average(IC2_noprompt_4m,'She')

### verb: "corrected"

In [36]:
IC2_noprompt_5 = pd.read_csv("../results/gpt2/IC2/no-prompt/5.csv")
IC2_noprompt_5.head()

                           stimulus        He       She
0   Miss Smith corrected Mr. Smith.  0.455069  0.544931
1      The woman corrected the man.  0.333594  0.666406
2              Mary corrected John.  0.442917  0.557083
3              Alice corrected Bob.  0.203348  0.796652
4  The actress corrected the actor.  0.263299  0.736701

In [37]:
# female subject
IC2_noprompt_5f = IC2_noprompt_5[0:12]
IC2_noprompt_5f = IC2_noprompt_5f[["stimulus","She","He"]]
# male subject
IC2_noprompt_5m = IC2_noprompt_5[12:24]

#### female subject

In [38]:
IC2_noprompt_5f

                               stimulus       She        He
0       Miss Smith corrected Mr. Smith.  0.544931  0.455069
1          The woman corrected the man.  0.666406  0.333594
2                  Mary corrected John.  0.557083  0.442917
3                  Alice corrected Bob.  0.796652  0.203348
4      The actress corrected the actor.  0.736701  0.263299
5           The girl corrected the boy.  0.724957  0.275043
6   Mrs. Taylor corrected Mr. Williams.  0.557793  0.442207
7                 Emma corrected David.  0.692779  0.307221
8    The princess corrected the prince.  0.698278  0.301722
9               Sarah corrected Robert.  0.587403  0.412597
10  Mrs. Williams corrected Mr. Taylor.  0.580592  0.419408
11                Emily corrected Paul.  0.782995  0.217005

In [39]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_5f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_5f,'He'))

P('subj-pron'|subj=female) =  0.660547524690628
P('non-subj-pron'|subj=female) =  0.33945247530937195

In [40]:
np_average_subj_female_subj_pron['corrected'] = compute_average(IC2_noprompt_5f,'She')
np_average_subj_female_obj_pron['corrected'] = compute_average(IC2_noprompt_5f,'He')

#### male subject

In [41]:
IC2_noprompt_5m

                               stimulus        He       She
12      Mr. Smith corrected Miss Smith.  0.554794  0.445206
13         The man corrected the woman.  0.669662  0.330338
14                 John corrected Mary.  0.776494  0.223506
15                 Bob corrected Alice.  0.632686  0.367314
16     The actor corrected the actress.  0.583636  0.416364
17          The boy corrected the girl.  0.669506  0.330494
18   Mr. William corrected Mrs. Taylor.  0.602003  0.397997
19                David corrected Emma.  0.657571  0.342429
20   The prince corrected the princess.  0.646986  0.353014
21              Robert corrected Sarah.  0.550107  0.449893
22  Mr. Taylor corrected Mrs. Williams.  0.563436  0.436564
23                Paul corrected Emily.  0.595392  0.404608

In [42]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_5m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_5m,'She'))

P('subj-pron'|subj=male) =  0.6251893242200216
P('non-subj-pron'|subj=male) =  0.3748106857140859

In [43]:
np_average_subj_male_subj_pron['corrected'] = compute_average(IC2_noprompt_5m,'He')
np_average_subj_male_obj_pron['corrected'] = compute_average(IC2_noprompt_5m,'She')

### verb: "detests"

In [44]:
IC2_noprompt_6 = pd.read_csv("../results/gpt2/IC2/no-prompt/6.csv")
IC2_noprompt_6.head()

                         stimulus        He       She
0   Miss Smith detests Mr. Smith.  0.337707  0.662293
1      The woman detests the man.  0.296482  0.703518
2              Mary detests John.  0.356891  0.643109
3              Alice detests Bob.  0.166536  0.833464
4  The actress detests the actor.  0.202691  0.797309

In [45]:
# female subject
IC2_noprompt_6f = IC2_noprompt_6[0:12]
IC2_noprompt_6f = IC2_noprompt_6f[["stimulus","She","He"]]
# male subject
IC2_noprompt_6m = IC2_noprompt_6[12:24]

#### female subject

In [46]:
IC2_noprompt_6f

                             stimulus       She        He
0       Miss Smith detests Mr. Smith.  0.662293  0.337707
1          The woman detests the man.  0.703518  0.296482
2                  Mary detests John.  0.643109  0.356891
3                  Alice detests Bob.  0.833464  0.166536
4      The actress detests the actor.  0.797309  0.202691
5           The girl detests the boy.  0.700624  0.299376
6   Mrs. Taylor detests Mr. Williams.  0.605155  0.394845
7                 Emma detests David.  0.738919  0.261081
8    The princess detests the prince.  0.733127  0.266873
9               Sarah detests Robert.  0.590855  0.409145
10  Mrs. Williams detests Mr. Taylor.  0.628683  0.371317
11                Emily detests Paul.  0.729989  0.270011

In [47]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_6f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_6f,'He'))

P('subj-pron'|subj=female) =  0.6972537388404211
P('non-subj-pron'|subj=female) =  0.3027462661266327

In [48]:
np_average_subj_female_subj_pron['detests'] = compute_average(IC2_noprompt_6f,'She')
np_average_subj_female_obj_pron['detests'] = compute_average(IC2_noprompt_6f,'He')

In [49]:
IC2_noprompt_6m

                             stimulus        He       She
12      Mr. Smith detests Miss Smith.  0.651866  0.348134
13         The man detests the woman.  0.757285  0.242715
14                 John detests Mary.  0.791529  0.208471
15                 Bob detests Alice.  0.741556  0.258444
16     The actor detests the actress.  0.710017  0.289983
17          The boy detests the girl.  0.709893  0.290107
18   Mr. William detests Mrs. Taylor.  0.714213  0.285787
19                David detests Emma.  0.614868  0.385132
20   The prince detests the princess.  0.721892  0.278108
21              Robert detests Sarah.  0.643270  0.356730
22  Mr. Taylor detests Mrs. Williams.  0.682980  0.317020
23                Paul detests Emily.  0.615992  0.384008

In [50]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_6m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_6m,'She'))

P('subj-pron'|subj=male) =  0.6962800969680151
P('non-subj-pron'|subj=male) =  0.3037199005484581

In [51]:
np_average_subj_male_subj_pron['detests'] = compute_average(IC2_noprompt_6m,'He')
np_average_subj_male_obj_pron['detests'] = compute_average(IC2_noprompt_6m,'She')

### verb: "fears"

In [52]:
IC2_noprompt_7 = pd.read_csv("../results/gpt2/IC2/no-prompt/7.csv")
IC2_noprompt_7.head()

                       stimulus        He       She
0   Miss Smith fears Mr. Smith.  0.342172  0.657828
1      The woman fears the man.  0.284365  0.715635
2              Mary fears John.  0.373716  0.626284
3              Alice fears Bob.  0.235544  0.764456
4  The actress fears the actor.  0.197031  0.802969

In [53]:
# female subject
IC2_noprompt_7f = IC2_noprompt_7[0:12]
IC2_noprompt_7f = IC2_noprompt_7f[["stimulus","She","He"]]
# male subject
IC2_noprompt_7m = IC2_noprompt_7[12:24]

#### female subject

In [54]:
IC2_noprompt_7f

                           stimulus       She        He
0       Miss Smith fears Mr. Smith.  0.657828  0.342172
1          The woman fears the man.  0.715635  0.284365
2                  Mary fears John.  0.626284  0.373716
3                  Alice fears Bob.  0.764456  0.235544
4      The actress fears the actor.  0.802969  0.197031
5           The girl fears the boy.  0.698092  0.301908
6   Mrs. Taylor fears Mr. Williams.  0.576804  0.423196
7                 Emma fears David.  0.697053  0.302947
8    The princess fears the prince.  0.653758  0.346242
9               Sarah fears Robert.  0.556950  0.443050
10  Mrs. Williams fears Mr. Taylor.  0.561990  0.438010
11                Emily fears Paul.  0.704952  0.295048

In [55]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_7f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_7f,'He'))

P('subj-pron'|subj=female) =  0.6680642664432526
P('non-subj-pron'|subj=female) =  0.33193573355674744

In [56]:
np_average_subj_female_subj_pron['fears'] = compute_average(IC2_noprompt_7f,'She')
np_average_subj_female_obj_pron['fears'] = compute_average(IC2_noprompt_7f,'He')

#### male subject

In [57]:
IC2_noprompt_7m

                           stimulus        He       She
12      Mr. Smith fears Miss Smith.  0.581425  0.418575
13         The man fears the woman.  0.723775  0.276225
14                 John fears Mary.  0.744884  0.255116
15                 Bob fears Alice.  0.739108  0.260892
16     The actor fears the actress.  0.686918  0.313082
17          The boy fears the girl.  0.702866  0.297134
18   Mr. William fears Mrs. Taylor.  0.621296  0.378704
19                David fears Emma.  0.588818  0.411182
20   The prince fears the princess.  0.764017  0.235983
21              Robert fears Sarah.  0.629355  0.370645
22  Mr. Taylor fears Mrs. Williams.  0.593227  0.406773
23                Paul fears Emily.  0.567765  0.432235

In [58]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_7m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_7m,'She'))

P('subj-pron'|subj=male) =  0.6619545718034109
P('non-subj-pron'|subj=male) =  0.3380454207460086

In [59]:
np_average_subj_male_subj_pron['fears'] = compute_average(IC2_noprompt_7m,'He')
np_average_subj_male_obj_pron['fears'] = compute_average(IC2_noprompt_7m,'She')

### verb: "envies"

In [60]:
IC2_noprompt_8 = pd.read_csv("../results/gpt2/IC2/no-prompt/8.csv")
IC2_noprompt_8.head()

                        stimulus        He       She
0   Miss Smith envies Mr. Smith.  0.290729  0.709271
1      The woman envies the man.  0.265762  0.734238
2              Mary envies John.  0.236327  0.763673
3              Alice envies Bob.  0.155073  0.844927
4  The actress envies the actor.  0.148640  0.851360

In [61]:
# female subject
IC2_noprompt_8f = IC2_noprompt_8[0:12]
IC2_noprompt_8f = IC2_noprompt_8f[["stimulus","She","He"]]
# male subject
IC2_noprompt_8m = IC2_noprompt_8[12:24]

#### female subject

In [62]:
IC2_noprompt_8f

                            stimulus       She        He
0       Miss Smith envies Mr. Smith.  0.709271  0.290729
1          The woman envies the man.  0.734238  0.265762
2                  Mary envies John.  0.763673  0.236327
3                  Alice envies Bob.  0.844927  0.155073
4      The actress envies the actor.  0.851360  0.148640
5           The girl envies the boy.  0.741808  0.258192
6   Mrs. Taylor envies Mr. Williams.  0.685677  0.314323
7                 Emma envies David.  0.794689  0.205311
8    The princess envies the prince.  0.735814  0.264186
9               Sarah envies Robert.  0.692171  0.307829
10  Mrs. Williams envies Mr. Taylor.  0.705641  0.294359
11                Emily envies Paul.  0.810514  0.189486

In [63]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_8f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_8f,'He'))

P('subj-pron'|subj=female) =  0.7558151036500931
P('non-subj-pron'|subj=female) =  0.24418489759167036

In [64]:
np_average_subj_female_subj_pron['envies'] = compute_average(IC2_noprompt_8f,'She')
np_average_subj_female_obj_pron['envies'] = compute_average(IC2_noprompt_8f,'He')

#### male subject

In [65]:
IC2_noprompt_8m

                            stimulus        He       She
12      Mr. Smith envies Miss Smith.  0.686544  0.313456
13         The man envies the woman.  0.764317  0.235683
14                 John envies Mary.  0.763492  0.236508
15                 Bob envies Alice.  0.766023  0.233978
16     The actor envies the actress.  0.761035  0.238965
17          The boy envies the girl.  0.743867  0.256133
18   Mr. William envies Mrs. Taylor.  0.698916  0.301084
19                David envies Emma.  0.677585  0.322415
20   The prince envies the princess.  0.782236  0.217764
21              Robert envies Sarah.  0.661195  0.338805
22  Mr. Taylor envies Mrs. Williams.  0.651494  0.348506
23                Paul envies Emily.  0.645523  0.354477

In [66]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_8m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_8m,'She'))

P('subj-pron'|subj=male) =  0.7168522328138351
P('non-subj-pron'|subj=male) =  0.28314777463674545

In [67]:
np_average_subj_male_subj_pron['envies'] = compute_average(IC2_noprompt_8m,'He')
np_average_subj_male_obj_pron['envies'] = compute_average(IC2_noprompt_8m,'She')

### verb: "hates"

In [68]:
IC2_noprompt_9 = pd.read_csv("../results/gpt2/IC2/no-prompt/9.csv")
IC2_noprompt_9.head()

                       stimulus        He       She
0   Miss Smith hates Mr. Smith.  0.361054  0.638946
1      The woman hates the man.  0.308308  0.691692
2              Mary hates John.  0.292059  0.707941
3              Alice hates Bob.  0.170076  0.829924
4  The actress hates the actor.  0.150799  0.849201

In [69]:
# female subject
IC2_noprompt_9f = IC2_noprompt_9[0:12]
IC2_noprompt_9f = IC2_noprompt_9f[["stimulus","She","He"]]
# male subject
IC2_noprompt_9m = IC2_noprompt_9[12:24]

#### female: "hates"

In [70]:
IC2_noprompt_9f

                           stimulus       She        He
0       Miss Smith hates Mr. Smith.  0.638946  0.361054
1          The woman hates the man.  0.691692  0.308308
2                  Mary hates John.  0.707941  0.292059
3                  Alice hates Bob.  0.829924  0.170076
4      The actress hates the actor.  0.849201  0.150799
5           The girl hates the boy.  0.680673  0.319327
6   Mrs. Taylor hates Mr. Williams.  0.593866  0.406134
7                 Emma hates David.  0.737061  0.262939
8    The princess hates the prince.  0.705136  0.294864
9               Sarah hates Robert.  0.583739  0.416261
10  Mrs. Williams hates Mr. Taylor.  0.610023  0.389977
11                Emily hates Paul.  0.743182  0.256818

In [71]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_9f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_9f,'He'))

P('subj-pron'|subj=female) =  0.6976153552532196
P('non-subj-pron'|subj=female) =  0.3023846571644147

In [72]:
np_average_subj_female_subj_pron['hates'] = compute_average(IC2_noprompt_9f,'She')
np_average_subj_female_obj_pron['hates'] = compute_average(IC2_noprompt_9f,'He')

#### male subject

In [73]:
IC2_noprompt_9m

                           stimulus        He       She
12      Mr. Smith hates Miss Smith.  0.672428  0.327572
13         The man hates the woman.  0.753170  0.246830
14                 John hates Mary.  0.757559  0.242441
15                 Bob hates Alice.  0.684701  0.315299
16     The actor hates the actress.  0.686682  0.313318
17          The boy hates the girl.  0.696490  0.303510
18   Mr. William hates Mrs. Taylor.  0.659000  0.341000
19                David hates Emma.  0.640597  0.359403
20   The prince hates the princess.  0.729325  0.270675
21              Robert hates Sarah.  0.660497  0.339503
22  Mr. Taylor hates Mrs. Williams.  0.639517  0.360483
23                Paul hates Emily.  0.649406  0.350594

In [74]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_9m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_9m,'She'))

P('subj-pron'|subj=male) =  0.6857809722423553
P('non-subj-pron'|subj=male) =  0.3142190103729566

In [75]:
np_average_subj_male_subj_pron['hates'] = compute_average(IC2_noprompt_9m,'He')
np_average_subj_male_obj_pron['hates'] = compute_average(IC2_noprompt_9m,'She')

### verb: "helped"

In [76]:
IC2_noprompt_10 = pd.read_csv("../results/gpt2/IC2/no-prompt/10.csv")
IC2_noprompt_10.head()

                        stimulus        He       She
0   Miss Smith helped Mr. Smith.  0.413960  0.586040
1      The woman helped the man.  0.309794  0.690206
2              Mary helped John.  0.280234  0.719766
3              Alice helped Bob.  0.255429  0.744571
4  The actress helped the actor.  0.232370  0.767631

In [77]:
# female subject
IC2_noprompt_10f = IC2_noprompt_10[0:12]
IC2_noprompt_10f = IC2_noprompt_10f[["stimulus","She","He"]]
# male subject
IC2_noprompt_10m = IC2_noprompt_10[12:24]

#### female subject

In [78]:
IC2_noprompt_10f

                            stimulus       She        He
0       Miss Smith helped Mr. Smith.  0.586040  0.413960
1          The woman helped the man.  0.690206  0.309794
2                  Mary helped John.  0.719766  0.280234
3                  Alice helped Bob.  0.744571  0.255429
4      The actress helped the actor.  0.767631  0.232370
5           The girl helped the boy.  0.702181  0.297819
6   Mrs. Taylor helped Mr. Williams.  0.577089  0.422911
7                 Emma helped David.  0.723464  0.276536
8    The princess helped the prince.  0.746870  0.253130
9               Sarah helped Robert.  0.621539  0.378461
10  Mrs. Williams helped Mr. Taylor.  0.558900  0.441100
11                Emily helped Paul.  0.738515  0.261485

In [79]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_10f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_10f,'He'))

P('subj-pron'|subj=female) =  0.6813975622256597
P('non-subj-pron'|subj=female) =  0.31860243653257686

In [80]:
np_average_subj_female_subj_pron['helped'] = compute_average(IC2_noprompt_10f,'She')
np_average_subj_female_obj_pron['helped'] = compute_average(IC2_noprompt_10f,'He')

In [81]:
IC2_noprompt_10m

                            stimulus        He       She
12      Mr. Smith helped Miss Smith.  0.646696  0.353304
13         The man helped the woman.  0.719785  0.280215
14                 John helped Mary.  0.770793  0.229207
15                 Bob helped Alice.  0.796155  0.203845
16     The actor helped the actress.  0.723514  0.276486
17          The boy helped the girl.  0.715803  0.284197
18   Mr. William helped Mrs. Taylor.  0.698052  0.301948
19                David helped Emma.  0.731362  0.268638
20   The prince helped the princess.  0.796679  0.203321
21              Robert helped Sarah.  0.685272  0.314728
22  Mr. Taylor helped Mrs. Williams.  0.682820  0.317180
23                Paul helped Emily.  0.629409  0.370591

In [82]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_10m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_10m,'She'))

P('subj-pron'|subj=male) =  0.7163617561260859
P('non-subj-pron'|subj=male) =  0.28363823145627975

In [83]:
np_average_subj_male_subj_pron['helped'] = compute_average(IC2_noprompt_10m,'He')
np_average_subj_male_obj_pron['helped'] = compute_average(IC2_noprompt_10m,'She')

### verb: "mocked"

In [84]:
IC2_noprompt_11 = pd.read_csv("../results/gpt2/IC2/no-prompt/11.csv")
IC2_noprompt_11.head()

                        stimulus        He       She
0   Miss Smith mocked Mr. Smith.  0.351175  0.648825
1      The woman mocked the man.  0.303533  0.696467
2              Mary mocked John.  0.451135  0.548865
3              Alice mocked Bob.  0.263199  0.736801
4  The actress mocked the actor.  0.085414  0.914586

In [85]:
# female subject
IC2_noprompt_11f = IC2_noprompt_11[0:12]
IC2_noprompt_11f = IC2_noprompt_11f[["stimulus","She","He"]]
# male subject
IC2_noprompt_11m = IC2_noprompt_11[12:24]

#### female subject

In [86]:
IC2_noprompt_11f

                            stimulus       She        He
0       Miss Smith mocked Mr. Smith.  0.648825  0.351175
1          The woman mocked the man.  0.696467  0.303533
2                  Mary mocked John.  0.548865  0.451135
3                  Alice mocked Bob.  0.736801  0.263199
4      The actress mocked the actor.  0.914586  0.085414
5           The girl mocked the boy.  0.697577  0.302423
6   Mrs. Taylor mocked Mr. Williams.  0.641277  0.358723
7                 Emma mocked David.  0.692197  0.307803
8    The princess mocked the prince.  0.734872  0.265128
9               Sarah mocked Robert.  0.568436  0.431564
10  Mrs. Williams mocked Mr. Taylor.  0.661810  0.338190
11                Emily mocked Paul.  0.755203  0.244797

In [87]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_11f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_11f,'He'))

P('subj-pron'|subj=female) =  0.6914095332225164
P('non-subj-pron'|subj=female) =  0.30859047174453735

In [88]:
np_average_subj_female_subj_pron['mocked'] = compute_average(IC2_noprompt_11f,'She')
np_average_subj_female_obj_pron['mocked'] = compute_average(IC2_noprompt_11f,'He')

#### male subject

In [89]:
IC2_noprompt_11m

                            stimulus        He       She
12      Mr. Smith mocked Miss Smith.  0.639590  0.360410
13         The man mocked the woman.  0.726978  0.273022
14                 John mocked Mary.  0.787953  0.212047
15                 Bob mocked Alice.  0.618872  0.381128
16     The actor mocked the actress.  0.788496  0.211504
17          The boy mocked the girl.  0.683361  0.316639
18   Mr. William mocked Mrs. Taylor.  0.625850  0.374150
19                David mocked Emma.  0.622858  0.377142
20   The prince mocked the princess.  0.701968  0.298032
21              Robert mocked Sarah.  0.659347  0.340653
22  Mr. Taylor mocked Mrs. Williams.  0.616120  0.383880
23                Paul mocked Emily.  0.583788  0.416212

In [90]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_11m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_11m,'She'))

P('subj-pron'|subj=male) =  0.6712649961312612
P('non-subj-pron'|subj=male) =  0.32873500883579254

In [91]:
np_average_subj_male_subj_pron['mocked'] = compute_average(IC2_noprompt_11m,'He')
np_average_subj_male_obj_pron['mocked'] = compute_average(IC2_noprompt_11m,'She')

#### verb: "noticed"

In [92]:
IC2_noprompt_12 = pd.read_csv("../results/gpt2/IC2/no-prompt/12.csv")
IC2_noprompt_12.head()

                         stimulus        He       She
0   Miss Smith noticed Mr. Smith.  0.365021  0.634979
1      The woman noticed the man.  0.334657  0.665343
2              Mary noticed John.  0.299732  0.700268
3              Alice noticed Bob.  0.212537  0.787463
4  The actress noticed the actor.  0.175050  0.824950

In [93]:
# female subject
IC2_noprompt_12f = IC2_noprompt_12[0:12]
IC2_noprompt_12f = IC2_noprompt_12f[["stimulus","She","He"]]
# male subject
IC2_noprompt_12m = IC2_noprompt_12[12:24]

#### female subject

In [94]:
IC2_noprompt_12f

                             stimulus       She        He
0       Miss Smith noticed Mr. Smith.  0.634979  0.365021
1          The woman noticed the man.  0.665343  0.334657
2                  Mary noticed John.  0.700268  0.299732
3                  Alice noticed Bob.  0.787463  0.212537
4      The actress noticed the actor.  0.824950  0.175050
5           The girl noticed the boy.  0.695466  0.304534
6   Mrs. Taylor noticed Mr. Williams.  0.612815  0.387184
7                 Emma noticed David.  0.702044  0.297956
8    The princess noticed the prince.  0.781181  0.218819
9               Sarah noticed Robert.  0.619029  0.380971
10  Mrs. Williams noticed Mr. Taylor.  0.616456  0.383544
11                Emily noticed Paul.  0.700977  0.299023

In [95]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_12f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_12f,'He'))

P('subj-pron'|subj=female) =  0.6950809905926386
P('non-subj-pron'|subj=female) =  0.3049190280338128

In [96]:
np_average_subj_female_subj_pron['noticed'] = compute_average(IC2_noprompt_12f,'She')
np_average_subj_female_obj_pron['noticed'] = compute_average(IC2_noprompt_12f,'He')

#### male subject

In [97]:
IC2_noprompt_12m

                             stimulus        He       She
12      Mr. Smith noticed Miss Smith.  0.561506  0.438494
13         The man noticed the woman.  0.623744  0.376256
14                 John noticed Mary.  0.595819  0.404181
15                 Bob noticed Alice.  0.604745  0.395255
16     The actor noticed the actress.  0.679733  0.320267
17          The boy noticed the girl.  0.559142  0.440858
18   Mr. William noticed Mrs. Taylor.  0.573573  0.426427
19                David noticed Emma.  0.564699  0.435301
20   The prince noticed the princess.  0.597807  0.402193
21              Robert noticed Sarah.  0.543475  0.456525
22  Mr. Taylor noticed Mrs. Williams.  0.557932  0.442068
23                Paul noticed Emily.  0.534097  0.465903

In [98]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_12m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_12m,'She'))

P('subj-pron'|subj=male) =  0.5830226888259252
P('non-subj-pron'|subj=male) =  0.4169773111740748

In [99]:
np_average_subj_male_subj_pron['noticed'] = compute_average(IC2_noprompt_12m,'He')
np_average_subj_male_obj_pron['noticed'] = compute_average(IC2_noprompt_12m,'She')

### verb: "pacified"

In [100]:
IC2_noprompt_13 = pd.read_csv("../results/gpt2/IC2/no-prompt/13.csv")
IC2_noprompt_13.head()

                          stimulus        He       She
0   Miss Smith pacified Mr. Smith.  0.494247  0.505754
1      The woman pacified the man.  0.308631  0.691369
2              Mary pacified John.  0.522009  0.477991
3              Alice pacified Bob.  0.337329  0.662671
4  The actress pacified the actor.  0.214767  0.785233

In [101]:
# female subject
IC2_noprompt_13f = IC2_noprompt_13[0:12]
IC2_noprompt_13f = IC2_noprompt_13f[["stimulus","She","He"]]
# male subject
IC2_noprompt_13m = IC2_noprompt_13[12:24]

#### female subject

In [102]:
IC2_noprompt_13f

                              stimulus       She        He
0       Miss Smith pacified Mr. Smith.  0.505754  0.494247
1          The woman pacified the man.  0.691369  0.308631
2                  Mary pacified John.  0.477991  0.522009
3                  Alice pacified Bob.  0.662671  0.337329
4      The actress pacified the actor.  0.785233  0.214767
5           The girl pacified the boy.  0.691843  0.308157
6   Mrs. Taylor pacified Mr. Williams.  0.482476  0.517524
7                 Emma pacified David.  0.665136  0.334864
8    The princess pacified the prince.  0.662540  0.337460
9               Sarah pacified Robert.  0.489787  0.510213
10  Mrs. Williams pacified Mr. Taylor.  0.503398  0.496602
11                Emily pacified Paul.  0.660397  0.339603

In [103]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_13f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_13f,'He'))

P('subj-pron'|subj=female) =  0.6065494219462076
P('non-subj-pron'|subj=female) =  0.3934505730867386

In [104]:
np_average_subj_female_subj_pron['pacified'] = compute_average(IC2_noprompt_13f,'She')
np_average_subj_female_obj_pron['pacified'] = compute_average(IC2_noprompt_13f,'He')

#### male subject

In [105]:
IC2_noprompt_13m

                              stimulus        He       She
12      Mr. Smith pacified Miss Smith.  0.508994  0.491006
13         The man pacified the woman.  0.684498  0.315502
14                 John pacified Mary.  0.704423  0.295577
15                 Bob pacified Alice.  0.676852  0.323148
16     The actor pacified the actress.  0.670370  0.329630
17          The boy pacified the girl.  0.673568  0.326432
18   Mr. William pacified Mrs. Taylor.  0.570594  0.429406
19                David pacified Emma.  0.588749  0.411251
20   The prince pacified the princess.  0.687529  0.312471
21              Robert pacified Sarah.  0.593784  0.406216
22  Mr. Taylor pacified Mrs. Williams.  0.553999  0.446001
23                Paul pacified Emily.  0.579409  0.420591

In [106]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_13m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_13m,'She'))

P('subj-pron'|subj=male) =  0.6243971933921179
P('non-subj-pron'|subj=male) =  0.37560280164082843

In [107]:
np_average_subj_male_subj_pron['pacified'] = compute_average(IC2_noprompt_13m,'He')
np_average_subj_male_obj_pron['pacified'] = compute_average(IC2_noprompt_13m,'She')

### verb: "praised"

In [108]:
IC2_noprompt_14 = pd.read_csv("../results/gpt2/IC2/no-prompt/14.csv")
IC2_noprompt_14.head()

                         stimulus        He       She
0   Miss Smith praised Mr. Smith.  0.262304  0.737696
1      The woman praised the man.  0.308441  0.691559
2              Mary praised John.  0.462744  0.537256
3              Alice praised Bob.  0.276991  0.723009
4  The actress praised the actor.  0.090355  0.909645

In [109]:
# female subject
IC2_noprompt_14f = IC2_noprompt_14[0:12]
IC2_noprompt_14f = IC2_noprompt_14f[["stimulus","She","He"]]
# male subject
IC2_noprompt_14m = IC2_noprompt_14[12:24]

#### female subject

In [110]:
IC2_noprompt_14f

                             stimulus       She        He
0       Miss Smith praised Mr. Smith.  0.737696  0.262304
1          The woman praised the man.  0.691559  0.308441
2                  Mary praised John.  0.537256  0.462744
3                  Alice praised Bob.  0.723009  0.276991
4      The actress praised the actor.  0.909645  0.090355
5           The girl praised the boy.  0.710266  0.289734
6   Mrs. Taylor praised Mr. Williams.  0.575245  0.424755
7                 Emma praised David.  0.667790  0.332210
8    The princess praised the prince.  0.726919  0.273081
9               Sarah praised Robert.  0.564050  0.435950
10  Mrs. Williams praised Mr. Taylor.  0.599791  0.400209
11                Emily praised Paul.  0.713798  0.286202

In [111]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_14f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_14f,'He'))

P('subj-pron'|subj=female) =  0.6797519028186798
P('non-subj-pron'|subj=female) =  0.3202480760713418

In [112]:
np_average_subj_female_subj_pron['praised'] = compute_average(IC2_noprompt_14f,'She')
np_average_subj_female_obj_pron['praised'] = compute_average(IC2_noprompt_14f,'He')

#### male subject

In [113]:
IC2_noprompt_14m

                             stimulus        He       She
12      Mr. Smith praised Miss Smith.  0.637855  0.362145
13         The man praised the woman.  0.743481  0.256519
14                 John praised Mary.  0.793207  0.206793
15                 Bob praised Alice.  0.683003  0.316997
16     The actor praised the actress.  0.764939  0.235061
17          The boy praised the girl.  0.716297  0.283703
18   Mr. William praised Mrs. Taylor.  0.695076  0.304924
19                David praised Emma.  0.665668  0.334332
20   The prince praised the princess.  0.715770  0.284230
21              Robert praised Sarah.  0.638111  0.361888
22  Mr. Taylor praised Mrs. Williams.  0.663255  0.336745
23                Paul praised Emily.  0.575356  0.424644

In [114]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_14m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_14m,'She'))

P('subj-pron'|subj=male) =  0.6910014947255453
P('non-subj-pron'|subj=male) =  0.30899851645032567

In [115]:
np_average_subj_male_subj_pron['praised'] = compute_average(IC2_noprompt_14m,'He')
np_average_subj_male_obj_pron['praised'] = compute_average(IC2_noprompt_14m,'She')

### verb: "reproached"

In [116]:
IC2_noprompt_15 = pd.read_csv("../results/gpt2/IC2/no-prompt/15.csv")
IC2_noprompt_15.head()

                            stimulus        He       She
0   Miss Smith reproached Mr. Smith.  0.563754  0.436246
1      The woman reproached the man.  0.471642  0.528358
2              Mary reproached John.  0.637242  0.362758
3              Alice reproached Bob.  0.340931  0.659069
4  The actress reproached the actor.  0.223649  0.776351

In [117]:
# female subject
IC2_noprompt_15f = IC2_noprompt_15[0:12]
IC2_noprompt_15f = IC2_noprompt_15f[["stimulus","She","He"]]
# male subject
IC2_noprompt_15m = IC2_noprompt_15[12:24]

#### female subject

In [118]:
IC2_noprompt_15f

                                stimulus       She        He
0       Miss Smith reproached Mr. Smith.  0.436246  0.563754
1          The woman reproached the man.  0.528358  0.471642
2                  Mary reproached John.  0.362758  0.637242
3                  Alice reproached Bob.  0.659069  0.340931
4      The actress reproached the actor.  0.776351  0.223649
5           The girl reproached the boy.  0.662096  0.337904
6   Mrs. Taylor reproached Mr. Williams.  0.431312  0.568688
7                 Emma reproached David.  0.479123  0.520877
8    The princess reproached the prince.  0.698205  0.301795
9               Sarah reproached Robert.  0.442798  0.557202
10  Mrs. Williams reproached Mr. Taylor.  0.464293  0.535707
11                Emily reproached Paul.  0.526109  0.473891

In [119]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_15f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_15f,'He'))

P('subj-pron'|subj=female) =  0.5388931334018707
P('non-subj-pron'|subj=female) =  0.46110688025752705

In [120]:
np_average_subj_female_subj_pron['reproached'] = compute_average(IC2_noprompt_15f,'She')
np_average_subj_female_obj_pron['reproached'] = compute_average(IC2_noprompt_15f,'He')

#### male subject

In [121]:
IC2_noprompt_15m

                                stimulus        He       She
12      Mr. Smith reproached Miss Smith.  0.468061  0.531939
13         The man reproached the woman.  0.517094  0.482906
14                 John reproached Mary.  0.766403  0.233597
15                 Bob reproached Alice.  0.557418  0.442582
16     The actor reproached the actress.  0.614646  0.385354
17          The boy reproached the girl.  0.499593  0.500407
18   Mr. William reproached Mrs. Taylor.  0.545197  0.454803
19                David reproached Emma.  0.644735  0.355265
20   The prince reproached the princess.  0.493406  0.506594
21              Robert reproached Sarah.  0.648986  0.351014
22  Mr. Taylor reproached Mrs. Williams.  0.501122  0.498879
23                Paul reproached Emily.  0.514282  0.485718

In [122]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_15m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_15m,'She'))

P('subj-pron'|subj=male) =  0.5642452786366144
P('non-subj-pron'|subj=male) =  0.4357547139128049

In [123]:
np_average_subj_male_subj_pron['reproached'] = compute_average(IC2_noprompt_15m,'He')
np_average_subj_male_obj_pron['reproached'] = compute_average(IC2_noprompt_15m,'She')

### verb: "scolded"

In [124]:
IC2_noprompt_16 = pd.read_csv("../results/gpt2/IC2/no-prompt/16.csv")
IC2_noprompt_16.head()

                         stimulus        He       She
0   Miss Smith scolded Mr. Smith.  0.463369  0.536631
1      The woman scolded the man.  0.329177  0.670823
2              Mary scolded John.  0.412712  0.587288
3              Alice scolded Bob.  0.270785  0.729215
4  The actress scolded the actor.  0.229317  0.770683

In [125]:
# female subject
IC2_noprompt_16f = IC2_noprompt_16[0:12]
IC2_noprompt_16f = IC2_noprompt_16f[["stimulus","She","He"]]
# male subject
IC2_noprompt_16m = IC2_noprompt_16[12:24]

#### female subject

In [126]:
IC2_noprompt_16f

                             stimulus       She        He
0       Miss Smith scolded Mr. Smith.  0.536631  0.463369
1          The woman scolded the man.  0.670823  0.329177
2                  Mary scolded John.  0.587288  0.412712
3                  Alice scolded Bob.  0.729215  0.270785
4      The actress scolded the actor.  0.770683  0.229317
5           The girl scolded the boy.  0.700781  0.299219
6   Mrs. Taylor scolded Mr. Williams.  0.512976  0.487024
7                 Emma scolded David.  0.681259  0.318741
8    The princess scolded the prince.  0.808786  0.191214
9               Sarah scolded Robert.  0.562877  0.437123
10  Mrs. Williams scolded Mr. Taylor.  0.531454  0.468546
11                Emily scolded Paul.  0.756708  0.243292

In [127]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_16f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_16f,'He'))

P('subj-pron'|subj=female) =  0.6541232814391454
P('non-subj-pron'|subj=female) =  0.3458767222861449

In [128]:
np_average_subj_female_subj_pron['scolded'] = compute_average(IC2_noprompt_16f,'She')
np_average_subj_female_obj_pron['scolded'] = compute_average(IC2_noprompt_16f,'He')

#### male subject

In [129]:
IC2_noprompt_16m

                             stimulus        He       She
12      Mr. Smith scolded Miss Smith.  0.476127  0.523873
13         The man scolded the woman.  0.588435  0.411565
14                 John scolded Mary.  0.578460  0.421540
15                 Bob scolded Alice.  0.444517  0.555483
16     The actor scolded the actress.  0.596210  0.403790
17          The boy scolded the girl.  0.604643  0.395357
18   Mr. William scolded Mrs. Taylor.  0.516143  0.483857
19                David scolded Emma.  0.450736  0.549264
20   The prince scolded the princess.  0.702720  0.297280
21              Robert scolded Sarah.  0.533475  0.466525
22  Mr. Taylor scolded Mrs. Williams.  0.488742  0.511258
23                Paul scolded Emily.  0.479943  0.520057

In [130]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_16m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_16m,'She'))

P('subj-pron'|subj=male) =  0.5383460621039072
P('non-subj-pron'|subj=male) =  0.4616539403796196

In [131]:
np_average_subj_male_subj_pron['scolded'] = compute_average(IC2_noprompt_16m,'He')
np_average_subj_male_obj_pron['scolded'] = compute_average(IC2_noprompt_16m,'She')

### verb: "stared"

In [132]:
IC2_noprompt_17 = pd.read_csv("../results/gpt2/IC2/no-prompt/17.csv")
IC2_noprompt_17.head()

                           stimulus        He       She
0   Miss Smith stared at Mr. Smith.  0.389696  0.610304
1      The woman stared at the man.  0.293064  0.706936
2              Mary stared at John.  0.293231  0.706769
3              Alice stared at Bob.  0.211391  0.788609
4  The actress stared at the actor.  0.320137  0.679863

In [133]:
# female subject
IC2_noprompt_17f = IC2_noprompt_17[0:12]
IC2_noprompt_17f = IC2_noprompt_17f[["stimulus","She","He"]]
# male subject
IC2_noprompt_17m = IC2_noprompt_17[12:24]

#### male subject

In [134]:
IC2_noprompt_17f

                               stimulus       She        He
0       Miss Smith stared at Mr. Smith.  0.610304  0.389696
1          The woman stared at the man.  0.706936  0.293064
2                  Mary stared at John.  0.706769  0.293231
3                  Alice stared at Bob.  0.788609  0.211391
4      The actress stared at the actor.  0.679863  0.320137
5           The girl stared at the boy.  0.749251  0.250749
6   Mrs. Taylor stared at Mr. Williams.  0.527003  0.472997
7                 Emma stared at David.  0.642169  0.357831
8    The princess stared at the prince.  0.857418  0.142582
9               Sarah stared at Robert.  0.558572  0.441428
10  Mrs. Williams stared at Mr. Taylor.  0.606918  0.393082
11                Emily stared at Paul.  0.736696  0.263304

In [135]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_17f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_17f,'He'))

P('subj-pron'|subj=female) =  0.6808757235606512
P('non-subj-pron'|subj=female) =  0.3191242751975854

In [136]:
np_average_subj_female_subj_pron['stared'] = compute_average(IC2_noprompt_17f,'She')
np_average_subj_female_obj_pron['stared'] = compute_average(IC2_noprompt_17f,'He')

#### female subject

In [137]:
IC2_noprompt_17m

                               stimulus        He       She
12      Mr. Smith stared at Miss Smith.  0.562909  0.437091
13         The man stared at the woman.  0.688698  0.311302
14                 John stared at Mary.  0.599337  0.400663
15                 Bob stared at Alice.  0.432723  0.567277
16     The actor stared at the actress.  0.486423  0.513577
17          The boy stared at the girl.  0.647221  0.352779
18   Mr. William stared at Mrs. Taylor.  0.560233  0.439767
19                David stared at Emma.  0.463285  0.536715
20   The prince stared at the princess.  0.679115  0.320885
21              Robert stared at Sarah.  0.510880  0.489120
22  Mr. Taylor stared at Mrs. Williams.  0.511066  0.488934
23                Paul stared at Emily.  0.520517  0.479483

In [138]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_17m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_17m,'She'))

P('subj-pron'|subj=male) =  0.5552006140351295
P('non-subj-pron'|subj=male) =  0.44479938348134357

In [139]:
np_average_subj_male_subj_pron['stared'] = compute_average(IC2_noprompt_17m,'He')
np_average_subj_male_obj_pron['stared'] = compute_average(IC2_noprompt_17m,'She')

### verb: "thanked"

In [140]:
IC2_noprompt_18 = pd.read_csv("../results/gpt2/IC2/no-prompt/18.csv")
IC2_noprompt_18.head()

                         stimulus        He       She
0   Miss Smith thanked Mr. Smith.  0.358374  0.641626
1      The woman thanked the man.  0.333594  0.666406
2              Mary thanked John.  0.399924  0.600076
3              Alice thanked Bob.  0.266881  0.733119
4  The actress thanked the actor.  0.144807  0.855193

In [141]:
# female subject
IC2_noprompt_18f = IC2_noprompt_18[0:12]
IC2_noprompt_18f = IC2_noprompt_18f[["stimulus","She","He"]]
# male subject
IC2_noprompt_18m = IC2_noprompt_18[12:24]

#### female subject

In [142]:
IC2_noprompt_18f

                             stimulus       She        He
0       Miss Smith thanked Mr. Smith.  0.641626  0.358374
1          The woman thanked the man.  0.666406  0.333594
2                  Mary thanked John.  0.600076  0.399924
3                  Alice thanked Bob.  0.733119  0.266881
4      The actress thanked the actor.  0.855193  0.144807
5           The girl thanked the boy.  0.721847  0.278153
6   Mrs. Taylor thanked Mr. Williams.  0.571927  0.428073
7                 Emma thanked David.  0.657380  0.342620
8    The princess thanked the prince.  0.809739  0.190261
9               Sarah thanked Robert.  0.559758  0.440242
10  Mrs. Williams thanked Mr. Taylor.  0.566773  0.433227
11                Emily thanked Paul.  0.719183  0.280817

In [143]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_18f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_18f,'He'))

P('subj-pron'|subj=female) =  0.6752523134152094
P('non-subj-pron'|subj=female) =  0.3247476816177368

In [144]:
np_average_subj_female_subj_pron['thanked'] = compute_average(IC2_noprompt_18f,'She')
np_average_subj_female_obj_pron['thanked'] = compute_average(IC2_noprompt_18f,'He')

In [145]:
IC2_noprompt_18m

                             stimulus        He       She
12      Mr. Smith thanked Miss Smith.  0.527024  0.472976
13         The man thanked the woman.  0.606325  0.393675
14                 John thanked Mary.  0.717937  0.282063
15                 Bob thanked Alice.  0.561271  0.438729
16     The actor thanked the actress.  0.716942  0.283058
17          The boy thanked the girl.  0.647650  0.352350
18   Mr. William thanked Mrs. Taylor.  0.649544  0.350456
19                David thanked Emma.  0.554085  0.445915
20   The prince thanked the princess.  0.664487  0.335513
21              Robert thanked Sarah.  0.564733  0.435267
22  Mr. Taylor thanked Mrs. Williams.  0.640788  0.359212
23                Paul thanked Emily.  0.580491  0.419509

In [146]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_18m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_18m,'She'))

P('subj-pron'|subj=male) =  0.6192730367183685
P('non-subj-pron'|subj=male) =  0.38072694341341656

In [147]:
np_average_subj_male_subj_pron['thanked'] = compute_average(IC2_noprompt_18m,'He')
np_average_subj_male_obj_pron['thanked'] = compute_average(IC2_noprompt_18m,'She')

### verb: "trusts"

In [148]:
IC2_noprompt_19 = pd.read_csv("../results/gpt2/IC2/no-prompt/19.csv")
IC2_noprompt_19.head()

                        stimulus        He       She
0   Miss Smith trusts Mr. Smith.  0.372658  0.627342
1      The woman trusts the man.  0.354139  0.645861
2              Mary trusts John.  0.346482  0.653518
3              Alice trusts Bob.  0.226969  0.773031
4  The actress trusts the actor.  0.188717  0.811283

In [149]:
# female subject
IC2_noprompt_19f = IC2_noprompt_19[0:12]
IC2_noprompt_19f = IC2_noprompt_19f[["stimulus","She","He"]]
# male subject
IC2_noprompt_19m = IC2_noprompt_19[12:24]

#### female subject

In [150]:
IC2_noprompt_19f

                            stimulus       She        He
0       Miss Smith trusts Mr. Smith.  0.627342  0.372658
1          The woman trusts the man.  0.645861  0.354139
2                  Mary trusts John.  0.653518  0.346482
3                  Alice trusts Bob.  0.773031  0.226969
4      The actress trusts the actor.  0.811283  0.188717
5           The girl trusts the boy.  0.632430  0.367570
6   Mrs. Taylor trusts Mr. Williams.  0.561222  0.438778
7                 Emma trusts David.  0.727401  0.272598
8    The princess trusts the prince.  0.680666  0.319334
9               Sarah trusts Robert.  0.555920  0.444079
10  Mrs. Williams trusts Mr. Taylor.  0.553116  0.446884
11                Emily trusts Paul.  0.760067  0.239933

In [151]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_19f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_19f,'He'))

P('subj-pron'|subj=female) =  0.6651548196872076
P('non-subj-pron'|subj=female) =  0.334845161686341

In [152]:
np_average_subj_female_subj_pron['trusts'] = compute_average(IC2_noprompt_19f,'She')
np_average_subj_female_obj_pron['trusts'] = compute_average(IC2_noprompt_19f,'He')

#### male subject

In [153]:
IC2_noprompt_19m

                            stimulus        He       She
12      Mr. Smith trusts Miss Smith.  0.709448  0.290552
13         The man trusts the woman.  0.724763  0.275237
14                 John trusts Mary.  0.784554  0.215446
15                 Bob trusts Alice.  0.819498  0.180502
16     The actor trusts the actress.  0.730385  0.269615
17          The boy trusts the girl.  0.657588  0.342412
18   Mr. William trusts Mrs. Taylor.  0.695122  0.304878
19                David trusts Emma.  0.650248  0.349752
20   The prince trusts the princess.  0.716733  0.283267
21              Robert trusts Sarah.  0.675871  0.324129
22  Mr. Taylor trusts Mrs. Williams.  0.712624  0.287376
23                Paul trusts Emily.  0.675859  0.324141

In [154]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_19m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_19m,'She'))

P('subj-pron'|subj=male) =  0.7127243181069692
P('non-subj-pron'|subj=male) =  0.28727566202481586

In [155]:
np_average_subj_male_subj_pron['trusts'] = compute_average(IC2_noprompt_19m,'He')
np_average_subj_male_obj_pron['trusts'] = compute_average(IC2_noprompt_19m,'She')

### verb: "values"

In [156]:
IC2_noprompt_20 = pd.read_csv("../results/gpt2/IC2/no-prompt/20.csv")
IC2_noprompt_20.head()

                        stimulus        He       She
0   Miss Smith values Mr. Smith.  0.314330  0.685670
1      The woman values the man.  0.180262  0.819738
2              Mary values John.  0.213390  0.786610
3              Alice values Bob.  0.402428  0.597572
4  The actress values the actor.  0.101426  0.898574

In [157]:
# female subject
IC2_noprompt_20f = IC2_noprompt_20[0:12]
IC2_noprompt_20f = IC2_noprompt_20f[["stimulus","She","He"]]
# male subject
IC2_noprompt_20m = IC2_noprompt_20[12:24]

#### female subject

In [158]:
IC2_noprompt_20f

                            stimulus       She        He
0       Miss Smith values Mr. Smith.  0.685670  0.314330
1          The woman values the man.  0.819738  0.180262
2                  Mary values John.  0.786610  0.213390
3                  Alice values Bob.  0.597572  0.402428
4      The actress values the actor.  0.898574  0.101426
5           The girl values the boy.  0.785030  0.214970
6   Mrs. Taylor values Mr. Williams.  0.633348  0.366652
7                 Emma values David.  0.806114  0.193886
8    The princess values the prince.  0.802389  0.197611
9               Sarah values Robert.  0.579996  0.420004
10  Mrs. Williams values Mr. Taylor.  0.649301  0.350699
11                Emily values Paul.  0.792923  0.207077

In [159]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_20f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_20f,'He'))

P('subj-pron'|subj=female) =  0.7364387661218643
P('non-subj-pron'|subj=female) =  0.2635612152516842

In [160]:
np_average_subj_female_subj_pron['values'] = compute_average(IC2_noprompt_20f,'She')
np_average_subj_female_obj_pron['values'] = compute_average(IC2_noprompt_20f,'He')

#### male subject

In [161]:
IC2_noprompt_20m

                            stimulus        He       She
12      Mr. Smith values Miss Smith.  0.764145  0.235855
13         The man values the woman.  0.867880  0.132120
14                 John values Mary.  0.823995  0.176005
15                 Bob values Alice.  0.756671  0.243329
16     The actor values the actress.  0.799055  0.200945
17          The boy values the girl.  0.797810  0.202190
18   Mr. William values Mrs. Taylor.  0.796218  0.203782
19                David values Emma.  0.650701  0.349299
20   The prince values the princess.  0.816180  0.183820
21              Robert values Sarah.  0.697169  0.302831
22  Mr. Taylor values Mrs. Williams.  0.778395  0.221605
23                Paul values Emily.  0.695360  0.304640

In [162]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_20m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_20m,'She'))

P('subj-pron'|subj=male) =  0.7702983617782593
P('non-subj-pron'|subj=male) =  0.22970164691408476

In [163]:
np_average_subj_male_subj_pron['values'] = compute_average(IC2_noprompt_20m,'He')
np_average_subj_male_obj_pron['values'] = compute_average(IC2_noprompt_20m,'She')

## Summary of Results

In [164]:
np_results_fsubj_subjpron = pd.DataFrame(list(np_average_subj_female_subj_pron.items()),columns=['verb','subj_ref_female_subj'])
np_results_fsubj_objpron = pd.DataFrame(list(np_average_subj_female_obj_pron.items()),columns=['verb','obj_ref_female_subj'])
np_results_fsubj = np_results_fsubj_subjpron.merge(np_results_fsubj_objpron)
np_results_fsubj

             verb  subj_ref_female_subj  obj_ref_female_subj
0        assisted              0.658918             0.341082
1          blames              0.700036             0.299964
2       comforted              0.625490             0.374510
3   congratulated              0.694246             0.305754
4       corrected              0.660548             0.339452
5         detests              0.697254             0.302746
6           fears              0.668064             0.331936
7          envies              0.755815             0.244185
8           hates              0.697615             0.302385
9          helped              0.681398             0.318602
10         mocked              0.691410             0.308590
11        noticed              0.695081             0.304919
12       pacified              0.606549             0.393451
13        praised              0.679752             0.320248
14     reproached              0.538893             0.461107
15        scolded              0.654123             0.345877
16         stared              0.680876             0.319124
17        thanked              0.675252             0.324748
18         trusts              0.665155             0.334845
19         values              0.736439             0.263561

In [165]:
np_results_msubj_subjpron = pd.DataFrame(list(np_average_subj_male_subj_pron.items()),columns=['verb','subj_ref_male_subj'])
np_results_msubj_objpron = pd.DataFrame(list(np_average_subj_male_obj_pron.items()),columns=['verb','obj_ref_male_subj'])
np_results_msubj = np_results_msubj_subjpron.merge(np_results_msubj_objpron)
np_results_msubj

             verb  subj_ref_male_subj  obj_ref_male_subj
0        assisted            0.684351           0.315649
1          blames            0.639540           0.360460
2       comforted            0.608398           0.391602
3   congratulated            0.608512           0.391488
4       corrected            0.625189           0.374811
5         detests            0.696280           0.303720
6           fears            0.661955           0.338045
7          envies            0.716852           0.283148
8           hates            0.685781           0.314219
9          helped            0.716362           0.283638
10         mocked            0.671265           0.328735
11        noticed            0.583023           0.416977
12       pacified            0.624397           0.375603
13        praised            0.691001           0.308999
14     reproached            0.564245           0.435755
15        scolded            0.538346           0.461654
16         stared            0.555201           0.444799
17        thanked            0.619273           0.380727
18         trusts            0.712724           0.287276
19         values            0.770298           0.229702

In [166]:
np_results = np_results_fsubj.merge(np_results_msubj)
np_results

,verb,subj_ref_female_subj,obj_ref_female_subj,subj_ref_male_subj,obj_ref_male_subj
0,assisted,0.658918,0.341082,0.684351,0.315649
1,blames,0.700036,0.299964,0.639540,0.360460
2,comforted,0.625490,0.374510,0.608398,0.391602
3,congratulated,0.694246,0.305754,0.608512,0.391488
4,corrected,0.660548,0.339452,0.625189,0.374811
5,detests,0.697254,0.302746,0.696280,0.303720
6,fears,0.668064,0.331936,0.661955,0.338045
7,envies,0.755815,0.244185,0.716852,0.283148
8,hates,0.697615,0.302385,0.685781,0.314219
9,helped,0.681398,0.318602,0.716362,0.283638
10,mocked,0.691410,0.308590,0.671265,0.328735
11,noticed,0.695081,0.304919,0.583023,0.416977
12,pacified,0.606549,0.393451,0.624397,0.375603
13,praised,0.679752,0.320248,0.691001,0.308999
14,reproached,0.538893,0.461107,0.564245,0.435755
15,scolded,0.654123,0.345877,0.538346,0.461654
16,stared,0.680876,0.319124,0.555201,0.444799
17,thanked,0.675252,0.324748,0.619273,0.380727
18,trusts,0.665155,0.334845,0.712724,0.287276
19,values,0.736439,0.263561,0.770298,0.229702

In [167]:
print("P(subj_reference |subj=female)", compute_average(np_results,'subj_ref_female_subj'))
print("P(obj_reference |subj=female)", compute_average(np_results,'obj_ref_female_subj'))

P(subj_reference |subj=female) 0.6731456721822421
P(obj_reference |subj=female) 0.32685432663808267

In [168]:
print("P(subj_reference |subj=male)", compute_average(np_results,'subj_ref_male_subj'))
print("P(obj_reference |subj=male)", compute_average(np_results,'obj_ref_male_subj'))

P(subj_reference |subj=male) 0.6486497106651465
P(obj_reference |subj=male) 0.35135028759638465

## Connective: "because"

In [169]:
c1_average_subj_female_subj_pron = {}
c1_average_subj_female_obj_pron = {}
c1_average_subj_male_subj_pron = {}
c1_average_subj_male_obj_pron = {}

### verb: "assisted"

In [170]:
IC2_connective1_1 = pd.read_csv("../results/gpt2/IC2/connective1/1.csv")
IC2_connective1_1.head()

                                 stimulus        he       she
0   Miss Smith assisted Mr. Smith because  0.417319  0.582681
1      The woman assisted the man because  0.318259  0.681741
2              Mary assisted John because  0.318965  0.681035
3              Alice assisted Bob because  0.243120  0.756880
4  The actress assisted the actor because  0.288506  0.711494

In [171]:
# female subject
IC2_connective1_1f = IC2_connective1_1[0:12]
IC2_connective1_1f = IC2_connective1_1f[["stimulus","she","he"]]
# male subject
IC2_connective1_1m = IC2_connective1_1[12:24]

#### female subject

In [172]:
IC2_connective1_1f

                                     stimulus       she        he
0       Miss Smith assisted Mr. Smith because  0.582681  0.417319
1          The woman assisted the man because  0.681741  0.318259
2                  Mary assisted John because  0.681035  0.318965
3                  Alice assisted Bob because  0.756880  0.243120
4      The actress assisted the actor because  0.711494  0.288506
5           The girl assisted the boy because  0.745979  0.254021
6   Mrs. Taylor assisted Mr. Williams because  0.567094  0.432906
7                 Emma assisted David because  0.650476  0.349524
8    The princess assisted the prince because  0.859942  0.140058
9               Sarah assisted Robert because  0.463244  0.536756
10  Mrs. Williams assisted Mr. Taylor because  0.546223  0.453777
11                Emily assisted Paul because  0.606216  0.393784

In [173]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_1f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_1f,'he'))

P('subj-pron'|subj=female) =  0.6544170652826627
P('non-subj-pron'|subj=female) =  0.3455829496184985

In [174]:
c1_average_subj_female_subj_pron['assisted'] = compute_average(IC2_connective1_1f,'she')
c1_average_subj_female_obj_pron['assisted'] = compute_average(IC2_connective1_1f,'he')

#### male subject

In [175]:
IC2_connective1_1m

                                     stimulus        he       she
12      Mr. Smith assisted Miss Smith because  0.554550  0.445450
13         The man assisted the woman because  0.590077  0.409923
14                 John assisted Mary because  0.601533  0.398467
15                 Bob assisted Alice because  0.715899  0.284101
16     The actor assisted the actress because  0.654921  0.345079
17          The boy assisted the girl because  0.639032  0.360968
18   Mr. William assisted Mrs. Taylor because  0.559477  0.440523
19                David assisted Emma because  0.554291  0.445709
20   The prince assisted the princess because  0.705905  0.294095
21              Robert assisted Sarah because  0.591901  0.408099
22  Mr. Taylor assisted Mrs. Williams because  0.584908  0.415091
23                Paul assisted Emily because  0.503939  0.496061

In [176]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_1m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_1m,'she'))

P('subj-pron'|subj=male) =  0.6047027905782064
P('non-subj-pron'|subj=male) =  0.39529721190532047

In [177]:
c1_average_subj_male_subj_pron['assisted'] = compute_average(IC2_connective1_1m,'he')
c1_average_subj_male_obj_pron['assisted'] = compute_average(IC2_connective1_1m,'she')

### verb: "blames"

In [178]:
IC2_connective1_2 = pd.read_csv("../results/gpt2/IC2/connective1/2.csv")
IC2_connective1_2.head()

                               stimulus        he       she
0   Miss Smith blames Mr. Smith because  0.613637  0.386363
1      The woman blames the man because  0.487619  0.512381
2              Mary blames John because  0.626029  0.373971
3              Alice blames Bob because  0.567238  0.432762
4  The actress blames the actor because  0.422251  0.577749

In [179]:
# female subject
IC2_connective1_2f = IC2_connective1_2[0:12]
IC2_connective1_2f = IC2_connective1_2f[["stimulus","she","he"]]
# male subject
IC2_connective1_2m = IC2_connective1_2[12:24]

#### female subject

In [180]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_2f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_2f,'he'))

P('subj-pron'|subj=female) =  0.4374222904443741
P('non-subj-pron'|subj=female) =  0.5625777145226797

In [181]:
c1_average_subj_female_subj_pron['blames'] = compute_average(IC2_connective1_2f,'she')
c1_average_subj_female_obj_pron['blames'] = compute_average(IC2_connective1_2f,'he')

#### male subject

In [182]:
IC2_connective1_2m

                                   stimulus        he       she
12      Mr. Smith blames Miss Smith because  0.353159  0.646841
13         The man blames the woman because  0.549237  0.450763
14                 John blames Mary because  0.326207  0.673793
15                 Bob blames Alice because  0.414170  0.585830
16     The actor blames the actress because  0.455311  0.544689
17          The boy blames the girl because  0.579594  0.420406
18   Mr. William blames Mrs. Taylor because  0.323387  0.676613
19                David blames Emma because  0.269543  0.730457
20   The prince blames the princess because  0.456747  0.543253
21              Robert blames Sarah because  0.349294  0.650706
22  Mr. Taylor blames Mrs. Williams because  0.358950  0.641050
23                Paul blames Emily because  0.235518  0.764482

In [183]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_2m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_2m,'she'))

P('subj-pron'|subj=male) =  0.3892597146332264
P('non-subj-pron'|subj=male) =  0.6107403089602789

In [184]:
c1_average_subj_male_subj_pron['blames'] = compute_average(IC2_connective1_2m,'he')
c1_average_subj_male_obj_pron['blames'] = compute_average(IC2_connective1_2m,'she')

### verb: "comforted"

In [185]:
IC2_connective1_3 = pd.read_csv("../results/gpt2/IC2/connective1/3.csv")
IC2_connective1_3.head()

                                  stimulus        he       she
0   Miss Smith comforted Mr. Smith because  0.749335  0.250666
1      The woman comforted the man because  0.552798  0.447202
2              Mary comforted John because  0.550492  0.449508
3              Alice comforted Bob because  0.478370  0.521630
4  The actress comforted the actor because  0.621397  0.378603

In [186]:
# female subject
IC2_connective1_3f = IC2_connective1_3[0:12]
IC2_connective1_3f = IC2_connective1_3f[["stimulus","she","he"]]
# male subject
IC2_connective1_3m = IC2_connective1_3[12:24]

#### female subject

In [187]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_3f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_3f,'he'))

P('subj-pron'|subj=female) =  0.4239717659850915
P('non-subj-pron'|subj=female) =  0.5760282377401987

In [188]:
c1_average_subj_female_subj_pron['comforted'] = compute_average(IC2_connective1_3f,'she')
c1_average_subj_female_obj_pron['comforted'] = compute_average(IC2_connective1_3f,'he')

#### male subject

In [189]:
IC2_connective1_3m

                                      stimulus        he       she
12      Mr. Smith comforted Miss Smith because  0.331488  0.668512
13         The man comforted the woman because  0.550708  0.449292
14                 John comforted Mary because  0.484307  0.515693
15                 Bob comforted Alice because  0.403601  0.596399
16     The actor comforted the actress because  0.409895  0.590105
17          The boy comforted the girl because  0.575775  0.424225
18   Mr. William comforted Mrs. Taylor because  0.382306  0.617694
19                David comforted Emma because  0.363374  0.636626
20   The prince comforted the princess because  0.538807  0.461193
21              Robert comforted Sarah because  0.480809  0.519191
22  Mr. Taylor comforted Mrs. Williams because  0.387011  0.612989
23                Paul comforted Emily because  0.409073  0.590927

In [190]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_3m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_3m,'she'))

P('subj-pron'|subj=male) =  0.44309600939353305
P('non-subj-pron'|subj=male) =  0.5569040055076281

In [191]:
c1_average_subj_male_subj_pron['comforted'] = compute_average(IC2_connective1_3m,'he')
c1_average_subj_male_obj_pron['comforted'] = compute_average(IC2_connective1_3m,'she')

### verb: "congratulated"

In [192]:
IC2_connective1_4 = pd.read_csv("../results/gpt2/IC2/connective1/4.csv")
IC2_connective1_4.head()

                                      stimulus        he       she
0   Miss Smith congratulated Mr. Smith because  0.738493  0.261507
1      The woman congratulated the man because  0.644673  0.355327
2              Mary congratulated John because  0.629982  0.370018
3              Alice congratulated Bob because  0.497099  0.502901
4  The actress congratulated the actor because  0.674179  0.325820

In [193]:
# female subject
IC2_connective1_4f = IC2_connective1_4[0:12]
IC2_connective1_4f = IC2_connective1_4f[["stimulus","she","he"]]
# male subject
IC2_connective1_4m = IC2_connective1_4[12:24]

#### female subject

In [194]:
IC2_connective1_4f

                                          stimulus       she        he
0       Miss Smith congratulated Mr. Smith because  0.261507  0.738493
1          The woman congratulated the man because  0.355327  0.644673
2                  Mary congratulated John because  0.370018  0.629982
3                  Alice congratulated Bob because  0.502901  0.497099
4      The actress congratulated the actor because  0.325820  0.674179
5           The girl congratulated the boy because  0.375271  0.624729
6   Mrs. Taylor congratulated Mr. Williams because  0.191148  0.808852
7                 Emma congratulated David because  0.442628  0.557372
8    The princess congratulated the prince because  0.463085  0.536915
9               Sarah congratulated Robert because  0.309000  0.691000
10  Mrs. Williams congratulated Mr. Taylor because  0.204186  0.795814
11                Emily congratulated Paul because  0.438372  0.561628

In [195]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_4f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_4f,'he'))

P('subj-pron'|subj=female) =  0.35327190284927684
P('non-subj-pron'|subj=female) =  0.6467280884583791

In [196]:
c1_average_subj_female_subj_pron['congratulated'] = compute_average(IC2_connective1_4f,'she')
c1_average_subj_female_obj_pron['congratulated'] = compute_average(IC2_connective1_4f,'he')

#### male subject

In [197]:
IC2_connective1_4m

                                          stimulus        he       she
12      Mr. Smith congratulated Miss Smith because  0.242280  0.757720
13         The man congratulated the woman because  0.351941  0.648059
14                 John congratulated Mary because  0.358114  0.641886
15                 Bob congratulated Alice because  0.336959  0.663041
16     The actor congratulated the actress because  0.262265  0.737735
17          The boy congratulated the girl because  0.408756  0.591244
18   Mr. William congratulated Mrs. Taylor because  0.266873  0.733127
19                David congratulated Emma because  0.205400  0.794600
20   The prince congratulated the princess because  0.275855  0.724145
21              Robert congratulated Sarah because  0.330523  0.669477
22  Mr. Taylor congratulated Mrs. Williams because  0.248660  0.751340
23                Paul congratulated Emily because  0.189829  0.810171

In [198]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_4m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_4m,'she'))

P('subj-pron'|subj=male) =  0.2897878872851531
P('non-subj-pron'|subj=male) =  0.7102121015389761

In [199]:
c1_average_subj_male_subj_pron['congratulated'] = compute_average(IC2_connective1_4m,'he')
c1_average_subj_male_obj_pron['congratulated'] = compute_average(IC2_connective1_4m,'she')

### verb: "corrected"

In [200]:
IC2_connective1_5 = pd.read_csv("../results/gpt2/IC2/connective1/5.csv")
IC2_connective1_5.head()

                                  stimulus        he       she
0   Miss Smith corrected Mr. Smith because  0.560819  0.439181
1      The woman corrected the man because  0.583605  0.416395
2              Mary corrected John because  0.516311  0.483689
3              Alice corrected Bob because  0.436857  0.563143
4  The actress corrected the actor because  0.519677  0.480323

In [201]:
# female subject
IC2_connective1_5f = IC2_connective1_5[0:12]
IC2_connective1_5f = IC2_connective1_5[["stimulus","she","he"]]
# male subject
IC2_connective1_5m = IC2_connective1_5[12:24]

#### female subject

In [202]:
IC2_connective1_5f

                                      stimulus       she        he
0       Miss Smith corrected Mr. Smith because  0.439181  0.560819
1          The woman corrected the man because  0.416395  0.583605
2                  Mary corrected John because  0.483689  0.516311
3                  Alice corrected Bob because  0.563143  0.436857
4      The actress corrected the actor because  0.480323  0.519677
5           The girl corrected the boy because  0.518370  0.481630
6   Mrs. Taylor corrected Mr. Williams because  0.340480  0.659520
7                 Emma corrected David because  0.452972  0.547028
8    The princess corrected the prince because  0.495096  0.504904
9               Sarah corrected Robert because  0.402833  0.597167
10  Mrs. Williams corrected Mr. Taylor because  0.378615  0.621385
11                Emily corrected Paul because  0.467259  0.532741
12      Mr. Smith corrected Miss Smith because  0.554567  0.445433
13         The man corrected the woman because  0.559986  0.440014
14                 John corrected Mary because  0.562168  0.437832
15                 Bob corrected Alice because  0.525929  0.474071
16     The actor corrected the actress because  0.537057  0.462943
17          The boy corrected the girl because  0.510431  0.489569
18   Mr. William corrected Mrs. Taylor because  0.558558  0.441442
19                David corrected Emma because  0.643943  0.356057
20   The prince corrected the princess because  0.629673  0.370327
21              Robert corrected Sarah because  0.571080  0.428920
22  Mr. Taylor corrected Mrs. Williams because  0.579288  0.420712
23                Paul corrected Emily because  0.671431  0.328569

In [203]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_5f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_5f,'he'))

P('subj-pron'|subj=female) =  0.5142694848279158
P('non-subj-pron'|subj=female) =  0.485730508963267

In [204]:
c1_average_subj_female_subj_pron['corrected'] = compute_average(IC2_connective1_5f,'she')
c1_average_subj_female_obj_pron['corrected'] = compute_average(IC2_connective1_5f,'he')

#### male subject

In [205]:
IC2_connective1_5m

                                      stimulus        he       she
12      Mr. Smith corrected Miss Smith because  0.445433  0.554567
13         The man corrected the woman because  0.440014  0.559986
14                 John corrected Mary because  0.437832  0.562168
15                 Bob corrected Alice because  0.474071  0.525929
16     The actor corrected the actress because  0.462943  0.537057
17          The boy corrected the girl because  0.489569  0.510431
18   Mr. William corrected Mrs. Taylor because  0.441442  0.558558
19                David corrected Emma because  0.356057  0.643943
20   The prince corrected the princess because  0.370327  0.629673
21              Robert corrected Sarah because  0.428920  0.571080
22  Mr. Taylor corrected Mrs. Williams because  0.420712  0.579288
23                Paul corrected Emily because  0.328569  0.671431

In [206]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_5m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_5m,'she'))

P('subj-pron'|subj=male) =  0.4246574168403943
P('non-subj-pron'|subj=male) =  0.575342575709025

In [207]:
c1_average_subj_male_subj_pron['corrected'] = compute_average(IC2_connective1_5m,'he')
c1_average_subj_male_obj_pron['corrected'] = compute_average(IC2_connective1_5m,'she')

### verb: "detests"

In [208]:
IC2_connective1_6 = pd.read_csv("../results/gpt2/IC2/connective1/6.csv")
IC2_connective1_6.head()

                                stimulus        he       she
0   Miss Smith detests Mr. Smith because  0.753515  0.246485
1      The woman detests the man because  0.714853  0.285147
2              Mary detests John because  0.667533  0.332467
3              Alice detests Bob because  0.602309  0.397691
4  The actress detests the actor because  0.649372  0.350628

In [209]:
# female subject
IC2_connective1_6f = IC2_connective1_6[0:12]
IC2_connective1_6f = IC2_connective1_6[["stimulus","she","he"]]
# male subject
IC2_connective1_6m = IC2_connective1_6[12:24]

#### female subject

In [210]:
IC2_connective1_6f

                                    stimulus       she        he
0       Miss Smith detests Mr. Smith because  0.246485  0.753515
1          The woman detests the man because  0.285147  0.714853
2                  Mary detests John because  0.332467  0.667533
3                  Alice detests Bob because  0.397691  0.602309
4      The actress detests the actor because  0.350628  0.649372
5           The girl detests the boy because  0.296852  0.703148
6   Mrs. Taylor detests Mr. Williams because  0.251399  0.748601
7                 Emma detests David because  0.391347  0.608653
8    The princess detests the prince because  0.254386  0.745614
9               Sarah detests Robert because  0.300344  0.699656
10  Mrs. Williams detests Mr. Taylor because  0.294725  0.705275
11                Emily detests Paul because  0.430135  0.569865
12      Mr. Smith detests Miss Smith because  0.737306  0.262694
13         The man detests the woman because  0.652997  0.347003
14                 John detests Mary because  0.740636  0.259364
15                 Bob detests Alice because  0.700789  0.299211
16     The actor detests the actress because  0.659161  0.340839
17          The boy detests the girl because  0.657112  0.342888
18   Mr. William detests Mrs. Taylor because  0.651273  0.348727
19                David detests Emma because  0.795353  0.204647
20   The prince detests the princess because  0.769315  0.230685
21              Robert detests Sarah because  0.683420  0.316581
22  Mr. Taylor detests Mrs. Williams because  0.676871  0.323129
23                Paul detests Emily because  0.812890  0.187110

In [211]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_6f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_6f,'he'))

P('subj-pron'|subj=female) =  0.5153636019676924
P('non-subj-pron'|subj=female) =  0.4846364017575979

In [212]:
c1_average_subj_female_subj_pron['detests'] = compute_average(IC2_connective1_6f,'she')
c1_average_subj_female_obj_pron['detests'] = compute_average(IC2_connective1_6f,'he')

#### male subject

In [213]:
IC2_connective1_6m

                                    stimulus        he       she
12      Mr. Smith detests Miss Smith because  0.262694  0.737306
13         The man detests the woman because  0.347003  0.652997
14                 John detests Mary because  0.259364  0.740636
15                 Bob detests Alice because  0.299211  0.700789
16     The actor detests the actress because  0.340839  0.659161
17          The boy detests the girl because  0.342888  0.657112
18   Mr. William detests Mrs. Taylor because  0.348727  0.651273
19                David detests Emma because  0.204647  0.795353
20   The prince detests the princess because  0.230685  0.769315
21              Robert detests Sarah because  0.316581  0.683420
22  Mr. Taylor detests Mrs. Williams because  0.323129  0.676871
23                Paul detests Emily because  0.187110  0.812890

In [214]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_6m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_6m,'she'))

P('subj-pron'|subj=male) =  0.28857313717405003
P('non-subj-pron'|subj=male) =  0.7114268640677134

In [215]:
c1_average_subj_male_subj_pron['detests'] = compute_average(IC2_connective1_6m,'he')
c1_average_subj_male_obj_pron['detests'] = compute_average(IC2_connective1_6m,'she')

### verb: "fears"

In [216]:
IC2_connective1_7 = pd.read_csv("../results/gpt2/IC2/connective1/7.csv")
IC2_connective1_7.head()

                              stimulus        he       she
0   Miss Smith fears Mr. Smith because  0.694793  0.305207
1      The woman fears the man because  0.559306  0.440694
2              Mary fears John because  0.620774  0.379226
3              Alice fears Bob because  0.564961  0.435039
4  The actress fears the actor because  0.519359  0.480641

In [217]:
# female subject
IC2_connective1_7f = IC2_connective1_7[0:12]
IC2_connective1_7f = IC2_connective1_7f[["stimulus","she","he"]]
# male subject
IC2_connective1_7m = IC2_connective1_7[12:24]

#### female subject

In [218]:
IC2_connective1_7f

                                  stimulus       she        he
0       Miss Smith fears Mr. Smith because  0.305207  0.694793
1          The woman fears the man because  0.440694  0.559306
2                  Mary fears John because  0.379226  0.620774
3                  Alice fears Bob because  0.435039  0.564961
4      The actress fears the actor because  0.480641  0.519359
5           The girl fears the boy because  0.392211  0.607789
6   Mrs. Taylor fears Mr. Williams because  0.245326  0.754674
7                 Emma fears David because  0.421653  0.578347
8    The princess fears the prince because  0.350236  0.649764
9               Sarah fears Robert because  0.307634  0.692366
10  Mrs. Williams fears Mr. Taylor because  0.228273  0.771727
11                Emily fears Paul because  0.465198  0.534802

In [219]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_7f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_7f,'he'))

P('subj-pron'|subj=female) =  0.37094491968552273
P('non-subj-pron'|subj=female) =  0.629055067896843

In [220]:
c1_average_subj_female_subj_pron['fears'] = compute_average(IC2_connective1_7f,'she')
c1_average_subj_female_obj_pron['fears'] = compute_average(IC2_connective1_7f,'he')

#### male subject

In [221]:
IC2_connective1_7m

                                  stimulus        he       she
12      Mr. Smith fears Miss Smith because  0.309390  0.690610
13         The man fears the woman because  0.523373  0.476627
14                 John fears Mary because  0.417482  0.582517
15                 Bob fears Alice because  0.388166  0.611834
16     The actor fears the actress because  0.471712  0.528288
17          The boy fears the girl because  0.485139  0.514862
18   Mr. William fears Mrs. Taylor because  0.362037  0.637963
19                David fears Emma because  0.326629  0.673371
20   The prince fears the princess because  0.372291  0.627709
21              Robert fears Sarah because  0.415901  0.584099
22  Mr. Taylor fears Mrs. Williams because  0.364971  0.635029
23                Paul fears Emily because  0.271580  0.728420

In [222]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_7m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_7m,'she'))

P('subj-pron'|subj=male) =  0.3923892577489217
P('non-subj-pron'|subj=male) =  0.6076107273499171

In [223]:
c1_average_subj_male_subj_pron['fears'] = compute_average(IC2_connective1_7m,'he')
c1_average_subj_male_obj_pron['fears'] = compute_average(IC2_connective1_7m,'she')

### verb: "envies"

In [224]:
IC2_connective1_8 = pd.read_csv("../results/gpt2/IC2/connective1/8.csv")
IC2_connective1_8.head()

                               stimulus        he       she
0   Miss Smith envies Mr. Smith because  0.587771  0.412229
1      The woman envies the man because  0.498579  0.501421
2              Mary envies John because  0.457855  0.542145
3              Alice envies Bob because  0.350855  0.649145
4  The actress envies the actor because  0.477692  0.522308

In [225]:
# female subject
IC2_connective1_8f = IC2_connective1_8[0:12]
IC2_connective1_8f = IC2_connective1_8f[["stimulus","she","he"]]
# male subject
IC2_connective1_8m = IC2_connective1_8[12:24]

#### female subject

In [226]:
IC2_connective1_8f

                                   stimulus       she        he
0       Miss Smith envies Mr. Smith because  0.412229  0.587771
1          The woman envies the man because  0.501421  0.498579
2                  Mary envies John because  0.542145  0.457855
3                  Alice envies Bob because  0.649145  0.350855
4      The actress envies the actor because  0.522308  0.477692
5           The girl envies the boy because  0.551051  0.448949
6   Mrs. Taylor envies Mr. Williams because  0.353235  0.646765
7                 Emma envies David because  0.581471  0.418529
8    The princess envies the prince because  0.494213  0.505787
9               Sarah envies Robert because  0.412937  0.587063
10  Mrs. Williams envies Mr. Taylor because  0.402472  0.597528
11                Emily envies Paul because  0.609070  0.390930

In [227]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_8f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_8f,'he'))

P('subj-pron'|subj=female) =  0.5026414940754572
P('non-subj-pron'|subj=female) =  0.4973585282762845

In [228]:
c1_average_subj_female_subj_pron['envies'] = compute_average(IC2_connective1_8f,'she')
c1_average_subj_female_obj_pron['envies'] = compute_average(IC2_connective1_8f,'he')

#### male subject

In [229]:
IC2_connective1_8m

                                   stimulus        he       she
12      Mr. Smith envies Miss Smith because  0.360963  0.639037
13         The man envies the woman because  0.507440  0.492560
14                 John envies Mary because  0.501712  0.498288
15                 Bob envies Alice because  0.472097  0.527903
16     The actor envies the actress because  0.475112  0.524888
17          The boy envies the girl because  0.559875  0.440125
18   Mr. William envies Mrs. Taylor because  0.415071  0.584929
19                David envies Emma because  0.400369  0.599631
20   The prince envies the princess because  0.525082  0.474918
21              Robert envies Sarah because  0.497958  0.502042
22  Mr. Taylor envies Mrs. Williams because  0.405296  0.594704
23                Paul envies Emily because  0.377851  0.622149

In [230]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_8m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_8m,'she'))

P('subj-pron'|subj=male) =  0.4582354997595151
P('non-subj-pron'|subj=male) =  0.5417645201086998

In [231]:
c1_average_subj_male_subj_pron['envies'] = compute_average(IC2_connective1_8m,'he')
c1_average_subj_male_obj_pron['envies'] = compute_average(IC2_connective1_8m,'she')

### verb: "hates"

In [232]:
IC2_connective1_9 = pd.read_csv("../results/gpt2/IC2/connective1/9.csv")
IC2_connective1_9.head()

                              stimulus        he       she
0   Miss Smith hates Mr. Smith because  0.739582  0.260418
1      The woman hates the man because  0.667071  0.332929
2              Mary hates John because  0.660501  0.339499
3              Alice hates Bob because  0.622317  0.377683
4  The actress hates the actor because  0.572570  0.427430

In [233]:
# female subject
IC2_connective1_9f = IC2_connective1_9[0:12]
IC2_connective1_9f = IC2_connective1_9f[["stimulus","she","he"]]
# male subject
IC2_connective1_9m = IC2_connective1_9[12:24]

#### female subject

In [234]:
IC2_connective1_9f

                                  stimulus       she        he
0       Miss Smith hates Mr. Smith because  0.260418  0.739582
1          The woman hates the man because  0.332929  0.667071
2                  Mary hates John because  0.339499  0.660501
3                  Alice hates Bob because  0.377683  0.622317
4      The actress hates the actor because  0.427430  0.572570
5           The girl hates the boy because  0.348347  0.651653
6   Mrs. Taylor hates Mr. Williams because  0.212968  0.787032
7                 Emma hates David because  0.356695  0.643305
8    The princess hates the prince because  0.296476  0.703524
9               Sarah hates Robert because  0.260204  0.739796
10  Mrs. Williams hates Mr. Taylor because  0.257234  0.742766
11                Emily hates Paul because  0.377893  0.622106

In [235]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_9f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_9f,'he'))

P('subj-pron'|subj=female) =  0.3206479959189892
P('non-subj-pron'|subj=female) =  0.6793519953886668

In [236]:
c1_average_subj_female_subj_pron['hates'] = compute_average(IC2_connective1_9f,'she')
c1_average_subj_female_obj_pron['hates'] = compute_average(IC2_connective1_9f,'he')

#### male subject

In [237]:
IC2_connective1_9m

                                  stimulus        he       she
12      Mr. Smith hates Miss Smith because  0.249365  0.750635
13         The man hates the woman because  0.405942  0.594058
14                 John hates Mary because  0.347716  0.652285
15                 Bob hates Alice because  0.316039  0.683961
16     The actor hates the actress because  0.407675  0.592325
17          The boy hates the girl because  0.402120  0.597880
18   Mr. William hates Mrs. Taylor because  0.324302  0.675698
19                David hates Emma because  0.270306  0.729694
20   The prince hates the princess because  0.353015  0.646985
21              Robert hates Sarah because  0.361671  0.638329
22  Mr. Taylor hates Mrs. Williams because  0.320367  0.679633
23                Paul hates Emily because  0.262616  0.737384

In [238]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_9m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_9m,'she'))

P('subj-pron'|subj=male) =  0.33509449909130734
P('non-subj-pron'|subj=male) =  0.6649054934581121

In [239]:
c1_average_subj_male_subj_pron['hates'] = compute_average(IC2_connective1_9m,'he')
c1_average_subj_male_obj_pron['hates'] = compute_average(IC2_connective1_9m,'she')

### verb: "helped"

In [240]:
IC2_connective1_10 = pd.read_csv("../results/gpt2/IC2/connective1/10.csv")
IC2_connective1_10.head()

                               stimulus        he       she
0   Miss Smith helped Mr. Smith because  0.386483  0.613517
1      The woman helped the man because  0.420626  0.579374
2              Mary helped John because  0.231567  0.768433
3              Alice helped Bob because  0.218518  0.781482
4  The actress helped the actor because  0.319007  0.680993

In [241]:
# female subject
IC2_connective1_10f = IC2_connective1_10[0:12]
IC2_connective1_10f = IC2_connective1_10f[["stimulus","she","he"]]
# male subject
IC2_connective1_10m = IC2_connective1_10[12:24]

#### female subject

In [242]:
IC2_connective1_10f

                                   stimulus       she        he
0       Miss Smith helped Mr. Smith because  0.613517  0.386483
1          The woman helped the man because  0.579374  0.420626
2                  Mary helped John because  0.768433  0.231567
3                  Alice helped Bob because  0.781482  0.218518
4      The actress helped the actor because  0.680993  0.319007
5           The girl helped the boy because  0.682473  0.317527
6   Mrs. Taylor helped Mr. Williams because  0.638259  0.361741
7                 Emma helped David because  0.684023  0.315977
8    The princess helped the prince because  0.825372  0.174628
9               Sarah helped Robert because  0.518303  0.481697
10  Mrs. Williams helped Mr. Taylor because  0.596734  0.403266
11                Emily helped Paul because  0.672997  0.327003

In [243]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_10f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_10f,'he'))

P('subj-pron'|subj=female) =  0.6701634029547373
P('non-subj-pron'|subj=female) =  0.32983661194642383

In [244]:
c1_average_subj_female_subj_pron['helped'] = compute_average(IC2_connective1_10f,'she')
c1_average_subj_female_obj_pron['helped'] = compute_average(IC2_connective1_10f,'he')

#### male subject

In [245]:
IC2_connective1_10m

                                   stimulus        he       she
12      Mr. Smith helped Miss Smith because  0.550720  0.449280
13         The man helped the woman because  0.572691  0.427309
14                 John helped Mary because  0.664191  0.335809
15                 Bob helped Alice because  0.718119  0.281881
16     The actor helped the actress because  0.635415  0.364585
17          The boy helped the girl because  0.646061  0.353939
18   Mr. William helped Mrs. Taylor because  0.628821  0.371178
19                David helped Emma because  0.608841  0.391159
20   The prince helped the princess because  0.740887  0.259113
21              Robert helped Sarah because  0.631502  0.368498
22  Mr. Taylor helped Mrs. Williams because  0.654339  0.345661
23                Paul helped Emily because  0.571003  0.428997

In [246]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_10m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_10m,'she'))

P('subj-pron'|subj=male) =  0.6352159231901169
P('non-subj-pron'|subj=male) =  0.3647840892275174

In [247]:
c1_average_subj_male_subj_pron['helped'] = compute_average(IC2_connective1_10m,'he')
c1_average_subj_male_obj_pron['helped'] = compute_average(IC2_connective1_10m,'she')

### verb: "mocked"

In [248]:
IC2_connective1_11 = pd.read_csv("../results/gpt2/IC2/connective1/11.csv")
IC2_connective1_11.head()

                               stimulus        he       she
0   Miss Smith mocked Mr. Smith because  0.776811  0.223189
1      The woman mocked the man because  0.723609  0.276391
2              Mary mocked John because  0.656837  0.343163
3              Alice mocked Bob because  0.579546  0.420454
4  The actress mocked the actor because  0.680456  0.319544

In [249]:
# female subject
IC2_connective1_11f = IC2_connective1_11[0:12]
IC2_connective1_11f = IC2_connective1_11f[["stimulus","she","he"]]
# male subject
IC2_connective1_11m = IC2_connective1_11[12:24]

#### female subject

In [250]:
IC2_connective1_11f

                                   stimulus       she        he
0       Miss Smith mocked Mr. Smith because  0.223189  0.776811
1          The woman mocked the man because  0.276391  0.723609
2                  Mary mocked John because  0.343163  0.656837
3                  Alice mocked Bob because  0.420454  0.579546
4      The actress mocked the actor because  0.319544  0.680456
5           The girl mocked the boy because  0.331764  0.668236
6   Mrs. Taylor mocked Mr. Williams because  0.207518  0.792482
7                 Emma mocked David because  0.367220  0.632780
8    The princess mocked the prince because  0.417305  0.582695
9               Sarah mocked Robert because  0.281953  0.718047
10  Mrs. Williams mocked Mr. Taylor because  0.250716  0.749284
11                Emily mocked Paul because  0.448859  0.551141

In [251]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_11f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_11f,'he'))

P('subj-pron'|subj=female) =  0.32400644073883694
P('non-subj-pron'|subj=female) =  0.6759935766458511

In [252]:
c1_average_subj_female_subj_pron['mocked'] = compute_average(IC2_connective1_11f,'she')
c1_average_subj_female_obj_pron['mocked'] = compute_average(IC2_connective1_11f,'he')

#### male subject

In [253]:
IC2_connective1_11m

                                   stimulus        he       she
12      Mr. Smith mocked Miss Smith because  0.210760  0.789240
13         The man mocked the woman because  0.332823  0.667177
14                 John mocked Mary because  0.302859  0.697141
15                 Bob mocked Alice because  0.360027  0.639973
16     The actor mocked the actress because  0.280126  0.719875
17          The boy mocked the girl because  0.352430  0.647570
18   Mr. William mocked Mrs. Taylor because  0.288572  0.711428
19                David mocked Emma because  0.210808  0.789192
20   The prince mocked the princess because  0.395144  0.604856
21              Robert mocked Sarah because  0.314315  0.685685
22  Mr. Taylor mocked Mrs. Williams because  0.259623  0.740377
23                Paul mocked Emily because  0.151372  0.848628

In [254]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_11m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_11m,'she'))

P('subj-pron'|subj=male) =  0.28823834906021756
P('non-subj-pron'|subj=male) =  0.7117616583903631

In [255]:
c1_average_subj_male_subj_pron['mocked'] = compute_average(IC2_connective1_11m,'he')
c1_average_subj_male_obj_pron['mocked'] = compute_average(IC2_connective1_11m,'she')

### verb: "noticed"

In [256]:
IC2_connective1_12 = pd.read_csv("../results/gpt2/IC2/connective1/12.csv")
IC2_connective1_12.head()

                                stimulus        he       she
0   Miss Smith noticed Mr. Smith because  0.680222  0.319778
1      The woman noticed the man because  0.628136  0.371864
2              Mary noticed John because  0.591061  0.408939
3              Alice noticed Bob because  0.569301  0.430699
4  The actress noticed the actor because  0.556139  0.443861

In [257]:
# female subject
IC2_connective1_12f = IC2_connective1_12[0:12]
IC2_connective1_12f = IC2_connective1_12f[["stimulus","she","he"]]
# male subject
IC2_connective1_12m = IC2_connective1_12[12:24]

#### female subject

In [258]:
IC2_connective1_12f

                                    stimulus       she        he
0       Miss Smith noticed Mr. Smith because  0.319778  0.680222
1          The woman noticed the man because  0.371864  0.628136
2                  Mary noticed John because  0.408939  0.591061
3                  Alice noticed Bob because  0.430699  0.569301
4      The actress noticed the actor because  0.443861  0.556139
5           The girl noticed the boy because  0.413491  0.586509
6   Mrs. Taylor noticed Mr. Williams because  0.297940  0.702060
7                 Emma noticed David because  0.407494  0.592506
8    The princess noticed the prince because  0.463277  0.536723
9               Sarah noticed Robert because  0.346986  0.653014
10  Mrs. Williams noticed Mr. Taylor because  0.296209  0.703791
11                Emily noticed Paul because  0.374236  0.625764

In [259]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_12f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_12f,'he'))

P('subj-pron'|subj=female) =  0.381231094400088
P('non-subj-pron'|subj=female) =  0.6187689205010732

In [260]:
c1_average_subj_female_subj_pron['noticed'] = compute_average(IC2_connective1_12f,'she')
c1_average_subj_female_obj_pron['noticed'] = compute_average(IC2_connective1_12f,'he')

#### male subject

In [261]:
IC2_connective1_12m

                                    stimulus        he       she
12      Mr. Smith noticed Miss Smith because  0.414920  0.585080
13         The man noticed the woman because  0.422262  0.577738
14                 John noticed Mary because  0.374783  0.625217
15                 Bob noticed Alice because  0.360046  0.639954
16     The actor noticed the actress because  0.431745  0.568255
17          The boy noticed the girl because  0.399676  0.600324
18   Mr. William noticed Mrs. Taylor because  0.360072  0.639928
19                David noticed Emma because  0.397807  0.602193
20   The prince noticed the princess because  0.343153  0.656847
21              Robert noticed Sarah because  0.433795  0.566205
22  Mr. Taylor noticed Mrs. Williams because  0.364665  0.635334
23                Paul noticed Emily because  0.341044  0.658957

In [262]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_12m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_12m,'she'))

P('subj-pron'|subj=male) =  0.38699740916490555
P('non-subj-pron'|subj=male) =  0.6130026032527288

In [263]:
c1_average_subj_male_subj_pron['noticed'] = compute_average(IC2_connective1_12m,'he')
c1_average_subj_male_obj_pron['noticed'] = compute_average(IC2_connective1_12m,'she')

### verb: "pacified"

In [264]:
IC2_connective1_13 = pd.read_csv("../results/gpt2/IC2/connective1/13.csv")
IC2_connective1_13.head()

                                 stimulus        he       she
0   Miss Smith pacified Mr. Smith because  0.546374  0.453626
1      The woman pacified the man because  0.353741  0.646259
2              Mary pacified John because  0.309209  0.690791
3              Alice pacified Bob because  0.350404  0.649596
4  The actress pacified the actor because  0.399763  0.600237

In [265]:
# female subject
IC2_connective1_13f = IC2_connective1_13[0:12]
IC2_connective1_13f = IC2_connective1_13f[["stimulus","she","he"]]
# male subject
IC2_connective1_13m = IC2_connective1_13[12:24]

#### female subject

In [266]:
IC2_connective1_13f

                                     stimulus       she        he
0       Miss Smith pacified Mr. Smith because  0.453626  0.546374
1          The woman pacified the man because  0.646259  0.353741
2                  Mary pacified John because  0.690791  0.309209
3                  Alice pacified Bob because  0.649596  0.350404
4      The actress pacified the actor because  0.600237  0.399763
5           The girl pacified the boy because  0.646791  0.353209
6   Mrs. Taylor pacified Mr. Williams because  0.405245  0.594755
7                 Emma pacified David because  0.676779  0.323221
8    The princess pacified the prince because  0.702919  0.297081
9               Sarah pacified Robert because  0.423061  0.576939
10  Mrs. Williams pacified Mr. Taylor because  0.431264  0.568736
11                Emily pacified Paul because  0.621856  0.378144

In [267]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_13f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_13f,'he'))

P('subj-pron'|subj=female) =  0.5790352796514829
P('non-subj-pron'|subj=female) =  0.42096471786499023

In [268]:
c1_average_subj_female_subj_pron['pacified'] = compute_average(IC2_connective1_13f,'she')
c1_average_subj_female_obj_pron['pacified'] = compute_average(IC2_connective1_13f,'he')

#### male subject

In [269]:
IC2_connective1_13m

                                     stimulus        he       she
12      Mr. Smith pacified Miss Smith because  0.440189  0.559811
13         The man pacified the woman because  0.627111  0.372889
14                 John pacified Mary because  0.533700  0.466300
15                 Bob pacified Alice because  0.605717  0.394283
16     The actor pacified the actress because  0.575519  0.424481
17          The boy pacified the girl because  0.647404  0.352596
18   Mr. William pacified Mrs. Taylor because  0.491413  0.508587
19                David pacified Emma because  0.428215  0.571785
20   The prince pacified the princess because  0.629125  0.370875
21              Robert pacified Sarah because  0.560270  0.439730
22  Mr. Taylor pacified Mrs. Williams because  0.484610  0.515390
23                Paul pacified Emily because  0.467394  0.532606

In [270]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_13m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_13m,'she'))

P('subj-pron'|subj=male) =  0.5408888906240463
P('non-subj-pron'|subj=male) =  0.4591111019253731

In [271]:
c1_average_subj_male_subj_pron['pacified'] = compute_average(IC2_connective1_13m,'he')
c1_average_subj_male_obj_pron['pacified'] = compute_average(IC2_connective1_13m,'she')

### verb: "praised"

In [272]:
IC2_connective1_14 = pd.read_csv("../results/gpt2/IC2/connective1/14.csv")
IC2_connective1_14.head()

                                stimulus        he       she
0   Miss Smith praised Mr. Smith because  0.768991  0.231009
1      The woman praised the man because  0.741280  0.258720
2              Mary praised John because  0.773415  0.226585
3              Alice praised Bob because  0.576301  0.423699
4  The actress praised the actor because  0.724217  0.275783

In [273]:
# female subject
IC2_connective1_14f = IC2_connective1_14[0:12]
IC2_connective1_14f = IC2_connective1_14f[["stimulus","she","he"]]
# male subject
IC2_connective1_14m = IC2_connective1_14[12:24]

#### female subject

In [274]:
IC2_connective1_14f

                                    stimulus       she        he
0       Miss Smith praised Mr. Smith because  0.231009  0.768991
1          The woman praised the man because  0.258720  0.741280
2                  Mary praised John because  0.226585  0.773415
3                  Alice praised Bob because  0.423699  0.576301
4      The actress praised the actor because  0.275783  0.724217
5           The girl praised the boy because  0.325856  0.674144
6   Mrs. Taylor praised Mr. Williams because  0.162997  0.837003
7                 Emma praised David because  0.284134  0.715866
8    The princess praised the prince because  0.312786  0.687214
9               Sarah praised Robert because  0.221035  0.778965
10  Mrs. Williams praised Mr. Taylor because  0.169354  0.830646
11                Emily praised Paul because  0.409146  0.590854

In [275]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_14f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_14f,'he'))

P('subj-pron'|subj=female) =  0.27509212866425514
P('non-subj-pron'|subj=female) =  0.7249078700939814

In [276]:
c1_average_subj_female_subj_pron['praised'] = compute_average(IC2_connective1_14f,'she')
c1_average_subj_female_obj_pron['praised'] = compute_average(IC2_connective1_14f,'he')

#### male subject

In [277]:
IC2_connective1_14m

                                    stimulus        he       she
12      Mr. Smith praised Miss Smith because  0.175285  0.824715
13         The man praised the woman because  0.319693  0.680307
14                 John praised Mary because  0.238402  0.761598
15                 Bob praised Alice because  0.276472  0.723528
16     The actor praised the actress because  0.234267  0.765733
17          The boy praised the girl because  0.374027  0.625973
18   Mr. William praised Mrs. Taylor because  0.255284  0.744716
19                David praised Emma because  0.257890  0.742110
20   The prince praised the princess because  0.211437  0.788563
21              Robert praised Sarah because  0.325129  0.674871
22  Mr. Taylor praised Mrs. Williams because  0.226099  0.773901
23                Paul praised Emily because  0.147707  0.852293

In [278]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_14m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_14m,'she'))

P('subj-pron'|subj=male) =  0.25347452610731125
P('non-subj-pron'|subj=male) =  0.7465254763762156

In [279]:
c1_average_subj_male_subj_pron['praised'] = compute_average(IC2_connective1_14m,'he')
c1_average_subj_male_obj_pron['praised'] = compute_average(IC2_connective1_14m,'she')

### verb: "reproached"

In [280]:
IC2_connective1_15 = pd.read_csv("../results/gpt2/IC2/connective1/15.csv")
IC2_connective1_15.head()

                                   stimulus        he       she
0   Miss Smith reproached Mr. Smith because  0.890715  0.109285
1      The woman reproached the man because  0.815523  0.184477
2              Mary reproached John because  0.900934  0.099066
3              Alice reproached Bob because  0.619972  0.380028
4  The actress reproached the actor because  0.674777  0.325223

In [281]:
# female subject
IC2_connective1_15f = IC2_connective1_15[0:12]
IC2_connective1_15f = IC2_connective1_15f[["stimulus","she","he"]]
# male subject
IC2_connective1_15m = IC2_connective1_15[12:24]

#### female subject

In [282]:
IC2_connective1_15f

                                       stimulus       she        he
0       Miss Smith reproached Mr. Smith because  0.109285  0.890715
1          The woman reproached the man because  0.184477  0.815523
2                  Mary reproached John because  0.099066  0.900934
3                  Alice reproached Bob because  0.380028  0.619972
4      The actress reproached the actor because  0.325223  0.674777
5           The girl reproached the boy because  0.290566  0.709435
6   Mrs. Taylor reproached Mr. Williams because  0.147741  0.852259
7                 Emma reproached David because  0.197271  0.802729
8    The princess reproached the prince because  0.259677  0.740323
9               Sarah reproached Robert because  0.256177  0.743823
10  Mrs. Williams reproached Mr. Taylor because  0.144585  0.855415
11                Emily reproached Paul because  0.260250  0.739750

In [283]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_15f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_15f,'he'))

P('subj-pron'|subj=female) =  0.22119548730552197
P('non-subj-pron'|subj=female) =  0.7788045058647791

In [284]:
c1_average_subj_female_subj_pron['reproached'] = compute_average(IC2_connective1_15f,'she')
c1_average_subj_female_obj_pron['reproached'] = compute_average(IC2_connective1_15f,'he')

#### male subject

In [285]:
IC2_connective1_15m

                                       stimulus        he       she
12      Mr. Smith reproached Miss Smith because  0.145251  0.854749
13         The man reproached the woman because  0.102083  0.897917
14                 John reproached Mary because  0.149925  0.850075
15                 Bob reproached Alice because  0.308667  0.691333
16     The actor reproached the actress because  0.234846  0.765154
17          The boy reproached the girl because  0.267715  0.732285
18   Mr. William reproached Mrs. Taylor because  0.197818  0.802182
19                David reproached Emma because  0.148027  0.851973
20   The prince reproached the princess because  0.140617  0.859383
21              Robert reproached Sarah because  0.258796  0.741204
22  Mr. Taylor reproached Mrs. Williams because  0.177086  0.822915
23                Paul reproached Emily because  0.129060  0.870939

In [286]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_15m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_15m,'she'))

P('subj-pron'|subj=male) =  0.18832432851195335
P('non-subj-pron'|subj=male) =  0.8116756727298101

In [287]:
c1_average_subj_male_subj_pron['reproached'] = compute_average(IC2_connective1_15m,'he')
c1_average_subj_male_obj_pron['reproached'] = compute_average(IC2_connective1_15m,'she')

### verb: "scolded"

In [288]:
IC2_connective1_16 = pd.read_csv("../results/gpt2/IC2/connective1/16.csv")
IC2_connective1_16.head()

                                stimulus        he       she
0   Miss Smith scolded Mr. Smith because  0.851837  0.148163
1      The woman scolded the man because  0.717691  0.282309
2              Mary scolded John because  0.684835  0.315165
3              Alice scolded Bob because  0.610472  0.389528
4  The actress scolded the actor because  0.712242  0.287758

In [289]:
# female subject
IC2_connective1_16f = IC2_connective1_16[0:12]
IC2_connective1_16f = IC2_connective1_16f[["stimulus","she","he"]]
# male subject
IC2_connective1_16m = IC2_connective1_16[12:24]

#### female subject

In [290]:
IC2_connective1_16f

                                    stimulus       she        he
0       Miss Smith scolded Mr. Smith because  0.148163  0.851837
1          The woman scolded the man because  0.282309  0.717691
2                  Mary scolded John because  0.315165  0.684835
3                  Alice scolded Bob because  0.389528  0.610472
4      The actress scolded the actor because  0.287758  0.712242
5           The girl scolded the boy because  0.297866  0.702134
6   Mrs. Taylor scolded Mr. Williams because  0.161830  0.838170
7                 Emma scolded David because  0.351265  0.648735
8    The princess scolded the prince because  0.376219  0.623781
9               Sarah scolded Robert because  0.295329  0.704671
10  Mrs. Williams scolded Mr. Taylor because  0.185998  0.814002
11                Emily scolded Paul because  0.411688  0.588312

In [291]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_16f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_16f,'he'))

P('subj-pron'|subj=female) =  0.29192646717031795
P('non-subj-pron'|subj=female) =  0.7080735514561335

In [292]:
c1_average_subj_female_subj_pron['scolded'] = compute_average(IC2_connective1_16f,'she')
c1_average_subj_female_obj_pron['scolded'] = compute_average(IC2_connective1_16f,'he')

#### male subject

In [293]:
IC2_connective1_16m

                                    stimulus        he       she
12      Mr. Smith scolded Miss Smith because  0.169532  0.830468
13         The man scolded the woman because  0.251556  0.748444
14                 John scolded Mary because  0.291176  0.708824
15                 Bob scolded Alice because  0.249070  0.750930
16     The actor scolded the actress because  0.268954  0.731046
17          The boy scolded the girl because  0.323261  0.676739
18   Mr. William scolded Mrs. Taylor because  0.214941  0.785059
19                David scolded Emma because  0.172893  0.827107
20   The prince scolded the princess because  0.258177  0.741823
21              Robert scolded Sarah because  0.282854  0.717146
22  Mr. Taylor scolded Mrs. Williams because  0.196783  0.803217
23                Paul scolded Emily because  0.152712  0.847288

In [294]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_16m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_16m,'she'))

P('subj-pron'|subj=male) =  0.23599238817890486
P('non-subj-pron'|subj=male) =  0.7640076130628586

In [295]:
c1_average_subj_male_subj_pron['scolded'] = compute_average(IC2_connective1_16m,'he')
c1_average_subj_male_obj_pron['scolded'] = compute_average(IC2_connective1_16m,'she')

### verb: "stared"

In [296]:
IC2_connective1_17 = pd.read_csv("../results/gpt2/IC2/connective1/17.csv")
IC2_connective1_17.head()

                                  stimulus        he       she
0   Miss Smith stared at Mr. Smith because  0.443496  0.556504
1      The woman stared at the man because  0.273425  0.726575
2              Mary stared at John because  0.298700  0.701299
3              Alice stared at Bob because  0.284762  0.715238
4  The actress stared at the actor because  0.355125  0.644875

In [297]:
# female subject
IC2_connective1_17f = IC2_connective1_17[0:12]
IC2_connective1_17f = IC2_connective1_17f[["stimulus","she","he"]]
# male subject
IC2_connective1_17m = IC2_connective1_17[12:24]

#### female subject

In [298]:
IC2_connective1_17f

                                      stimulus       she        he
0       Miss Smith stared at Mr. Smith because  0.556504  0.443496
1          The woman stared at the man because  0.726575  0.273425
2                  Mary stared at John because  0.701299  0.298700
3                  Alice stared at Bob because  0.715238  0.284762
4      The actress stared at the actor because  0.644875  0.355125
5           The girl stared at the boy because  0.750418  0.249582
6   Mrs. Taylor stared at Mr. Williams because  0.548413  0.451587
7                 Emma stared at David because  0.652879  0.347121
8    The princess stared at the prince because  0.834684  0.165316
9               Sarah stared at Robert because  0.503483  0.496517
10  Mrs. Williams stared at Mr. Taylor because  0.577887  0.422113
11                Emily stared at Paul because  0.672550  0.327450

In [299]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_17f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_17f,'he'))

P('subj-pron'|subj=female) =  0.6570670654376348
P('non-subj-pron'|subj=female) =  0.34293291345238686

In [300]:
c1_average_subj_female_subj_pron['stared'] = compute_average(IC2_connective1_17f,'she')
c1_average_subj_female_obj_pron['stared'] = compute_average(IC2_connective1_17f,'he')

#### male subject

In [301]:
IC2_connective1_17m

                                      stimulus        he       she
12      Mr. Smith stared at Miss Smith because  0.533049  0.466951
13         The man stared at the woman because  0.690804  0.309196
14                 John stared at Mary because  0.572203  0.427797
15                 Bob stared at Alice because  0.503248  0.496752
16     The actor stared at the actress because  0.597543  0.402457
17          The boy stared at the girl because  0.616062  0.383938
18   Mr. William stared at Mrs. Taylor because  0.573239  0.426761
19                David stared at Emma because  0.470821  0.529179
20   The prince stared at the princess because  0.687209  0.312791
21              Robert stared at Sarah because  0.500080  0.499920
22  Mr. Taylor stared at Mrs. Williams because  0.538449  0.461551
23                Paul stared at Emily because  0.487188  0.512812

In [302]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_17m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_17m,'she'))

P('subj-pron'|subj=male) =  0.5641578907767931
P('non-subj-pron'|subj=male) =  0.4358421141902606

In [303]:
c1_average_subj_male_subj_pron['stared'] = compute_average(IC2_connective1_17m,'he')
c1_average_subj_male_obj_pron['stared'] = compute_average(IC2_connective1_17m,'she')

### verb: "thanked"

In [304]:
IC2_connective1_18 = pd.read_csv("../results/gpt2/IC2/connective1/18.csv")
IC2_connective1_18.head()

                                stimulus        he       she
0   Miss Smith thanked Mr. Smith because  0.692563  0.307437
1      The woman thanked the man because  0.621757  0.378243
2              Mary thanked John because  0.611871  0.388129
3              Alice thanked Bob because  0.535675  0.464325
4  The actress thanked the actor because  0.599286  0.400714

In [305]:
# female subject
IC2_connective1_18f = IC2_connective1_18[0:12]
IC2_connective1_18f = IC2_connective1_18f[["stimulus","she","he"]]
# male subject
IC2_connective1_18m = IC2_connective1_18[12:24]

#### female subject

In [306]:
IC2_connective1_18f

                                    stimulus       she        he
0       Miss Smith thanked Mr. Smith because  0.307437  0.692563
1          The woman thanked the man because  0.378243  0.621757
2                  Mary thanked John because  0.388129  0.611871
3                  Alice thanked Bob because  0.464325  0.535675
4      The actress thanked the actor because  0.400714  0.599286
5           The girl thanked the boy because  0.428021  0.571979
6   Mrs. Taylor thanked Mr. Williams because  0.305304  0.694696
7                 Emma thanked David because  0.443341  0.556659
8    The princess thanked the prince because  0.573439  0.426561
9               Sarah thanked Robert because  0.336776  0.663224
10  Mrs. Williams thanked Mr. Taylor because  0.299478  0.700522
11                Emily thanked Paul because  0.489496  0.510504

In [307]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_18f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_18f,'he'))

P('subj-pron'|subj=female) =  0.40122513224681217
P('non-subj-pron'|subj=female) =  0.5987748478849729

In [308]:
c1_average_subj_female_subj_pron['thanked'] = compute_average(IC2_connective1_18f,'she')
c1_average_subj_female_obj_pron['thanked'] = compute_average(IC2_connective1_18f,'he')

#### male subject

In [309]:
IC2_connective1_18m

                                    stimulus        he       she
12      Mr. Smith thanked Miss Smith because  0.348833  0.651167
13         The man thanked the woman because  0.497184  0.502816
14                 John thanked Mary because  0.486282  0.513718
15                 Bob thanked Alice because  0.427951  0.572049
16     The actor thanked the actress because  0.387209  0.612791
17          The boy thanked the girl because  0.487895  0.512105
18   Mr. William thanked Mrs. Taylor because  0.389198  0.610802
19                David thanked Emma because  0.370259  0.629741
20   The prince thanked the princess because  0.439412  0.560588
21              Robert thanked Sarah because  0.444598  0.555402
22  Mr. Taylor thanked Mrs. Williams because  0.352727  0.647273
23                Paul thanked Emily because  0.331500  0.668500

In [310]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_18m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_18m,'she'))

P('subj-pron'|subj=male) =  0.4135873019695282
P('non-subj-pron'|subj=male) =  0.5864127029975256

In [311]:
c1_average_subj_male_subj_pron['thanked'] = compute_average(IC2_connective1_18m,'he')
c1_average_subj_male_obj_pron['thanked'] = compute_average(IC2_connective1_18m,'she')

### verb: "trusts"

In [312]:
IC2_connective1_19 = pd.read_csv("../results/gpt2/IC2/connective1/19.csv")
IC2_connective1_19.head()

                               stimulus        he       she
0   Miss Smith trusts Mr. Smith because  0.650604  0.349396
1      The woman trusts the man because  0.633913  0.366087
2              Mary trusts John because  0.504287  0.495713
3              Alice trusts Bob because  0.501179  0.498821
4  The actress trusts the actor because  0.471432  0.528568

In [313]:
# female subject
IC2_connective1_19f = IC2_connective1_19[0:12]
IC2_connective1_19f = IC2_connective1_19f[["stimulus","she","he"]]
# male subject
IC2_connective1_19m = IC2_connective1_19[12:24]

#### female subject

In [314]:
IC2_connective1_19f

                                   stimulus       she        he
0       Miss Smith trusts Mr. Smith because  0.349396  0.650604
1          The woman trusts the man because  0.366087  0.633913
2                  Mary trusts John because  0.495713  0.504287
3                  Alice trusts Bob because  0.498821  0.501179
4      The actress trusts the actor because  0.528568  0.471432
5           The girl trusts the boy because  0.411733  0.588267
6   Mrs. Taylor trusts Mr. Williams because  0.314865  0.685135
7                 Emma trusts David because  0.548214  0.451786
8    The princess trusts the prince because  0.507362  0.492638
9               Sarah trusts Robert because  0.353703  0.646297
10  Mrs. Williams trusts Mr. Taylor because  0.338278  0.661722
11                Emily trusts Paul because  0.513184  0.486816

In [315]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_19f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_19f,'he'))

P('subj-pron'|subj=female) =  0.4354936058322589
P('non-subj-pron'|subj=female) =  0.564506414035956

In [316]:
c1_average_subj_female_subj_pron['trusts'] = compute_average(IC2_connective1_19f,'she')
c1_average_subj_female_obj_pron['trusts'] = compute_average(IC2_connective1_19f,'he')

#### male subject

In [317]:
IC2_connective1_19m

                                   stimulus        he       she
12      Mr. Smith trusts Miss Smith because  0.456979  0.543021
13         The man trusts the woman because  0.529996  0.470004
14                 John trusts Mary because  0.535680  0.464320
15                 Bob trusts Alice because  0.611966  0.388034
16     The actor trusts the actress because  0.512795  0.487205
17          The boy trusts the girl because  0.561625  0.438375
18   Mr. William trusts Mrs. Taylor because  0.507180  0.492820
19                David trusts Emma because  0.464951  0.535049
20   The prince trusts the princess because  0.573085  0.426915
21              Robert trusts Sarah because  0.546672  0.453328
22  Mr. Taylor trusts Mrs. Williams because  0.512548  0.487452
23                Paul trusts Emily because  0.460503  0.539497

In [318]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_19m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_19m,'she'))

P('subj-pron'|subj=male) =  0.522831584016482
P('non-subj-pron'|subj=male) =  0.47716842343409854

In [319]:
c1_average_subj_male_subj_pron['trusts'] = compute_average(IC2_connective1_19m,'he')
c1_average_subj_male_obj_pron['trusts'] = compute_average(IC2_connective1_19m,'she')

### verb: "values"

In [320]:
IC2_connective1_20 = pd.read_csv("../results/gpt2/IC2/connective1/20.csv")
IC2_connective1_20.head()

                               stimulus        he       she
0   Miss Smith values Mr. Smith because  0.743833  0.256167
1      The woman values the man because  0.665388  0.334612
2              Mary values John because  0.540751  0.459249
3              Alice values Bob because  0.557187  0.442813
4  The actress values the actor because  0.386990  0.613010

In [321]:
# female subject
IC2_connective1_20f = IC2_connective1_20[0:12]
IC2_connective1_20f = IC2_connective1_20f[["stimulus","she","he"]]
# male subject
IC2_connective1_20m = IC2_connective1_20[12:24]

#### female subject

In [322]:
IC2_connective1_20f

                                   stimulus       she        he
0       Miss Smith values Mr. Smith because  0.256167  0.743833
1          The woman values the man because  0.334612  0.665388
2                  Mary values John because  0.459249  0.540751
3                  Alice values Bob because  0.442813  0.557187
4      The actress values the actor because  0.613010  0.386990
5           The girl values the boy because  0.383319  0.616681
6   Mrs. Taylor values Mr. Williams because  0.225096  0.774904
7                 Emma values David because  0.418477  0.581523
8    The princess values the prince because  0.418260  0.581740
9               Sarah values Robert because  0.292621  0.707379
10  Mrs. Williams values Mr. Taylor because  0.257237  0.742763
11                Emily values Paul because  0.354710  0.645290

In [323]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_20f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_20f,'he'))

P('subj-pron'|subj=female) =  0.37129759540160495
P('non-subj-pron'|subj=female) =  0.6287024021148682

In [324]:
c1_average_subj_female_subj_pron['values'] = compute_average(IC2_connective1_20f,'she')
c1_average_subj_female_obj_pron['values'] = compute_average(IC2_connective1_20f,'he')

#### male subject

In [325]:
IC2_connective1_20m

                                   stimulus        he       she
12      Mr. Smith values Miss Smith because  0.282061  0.717939
13         The man values the woman because  0.491870  0.508130
14                 John values Mary because  0.384652  0.615348
15                 Bob values Alice because  0.462141  0.537859
16     The actor values the actress because  0.492288  0.507712
17          The boy values the girl because  0.463381  0.536619
18   Mr. William values Mrs. Taylor because  0.463119  0.536881
19                David values Emma because  0.295395  0.704605
20   The prince values the princess because  0.447643  0.552357
21              Robert values Sarah because  0.449363  0.550637
22  Mr. Taylor values Mrs. Williams because  0.443482  0.556517
23                Paul values Emily because  0.296056  0.703944

In [326]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_20m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_20m,'she'))

P('subj-pron'|subj=male) =  0.41428761680920917
P('non-subj-pron'|subj=male) =  0.5857123682896296

In [327]:
c1_average_subj_male_subj_pron['values'] = compute_average(IC2_connective1_20m,'he')
c1_average_subj_male_obj_pron['values'] = compute_average(IC2_connective1_20m,'she')

## Summary of Results

In [328]:
c1_results_fsubj_subjpron = pd.DataFrame(list(c1_average_subj_female_subj_pron.items()),columns=['verb','subj_ref_female_subj'])
c1_results_fsubj_objpron = pd.DataFrame(list(c1_average_subj_female_obj_pron.items()),columns=['verb','obj_ref_female_subj'])
c1_results_fsubj = c1_results_fsubj_subjpron.merge(c1_results_fsubj_objpron)
c1_results_fsubj

             verb  subj_ref_female_subj  obj_ref_female_subj
0        assisted              0.654417             0.345583
1          blames              0.437422             0.562578
2       comforted              0.423972             0.576028
3   congratulated              0.353272             0.646728
4       corrected              0.514269             0.485731
5         detests              0.515364             0.484636
6           fears              0.370945             0.629055
7          envies              0.502641             0.497359
8           hates              0.320648             0.679352
9          helped              0.670163             0.329837
10         mocked              0.324006             0.675994
11        noticed              0.381231             0.618769
12       pacified              0.579035             0.420965
13        praised              0.275092             0.724908
14     reproached              0.221195             0.778805
15        scolded              0.291926             0.708074
16         stared              0.657067             0.342933
17        thanked              0.401225             0.598775
18         trusts              0.435494             0.564506
19         values              0.371298             0.628702

In [329]:
c1_results_msubj_subjpron = pd.DataFrame(list(c1_average_subj_male_subj_pron.items()),columns=['verb','subj_ref_male_subj'])
c1_results_msubj_objpron = pd.DataFrame(list(c1_average_subj_male_obj_pron.items()),columns=['verb','obj_ref_male_subj'])
c1_results_msubj = c1_results_msubj_subjpron.merge(c1_results_msubj_objpron)
c1_results_msubj

             verb  subj_ref_male_subj  obj_ref_male_subj
0        assisted            0.604703           0.395297
1          blames            0.389260           0.610740
2       comforted            0.443096           0.556904
3   congratulated            0.289788           0.710212
4       corrected            0.424657           0.575343
5         detests            0.288573           0.711427
6           fears            0.392389           0.607611
7          envies            0.458235           0.541765
8           hates            0.335094           0.664905
9          helped            0.635216           0.364784
10         mocked            0.288238           0.711762
11        noticed            0.386997           0.613003
12       pacified            0.540889           0.459111
13        praised            0.253475           0.746525
14     reproached            0.188324           0.811676
15        scolded            0.235992           0.764008
16         stared            0.564158           0.435842
17        thanked            0.413587           0.586413
18         trusts            0.522832           0.477168
19         values            0.414288           0.585712

In [330]:
c1_results = c1_results_fsubj.merge(c1_results_msubj)
c1_results

,verb,subj_ref_female_subj,obj_ref_female_subj,subj_ref_male_subj,obj_ref_male_subj
0,assisted,0.654417,0.345583,0.604703,0.395297
1,blames,0.437422,0.562578,0.389260,0.610740
2,comforted,0.423972,0.576028,0.443096,0.556904
3,congratulated,0.353272,0.646728,0.289788,0.710212
4,corrected,0.514269,0.485731,0.424657,0.575343
5,detests,0.515364,0.484636,0.288573,0.711427
6,fears,0.370945,0.629055,0.392389,0.607611
7,envies,0.502641,0.497359,0.458235,0.541765
8,hates,0.320648,0.679352,0.335094,0.664905
9,helped,0.670163,0.329837,0.635216,0.364784
10,mocked,0.324006,0.675994,0.288238,0.711762
11,noticed,0.381231,0.618769,0.386997,0.613003
12,pacified,0.579035,0.420965,0.540889,0.459111
13,praised,0.275092,0.724908,0.253475,0.746525
14,reproached,0.221195,0.778805,0.188324,0.811676
15,scolded,0.291926,0.708074,0.235992,0.764008
16,stared,0.657067,0.342933,0.564158,0.435842
17,thanked,0.401225,0.598775,0.413587,0.586413
18,trusts,0.435494,0.564506,0.522832,0.477168
19,values,0.371298,0.628702,0.414288,0.585712

In [331]:
print("P(subj_reference |subj=female)", compute_average(c1_results,'subj_ref_female_subj'))
print("P(obj_reference |subj=female)", compute_average(c1_results,'obj_ref_female_subj'))

P(subj_reference |subj=female) 0.4350342110420267
P(obj_reference |subj=female) 0.5649657912241915

In [332]:
print("P(subj_reference |subj=male)", compute_average(c1_results,'subj_ref_male_subj'))
print("P(obj_reference |subj=male)", compute_average(c1_results,'obj_ref_male_subj'))

P(subj_reference |subj=male) 0.4034896210456888
P(obj_reference |subj=male) 0.5965103816241026

## Connective: "and, as a result"

In [333]:
c2_average_subj_female_subj_pron = {}
c2_average_subj_female_obj_pron = {}
c2_average_subj_male_subj_pron = {}
c2_average_subj_male_obj_pron = {}

### verb: "assisted"

In [334]:
IC2_connective2_1 = pd.read_csv("../results/gpt2/IC2/connective2/1.csv")
IC2_connective2_1.head()

                                           stimulus        he       she
0   Miss Smith assisted Mr. Smith and, as a result,  0.614191  0.385809
1      The woman assisted the man and, as a result,  0.483674  0.516326
2              Mary assisted John and, as a result,  0.384673  0.615327
3              Alice assisted Bob and, as a result,  0.276785  0.723214
4  The actress assisted the actor and, as a result,  0.327805  0.672195

In [335]:
# female subject
IC2_connective2_1f = IC2_connective2_1[0:12]
IC2_connective2_1f = IC2_connective2_1f[["stimulus","she","he"]]
# male subject
IC2_connective2_1m = IC2_connective2_1[12:24]

#### female subject

In [336]:
IC2_connective2_1f

                                             stimulus       she        he
0     Miss Smith assisted Mr. Smith and, as a result,  0.385809  0.614191
1        The woman assisted the man and, as a result,  0.516326  0.483674
2                Mary assisted John and, as a result,  0.615327  0.384673
3                Alice assisted Bob and, as a result,  0.723214  0.276785
4    The actress assisted the actor and, as a result,  0.672195  0.327805
5         The girl assisted the boy and, as a result,  0.552470  0.447530
6   Mrs. Taylor assisted Mr. Williams and, as a re...  0.417992  0.582008
7               Emma assisted David and, as a result,  0.590284  0.409716
8   The princess assisted the prince and, as a res...  0.735435  0.264565
9             Sarah assisted Robert and, as a result,  0.575546  0.424454
10  Mrs. Williams assisted Mr. Taylor and, as a re...  0.447646  0.552354
11              Emily assisted Paul and, as a result,  0.589766  0.410234

In [337]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_1f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_1f,'he'))

P('subj-pron'|subj=female) =  0.5685010105371475
P('non-subj-pron'|subj=female) =  0.4314989969134331

In [338]:
c2_average_subj_female_subj_pron['assisted'] = compute_average(IC2_connective2_1f,'she')
c2_average_subj_female_obj_pron['assisted'] = compute_average(IC2_connective2_1f,'he')

#### male subject

In [339]:
IC2_connective2_1m

                                             stimulus        he       she
12    Mr. Smith assisted Miss Smith and, as a result,  0.417194  0.582806
13       The man assisted the woman and, as a result,  0.407930  0.592070
14               John assisted Mary and, as a result,  0.468498  0.531502
15               Bob assisted Alice and, as a result,  0.479360  0.520640
16   The actor assisted the actress and, as a result,  0.495641  0.504359
17        The boy assisted the girl and, as a result,  0.411749  0.588251
18  Mr. William assisted Mrs. Taylor and, as a res...  0.536293  0.463707
19              David assisted Emma and, as a result,  0.400426  0.599574
20  The prince assisted the princess and, as a res...  0.415465  0.584535
21            Robert assisted Sarah and, as a result,  0.479078  0.520922
22  Mr. Taylor assisted Mrs. Williams and, as a re...  0.438505  0.561495
23              Paul assisted Emily and, as a result,  0.298918  0.701082

In [340]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_1m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_1m,'she'))

P('subj-pron'|subj=male) =  0.43742136657238007
P('non-subj-pron'|subj=male) =  0.5625786458452543

In [341]:
c2_average_subj_male_subj_pron['assisted'] = compute_average(IC2_connective2_1m,'he')
c2_average_subj_male_obj_pron['assisted'] = compute_average(IC2_connective2_1m,'she')

### verb: "blames"

In [342]:
IC2_connective2_2 = pd.read_csv("../results/gpt2/IC2/connective2/2.csv")
IC2_connective2_2.head()

                                         stimulus        he       she
0   Miss Smith blames Mr. Smith and, as a result,  0.458945  0.541055
1      The woman blames the man and, as a result,  0.319715  0.680285
2              Mary blames John and, as a result,  0.405546  0.594454
3              Alice blames Bob and, as a result,  0.290180  0.709820
4  The actress blames the actor and, as a result,  0.206230  0.793770

In [343]:
# female subject
IC2_connective2_2f = IC2_connective2_2[0:12]
IC2_connective2_2f = IC2_connective2_2f[["stimulus","she","he"]]
# male subject
IC2_connective2_2m = IC2_connective2_2[12:24]

#### female subject

In [344]:
IC2_connective2_2f

                                             stimulus       she        he
0       Miss Smith blames Mr. Smith and, as a result,  0.541055  0.458945
1          The woman blames the man and, as a result,  0.680285  0.319715
2                  Mary blames John and, as a result,  0.594454  0.405546
3                  Alice blames Bob and, as a result,  0.709820  0.290180
4      The actress blames the actor and, as a result,  0.793770  0.206230
5           The girl blames the boy and, as a result,  0.690658  0.309342
6   Mrs. Taylor blames Mr. Williams and, as a result,  0.514649  0.485351
7                 Emma blames David and, as a result,  0.559087  0.440913
8    The princess blames the prince and, as a result,  0.629778  0.370222
9               Sarah blames Robert and, as a result,  0.556950  0.443050
10  Mrs. Williams blames Mr. Taylor and, as a result,  0.550418  0.449582
11                Emily blames Paul and, as a result,  0.650028  0.349971

In [345]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_2f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_2f,'he'))

P('subj-pron'|subj=female) =  0.6225794653097788
P('non-subj-pron'|subj=female) =  0.37742053469022113

In [346]:
c2_average_subj_female_subj_pron['blames'] = compute_average(IC2_connective2_2f,'she')
c2_average_subj_female_obj_pron['blames'] = compute_average(IC2_connective2_2f,'he')

#### male subject

In [347]:
IC2_connective2_2m

                                             stimulus        he       she
12      Mr. Smith blames Miss Smith and, as a result,  0.578501  0.421499
13         The man blames the woman and, as a result,  0.550058  0.449942
14                 John blames Mary and, as a result,  0.495549  0.504451
15                 Bob blames Alice and, as a result,  0.487621  0.512379
16     The actor blames the actress and, as a result,  0.483966  0.516034
17          The boy blames the girl and, as a result,  0.556077  0.443923
18   Mr. William blames Mrs. Taylor and, as a result,  0.634307  0.365693
19                David blames Emma and, as a result,  0.463894  0.536106
20   The prince blames the princess and, as a result,  0.549093  0.450907
21              Robert blames Sarah and, as a result,  0.444376  0.555624
22  Mr. Taylor blames Mrs. Williams and, as a result,  0.607708  0.392292
23                Paul blames Emily and, as a result,  0.367562  0.632438

In [348]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_2m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_2m,'she'))

P('subj-pron'|subj=male) =  0.5182260523239771
P('non-subj-pron'|subj=male) =  0.481773962577184

In [349]:
c2_average_subj_male_subj_pron['blames'] = compute_average(IC2_connective2_2m,'he')
c2_average_subj_male_obj_pron['blames'] = compute_average(IC2_connective2_2m,'she')

### verb: "comforted"

In [350]:
IC2_connective2_3 = pd.read_csv("../results/gpt2/IC2/connective2/3.csv")
IC2_connective2_3.head()

                                            stimulus        he       she
0   Miss Smith comforted Mr. Smith and, as a result,  0.802034  0.197966
1      The woman comforted the man and, as a result,  0.716585  0.283415
2              Mary comforted John and, as a result,  0.791017  0.208983
3              Alice comforted Bob and, as a result,  0.552576  0.447424
4  The actress comforted the actor and, as a result,  0.703084  0.296916

In [351]:
# female subject
IC2_connective2_3f = IC2_connective2_3[0:12]
IC2_connective2_3f = IC2_connective2_3f[["stimulus","she","he"]]
# male subject
IC2_connective2_3m = IC2_connective2_3[12:24]

#### female subject

In [352]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_3f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_3f,'he'))

P('subj-pron'|subj=female) =  0.29998645310600597
P('non-subj-pron'|subj=female) =  0.7000135431687037

In [353]:
c2_average_subj_female_subj_pron['comforted'] = compute_average(IC2_connective2_3f,'she')
c2_average_subj_female_obj_pron['comforted'] = compute_average(IC2_connective2_3f,'he')

#### male subject

In [354]:
IC2_connective2_3m

                                             stimulus        he       she
12   Mr. Smith comforted Miss Smith and, as a result,  0.289764  0.710236
13      The man comforted the woman and, as a result,  0.309148  0.690852
14              John comforted Mary and, as a result,  0.273658  0.726342
15              Bob comforted Alice and, as a result,  0.195926  0.804074
16  The actor comforted the actress and, as a result,  0.233075  0.766926
17       The boy comforted the girl and, as a result,  0.301502  0.698498
18  Mr. William comforted Mrs. Taylor and, as a re...  0.329589  0.670411
19             David comforted Emma and, as a result,  0.216670  0.783330
20  The prince comforted the princess and, as a re...  0.273093  0.726907
21           Robert comforted Sarah and, as a result,  0.278520  0.721480
22  Mr. Taylor comforted Mrs. Williams and, as a r...  0.304922  0.695078
23             Paul comforted Emily and, as a result,  0.206987  0.793013

In [355]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_3m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_3m,'she'))

P('subj-pron'|subj=male) =  0.26773768042524654
P('non-subj-pron'|subj=male) =  0.7322623382012049

In [356]:
c2_average_subj_male_subj_pron['comforted'] = compute_average(IC2_connective2_3m,'he')
c2_average_subj_male_obj_pron['comforted'] = compute_average(IC2_connective2_3m,'she')

### verb: "congratulated"

In [357]:
IC2_connective2_4 = pd.read_csv("../results/gpt2/IC2/connective2/4.csv")
IC2_connective2_4.head()

                                            stimulus        he       she
0  Miss Smith congratulated Mr. Smith and, as a r...  0.737639  0.262361
1  The woman congratulated the man and, as a result,  0.730669  0.269331
2          Mary congratulated John and, as a result,  0.732081  0.267919
3          Alice congratulated Bob and, as a result,  0.540013  0.459987
4  The actress congratulated the actor and, as a ...  0.589703  0.410297

In [358]:
# female subject
IC2_connective2_4f = IC2_connective2_4[0:12]
IC2_connective2_4f = IC2_connective2_4f[["stimulus","she","he"]]
# male subject
IC2_connective2_4m = IC2_connective2_4[12:24]

#### female subject

In [359]:
IC2_connective2_4f

                                             stimulus       she        he
0   Miss Smith congratulated Mr. Smith and, as a r...  0.262361  0.737639
1   The woman congratulated the man and, as a result,  0.269331  0.730669
2           Mary congratulated John and, as a result,  0.267919  0.732081
3           Alice congratulated Bob and, as a result,  0.459987  0.540013
4   The actress congratulated the actor and, as a ...  0.410297  0.589703
5    The girl congratulated the boy and, as a result,  0.317814  0.682186
6   Mrs. Taylor congratulated Mr. Williams and, as...  0.170298  0.829702
7          Emma congratulated David and, as a result,  0.291871  0.708129
8   The princess congratulated the prince and, as ...  0.426230  0.573770
9        Sarah congratulated Robert and, as a result,  0.292162  0.707838
10  Mrs. Williams congratulated Mr. Taylor and, as...  0.199646  0.800354
11         Emily congratulated Paul and, as a result,  0.296619  0.703381

In [360]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_4f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_4f,'he'))

P('subj-pron'|subj=female) =  0.3053779986997445
P('non-subj-pron'|subj=female) =  0.6946220000584921

In [361]:
c2_average_subj_female_subj_pron['congratulated'] = compute_average(IC2_connective2_4f,'she')
c2_average_subj_female_obj_pron['congratulated'] = compute_average(IC2_connective2_4f,'he')

#### male subject

In [362]:
IC2_connective1_4m

                                          stimulus        he       she
12      Mr. Smith congratulated Miss Smith because  0.242280  0.757720
13         The man congratulated the woman because  0.351941  0.648059
14                 John congratulated Mary because  0.358114  0.641886
15                 Bob congratulated Alice because  0.336959  0.663041
16     The actor congratulated the actress because  0.262265  0.737735
17          The boy congratulated the girl because  0.408756  0.591244
18   Mr. William congratulated Mrs. Taylor because  0.266873  0.733127
19                David congratulated Emma because  0.205400  0.794600
20   The prince congratulated the princess because  0.275855  0.724145
21              Robert congratulated Sarah because  0.330523  0.669477
22  Mr. Taylor congratulated Mrs. Williams because  0.248660  0.751340
23                Paul congratulated Emily because  0.189829  0.810171

In [363]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_4m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_4m,'she'))

P('subj-pron'|subj=male) =  0.2661773699025313
P('non-subj-pron'|subj=male) =  0.7338226189215978

In [364]:
c2_average_subj_male_subj_pron['congratulated'] = compute_average(IC2_connective2_4m,'he')
c2_average_subj_male_obj_pron['congratulated'] = compute_average(IC2_connective2_4m,'she')

### verb: "corrected"

In [365]:
IC2_connective2_5 = pd.read_csv("../results/gpt2/IC2/connective2/5.csv")
IC2_connective2_5.head()

                                            stimulus        he       she
0   Miss Smith corrected Mr. Smith and, as a result,  0.731727  0.268273
1      The woman corrected the man and, as a result,  0.664054  0.335946
2              Mary corrected John and, as a result,  0.683073  0.316927
3              Alice corrected Bob and, as a result,  0.510329  0.489671
4  The actress corrected the actor and, as a result,  0.510704  0.489296

In [366]:
# female subject
IC2_connective2_5f = IC2_connective2_5[0:12]
IC2_connective2_5f = IC2_connective2_5[["stimulus","she","he"]]
# male subject
IC2_connective2_5m = IC2_connective2_5[12:24]

#### female subject

In [367]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_5f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_5f,'he'))

P('subj-pron'|subj=female) =  0.5225150535504023
P('non-subj-pron'|subj=female) =  0.47748494024078053

In [368]:
c2_average_subj_female_subj_pron['corrected'] = compute_average(IC2_connective2_5f,'she')
c2_average_subj_female_obj_pron['corrected'] = compute_average(IC2_connective2_5f,'he')

#### male subject

In [369]:
IC2_connective2_5m

                                             stimulus        he       she
12   Mr. Smith corrected Miss Smith and, as a result,  0.363548  0.636452
13      The man corrected the woman and, as a result,  0.344016  0.655984
14              John corrected Mary and, as a result,  0.286717  0.713283
15              Bob corrected Alice and, as a result,  0.209580  0.790420
16  The actor corrected the actress and, as a result,  0.382175  0.617825
17       The boy corrected the girl and, as a result,  0.355369  0.644631
18  Mr. William corrected Mrs. Taylor and, as a re...  0.411293  0.588707
19             David corrected Emma and, as a result,  0.273689  0.726311
20  The prince corrected the princess and, as a re...  0.255546  0.744454
21           Robert corrected Sarah and, as a result,  0.305519  0.694481
22  Mr. Taylor corrected Mrs. Williams and, as a r...  0.341848  0.658152
23             Paul corrected Emily and, as a result,  0.215791  0.784209

In [370]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_5m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_5m,'she'))

P('subj-pron'|subj=male) =  0.3120909755428632
P('non-subj-pron'|subj=male) =  0.6879090219736099

In [371]:
c2_average_subj_male_subj_pron['corrected'] = compute_average(IC2_connective2_5m,'he')
c2_average_subj_male_obj_pron['corrected'] = compute_average(IC2_connective2_5m,'she')

### verb: "detests"

In [372]:
IC2_connective2_6 = pd.read_csv("../results/gpt2/IC2/connective2/6.csv")
IC2_connective2_6.head()

                                          stimulus        he       she
0   Miss Smith detests Mr. Smith and, as a result,  0.371947  0.628053
1      The woman detests the man and, as a result,  0.311944  0.688056
2              Mary detests John and, as a result,  0.233704  0.766296
3              Alice detests Bob and, as a result,  0.153800  0.846200
4  The actress detests the actor and, as a result,  0.382126  0.617873

In [373]:
# female subject
IC2_connective2_6f = IC2_connective2_6[0:12]
IC2_connective2_6f = IC2_connective2_6[["stimulus","she","he"]]
# male subject
IC2_connective2_6m = IC2_connective2_6[12:24]

#### female subject

In [374]:
IC2_connective2_6f

                                             stimulus       she        he
0      Miss Smith detests Mr. Smith and, as a result,  0.628053  0.371947
1         The woman detests the man and, as a result,  0.688056  0.311944
2                 Mary detests John and, as a result,  0.766296  0.233704
3                 Alice detests Bob and, as a result,  0.846200  0.153800
4     The actress detests the actor and, as a result,  0.617873  0.382126
5          The girl detests the boy and, as a result,  0.653186  0.346814
6   Mrs. Taylor detests Mr. Williams and, as a res...  0.537769  0.462231
7                Emma detests David and, as a result,  0.698514  0.301486
8   The princess detests the prince and, as a result,  0.640597  0.359403
9              Sarah detests Robert and, as a result,  0.711346  0.288654
10  Mrs. Williams detests Mr. Taylor and, as a res...  0.584080  0.415920
11               Emily detests Paul and, as a result,  0.756368  0.243632
12     Mr. Smith detests Miss Smith and, as a result,  0.276667  0.723333
13        The man detests the woman and, as a result,  0.312643  0.687357
14                John detests Mary and, as a result,  0.277214  0.722786
15                Bob detests Alice and, as a result,  0.280236  0.719764
16    The actor detests the actress and, as a result,  0.405619  0.594381
17         The boy detests the girl and, as a result,  0.305884  0.694116
18  Mr. William detests Mrs. Taylor and, as a result,  0.215298  0.784702
19               David detests Emma and, as a result,  0.397728  0.602272
20  The prince detests the princess and, as a result,  0.408504  0.591496
21             Robert detests Sarah and, as a result,  0.378999  0.621001
22  Mr. Taylor detests Mrs. Williams and, as a res...  0.218638  0.781362
23               Paul detests Emily and, as a result,  0.477288  0.522712

In [375]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_6f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_6f,'he'))

P('subj-pron'|subj=female) =  0.5034606760988632
P('non-subj-pron'|subj=female) =  0.49653932886819047

In [376]:
c2_average_subj_female_subj_pron['detests'] = compute_average(IC2_connective2_6f,'she')
c2_average_subj_female_obj_pron['detests'] = compute_average(IC2_connective2_6f,'he')

#### male subject

In [377]:
IC2_connective2_6m

                                             stimulus        he       she
12     Mr. Smith detests Miss Smith and, as a result,  0.723333  0.276667
13        The man detests the woman and, as a result,  0.687357  0.312643
14                John detests Mary and, as a result,  0.722786  0.277214
15                Bob detests Alice and, as a result,  0.719764  0.280236
16    The actor detests the actress and, as a result,  0.594381  0.405619
17         The boy detests the girl and, as a result,  0.694116  0.305884
18  Mr. William detests Mrs. Taylor and, as a result,  0.784702  0.215298
19               David detests Emma and, as a result,  0.602272  0.397728
20  The prince detests the princess and, as a result,  0.591496  0.408504
21             Robert detests Sarah and, as a result,  0.621001  0.378999
22  Mr. Taylor detests Mrs. Williams and, as a res...  0.781362  0.218638
23               Paul detests Emily and, as a result,  0.522712  0.477288

In [378]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_6m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_6m,'she'))

P('subj-pron'|subj=male) =  0.6704401969909668
P('non-subj-pron'|subj=male) =  0.3295598241190116

In [379]:
c2_average_subj_male_subj_pron['detests'] = compute_average(IC2_connective2_6m,'he')
c2_average_subj_male_obj_pron['detests'] = compute_average(IC2_connective2_6m,'she')

### verb: "fears"

In [380]:
IC2_connective2_7 = pd.read_csv("../results/gpt2/IC2/connective2/7.csv")
IC2_connective2_7.head()

                                        stimulus        he       she
0   Miss Smith fears Mr. Smith and, as a result,  0.332494  0.667506
1      The woman fears the man and, as a result,  0.219645  0.780355
2              Mary fears John and, as a result,  0.296356  0.703644
3              Alice fears Bob and, as a result,  0.146256  0.853744
4  The actress fears the actor and, as a result,  0.240988  0.759012

In [381]:
# female subject
IC2_connective2_7f = IC2_connective2_7[0:12]
IC2_connective2_7f = IC2_connective2_7f[["stimulus","she","he"]]
# male subject
IC2_connective2_7m = IC2_connective2_7[12:24]

#### female subject

In [382]:
IC2_connective2_7f

                                            stimulus       she        he
0       Miss Smith fears Mr. Smith and, as a result,  0.667506  0.332494
1          The woman fears the man and, as a result,  0.780355  0.219645
2                  Mary fears John and, as a result,  0.703644  0.296356
3                  Alice fears Bob and, as a result,  0.853744  0.146256
4      The actress fears the actor and, as a result,  0.759012  0.240988
5           The girl fears the boy and, as a result,  0.782038  0.217962
6   Mrs. Taylor fears Mr. Williams and, as a result,  0.666233  0.333767
7                 Emma fears David and, as a result,  0.720365  0.279635
8    The princess fears the prince and, as a result,  0.738131  0.261869
9               Sarah fears Robert and, as a result,  0.762271  0.237729
10  Mrs. Williams fears Mr. Taylor and, as a result,  0.645122  0.354878
11                Emily fears Paul and, as a result,  0.781684  0.218316

In [383]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_7f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_7f,'he'))

P('subj-pron'|subj=female) =  0.7383419722318649
P('non-subj-pron'|subj=female) =  0.2616580401857694

In [384]:
c2_average_subj_female_subj_pron['fears'] = compute_average(IC2_connective2_7f,'she')
c2_average_subj_female_obj_pron['fears'] = compute_average(IC2_connective2_7f,'he')

#### male subject

In [385]:
IC2_connective2_7m

                                            stimulus        he       she
12      Mr. Smith fears Miss Smith and, as a result,  0.729870  0.270130
13         The man fears the woman and, as a result,  0.768892  0.231108
14                 John fears Mary and, as a result,  0.711827  0.288173
15                 Bob fears Alice and, as a result,  0.738967  0.261033
16     The actor fears the actress and, as a result,  0.627023  0.372977
17          The boy fears the girl and, as a result,  0.779423  0.220577
18   Mr. William fears Mrs. Taylor and, as a result,  0.797440  0.202560
19                David fears Emma and, as a result,  0.668860  0.331140
20   The prince fears the princess and, as a result,  0.821358  0.178642
21              Robert fears Sarah and, as a result,  0.590555  0.409445
22  Mr. Taylor fears Mrs. Williams and, as a result,  0.797956  0.202044
23                Paul fears Emily and, as a result,  0.607767  0.392233

In [386]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_7m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_7m,'she'))

P('subj-pron'|subj=male) =  0.71999491751194
P('non-subj-pron'|subj=male) =  0.2800050961474578

In [387]:
c2_average_subj_male_subj_pron['fears'] = compute_average(IC2_connective2_7m,'he')
c2_average_subj_male_obj_pron['fears'] = compute_average(IC2_connective2_7m,'she')

#### verb: "envies"

In [388]:
IC2_connective2_8 = pd.read_csv("../results/gpt2/IC2/connective2/8.csv")
IC2_connective2_8.head()

                                         stimulus        he       she
0   Miss Smith envies Mr. Smith and, as a result,  0.341099  0.658901
1      The woman envies the man and, as a result,  0.275445  0.724555
2              Mary envies John and, as a result,  0.237418  0.762582
3              Alice envies Bob and, as a result,  0.160053  0.839947
4  The actress envies the actor and, as a result,  0.322546  0.677454

In [389]:
# female subject
IC2_connective2_8f = IC2_connective2_8[0:12]
IC2_connective2_8f = IC2_connective2_8f[["stimulus","she","he"]]
# male subject
IC2_connective2_8m = IC2_connective2_8[12:24]

#### female subject

In [390]:
IC2_connective2_8f

                                             stimulus       she        he
0       Miss Smith envies Mr. Smith and, as a result,  0.658901  0.341099
1          The woman envies the man and, as a result,  0.724555  0.275445
2                  Mary envies John and, as a result,  0.762582  0.237418
3                  Alice envies Bob and, as a result,  0.839947  0.160053
4      The actress envies the actor and, as a result,  0.677454  0.322546
5           The girl envies the boy and, as a result,  0.751834  0.248166
6   Mrs. Taylor envies Mr. Williams and, as a result,  0.636011  0.363989
7                 Emma envies David and, as a result,  0.777914  0.222086
8    The princess envies the prince and, as a result,  0.706168  0.293832
9               Sarah envies Robert and, as a result,  0.796008  0.203992
10  Mrs. Williams envies Mr. Taylor and, as a result,  0.656944  0.343056
11                Emily envies Paul and, as a result,  0.848945  0.151055

In [391]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_8f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_8f,'he'))

P('subj-pron'|subj=female) =  0.7364385575056076
P('non-subj-pron'|subj=female) =  0.2635614375273387

In [392]:
c2_average_subj_female_subj_pron['envies'] = compute_average(IC2_connective2_8f,'she')
c2_average_subj_female_obj_pron['envies'] = compute_average(IC2_connective2_8f,'he')

#### male subject

In [393]:
IC2_connective2_8m

                                             stimulus        he       she
12      Mr. Smith envies Miss Smith and, as a result,  0.743581  0.256419
13         The man envies the woman and, as a result,  0.704487  0.295513
14                 John envies Mary and, as a result,  0.733771  0.266229
15                 Bob envies Alice and, as a result,  0.719242  0.280758
16     The actor envies the actress and, as a result,  0.632065  0.367935
17          The boy envies the girl and, as a result,  0.765378  0.234622
18   Mr. William envies Mrs. Taylor and, as a result,  0.752439  0.247561
19                David envies Emma and, as a result,  0.652303  0.347697
20   The prince envies the princess and, as a result,  0.697499  0.302501
21              Robert envies Sarah and, as a result,  0.601489  0.398511
22  Mr. Taylor envies Mrs. Williams and, as a result,  0.766960  0.233040
23                Paul envies Emily and, as a result,  0.596812  0.403188

In [394]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_8m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_8m,'she'))

P('subj-pron'|subj=male) =  0.6971688866615295
P('non-subj-pron'|subj=male) =  0.30283111954728764

In [395]:
c2_average_subj_male_subj_pron['envies'] = compute_average(IC2_connective2_8m,'he')
c2_average_subj_male_obj_pron['envies'] = compute_average(IC2_connective2_8m,'she')

### verb: "hates"

In [396]:
IC2_connective2_9 = pd.read_csv("../results/gpt2/IC2/connective2/9.csv")
IC2_connective2_9.head()

                                        stimulus        he       she
0   Miss Smith hates Mr. Smith and, as a result,  0.375348  0.624652
1      The woman hates the man and, as a result,  0.290016  0.709984
2              Mary hates John and, as a result,  0.278486  0.721514
3              Alice hates Bob and, as a result,  0.153100  0.846900
4  The actress hates the actor and, as a result,  0.281932  0.718068

In [397]:
# female subject
IC2_connective2_9f = IC2_connective2_9[0:12]
IC2_connective2_9f = IC2_connective2_9f[["stimulus","she","he"]]
# male subject
IC2_connective2_9m = IC2_connective2_9[12:24]

#### female subject

In [398]:
IC2_connective2_9f

                                            stimulus       she        he
0       Miss Smith hates Mr. Smith and, as a result,  0.624652  0.375348
1          The woman hates the man and, as a result,  0.709984  0.290016
2                  Mary hates John and, as a result,  0.721514  0.278486
3                  Alice hates Bob and, as a result,  0.846900  0.153100
4      The actress hates the actor and, as a result,  0.718068  0.281932
5           The girl hates the boy and, as a result,  0.682828  0.317172
6   Mrs. Taylor hates Mr. Williams and, as a result,  0.531028  0.468972
7                 Emma hates David and, as a result,  0.646996  0.353004
8    The princess hates the prince and, as a result,  0.646636  0.353364
9               Sarah hates Robert and, as a result,  0.696110  0.303890
10  Mrs. Williams hates Mr. Taylor and, as a result,  0.595318  0.404682
11                Emily hates Paul and, as a result,  0.764504  0.235496

In [399]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_9f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_9f,'he'))

P('subj-pron'|subj=female) =  0.6820448289314905
P('non-subj-pron'|subj=female) =  0.3179551847279072

In [400]:
c2_average_subj_female_subj_pron['hates'] = compute_average(IC2_connective2_9f,'she')
c2_average_subj_female_obj_pron['hates'] = compute_average(IC2_connective2_9f,'he')

#### male subject

In [401]:
IC2_connective2_9m

                                            stimulus        he       she
12      Mr. Smith hates Miss Smith and, as a result,  0.730168  0.269832
13         The man hates the woman and, as a result,  0.694733  0.305267
14                 John hates Mary and, as a result,  0.725986  0.274015
15                 Bob hates Alice and, as a result,  0.713966  0.286034
16     The actor hates the actress and, as a result,  0.637904  0.362096
17          The boy hates the girl and, as a result,  0.721427  0.278573
18   Mr. William hates Mrs. Taylor and, as a result,  0.748136  0.251864
19                David hates Emma and, as a result,  0.610939  0.389061
20   The prince hates the princess and, as a result,  0.652701  0.347299
21              Robert hates Sarah and, as a result,  0.626961  0.373039
22  Mr. Taylor hates Mrs. Williams and, as a result,  0.738806  0.261194
23                Paul hates Emily and, as a result,  0.550499  0.449501

In [402]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_9m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_9m,'she'))

P('subj-pron'|subj=male) =  0.6793520450592041
P('non-subj-pron'|subj=male) =  0.3206479648749034

In [403]:
c2_average_subj_male_subj_pron['hates'] = compute_average(IC2_connective2_9m,'he')
c2_average_subj_male_obj_pron['hates'] = compute_average(IC2_connective2_9m,'she')

### verb: "helped"

In [404]:
IC2_connective2_10 = pd.read_csv("../results/gpt2/IC2/connective2/10.csv")
IC2_connective2_10.head()

                                         stimulus        he       she
0   Miss Smith helped Mr. Smith and, as a result,  0.720311  0.279689
1      The woman helped the man and, as a result,  0.564060  0.435940
2              Mary helped John and, as a result,  0.523032  0.476968
3              Alice helped Bob and, as a result,  0.390110  0.609890
4  The actress helped the actor and, as a result,  0.545831  0.454169

In [405]:
# female subject
IC2_connective2_10f = IC2_connective2_10[0:12]
IC2_connective2_10f = IC2_connective2_10f[["stimulus","she","he"]]
# male subject
IC2_connective2_10m = IC2_connective2_10[12:24]

#### female subject

In [406]:
IC2_connective2_10f

                                             stimulus       she        he
0       Miss Smith helped Mr. Smith and, as a result,  0.279689  0.720311
1          The woman helped the man and, as a result,  0.435940  0.564060
2                  Mary helped John and, as a result,  0.476968  0.523032
3                  Alice helped Bob and, as a result,  0.609890  0.390110
4      The actress helped the actor and, as a result,  0.454169  0.545831
5           The girl helped the boy and, as a result,  0.472539  0.527461
6   Mrs. Taylor helped Mr. Williams and, as a result,  0.335557  0.664443
7                 Emma helped David and, as a result,  0.454877  0.545124
8    The princess helped the prince and, as a result,  0.580999  0.419001
9               Sarah helped Robert and, as a result,  0.426848  0.573152
10  Mrs. Williams helped Mr. Taylor and, as a result,  0.352376  0.647624
11                Emily helped Paul and, as a result,  0.524305  0.475695

In [407]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_10f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_10f,'he'))

P('subj-pron'|subj=female) =  0.45034633328517276
P('non-subj-pron'|subj=female) =  0.5496536865830421

In [408]:
c2_average_subj_female_subj_pron['helped'] = compute_average(IC2_connective2_10f,'she')
c2_average_subj_female_obj_pron['helped'] = compute_average(IC2_connective2_10f,'he')

#### male subject

In [409]:
IC2_connective2_10m

                                             stimulus        he       she
12      Mr. Smith helped Miss Smith and, as a result,  0.373346  0.626654
13         The man helped the woman and, as a result,  0.451516  0.548484
14                 John helped Mary and, as a result,  0.398005  0.601995
15                 Bob helped Alice and, as a result,  0.421919  0.578081
16     The actor helped the actress and, as a result,  0.283214  0.716786
17          The boy helped the girl and, as a result,  0.452774  0.547226
18   Mr. William helped Mrs. Taylor and, as a result,  0.460376  0.539624
19                David helped Emma and, as a result,  0.358743  0.641257
20   The prince helped the princess and, as a result,  0.379950  0.620050
21              Robert helped Sarah and, as a result,  0.388075  0.611925
22  Mr. Taylor helped Mrs. Williams and, as a result,  0.373635  0.626365
23                Paul helped Emily and, as a result,  0.254514  0.745486

In [410]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_10m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_10m,'she'))

P('subj-pron'|subj=male) =  0.38300563395023346
P('non-subj-pron'|subj=male) =  0.6169943660497665

In [411]:
c2_average_subj_male_subj_pron['helped'] = compute_average(IC2_connective2_10m,'he')
c2_average_subj_male_obj_pron['helped'] = compute_average(IC2_connective2_10m,'she')

### verb: "mocked"

In [412]:
IC2_connective2_11 = pd.read_csv("../results/gpt2/IC2/connective2/11.csv")
IC2_connective2_11.head()

                                         stimulus        he       she
0   Miss Smith mocked Mr. Smith and, as a result,  0.817374  0.182626
1      The woman mocked the man and, as a result,  0.818810  0.181190
2              Mary mocked John and, as a result,  0.793322  0.206678
3              Alice mocked Bob and, as a result,  0.620502  0.379498
4  The actress mocked the actor and, as a result,  0.581541  0.418459

In [413]:
# female subject
IC2_connective2_11f = IC2_connective2_11[0:12]
IC2_connective2_11f = IC2_connective2_11f[["stimulus","she","he"]]
# male subject
IC2_connective2_11m = IC2_connective2_11[12:24]

#### female subject

In [414]:
IC2_connective2_11f

                                             stimulus       she        he
0       Miss Smith mocked Mr. Smith and, as a result,  0.182626  0.817374
1          The woman mocked the man and, as a result,  0.181190  0.818810
2                  Mary mocked John and, as a result,  0.206678  0.793322
3                  Alice mocked Bob and, as a result,  0.379498  0.620502
4      The actress mocked the actor and, as a result,  0.418459  0.581541
5           The girl mocked the boy and, as a result,  0.227305  0.772695
6   Mrs. Taylor mocked Mr. Williams and, as a result,  0.171166  0.828834
7                 Emma mocked David and, as a result,  0.258189  0.741811
8    The princess mocked the prince and, as a result,  0.314498  0.685502
9               Sarah mocked Robert and, as a result,  0.286366  0.713634
10  Mrs. Williams mocked Mr. Taylor and, as a result,  0.222543  0.777457
11                Emily mocked Paul and, as a result,  0.316812  0.683188

In [415]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_11f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_11f,'he'))

P('subj-pron'|subj=female) =  0.2637774931887786
P('non-subj-pron'|subj=female) =  0.7362225105365118

In [416]:
c2_average_subj_female_subj_pron['mocked'] = compute_average(IC2_connective2_11f,'she')
c2_average_subj_female_obj_pron['mocked'] = compute_average(IC2_connective2_11f,'he')

#### male subject

In [417]:
IC2_connective2_11m

                                             stimulus        he       she
12      Mr. Smith mocked Miss Smith and, as a result,  0.217360  0.782640
13         The man mocked the woman and, as a result,  0.189358  0.810642
14                 John mocked Mary and, as a result,  0.241757  0.758243
15                 Bob mocked Alice and, as a result,  0.147494  0.852506
16     The actor mocked the actress and, as a result,  0.256603  0.743397
17          The boy mocked the girl and, as a result,  0.222798  0.777202
18   Mr. William mocked Mrs. Taylor and, as a result,  0.250457  0.749543
19                David mocked Emma and, as a result,  0.212921  0.787079
20   The prince mocked the princess and, as a result,  0.200853  0.799147
21              Robert mocked Sarah and, as a result,  0.215791  0.784209
22  Mr. Taylor mocked Mrs. Williams and, as a result,  0.223467  0.776533
23                Paul mocked Emily and, as a result,  0.187005  0.812994

In [418]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_11m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_11m,'she'))

P('subj-pron'|subj=male) =  0.2138220282892386
P('non-subj-pron'|subj=male) =  0.7861779580513636

In [419]:
c2_average_subj_male_subj_pron['mocked'] = compute_average(IC2_connective2_11m,'he')
c2_average_subj_male_obj_pron['mocked'] = compute_average(IC2_connective2_11m,'she')

### verb: "noticed"

In [420]:
IC2_connective2_12 = pd.read_csv("../results/gpt2/IC2/connective2/12.csv")
IC2_connective2_12.head()

                                          stimulus        he       she
0   Miss Smith noticed Mr. Smith and, as a result,  0.483925  0.516075
1      The woman noticed the man and, as a result,  0.353920  0.646080
2              Mary noticed John and, as a result,  0.307643  0.692357
3              Alice noticed Bob and, as a result,  0.195122  0.804878
4  The actress noticed the actor and, as a result,  0.331780  0.668220

In [421]:
# female subject
IC2_connective2_12f = IC2_connective2_12[0:12]
IC2_connective2_12f = IC2_connective2_12f[["stimulus","she","he"]]
# male subject
IC2_connective2_12m = IC2_connective2_12[12:24]

#### female subject

In [422]:
IC2_connective2_12f

                                             stimulus       she        he
0      Miss Smith noticed Mr. Smith and, as a result,  0.516075  0.483925
1         The woman noticed the man and, as a result,  0.646080  0.353920
2                 Mary noticed John and, as a result,  0.692357  0.307643
3                 Alice noticed Bob and, as a result,  0.804878  0.195122
4     The actress noticed the actor and, as a result,  0.668220  0.331780
5          The girl noticed the boy and, as a result,  0.781080  0.218920
6   Mrs. Taylor noticed Mr. Williams and, as a res...  0.512675  0.487325
7                Emma noticed David and, as a result,  0.745661  0.254339
8   The princess noticed the prince and, as a result,  0.843972  0.156028
9              Sarah noticed Robert and, as a result,  0.746728  0.253272
10  Mrs. Williams noticed Mr. Taylor and, as a res...  0.528448  0.471552
11               Emily noticed Paul and, as a result,  0.785286  0.214713

In [423]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_12f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_12f,'he'))

P('subj-pron'|subj=female) =  0.6892883827288946
P('non-subj-pron'|subj=female) =  0.3107116272052129

In [424]:
c2_average_subj_female_subj_pron['noticed'] = compute_average(IC2_connective2_12f,'she')
c2_average_subj_female_obj_pron['noticed'] = compute_average(IC2_connective2_12f,'he')

#### male subject

In [425]:
IC2_connective2_12m

                                             stimulus        he       she
12     Mr. Smith noticed Miss Smith and, as a result,  0.577120  0.422880
13        The man noticed the woman and, as a result,  0.547826  0.452174
14                John noticed Mary and, as a result,  0.614064  0.385936
15                Bob noticed Alice and, as a result,  0.656024  0.343976
16    The actor noticed the actress and, as a result,  0.572076  0.427924
17         The boy noticed the girl and, as a result,  0.555518  0.444482
18  Mr. William noticed Mrs. Taylor and, as a result,  0.635987  0.364013
19               David noticed Emma and, as a result,  0.583224  0.416776
20  The prince noticed the princess and, as a result,  0.610900  0.389100
21             Robert noticed Sarah and, as a result,  0.558723  0.441277
22  Mr. Taylor noticed Mrs. Williams and, as a res...  0.588251  0.411749
23               Paul noticed Emily and, as a result,  0.524368  0.475632

In [426]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_12m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_12m,'she'))

P('subj-pron'|subj=male) =  0.5853400478760401
P('non-subj-pron'|subj=male) =  0.4146599421898524

In [427]:
c2_average_subj_male_subj_pron['noticed'] = compute_average(IC2_connective2_12m,'he')
c2_average_subj_male_obj_pron['noticed'] = compute_average(IC2_connective2_12m,'she')

### verb: "pacified"

In [428]:
IC2_connective2_13 = pd.read_csv("../results/gpt2/IC2/connective2/13.csv")
IC2_connective2_13.head()

                                           stimulus        he       she
0   Miss Smith pacified Mr. Smith and, as a result,  0.781521  0.218479
1      The woman pacified the man and, as a result,  0.650208  0.349792
2              Mary pacified John and, as a result,  0.615725  0.384275
3              Alice pacified Bob and, as a result,  0.497513  0.502488
4  The actress pacified the actor and, as a result,  0.662081  0.337919

In [429]:
# female subject
IC2_connective2_13f = IC2_connective2_13[0:12]
IC2_connective2_13f = IC2_connective2_13f[["stimulus","she","he"]]
# male subject
IC2_connective2_13m = IC2_connective2_13[12:24]

#### female subject

In [430]:
IC2_connective2_13f

                                             stimulus       she        he
0     Miss Smith pacified Mr. Smith and, as a result,  0.218479  0.781521
1        The woman pacified the man and, as a result,  0.349792  0.650208
2                Mary pacified John and, as a result,  0.384275  0.615725
3                Alice pacified Bob and, as a result,  0.502488  0.497513
4    The actress pacified the actor and, as a result,  0.337919  0.662081
5         The girl pacified the boy and, as a result,  0.338864  0.661136
6   Mrs. Taylor pacified Mr. Williams and, as a re...  0.210361  0.789639
7               Emma pacified David and, as a result,  0.391491  0.608509
8   The princess pacified the prince and, as a res...  0.437342  0.562658
9             Sarah pacified Robert and, as a result,  0.362417  0.637583
10  Mrs. Williams pacified Mr. Taylor and, as a re...  0.267954  0.732046
11              Emily pacified Paul and, as a result,  0.412700  0.587300

In [431]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_13f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_13f,'he'))

P('subj-pron'|subj=female) =  0.35117335493365925
P('non-subj-pron'|subj=female) =  0.6488266537586848

In [432]:
c2_average_subj_female_subj_pron['pacified'] = compute_average(IC2_connective2_13f,'she')
c2_average_subj_female_obj_pron['pacified'] = compute_average(IC2_connective2_13f,'he')

#### male subject

In [433]:
IC2_connective2_13m

                                             stimulus        he       she
12    Mr. Smith pacified Miss Smith and, as a result,  0.275534  0.724466
13       The man pacified the woman and, as a result,  0.331192  0.668808
14               John pacified Mary and, as a result,  0.284759  0.715241
15               Bob pacified Alice and, as a result,  0.305551  0.694449
16   The actor pacified the actress and, as a result,  0.244368  0.755632
17        The boy pacified the girl and, as a result,  0.298431  0.701569
18  Mr. William pacified Mrs. Taylor and, as a res...  0.348118  0.651882
19              David pacified Emma and, as a result,  0.257630  0.742370
20  The prince pacified the princess and, as a res...  0.246666  0.753334
21            Robert pacified Sarah and, as a result,  0.281460  0.718540
22  Mr. Taylor pacified Mrs. Williams and, as a re...  0.307028  0.692972
23              Paul pacified Emily and, as a result,  0.237236  0.762764

In [434]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_13m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_13m,'she'))

P('subj-pron'|subj=male) =  0.2848312146961689
P('non-subj-pron'|subj=male) =  0.7151687691609064

In [435]:
c2_average_subj_male_subj_pron['pacified'] = compute_average(IC2_connective1_13m,'he')
c2_average_subj_male_obj_pron['pacified'] = compute_average(IC2_connective1_13m,'she')

### verb: "praised"

In [436]:
IC2_connective2_14 = pd.read_csv("../results/gpt2/IC2/connective2/14.csv")
IC2_connective2_14.head()

                                          stimulus        he       she
0   Miss Smith praised Mr. Smith and, as a result,  0.639441  0.360559
1      The woman praised the man and, as a result,  0.585722  0.414278
2              Mary praised John and, as a result,  0.541288  0.458712
3              Alice praised Bob and, as a result,  0.458578  0.541422
4  The actress praised the actor and, as a result,  0.497686  0.502314

In [437]:
# female subject
IC2_connective2_14f = IC2_connective2_14[0:12]
IC2_connective2_14f = IC2_connective2_14f[["stimulus","she","he"]]
# male subject
IC2_connective2_14m = IC2_connective2_14[12:24]

#### female subject

In [438]:
IC2_connective2_14f

                                             stimulus       she        he
0      Miss Smith praised Mr. Smith and, as a result,  0.360559  0.639441
1         The woman praised the man and, as a result,  0.414278  0.585722
2                 Mary praised John and, as a result,  0.458712  0.541288
3                 Alice praised Bob and, as a result,  0.541422  0.458578
4     The actress praised the actor and, as a result,  0.502314  0.497686
5          The girl praised the boy and, as a result,  0.430561  0.569439
6   Mrs. Taylor praised Mr. Williams and, as a res...  0.275612  0.724388
7                Emma praised David and, as a result,  0.426675  0.573325
8   The princess praised the prince and, as a result,  0.438364  0.561636
9              Sarah praised Robert and, as a result,  0.499675  0.500325
10  Mrs. Williams praised Mr. Taylor and, as a res...  0.325987  0.674013
11               Emily praised Paul and, as a result,  0.475937  0.524063

In [439]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_14f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_14f,'he'))

P('subj-pron'|subj=female) =  0.4291745771964391
P('non-subj-pron'|subj=female) =  0.5708254327376684

In [440]:
c2_average_subj_female_subj_pron['praised'] = compute_average(IC2_connective2_14f,'she')
c2_average_subj_female_obj_pron['praised'] = compute_average(IC2_connective2_14f,'he')

#### male subject

In [441]:
IC2_connective2_14m

                                             stimulus        he       she
12     Mr. Smith praised Miss Smith and, as a result,  0.431428  0.568572
13        The man praised the woman and, as a result,  0.412004  0.587996
14                John praised Mary and, as a result,  0.431660  0.568340
15                Bob praised Alice and, as a result,  0.400977  0.599023
16    The actor praised the actress and, as a result,  0.378377  0.621623
17         The boy praised the girl and, as a result,  0.407281  0.592719
18  Mr. William praised Mrs. Taylor and, as a result,  0.459175  0.540825
19               David praised Emma and, as a result,  0.412848  0.587152
20  The prince praised the princess and, as a result,  0.260385  0.739615
21             Robert praised Sarah and, as a result,  0.407002  0.592998
22  Mr. Taylor praised Mrs. Williams and, as a res...  0.436661  0.563339
23               Paul praised Emily and, as a result,  0.351206  0.648794

In [442]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_14m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_14m,'she'))

P('subj-pron'|subj=male) =  0.3990838850537936
P('non-subj-pron'|subj=male) =  0.6009161124626795

In [443]:
c2_average_subj_male_subj_pron['praised'] = compute_average(IC2_connective2_14m,'he')
c2_average_subj_male_obj_pron['praised'] = compute_average(IC2_connective2_14m,'she')

### verb: "reproached"

In [444]:
IC2_connective2_15 = pd.read_csv("../results/gpt2/IC2/connective2/15.csv")
IC2_connective2_15.head()

                                            stimulus        he       she
0  Miss Smith reproached Mr. Smith and, as a result,  0.880547  0.119453
1     The woman reproached the man and, as a result,  0.725334  0.274666
2             Mary reproached John and, as a result,  0.890977  0.109023
3             Alice reproached Bob and, as a result,  0.681327  0.318673
4  The actress reproached the actor and, as a res...  0.683273  0.316727

In [445]:
# female subject
IC2_connective2_15f = IC2_connective2_15[0:12]
IC2_connective2_15f = IC2_connective2_15f[["stimulus","she","he"]]
# male subject
IC2_connective2_15m = IC2_connective2_15[12:24]

#### female subject

In [446]:
IC2_connective2_15f

                                             stimulus       she        he
0   Miss Smith reproached Mr. Smith and, as a result,  0.119453  0.880547
1      The woman reproached the man and, as a result,  0.274666  0.725334
2              Mary reproached John and, as a result,  0.109023  0.890977
3              Alice reproached Bob and, as a result,  0.318673  0.681327
4   The actress reproached the actor and, as a res...  0.316727  0.683273
5       The girl reproached the boy and, as a result,  0.231931  0.768069
6   Mrs. Taylor reproached Mr. Williams and, as a ...  0.140079  0.859921
7             Emma reproached David and, as a result,  0.178923  0.821077
8   The princess reproached the prince and, as a r...  0.310815  0.689185
9           Sarah reproached Robert and, as a result,  0.222318  0.777682
10  Mrs. Williams reproached Mr. Taylor and, as a ...  0.175256  0.824744
11            Emily reproached Paul and, as a result,  0.208187  0.791813

In [447]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_15f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_15f,'he'))

P('subj-pron'|subj=female) =  0.21717095002532005
P('non-subj-pron'|subj=female) =  0.7828290263811747

In [448]:
c2_average_subj_female_subj_pron['reproached'] = compute_average(IC2_connective2_15f,'she')
c2_average_subj_female_obj_pron['reproached'] = compute_average(IC2_connective2_15f,'he')

#### male subject

In [449]:
IC2_connective2_15m

                                             stimulus        he       she
12  Mr. Smith reproached Miss Smith and, as a result,  0.234784  0.765216
13     The man reproached the woman and, as a result,  0.226793  0.773207
14             John reproached Mary and, as a result,  0.145148  0.854852
15             Bob reproached Alice and, as a result,  0.132953  0.867047
16  The actor reproached the actress and, as a res...  0.243866  0.756134
17      The boy reproached the girl and, as a result,  0.210600  0.789400
18  Mr. William reproached Mrs. Taylor and, as a r...  0.277880  0.722120
19            David reproached Emma and, as a result,  0.182792  0.817208
20  The prince reproached the princess and, as a r...  0.143879  0.856121
21          Robert reproached Sarah and, as a result,  0.211768  0.788232
22  Mr. Taylor reproached Mrs. Williams and, as a ...  0.270532  0.729468
23            Paul reproached Emily and, as a result,  0.111288  0.888712

In [450]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_15m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_15m,'she'))

P('subj-pron'|subj=male) =  0.199356850857536
P('non-subj-pron'|subj=male) =  0.8006431460380554

In [451]:
c2_average_subj_male_subj_pron['reproached'] = compute_average(IC2_connective2_15m,'he')
c2_average_subj_male_obj_pron['reproached'] = compute_average(IC2_connective2_15m,'she')

### verb: "scolded"

In [452]:
IC2_connective2_16 = pd.read_csv("../results/gpt2/IC2/connective2/16.csv")
IC2_connective2_16.head()

                                          stimulus        he       she
0   Miss Smith scolded Mr. Smith and, as a result,  0.870335  0.129665
1      The woman scolded the man and, as a result,  0.801533  0.198467
2              Mary scolded John and, as a result,  0.813347  0.186653
3              Alice scolded Bob and, as a result,  0.612226  0.387774
4  The actress scolded the actor and, as a result,  0.748282  0.251718

In [453]:
# female subject
IC2_connective2_16f = IC2_connective2_16[0:12]
IC2_connective2_16f = IC2_connective2_16f[["stimulus","she","he"]]
# male subject
IC2_connective2_16m = IC2_connective2_16[12:24]

#### female subject

In [454]:
IC2_connective2_16f

                                             stimulus       she        he
0      Miss Smith scolded Mr. Smith and, as a result,  0.129665  0.870335
1         The woman scolded the man and, as a result,  0.198467  0.801533
2                 Mary scolded John and, as a result,  0.186653  0.813347
3                 Alice scolded Bob and, as a result,  0.387774  0.612226
4     The actress scolded the actor and, as a result,  0.251718  0.748282
5          The girl scolded the boy and, as a result,  0.251537  0.748463
6   Mrs. Taylor scolded Mr. Williams and, as a res...  0.157945  0.842055
7                Emma scolded David and, as a result,  0.241180  0.758820
8   The princess scolded the prince and, as a result,  0.351069  0.648931
9              Sarah scolded Robert and, as a result,  0.227362  0.772638
10  Mrs. Williams scolded Mr. Taylor and, as a res...  0.188219  0.811781
11               Emily scolded Paul and, as a result,  0.231451  0.768549

In [455]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_16f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_16f,'he'))

P('subj-pron'|subj=female) =  0.233586755891641
P('non-subj-pron'|subj=female) =  0.7664132714271545

In [456]:
c2_average_subj_female_subj_pron['scolded'] = compute_average(IC2_connective2_16f,'she')
c2_average_subj_female_obj_pron['scolded'] = compute_average(IC2_connective2_16f,'he')

#### male subject

In [457]:
IC2_connective2_16m

                                             stimulus        he       she
12     Mr. Smith scolded Miss Smith and, as a result,  0.214949  0.785051
13        The man scolded the woman and, as a result,  0.196485  0.803515
14                John scolded Mary and, as a result,  0.222943  0.777057
15                Bob scolded Alice and, as a result,  0.118939  0.881061
16    The actor scolded the actress and, as a result,  0.195489  0.804511
17         The boy scolded the girl and, as a result,  0.221313  0.778687
18  Mr. William scolded Mrs. Taylor and, as a result,  0.245275  0.754725
19               David scolded Emma and, as a result,  0.193580  0.806420
20  The prince scolded the princess and, as a result,  0.222540  0.777460
21             Robert scolded Sarah and, as a result,  0.228793  0.771207
22  Mr. Taylor scolded Mrs. Williams and, as a res...  0.233975  0.766025
23               Paul scolded Emily and, as a result,  0.145142  0.854858

In [458]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_16m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_16m,'she'))

P('subj-pron'|subj=male) =  0.20328538368145624
P('non-subj-pron'|subj=male) =  0.7967146039009094

In [459]:
c2_average_subj_male_subj_pron['scolded'] = compute_average(IC2_connective2_16m,'he')
c2_average_subj_male_obj_pron['scolded'] = compute_average(IC2_connective2_16m,'she')

### verb: "stared"

In [460]:
IC2_connective2_17 = pd.read_csv("../results/gpt2/IC2/connective2/17.csv")
IC2_connective2_17.head()

                                            stimulus        he       she
0   Miss Smith stared at Mr. Smith and, as a result,  0.553320  0.446680
1      The woman stared at the man and, as a result,  0.448889  0.551111
2              Mary stared at John and, as a result,  0.423926  0.576074
3              Alice stared at Bob and, as a result,  0.229668  0.770332
4  The actress stared at the actor and, as a result,  0.448243  0.551757

In [461]:
# female subject
IC2_connective2_17f = IC2_connective2_17[0:12]
IC2_connective2_17f = IC2_connective2_17f[["stimulus","she","he"]]
# male subject
IC2_connective2_17m = IC2_connective2_17[12:24]

#### female subject

In [462]:
IC2_connective2_17f

                                             stimulus       she        he
0    Miss Smith stared at Mr. Smith and, as a result,  0.446680  0.553320
1       The woman stared at the man and, as a result,  0.551111  0.448889
2               Mary stared at John and, as a result,  0.576074  0.423926
3               Alice stared at Bob and, as a result,  0.770332  0.229668
4   The actress stared at the actor and, as a result,  0.551757  0.448243
5        The girl stared at the boy and, as a result,  0.601193  0.398807
6   Mrs. Taylor stared at Mr. Williams and, as a r...  0.439562  0.560438
7              Emma stared at David and, as a result,  0.609008  0.390992
8   The princess stared at the prince and, as a re...  0.806168  0.193832
9            Sarah stared at Robert and, as a result,  0.642871  0.357129
10  Mrs. Williams stared at Mr. Taylor and, as a r...  0.460909  0.539091
11             Emily stared at Paul and, as a result,  0.650240  0.349760

In [463]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_17f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_17f,'he'))

P('subj-pron'|subj=female) =  0.5921588788429896
P('non-subj-pron'|subj=female) =  0.40784111867348355

In [464]:
c2_average_subj_female_subj_pron['stared'] = compute_average(IC2_connective2_17f,'she')
c2_average_subj_female_obj_pron['stared'] = compute_average(IC2_connective2_17f,'he')

#### male subject

In [465]:
IC2_connective2_17m

                                             stimulus        he       she
12   Mr. Smith stared at Miss Smith and, as a result,  0.448939  0.551061
13      The man stared at the woman and, as a result,  0.366288  0.633712
14              John stared at Mary and, as a result,  0.460768  0.539232
15              Bob stared at Alice and, as a result,  0.300037  0.699962
16  The actor stared at the actress and, as a result,  0.401753  0.598247
17       The boy stared at the girl and, as a result,  0.375544  0.624456
18  Mr. William stared at Mrs. Taylor and, as a re...  0.470266  0.529734
19             David stared at Emma and, as a result,  0.341147  0.658853
20  The prince stared at the princess and, as a re...  0.483336  0.516664
21           Robert stared at Sarah and, as a result,  0.336662  0.663338
22  Mr. Taylor stared at Mrs. Williams and, as a r...  0.402857  0.597143
23             Paul stared at Emily and, as a result,  0.268682  0.731318

In [466]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_17m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_17m,'she'))

P('subj-pron'|subj=male) =  0.3880232771237691
P('non-subj-pron'|subj=male) =  0.6119767129421234

In [467]:
c2_average_subj_male_subj_pron['stared'] = compute_average(IC2_connective2_17m,'he')
c2_average_subj_male_obj_pron['stared'] = compute_average(IC2_connective2_17m,'she')

### verb: "thanked"

In [468]:
IC2_connective2_18 = pd.read_csv("../results/gpt2/IC2/connective2/18.csv")
IC2_connective2_18.head()

                                          stimulus        he       she
0   Miss Smith thanked Mr. Smith and, as a result,  0.675728  0.324272
1      The woman thanked the man and, as a result,  0.715691  0.284309
2              Mary thanked John and, as a result,  0.637344  0.362656
3              Alice thanked Bob and, as a result,  0.469309  0.530691
4  The actress thanked the actor and, as a result,  0.517491  0.482509

In [469]:
# female subject
IC2_connective2_18f = IC2_connective2_18[0:12]
IC2_connective2_18f = IC2_connective2_18f[["stimulus","she","he"]]
# male subject
IC2_connective2_18m = IC2_connective2_18[12:24]

#### female subject

In [470]:
IC2_connective2_18f

                                             stimulus       she        he
0      Miss Smith thanked Mr. Smith and, as a result,  0.324272  0.675728
1         The woman thanked the man and, as a result,  0.284309  0.715691
2                 Mary thanked John and, as a result,  0.362656  0.637344
3                 Alice thanked Bob and, as a result,  0.530691  0.469309
4     The actress thanked the actor and, as a result,  0.482509  0.517491
5          The girl thanked the boy and, as a result,  0.328926  0.671074
6   Mrs. Taylor thanked Mr. Williams and, as a res...  0.312486  0.687514
7                Emma thanked David and, as a result,  0.346813  0.653187
8   The princess thanked the prince and, as a result,  0.524679  0.475321
9              Sarah thanked Robert and, as a result,  0.360529  0.639471
10  Mrs. Williams thanked Mr. Taylor and, as a res...  0.333143  0.666857
11               Emily thanked Paul and, as a result,  0.403826  0.596174

In [471]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_18f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_18f,'he'))

P('subj-pron'|subj=female) =  0.3829033076763153
P('non-subj-pron'|subj=female) =  0.6170967022577921

In [472]:
c2_average_subj_female_subj_pron['thanked'] = compute_average(IC2_connective2_18f,'she')
c2_average_subj_female_obj_pron['thanked'] = compute_average(IC2_connective2_18f,'he')

#### male subject

In [473]:
IC2_connective2_18m

                                             stimulus        he       she
12     Mr. Smith thanked Miss Smith and, as a result,  0.409955  0.590045
13        The man thanked the woman and, as a result,  0.304502  0.695498
14                John thanked Mary and, as a result,  0.393977  0.606023
15                Bob thanked Alice and, as a result,  0.272922  0.727078
16    The actor thanked the actress and, as a result,  0.338211  0.661789
17         The boy thanked the girl and, as a result,  0.319014  0.680986
18  Mr. William thanked Mrs. Taylor and, as a result,  0.474131  0.525869
19               David thanked Emma and, as a result,  0.319456  0.680544
20  The prince thanked the princess and, as a result,  0.303888  0.696112
21             Robert thanked Sarah and, as a result,  0.369989  0.630011
22  Mr. Taylor thanked Mrs. Williams and, as a res...  0.437957  0.562043
23               Paul thanked Emily and, as a result,  0.252537  0.747463

In [474]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_18m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_18m,'she'))

P('subj-pron'|subj=male) =  0.34971147030591965
P('non-subj-pron'|subj=male) =  0.6502885321776072

In [475]:
c2_average_subj_male_subj_pron['thanked'] = compute_average(IC2_connective2_18m,'he')
c2_average_subj_male_obj_pron['thanked'] = compute_average(IC2_connective2_18m,'she')

### verb: "trusts"

In [476]:
IC2_connective2_19 = pd.read_csv("../results/gpt2/IC2/connective2/19.csv")
IC2_connective2_19.head()

                                         stimulus        he       she
0   Miss Smith trusts Mr. Smith and, as a result,  0.449162  0.550838
1      The woman trusts the man and, as a result,  0.374479  0.625521
2              Mary trusts John and, as a result,  0.412379  0.587621
3              Alice trusts Bob and, as a result,  0.331338  0.668662
4  The actress trusts the actor and, as a result,  0.264249  0.735751

In [477]:
# female subject
IC2_connective2_19f = IC2_connective2_19[0:12]
IC2_connective2_19f = IC2_connective2_19f[["stimulus","she","he"]]
# male subject
IC2_connective2_19m = IC2_connective2_19[12:24]

#### female subject

In [478]:
IC2_connective2_19f

                                             stimulus       she        he
0       Miss Smith trusts Mr. Smith and, as a result,  0.550838  0.449162
1          The woman trusts the man and, as a result,  0.625521  0.374479
2                  Mary trusts John and, as a result,  0.587621  0.412379
3                  Alice trusts Bob and, as a result,  0.668662  0.331338
4      The actress trusts the actor and, as a result,  0.735751  0.264249
5           The girl trusts the boy and, as a result,  0.539683  0.460317
6   Mrs. Taylor trusts Mr. Williams and, as a result,  0.505084  0.494916
7                 Emma trusts David and, as a result,  0.591720  0.408280
8    The princess trusts the prince and, as a result,  0.541133  0.458867
9               Sarah trusts Robert and, as a result,  0.578753  0.421247
10  Mrs. Williams trusts Mr. Taylor and, as a result,  0.547179  0.452821
11                Emily trusts Paul and, as a result,  0.655188  0.344812

In [479]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_19f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_19f,'he'))

P('subj-pron'|subj=female) =  0.5939278701941172
P('non-subj-pron'|subj=female) =  0.4060721422235171

In [480]:
c2_average_subj_female_subj_pron['trusts'] = compute_average(IC2_connective2_19f,'she')
c2_average_subj_female_obj_pron['trusts'] = compute_average(IC2_connective2_19f,'he')

#### male subject

In [481]:
IC2_connective2_19m

                                             stimulus        he       she
12      Mr. Smith trusts Miss Smith and, as a result,  0.630082  0.369918
13         The man trusts the woman and, as a result,  0.538624  0.461376
14                 John trusts Mary and, as a result,  0.579644  0.420356
15                 Bob trusts Alice and, as a result,  0.549133  0.450867
16     The actor trusts the actress and, as a result,  0.597070  0.402930
17          The boy trusts the girl and, as a result,  0.545385  0.454615
18   Mr. William trusts Mrs. Taylor and, as a result,  0.682287  0.317713
19                David trusts Emma and, as a result,  0.474375  0.525625
20   The prince trusts the princess and, as a result,  0.497736  0.502264
21              Robert trusts Sarah and, as a result,  0.487937  0.512063
22  Mr. Taylor trusts Mrs. Williams and, as a result,  0.674110  0.325890
23                Paul trusts Emily and, as a result,  0.389589  0.610411

In [482]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_19m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_19m,'she'))

P('subj-pron'|subj=male) =  0.553830973803997
P('non-subj-pron'|subj=male) =  0.44616903364658356

In [483]:
c2_average_subj_male_subj_pron['trusts'] = compute_average(IC2_connective2_19m,'he')
c2_average_subj_male_obj_pron['trusts'] = compute_average(IC2_connective2_19m,'she')

### verb: "values"

In [484]:
IC2_connective2_20 = pd.read_csv("../results/gpt2/IC2/connective2/20.csv")
IC2_connective2_20.head()

                                         stimulus        he       she
0   Miss Smith values Mr. Smith and, as a result,  0.307145  0.692855
1      The woman values the man and, as a result,  0.202514  0.797486
2              Mary values John and, as a result,  0.177279  0.822721
3              Alice values Bob and, as a result,  0.275418  0.724582
4  The actress values the actor and, as a result,  0.129562  0.870438

In [485]:
# female subject
IC2_connective2_20f = IC2_connective2_20[0:12]
IC2_connective2_20f = IC2_connective2_20f[["stimulus","she","he"]]
# male subject
IC2_connective2_20m = IC2_connective2_20[12:24]

#### female subject

In [486]:
IC2_connective2_20f

                                             stimulus       she        he
0       Miss Smith values Mr. Smith and, as a result,  0.692855  0.307145
1          The woman values the man and, as a result,  0.797486  0.202514
2                  Mary values John and, as a result,  0.822721  0.177279
3                  Alice values Bob and, as a result,  0.724582  0.275418
4      The actress values the actor and, as a result,  0.870438  0.129562
5           The girl values the boy and, as a result,  0.784136  0.215864
6   Mrs. Taylor values Mr. Williams and, as a result,  0.652602  0.347398
7                 Emma values David and, as a result,  0.799480  0.200520
8    The princess values the prince and, as a result,  0.770355  0.229645
9               Sarah values Robert and, as a result,  0.802212  0.197788
10  Mrs. Williams values Mr. Taylor and, as a result,  0.691746  0.308254
11                Emily values Paul and, as a result,  0.840414  0.159586

In [487]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_20f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_20f,'he'))

P('subj-pron'|subj=female) =  0.7707522759834925
P('non-subj-pron'|subj=female) =  0.22924774512648582

In [488]:
c2_average_subj_female_subj_pron['values'] = compute_average(IC2_connective2_20f,'she')
c2_average_subj_female_obj_pron['values'] = compute_average(IC2_connective2_20f,'he')

#### male subject

In [489]:
IC2_connective2_20m

                                             stimulus        he       she
12      Mr. Smith values Miss Smith and, as a result,  0.703268  0.296732
13         The man values the woman and, as a result,  0.756981  0.243019
14                 John values Mary and, as a result,  0.777795  0.222205
15                 Bob values Alice and, as a result,  0.682216  0.317784
16     The actor values the actress and, as a result,  0.781303  0.218697
17          The boy values the girl and, as a result,  0.758417  0.241583
18   Mr. William values Mrs. Taylor and, as a result,  0.802222  0.197778
19                David values Emma and, as a result,  0.628805  0.371195
20   The prince values the princess and, as a result,  0.801886  0.198114
21              Robert values Sarah and, as a result,  0.658106  0.341894
22  Mr. Taylor values Mrs. Williams and, as a result,  0.774741  0.225259
23                Paul values Emily and, as a result,  0.534966  0.465034

In [490]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_20m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_20m,'she'))

P('subj-pron'|subj=male) =  0.721725528438886
P('non-subj-pron'|subj=male) =  0.2782744827369849

In [491]:
c2_average_subj_male_subj_pron['values'] = compute_average(IC2_connective2_20m,'he')
c2_average_subj_male_obj_pron['values'] = compute_average(IC2_connective2_20m,'she')

## Summary of Results

In [492]:
c2_results_fsubj_subjpron = pd.DataFrame(list(c2_average_subj_female_subj_pron.items()),columns=['verb','subj_ref_female_subj'])
c2_results_fsubj_objpron = pd.DataFrame(list(c2_average_subj_female_obj_pron.items()),columns=['verb','obj_ref_female_subj'])
c2_results_fsubj = c2_results_fsubj_subjpron.merge(c2_results_fsubj_objpron)
c2_results_fsubj

             verb  subj_ref_female_subj  obj_ref_female_subj
0        assisted              0.568501             0.431499
1          blames              0.622579             0.377421
2       comforted              0.299986             0.700014
3   congratulated              0.305378             0.694622
4       corrected              0.522515             0.477485
5         detests              0.503461             0.496539
6           fears              0.738342             0.261658
7          envies              0.736439             0.263561
8           hates              0.682045             0.317955
9          helped              0.450346             0.549654
10         mocked              0.263777             0.736223
11        noticed              0.689288             0.310712
12       pacified              0.351173             0.648827
13        praised              0.429175             0.570825
14     reproached              0.217171             0.782829
15        scolded              0.233587             0.766413
16         stared              0.592159             0.407841
17        thanked              0.382903             0.617097
18         trusts              0.593928             0.406072
19         values              0.770752             0.229248

In [493]:
c2_results_msubj_subjpron = pd.DataFrame(list(c2_average_subj_male_subj_pron.items()),columns=['verb','subj_ref_male_subj'])
c2_results_msubj_objpron = pd.DataFrame(list(c2_average_subj_male_obj_pron.items()),columns=['verb','obj_ref_male_subj'])
c2_results_msubj = c2_results_msubj_subjpron.merge(c2_results_msubj_objpron)
c2_results_msubj

             verb  subj_ref_male_subj  obj_ref_male_subj
0        assisted            0.437421           0.562579
1          blames            0.518226           0.481774
2       comforted            0.267738           0.732262
3   congratulated            0.266177           0.733823
4       corrected            0.312091           0.687909
5         detests            0.670440           0.329560
6           fears            0.719995           0.280005
7          envies            0.697169           0.302831
8           hates            0.679352           0.320648
9          helped            0.383006           0.616994
10         mocked            0.213822           0.786178
11        noticed            0.585340           0.414660
12       pacified            0.540889           0.459111
13        praised            0.399084           0.600916
14     reproached            0.199357           0.800643
15        scolded            0.203285           0.796715
16         stared            0.388023           0.611977
17        thanked            0.349711           0.650289
18         trusts            0.553831           0.446169
19         values            0.721726           0.278274

In [494]:
c2_results = c2_results_fsubj.merge(c2_results_msubj)
c2_results

,verb,subj_ref_female_subj,obj_ref_female_subj,subj_ref_male_subj,obj_ref_male_subj
0,assisted,0.568501,0.431499,0.437421,0.562579
1,blames,0.622579,0.377421,0.518226,0.481774
2,comforted,0.299986,0.700014,0.267738,0.732262
3,congratulated,0.305378,0.694622,0.266177,0.733823
4,corrected,0.522515,0.477485,0.312091,0.687909
5,detests,0.503461,0.496539,0.670440,0.329560
6,fears,0.738342,0.261658,0.719995,0.280005
7,envies,0.736439,0.263561,0.697169,0.302831
8,hates,0.682045,0.317955,0.679352,0.320648
9,helped,0.450346,0.549654,0.383006,0.616994
10,mocked,0.263777,0.736223,0.213822,0.786178
11,noticed,0.689288,0.310712,0.585340,0.414660
12,pacified,0.351173,0.648827,0.540889,0.459111
13,praised,0.429175,0.570825,0.399084,0.600916
14,reproached,0.217171,0.782829,0.199357,0.800643
15,scolded,0.233587,0.766413,0.203285,0.796715
16,stared,0.592159,0.407841,0.388023,0.611977
17,thanked,0.382903,0.617097,0.349711,0.650289
18,trusts,0.593928,0.406072,0.553831,0.446169
19,values,0.770752,0.229248,0.721726,0.278274

In [495]:
print("P(subj_reference |subj=female)", compute_average(c2_results,'subj_ref_female_subj'))
print("P(obj_reference |subj=female)", compute_average(c2_results,'obj_ref_female_subj'))

P(subj_reference |subj=female) 0.4976753097958862
P(obj_reference |subj=female) 0.5023246961645781

In [496]:
print("P(subj_reference |subj=male)", compute_average(c2_results,'subj_ref_male_subj'))
print("P(obj_reference |subj=male)", compute_average(c2_results,'obj_ref_male_subj'))

P(subj_reference |subj=male) 0.45533417304977775
P(obj_reference |subj=male) 0.5446658292164404

In [497]:
# save results to csv
col_headers = ['verb','subj_ref_female_subj','obj_ref_female_subj','subj_ref_male_subj','obj_ref_male_subj']
np_results.to_csv("../results/gpt2/summary/IC2-noprompt.csv",index=False,header=col_headers)
c1_results.to_csv("../results/gpt2/summary/IC2-connective1.csv",index=False,header=col_headers)
c2_results.to_csv("../results/gpt2/summary/IC2-connective2.csv",index=False,header=col_headers)